@model MWMS2.Areas.Registration.Models.PoolingDetailsModel
<div id="SearchTable">
    Company with same Pooling Ref. No.
    <br />Pooling Ref No. : @Html.DisplayFor(o => o.m_PoolingRefNo)
    @Html.HiddenFor(o => o.m_PoolingRefNo)
    @*<br />Pooling Ref No. :*@
    <br /> @Html.HiddenFor(o => o.RegType)
</div>
<div id="ResultPanel"></div>
<script>

    domReady(function () {
        applicantTableObject = new searcher({
            searchPath: "PoolingSearch"
            , searchTable: "SearchTable"
            , resultPanel: "ResultPanel"
            , Footer: false
            , Columns: [
                  { columnName: "V1", displayName: "File Reference No." }
                , { columnName: "V2", displayName: "Company Name      " }
                , { columnName: "V3", displayName: "Company Name (Chn)" }
                , { columnName: "V4", displayName: "Status            " }
                , { columnName: "V5", displayName: "Expiry Date        "}
                //      { columnName: "V01" , displayName: "Latest Modified Date  " }
                //    , { columnName: "V02" , displayName: "Application Date      " }
                //    , { columnName: "V03" , displayName: "Form Type             " }
                //    , { columnName: "V04" , displayName: "Br No.                " }
                //    , { columnName: "V05" , displayName: "Company Name (English)" }
                //    , { columnName: "V06" , displayName: "Company Name (Chinese)" }
                //    , { columnName: "V07" , displayName: "Address (Eng)         " }
                //    , { columnName: "V08" , displayName: "Address (Chi)         " }
                //    , { columnName: "V09" , displayName: "Company Type          " }
                //    , { columnName: "V10" , displayName: "Applicant Name        " }
                //    , { columnName: "V11" , displayName: "Tel No.1              " }
                //    , { columnName: "V12" , displayName: "Tel No.2              " }
                //    , { columnName: "V13" , displayName: "Tel No.3              " }
                //    , { columnName: "V14" , displayName: "Fax No. 1             " }
                //    , { columnName: "V15" , displayName: "Fax No. 2             " }
                //    , { columnName: "V16" , displayName: "Email                 " }
            ]
        }).search();
    });

</script>



