@model MWMS2.Areas.Registration.Models.CompDisplayModel

<br />
@if (MWMS2.Utility.AuthUtil.CanCreate)
{<button id="newApplicantButton" type="button"><i class="far fa-plus-square"></i>New Applicant</button>}
<div id="ApplicantTable"></div>