<table id="Table2" style="BORDER-BOTTOM: #dedfde 1px solid" width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody><tr>
			<td valign="top">
				<!-- InstanceBeginEditable name="content" -->
			
				<h3>
					Scan Document
				</h3>

				<br>
				
				
			

                                                    <table class="inputTable">

                                                        <tboSdy>
                                                            <tr>
                                                                <td class="fLabel" width="45%">Submission No.:</td>
                                                                <td class="fField">
                                                                    0092/12-C1
                                                                </td>


                                                            </tr>
                                                        </tboSdy>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="btnSet btnSetTypeA">
                                        <div class="right">
                                            &nbsp;
                                                     </div>
                                    </div>
                
                                    <table class="inputTable"><tfoot><tr><td>
    <input class="inputButton" id="btnCreate" name="btnCreate" value="Create DSN" onclick="create()" type="button">&nbsp;

</td></tr></tfoot></table>
				<br>


				<div class="sList">
                    <table id="SMM0103aTable" class="resultTable">
                        <thead>
                            <tr>
                                <th class="sTh"></th>
                                <th class="sTh">
                                    <a class="columnHead" sort="dsnNumber" href="javascript:setSort('dsnNumber', '', '')">DSN Number</a>

                                </th>
                                <th class="sTh">
                                    <a class="columnHead" sort="createdDate" href="javascript:setSort('createdDate', '', '')">Created Date</a>
                                </th>

                                <th class="sTh">
                                    <a class="columnHead" sort="scanDate" href="javascript:setSort('scanDate', '', '')">Scan Date</a>
                                </th>
                                <th class="sTh">
                                    <a class="columnHead" sort="documentType" href="javascript:setSort('documentType', '', '')">Document Type</a>
                                </th>
                                <th class="sTh">
                                    <a class="columnHead" sort="folderType" href="javascript:setSort('folderType', '', '')">Folder Type</a>
                                </th>
                                <th class="sTh">
                                    Description
                                </th>
                                <th class="sTh">
                                    View Image
                                </th>
                                <th class="sTh">
                                    As Thumbnail
                                </th>
                                <th class="sTh">
                                    Print
                                </th>

                            </tr>
                            </thead>
                        <tbody>
                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134b7cb00ef')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001271
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">

                                    Yes


                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001271')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134b9fc00f0')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001272
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134b9fc00f0')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001272')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134b52c00ee')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001270
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134b52c00ee')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001270')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134a0a300ec')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001268
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134a0a300ec')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001268')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134a2e400ed')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001269
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134a2e400ed')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001269')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1349e5200eb')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001267
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1349e5200eb')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001267')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134822b00e3')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001262
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134822b00e3')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001262')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134841e00e4')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001263
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134841e00e4')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001263')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1347cce00dd')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001258
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1347cce00dd')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001258')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134805700e2')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001261
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134805700e2')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001261')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1347a4e00da')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001256
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1347a4e00da')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001256')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134716900c5')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001244
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134716900c5')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001244')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e13472c000ca')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001247
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e13472c000ca')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001247')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134742700cb')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001248
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134742700cb')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001248')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134703100c4')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001243
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134703100c4')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001243')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1345513009d')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001206
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1345513009d')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001206')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1342f0c008d')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001190
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1342f0c008d')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001190')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1343063008e')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001191
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1343063008e')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001191')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134315d008f')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001192
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134315d008f')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001192')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e13432660090')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001193
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e13432660090')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001193')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1342af7008c')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001189
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1342af7008c')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001189')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1342933008b')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001188
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1342933008b')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001188')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134231b008a')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001187
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134231b008a')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001187')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e13420e90088')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001185
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e13420e90088')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001185')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e13421f20089')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001186
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e13421f20089')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001186')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1341b1f0086')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001183
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1341b1f0086')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001183')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1341e890087')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001184
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1341e890087')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001184')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e13417290085')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001182
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e13417290085')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001182')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e13415450082')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001179
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e13415450082')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001179')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134162f0083')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001180
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134162f0083')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001180')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e13416db0084')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001181
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e13416db0084')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001181')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1340f6c0080')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001177
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1340f6c0080')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001177')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1340c31007e')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001175
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1340c31007e')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001175')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1340d2b007f')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001176
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1340d2b007f')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001176')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1340a6d007c')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001173
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1340a6d007c')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001173')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1340b28007d')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001174
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1340b28007d')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001174')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e13403990077')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001168
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e13403990077')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001168')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e13404a30078')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001169
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e13404a30078')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001169')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134055e0079')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001170
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134055e0079')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001170')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e134059c007a')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001171
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e134059c007a')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001171')" type="button">
                                </td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">

                                    <input class="inputButton" value="Delete" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="deleteScanDetail('8a85bda643e1066f0143e1340609007b')" type="button">


                                </td>
                                <td class="sCell">
                                    D0000001172
                                </td>
                                <td class="sCell">
                                    30/01/2014
                                </td>

                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;	</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;

                                </td>
                                <td class="sCell" style="text-align:center">


                                    <input class="inputButton" value="Set" id="btnSetAsThumbnail" name="btnSetAsThumbnail" onclick="setAsThumbnail('8a85bda643e1066f0143e1340609007b')" type="button">

                                </td>

                                <td class="sCell">
                                    <input class="inputButton" value="Print" id="btnDeleteScanDetail" name="btnDeleteScanDetail" onclick="printNumber('0092/12-C1', 'D0000001172')" type="button">
                                </td>

                            </tr>

                        </tbody>
                    </table>
				</div>
						
			
				


				<br>
				
				<div class="btnSet btnSetTypeA">
					<div class="right">&nbsp; 							 
						</div>
				</div>
				<!-- InstanceEndEditable -->


                <table class="inputTable">
                    <tfoot>
                        <tr>

                            <td>
                                <input class="inputButton" id="btnRefresh" name="btnRefresh" value="Refresh" onclick="loadContentPage('SMM0103a')" type="button">&nbsp;
                                <input class="inputButton" id="btnBack" name="btnBack" value="Back"          onclick="loadContentPage('SMM0103')" type="button">

                            </td>
                        </tr>
                    </tfoot>
                </table>


