
	<table class="inputTable">
		<thead>
		<tr>
		<th colspan="2">Search Document</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<th>Submission/Order/DSRN/New Item/Report To SCU No. :</th>
				<td>
					<input name="searchFileRefNo" value="" onkeydown="stop();" id="searchFileRefNo" style="width: 200px;" class="inputTextUpper" type="text">
				</td>


			</tr>
		</tbody>
		<tfoot><tr><td colspan="2">
		<input class="inputButton" id="btnSearch" name="btnSearch" value="Search"  onclick="searchSMM()" type="submit"/>
		</td></tr></tfoot>
	</table>
						


                        <table class="resultTable hide" id="SMMHideDiv" >
                            <thead>
                                <tr>
                                    <th class="sTh">
                                        <a class="columnHead" sort="reference_no" href="javascript:setSort('reference_no', '', '')">Signboard/S24/GC/Report To SCU No.</a>

                                    </th>
                                   

                                </tr>
                                </thead>
                            <tbody>
                                <tr class="sRow1">
                                    <td class="sCell">
                                        <a href='javascript:loadContentPage("SMM0103a")'>0092/12-C1</a>
                                    </td>
                                    <!--
            <td class="sCell"></td>
            <td class="sCell"></td>
            -->
                                </tr>


                                <tr class="sRow2">
                                    <td class="sCell">
                                        <a href='javascript:loadContentPage("SMM0103a")'>0138/12-C1</a>
                                    </td>
                                    <!--
            <td class="sCell"></td>
            <td class="sCell"></td>
            -->
                                </tr>


                                <tr class="sRow1">
                                    <td class="sCell">
                                        <a href='javascript:loadContentPage("SMM0103a")'>1 - KEY PLAN</a>
                                    </td>
                                    <!--
            <td class="sCell"></td>
            <td class="sCell"></td>
            -->
                                </tr>


                                <tr class="sRow2">
                                    <td class="sCell">
                                        <a href='javascript:loadContentPage("SMM0103a")'>A02-0001/13</a>
                                    </td>
                                    <!--
            <td class="sCell"></td>
            <td class="sCell"></td>
            -->
                                </tr>


                                <tr class="sRow1">
                                    <td class="sCell">
                                        <a href='javascript:loadContentPage("SMM0103a")'>A02-0002/13</a>
                                    </td>
                                    <!--
            <td class="sCell"></td>
            <td class="sCell"></td>
            -->
                                </tr>


                                <tr class="sRow2">
                                    <td class="sCell">
                                        <a href='javascript:loadContentPage("SMM0103a")'>A02-0003/13</a>
                                    </td>
                                    <!--
            <td class="sCell"></td>
            <td class="sCell"></td>
            -->
                                </tr>


                                <tr class="sRow1">
                                    <td class="sCell">
                                        <a href='javascript:loadContentPage("SMM0103a")'>A02-0004/13</a>
                                    </td>
                                    <!--
            <td class="sCell"></td>
            <td class="sCell"></td>
            -->
                                </tr>


                                <tr class="sRow2">
                                    <td class="sCell">
                                        <a href='javascript:loadContentPage("SMM0103a")'>A02-0005/13</a>
                                    </td>
                                    <!--
            <td class="sCell"></td>
            <td class="sCell"></td>
            -->
                                </tr>


                                <tr class="sRow1">
                                    <td class="sCell">
                                        <a href='javascript:loadContentPage("SMM0103a")'>A02-0006/13</a>
                                    </td>
                                    <!--
            <td class="sCell"></td>
            <td class="sCell"></td>
            -->
                                </tr>


                                <tr class="sRow2">
                                    <td class="sCell">
                                        <a href='javascript:loadContentPage("SMM0103a")'>A02-0007/13</a>
                                    </td>
                                    <!--
            <td class="sCell"></td>
            <td class="sCell"></td>
            -->
                                </tr>



                            </tbody>
                        </table>








