
				<table class="inputTable">
				<thead>
					<tr>
						<th colspan="2">
							Sticker Number
						</th>
					</tr>
					</thead>
					<tbody>
						<tr>
							<th class="fLabel" >
								Sticker Number :
							</th>
							<td class="fField">
								<input name="printBarCode" value="" style="width:300px" class="inputTextUpper" type="text">
								<input class="inputButton" id="btnprint" name="btnprint" value="Print"  vertical-align: middle" onclick="loadContentPage('SMM0105')" type="button">
								<input id="dummy" style="display:none" type="text">
							</td>
						</tr>
					</tbody>
				</table>