<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="demoData.js"></script>
<script type="text/javascript" src="js/all.min.js"></script>
<script type="text/javascript" src="js/pdfmake.min.js"></script>
<script type="text/javascript" src="js/vfs_fonts.js"></script>
<script type="text/javascript" src="js/datatables.min.js"></script>
<script type="text/javascript" src="js/flatpickr.js"></script>

<link rel="stylesheet" type="text/css" href="css/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="css/all.min.css">
<link rel="stylesheet" type="text/css" href="css/w3.css">
<link rel="stylesheet" type="text/css" href="css/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="css/css.css">
<h3>
    Types of SignBoard
</h3>

<table class="resultTable">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Types of Signboard
            </th>
            <th>
                Description

            </th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>
                1.
            </td>
            <td>
                Shop Front Signboard
            </td>
            <td>
                <a onclick="window.close();">Shop Front signboard attached to the external walls</a>
            </td>
        </tr>
    </tbody>
</table>