
                    <table id="SMM0106Table" class="resultTable">
                        <thead>
                            <tr class="grid-header" style="height:19px;">
                                <th class="sTh">Selected</th>
                                <th class="sTh">
                                    <a class="columnHead" sort="batchNo" href="javascript:setSort('batchNo', '', '')">Batch Number</a>
                                </th>
                                <th class="sTh"><a class="columnHead" sort="signboardNo" href="javascript:setSort('signboardNo', '', '')">Submission No.</a></th>
                                <th class="sTh"><a class="columnHead" sort="formCode" href="javascript:setSort('formCode', '', '')">Form Code</a></th>
                                <th class="sTh"><a class="columnHead" sort="receivedDate" href="javascript:setSort('receivedDate', '', '')">Received Date</a></th>
                                <th class="sTh"><a class="columnHead" sort="validationResult" href="javascript:setSort('validationResult', '', '')">Validation Result</a></th>
                                <th class="sTh"><a class="columnHead" sort="endorsementhate" href="javascript:setSort('endorsementhate', '', '')">Endorsement Date</a></th>
                                <th class="sTh"><a class="columnHead" sort="endorsedBy" href="javascript:setSort('endorsedBy', '', '')">Endorsed By</a></th>
                            </tr>
                            </thead>
                        <tbody>
                            <tr class="sRow1">

                                <td class="sCell">
                                    <input id="SMM0106YesNoBtn" value="No" style="width:80px;" onclick="SMM0101YesNo(this);" type="button">
                                    <input name="selectedList" value="8a85bda64cb02885014dc34fe54a3d23" id="selectedList8a85bda64cb02885014dc34fe54a3d23" style="display : none" class="cb_os" type="checkbox">
                                </td>
                                <td class="sCell">&nbsp; </td>
                                <td class="sCell">SC06-0003/15</td>
                                <td class="sCell">SC02</td>
                                <td class="sCell">05/06/2015</td>
                                <td class="sCell">Accept</td>
                                <td class="sCell">21/07/2015</td>
                                <td class="sCell">admin</td>
                            </tr>

                            <tr class="sRow2">

                                <td class="sCell">
                                    <input id="SMM0106YesNoBtn" value="No" style="width:80px;" onclick="SMM0101YesNo(this);" type="button">
                                    <input name="selectedList" value="8a85bda64cb02885014de14c58f00583" id="selectedList8a85bda64cb02885014de14c58f00583" style="display : none" class="cb_os" type="checkbox">
                                </td>
                                <td class="sCell">&nbsp; </td>
                                <td class="sCell">SC06-0005/15</td>
                                <td class="sCell">SC02</td>
                                <td class="sCell">10/06/2015</td>
                                <td class="sCell">Refuse</td>
                                <td class="sCell">07/09/2015</td>
                                <td class="sCell">admin</td>
                            </tr>

                            <tr class="sRow1">

                                <td class="sCell">
                                    <input id="SMM0106YesNoBtn" value="No" style="width:80px;" onclick="SMM0101YesNo(this);" type="button">
                                    <input name="selectedList" value="8a85bda647d77bc201499d67c7766309" id="selectedList8a85bda647d77bc201499d67c7766309" style="display : none" class="cb_os" type="checkbox">
                                </td>
                                <td class="sCell">&nbsp; </td>
                                <td class="sCell">SC11-0008/14</td>
                                <td class="sCell">SC03</td>
                                <td class="sCell">05/11/2014</td>
                                <td class="sCell">Refuse</td>
                                <td class="sCell">18/06/2015</td>
                                <td class="sCell">admin</td>
                            </tr>

                            <tr class="sRow2">

                                <td class="sCell">
                                    <input id="SMM0106YesNoBtn" value="No" style="width:80px;" onclick="SMM0101YesNo(this);" type="button">
                                    <input name="selectedList" value="8a85bda647d77bc201499d742d18635d" id="selectedList8a85bda647d77bc201499d742d18635d" style="display : none" class="cb_os" type="checkbox">
                                </td>
                                <td class="sCell">&nbsp; </td>
                                <td class="sCell">SC11-0036/14</td>
                                <td class="sCell">SC02</td>
                                <td class="sCell">05/11/2014</td>
                                <td class="sCell">Refuse</td>
                                <td class="sCell">18/06/2015</td>
                                <td class="sCell">admin</td>
                            </tr>

                            <tr class="sRow1">

                                <td class="sCell">
                                    <input id="SMM0106YesNoBtn" value="No" style="width:80px;" onclick="SMM0101YesNo(this);" type="button">
                                    <input name="selectedList" value="8a85bda647d77bc201499d748c766366" id="selectedList8a85bda647d77bc201499d748c766366" style="display : none" class="cb_os" type="checkbox">
                                </td>
                                <td class="sCell">&nbsp; </td>
                                <td class="sCell">SC11-0039/14</td>
                                <td class="sCell">SC03</td>
                                <td class="sCell">05/11/2014</td>
                                <td class="sCell">Refuse</td>
                                <td class="sCell">18/06/2015</td>
                                <td class="sCell">admin</td>
                            </tr>

                            <tr class="sRow2">

                                <td class="sCell">
                                    <input id="SMM0106YesNoBtn" value="No" style="width:80px;" onclick="SMM0101YesNo(this);" type="button">
                                    <input name="selectedList" value="8a85bda64e2f3ba8014e872c44ab7dd8" id="selectedList8a85bda64e2f3ba8014e872c44ab7dd8" style="display : none" class="cb_os" type="checkbox">
                                </td>
                                <td class="sCell">&nbsp; </td>
                                <td class="sCell">SC07-0008/15</td>
                                <td class="sCell">SC01</td>
                                <td class="sCell">10/07/2015</td>
                                <td class="sCell">Refuse</td>
                                <td class="sCell">04/11/2015</td>
                                <td class="sCell">admin</td>
                            </tr>



                        </tbody>
				
                    </table>
                    <table class="inputTable">
                        <tfoot>
                            <tr>
                                <td>

                                    <input class="inputButton" id="" name="" value="Export to xlsx" onclick="exportExcel('SMM0106Table')" type="button">
                                    <input class="inputButton" id="" name="" value="Export for Mail Merge" onclick="exportExcel('SMM0106Table')" type="button">
                                    <input class="inputButton" id="" name="" value="Complete Mail Merge" onclick="loadContentPage('SMM0106')" type="button">
                                </td>
                            </tr>
                        </tfoot>
                    </table>