
<table class="inputTable">


    <thead><tr><th colspan="2">&nbsp;</th></tr></thead>

    <tbody>
        <tr>
            <th>Document from R & D :</th>
            <td>
                <input type="text" class="form-control input-sm" id="in1" value="2" disabled>
            </td>
        </tr>
        <tr>
            <th>
                Submission No. :
            </th>
            <td>
                <input type="text" class="form-control input-sm" id="in2">
                <small id="passwordHelpInline" class="text-muted">(Scan Barcode)</small>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <button onclick="loadContentPage('SMM0101')">Confirm O/S</button>
                <button onclick="loadContentPage('SMM0101')">Confirm Receipt</button>
            </td>
        </tr>
    </tfoot>
</table>









<h5></h5>


<table class="resultTable">
    <thead>
        <tr>
            <th colspan="6">Incoming Document</th>

        </tr>
        <tr>
            <th>Submisson No.</th>
            <th>Form Code</th>
            <th>Date</th>
            <th>Time</th>
            <th>Received</th>
            <th>Outstanding</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SC18000020</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="No"></td>
        </tr>
        <tr>
            <td>SC18000021</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="Yes"></td>
        </tr>
        <tr>
            <td>SC18000030</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="No"></td>
        </tr>
        <tr>
            <td>SC18000132</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="Yes"></td>
        </tr>

        <tr>
            <td>SC18000120</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="No"></td>
        </tr>
        <tr>
            <td>SC18000121</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="Yes"></td>
        </tr>
        <tr>
            <td>SC18000130</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="No"></td>
        </tr>
        <tr>
            <td>SC18000132</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="Yes"></td>
        </tr>
        <tr>
            <td>SC18000020</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="No"></td>
        </tr>
        <tr>
            <td>SC18000021</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="Yes"></td>
        </tr>
        <tr>
            <td>SC18000030</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="No"></td>
        </tr>
        <tr>
            <td>SC18000132</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="Yes"></td>
        </tr>

        <tr>
            <td>SC18000120</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="No"></td>
        </tr>
        <tr>
            <td>SC18000121</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="Yes"></td>
        </tr>
        <tr>
            <td>SC18000130</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="No"></td>
        </tr>
        <tr>
            <td>SC18000132</td>
            <td>SC01</td>
            <td></td>
            <td></td>
            <td>Delivered</td>
            <td><input id="OutStandingbtn" onclick="SMM0101YesNo(this)" type="submit" name="outstanding" value="Yes"></td>
        </tr>
    </tbody>

</table>
<br><br>




