

    <h3>Minor Work Submission</h3>
    <div class="sList">
        <table class="inputTable">
            <tbody>
                <tr>
                    <td class="fLabel" width="200px">Letter Type</td>
                    <td class="fField">
                        <input type="hidden" id="letterType" name="letterType" value="Refusal">

                        <select class="inputSelect" disabled="">
                            <option value="">- Select -</option>
                            <option value="Acknowledgement">Acknowledgement</option>
                            <option value="Conditional">Conditional</option>
                            <option selected="'selected'" value="Refusal">Refusal</option>
                            <option value="Interim Reply">Interim Reply</option>
                            <option value="IO Notification">IO Notification</option>
                            <option value="Reminder">Reminder</option>
                            <option value="Memo">Memo</option>
                            <option value="Email">Email</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="fLabel">Letter Template</td>
                    <td class="fField">
                        <input type="hidden" id="letterTemplate" name="letterTemplate" value="SL-MW02B Certificate on Completion (with PBP)_EN">

                        <select class="inputSelect" onchange="getTemplate()" disabled="">
                            <option value="">- Select -</option>
                            <option value="SL-MW01A Notice Commencement (with PBP)_CN ">SL-MW01A Notice Commencement (with PBP)_CN </option>
                            <option value="SL-MW01B Notice of Commencement (with PBP)_CN">SL-MW01B Notice of Commencement (with PBP)_CN</option>
                            <option value="SL-MW01C Notice of Commencement (with PBP)_EN">SL-MW01C Notice of Commencement (with PBP)_EN</option>
                            <option value="SL-MW01C Notice of Commencement (with PBP)_CN">SL-MW01C Notice of Commencement (with PBP)_CN</option>
                            <option value="SL-MW02A Certificate on Completion (with PBP)_EN">SL-MW02A Certificate on Completion (with PBP)_EN</option>
                            <option value="SL-MW02A Certificate on Completion (with PBP)_CN">SL-MW02A Certificate on Completion (with PBP)_CN</option>
                            <option selected="'selected'" value="SL-MW02B Certificate on Completion (with PBP)_EN">SL-MW02B Certificate on Completion (with PBP)_EN</option>
                            <option value="SL-MW02B Certificate on Completion (with PBP)_CN">SL-MW02B Certificate on Completion (with PBP)_CN</option>
                            <option value="SL-MW02C Certificate on Completion (with PBP)_EN">SL-MW02C Certificate on Completion (with PBP)_EN</option>
                            <option value="SL-MW02C Certificate on Completion (with PBP)_CN">SL-MW02C Certificate on Completion (with PBP)_CN</option>
                            <option value="SL-MW03A Notice of Commencement (without PBP)_EN">SL-MW03A Notice of Commencement (without PBP)_EN</option>
                            <option value="SL-MW03A Notice of Commencement (without PBP)_CN">SL-MW03A Notice of Commencement (without PBP)_CN</option>
                            <option value="SL-MW03B Notice of Commencement (without PBP)_EN">SL-MW03B Notice of Commencement (without PBP)_EN</option>
                            <option value="SL-MW03C Notice of Commencement (without PBP)_EN">SL-MW03C Notice of Commencement (without PBP)_EN</option>
                            <option value="SL-MW03C Notice of Commencement (without PBP)_CN">SL-MW03C Notice of Commencement (without PBP)_CN</option>
                            <option value="SL-MW04A Certificate on Completion (without PBP)_EN">SL-MW04A Certificate on Completion (without PBP)_EN</option>
                            <option value="SL-MW04A Certificate on Completion (without PBP)_CN">SL-MW04A Certificate on Completion (without PBP)_CN</option>
                            <option value="SL-MW04B Certificate on Completion (without PBP)_EN">SL-MW04B Certificate on Completion (without PBP)_EN</option>
                            <option value="SL-MW04B Certificate on Completion (without PBP)_CN">SL-MW04B Certificate on Completion (without PBP)_CN</option>
                            <option value="SL-MW04C Certificate on Completion (without PBP)_EN">SL-MW04C Certificate on Completion (without PBP)_EN</option>
                            <option value="SL-MW04C Certificate on Completion (without PBP)_CN">SL-MW04C Certificate on Completion (without PBP)_CN</option>
                            <option value="SL-MW05A Notice of Completion of Class III Minor Works_EN">SL-MW05A Notice of Completion of Class III Minor Works_EN</option>
                            <option value="SL-MW05A Notice of Completion of Class III Minor Works_CN">SL-MW05A Notice of Completion of Class III Minor Works_CN</option>
                            <option value="SL-MW05B Notice of Completion of Class III Minor Works_EN">SL-MW05B Notice of Completion of Class III Minor Works_EN</option>
                            <option value="SL-MW05B Notice of Completion of Class III Minor Works_CN">SL-MW05B Notice of Completion of Class III Minor Works_CN</option>
                            <option value="SL-MW05C Notice of Completion of Class III Minor Workson (with PBP)_EN">SL-MW05C Notice of Completion of Class III Minor Workson (with PBP)_EN</option>
                            <option value="SL-MW05C Notice of Completion of Class III Minor Workson (with PBP)_CN">SL-MW05C Notice of Completion of Class III Minor Workson (with PBP)_CN</option>
                            <option value="SL-MW06A Notice of Validation for Household Minor Works_EN">SL-MW06A Notice of Validation for Household Minor Works_EN</option>
                            <option value="SL-MW06A Notice of Validation for Household Minor Works_CN">SL-MW06A Notice of Validation for Household Minor Works_CN</option>
                            <option value="SL-MW06B Notice of Validation for Household Minor Works_EN">SL-MW06B Notice of Validation for Household Minor Works_EN</option>
                            <option value="SL-MW06B Notice of Validation for Household Minor Works_CN">SL-MW06B Notice of Validation for Household Minor Works_CN</option>
                            <option value="SL-MW07A Notice of Change in Appointment of PBP(other than AP) or PRC_EN">SL-MW07A Notice of Change in Appointment of PBP(other than AP) or PRC_EN</option>
                            <option value="SL-MW07A Notice of Change in Appointment of PBP(other than AP) or PRC_CN">SL-MW07A Notice of Change in Appointment of PBP(other than AP) or PRC_CN</option>
                            <option value="SL-MW07B Notice of Change in Appointment of PBP(other than AP) or PRC_EN">SL-MW07B Notice of Change in Appointment of PBP(other than AP) or PRC_EN</option>
                            <option value="SL-MW07B Notice of Change in Appointment of PBP(other than AP) or PRC_CN">SL-MW07B Notice of Change in Appointment of PBP(other than AP) or PRC_CN</option>
                            <option value="SL-MW08A Notice of Change in Appointment of PBP(AP)_EN">SL-MW08A Notice of Change in Appointment of PBP(AP)_EN</option>
                            <option value="SL-MW08A Notice of Change in Appointment of PBP(AP)_CN">SL-MW08A Notice of Change in Appointment of PBP(AP)_CN</option>
                            <option value="SL-MW08B Notice of Change in Appointment of PBP(AP)_EN">SL-MW08B Notice of Change in Appointment of PBP(AP)_EN</option>
                            <option value="SL-MW08B Notice of Change in Appointment of PBP(AP)_CN">SL-MW08B Notice of Change in Appointment of PBP(AP)_CN</option>
                            <option value="SL-MW09A Notice of Nomination by PBP to act in his stead_EN">SL-MW09A Notice of Nomination by PBP to act in his stead_EN</option>
                            <option value="SL-MW09A Notice of Nomination by PBP to act in his stead_CN">SL-MW09A Notice of Nomination by PBP to act in his stead_CN</option>
                            <option value="SL-MW09B Notice of Nomination by PBP to act in his stead_EN">SL-MW09B Notice of Nomination by PBP to act in his stead_EN</option>
                            <option value="SL-MW09B Notice of Nomination by PBP to act in his stead_CN">SL-MW09B Notice of Nomination by PBP to act in his stead_CN</option>
                            <option value="SL-MW10A Notice from PRC on ceasing to be appointed_EN">SL-MW10A Notice from PRC on ceasing to be appointed_EN</option>
                            <option value="SL-MW10A Notice from PRC on ceasing to be appointed_CN">SL-MW10A Notice from PRC on ceasing to be appointed_CN</option>
                            <option value="SL-MW10B Notice from PRC on ceasing to be appointed_EN">SL-MW10B Notice from PRC on ceasing to be appointed_EN</option>
                            <option value="SL-MW10B Notice from PRC on ceasing to be appointed_CN">SL-MW10B Notice from PRC on ceasing to be appointed_CN</option>
                            <option value="SL-MW11A Notice of Commencement of Additional Minor Works (with  PBP)_EN">SL-MW11A Notice of Commencement of Additional Minor Works (with  PBP)_EN</option>
                            <option value="SL-MW11A Notice of Commencement of Additional Minor Works (with  PBP)_CN">SL-MW11A Notice of Commencement of Additional Minor Works (with  PBP)_CN</option>
                            <option value="SL-MW11B Notice of Commencement of Additional Minor Works (with  PBP)_EN">SL-MW11B Notice of Commencement of Additional Minor Works (with  PBP)_EN</option>
                            <option value="SL-MW11B Notice of Commencement of Additional Minor Works (with  PBP)_CN">SL-MW11B Notice of Commencement of Additional Minor Works (with  PBP)_CN</option>
                            <option value="SL-MW11C Notice of Commencement of Additional Minor Works (with  PBP)_EN">SL-MW11C Notice of Commencement of Additional Minor Works (with  PBP)_EN</option>
                            <option value="SL-MW11C Notice of Commencement of Additional Minor Works (with  PBP)_CN">SL-MW11C Notice of Commencement of Additional Minor Works (with  PBP)_CN</option>
                            <option value="SL-MW12A Notice of Commencement of Additional Minor Works (without  PBP)_EN">SL-MW12A Notice of Commencement of Additional Minor Works (without  PBP)_EN</option>
                            <option value="SL-MW12A Notice of Commencement of Additional Minor Works (without  PBP)_CN">SL-MW12A Notice of Commencement of Additional Minor Works (without  PBP)_CN</option>
                            <option value="SL-MW12B Notice of Commencement of Additional Minor Works (without  PBP)_EN">SL-MW12B Notice of Commencement of Additional Minor Works (without  PBP)_EN</option>
                            <option value="SL-MW12B Notice of Commencement of Additional Minor Works (without  PBP)_CN">SL-MW12B Notice of Commencement of Additional Minor Works (without  PBP)_CN</option>
                            <option value="SL-MW12C Notice of Commencement of Additional Minor Works (without  PBP)_EN">SL-MW12C Notice of Commencement of Additional Minor Works (without  PBP)_EN</option>
                            <option value="SL-MW12C Notice of Commencement of Additional Minor Works (without  PBP)_CN">SL-MW12C Notice of Commencement of Additional Minor Works (without  PBP)_CN</option>
                            <option value="SL-MW31A Notice of Commencement of Revised Minor Works (with PBP)_EN">SL-MW31A Notice of Commencement of Revised Minor Works (with PBP)_EN</option>
                            <option value="SL-MW31A Notice of Commencement of Revised Minor Works (with PBP)_CN">SL-MW31A Notice of Commencement of Revised Minor Works (with PBP)_CN</option>
                            <option value="SL-MW31B Notice of Commencement of Revised Minor Works (with PBP)_EN">SL-MW31B Notice of Commencement of Revised Minor Works (with PBP)_EN</option>
                            <option value="SL-MW31B Notice of Commencement of Revised Minor Works (with PBP)_CN">SL-MW31B Notice of Commencement of Revised Minor Works (with PBP)_CN</option>
                            <option value="SL-MW32A Request of Submission Number for erection of Signboard of Class III Minor Works_EN">SL-MW32A Request of Submission Number for erection of Signboard of Class III Minor Works_EN</option>
                            <option value="SL-MW32A Request of Submission Number for erection of Signboard of Class III Minor Works_CN">SL-MW32A Request of Submission Number for erection of Signboard of Class III Minor Works_CN</option>
                            <option value="SL-MW32B Request of Submission Number for erection of Signboard of Class III Minor Works_EN">SL-MW32B Request of Submission Number for erection of Signboard of Class III Minor Works_EN</option>
                            <option value="SL-MW32B Request of Submission Number for erection of Signboard of Class III Minor Works_CN">SL-MW32B Request of Submission Number for erection of Signboard of Class III Minor Works_CN</option>
                            <option value="SL-MW33A Supplementary document for Minor Works_EN">SL-MW33A Supplementary document for Minor Works_EN</option>
                            <option value="SL-MW33A Supplementary document for Minor Works_CN">SL-MW33A Supplementary document for Minor Works_CN</option>
                            <option value="SL-MWG01 Interim Acknowledgement Letter_EN">SL-MWG01 Interim Acknowledgement Letter_EN</option>
                            <option value="SL-MWG01 Interim Acknowledgement Letter_CN">SL-MWG01 Interim Acknowledgement Letter_CN</option>
                            <option value="SL-MWG02 Notifying the registered incorporated owners for the erection of signboard on external wall of building_EN">SL-MWG02 Notifying the registered incorporated owners for the erection of signboard on external wall of building_EN</option>
                            <option value="SL-MWG02 Notifying the registered incorporated owners for the erection of signboard on external wall of building_CN">SL-MWG02 Notifying the registered incorporated owners for the erection of signboard on external wall of building_CN</option>
                            <option value="SL-MWG03 Reminder for Notice of completion Letter_EN">SL-MWG03 Reminder for Notice of completion Letter_EN</option>
                            <option value="SL-MWG03 Reminder for Notice of completion Letter_CN">SL-MWG03 Reminder for Notice of completion Letter_CN</option>
                            <option value="SL-MW06C Notice of Validation for Household Minor Works EN">SL-MW06C Notice of Validation for Household Minor Works EN</option>
                            <option value="SL-MW06C Notice of Validation for Household Minor Works CN">SL-MW06C Notice of Validation for Household Minor Works CN</option>
                            <option value="SL-MW03B Notice of Commencement (without PBP)_CN">SL-MW03B Notice of Commencement (without PBP)_CN</option>
                            <option value="SL-MW01B Notice of Commencment (with PBP) _EN">SL-MW01B Notice of Commencment (with PBP) _EN</option>
                            <option value="SL-MW01A Notice of Commencement (with PBP) EN">SL-MW01A Notice of Commencement (with PBP) EN</option>
                            <option value="SL-MW33B Supplementary document  for Minor Works_EN">SL-MW33B Supplementary document  for Minor Works_EN</option>
                            <option value="SL-MW33B Supplementary Document for Minor Works_CN">SL-MW33B Supplementary Document for Minor Works_CN</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="fLabel" valign="top">Ref. No.</td>
                    <td class="fField">
                        <table class="inputTable">
                            <tbody>
                                <tr>
                                    <td>
                                        <table id="tblRefNo" cellspacing="0" cellpadding="0" border="0">


                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="inputText" id="refNoList" name="refNoList" size="20" value="" style="width:300px">
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </td>
                                    <td valign="top">
                                        <input class="inputButton" type="button" id="btnAddRefNo" name="btnAddRefNo" style="width:60px" value="Add" onclick="addRefNoField()">
                                        &nbsp;<span style="font-weight:bold;color:#ff0000"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td class="fField" colspan="2">
<textarea class="inputTextarea" style="width: 900px; height: 600px; display: none;" id="letterContent" name="letterContent" readonly="readonly">&lt;SPAN style="FONT-SIZE: 11pt; mso-fareast-font-family: '華康細明體(P)'" lang=EN-GB&gt;&lt;FONT face="Times New Roman"&gt;&lt;SPAN lang=EN-US&gt;&lt;FONT size=3&gt;
&lt;P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify; LINE-HEIGHT: 12pt; MARGIN: 0cm 1.4pt 0pt 0cm; mso-line-height-rule: exactly" class=MsoNormal&gt;&lt;SPAN style="FONT-FAMILY: 'Futura Lt BT'; FONT-SIZE: 10pt; mso-bidi-font-family: 新細明體; mso-font-kerning: 0pt" lang=EN-US&gt;&lt;/SPAN&gt;&lt;/P&gt;
&lt;P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify; LINE-HEIGHT: 12pt; MARGIN: 0cm 1.4pt 0pt 0cm; mso-line-height-rule: exactly" class=MsoNormal&gt;&lt;SPAN style="FONT-FAMILY: 'Futura Lt BT'; FONT-SIZE: 10pt; mso-bidi-font-family: 新細明體; mso-font-kerning: 0pt" lang=EN-US&gt;&lt;/SPAN&gt;&lt;/P&gt;
&lt;P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify; LINE-HEIGHT: 12pt; MARGIN: 0cm 1.4pt 0pt 0cm; mso-line-height-rule: exactly" class=MsoNormal&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;BR&gt;&lt;IMG src="/pem/task/autoGenerateBarcode.action?barcode=D0000218429" width=180 height=80&gt;&lt;/P&gt;
</textarea><div id="wysiwyg_div_letterContent" style="width:900px;">
                            <table class="tableTextareaEditor" id="wysiwyg_table_letterContent" style="width:900px; height:600px;" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr><td style="height:22px;vertical-align:top;"><table class="toolbar1" style="width:100%;" id="toolbar1_letterContent" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td style="width:6px;"><img src="openwysiwyg_v1.4.7/images/seperator2.gif" alt="" hspace="3"></td><td style="width: 22px;"><img src="img/print.gif" unselectable="on" title="Print" id="Print" class="buttonEditor" onmouseover="this.className='buttonEditorOver'; this.src='openwysiwyg_v1.4.7/images/print_on.gif';" onmouseout="this.className='buttonEditor'; this.src='openwysiwyg_v1.4.7/images/print.gif';" onclick="WYSIWYG.execCommand('letterContent', 'Print');" width="20" height="20" border="0"></td><td>&nbsp;</td></tr></tbody></table></td></tr>
                                    <tr><td><img src="img/barcode.png" alt=""></td></tr>
                                    <tr>
                                        <td valign="top">
                                            <iframe id="wysiwygletterContent" class="iframeText" style="width:100%;height:600px;" frameborder="0"></iframe>
                                        </td>
                                    </tr>
                                    <tr><td class="wysiwyg-statusbar" style="height:10px;" id="wysiwyg_statusbar_letterContent">&nbsp;</td></tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <div class="btnSet btnSetTypeA">
        <div class="right">
            <input class="inputButton" type="button" id="btnComplete" name="btnComplete" value="Complete" style="width:80px;" onclick="doComplete()">
        </div>
    </div>
