<!--<script>var leftMenuSelected = "itemD";</script>
<div class="nav">Home &gt; Registry &gt; Data Entry &gt; Scan</div>-->
<!--<h1 class="h1">Scan</h1>-->
<h3>Scan</h3>
<div class="sList">

    <font color="#FF0000"></font><br>
    
    <table class="inputTable">


    <!--<tr>
        <td class="sTh1" colspan="2">DSN Information</td>
    </tr>-->

    <thead><tr><th colspan="2"><b>DSN Information</b></th></tr></thead>
    <tbody>
        <tr>
            <th class="fLabel" width="150px">DSN :</th>
            <td class="fField">
                &nbsp;D0000000001


                <applet code="jzebra.JZebraApplet.class" archive="http://10.5.17.38:80/pem/jzebra.jar" width="50" height="25">
                    <param name="DSN_NO" value="D0000000001">
                    <param name="configtype" value="URL">
                    <param name="configpath" value="http://10.5.17.38:80/pem/preview-raw-commands.txt">
                    <param name="autoprint" value="false">
                    <param name="printername" value="jzebra">
                    <param name="showicon" value="true">
                    <param name="buttontext" value="">
                    <param name="linefeed" value="\r">
                </applet>

            </td>
        </tr>

        <tr>
            <th class="fLabel">MW No. :</th>
            <td class="fField">
                Enq101200008
            </td>
        </tr>




    </tbody>
</table>
    <br>
</div>
<br>

<table id="PEM0202aTable" class="resultTable" cellpadding="0" cellspacing="0" border="0">

    <thead>
        <tr>
            <th>DSN</th>
            <th>Document Type</th>
            <th>Total Page</th>
            <th>Date</th>
            <th>View</th>
            <th>Action</th>
        </tr>

        <!--<input type="hidden" name="subDsnList[0].subDsn" value="D0000000001">
        <input type="hidden" name="subDsnList[0].docType" value="Letter">
        <input type="hidden" name="subDsnList[0].totalPage" value="1">
        <input type="hidden" name="subDsnList[0].date" value="31/12/2010">-->
    </thead>
    <tbody></tbody>
        <!--<tr>
            <td>D0000000001&nbsp;</td>
            <td>Letter&nbsp;</td>
            <td>1&nbsp;</td>
            <td>31/12/2010&nbsp;</td>
            <td><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000000001')"></td>
            <td><input class="inputButton" type="button" id="" name="" value="Delete"  onclick="deleteDsn('D0000000001')"></td>
        </tr>-->
    
</table>




<div class="btnSet btnSetTypeA">
    <div class="right">
   
        <input class="inputButton" type="button" id="" name="" value="Refresh"  onclick="PEM0202aTable()">
        <!--<input class="inputButton" type="button" id="" name="" value="Refresh"  onclick="goToDispatchDsnDetail('D0000000001')">-->

        <input class="inputButton" type="button" id="" name="" value="Complete Scan"  onclick="loadContentPage('PEM0202')">

        <input class="inputButton" type="button" id="" name="" value="Back"  onclick="loadContentPage('PEM0202')">
    </div>
</div>
<script>PEM0202aTable();</script>