
        <h3> Outstanding Document </h3>
        
        
        
        
         <table class="inputTable">
             <tbody>
                 <tr>
                     <th class="fLabel" style="width:300px">Document to R &amp; D : </th>
                     <td class="fBigLabel">&nbsp;57</td>
                 </tr>
             </tbody>
         </table>
        
        
        
        
        
        
        
        
        
            <table class="resultTable">
                <thead>
                    <tr>
                        <th class="sTh" rowspan="2">Outstanding Document</th>
                        <th class="sTh" colspan="2">Barcode Generated </th>
                        <th class="sTh" colspan="2">Doc First Sent </th>
                        <th class="sTh" rowspan="2" style="text-align:center">Document Sent </th>
                        <th class="sTh" rowspan="2" style="text-align:center">Document Missing </th>
                    </tr>
                    <tr>
                        <th class="sTh">Date</th>
                        <th class="sTh">Time</th>
                        <th class="sTh">Date</th>
                        <th class="sTh">Time</th>
                    </tr>

                    </thead>
                <tbody>

                    <tr class="sRow2">
                        <td class="sCell">D0000360933&nbsp; </td>
                        <td class="sCell"> 25/10/2013&nbsp; </td>
                        <td class="sCell"> 10:29&nbsp; </td>
                        <td class="sCell">  &nbsp;</td>
                        <td class="sCell"> &nbsp; </td>
                        <td class="sCell" style="text-align:center">
                            <input class="inputRadio" type="radio" id="docStatus1" name="dsnList[0].docStatus" value="docSent">
                        </td>
                        <td class="sCell" style="text-align:center"><input class="inputRadio" type="radio" id="docStatus2" name="dsnList[0].docStatus" value="docMissing"></td>
                    </tr>



                    <tr class="sRow2">
                        <td class="sCell">D0000310719&nbsp; </td>
                        <td class="sCell"> 6/8/2013&nbsp; </td>
                        <td class="sCell"> 12:23&nbsp; </td>
                        <td class="sCell">  &nbsp;</td>
                        <td class="sCell"> &nbsp; </td>
                        <td class="sCell" style="text-align:center">
                            <input class="inputRadio" type="radio" id="docStatus1" name="dsnList[1].docStatus" value="docSent">
                        </td>
                        <td class="sCell" style="text-align:center"><input class="inputRadio" type="radio" id="docStatus2" name="dsnList[1].docStatus" value="docMissing"></td>
                    </tr>


                    <tr class="sRow2">
                        <td class="sCell">D0000290733&nbsp; </td>
                        <td class="sCell"> 10/7/2013&nbsp; </td>
                        <td class="sCell"> 09:55&nbsp; </td>
                        <td class="sCell">  &nbsp;</td>
                        <td class="sCell"> &nbsp; </td>
                        <td class="sCell" style="text-align:center">
                            <input class="inputRadio" type="radio" id="docStatus1" name="dsnList[2].docStatus" value="docSent">
                        </td>
                        <td class="sCell" style="text-align:center"><input class="inputRadio" type="radio" id="docStatus2" name="dsnList[2].docStatus" value="docMissing"></td>
                    </tr>



                </tbody>
            </table>

            <div class="right">
                <input class="inputButton" type="button" id="" name="" value="Confirm"  onclick="loadContentPage('PEM0204')">
            </div>
       

