
<table class="inputTable">
	<tbody>
		<tr>
			<th style="width:160px">No. of Record :</th>
			<td>&nbsp;71104</td>
		</tr>
		<tr>
			<th style="width:160px">Document S/N :</th>
			<td>
				<input type="text" name="searchDsn" id="searchDsn" style="width:150px" onkeydown="enterToSearch()">
				(Scan Barcode)<font color="#FF0000"></font>
			</td>
		</tr>
		<tr>
			<th>R&amp;D Delivered Date :</th>
			<td>
				From
				<span>
					<input class="inputDate" type="text" id="fromDate" name="fromDate" value=""  >
				</span>													To
				<span>
					<input class="inputDate" type="text" id="toDate" name="toDate" value="" >
				</span>
			</td>
		</tr>
	</tbody>
    <tfoot><tr><th colspan="2">
    <input class="inputButton" type="button" id="" name="" value="Search" style="" onclick="searchPEM0214()">
    
</th></tr></tfoot>
</table>



<table id="PEM0214Table" class="resultTable">
	<thead>
		<tr>
			<th class="sTh1" colspan="5">Incoming Document</th>
		</tr>
		<tr>
			<th class="sTh" style="width:125px">Document S/N</th>
			<th class="sTh" style="width:75px">Date</th>
			<th class="sTh" style="width:75px">Time</th>
			<th class="sTh" style="width:125px">Received</th>
			<th class="sTh" style="width:125px"></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
    