
	<table class="inputTable">
		<thead><tr><th colspan="4">&nbsp;</th></tr>
		<tbody>
			<tr>
				<th class="fLabel">Document from R &amp; D :</th>
				<td class="fBigLabel">&nbsp;15</td>
			</tr>
			<tr>
				<th class="fLabel">Document Serial No. :</th>
				<td class="fField">
					<input type="text" name="newDsn" id="newDsn" value="" style="max-width:150px" onkeydown="checkEnter(event)">
					(Scan Barcode)<font color="#FF0000"></font>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="right">
					<input type="submit" onclick="loadContentPage('PEM0201')" value="Confirm O/S" />
					<input type="submit" onclick="loadContentPage('PEM0201')" value="Confirm Receipt" />
				</td>
			</tr>
		</tbody>
	</table>
		
	<table class="resultTable">
		<thead><tr><th colspan="5">Incoming Document</th></tr>
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Document S/N</th>
				<th>Received</th>
				<th>Outstanding</th>
			</tr>
		</thead>
            <tbody>

                <tr class="sRow1">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[0].date" value="23/3/2017">
                        23/3/2017&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[0].time" value="17:07">
                        17:07&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[0].dsn" value="D0000748679">
                        D0000748679&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[0].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[0].taskId" value="1694734">
                        <input class="inputCheckbox" type="checkbox" name="dsnList[0].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow2">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[1].date" value="16/2/2017">
                        16/2/2017&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[1].time" value="14:14">
                        14:14&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[1].dsn" value="D0000748613">
                        D0000748613&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[1].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[1].taskId" value="1693205">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[1].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow1">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[2].date" value="16/2/2017">
                        16/2/2017&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[2].time" value="14:10">
                        14:10&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[2].dsn" value="D0000748612">
                        D0000748612&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[2].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[2].taskId" value="1693204">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[2].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow2">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[3].date" value="16/2/2017">
                        16/2/2017&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[3].time" value="11:44">
                        11:44&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[3].dsn" value="D0000748606">
                        D0000748606&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[3].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[3].taskId" value="1693190">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[3].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow1">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[4].date" value="1/9/2016">
                        1/9/2016&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[4].time" value="14:30">
                        14:30&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[4].dsn" value="D0000748210">
                        D0000748210&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[4].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[4].taskId" value="1685055">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[4].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow2">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[5].date" value="14/7/2016">
                        14/7/2016&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[5].time" value="17:34">
                        17:34&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[5].dsn" value="D0000748127">
                        D0000748127&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[5].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[5].taskId" value="1684568">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[5].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow1">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[6].date" value="14/7/2016">
                        14/7/2016&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[6].time" value="17:34">
                        17:34&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[6].dsn" value="D0000748126">
                        D0000748126&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[6].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[6].taskId" value="1684569">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[6].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow2">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[7].date" value="14/7/2016">
                        14/7/2016&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[7].time" value="17:34">
                        17:34&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[7].dsn" value="D0000748125">
                        D0000748125&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[7].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[7].taskId" value="1684570">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[7].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow1">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[8].date" value="7/7/2016">
                        7/7/2016&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[8].time" value="09:44">
                        09:44&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[8].dsn" value="D0000745011">
                        D0000745011&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[8].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[8].taskId" value="1680904">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[8].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow2">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[9].date" value="27/4/2011">
                        27/4/2011&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[9].time" value="17:23">
                        17:23&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[9].dsn" value="D0000010003">
                        D0000010003&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[9].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[9].taskId" value="156642">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[9].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow1">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[10].date" value="27/4/2011">
                        27/4/2011&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[10].time" value="17:23">
                        17:23&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[10].dsn" value="D0000010002">
                        D0000010002&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[10].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[10].taskId" value="156643">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[10].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow2">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[11].date" value="27/4/2011">
                        27/4/2011&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[11].time" value="17:23">
                        17:23&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[11].dsn" value="D0000009997">
                        D0000009997&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[11].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[11].taskId" value="156648">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[11].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow1">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[12].date" value="22/3/2011">
                        22/3/2011&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[12].time" value="17:37">
                        17:37&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[12].dsn" value="D0000005425">
                        D0000005425&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[12].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[12].taskId" value="142448">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[12].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow2">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[13].date" value="22/3/2011">
                        22/3/2011&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[13].time" value="15:47">
                        15:47&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[13].dsn" value="D0000005283">
                        D0000005283&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[13].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[13].taskId" value="142163">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[13].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

                <tr class="sRow1">

                    <td class="sCell">
                        <input type="hidden" name="dsnList[14].date" value="9/3/2011">
                        9/3/2011&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[14].time" value="18:16">
                        18:16&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[14].dsn" value="D0000003691">
                        D0000003691&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[14].status" value="Delivered">
                        Delivered&nbsp;
                    </td>
                    <td class="sCell">
                        <input type="hidden" name="dsnList[14].taskId" value="137569">

                        <input class="inputCheckbox" type="checkbox" name="dsnList[14].outStanding" value="Y">

                        &nbsp;
                    </td>
                </tr>

            </tbody>
        </table>
    </div>



</body>
</html> 