
    <font color="#FF0000">&nbsp;&nbsp;<br> </font>
    <div class="sList">
        <table class="inputTable">
            <thead>
                <tr>
                    <th>
                        Re-print Existing DSN/Reference Number
                    </th>
                </tr>

                </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell" style="padding: 0px;">
                        <table class="inputTable">
                            <thead>
                                <tr>
                                    <td class="fLabel" style="width: 200px">
                                        Existing DSN/Reference Number :
                                    </td>
                                    </thead>
                            <tbody>
                            <td class="fField">
                                <input class="inputText" type="text" name="barcodeNumber" value="" style="width: 290px">
                                <input class="inputButton" type="button" id="btnprint" name="btnprint" value="Print" style="width: 100px; vertical-align: middle" onclick="generateIncomingBarcodeByType ()">

                                <!--<input class="inputButton" type="button" id="btnprint" name="btnprint" value="Print" style="width: 100px; vertical-align: middle" onclick="printExistingBarcodeByNumber()">-->
                            </td>
                            </table>
</tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>
    <div id="PEMHideDiv" class="hide">
        <div id="printArea">
            <img src="/img/barcode.png" height="60px" width="100px" alt="barcode">
        </div>
    </div>

