
<h3>Document List</h3>
<table class="inputTable">
    <thead><tr><th colspan="4">&nbsp;</th></tr>
<tbody>
		<tr>
			<th>No of Outstanding : </th>
			<td>&nbsp;18033</td>
		</tr>
		<tr><th>Scan</th><td></td></tr>
		<tr >
			<th style="width:218px">Document S/N : </th>
			<td>
				<input type="text" name="newDsn" id="newDsn" value="" onkeydown="checkEnter(event)" style="width:150px">
				(Scan Barcode)<font color="#FF0000"></font>
			</td>
		</tr>
	</tbody>
</table>
<table class="inputTable">
	<thead><tr><th colspan="4">Scan and Dispatch Document</th></tr>
	<tbody>
		<tr>
			<th>Document S/N :</th>
			<td>
				<input type="text" name="scanAndDispatchDsn" value="" style="width:150px">
			</td>
		</tr>
		<tr>
			<th>Compiling Date :</th>
			<td>
				From
				<input class="inputDate" type="text" name="fromDate" value=""  readonly="">
				To
				<input class="inputDate" type="text" name="toDate" value=""    readonly="">
			</td>
		</tr>
	</tbody>
    <tfoot><tr><th colspan="2"> <input class="inputButton" type="button" value="Search" onclick="scanAndDispatch()"></th></tr></tfoot>
</table>

<br>
<table id="PEM202Table" class="resultTable">
	<thead>
		<tr>
			<th class="sTh" style="width:125px">Document S/N</th>
			<th class="sTh" style="width:75px">Assignment Date</th>
			<th class="sTh" style="width:75px">Time</th>
			<th class="sTh" style="width:125px">Ref. No.</th>
			<th class="sTh">Status</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
