		

				<h3>Document List</h3>
				<div>
				
				<table class="inputTable">
                        <tbody><tr>
							<th class="fLabel">No of Outstanding:</th>
							<td class="fBigLabel">&nbsp;22357</td>
						</tr>
				</tbody></table>
				</div>		
				<div class="sList">
                    <table class="resultTable" id="dgList">
                        <thead>
                            <tr>
                                <th style="width:125px">Ref. No.</th>
                                <th>Template</th>
                                <th>Letter Type</th>
                                <th style="width:75px">Assignment Date</th>
                                <th>Sent By</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                        <tbody>

                            <tr class="sRow1">
                                <th class="sCell">
                                    <a href="javascript:loadContentPage('PEM0211a')">MW110200165&nbsp;</a>
                                    <input type="hidden" name="docComList[0][6]" value="8a85bda03cb30124013cffd342856482">
                                    <input type="hidden" name="docComList[0][7]" value="MwRecord">
                                    <input type="hidden" name="docComList[0][8]" value="D0000218429">
                                    <input type="hidden" name="docComList[0][9]" value="1125539">
                                </th>
                                <th class="sCell">SL-MW02B Certificate on Completion (with PBP)_EN&nbsp;</th>
                                <th class="sCell">Refusal&nbsp;</th>
                                <th class="sCell">19/12/2013&nbsp;</th>
                                <th class="sCell">SBSMW&nbsp;</th>
                                <th class="sCell">Submitted&nbsp;</th>
                            </tr>

                            <tr class="sRow2">
                                <th class="sCell">
                                    <a href="javascript:loadContentPage('PEM0211a')">MW110500181&nbsp;</a>
                                    <input type="hidden" name="docComList[1][6]" value="8a85bda03d14c418013d3e72fc602be1">
                                    <input type="hidden" name="docComList[1][7]" value="MwRecord">
                                    <input type="hidden" name="docComList[1][8]" value="D0000224595">
                                    <input type="hidden" name="docComList[1][9]" value="1096605">
                                </th>
                                <th class="sCell">SL-MW07A Notice of Change in Appointment of PBP(other than AP) or PRC_EN&nbsp;</th>
                                <th class="sCell">Acknowledgement&nbsp;</th>
                                <th class="sCell">28/11/2013&nbsp;</th>
                                <th class="sCell">SBSMW&nbsp;</th>
                                <th class="sCell">Submitted&nbsp;</th>
                            </tr>



                        </tbody>
                    </table></div>