
<table class="inputTable">
    <tbody>
        <tr>
            <th class="fLabel" style="width:150px">Document to R &amp; D :</th>
            <td class="fBigLabel">&nbsp;9003</td>
        </tr>
        <tr>
            <th class="fLabel" style="width:150px">Document Serial No. :</th>
            <td class="fField">
                <input type="text" name="newDsn" id="newDsn" value="" style="width:150px" onkeydown="checkEnter(event)">
                &nbsp;&nbsp;<font color="#FF0000"></font>
            </td>
        </tr>
    </tbody>
    <tfoot ><tr><td colspan="2">            <input class="inputButton" type="button" id="btnOutstandingDoc" name="btnOutstandingDoc" value="Outstanding Document"  onclick="loadContentPage('PEM0204a');">

            <input class="inputButton" type="button" id="btnConfirmDelivery" name="btnConfirmDelivery" value="Confirm Delivery" onclick="loadContentPage('PEM0204');">
        
        </td></tr></tfoot>
</table>

<table class="resultTable">
    <thead>

                <tr><th colspan="6"><b>Summary</b></th></tr>
        <tr>
            <th class="sTh" style="width:75px">Date</th>
            <th class="sTh" style="width:75px">Time</th>
            <th class="sTh" style="width:125px">Document S/N</th>
            <th class="sTh" style="width:125px">Ref. No.</th>
            <th class="sTh">Status</th>
        </tr>
    </thead>
    <tr >
        <td class="sCell">7/7/2016&nbsp;</td>
        <td class="sCell">16:35&nbsp;</td>
        <td class="sCell">D0000745452&nbsp;</td>
        <td class="sCell">MW150500174&nbsp;</td>
        <td class="sCell">Scanned&nbsp;</td>
    </tr>

    <tr >
        <td class="sCell">7/7/2016&nbsp;</td>
        <td class="sCell">11:53&nbsp;</td>
        <td class="sCell">D0000745179&nbsp;</td>
        <td class="sCell">MW160700432&nbsp;</td>
        <td class="sCell">Scanned&nbsp;</td>
    </tr>

    <tr class="sRow1">
        <td class="sCell">6/7/2016&nbsp;</td>
        <td class="sCell">16:56&nbsp;</td>
        <td class="sCell">D0000744927&nbsp;</td>
        <td class="sCell">MW160603758&nbsp;</td>
        <td class="sCell">Scanned&nbsp;</td>
    </tr>
 
</table>

