@model MWMS2.Areas.MWProcessing.Models.Fn02MWUR_GEModel

<div class="displayForm">
    @if (Model.IsReadOnly)
    {
        @Html.TextAreaFor(m => m.P_MW_GENERAL_RECORD.ADDRESS_AREA, new { disabled = "disabled" })
    }
    else
    {
        @Html.TextAreaFor(m => m.P_MW_GENERAL_RECORD.ADDRESS_AREA)
    }

</div>