
            <table id="Table3" class="inputTable">
                <tbody>
                  <tr>
                    <th nowrap="nowrap">File Reference:</th>
                    <td colspan="3"><span id="lblFileRef" style="font-weight:bold;">MWC 1/2010</span></td>
                  </tr>
              </tbody>
               
              	<tbody><tr> 
					<th nowrap="">BR No.:</th> 
					<td colspan="3" align="left"> 
						<span id="lblBRNo"><b>14002672</b></span></td> 
				</tr>
					
					
				
                <tr>
                  <th width="150" nowrap="nowrap">Company Name <span class="smallprint">(Eng)</span>:</th>
                  <td colspan="3"><strong>xx xx ELECTRIC &amp; WATER CO</strong><span style="PADDING-LEFT: 15px"><img style="VISIBILITY: hidden; CURSOR: hand" onclick="window.open('CompNameHistory.aspx', 'chist', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400')" alt="" src="../images/form.gif" height="14"></span></td>
                </tr>
                <tr>
                  <th width="150" nowrap="nowrap">Company Name <span class="smallprint">(Chn)</span>:</th>
                  <td colspan="3"><span id="lblChnName" style="font-size:11pt;">xx電器水喉公司</span></td>
                </tr>
                <tr>
                  <th width="150" nowrap="nowrap">Registration No.:</th>
                  <td width="180"><span id="lblFileRef" style="font-weight:bold;">MWC 1/2010</span></td>
                  <th style="WIDTH: 108px">Date of Expiry:</th>
                  <td width="332"><span id="lblExpiryDate" style="font-weight:bold;">07/02/2023</span></td>
                </tr>
                <tr>
                  <th width="150" nowrap="nowrap">&nbsp;</th>
                  <td width="180">&nbsp;</td>
                  
                  <th nowrap="nowrap">Date of Removal:</th>
                  <td width="332"><span id="lblRemvDt" style="font-weight:bold;"></span></td>
                  
                </tr>
                </tbody>

                <tr>
                  <th>Interest&nbsp;of Building Safety Services:</th>
                    <td colspan="3">

                    </td>
                </tr>
              
                <tr>
                	<th nowrap="nowrap">
                		QP:
                	</th>
                	<td colspan="3">
                		<span id="lblQpWillingness" style="font-weight:bold;">
                		
                			No Indication
                		
                		</span>
                	</td>
                </tr>
                <tr>
                  <th width="150" nowrap="nowrap">Telephone No.:</th>
                  <td width="180"><span id="lblBSTel" style="font-weight:bold;">2858 4701</span></td>
                  <th width="108">Fax No.:</th>
                  <td width="332"><span id="lblBSFax" style="font-weight:bold;">2858 4044</span></td>
                </tr>
                <tr>
                  <td colspan="4"><hr width="100%" size="2" color="#336699"></td>
                </tr>
                	
            </tbody></table>
            
                
            <div id="pnlGroup2">
				<table id="Table5" class="inputTable"> 
					<thead>
                        <tr>
                            <th colspan="2">
                                Address
                            </th>
                        </tr>
                    </thead>
                <tbody>
					<tr> 
						<td width="385"><span class="smallprint">(English):</span></td> 
						<td width="385"><span class="smallprint">(Chinese):</span></td> 
					</tr> 
					<tr> 
						<td width="385" valign="top"> 
							<span id="lblAddr"><b><br><br><br><br></b></span></td> 
						<td width="400" valign="top"> 
							<span id="lblChnAddr"><b>香港皇后大道西210-218號華利樓2/F C室<br><br><br><br></b></span></td> 
					</tr> 
				</tbody></table> 

				<table id="Table8" class="inputTable"> 
					<tbody><tr> 
						<td colspan="2"> 
							<hr width="100%" size="1" color="#336699"> 
						</td> 
					</tr> 
					<tr> 
						<th style="WIDTH: 125px">Telephone Nos.:</th> 
						<td> 
							<span id="lblTelNos"><b>9492 9784/ 2858 4701</b></span></td> 
					</tr> 
					<tr> 
						<th style="WIDTH: 125px">Fax Nos.:</th> 
						<td> 
							<span id="lblFaxNos"><b>2858 4044</b></span></td> 
					</tr> 
					<tr> 
						<th style="WIDTH: 125px">Email:</th> 
						<td> 
							<span id="lblEmail"><b></b></span></td> 
					</tr> 
	
				</tbody></table> 
			</div>
			
			   
         
            <div id="pnlGroup6" >
              <table class="inputTable">
                <tbody><tr>
                  <th style="WIDTH: 125px">Registration&nbsp;Status:</th>
                  <td><span id="lblStatus" style="font-weight:bold;">Currently on the register</span></td>
                </tr>
              </tbody></table>
            </div>
            	
            	
            <h3>
                Key Personnel:
            </h3>
            <div id="pnlGroup5_7">
                <table id="dgAppls" class="resultTable">
                    <thead>
                
                        <tr class="grid-header" style="height:19px;">

                            <th>
                                HKID /<br>
                                Passport No.
                            </th>

                            <th>Title</th>
                            <th>Name</th>
                            <th>Sex</th>
                            <th>Role</th>
                            <th>Date of Acceptance</th>
                            <th>Date of Removal</th>
                            <th>Remarks</th>

                            <th>Specimen Signature</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>


                            <td>
                                <a href="javascript:applicantInfo('8a8591a2262781ac01262a750b10006b','8a8591a229c63012012a7dfa275d40d4','CMW')">

                                    E358001(A)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>LAM xx xx</td>
                            <td>M</td>
                            <td>AS</td>
                            <td>07/02/2011</td>
                            <td></td>
                            <td></td>

                            <td>

                                <a id="viewimg" href="javascript:popupWind('searchCGC.do?method=displaySignature&amp;applicantId=8a8591a229c63012012a7dfa275d40d6')"><img src="images/view.gif" alt="Signature Image" border="0"></a>

                            </td>

                        </tr>

                    </tbody>
                </table>
        

                <h3>
                    MW Capability
                </h3>
                                <table class="resultTable">
                    <thead>
                        <tr class="grid-header" style="height:19px;">
                            <th width="120">Class </th>
                            <th>Type </th>
                        </tr>
                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Class I, II &amp; III</td>

                                            <td></td>
                                        </tr>
                                        <tr class="grid-alt-item">
                                            <td>Class II &amp; III </td>

                                            <td>Type A, Type B, Type D, Type G</td>
                                        </tr>
                                        <tr>
                                            <td>Class III </td>

                                            <td>Type H</td>
                                        </tr>
                                    </tbody>
                                </table>

                               
                                <table class="inputTable"> <tfoot><tr><td> <input name="btnCancel" onclick="loadContentPage('CRM0107')" value="Cancel" type="button"></td></tr></tfoot> </table>
            </div>
			<br>
		