<form name="reportForm" id="reportForm" method="post" action="/Registration/report.do?method=LoadReport&amp;registrationType=CGC">
    <input type="hidden" name="registrationType" value="" id="registrationType">
    <input type="hidden" name="popReport" value="LoadViewer" id="popReport">

    <input type="hidden" id="ENCRYPTED_KEY" name="ENCRYPTED_KEY" value="22A7907EF0B997F0821ADE5538A6A5249F94AEB41D95D3756629D53AFD44DFD3">

    <input type="hidden" id="REPORT_NAME" name="REPORT_NAME" value="applicant_info">

    <input type="hidden" id="SUBREPORT_DIR" name="SUBREPORT_DIR" value="C:\Program Files\Apache Software Foundation\Tomcat 6.0\webapps\Registration\report\layout\">

    <input type="hidden" id="appln_id" name="appln_id" value="8a85932a25bfb3270125bfb32def264f">

    <input type="hidden" id="c_appln_id" name="c_appln_id" value="8a85932a25bfce2c0125bfce534602a0">

    <input type="hidden" id="file_ref_no" name="file_ref_no" value="GBC 1/2002">

    <input type="hidden" id="method" name="method" value="viewReport">

    <input type="hidden" id="popReport" name="popReport" value="LoadViewer">

    <input type="hidden" id="reg_type" name="reg_type" value="CGC">


    <table style="width:100%" border="1">
        <tbody>
            <tr>

                <td>|&lt;&lt;</td>
                <td>&lt;</td>

                <td> 1 of 1 </td>


                <td>&gt;</td>
                <td>&gt;&gt;|</td>


                <td>
                    Export Format:
                    <select name="reportType" id="reportType">
                        <option value="PDF">PDF</option>
                        <option value="EXCEL">EXCEL</option>
                        <option value="HTML">HTML</option>
                    </select>
                    <input name="Export" type="button" value="Export" onclick="exportExcel('CRM0112bTable')">
                </td>


            </tr>
        </tbody>
    </table>

    <br>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="CRM0112bTable">
        <tbody>
            <tr>
                <td>
                    <a name="JR_PAGE_ANCHOR_0_1"></a>
                    <table style="width: 842px" cellpadding="0" cellspacing="0" border="0" bgcolor="white">
                        <tbody>
                            <tr>
                                <td><img alt="" src="images/px" style="width: 40px; height: 1px;"></td>
                                <td><img alt="" src="images/px" style="width: 89px; height: 1px;"></td>
                                <td><img alt="" src="images/px" style="width: 255px; height: 1px;"></td>
                                <td><img alt="" src="images/px" style="width: 50px; height: 1px;"></td>
                                <td><img alt="" src="images/px" style="width: 118px; height: 1px;"></td>
                                <td><img alt="" src="images/px" style="width: 105px; height: 1px;"></td>
                                <td><img alt="" src="images/px" style="width: 105px; height: 1px;"></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 1px;"></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 1px;"></td>
                            </tr>
                            <tr valign="top">
                                <td colspan="9"><img alt="" src="images/px" style="width: 842px; height: 40px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 40px;"></td>
                                <td colspan="7"><span style="font-family: Arial; color: #000000; font-size: 12.0px; font-weight: bold;">Personal Registration Information Sheet</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 40px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">File Reference:</span></td>
                                <td colspan="6" valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">GBC 1/2002</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Name:</span></td>
                                <td colspan="6" valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Tam Yun Lam Benson</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">HKID No:</span></td>
                                <td colspan="6" valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">D642089(4)</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td colspan="9"><img alt="" src="images/px" style="width: 842px; height: 10px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td colspan="7" valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px; font-weight: bold;">Registration History(GB)</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">File Reference</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Company Name</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Capacity</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Date of Accepted</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Date of Removal</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">GBC 1/2002</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Hanison Interior &amp; Renovation Limited</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">A2</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">09/08/2013</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">GBC 1/2002</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Hanison Interior &amp; Renovation Limited</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">AS</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">27/07/2011</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">GBC 223/99</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Hanison Contractors Limited</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">AS</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">08/12/2006</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">GBC 224/99</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Hanison Construction Company Limited</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">AS</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">08/12/2006</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><img alt="" src="images/px" border="0"></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td colspan="9"><img alt="" src="images/px" style="width: 842px; height: 10px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td colspan="7" valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px; font-weight: bold;">Interview History</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">File Reference</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Company Name</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Capacity</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Interview No.</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Interview Date</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Date of Result</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; text-align: right;"><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Result</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">GBC 223/99</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Hanison Contractors Limited</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">AS</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">2006-6168-GBC-C21</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">22/11/2006</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">08/12/2006</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; text-align: right;"><span style="font-family: Arial; color: #000000; font-size: 10.0px;">A</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">GBC 224/99</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Hanison Construction Company Limited</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">AS</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">2006-6171-GBC-C21</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">22/11/2006</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">08/12/2006</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; text-align: right;"><span style="font-family: Arial; color: #000000; font-size: 10.0px;">A</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">GBC 1/2002</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Hanison Interior &amp; Renovation Limited</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">A2</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">2013-15686-GBC-C03-A</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">15/05/2013</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">09/08/2013</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; text-align: right;"><span style="font-family: Arial; color: #000000; font-size: 10.0px;">A</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">GBC 223/99</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Hanison Contractors Limited</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">AS</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">2013-6168-GBC-C03-A</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">15/05/2013</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">14/08/2013</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; text-align: right;"><span style="font-family: Arial; color: #000000; font-size: 10.0px;">A</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">GBC 224/99</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">Hanison Construction Company Limited</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">AS</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">2013-6171-GBC-C03-A</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">15/05/2013</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">09/08/2013</span></td>
                                <td valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; text-align: right;"><span style="font-family: Arial; color: #000000; font-size: 10.0px;">A</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td colspan="9"><img alt="" src="images/px" style="width: 842px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td colspan="7" valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">** no suspected discipline record found **</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                                <td colspan="7" valign="middle" style="padding-top: 2px; padding-left: 2px; padding-bottom: 2px; padding-right: 2px; "><span style="font-family: Arial; color: #000000; font-size: 10.0px;">** no false declaration record found **</span></td>
                                <td><img alt="" src="images/px" style="width: 40px; height: 20px;"></td>
                            </tr>
                            <tr valign="top">
                                <td colspan="9"><img alt="" src="images/px" style="width: 842px; height: 115px;"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</form>