

                 <table id="Table3" class="inputTable">
                   
                     <tbody>
                         <tr>
                             <th >HKID :</th>
                             <td >
                                 <input type="text" name="displayHKID"  value="" onkeydown="enterToSubmit(searchForm, this, event)"  class="inputText">

                             </td>
                             <th >Passport No. : </th>
                             <td>
                                 <input type="text" name="displayPasspostNo"  value="" onkeydown="enterToSubmit(searchForm, this, event)"  class="inputText">
                             </td>
                         </tr>
                         <tr>
                             <th>Surname :</th>
                             <td>
                                 <input type="text" name="displaySurname"  value="" onkeydown="enterToSubmit(searchForm, this, event)"  class="inputText">


                             </td>
                             <th>Given Name :</th>
                             <td>
                                 <input type="text" name="displayGivenname"  value="" onkeydown="enterToSubmit(searchForm, this, event)"  class="inputText">

                             </td>
                         </tr>
                         <tr>
                             <th >Chinese Name :</th>
                             <td  colspan="3">
                                 <input style="max-width:200px;" type="text" name="displayChinesename"  value="" onkeydown="enterToSubmit(searchForm, this, event)"  class="inputText">


                             </td>
                         </tr>
                         <tr>
                             <th>BR No. :</th>
                             <td>
                                 <input type="text" name="displayBRNumber" maxlength="8" value="" onkeydown="enterToSubmit(searchForm, this, event)"  class="inputText">
                             </td>

                             <th>Proprietor Name :</th>
                             <td>
                                 <input type="text" name="displayProprietorName"  value="" onkeydown="enterToSubmit(searchForm, this, event)" class="inputText">
                             </td>


                         </tr>
                         <tr>
                             <th>Company Name :</th>
                             <td>
                                 <input type="text" name="displayCompanyName"  value="" onkeydown="enterToSubmit(searchForm, this, event)"  class="inputText">

                             </td>
                             <th>Ordinance / Regulation :</th>
                             <td>
                                 <input type="text" name="displayOrdinance"  value="" onkeydown="enterToSubmit(searchForm, this, event)"  class="inputText">

                             </td>
                         </tr>
                         <tr>
                             <th>Suspension Reason :</th>
                             <td>

                                 <input type="text" name="displaySuspensionReason"  value="" onkeydown="enterToSubmit(searchForm, this, event)"  class="inputText">
                             </td>

                             <th>Conviction Source :</th>
                             <td>
                                 <select name="displayConviction" id="displayConviction" class="inputSelect" style="width:auto">
                                     <option value="">-- Select --</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b0000">HA</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b0001">PWD1</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b0002">PWD2</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b0003">PWD3</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b0004">LD</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b0005">FEHD</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b0006">BD</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b0007">FSD</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b0008">ASD</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b0009">BD(CONVT)</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b000a">BD(DIS)</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b000b">EPD</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b000c">DEVB</option>
                                     <option value="8a85932a25bf9a7e0125bf9a7e5b000d">WSD</option>
                                 </select>

                             </td>


                         </tr>
                         <tr>

                             <th>Date of Offence :</th>
                             <td colspan="3">

                                 from&nbsp;
                                 <input type="text" name="displayDateOfOffenceFrom"  value="" onblur="checkDate(this)" id="txtFormDateOffence" class="inputDate">
                                 <span id="err_txtFormDateOffence" class="err" style="color:Red;display:none;">Invalid date</span>
                                 &nbsp;to&nbsp;
                                 <input type="text" name="displayDateOfOffenceTo"  value="" onblur="checkDate(this)" id="txtToDateOffence" class="inputDate">
                                 <span id="err_txtToDateOffence" class="err" style="color:Red;display:none;">Invalid date</span>

                             </td>
                         </tr>
                         <tr>
                             <th>Date of Judgement :</th>
                             <td colspan="3">
                                 from&nbsp;
                                 <input type="text" name="displayDateOfJudgementFrom"  value="" onblur="checkDate(this)" id="txtFormDateJudgement" class="inputDate" />
                                 <span id="err_txtFormDateJudgement" class="err" style="color:Red;display:none;">Invalid date</span>
                                 &nbsp;to&nbsp;
                                 <input type="text" name="displayDateOfJudgementTo"  value="" onblur="checkDate(this)" id="txtToDateJudgement" class="inputDate">
                                 <span id="err_txtToDateJudgement" class="err" style="color:Red;display:none;">Invalid date</span>


                             </td>
                         </tr>
                         <tr>
                             <th>Reference :</th>
                             <td colspan="3">
                                 <input type="text" name="displayReference"  value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:448px;" class="inputText">
                             </td>
                         </tr>
                         <tr>
                             <th>Conviction Type :</th>
                             <td colspan="3">
                                 <select style="width:auto">
                                     <option>Individual</option>
                                     <option>Company</option>
                                 </select>
                             </td>
                         </tr>
                     </tbody>
           <tfoot>
               <tr>
                   <td colspan="4">
                       <input type="button" name="btnSearch" onclick="searchForm()" value="Search">
                   </td>
               </tr>
           </tfoot>
       </table>
      

 


           <table id="CRMHideDiv" class="hide resultTable" >
               <thead>
                   <tr class="grid-header" >
                       <th >  Conviction Type</th>
                       <th>BR No.</th>
                       <th ><a href="javascript:setSort('name', 'asc', 'name')">Name</a></th>
                       <th ><a href="javascript:setSort('ordinance', 'asc', 'name')">Ordinance/ Regulation</a></th>
                       <th ><a href="javascript:setSort('offence_date', 'asc', 'name')">Date of Offence</a></th>
                       <th ><a href="javascript:setSort('judgement_date', 'asc', 'name')">Date of Judgement</a></th>
                       <th><a href="javascript:setSort('hkid', 'asc', 'name')">HKID/ Passport No.</a></th>
                       <th ><a href="javascript:setSort('company_name', 'asc', 'name')">Company Name</a></th>
                       <th >  BR No.</th>
                       <th  nowrap="nowrap">
                           <a href="javascript:setSort('accident', 'asc', 'name')">
                               Accident (A)/<br>
                               Fatal (F)
                           </a>
                       </th>
                       <th style="width:80px">Reference</th>
                       <th style="width:50px"><a href="javascript:setSort('type', 'asc', 'name')">Type</a></th>
                   </tr>
               </thead>
               <tbody>
                   <tr class="grid-alt-item">

                       <td>Company</td>
                       <td>XXXX</td>
                       <td><a href="javascript:loadContentPage('CRM0103a')">XXX Company</a></td>
                       <td>CSSR-38B(1A)</td>
                       <td>16/06/2014</td>
                       <td>20/01/2015</td>
                       <td>X</td>
                       <td>xx Kee Engineering</td>
                       <td></td>
                       <td>N</td>
                       <td>CPOT20xxxx</td>
                       <td>C</td>

                   </tr>

                   <tr>
                       <td>Individual</td>
                       <td>XXXX</td>
                       <td><a href='javascript:loadContentPage("CRM0104a")'>AU xx xx </a></td>
                       <td>CSSR-48(1A)(b)</td>
                       <td>26/06/2014</td>
                       <td>20/01/2015</td>
                       <td>X</td>
                       <td>xx Kee Engineering</td>
                       <td></td>
                       <td>N</td>
                       <td></td>
                       <td>C</td>

                   </tr>

                   <tr class="grid-alt-item">

                       <td>Individual</td>
                       <td>XXXX</td>
                       <td><a href="javascript:convictionEdit('8a8591a24c037988014c083473fa7731')">AU xx xx </a></td>
                       <td>CSSR-38AA(2)</td>
                       <td>26/06/2014</td>
                       <td>20/01/2015</td>
                       <td>X</td>
                       <td>xx Kee Engineering</td>
                       <td></td>
                       <td>N</td>
                       <td></td>
                       <td>C</td>

                   </tr>

                   <tr>

                       <td>Company</td>
                       <td>XXXX</td>
                       <td></td>
                       <td>L-7A</td>
                       <td>06/11/2014</td>
                       <td>01/06/2015</td>
                       <td>X</td>
                       <td>xx Lee Crane Transportation Co.</td>
                       <td></td>
                       <td>N</td>
                       <td>CPOT20xxxx</td>
                       <td>C</td>

                   </tr>

                   <tr class="grid-alt-item">

                       <td>Individual</td>
                       <td>XXXX</td>
                       <td><a href="javascript:convictionEdit('8a8591a251656f7b0151af450d144aad')">AU YEUNG xx xx </a></td>
                       <td>CSSR-43(b)</td>
                       <td>20/03/2015</td>
                       <td>30/11/2015</td>
                       <td>X</td>
                       <td>xx Po Construction Company</td>
                       <td></td>
                       <td>N</td>
                       <td></td>
                       <td>C</td>

                   </tr>

                   <tr>

                       <td>Company</td>
                       <td>XXXX</td>
                       <td></td>
                       <td>CSSR-48(1A)(b)</td>
                       <td>20/03/2015</td>
                       <td>30/11/2015</td>
                       <td>X</td>
                       <td>xx Po Construction Company</td>
                       <td></td>
                       <td>N</td>
                       <td>CPOT201xxx28-01</td>
                       <td>C</td>

                   </tr>

              

                


               </tbody>
           </table>