
            <div id="pnlGroup9" >
              <table id="Table3" class="inputTable">
                <tbody><tr>
                  <th width="115">
                    File Reference :
                  </th>
                  <td colspan="3" width="660">
                    <span id="lblFileRef" style="font-weight :bold;">R 1/85</span>
                  </td>
                </tr>
				
                <tr>
                  <th width="115">
                    English Name :
                  </th>
                  <td colspan="3" width="660">
                    <span id="lblName" style="font-weight :bold;">LO xx xx</span><span style="PADDING-LEFT : 15px"><img style="VISIBILITY : hidden; CURSOR : hand" onclick="window.open('IndivApplicantHistory.aspx', 'chist', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=580, height=400')" alt="" src="../images/form.gif" height="14"></span>
                  </td>
                </tr>
                <tr>
                  <th width="115">
                    Chinese Name :
                  </th>
                  <td colspan="3" width="660">
                    <span id="lblChnName" style="font-size :11pt;">盧xx</span>
                  </td>
                </tr>
                <tr>
                  <th width="115">
                    Registration No. :
                  </th>
                  <td width="200">
                    <span id="lblRegNo" style="font-weight :bold;">RI(A) 1/85</span>
                  </td>
                  <th width="120">
                    Date of Expiry :
                  </th>
                  <td width="330">
                    <span id="lblExpiryDate" style="font-weight :bold;">
                    
                        
                    	24/02/2022
                    
                    </span>
                  </td>
                </tr>
               
                
                <tr>
                  <td style="FONT-SIZE : 3px" colspan="4">
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    Interest of Building Safety Services :
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                  
                      <table class="resultTable">
                          <thead>
                              <tr class="grid-header">
                                  <th nowrap="nowrap">Type of services</th>
                                  <th>Description</th>
                              </tr>
                              </thead>
                          <tbody>
					<tr>

						<td nowrap="nowrap">1</td>
						<td>denotes those persons who are interested in providing services in the removal of unauthorized building works and carrying out necessary consequential reinstatement works</td>
					</tr>

					<tr class="grid-alt-item">

						<td nowrap="nowrap">2</td>
						<td>denotes those persons who are interested in providing services in maintenance and repair of buildings and drainage</td>
					</tr>

					<tr>

						<td nowrap="nowrap">4</td>
						<td>denotes those persons who are interested in providing services in maintenance and repair of aluminium windows</td>
					</tr>

				  </tbody>
                      </table>
				  <br />
                  </td>
                </tr>
                <tr>
                	<th nowrap="nowrap">
                		QP :
                	</th>
                	<td colspan="3">
                		<span id="lblQpWillingness" style="font-weight :bold;">
                		
                			Yes
                		
                		</span>
                	</td>
                </tr>
                <tr>
                  <th>
                    Telephone No. :
                  </th>
                  <td>
                    <span id="lblBSTel" style="font-weight :bold;">xxxx xxxx</span>
                  </td>
                  <th>
                    Fax No. :
                  </th>
                  <td>
                    <span id="lblBSFax" style="font-weight :bold;">xxxx xxxx</span>
                  </td>
                </tr>
          
                 
              </tbody></table>
            </div>
            
            
                
            <div id="pnlGroup17">
                <table class="inputTable">
                    <thead>
                        <tr>
                            <th colspan="2" width="385">
                                Correspondence Address
                            </th>
                         
                        </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td width="385">
                                <span class="smallprint">(English) :</span>
                            </td>
                            <td width="385">
                                <span class="smallprint">(Chinese) :</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="385" valign="top">
                                <span id="lblHomeAddr" style="font-weight :bold;">6th Floor,<br>xx xx Building,<br>xx8 xx's Bazaar,<br>Causeway Bay,<br>Hong Kong.</span>
                            </td>
                            <td width="400" valign="top">
                                <span id="lblHomeChnAddr" style="font-weight :bold;"><br><br><br><br></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr width="100%" size="1" color="#336699">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
           
             
                
           
            <div id="pnlGroup10">
              <table id="Table8" class="inputTable">
                <tbody><tr>
                  <th style="WIDTH : 124px; HEIGHT : 20px">
                    Emergency Nos. :
                  </th>
                  <td>
                    <span id="lblEmrgNos" style="font-weight :bold;">2577 xxxx/ xxxx 6405</span>
                  </td>
                </tr>
                <tr>
                  <th style="WIDTH : 124px">
                    Telephone Nos. :
                  </th>
                  <td>
                    <span id="lblTelNos" style="font-weight :bold;">xxx 5373</span>
                  </td>
                </tr>
                <tr>
                  <th style="WIDTH : 124px">
                    Fax Nos. :
                  </th>
                  <td>
                    <span id="lblFaxNos" style="font-weight :bold;">2890 4988</span>
                  </td>
                </tr>
                <tr>
                  <th style="WIDTH : 124px">
                    Email :
                  </th>
                  <td>
                    <span id="lblEmail" style="font-weight :bold;">xxxxx@gmail.com</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <hr width="100%" size="2" color="#336699">
                  </td>
                </tr>
              </tbody></table>
            </div>
             
           
           
              
           
            <div id="pnlGroup18">
              <table class="inputTable">
                <tbody><tr>
                  <th style="WIDTH : 124px">
                     Registration Status :
                  </th>
                  <td>
                    <span id="lblAppStatus" style="font-weight :bold;">Active</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                </tr>
              </tbody></table>
            </div>
             
                
                
              
           
            <div id="pnlGroup14_15">
              <table class="inputTable">
                <tbody><tr>
                  <td>
                    <table class="grid" rules="all" id="dgImg" style="border-color :LightGrey;border-collapse :collapse;" cellspacing="0" cellpadding="3" bordercolor="LightGrey" border="1">
                      <tbody><tr class="grid-header" style="height :19px;">
                        <th>
                          Category
                        </th>
                        <th>
                          Specimen Signature
                        </th>
                      </tr>
                      <tr>
                        <th>
                          RI(A)
                        </th>
                        <td align="center">
                          
                          <a id="viewimg" href="javascript :popupWind('searchIP.do?method=displaySignature')"><img src="images/view.gif" alt="Non-restricted Image" border="0"></a>
                       	  
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody></table>
            </div>
             
                
                
                
                
                
                
                
              
              
                
            <div id="pnlGroup11">
                <table id="Table4" class="inputTable">
                    <tbody>
                       
                        <tr>
                            <th width="140">
                                HKID / Passport No. :
                            </th>
                            <td width="610">
                                <span id="lblID" style="font-weight :bold;">D0xxxxx(0)</span>
                            </td>
                        </tr>
                     
                    </tbody>
                </table>

        
   
                <table class="resultTable" id="dgList">
                   <thead>
                    <tr>
                        <th colspan="4">
                            Professional Qualifications at PRB :
                        </th>
                    </tr>

                
                        <tr class="grid-header" style="height :19px;">
                            <th>
                                PRB
                            </th>
                            <th>
                                Registration No.
                            </th>

                            <th nowrap="nowrap">
                                Expiry Date
                            </th>
                            <th nowrap="nowrap">
                                Disciplines / Divisions
                            </th>
                        </tr>
                    </thead>
                    <tr>

                        <td>Architect Registration Board</td>
                        <td>0255</td>

                        <td>31/12/2015</td>
                        <td></td>
                    </tr>

                    <tr class="grid-alt-item">

                        <td>Architect Registration Board</td>
                        <td>0255</td>

                        <td>31/12/2017</td>
                        <td></td>
                    </tr>
                    <tbody></tbody>
                </table>
               
            </div>
             
            <table class="inputTable"><tfoot>
    <tr>
        <td class="editfooter">
            <input name="btnCancel" onclick="loadContentPage('CRM0111')" value="Back" style="width :90px;" type="button">
        </td>
    </tr>
</tfoot></table>
      