
<table class="inputTable">
    <tbody>
        <tr>
            <th>File Reference :</th>
            <td>
                <input type="text" />
            </td>
            <th>Registration No. :</th>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <th>Company Name <span>(Eng)</span> :</th>
            <td>
                <input type="text" />
            </td>
            <th>
                <span>(Chn)</span> :
            </th>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <th>Address <span>(Eng)</span> :</th>
            <td>
                <input type="text" />
            </td>
            <th>
                <span>(Chn)</span> :
            </th>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <th>Surname :</th>
            <td>
                <input type="text" />
            </td>
            <th>Given Name :</th>
            <td>
                <input type="text" />
                <br />
                <span>
                    <input type="checkbox" id="keySearch" />
                    <label for="keySearch">Keyword Search</label>
                </span>
            </td>
        </tr>
        <tr>
            <th>Chinese Name :</th>
            <td colspan="3">
                <input type="text" />
            </td>
        </tr>
        <tr>
            <th>PNRC :</th>
            <td>
                <select>
                    <option>-- Select --</option>
                    <option>BY SMS</option>
                    <option>BY EMAIL</option>
                    <option>NOT WISH</option>
                    <option>N/A</option>
                </select>
            </td>
            <th>Services in Building Safety :</th>
            <td>
                <select>
                    <option>-- Select --</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>-</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Type of Date :</th>
            <td>
                <select>
                    <option>- Select Type of Date -</option>
                    <option>Date of Application</option>
                    <option>Date of Registration</option>
                    <option>Date of Gazette</option>
                    <option>Date of Expiry</option>
                    <option>Date of Removal</option>
                    <option>Date of Renewal</option>
                    <option>Date of Restoration</option>
                    <option>Date of Approval</option>
                </select>
            </td>
            <td colspan="2">
                from
                <input type="text" class="inputDate" /><span></span>
                to
                <input type="text" class="inputDate" /><span></span><br />
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">

                <input type="submit" name="btnSearch" value="Search" onclick="searchForm()" id="btnSearch" accesskey="S">

                <input type="submit" name="btnReset" value="Reset" onclick="loadContentPage('CRM0101')" id="btnReset">


            </td>
        </tr>


    </tfoot>
</table>

<table id="CRMHideDiv" class="resultTable hide">
    <thead>
        <tr>
            <th>File Reference</th>
            <th>Company Name</th>
            <th>Registration No.</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href='javascript:loadContentPage("CRM0101b")'>4/6816/56(11)</a>
            </td>
            <td>xx (Luen Hop) Refrigeration Co., Ltd.</td>
            <td>'V'20</td>
            <td>Inactive</td>
        </tr>
        <tr>
            <td>
                <a href='javascript:loadContentPage("CRM0101b")'>4/6816/56(110)</a>
            </td>
            <td>xx Tung Kee Engineering Co.</td>
            <td>'V'88</td>
            <td>Inactive</td>
        </tr>
        <tr>
            <td>
                <a href='javascript:loadContentPage("CRM0101b")'>4/6816/56(112)</a>
            </td>
            <td>xx Engineers And Traders Co., Ltd.</td>
            <td>'V'100</td>
            <td>Inactive</td>
        </tr>
        <tr>
            <td>
                <a href='javascript:loadContentPage("CRM0101b")'>4/6816/56(119)</a>
            </td>
            <td>xx Fire Engineers &amp; Consultants Ltd.</td>
            <td>'V'93</td>
            <td>Inactive</td>
        </tr>
        <tr>
            <td>
                <a href='javascript:loadContentPage("CRM0101b")'>4/6816/56(12)</a>
            </td>
            <td>Hong Kong xxx. Gas (Holding) Ltd.</td>
            <td>'V'6</td>
            <td>Inactive</td>
        </tr>
        <tr>
            <td>
                <a href='javascript:loadContentPage("CRM0101b")'>4/6816/56(122)</a>
            </td>
            <td>x xx Kam Kee Air-condition Works</td>
            <td>'V'90</td>
            <td>Inactive</td>
        </tr>
        <tr>
            <td>
                <a href='javascript:loadContentPage("CRM0101b")'>4/6816/56(123)</a>
            </td>
            <td>xx Engineering Co.</td>
            <td>'V'94</td>
            <td>Inactive</td>
        </tr>
        <tr>
            <td>
                <a href='javascript:loadContentPage("CRM0101b")'>4/6816/56(13)</a>
            </td>
            <td>xx xx Refrigeration Service Co., Ltd.</td>
            <td>'V'7</td>
            <td>Inactive</td>
        </tr>
        <tr>
            <td>
                <a href='javascript:loadContentPage("CRM0101b")'>4/6816/56(131)</a>
            </td>
            <td>Lau xx Refrigeration Service</td>
            <td>'V'96</td>
            <td>Inactive</td>
        </tr>
        <tr>
            <td>
                <a href='javascript:loadContentPage("CRM0101b")'>4/6816/56(136)</a>
            </td>
            <td>xxx Electric &amp; Electronic Engineering Co.</td>
            <td>'V'104</td>
            <td>Inactive</td>
        </tr>

    </tbody>
</table>