
    <form name="reportForm" id="reportForm" method="post" action="report.do?method=exportExcelReport" target="newWin">
        <input type="hidden" name="excelReportType" value="REG_COMPANY" id="excelReportType">
        <input type="hidden" name="rc_groupType1" value="" id="rc_groupType1">
        <input type="hidden" name="rc_groupType2" value="" id="rc_groupType2">
        <input type="hidden" name="rc_groupType3" value="" id="rc_groupType3">
        <input type="hidden" name="rc_groupType4" value="" id="rc_groupType4">
        <input type="hidden" name="rc_groupType5" value="" id="rc_groupType5">
        <input type="hidden" name="rc_groupType6" value="" id="rc_groupType6">
        <input type="hidden" name="rc_groupType7" value="" id="rc_groupType7">



                        <div class="title1"> <h3>Registered Company Report</h3></div>

                                        <table id="Table10"  class="inputTable">
                                            <tbody>
                                                <tr>
                                                    <th>Logic :</th>
                                                    <td colspan="6">
                                                        <select name="rc_logic"style="width:auto">
                                                            <option value="and">And</option>
                                                            <option value="or">Or</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="7">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Registered Type</th>
                                                    <th>Registered Type</th>
                                                    <th>Registered Type</th>
                                                    <th>Registered Type</th>
                                                    <th>Registered Type</th>
                                                    <th>Registered Type</th>
                                                    <th>Registered Type</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select name="rc_applicationType1" id="rc_applicationType1" style="width:170px" class="application_type">
                                                            <option></option>
                                                            <option value="GBC">RGBC</option>
                                                            <option value="SC">SC</option>
                                                            <option value="MWC - Class I, II, III">MWC - Class I, II, III</option>
                                                            <option value="MWC - Class II, III">MWC - Class II, III</option>
                                                            <option value="MWC - Class III">MWC - Class III</option>
                                                            <option value="MWC(P) - Class I, II, III">MWC(P) - Class I, II, III</option>
                                                            <option value="MWC(P) - Class II, III">MWC(P) - Class II, III</option>
                                                            <option value="MWC(P) - Class III">MWC(P) - Class III</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_applicationType2" id="rc_applicationType2" style="width:170px" class="application_type">
                                                            <option></option>
                                                            <option value="GBC">RGBC</option>
                                                            <option value="SC">SC</option>
                                                            <option value="MWC - Class I, II, III">MWC - Class I, II, III</option>
                                                            <option value="MWC - Class II, III">MWC - Class II, III</option>
                                                            <option value="MWC - Class III">MWC - Class III</option>
                                                            <option value="MWC(P) - Class I, II, III">MWC(P) - Class I, II, III</option>
                                                            <option value="MWC(P) - Class II, III">MWC(P) - Class II, III</option>
                                                            <option value="MWC(P) - Class III">MWC(P) - Class III</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_applicationType3" id="rc_applicationType3" style="width:170px" class="application_type">
                                                            <option></option>
                                                            <option value="GBC">RGBC</option>
                                                            <option value="SC">SC</option>
                                                            <option value="MWC - Class I, II, III">MWC - Class I, II, III</option>
                                                            <option value="MWC - Class II, III">MWC - Class II, III</option>
                                                            <option value="MWC - Class III">MWC - Class III</option>
                                                            <option value="MWC(P) - Class I, II, III">MWC(P) - Class I, II, III</option>
                                                            <option value="MWC(P) - Class II, III">MWC(P) - Class II, III</option>
                                                            <option value="MWC(P) - Class III">MWC(P) - Class III</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_applicationType4" id="rc_applicationType4" style="width:170px" class="application_type" disabled="disabled">
                                                            <option></option>
                                                            <option value="GBC">RGBC</option>
                                                            <option value="SC">SC</option>
                                                            <option value="MWC - Class I, II, III">MWC - Class I, II, III</option>
                                                            <option value="MWC - Class II, III">MWC - Class II, III</option>
                                                            <option value="MWC - Class III">MWC - Class III</option>
                                                            <option value="MWC(P) - Class I, II, III">MWC(P) - Class I, II, III</option>
                                                            <option value="MWC(P) - Class II, III">MWC(P) - Class II, III</option>
                                                            <option value="MWC(P) - Class III">MWC(P) - Class III</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_applicationType5" id="rc_applicationType5" style="width:170px" class="application_type" disabled="disabled">
                                                            <option></option>
                                                            <option value="GBC">RGBC</option>
                                                            <option value="SC">SC</option>
                                                            <option value="MWC - Class I, II, III">MWC - Class I, II, III</option>
                                                            <option value="MWC - Class II, III">MWC - Class II, III</option>
                                                            <option value="MWC - Class III">MWC - Class III</option>
                                                            <option value="MWC(P) - Class I, II, III">MWC(P) - Class I, II, III</option>
                                                            <option value="MWC(P) - Class II, III">MWC(P) - Class II, III</option>
                                                            <option value="MWC(P) - Class III">MWC(P) - Class III</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_applicationType6" id="rc_applicationType6" style="width:170px" class="application_type" disabled="disabled">
                                                            <option></option>
                                                            <option value="GBC">RGBC</option>
                                                            <option value="SC">SC</option>
                                                            <option value="MWC - Class I, II, III">MWC - Class I, II, III</option>
                                                            <option value="MWC - Class II, III">MWC - Class II, III</option>
                                                            <option value="MWC - Class III">MWC - Class III</option>
                                                            <option value="MWC(P) - Class I, II, III">MWC(P) - Class I, II, III</option>
                                                            <option value="MWC(P) - Class II, III">MWC(P) - Class II, III</option>
                                                            <option value="MWC(P) - Class III">MWC(P) - Class III</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_applicationType7" id="rc_applicationType7" style="width:170px" class="application_type" disabled="disabled">
                                                            <option></option>
                                                            <option value="GBC">RGBC</option>
                                                            <option value="SC">SC</option>
                                                            <option value="MWC - Class I, II, III">MWC - Class I, II, III</option>
                                                            <option value="MWC - Class II, III">MWC - Class II, III</option>
                                                            <option value="MWC - Class III">MWC - Class III</option>
                                                            <option value="MWC(P) - Class I, II, III">MWC(P) - Class I, II, III</option>
                                                            <option value="MWC(P) - Class II, III">MWC(P) - Class II, III</option>
                                                            <option value="MWC(P) - Class III">MWC(P) - Class III</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select name="rc_subType1" id="rc_subType1" style="width:170px"></select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_subType2" id="rc_subType2" style="width:170px"></select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_subType3" id="rc_subType3" style="width:170px"></select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_subType4" id="rc_subType4" style="width:170px" disabled="disabled"></select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_subType5" id="rc_subType5" style="width:170px" disabled="disabled"></select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_subType6" id="rc_subType6" style="width:170px" disabled="disabled"></select>
                                                    </td>
                                                    <td>
                                                        <select name="rc_subType7" id="rc_subType7" style="width:170px" disabled="disabled"></select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">
                                                        <div id="divGroup1" class="mwItem scrollTableDivLower" style="height:190px;display:none;"></div>
                                                    </td>
                                                    <td>
                                                        <div id="divGroup2" class="mwItem scrollTableDivLower" style="height:190px;display:none;"></div>
                                                    </td>
                                                    <td>
                                                        <div id="divGroup3" class="mwItem scrollTableDivLower" style="height:190px;display:none;">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div id="divGroup4" class="mwItem scrollTableDivLower" style="height:190px;display:none;">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div id="divGroup5" class="mwItem scrollTableDivLower" style="height:190px;display:none;">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div id="divGroup6" class="mwItem scrollTableDivLower" style="height:190px;display:none;">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div id="divGroup7" class="mwItem scrollTableDivLower" style="height:190px;display:none;">
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>Sort by :</th>
                                                    <td colspan="6">
                                                        <select name="rc_orderBy" id="rc_orderBy"style="width:auto"><option value="101">Company Name</option><option value="102">BR Number</option><option value="0">GBC</option><option value="1">GBC</option></select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>


                        <table  class="inputTable">
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="img/print.gif">
                                        <a href="" onclick="javascript:exportExcel('CRM0115Table')">Export Registered Company Report</a><!--<a href="javascript:exportExcel()">Export Registered Company Report</a>-->
                                    </td>
                                     </tr>
                            </tbody>
                        </table>
                        <br>
   
    </form>

    <table id="CRM0115Table" class="hide">
        <tr>
            <th>Name</th>
            <th>BR Number</th>
            <th>GBC</th>
        </tr>
        <tr>
            <td>A-CITY WORKSHOP LIMITED</td>
            <td>60298633</td>
            <td>GBC 44/2016</td>
        </tr>
        <tr>
            <td>ACE ENGINEERING LIMITED</td>
            <td>31040104</td>
            <td>GBC 20/2004</td>
        </tr>
        <tr>
            <td>ACHIEVE CONSTRUCTION COMPANY LIMITED</td>
            <td>62353334</td>
            <td>GBC 26/2013</td>
        </tr>
    </table>
