
<table class="inputTable">
    <tbody>
        <tr>
            <th>File Reference :</th>
            <td><input type="text" /></td>
            <th>Registration No. :</th>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <th>HKID :</th>
            <td><input type="text" /></td>
            <th>Passport No.<span> :</span></th>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <th>Surname :</th>
            <td><input type="text" /></td>
            <th>Given Name :</th>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <th>Chinese Name :</th>
            <td><input type="text" /></td>
            <td colspan="2">
                <span>
                    <input type="checkbox" /> <label>
                        Keyword
                        Search
                    </label>
                </span>
            </td>
        </tr>
        <tr>
            <th>Address :</th>
            <td><input type="text" /></td>
            <th>Category Code :</th>
            <td>
                <select>
                    <option>- All -</option>
                    <option>AP(A)</option>
                    <option>AP(E)</option>
                    <option>AP(S)</option>
                    <option>API</option>
                    <option>APII</option>
                    <option>APIII</option>
                    <option>RGE</option>
                    <option>RI(A)</option>
                    <option>RI(E)</option>
                    <option>RI(S)</option>
                    <option>RSE</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Services in Building Safety :</th>
            <td>
                <select style="max-width:150px">
                    <option>-- Select --</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>-</option>
                </select>
            </td>
            <th>PNAP :</th>
            <td>
                <select>
                    <option>-- Select --</option>
                    <option>BY SMS</option>
                    <option>BY EMAIL</option>
                    <option>NOT WISH</option>
                    <option>N/A</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Type of Date :</th>
            <td colspan="1">
                <select style="max-width: 300px">
                    <option>- Select Type of Date -</option>
                    <option>Date of Application</option>
                    <option>Date of Registration</option>
                    <option>Date of Gazette</option>
                    <option>Date of Expiry</option>
                    <option>Date of Removal</option>
                    <option>Date of Renewal</option>
                    <option>Date of Restoration</option>
                    <option>Date of Approval</option>
                </select>
            </td>

            <td colspan="2">

                from <input type="text" class="inputDate" /><span></span> to <input type="text" class="inputDate" /><span></span><br />
            </td>
        </tr>
        <tr>
            <th>Sex :</th>
            <td colspan="3">
                <select style="max-width: 150px">
                    <option>- Select -</option>
                    <option>M</option>
                    <option>F</option>
                </select>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>PRB :</th>
            <td>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /> AP AND RSE</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> Architect Registration Board</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> Engineer Registration Board</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> ERB (Geotechnical)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> ERB (Civil / Structural )</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> Surveyor Registration Board</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <th>Qualification Code :</th>
            <td>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /> AP(A)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> AP(E)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> AP(S)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> RGE</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> RI(A)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> RI(E)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> RI(S)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> RSE</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <th>Disciplines / Divisions :</th>
            <td colspan="3">
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /> Building (RPE-B)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> Building Services (Building)(RPE-BS)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> Civil (RPE-C)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> Materials (Building)(RPE-M)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> Structural (RPE-S)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> Building Surveying (RPS-B)</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /> Quantity Surveying (RPS-Q)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>


        <tr>
            <td colspan="4">
                <input type="submit" class="half"
                       value="Search" onclick="searchForm()">
                &nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" value="Reset"
                                                onclick="loadContentPage('CRM0102')" id="btnReset">
            </td>

        </tr>
    </tfoot>

</table>


<table id="CRMHideDiv" class="resultTable hide">
    <thead>
        <tr>
            <th>File Reference</th>
            <th>Name</th>
            <th>Category</th>
            <th>Registration No.</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a>R 1/01</a></td>
            <td>NG xx xx</td>
            <td>AP(A)</td>
            <td>AP(A) 1/01</td>
            <td>Active</td>
        </tr>
        <tr>
            <td><a>R 1/02</a></td>
            <td>CHAU xx xx</td>
            <td>AP(A)</td>
            <td>AP(A) 1/02</td>
            <td>Active</td>
        </tr>
        <tr>
            <td><a>R 1/05</a></td>
            <td>WONG xx xx</td>
            <td>AP(A)</td>
            <td>AP(A) 1/05</td>
            <td>Active</td>
        </tr>
        <tr>
            <td><a>R 1/06</a></td>
            <td>LEE xx xx</td>
            <td>AP(A)</td>
            <td>AP(A) 1/06</td>
            <td>Application in progress</td>
        </tr>
        <tr>
            <td><a>R 1/07</a></td>
            <td>LEUNG xx xx </td>
            <td>AP(A)</td>
            <td>AP(A) 1/07</td>
            <td>Active</td>
        </tr>
        <tr>
            <td><a>R 1/09</a></td>
            <td>LEE xx xx </td>
            <td>AP(A)</td>
            <td>AP(A) 1/09</td>
            <td>Application in progress</td>
        </tr>
        <tr>
            <td><a>R 1/11</a></td>
            <td>CHAN xx xx</td>
            <td>AP(A)</td>
            <td>AP(A) 1/11</td>
            <td>Application in progress</td>
        </tr>
        <tr>
            <td><a>R 1/12</a></td>
            <td>VUN xx xx</td>
            <td>AP(A)</td>
            <td>AP(A) 1/12</td>
            <td>Active</td>
        </tr>
        <tr>
            <td><a>R 1/14</a></td>
            <td>NIP xx xx</td>
            <td>AP(A)</td>
            <td>AP(A) 1/14</td>
            <td>Application in progress</td>
        </tr>
        <tr>
            <td><a>R 1/15</a></td>
            <td>FUNG xx xx</td>
            <td>AP(A)</td>
            <td>AP(A) 1/15</td>
            <td>Application in progress</td>
        </tr>

    </tbody>
</table>

