
            <div id="pnlGroup9" >
              <table id="Table3" class="inputTable">
                <tbody><tr>
                  <th width="115">
                    File Reference:
                  </th>
                  <td colspan="3" width="660">
                    <span id="lblFileRef" style="font-weight:bold;">MWC(W) 1/2010</span>
                  </td>
                </tr>
                
                <tr>
                  <th width="115">
                    English Name:
                  </th>
                  <td colspan="3" width="660">
                    <span id="lblName" style="font-weight:bold;">WONG xx xx</span><span style="PADDING-LEFT: 15px"><img style="VISIBILITY: hidden; CURSOR: hand" onclick="window.open('IndivApplicantHistory.aspx', 'chist', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=580, height=400')" alt="" src="../images/form.gif" height="14"></span>
                  </td>
                </tr>
                <tr>
                  <th width="115">
                    Chinese Name:
                  </th>
                  <td colspan="3" width="660">
                    <span id="lblChnName" style="font-size:11pt;">黃xx</span>
                  </td>
                </tr>
                <tr>
                  <th width="115">
                    Registration No.:
                  </th>
                  <td width="200">
                    <span id="lblRegNo" style="font-weight:bold;">MWC(W) 1/2010</span>
                  </td>
                  <th width="120">
                    Date of Expiry:
                  </th>
                  <td width="330">
                    <span id="lblExpiryDate" style="font-weight:bold;">31/12/2019</span>
                  </td>
                </tr>
                <tr>
                  <td width="115">
                  	&nbsp;
                  </td>
                  <td width="200">
                  </td>
                  
                  <th width="120">
                    Date of Removal:
                  </th>
                  <td width="330">
                    <span id="lblRemvDt" style="font-weight:bold;"></span>
                  </td>
                  
                </tr>
                <tr>
                  <td style="FONT-SIZE: 3px" colspan="4">
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    Interest of Building Safety Services:
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                  
                  </td>
                </tr>
                <tr>
                	<th nowrap="nowrap">
                		QP:
                	</th>
                	<td colspan="3">
                		<span   id="lblQpWillingness" style="font-weight:bold;">
                		
                			No Indication
                		
                		</span>
                	</td>
                </tr>
                <tr>
                  <th>
                    Telephone No.:
                  </th>
                  <td>
                    <span id="lblBSTel" style="font-weight:bold;"></span>
                  </td>
                  <td>
                    Fax No.:
                  </td>
                  <td>
                    <span id="lblBSFax" style="font-weight:bold;"></span>
                  </td>
                

                </tr><tr>
                  <td colspan="4">
                    <hr width="100%" size="2" color="#336699">
                  </td>
                </tr>
              </tbody></table>
            </div>
           
            <div id="pnlGroup17">
              <table class="inputTable">
               <thead>
                   <tr>
                       <th colspan="2">
                           Correspondence Address
                       </th>
                   </tr>
               </thead>
                <tbody>
                <tr>
                  <td >
                    <span class="smallprint">(English):</span>
                  </td>
                  <td >
                    <span class="smallprint">(Chinese):</span>
                  </td>
                </tr>
                <tr>
                  <td  valign="top">
                    <span id="lblHomeAddr" style="font-weight:bold;">xxx, xx xx House<br>x xx xx Estate<br>Kwun Tong<br>Kowloon<br></span>
                  </td>
                  <td valign="top">
                    <span id="lblHomeChnAddr" style="font-weight:bold;">九龍觀塘<br>xx<br>xx<br>xx室<br></span>
                  </td>
                </tr>
                
              </tbody></table>
            </div>
               
               
           
                     
            <div id="pnlGroup10">
              <table id="Table8" class="inputTable">
               
                <tbody><tr>
                  <th style="WIDTH: 124px; HEIGHT: 20px">
                    Emergency Nos.:
                  </th>
                  <td>
                    <span id="lblEmrgNos" style="font-weight:bold;"></span>
                  </td>
                </tr>
                <tr>
                  <th style="WIDTH: 124px">
                    Telephone Nos.:
                  </th>
                  <td>
                    <span id="lblTelNos" style="font-weight:bold;">xxxx xxxx</span>
                  </td>
                </tr>
                <tr>
                  <th style="WIDTH: 124px">
                    Fax Nos.:
                  </th>
                  <td>
                    <span id="lblFaxNos" style="font-weight:bold;"></span>
                  </td>
                </tr>
                <tr>
                  <th style="WIDTH: 124px">
                    Email:
                  </th>
                  <td>
                    <span id="lblEmail" style="font-weight:bold;">xxxxx@gmail.com,abc@yahoo.com.hk</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <hr width="100%" size="2" color="#336699">
                  </td>
                </tr>
              </tbody></table>
            </div>
                
                
                
              
            <div id="pnlGroup18">
              <table class="inputTable">
                <tbody><tr>
                  <th style="WIDTH: 124px">
                    Registration Status:
                  </th>
                  <td>
                    <span id="lblAppStatus" style="font-weight:bold;">Active</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                  </td>
                </tr>
              </tbody></table>
            </div>
               
                 
            <div id="pnlGroup14_15">
              <table class="inputTable">
                <tbody><tr>
                  <td>
                    <table class="grid" rules="all" id="dgImg" style="border-color:LightGrey;border-collapse:collapse;" cellspacing="0" cellpadding="3" bordercolor="LightGrey" border="1">
                      <tbody><tr class="grid-header" style="height:19px;">
                        <th>
                          Specimen Signature
                        </th>
                      </tr>
                      <tr>
                        <td align="center">
                          
                          <a id="viewimg" href="javascript:popupWind('searchIP.do?method=displaySignature')"><img src="images/view.gif" alt="Non-restricted Image" border="0"></a>
                       	  
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody></table>
            </div>
              
              
                 
            <div id="pnlGroup11">
              <table id="Table4" class="inputTable">
                <tbody><tr>
                  <td style="FONT-SIZE: 1px" colspan="2">
                    ?
                  </td>
                </tr>
                <tr>
                  <th width="140">
                    HKID / Passport No.:
                  </th>
                  <td width="610">
                    <span id="lblID" style="font-weight:bold;">Exxxxx(x)</span>
                  </td>
                </tr>
                <tr>
                  <td style="FONT-SIZE: 3px" colspan="2">
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <hr width="100%" size="2" color="#336699">
                  </td>
                </tr>
              </tbody></table>
            </div>
              
             
            <div id="pnlGroup12">
                <b>MW Capability  &nbsp;&nbsp;&nbsp;	(Item Version: 2)</b>

                <table class="resultTable" id="">
                    <thead>
                        <tr>
                            <th>MW Item </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="grid-alt-item">

                            <td>Item 3.3</td>

                            <td>Item 3.16</td>

                            <td>Item 3.17</td>

                            <td>Item 3.18</td>

                            <td>Item 3.19</td>

                        </tr>

                        <tr>

                            <td>Item 3.20</td>

                            <td>Item 3.21</td>

                            <td>Item 3.31</td>

                            <td>Item 3.48</td>

                            <td>Item 3.53</td>

                        </tr>

                        <tr class="grid-alt-item">

                            <td>Item 3.54</td>

                            <td>Item 3.55</td>

                            <td>Item 3.57</td>

                            <td>Item 3.59</td>

                            <td>Item 3.60</td>

                        </tr>

                    </tbody>
                </table>

               
                <table class="inputTable"><tfoot><tr><td>
    <input name="btnCancel" onclick="loadContentPage('CRM0108')" value="Back" style="width:90px;" type="button">
</td></tr></tfoot></table>
            </div>