
    	<div class="title1"> <h3>General Contractor Application &gt; Search Deferral Records</h3></div>

      <table class="inputTable">
        <tbody><tr>
          <th style="WIDTH: 186px"><span id="Label1">Name of Contractor:</span></th>
          <td><input name="txtCompName" type="text" value="xx INTERIOR &amp; RENOVATION LIMITED" readonly="" id="txtCompName" style="width:496px;"></td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label3">File Reference :</span></th>
          <td><input name="txtFileRef" type="text" value="GBC 1/2002" readonly="" id="txtFileRef" style="width:240px;"></td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label4"> Candidate :</span></th>
          <td><input name="txtCandidate" type="text" value="LAW xx xx" readonly="" id="txtCandidate" style="width:240px;"></td>
        </tr>
        <tr>
          <th><span id="Label5">Post :</span></th>
          <td><input name="txtPost" type="text" value="AS" readonly="" id="txtPost" style="width:240px;"></td>
        </tr>
        <tr>
          <td colspan="4"><hr></td>
        </tr>
        <tr>
          <th><span id="Label22">Applicant Apply Type :</span></th>
          <td><table id="rdlAppStatus" class="inputTable">
              <tbody><tr>
              	<td>
              		<input type="radio" name="applyStatus" value="A" checked="checked" id="applyStatusA" readonly="" disabled="">
				  	<label for="rdlAppStatus_0">Addition</label></td>
                <td>
                	<input type="radio" name="applyStatus" value="I" id="applyStatusI" readonly="" disabled="">
				  	<label for="rdlAppStatus_1">Inclusion</label></td>
                <td>
                 	<input type="radio" name="applyStatus" value="N" id="applyStatusN" readonly="" disabled="">
				  	<label for="rdlAppStatus_2">Renewal</label></td>
                <td>
                 	<input type="radio" name="applyStatus" value="S" id="applyStatusS" readonly="" disabled="">
				  	<label for="rdlAppStatus_3">Restoration</label></td>
                <td>
					<input type="radio" name="applyStatus" value="D" id="applyStatusD" readonly="" disabled="">
					<label for="rdlAppStatus_4">Application after Deferral</label></td>
              </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <th><span id="Label12">Interview Date :</span></th>
          <td>
          
          	<input type="text" name="interviewDate" value="15/05/2013" id="interviewDate" class="inputDate" readonly="">
	      </td>
        </tr>
        <tr>
          <th><span id="Label11">CRC :</span></th>
          <td>
          	<input type="text" name="crcName" value="03" style="width:240px;" class="inputText" readonly="">
          </td>
        </tr>
        <tr>
          <th style="HEIGHT: 23px"><span id="Label13">Secretary :</span></th>
          <td style="HEIGHT: 23px">
          	<input type="text" name="secretary" value="BS/REG2" style="width:240px;" class="inputText" readonly="">
     	  </td>
        </tr>
        <tr>
          <th><span id="Labelss">Assistant :</span></th>
          <td>
          	<input type="text" name="assistant" value="" style="width:240px;" class="inputText" readonly="">
          </td>
        </tr>
        <tr>
          <th><span id="Label2">Type of Application :</span></th>
          <td><input type="text" name="applicationForm" value="BA2C" style="width:150px;" class="applicationForm" readonly="">
          </td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label15">Nature :</span></th>
          <td><input type="text" name="nature" value="N" style="width:80px;" class="nature" readonly="">
           </td>
        </tr>
      </tbody></table>
      <table class="inputTable">
        <tbody><tr>
          <th style="WIDTH: 186px"><span id="Label6">Received Date :</span></th>
          <td>
          	<input type="text" name="receivedDate" value="17/05/2012" id="receivedDate" class="inputDate" readonly="">
          </td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label23">BA2 10-Day Pledge Date of Initial Reply :</span></th>
          <td>
          	<input type="text" name="pledgeInitialDate" value="" id="pledgeInitialDate"class="inputDate"readonly="">
          </td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label8">Date of 3-alternative Letter :</span></th>
          <td>
          	<input type="text" name="alternativeLetterDate" value="" id="alternativeLetterDate" class="inputDate" readonly="">
          </td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label9">Subsequent to 3-Alt. :</span></th>
          <td>
          	<input type="text" name="subsequentDate" value="" id="subsequentDate" class="inputDate" readonly="">
          </td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label10">Date of Preliminary Letter :</span></th>
          <td>
          	<input type="text" name="preliminaryLetterDate" value="" id="preliminaryLetterDate" class="inputDate" readonly="">
          </td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label14">Date of Result Letter :</span></th>
         <td>
          	<input type="text" name="resultLetterDate" value="09/08/2013" id="resultLetterDate" class="inputDate" readonly="">
          </td>
        </tr>
      </tbody></table>
      <table class="inputTable">
        <tbody><tr>
          <th style="WIDTH: 186px"><span id="Label16">Interview Result :</span></th>
          <td><input type="text" name="interviewResult" value="DEFERRED" id="subsequentDate" class="inputDate" readonly="">
       		</td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label17">Initial Reply :</span></th>
          <td>
           	<input type="text" name="initialReply" maxlength="3" value="0" onfocus="inputMaskOnFocus(this, event, 'N')" disabled="disabled" style="width:50px;" class="inputText" readonly="">days from Received Date</td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label18">Interview :</span></th>
          <td>
          <input type="text" name="interview" maxlength="3" value="363" onfocus="inputMaskOnFocus(this, event, 'N')" disabled="disabled" style="width:50px;" class="inputText" readonly="">days from Received Date</td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label19">Result Letter :</span></th>
          <td> <input type="text" name="resultLetter" maxlength="3" value="449" onfocus="inputMaskOnFocus(this, event, 'N')" disabled="disabled" style="width:50px;" class="inputText" readonly="">days from Received Date</td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label24">End of Defer Date :</span></th>
          <td>
           	<input type="text" name="deferDate" value="06/12/2013" id="deferDate" class="inputDate" readonly="">
           </td>
        </tr>
        <tr>
          <th style="WIDTH: 186px"><span id="Label20">Date of Certificate Issued :</span></th>
          <td> 	<input type="text" name="certificateIssuedDate" value="" id="certificateIssuedDate" class="inputDate" readonly="">
     	</td>
        </tr>
        <tr>
          <th style="WIDTH: 186px" valign="top"><span id="Label21">Remarks :</span></th>
          <td>
          		<textarea name="remarks" rows="5" style="width:450px;" class="inputTextarea" readonly="">Letter [2] on 5/3/2013</textarea>
		</td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
         
        
      </tbody>
      
        <tfoot>
            <tr>
                <td class="editfooter" colspan="4">
                    <input type="button" name="btnCancel" id="btnCancel" value="Finish" onclick="loadContentPage('CRM0105')">
                </td>
            </tr>
        </tfoot>
      </table>