
            <table id="Table3" class="inputTable">
               
                <tbody>
                  <tr>
                    <th nowrap="nowrap">File Reference :</th>
                    <td colspan="3"><span id="lblFileRef" style="font-weight :bold;">GBC 1/2002</span></td>
                  </tr>
              	</tbody>
              
              	
				 
              	<tbody><tr> 
					<th nowrap="">BR No. :</th> 
					<td colspan="3" align="left"> 
						<span id="lblBRNo"><b>20433344</b></span></td> 
				</tr>
				 
				 
                <tr>
                  <th width="150" nowrap="nowrap">Company Name <span class="smallprint">(Eng)</span> :</th>
                  <td colspan="3"><strong>xxx xxx &amp; RENOVATION LIMITED</strong><span style="PADDING-LEFT : 15px"><img style="VISIBILITY : hidden; CURSOR : hand" onclick="window.open('CompNameHistory.aspx', 'chist', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400')" alt="" src="../images/form.gif" height="14"></span></td>
                </tr>
                <tr>
                  <th width="150" nowrap="nowrap">Company Name <span class="smallprint">(Chn)</span> :</th>
                  <td colspan="3"><span id="lblChnName" style="font-size :11pt;">xxxx室內及維修有限公司</span></td>
                </tr>
                <tr>
                  <th width="150" nowrap="nowrap">Registration No. :</th>
                  <td width="180"><span id="lblFileRef" style="font-weight :bold;">GBC 1/2002</span></td>
                  <th style="WIDTH : 108px">Date of Expiry :</th>
                  <td width="332"><span id="lblExpiryDate" style="font-weight :bold;">23/12/2018</span></td>
                </tr>
           
               
                <tr>
                  <td style="FONT-SIZE : 3px" colspan="4">&nbsp;</td>
                </tr>
                <tr>
                  <th >Interest&nbsp;of Building Safety Services :</th>
                    <td colspan="3"></td>
                </tr>
                <tr>
                  <td colspan="4">
                  
                      <table class="resultTable">
                          <thead>
                              <tr class="grid-header">
                                  <th nowrap="nowrap">Type of services</th>
                                  <th>Description</th>
                              </tr>
                              </thead>
                          <tbody>
                              <tr>

                                  <td nowrap="nowrap">4</td>
                                  <td>denotes those contractors who are interested in providing services in maintenance and repair of aluminium windows</td>
                              </tr>

                          </tbody>
                      </table>
				  
				  </td>
                </tr>
                <tr>
                	<th nowrap="nowrap">
                		QP :
                	</th>
                	<td colspan="3">
                		<span id="lblQpWillingness" style="font-weight :bold;">
                		
                			Yes
                		
                		</span>
                	</td>
                </tr>
                <tr>
                  <th width="150" nowrap="nowrap">Telephone No. :</th>
                  <td width="180"><span id="lblBSTel" style="font-weight :bold;">2414 5889</span></td>
                  <th width="108">Fax No. :</th>
                  <td width="332"><span id="lblBSFax" style="font-weight :bold;">2413 7215</span></td>
                </tr>
                <tr>
                  <td colspan="4"><hr width="100%" size="2" color="#336699"></td>
                </tr>
                 
            </tbody></table>
            
             
			
            <div id="pnlGroup2">
			
                <table id="Table5" class="inputTable">


                    <thead>
                        <tr>
                            <th colspan="4" >
                                Address
                            </th>
                            <td></td>
                        </tr>
                    <tbody>
                        <tr>
                            <td ><span class="smallprint">(English) :</span></td>
                            <td ><span class="smallprint">(Chinese) :</span></td>
                        </tr>
                        <tr>
                            <td  valign="top">
                                <span id="lblAddr"><b>Unit 1, 4/F., Block B,<br>xx xxx Centre,<br>5-7 Yuen Shun Circuit,<br>Shatin, New Territories.<br></b></span>
                            </td>
                            <td  valign="top">
                                <span id="lblChnAddr"><b><br><br><br><br></b></span>
                            </td>
                        </tr>
                    </tbody>
                </table> 

				<table id="Table8" class="inputTable"> 
					<tbody>
					<tr> 
						<th style="WIDTH : 125px">Telephone Nos. :</th> 
						<td> 
							<span id="lblTelNos"><b>2414 3889</b></span></td> 
					</tr> 
					<tr> 
						<th style="WIDTH : 125px">Fax Nos. :</th> 
						<td> 
							<span id="lblFaxNos"><b>2415 2080</b></span></td> 
					</tr> 
					<tr> 
						<th style="WIDTH : 125px">Email :</th> 
						<td> 
							<span id="lblEmail"><b>general@hanison.com</b></span></td> 
					</tr> 
					<tr> 
						<td colspan="2"> 
							<hr width="100%" size="2" color="#336699"> 
						</td> 
					</tr> 
				</tbody></table> 
				
			</div>
			
                
			 
			
            <div id="pnlGroup6">
              <table class="inputTable">
                <tbody><tr>
                  <th style="WIDTH : 125px">Registration&nbsp;Status :</th>
                  <td><span id="lblStatus" style="font-weight :bold;">Currently on the register</span></td>
                </tr>
             
              </tbody></table>
            </div>
            
            
            <div id="pnlGroup5_7">



                <table class="resultTable" id="dgAppls">
                    <thead>
                        <tr>
                            <th colspan="10">Key Personnel :</th>
                        </tr>

                        <tr class="grid-header" style="height :19px;">


                            <th>
                                HKID /<br>
                                Passport No.
                            </th>


                            <th>Title</th>
                            <th>Name</th>
                            <th>Sex</th>
                            <th>Role</th>
                            <th>Date of Acceptance</th>
                            <th>Date of Removal</th>
                            <th>Remarks</th>

                            <th>Specimen Signature</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>




                            <td>
                                <a href="javascript:loadContentPage('CRM0112b')">

                                    xxxxx(4)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>TAM xx xx Benson</td>
                            <td>M</td>
                            <td>A2</td>
                            <td>09/08/2013</td>
                            <td></td>
                            <td>Assist TD CKL</td>

                            <td>


                                <a id="viewimg" href="javascript:popupWind('searchCGC.do?method=displaySignature&amp;applicantId=8a8591a23271ddd0013294f6b5e87b0b')"><img src="images/view.gif" alt="Signature Image" border="0"></a>


                            </td>

                        </tr>

                        <tr class="grid-alt-item">



                            <td>
                                <a href="javascript:loadContentPage('CRM0112b')">
                                    E9xxx85(6)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>AU xx xx</td>
                            <td>M</td>
                            <td>AS</td>
                            <td>23/08/2004</td>
                            <td></td>
                            <td></td>

                            <td>


                                <a id="viewimg" href="javascript:popupWind('searchCGC.do?method=displaySignature&amp;applicantId=8a85932a25bfcfe60125bfd0003b03fe')"><img src="images/view.gif" alt="Signature Image" border="0"></a>


                            </td>

                        </tr>

                        <tr>




                            <td>
                                <a href="javascript:loadContentPage('CRM0112b')">

                                    xxxxxxx(2)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>LAW xx xx Thomas</td>
                            <td>M</td>
                            <td>AS</td>
                            <td>28/04/2015</td>
                            <td></td>
                            <td></td>

                            <td>


                                <a id="viewimg" href="javascript:popupWind('searchCGC.do?method=displaySignature&amp;applicantId=8a8591a2385bbf170138f9b272764eca')"><img src="images/view.gif" alt="Signature Image" border="0"></a>


                            </td>

                        </tr>

                        <tr class="grid-alt-item">



                            <td>
                                <a href="javascript:loadContentPage('CRM0112b')">

                                    xxxxxx(A)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>CHEUNG xx xx</td>
                            <td>M</td>
                            <td>AS</td>
                            <td>04/05/2009</td>
                            <td></td>
                            <td></td>

                            <td>


                                <a id="viewimg" href="javascript:popupWind('searchCGC.do?method=displaySignature&amp;applicantId=8a85932a25bfcfe60125bfd0003b0408')"><img src="images/view.gif" alt="Signature Image" border="0"></a>


                            </td>

                        </tr>

                        <tr>




                            <td>
                                <a href="javascript:loadContentPage('CRM0112b')">
                                    xxxxx(2)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>KONG xx xx</td>
                            <td>M</td>
                            <td>AS</td>
                            <td>27/02/2009</td>
                            <td></td>
                            <td></td>

                            <td>


                                <a id="viewimg" href="javascript:popupWind('searchCGC.do?method=displaySignature&amp;applicantId=8a85932a25bfcfe60125bfd0003b0407')"><img src="images/view.gif" alt="Signature Image" border="0"></a>


                            </td>

                        </tr>

                        <tr class="grid-alt-item">



                            <td>
                                <a href="javascript:applicantInfo('8a85932a25bfb3270125bfb32b9d14ea','8a85932a25bfce2c0125bfce534602a0','CGC')">

                                    Exxxxx99(3)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>CHUK xx xx</td>
                            <td>M</td>
                            <td>AS</td>
                            <td>23/08/2004</td>
                            <td></td>
                            <td></td>

                            <td>


                                <a id="viewimg" href="javascript:popupWind('searchCGC.do?method=displaySignature&amp;applicantId=8a85932a25bfcfe60125bfd0003b0402')"><img src="images/view.gif" alt="Signature Image" border="0"></a>


                            </td>

                        </tr>

                        <tr>




                            <td>
                                <a href="javascript:applicantInfo('8a85932a25bfb3270125bfb32b9d14ea','8a85932a25bfce2c0125bfce534602a0','CGC')">

                                    xxxxx(3)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>CHUK xx xx</td>
                            <td>M</td>
                            <td>T2</td>
                            <td>09/08/2013</td>
                            <td></td>
                            <td>Assisted by AS TYLB</td>

                            <td></td>

                        </tr>

                        <tr class="grid-alt-item">



                            <td>
                                <a href="javascript:applicantInfo('8a85932a25bfb3270125bfb32b30120e','8a85932a25bfce2c0125bfce534602a0','CGC')">

                                    xxxx(6)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>LUN xx xx</td>
                            <td>M</td>
                            <td>TD</td>
                            <td>24/12/2003</td>
                            <td></td>
                            <td></td>

                            <td></td>

                        </tr>

                        <tr>




                            <td>
                                <a href="javascript:applicantInfo('8a85932a25bfb3270125bfb32b301211','8a85932a25bfce2c0125bfce534602a0','CGC')">

                                    B7xxxxx3(4)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>WONG Sue Toa Stewart</td>
                            <td>M</td>
                            <td>TD</td>
                            <td>23/08/2004</td>
                            <td></td>
                            <td></td>

                            <td></td>

                        </tr>

                        <tr class="grid-alt-item">



                            <td>
                                <a href="javascript:applicantInfo('8a85932a25bfb3270125bfb32b301212','8a85932a25bfce2c0125bfce534602a0','CGC')">

                                    Exxx9(6)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>TAI Sai Ho</td>
                            <td>M</td>
                            <td>TD</td>
                            <td>23/08/2004</td>
                            <td></td>
                            <td></td>

                            <td></td>

                        </tr>

                        <tr>




                            <td>
                                <a href="javascript:applicantInfo('8a8591a2385bbf170138e031608b0122','8a85932a25bfce2c0125bfce534602a0','CGC')">

                                    G538978(9)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>HO Chi Tong</td>
                            <td>M</td>
                            <td>TD</td>
                            <td>09/08/2013</td>
                            <td></td>
                            <td></td>

                            <td></td>

                        </tr>

                        <tr class="grid-alt-item">



                            <td>
                                <a href="javascript:applicantInfo('8a85932a25bfb3270125bfb32b30120d','8a85932a25bfce2c0125bfce534602a0','CGC')">

                                    D281217(8)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>YUEN Cheuk Kong</td>
                            <td>M</td>
                            <td>TD</td>
                            <td>09/08/2013</td>
                            <td></td>
                            <td></td>

                            <td></td>

                        </tr>

                        <tr style="color :Red;">




                            <td>
                                <a href="javascript:applicantInfo('8a85932a25bfb3270125bfb32b301210','8a85932a25bfce2c0125bfce534602a0','CGC')">

                                    C520730(2)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>TAM Yip Shing</td>
                            <td>M</td>
                            <td>A2</td>
                            <td>23/03/2007</td>
                            <td>07/06/2011</td>
                            <td></td>

                            <td>


                                <img src="images/view_n.gif" alt="Signature Image" border="0">


                            </td>

                        </tr>

                        <tr class="grid-alt-item" style="color :Red;">



                            <td>
                                <a href="javascript:applicantInfo('8a85932a25bfb3270125bfb32b9d14eb','8a85932a25bfce2c0125bfce534602a0','CGC')">

                                    C621632(1)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>LEE Kwok Wing</td>
                            <td>M</td>
                            <td>AS</td>
                            <td>25/07/2008</td>
                            <td>22/05/2009</td>
                            <td></td>

                            <td>


                                <img src="images/view_n.gif" alt="Signature Image" border="0">


                            </td>

                        </tr>

                        <tr style="color :Red;">




                            <td>
                                <a href="javascript:applicantInfo('8a85932a25bfb3270125bfb32b9d1553','8a85932a25bfce2c0125bfce534602a0','CGC')">

                                    E792037(0)
                                </a>
                            </td>

                            <td>Mr</td>
                            <td>WONG Hon Wai Albert</td>
                            <td>M</td>
                            <td>AS</td>
                            <td>14/12/2004</td>
                            <td>09/05/2007</td>
                            <td></td>

                            <td>


                                <img src="images/view_n.gif" alt="Signature Image" border="0">


                            </td>

                        </tr>

                        <tr class="grid-alt-item" style="color :Red;">



                            <td>
                                <a href="javascript:applicantInfo('8a85932a25bfb3270125bfb32b9d150a','8a85932a25bfce2c0125bfce534602a0','CGC')">

                                    E998521(6)
                                </a>
                            </td>

                            <td>Ir</td>
                            <td>LEUNG Cheuk Wa Francis</td>
                            <td>M</td>
                            <td>AS</td>
                            <td>24/12/2003</td>
                            <td>28/02/2009</td>
                            <td></td>

                            <td>


                                <img src="images/view_n.gif" alt="Signature Image" border="0">


                            </td>

                        </tr>

                    </tbody>

                </table>

                <table class="inputTable"><tfoot><tr><td><input name="btnCancel" onclick="loadContentPage('CRM0112')" value="Cancel" type="button"></td></tr></tfoot></table>
                

            </div>
			<br>