

<h3>Registered Inspector &gt; Advanced Search</h3>

<table id="Table3" class="inputTable">

    <tbody>
        <tr>
            <th>File Reference :</th>
            <td><input type="text" name="displayFileReference" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width :200px;" class="inputText"></td>
            <th style="WIDTH : 108px">Registration No. :</th>
            <td><input type="text" name="displayCertificateNo" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width :200px;" class="inputText"></td>
        </tr>
        <tr>
            <th>HKID :</th>
            <td><input type="text" name="displayHkid" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width :200px;" class="inputText"></td>
            <th style="WIDTH : 108px">Passport No.<span class="smallprint"> :</span></th>
            <td><input type="text" name="displayPassport" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width :200px;" class="inputText"></td>
        </tr>
        <tr>
            <th valign="top">Surname :</th>
            <td valign="top"><input type="text" name="displaySurname" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width :200px;" class="inputText"></td>
            <th valign="top">Given Name :</th>
            <td valign="top">
                <input type="text" name="displayGivenName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width :200px;" class="inputText">
            </td>
        </tr>
        <tr>
            <th>Chinese Name :</th>
            <td>
                <input type="text" name="displayChineseName" maxlength="6" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="font-size :10pt;font-weight :bold;width :200px;" class="inputText">
            </td>
            <td colspan="2">
                <span class="smallprint">

                </span>
            </td>
        </tr>
        <tr>
            <th>Address :</th>
            <td>
                <input type="text" name="displayAddress" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width :200px;" class="inputText">
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th valign="top">Services in Building Safety :</th>
            <td valign="top">
                <select name="displayBsItem" id="displayBsItem" style="width :auto">
                    <option value="">-- Select --</option>
                    <option value="8a85932a25bf98d50125bf98d53e0003">1</option>
                    <option value="8a85932a25bf98d50125bf98d53e0005">2</option>
                    <option value="8a85932a25bf98d50125bf98d53e0007">3</option>
                    <option value="8a85932a25bf98d50125bf98d53e0009">4</option>
                    <option value="8a85932a25bf98d50125bf98d53e0001">-</option>
                </select>
            </td>
            <th style="WIDTH : 108px">PNAP :</th>
            <td>
                <select name="displayPNAP" id="displayPNAP" style="width :auto">
                    <option value="">-- Select --</option>
                    <option value="8a8591a23832afa201384fdfebf435e9">BY SMS</option>
                    <option value="8a85932a25bf9e120125bf9e12bc0003">BY EMAIL</option>
                    <option value="8a8591a23832afa201384fe0187035ea">NOT WISH</option>
                    <option value="8a85932a25bf9e120125bf9e12bc0004">N/A</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Sex :</th>
            <td>
                <select name="displayGender" id="displayGender" style="width :auto">
                    <option value="">- Select -</option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                </select>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th valign="top">PRB :</th>
            <td>
                <div>
                    <table> <tbody><tr><td><input class="inputCheckbox" type="checkbox" id="selectedPrb" value="8a85932a25bf9e880125bf9e88f60001" name="selectedPrb"> Architect Registration Board</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="selectedPrb" value="8a85932a25bf9e880125bf9e88f60002" name="selectedPrb"> Engineer Registration Board</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="selectedPrb" value="8a85932a25bf9e880125bf9e88f60005" name="selectedPrb"> Surveyor Registration Board</td></tr></tbody></table>
                </div>
                <script>
                    $(document).ready(function () {
                        $("#sl_prb td").each(function () {
                            if ($(this).text() == " AP AND RSE" || $(this).text() == " ERB (Geotechnical)" || $(this).text() == " ERB (Civil / Structural )") {
                                $(this).closest("tr").remove();
                            }
                        });
                    })
                </script>
            </td>
            <th valign="top">Qualification Code :</th>
            <td>
                <div>
                    <table> <tbody><tr></tr><tr></tr><tr></tr><tr></tr><tr><td><input class="inputCheckbox" type="checkbox" id="selectedQualificationCode" value="8a85934932fb8d6c0132fb927ec20002" name="selectedQualificationCode"> RI(A)</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="selectedQualificationCode" value="8a85934932fb8d6c0132fb9382860003" name="selectedQualificationCode"> RI(E)</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="selectedQualificationCode" value="8a85934932fb8d6c0132fb940cd40004" name="selectedQualificationCode"> RI(S)</td></tr><tr></tr></tbody></table>
                </div>
                <script>
                    $(document).ready(function () {
                        $("#qcode_list td").each(function () {
                            if ($(this).text() != " RI(A)" && $(this).text() != " RI(E)" && $(this).text() != " RI(S)") {
                                $(this).remove();
                            }
                        });
                    });
                </script>
            </td>
        </tr>
        <tr>
            <th valign="top">Disciplines / Divisions :</th>
            <td colspan="3">
                <div>
                    <table> <tbody><tr><td><input class="inputCheckbox" type="checkbox" id="selectedQualificationDetails" value="8a85934932a4a2fc0132a4a79b680002" name="selectedQualificationDetails"> Building (RPE-B)</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="selectedQualificationDetails" value="8a85934932a4a2fc0132a4a806b50003" name="selectedQualificationDetails"> Building Services (Building)(RPE-BS)</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="selectedQualificationDetails" value="8a85934932a4a2fc0132a4a8783c0004" name="selectedQualificationDetails"> Civil (RPE-C)</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="selectedQualificationDetails" value="8a85934932a4a2fc0132a4a8eacc0005" name="selectedQualificationDetails"> Materials (Building)(RPE-M)</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="selectedQualificationDetails" value="8a85934932a4a2fc0132a4a967300006" name="selectedQualificationDetails"> Structural (RPE-S)</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="selectedQualificationDetails" value="8a85934932a4a2fc0132a4a9d6f10007" name="selectedQualificationDetails"> Building Surveying (RPS-B)</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="selectedQualificationDetails" value="8a85934932a4a2fc0132a4aa1fc20008" name="selectedQualificationDetails"> Quantity Surveying (RPS-Q)</td></tr></tbody></table>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <input type="button" name="btnSearch" value="Search" onclick="searchForm()" id="btnSearch" accesskey="S">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" name="btnReset" value="Reset" onclick="loadContentPage('CRM0111')" id="btnReset">
            </td>

        </tr>
        <tr>
            <td colspan="2"><span id="lblMsg" style="color :Crimson;"></span></td>
        </tr>
    </tfoot>
</table>

















<script>
    function recordView(recordUUID) {
        thisForm = document.getElementById('professionalSearchForm');
        thisForm.action = 'searchIP.do?method=ViewProfessional&recordUUID=' + recordUUID;
        thisForm.submit();
    }
    function setPrevPage() {
        thisForm = document.getElementById('professionalSearchForm');
        thisForm.action = 'searchIP.do?method=SetPage&page=-1#contentList'
        thisForm.submit();
    }
    function setNextPage() {
        thisForm = document.getElementById('professionalSearchForm');
        thisForm.action = 'searchIP.do?method=SetPage&page=1#contentList'
        thisForm.submit();
    }
    function setSort(orderby, seq, prevOrder) {
        if (seq == "desc" || (orderby != prevOrder && prevOrder != "")) {
            seq = "asc";
        } else {
            seq = "desc";
        }
        thisForm = document.getElementById('professionalSearchForm');
        thisForm.action = 'searchIP.do?method=SearchRI&pageNumber=0&orderBy=' + orderby + '&seq=' + seq + '#contentList';
        thisForm.submit();
    }
</script>

<a name="contentList"></a>
<input type="hidden" name="searchFileReference" value="" id="searchFileReference">
<input type="hidden" name="searchCertificateNo" value="" id="searchCertificateNo">
<input type="hidden" name="searchHkid" value="" id="searchHkid">
<input type="hidden" name="searchPassport" value="" id="searchPassport">
<input type="hidden" name="searchGender" value="" id="searchGender">
<input type="hidden" name="searchChineseName" value="" id="searchChineseName">
<input type="hidden" name="searchSurname" value="" id="searchSurname">
<input type="hidden" name="searchGivenName" value="" id="searchGivenName">
<input type="hidden" name="searchPNAP" value="" id="searchPNAP">
<input type="hidden" name="searchBsItem" value="" id="searchBsItem">
<input type="hidden" name="searchDateType" value="" id="searchDateType">
<input type="hidden" name="searchDateFrom" value="" id="searchDateFrom">
<input type="hidden" name="searchDateTo" value="" id="searchDateTo">
<input type="hidden" name="searchIsKeyword" value="N" id="searchIsKeyword">
<input type="hidden" name="searchAddress" value="" id="searchAddress">
<input type="hidden" name="searchCategoryCode" value="" id="searchCategoryCode">
<input type="hidden" name="oldForm" value="RI" id="oldForm">

<input type="hidden" name="maxPage" value="27" id="maxPage">
<input type="hidden" name="orderBy" value="certification_no" id="orderBy">
<input type="hidden" name="seq" value="asc" id="seq">

<table id="CRMHideDiv" class="resultTable hide">
    <thead>

        <tr class="grid-header" style="height :19px;">
            <th style="width :200px">                      File Reference</th>
            <th style="width :250px">      Name</th>
            <th style="width :100px">          Category</th>
            <th style="width :200px">          Registration No.</th>

        </tr>
    </thead>
    <tbody>
        <tr class="grid-alt-item">



            <td><a href='javascript:loadContentPage("CRM0111a")'>R 1/85</a></td>

            <td>LO xx xx</td>
            <td>RI(A)</td>
            <td>RI(A) 1/85</td>

        </tr>

        <tr>



            <td><a href='javascript:loadContentPage("CRM0111a")'>R 1/89</a></td>

            <td>TAM xx xx</td>
            <td>RI(A)</td>
            <td>RI(A) 1/89</td>

        </tr>

        <tr class="grid-alt-item">



            <td><a href='javascript:loadContentPage("CRM0111a")'>R 10/03</a></td>

            <td>TONG xx xx</td>
            <td>RI(A)</td>
            <td>RI(A) 10/03</td>

        </tr>

        <tr>



            <td><a href='javascript:loadContentPage("CRM0111a")'>R 101/89</a></td>

            <td>CHAN xx xx</td>
            <td>RI(A)</td>
            <td>RI(A) 101/89</td>

        </tr>

        <tr class="grid-alt-item">



            <td><a href='javascript:loadContentPage("CRM0111a")'>R 102/76</a></td>

            <td>KWONG xx xx</td>
            <td>RI(A)</td>
            <td>RI(A) 102/76</td>

        </tr>

        <tr>



            <td><a href='javascript:loadContentPage("CRM0111a")'>R 103/90</a></td>

            <td>CHAN xx xx</td>
            <td>RI(A)</td>
            <td>RI(A) 103/90</td>

        </tr>

        <tr class="grid-alt-item">



            <td><a href='javascript:loadContentPage("CRM0111a")'>R 104/99</a></td>

            <td>BILLSON xx xx</td>
            <td>RI(A)</td>
            <td>RI(A) 104/99</td>

        </tr>

        <tr>



            <td><a href='javascript:loadContentPage("CRM0111a")'>R 105/99</a></td>

            <td>LEUNG xx xx</td>
            <td>RI(A)</td>
            <td>RI(A) 105/99</td>

        </tr>

        <tr class="grid-alt-item">



            <td><a href='javascript:loadContentPage("CRM0111a")'>R 106/76</a></td>

            <td>CHU xx xx</td>
            <td>RI(A)</td>
            <td>RI(A) 106/76</td>

        </tr>

        <tr>



            <td><a href='javascript:loadContentPage("CRM0111a")'>R 107/93</a></td>

            <td>POON xx xx </td>
            <td>RI(A)</td>
            <td>RI(A) 107/93</td>

        </tr>





    </tbody>
</table>

                            </div>



