<table id="Table2" style="BORDER-BOTTOM: #dedfde 1px solid" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td style="PADDING-RIGHT: 8px; PADDING-LEFT: 8px" valign="top">
    	<div class="title1"> General Contractor Application &gt; Search Deferral Records</div></td>
  </tr>
  <tr>
    <td style="PADDING-RIGHT: 8px; PADDING-LEFT: 8px" valign="top"><table class="editform" width="750" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
          <td style="WIDTH: 186px"><span id="Label1">Name of Contractor:</span></td>
          <td><input name="txtCompName" value="HANISON INTERIOR &amp; RENOVATION LIMITED" readonly="" id="txtCompName" style="width:496px;" type="text"></td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label3">File Reference :</span></td>
          <td><input name="txtFileRef" value="GBC 1/2002" readonly="" id="txtFileRef" style="width:240px;" type="text"></td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label4"> Candidate :</span></td>
          <td><input name="txtCandidate" value="LAW Sung Him Thomas" readonly="" id="txtCandidate" style="width:240px;" type="text"></td>
        </tr>
        <tr>
          <td><span id="Label5">Post :</span></td>
          <td><input name="txtPost" value="AS" readonly="" id="txtPost" style="width:240px;" type="text"></td>
        </tr>
        <tr>
          <td colspan="4"><hr></td>
        </tr>
        <tr>
          <td><span id="Label22">Applicant Apply Type :</span></td>
          <td><table id="rdlAppStatus" border="0">
              <tbody><tr>
              	<td>
              		<input name="applyStatus" value="A" checked="checked" id="applyStatusA" readonly="" disabled="" type="radio">
				  	<label for="rdlAppStatus_0">Addition</label></td>
                <td>
                	<input name="applyStatus" value="I" id="applyStatusI" readonly="" disabled="" type="radio">
				  	<label for="rdlAppStatus_1">Inclusion</label></td>
                <td>
                 	<input name="applyStatus" value="N" id="applyStatusN" readonly="" disabled="" type="radio">
				  	<label for="rdlAppStatus_2">Renewal</label></td>
                <td>
                 	<input name="applyStatus" value="S" id="applyStatusS" readonly="" disabled="" type="radio">
				  	<label for="rdlAppStatus_3">Restoration</label></td>
                <td>
					<input name="applyStatus" value="D" id="applyStatusD" readonly="" disabled="" type="radio">
					<label for="rdlAppStatus_4">Application after Deferral</label></td>
              </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td><span id="Label12">Interview Date :</span></td>
          <td>
          
          	<input name="interviewDate" value="15/05/2013" id="interviewDate" style="width:150px;" class="inputText" readonly="" type="text">
	      </td>
        </tr>
        <tr>
          <td><span id="Label11">CRC :</span></td>
          <td>
          	<input name="crcName" value="03" style="width:240px;" class="inputText" readonly="" type="text">
          </td>
        </tr>
        <tr>
          <td style="HEIGHT: 23px"><span id="Label13">Secretary :</span></td>
          <td style="HEIGHT: 23px">
          	<input name="secretary" value="BS/REG2" style="width:240px;" class="inputText" readonly="" type="text">
     	  </td>
        </tr>
        <tr>
          <td><span id="Labelss">Assistant :</span></td>
          <td>
          	<input name="assistant" value="" style="width:240px;" class="inputText" readonly="" type="text">
          </td>
        </tr>
        <tr>
          <td><span id="Label2">Type of Application :</span></td>
          <td><input name="applicationForm" value="BA2C" style="width:150px;" class="applicationForm" readonly="" type="text">
          </td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label15">Nature :</span></td>
          <td><input name="nature" value="N" style="width:80px;" class="nature" readonly="" type="text">
           </td>
        </tr>
      </tbody></table>
      <table class="editform" width="750" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
          <td style="WIDTH: 186px"><span id="Label6">Received Date :</span></td>
          <td>
          	<input name="receivedDate" value="17/05/2012" id="receivedDate" style="width:150px;" class="inputText" readonly="" type="text">
          </td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label23">BA2 10-Day Pledge Date of Initial Reply :</span></td>
          <td>
          	<input name="pledgeInitialDate" value="" id="pledgeInitialDate" style="width:150px;" class="inputText" readonly="" type="text">
          </td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label8">Date of 3-alternative Letter :</span></td>
          <td>
          	<input name="alternativeLetterDate" value="" id="alternativeLetterDate" style="width:150px;" class="inputText" readonly="" type="text">
          </td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label9">Subsequent to 3-Alt. :</span></td>
          <td>
          	<input name="subsequentDate" value="" id="subsequentDate" style="width:150px;" class="inputText" readonly="" type="text">
          </td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label10">Date of Preliminary Letter :</span></td>
          <td>
          	<input name="preliminaryLetterDate" value="" id="preliminaryLetterDate" style="width:150px;" class="inputText" readonly="" type="text">
          </td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label14">Date of Result Letter :</span></td>
         <td>
          	<input name="resultLetterDate" value="09/08/2013" id="resultLetterDate" style="width:150px;" class="inputText" readonly="" type="text">
          </td>
        </tr>
      </tbody></table>
      <table class="editform" width="750" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
          <td style="WIDTH: 186px"><span id="Label16">Interview Result :</span></td>
          <td><input name="interviewResult" value="DEFERRED" id="subsequentDate" style="width:200px;" class="inputText" readonly="" type="text">
       		</td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label17">Initial Reply :</span></td>
          <td>
           	<input name="initialReply" maxlength="3" value="0" onfocus="inputMaskOnFocus(this, event, 'N')" disabled="disabled" style="width:50px;" class="inputText" readonly="" type="text">days from Received Date</td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label18">Interview :</span></td>
          <td>
          <input name="interview" maxlength="3" value="363" onfocus="inputMaskOnFocus(this, event, 'N')" disabled="disabled" style="width:50px;" class="inputText" readonly="" type="text">days from Received Date</td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label19">Result Letter :</span></td>
          <td> <input name="resultLetter" maxlength="3" value="449" onfocus="inputMaskOnFocus(this, event, 'N')" disabled="disabled" style="width:50px;" class="inputText" readonly="" type="text">days from Received Date</td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label24">End of Defer Date :</span></td>
          <td>
           	<input name="deferDate" value="06/12/2013" id="deferDate" style="width:150px;" class="inputText" readonly="" type="text">
           </td>
        </tr>
        <tr>
          <td style="WIDTH: 186px"><span id="Label20">Date of Certificate Issued :</span></td>
          <td> 	<input name="certificateIssuedDate" value="" id="certificateIssuedDate" style="width:150px;" class="inputText" readonly="" type="text">
     	</td>
        </tr>
        <tr>
          <td style="WIDTH: 186px" valign="top"><span id="Label21">Remarks :</span></td>
          <td>
          		<textarea name="remarks" rows="5" style="width:450px;" class="inputTextarea" readonly="">Letter [2] on 5/3/2013</textarea>
		</td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td class="editfooter" colspan="4">
            <input name="btnCancel" id="btnCancel" value="Finish" onclick="CancelClick()" type="button">
            </td>
        </tr>
      </tbody></table></td>
  </tr>
</tbody></table>