@model MWMS2.Areas.MWProcessing.Models.Fn10RPT_SFMWModel

<div class="panelHeader">
    Search Criteria
</div>
<div id="searchCriteria">
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m12 s12">Received Date :</div>
            <div class="w3-col l9 m12 s12">
                From
                @Html.TextBoxFor(m => m.ReceivedDateFrom, new { @class = "inputDate" })
                To
                @Html.TextBoxFor(m => m.ReceivedDateaTo, new { @class = "inputDate" })
            </div>
        </div>

    </div>

    <div class="w3-container footer">
        <button class="searchButton btn btn-default" type="button">View Report</button>
    </div>

</div>

<br />


<div id="resultPanel"></div>

<script type="text/javascript">
    domReady(function () {
        new searcher({
            searchPath: "Search"
            , exportPath: "Excel"
            , searchTable: "searchCriteria"
            , resultPanel: "resultPanel"
            , Columns: [
              { displayName: "DSN", columnName: "DSN" }
            , { displayName: "Form No.", columnName: "FORM_NO" }
            , { displayName: "MW No.", columnName: "MW_NO" }
            , { displayName: "MW items", columnName: "MW_ITEM" }
            , { displayName: "Received Date", columnName: "RECEIVED_DATE" }
            , { displayName: "PBP", columnName: "PBP_NO" }
            , { displayName: "PRC", columnName: "PRC_NO" }
            //    {
            //        displayName:"Date",columnName:"DT"
            //    }
            //    , {
            //        displayName:"Time",columnName:"T"
            //    }
            //    , {
            //        displayName:"Document S/N",columnName:"DSN"
            //    }
            //    , {
            //        displayName:"Ref. No.",columnName:"RECORD_ID"
            //    }
            //    , {
            //        displayName:"Status",columnName:"STATUS"
            //    }
            ]
        }).goToPage();
    });
</script>
