
    <div >
        <table class="inputTable">
            <thead>
                <tr>
                    <th colspan="4" class="sTh1">Criteria</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th style="width:130px"> Type of Document :</th>
                    <td>
                        <select name="documentType" style="width:auto">

                            <option selected="'selected'" value="">
                                -All-
                            </option>

                            <option value="Incoming">
                                Incoming
                            </option>

                            <option value="Outgoing">
                                Outgoing
                            </option>

                        </select>
                    </td>
                    <th style="width:130px">DSN :</th>
                    <td>
                        <input type="text" style="width:120px;" name="dsnNo" id="dsnNo" value="">
                    </td>

                </tr>
                <tr>
                    <th style="width:130px">Related Ref. No. :</th>
                    <td>
                        <select name="relatedRefNoID" style="width:auto">

                            <option selected="'selected'" value="">
                                -All-
                            </option>

                            <option value="MW">
                                MW
                            </option>

                            <option value="VS">
                                VS
                            </option>

                            <option value="Enq">
                                Enq
                            </option>

                            <option value="Com">
                                Com
                            </option>

                        </select>
                    </td>

                    <th>Period :</th>
                    <td style="white-space:nowrap">
                        From
                        <input type="text" id="fromDate" name="fromDate" value="" class="inputDate" title="to:toDate" readonly=""> To
                        <input type="text" id="toDate" name="toDate" value="" class="inputDate" title="from:fromDate" readonly="">
                    </td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">
                        <input class="inputButton" type="button" id="btnGenerate" name="btnGenerate" value="Generate" onclick="loadContentPage('PEM0906a')">
                        <input class="inputButton" type="button" id="btnGenerate2" name="btnGenerate2" value="Export" onclick="exportExcel('PEM0906aTable')">
                    </th>
                </tr>
            </tfoot>
        </table>
                                  


    </div>

    <div id="PEMHideDiv" class="hide">
        <table id="PEM0906aTable" class="resultTable">
            <thead>
                <tr>
                    <th rowspan="2">DSN </th>
                    <th rowspan="2" width="100">Ref No. </th>
                    <th rowspan="2">R&amp;D Outgoing(Date/Time) </th>
                    <th rowspan="2">MWU Incoming(Date/Time)</th>
                    <th colspan="2">Sorting </th>
                    <th colspan="2">Case Handling </th>
                    <th colspan="2">Action Completion</th>
                </tr>


                <tr>
                    <th>Date/ Time </th>
                    <th>Handling Officer </th>
                    <th>Date/ Time </th>
                    <th>Handling Officer</th>
                    <th>Date/ Time </th>
                    <th>Handling Officer</th>
                </tr>
            </thead>
            <tbody>


                <tr>


                    <td>D0000365013 </td>
                    <td>MW130903506 &nbsp;</td>
                    <td>1/11/2013 11:00 &nbsp;</td>
                    <td>1/11/2013 11:26 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>



                <tr>



                    <td>D0000503650 </td>
                    <td>MW140704869 &nbsp;</td>
                    <td>24/7/2014 10:09 &nbsp;</td>
                    <td>24/7/2014 10:54 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>




                <tr>


                    <td>D0000503651 </td>
                    <td>MW140704870 &nbsp;</td>
                    <td>24/7/2014 10:33 &nbsp;</td>
                    <td>24/7/2014 10:54 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>



                <tr>



                    <td>D0000528796 </td>
                    <td>MW140905418 &nbsp;</td>
                    <td>29/9/2014 11:27 &nbsp;</td>
                    <td>29/9/2014 11:37 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>




                <tr>


                    <td>D0000528798 </td>
                    <td>MW140901819 &nbsp;</td>
                    <td>29/9/2014 11:28 &nbsp;</td>
                    <td>29/9/2014 11:37 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>



                <tr>



                    <td>D0000568816 </td>
                    <td>MW140903506 &nbsp;</td>
                    <td>13/1/2015 10:46 &nbsp;</td>
                    <td>13/1/2015 11:58 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>




                <tr>


                    <td>D0000655077 </td>
                    <td>MW150905001 &nbsp;</td>
                    <td>24/9/2015 09:15 &nbsp;</td>
                    <td>24/9/2015 11:24 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>



                <tr>



                    <td>D0000655079 </td>
                    <td>MW150905022 &nbsp;</td>
                    <td>24/9/2015 09:57 &nbsp;</td>
                    <td>24/9/2015 11:24 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>




                <tr>


                    <td>D0000655081 </td>
                    <td>MW150905023 &nbsp;</td>
                    <td>24/9/2015 10:45 &nbsp;</td>
                    <td>24/9/2015 11:24 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>



                <tr>



                    <td>D0000655548 </td>
                    <td>MW150905022 &nbsp;</td>
                    <td>25/9/2015 14:32 &nbsp;</td>
                    <td>25/9/2015 14:54 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>




                <tr>


                    <td>D0000655883 </td>
                    <td>MW150903047 &nbsp;</td>
                    <td>29/9/2015 11:46 &nbsp;</td>
                    <td>29/9/2015 14:56 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>



                <tr>



                    <td>D0000656082 </td>
                    <td>MW150904990 &nbsp;</td>
                    <td>29/9/2015 14:13 &nbsp;</td>
                    <td>29/9/2015 14:57 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>




                <tr>


                    <td>D0000656083 </td>
                    <td>MW150904989 &nbsp;</td>
                    <td>29/9/2015 14:20 &nbsp;</td>
                    <td>29/9/2015 14:56 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>



                <tr>



                    <td>D0000724716 </td>
                    <td>MW160303546 &nbsp;</td>
                    <td>10/5/2016 12:23 &nbsp;</td>
                    <td>10/5/2016 13:36 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>




                <tr>


                    <td>D0000727540 </td>
                    <td>MW160504568 &nbsp;</td>
                    <td>17/5/2016 12:06 &nbsp;</td>
                    <td>17/5/2016 12:21 &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>

            </tbody>
        </table>
        </div>