




<table class="inputTable">
    <thead>
        <tr><th colspan="2" class="sTh1">Search Criteria</th></tr>
    </thead>
    <tbody>

        <tr>
            <th>DSN :</th>
            <td class="fField">
                <input type="text" class="inputText" name="dsnNo" value="">
            </td>
        </tr>
        <tr>
            <th rowspan="2">Document Scan Date Period :</th>
            <td class="fField">
                From
                <input type="text" class="inputDate"  id="fromDate" name="fromDate" value="1/10/2018" title="to:toDate" readonly="">
            </td>
            
        </tr>
        <tr>
          
            <td>
                To
                <input type="text"class="inputDate" id="toDate" name="toDate" value="15/10/2018" title="from:fromDate" readonly="">
            </td>
        </tr>
    </tbody>
    <tfoot><tr><th colspan="2">
    <input class="inputButton" type="button" id="" name="" value="Generate" onclick="eSubmissionReportSearch()">
    <input class="inputButton" type="button" id="" name="" value="Export" onclick="eSubmissionReportExport()">


</th></tr></tfoot>
</table>
