
            <font color="#FF0000">Please select Period.</font>

            <table class="inputTable">
                <thead>
                    <tr>
                        <th colspan="4">Search Criteria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th >Type of Report  :</th>
                        <td>
                            <select name="reportType" style="width:auto">

                                <option selected="'selected'" value="">-All-</option>

                                <option value="MW">Minor Works</option>

                                <option value="VS">Validation Scheme</option>

                                <option value="Enq">Enquiry</option>

                                <option value="Com">Complaint</option>

                            </select>


                        </td>
                    
                        <th rowspan="2" >Class of Minor Works :</th>
                        <td rowspan="2">
                            <select name="classCode" style="width:auto">

                                <option selected="'selected'" value="">-All-</option>

                                <option value="CLASS_I">Class I</option>

                                <option value="CLASS_II">Class II</option>

                                <option value="CLASS_III">Class III</option>

                            </select>


                        </td>
                    
                    </tr>
                    <tr>
                        <th>Period :</th>
                        <td style="white-space:nowrap">
                            From
                            <input type="text" class="inputDate" id="fromDate" name="fromDate" value="31/12/2017" title="to:toDate" readonly="">
                            To
                            <input type="text" class="inputDate" id="toDate" name="toDate" value="" title="from:fromDate" readonly="">
                        </td>
                    </tr>
                </tbody>
                <tfoot><tr><th colspan="4">
    <input class="inputButton" type="button" id="" name="" value="Export to Excel"  onclick="exportExcel('PEM0901Table')">
</th></tr></tfoot>
            </table>
      
        
        <div id="PEMHideDiv" class="hide">
            <table id="PEM0901Table" class="resultTable">
                <thead>
                    <tr>
                        <th  style="width: 100px"><b>Received Date</b></th>
                        <th  style="width: 100px"><b>Submission No.</b></th>
                        <th  style="width: 80px"><b>Form No.</b></th>
                        <th ><b>Status</b></th>
                        <th  style="width: 100px"><b>Handling Officer</b></th>
                        <th  style="width: 100px"><b>PO Handling Officer</b></th>
                        <th  style="width: 100px"><b>SPO Handling Officer</b></th>
                        <th  style="width: 120px"><b>Acknowledgement Date</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td >4/6/2018&nbsp;</td>
                        <td >MW180600008&nbsp;</td>
                        <td >MW01&nbsp;</td>
                        <td >Verification in Progress&nbsp;</td>
                        <td >Andrew Ng&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>

                    <tr >
                        <td >24/7/2018&nbsp;</td>
                        <td >MW180700002&nbsp;</td>
                        <td >MW01&nbsp;</td>
                        <td >Verification in Progress&nbsp;</td>
                        <td >LF WU&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>

                    <tr >
                        <td >24/7/2018&nbsp;</td>
                        <td >MW180700003&nbsp;</td>
                        <td >MW01&nbsp;</td>
                        <td >Verification(SSP) in Progress&nbsp;</td>
                        <td >Tony Kwok&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>

                    <tr >
                        <td >24/7/2018&nbsp;</td>
                        <td >MW180700003&nbsp;</td>
                        <td >MW01&nbsp;</td>
                        <td >Verification in Progress&nbsp;</td>
                        <td >WONG Chung Yin&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>

                    <tr >
                        <td >20/9/2018&nbsp;</td>
                        <td >MW180900004&nbsp;</td>
                        <td >MW01&nbsp;</td>
                        <td >Acknowledgement in Progress&nbsp;</td>
                        <td >Tony Kwok&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>

                    <tr >
                        <td >24/9/2018&nbsp;</td>
                        <td >MW180900006&nbsp;</td>
                        <td >MW01&nbsp;</td>
                        <td >Verification in Progress&nbsp;</td>
                        <td >Amy Wong&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>

                </tbody>
            </table>
</div>