
    <form id="monthlyForm" name="monthlyForm" method="post" action="">

        <input type="hidden" name="fromDate" value="10/10/2017">
        <input type="hidden" name="toDate" value="2/10/2018">
        <input type="hidden" name="handleOfficer" value="">

        <!--<div class="bodyCttDiv">
            <div class="nav">Home &gt; Reports &gt; AFC Progress Report</div>-->

            <div class="PrintArea">


                <h3>
                    AFC Progress Report
                    <font size="2">(known as "Submission Progress Report" before 2014) </font>
                </h3>
                <div class="sList">
                    <table id="PEM0903aTable" class="resultTable">
                        <thead>
                            <tr>
                                <th class="sTh" style="width: 100px"><b>Received Date</b></th>
                                <th class="sTh" style="width: 100px"><b>Submission No.</b></th>
                                <th class="sTh" style="width: 80px"><b>Form No.</b></th>
                                <th class="sTh"><b>Status</b></th>
                                <th class="sTh" style="width: 100px"><b>Handling Officer</b></th>
                                <th class="sTh" style="width: 100px"><b>PO Handling Officer</b></th>
                                <th class="sTh" style="width: 100px"><b>SPO Handling Officer</b></th>
                                <th class="sTh" style="width: 120px"><b>Acknowledgement Date</b></th>
                            </tr>
                            </thead>
                        <tbody>
                            <tr class="sRow1">
                                <td class="sCell">4/6/2018&nbsp;</td>
                                <td class="sCell">MW180600008&nbsp;</td>
                                <td class="sCell">MW01&nbsp;</td>
                                <td class="sCell">Verification in Progress&nbsp;</td>
                                <td class="sCell">xx Ng&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">24/7/2018&nbsp;</td>
                                <td class="sCell">MW180700002&nbsp;</td>
                                <td class="sCell">MW01&nbsp;</td>
                                <td class="sCell">Verification in Progress&nbsp;</td>
                                <td class="sCell">xx WU&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">24/7/2018&nbsp;</td>
                                <td class="sCell">MW180700003&nbsp;</td>
                                <td class="sCell">MW01&nbsp;</td>
                                <td class="sCell">Verification(SSP) in Progress&nbsp;</td>
                                <td class="sCell">xx Kwok&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">24/7/2018&nbsp;</td>
                                <td class="sCell">MW180700003&nbsp;</td>
                                <td class="sCell">MW01&nbsp;</td>
                                <td class="sCell">Verification in Progress&nbsp;</td>
                                <td class="sCell">WONG xx xx&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">20/9/2018&nbsp;</td>
                                <td class="sCell">MW180900004&nbsp;</td>
                                <td class="sCell">MW01&nbsp;</td>
                                <td class="sCell">Acknowledgement in Progress&nbsp;</td>
                                <td class="sCell">xx Kwok&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">24/9/2018&nbsp;</td>
                                <td class="sCell">MW180900006&nbsp;</td>
                                <td class="sCell">MW01&nbsp;</td>
                                <td class="sCell">Verification in Progress&nbsp;</td>
                                <td class="sCell">xx Wong&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <table class="inputTable"><tfoot><tr>
                                                 <td>
                                                     <input class="inputButton" type="button" id="btnPrint" name="btnPrint" value="Print" onclick="printReport()">
                                                     <input class="inputButton" type="button" id="btnBack" name="btnBack" value="Back" onclick="loadContentPage('PEM0903')">
                                                 </td></tr></tfoot></table>
    </form>
       


