


<div class="sList">

    <table class="inputTable">
        <thead>
            <tr><th colspan="2">Search Criteria</th></tr>
        </thead>
        <tbody>
            <tr>
                <th>Commencement Date :</th>
                <td style="white-space:nowrap">
                    From
                    <input id="fromDate" name="fromDate" class="inputDate" type="text" value="" " title="to:toDate" readonly="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    To
                    <input id="toDate" name="toDate" class="inputDate" type="text" value="" " title="from:fromDate" readonly="">

                </td>
            </tr>
            <tr>
                <th>Received Date :</th>
                <td style="white-space:nowrap">
                    From
                    <input id="fromReceivedDate" name="fromReceivedDate" class="inputDate" type="text" value=""title="to:toReceivedDate" readonly="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    To
                    <input id="toReceivedDate" name="toReceivedDate" class="inputDate" type="text" value=""   title="from:fromReceivedDate" readonly="">

                </td>
            </tr>
            <tr>
                <th style="width:130px">Form Type :</th>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="formTypeMW01" name="formTypeMW01">
                    <label for="formTypeMW01">MW01</label>
                    <input type="checkbox" id="formTypeMW03" name="formTypeMW03">
                    <label for="formTypeMW03">MW03</label>
                </td>
            </tr>
            <tr>
                <th style="width:290px">Status of Corresponding Form MW02/MW04 :</th>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="staus0204Ack" value="Y" checked="">
                    <label for="staus0204Ack">Acknowledged</label>
                    <input type="checkbox" name="staus0204NoSub" value="Y" checked="">
                    <label for="staus0204NoSub">No Submission</label>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="staus0204Pro" value="Y" checked="">
                    <label for="staus0204Pro">Processing</label>
                    <input type="checkbox" name="staus0204Ref" value="Y" checked="">
                    <label for="staus0204Ref">Refused</label>
                </td>
            </tr>




            <tr>
                <th style="width:130px">PBP Reg. :</th>

                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" name="pbp" id="pbp" ">
                </td>
            </tr>
            <tr>
                <th style="width:130px">PRC Reg. :</th>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" name="prc" id="prc" ">
                </td>
            </tr>
        </tbody>
        <tfoot><tr><th colspan="2">
    <input value="Search" class="inputButton" id="searchButton" type="button"  onclick="DelHideClass()">
    <input value="Export" class="inputButton" id="searchButton" type="button"  onclick="exportExcel('PEMHideDiv')">
</th></tr></tfoot>
       
    </table>


    <table id="PEMHideDiv" class="resultTable hide">
        <thead>
            <tr>
                <th colspan="5">
                    Time elapsed from the Date of Commencement:  &gt; 12 months (No. of Submissions: 52)
                </th>
            </tr>
            <tr>
                <th>Form Type</th>
                <th>MW No.</th>
                <th>Date of Receive</th>
                <th>Date of Commencement</th>
                <th>Status of Corresponding Form MW02/MW04</th>
            </tr>
        </thead>


        <tbody>
            <tr>
                <td>MW01</td>
                <td>MW121000040</td>
                <td>3/10/2012</td>
                <td>10/10/2012</td>
                <td>No Submission</td>
            </tr>

            <tr><td>MW01</td><td>MW121000051</td><td>3/10/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121000104</td><td>28/9/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121000105</td><td>28/9/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121000106</td><td>28/9/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121000107</td><td>28/9/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121000109</td><td>3/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121000110</td><td>3/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121000207</td><td>4/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121000208</td><td>4/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121000255</td><td>4/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121000257</td><td>4/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121001953</td><td>3/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW01</td><td>MW121001992</td><td>17/10/2012</td><td>11/10/2012</td><td>Refused</td></tr>
            <tr><td>MW03</td><td>MW120903487</td><td>26/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903488</td><td>26/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903489</td><td>26/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903667</td><td>27/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903830</td><td>28/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903831</td><td>28/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903833</td><td>28/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903834</td><td>28/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903836</td><td>28/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903838</td><td>28/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903839</td><td>28/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903841</td><td>28/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903843</td><td>28/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW120903845</td><td>28/9/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000031</td><td>3/10/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000032</td><td>3/10/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000033</td><td>3/10/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000034</td><td>3/10/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000035</td><td>3/10/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000036</td><td>3/10/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000038</td><td>3/10/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000118</td><td>3/10/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000141</td><td>3/10/2012</td><td>10/10/2012</td><td>Refused</td></tr>
            <tr><td>MW03</td><td>MW121000153</td><td>3/10/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121003586</td><td>29/10/2012</td><td>10/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000026</td><td>3/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000126</td><td>3/10/2012</td><td>11/10/2012</td><td>Refused</td></tr>
            <tr><td>MW03</td><td>MW121000127</td><td>3/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000128</td><td>3/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000129</td><td>3/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000130</td><td>3/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000201</td><td>4/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000203</td><td>4/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000235</td><td>3/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000434</td><td>5/10/2012</td><td>11/10/2012</td><td>Refused</td></tr>
            <tr><td>MW03</td><td>MW121000435</td><td>5/10/2012</td><td>11/10/2012</td><td>Processing</td></tr>
            <tr><td>MW03</td><td>MW121000439</td><td>4/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
            <tr><td>MW03</td><td>MW121000811</td><td>8/10/2012</td><td>11/10/2012</td><td>No Submission</td></tr>
    </table>

    <table id="PEMHideDiv2" class="resultTable hide">
        <thead>
            <tr><th colspan="5">Time elapsed from the Date of Commencement: 12 months &gt; X  &gt; 9 months (No. of Submissions: 0)</th></tr>
            <tr>


                <td>Form Type</td>
                <td>MW No.</td>
                <td>Date of Receive</td>
                <td>Date of Commencement</td>
                <td>Status of Corresponding Form MW02/MW04</td>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
    <table id="PEMHideDiv3" class="resultTable hide">
        <thead>
            <tr><th colspan="5">Time elapsed from the Date of Commencement: 6 months &gt; X  &gt; 6 months (No. of Submissions: 0)</th></tr>
            <tr>


                <td>Form Type</td>
                <td>MW No.</td>
                <td>Date of Receive</td>
                <td>Date of Commencement</td>
                <td>Status of Corresponding Form MW02/MW04</td>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
    <table id="PEMHideDiv4" class="resultTable hide">
        <thead>
            <tr><th colspan="5">Time elapsed from the Date of Commencement: 12 months &gt; X  &gt; 3 months (No. of Submissions: 0)</th></tr>
            <tr>


                <td>Form Type</td>
                <td>MW No.</td>
                <td>Date of Receive</td>
                <td>Date of Commencement</td>
                <td>Status of Corresponding Form MW02/MW04</td>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
    <table id="PEMHideDiv5" class="resultTable hide">
        <thead>
            <tr><th colspan="5">Time elapsed from the Date of Commencement: 12 months &gt; X  &gt; current (No. of Submissions: 0)</th></tr>
            <tr>


                <td>Form Type</td>
                <td>MW No.</td>
                <td>Date of Receive</td>
                <td>Date of Commencement</td>
                <td>Status of Corresponding Form MW02/MW04</td>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
        </div>




    </div>
