

    <div class="sList">
        <font color="#FF0000">
        </font>
        <table class="inputTable">
            <thead>
                <tr>
                    <th colspan="2" class="sTh1">
                        Search Criteria
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th class="fLabel" style="width: 130px">
                        Class of Minor Works :
                    </th>
                    <td class="fField">
                        <select name="classCode" style="width:auto">

                            <option selected="'selected'" value="">
                                -All-
                            </option>

                            <option value="CLASS_I">
                                Class I
                            </option>

                            <option value="CLASS_II">
                                Class II
                            </option>

                            <option value="CLASS_III">
                                Class III
                            </option>

                        </select>

                        <input type="hidden" name="classCodeList[0].value" value="">
                        <input type="hidden" name="classCodeList[0].label" value="-All-">

                        <input type="hidden" name="classCodeList[1].value" value="CLASS_I">
                        <input type="hidden" name="classCodeList[1].label" value="Class I">

                        <input type="hidden" name="classCodeList[2].value" value="CLASS_II">
                        <input type="hidden" name="classCodeList[2].label" value="Class II">

                        <input type="hidden" name="classCodeList[3].value" value="CLASS_III">
                        <input type="hidden" name="classCodeList[3].label" value="Class III">

                    </td>
                </tr>
                <tr>
                    <th class="fLabel">
                        Period :
                    </th>
                    <td class="fField" style="white-space: nowrap">
                        From
                        <input class="inputDate" type="text" id="fromDate" name="fromDate" value="" title="to:toDate" readonly="">
                        To
                        <input class="inputDate" type="text" id="toDate" name="toDate" value="" title="from:fromDate" readonly="">
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">
                        <input class="inputButton" type="button" id="btnGenerate" name="btnGenerate" value="Generate" onclick="loadContentPage('PEM0907a')">
                        <input class="inputButton" type="button" id="btnGenerate2" name="btnGenerate2" value="Export" onclick="exportExcel('PEM0907aTable')">
                    </th>
                </tr>
            </tfoot>
        </table>
                    
    </div>
 
    <table class="hide" id="PEM0907aTable" >
        <tbody>
            <tr>
                <td class="sTh">Submission No.</td>
                <td class="sTh">Net Increase in Signboard No.</td>
                <td class="sTh">No. of Erection</td>
                <td class="sTh">No. of Alteration</td>
                <td class="sTh">No. of Removal</td>

            </tr>




            <tr class="sRow2">
                <td class="sCell">

                    MW110500667&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW111202292&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW111202293&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW120201419&nbsp;
                </td>
                <td class="sCell">

                    6&nbsp;
                </td>
                <td class="sCell">

                    6&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW120902348&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW110100405&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW110300622&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW110602702&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW111001603&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW111100465&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW111200311&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW111200594&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW111200769&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW111202589&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW120100810&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW120400367&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW120401905&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW120700428&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW120902624&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW121102090&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW140104463&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW140203164&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW150300902&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW150400222&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW151000771&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW151003834&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW160301999&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
            </tr>





            <tr class="sRow1">
                <td class="sCell">

                    MW110500504&nbsp;
                </td>
                <td class="sCell">

                    -1&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>

            </tr>







            <tr class="sRow2">
                <td class="sCell">

                    MW120100934&nbsp;
                </td>
                <td class="sCell">

                    -1&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    0&nbsp;
                </td>
                <td class="sCell">

                    1&nbsp;
                </td>
            </tr>



        </tbody>
    </table>


</body>
</html> 