

               
                    <table class="inputTable">
                        <thead>
                            <tr>
                                <th colspan="4" class="sTh1">Search criteria input</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th >Related Ref. No. :</th>
                                    <td></td>
                                    <th >Status :</th>
                                    <td>Outstanding</td>
                                </tr>
                                <tr>
                                    <th>Received Date :</th>
                                    <td ></td>
                                    <th > Channel of Receipt :</th>
                                    <td>Telephone</td>
                                </tr>
                                                        </tbody>
                                                    </table>
                                            


               <h3>Enquiry Result</h3>
                <div >
                    <table class="resultTable">
                        <thead>
                            <tr>
                                <th >Reference No.</th>
                                <th >Received Date</th>
                                <th >Reply/Action Date</th>
                                <th >Subject Matter</th>
                                <th >Channel of Enquiry</th>
                                <!-- <th  >Action</th> -->
                                <th >Status</th>
                                <th >Handling Officer</th>
                            </tr>
                        <tbody>
                            <tr >
                                <td >
                                    Enq110100010&nbsp;
                                </td>
                                <td >
                                    31/12/2010&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq110100509&nbsp;
                                </td>
                                <td >
                                    18/1/2011&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq110200173&nbsp;
                                </td>
                                <td >
                                    9/2/2011&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq110200334&nbsp;
                                </td>
                                <td >
                                    15/2/2011&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq140902639&nbsp;
                                </td>
                                <td >
                                    17/9/2014&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq151004143&nbsp;
                                </td>
                                <td >
                                    27/10/2015&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq111001908&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq140401867&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq170700011&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq121000004&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;(ICC)
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    TS Leung, admin&nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq170100040&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq110300602&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq140705432&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq161000106&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq150302463&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr >
                                <td >
                                    Enq141205720&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td >
                                    Telephone&nbsp;
                                </td>
                                <td >
                                    Outstanding&nbsp;
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>



            </div>
            <div class="btnSet btnSetTypeA">
                <div class="right">
                    <input class="inputButton" type="button" id="" name="" value="Print" style="width:90px;" onclick="printReport()">
                    <input class="inputButton" type="button" id="" name="" value="Back" style="width:90px;" onclick="loadContentPage('PEM0905')">
                </div>
            </div>
            <!-- InstanceEndEditable -->
        </div>
    </form>
  
       

