

<table class="inputTable">
    <thead>
        <tr><th colspan="2" class="sTh1">Search Criteria</th></tr>
    </thead>
    <tbody>
        <tr>
            <th class="fLabel">Received Date :</th>
            <td class="fField" style="white-space:nowrap">
                From
                <input type="date" class="inputDate" id="fromDate" name="fromDate" value="1/10/2018"title="to:toDate" readonly="">
                To
                <input type="date" class="inputDate" id="toDate" name="toDate" value="15/10/2018"   title="from:fromDate" readonly="">
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <th colspan="2">
                <input class="inputButton" type="button" id="" name="" value="Generate" onclick="DelHideClass()">
                <input class="inputButton" type="button" id="" name="" value="Export" onclick="exportExcel('PEMHideDiv')">

            </th>
        </tr>
    </tfoot>
</table>

<table id="PEMHideDiv" class="resultTable hide">
        <thead>
            <tr>




                <th>Date</th>
                <th>Record Count</th>
                <th>Status</th>
                <th>Able to Export</th>
                <th>Is Batch</th>
            </tr>
        </thead>
        <tbody>
            <tr class="sRow1">
                <td>2017-01&nbsp;</td>
                <td>1&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>Y&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow2">
                <td>2016-07&nbsp;</td>
                <td>315&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>N&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow1">
                <td>2016-07&nbsp;</td>
                <td>30&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>Y&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow2">
                <td>2016-06&nbsp;</td>
                <td>389&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>N&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow1">
                <td>2016-06&nbsp;</td>
                <td>272&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>Y&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow2">
                <td>2016-05&nbsp;</td>
                <td>398&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>N&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow1">
                <td>2016-05&nbsp;</td>
                <td>465&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>Y&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow2">
                <td>2016-04&nbsp;</td>
                <td>285&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>N&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow1">
                <td>2016-04&nbsp;</td>
                <td>394&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>Y&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow2">
                <td>2016-03&nbsp;</td>
                <td>429&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>N&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow1">
                <td>2016-03&nbsp;</td>
                <td>397&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>Y&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow2">
                <td>2016-02&nbsp;</td>
                <td>312&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>N&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow1">
                <td>2016-02&nbsp;</td>
                <td>314&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>Y&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow2">
                <td>2016-01&nbsp;</td>
                <td>512&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>N&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow1">
                <td>2016-01&nbsp;</td>
                <td>445&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>Y&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow2">
                <td>2015-12&nbsp;</td>
                <td>457&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>N&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow1">
                <td>2015-12&nbsp;</td>
                <td>446&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>Y&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow2">
                <td>2015-11&nbsp;</td>
                <td>427&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>N&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow1">
                <td>2015-11&nbsp;</td>
                <td>402&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>Y&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow2">
                <td>2015-10&nbsp;</td>
                <td>152&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>N&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

            <tr class="sRow1">
                <td>2015-10&nbsp;</td>
                <td>133&nbsp;</td>
                <td>Received&nbsp;</td>
                <td>Y&nbsp;</td>
                <td>N&nbsp;</td>

            </tr>

        </tbody>
    </table>
    </div>
    </div>
