
            <div class="PrintArea">
                <div class="sList">
                    <table class="inputTable">
                        <thead>
                            <tr>
                                <th colspan="2" class="sTh1">Search criteria input</th>

                            </tr>
                            </thead>
               <tbody>
                                                            <tr>
                                                                <th class="fLabel" style="width:130px">Class of Minor Works :</th>
                                                                <td class="fField">CLASS_I</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="fLabel">Period :</th>
                                                                <td class="fField" style="white-space:nowrap"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                       
                </div>
                <h3>Submission</h3>
                <div class="sList">
                    <table class="resultTable">
                        <thead>
                            <tr>
                                <th class="sTh">Submission No.</th>
                                <th class="sTh">Net Increase in Signboard No.</th>
                                <th class="sTh">No. of Erection</th>
                                <th class="sTh">No. of Alteration</th>
                                <th class="sTh">No. of Removal</th>

                            </tr>
                            </thead>

                        <tbody>

                            <tr class="sRow2">
                                <td class="sCell">

                                    MW110500667&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW111202292&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW111202293&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW120201419&nbsp;
                                </td>
                                <td class="sCell">

                                    6&nbsp;
                                </td>
                                <td class="sCell">

                                    6&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW120902348&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW110100405&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW110300622&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW110602702&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW111001603&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW111100465&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW111200311&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW111200594&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW111200769&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW111202589&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW120100810&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW120400367&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW120401905&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW120700428&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW120902624&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW121102090&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW140104463&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW140203164&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW150300902&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW150400222&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW151000771&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW151003834&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW160301999&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                            </tr>





                            <tr class="sRow1">
                                <td class="sCell">

                                    MW110500504&nbsp;
                                </td>
                                <td class="sCell">

                                    -1&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>

                            </tr>







                            <tr class="sRow2">
                                <td class="sCell">

                                    MW120100934&nbsp;
                                </td>
                                <td class="sCell">

                                    -1&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    0&nbsp;
                                </td>
                                <td class="sCell">

                                    1&nbsp;
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="btnSet btnSetTypeA">
            <div class="right">
                <input class="inputButton" type="button" id="" name="" value="Print" style="width:90px;" onclick="printReport()">
                <input class="inputButton" type="button" id="" name="" value="Back" style="width:90px;" onclick="loadContentPage('PEM0907')">
            </div>
        </div>
        <!-- InstanceEndEditable -->
    </form>
  
       
