
<table class="inputTable">
                <thead>
                    <tr>
                        <th colspan="4">Search Criteria</th>
                    </tr>
                    </thead>
                  <tbody>
                      <tr>
                          <th style="width:180px">Submission Type :</th>
                          <td>VS</td>
                    
                          <th style="width:180px">Status: :</th>
                          <td>In Progress</td>
                      </tr>

                      <tr>
                          <th>Registration No. of PBP :</th>
                          <td></td>
                      
                          <th>Registration No. of PRC :</th>
                          <td></td>
                      </tr>
                      <tr>
                          <th>English Name of PBP :</th>
                          <td></td>
                      
                          <th>English Name of PRC :</th>
                          <td></td>
                      </tr>
                      <tr>
                          <th>Chinese Name of PBP :</th>
                          <td></td>
                     
                          <th>Chinese Name of PRC :</th>
                          <td></td>
                      </tr>
                  </tbody>
                  <tfoot><tr><td colspan='4'  >
    <input class="inputButton" type="button" id="btnGenerate" name="btnGenerate" value="Back"  onclick="loadContentPage('PEM0904')">
</td></tr></tfoot>
              </table>
                                 
        <h3>Job List</h3>
            <table class="resultTable">
                <thead>
                    <tr>
                        <th class="sTh">Name of PBP/ PRC</th>
                        <th class="sTh">Registration No.</th>
                        <th class="sTh">Ref. No.</th>
                        <th class="sTh">Status</th>
                        <th class="sTh">Location or Address of works</th>
                    </tr>

                    </thead>
                <tbody>

                    <tr class="sRow2">
                        <td class="sCell">

                            xx xx WATERPROOFING &amp; INTERIOR DECORATION, 強xx漏裝修工程&nbsp;
                        </td>
                        <td class="sCell">

                            MWC 2089/2011&nbsp;
                        </td>
                        <td class="sCell">

                            VS131105488&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            FLAT A ON 17/F, xx xx BUILDING, NO. 222 WO xx xx ROAD, KWAI CHUNG, NEW TERRITORIES FLAT A 17/F HOI CHEONG BUILDING NO. 222 WO YIP HOP ROAD&nbsp;
                        </td>
                    </tr>





                    <tr class="sRow1">
                        <td class="sCell">
                            CHOW xx xx, 周xx&nbsp;
                        </td>
                        <td class="sCell">

                            MWC(W) 1372/2011&nbsp;
                        </td>
                        <td class="sCell">

                            VS131103647&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            FLAT B, 11/F, xx xx GARDEN, NO. 77 xx LOK RD, xx FLAT B 11/F GOLDEN DRAGON GARDEN NO. 77 KUNG LOK RD&nbsp;
                        </td>

                    </tr>







                    <tr class="sRow2">
                        <td class="sCell">

                            , &nbsp;
                        </td>
                        <td class="sCell">

                            &nbsp;
                        </td>
                        <td class="sCell">

                            VS130902810&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            UNIT 308, 3/F, 8 xx ROAD, xx xx TEI, xx UNIT 308 3/F  8 JORDAN RD&nbsp;
                        </td>
                    </tr>





                    <tr class="sRow1">
                        <td class="sCell">
                            , &nbsp;
                        </td>
                        <td class="sCell">

                            &nbsp;
                        </td>
                        <td class="sCell">

                            VS130902810&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            UNIT 308, 3/F, 8 xx ROAD, YAU xx TEI, xx UNIT 308 3/F  8 xx RD&nbsp;
                        </td>

                    </tr>







                    <tr class="sRow2">
                        <td class="sCell">

                            , &nbsp;
                        </td>
                        <td class="sCell">

                            &nbsp;
                        </td>
                        <td class="sCell">

                            VS131103647&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            FLAT B, 11/F, xx xxx GARDEN, NO. 77 xx xx RD, KOWLOON FLAT B 11/F xx xx xx NO. 77 xx LOK RD&nbsp;
                        </td>
                    </tr>





                    <tr class="sRow1">
                        <td class="sCell">
                            , &nbsp;
                        </td>
                        <td class="sCell">

                            &nbsp;
                        </td>
                        <td class="sCell">

                            VS131103647&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            FLAT B, 11/F, xx DRAGON xx, NO. 77 xx LOK RD, KOWLOxxxON FLAT B xx/F GOLDEN DRAGON GARDEN NO. 77 KUNG LOK RD&nbsp;
                        </td>

                    </tr>







                    <tr class="sRow2">
                        <td class="sCell">

                            , &nbsp;
                        </td>
                        <td class="sCell">

                            &nbsp;
                        </td>
                        <td class="sCell">

                            VS131105488&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            FLAT A ON 17/F, HOI xxx BUILDING, NO. xx WO x xx ROAD, KWAI xx, NEW xx FLAT A 17/F HOI CHEONG BUILDING NO. 222 WO YIP HOP ROAD&nbsp;
                        </td>
                    </tr>





                    <tr class="sRow1">
                        <td class="sCell">
                            , &nbsp;
                        </td>
                        <td class="sCell">

                            &nbsp;
                        </td>
                        <td class="sCell">

                            VS131105488&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            FLAT A ON xx/F, HOI x BUILDING, NO. xxx xxx YIP HOP ROAD, KWAI CHUNG, NEW TERRITORIES FLAT A 17/F HOI CHEONG BUILDING NO. 222 WO YIP HOP ROAD&nbsp;
                        </td>

                    </tr>







                    <tr class="sRow2">
                        <td class="sCell">

                            , &nbsp;
                        </td>
                        <td class="sCell">

                            &nbsp;
                        </td>
                        <td class="sCell">

                            VS131105488&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            FLAT A ON 17/F, xx xx BUILDING, NO. x WO xx HOP ROAD, xx CHUNG, NEW TERRITORIES FLAT A 17/F HOI xx BUILDING NO. xx xx YIP HOP ROAD&nbsp;
                        </td>
                    </tr>





                    <tr class="sRow1">
                        <td class="sCell">
                            , &nbsp;
                        </td>
                        <td class="sCell">

                            &nbsp;
                        </td>
                        <td class="sCell">

                            VS130902810&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            UNIT x, 3/F, 8 xx ROAD, YAU xx TEI, KOWLOON UNIT xx 3/F  8 JORDAN RD&nbsp;
                        </td>

                    </tr>







                    <tr class="sRow2">
                        <td class="sCell">

                            , &nbsp;
                        </td>
                        <td class="sCell">

                            &nbsp;
                        </td>
                        <td class="sCell">

                            VS130902810&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            UNIT 308, 3/F, 8 xx ROAD, YAU xx TEI, xx UNIT 308 3/F  8 xx RD&nbsp;
                        </td>
                    </tr>





                    <tr class="sRow1">
                        <td class="sCell">
                            , &nbsp;
                        </td>
                        <td class="sCell">

                            &nbsp;
                        </td>
                        <td class="sCell">

                            VS131103647&nbsp;
                        </td>
                        <td class="sCell">

                            In Progress&nbsp;
                        </td>
                        <td class="sCell">

                            FLAT B, 11/F, xx xx GARDEN, NO. 77 xx LOK RD, KOWLOON xx B 11/F GOLDEN xx GARDEN NO. 77 KUNG LOK RD&nbsp;
                        </td>

                    </tr>




                </tbody>
            </table>
  
      