

      

        <div>
            <div class="right">
                <input value="Export" class="inputButton" id="searchButton" type="button" onclick="exportExcel('PEM0910Table')">
                <!--<input value="Export" class="inputButton" id="searchButton" type="button" style="width:80px;" onclick="window.open('http://10.5.17.38:80/pem/export/errorReport.action')">-->
            </div>
        </div><br><br>
        <div class="sList">
            <span style="color:#FF0000"></span>

            <table id="PEM0910Table" class="resultTable">
                <thead>
                    <tr>
                        <th class="sTh1" colspan="3">Duplicate of submitted second entry</th>
                    </tr>

                    <tr>
                        <th  style="width: 200px"><b>DSN</b></th>
                        <th  style="width: 200px"><b>Reference No.</b></th>
                        <th ><b>Number of Submitted</b></th>
                    </tr>
                    </thead>
                <tbody>
                    <tr >
                        <td >D0000023760&nbsp;</td>
                        <td >MW110500277&nbsp;</td>
                        <td >2&nbsp;</td>
                    </tr>

                    <tr class="sRow2">
                        <td >D0000023834&nbsp;</td>
                        <td >MW110600903&nbsp;</td>
                        <td >2&nbsp;</td>
                    </tr>

                    <tr >
                        <td >D0000025890&nbsp;</td>
                        <td >MW110500834&nbsp;</td>
                        <td >2&nbsp;</td>
                    </tr>




                </tbody>
            </table>

        </div>


