
    <form id="reportForm" name="reportForm" method="post" action="">
        <input type="hidden" name="documentType" value="Incoming">
        <input type="hidden" name="dsnNo" value="">
        <input type="hidden" name="fromDate" value="">
        <input type="hidden" name="toDate" value="">
        <input type="hidden" name="relatedRefNoID" value="MW">


        <div class="bodyCttDiv">
            <!-- InstanceBeginEditable name="content" -->

            <div class="PrintArea">
                <div class="sList">
                    <table class="inputTable">
                        <thead>
                            <tr>
                                <th colspan="4">Criteria input for Document Time Record Sheet</th>
                            </tr>
                            </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th >Type of Document :</th>
                                                                <td> Incoming</td>
                                                                <th >DSN :</th>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <th >Related Ref. No. :</th>
                                                                <td > MW</td>
                                                                <th >Period :</th>
                                                                <td >  </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            
                </div>


                <h3>Incoming Document</h3>
                <div class="sList">
                    <table class="resultTable">
                        <thead>
                            <tr>
                                <th class="sTh" rowspan="2">DSN </th>
                                <th class="sTh" rowspan="2" width="100">Ref No. </th>
                                <th class="sTh" rowspan="2">R&amp;D Outgoing(Date/Time) </th>
                                <th class="sTh" rowspan="2">MWU Incoming(Date/Time)</th>
                                <th class="sTh" colspan="2">Sorting </th>
                                <th class="sTh" colspan="2">Case Handling </th>
                                <th class="sTh" colspan="2">Action Completion</th>
                            </tr>
                            <tr>
                                <th class="sTh">Date/ Time </th>
                                <th class="sTh">Handling Officer </th>
                                <th class="sTh">Date/ Time </th>
                                <th class="sTh">Handling Officer</th>
                                <th class="sTh">Date/ Time </th>
                                <th class="sTh">Handling Officer</th>
                            </tr>

                            </thead>
                        <tbody>

                            <tr class="sRow2">


                                <td class="sCell">D0000365013 </td>
                                <td class="sCell">MW130903506 &nbsp;</td>
                                <td class="sCell">1/11/2013 11:00 &nbsp;</td>
                                <td class="sCell">1/11/2013 11:26 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>



                            <tr class="sRow1">



                                <td class="sCell">D0000503650 </td>
                                <td class="sCell">MW140704869 &nbsp;</td>
                                <td class="sCell">24/7/2014 10:09 &nbsp;</td>
                                <td class="sCell">24/7/2014 10:54 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>




                            <tr class="sRow2">


                                <td class="sCell">D0000503651 </td>
                                <td class="sCell">MW140704870 &nbsp;</td>
                                <td class="sCell">24/7/2014 10:33 &nbsp;</td>
                                <td class="sCell">24/7/2014 10:54 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>



                            <tr class="sRow1">



                                <td class="sCell">D0000528796 </td>
                                <td class="sCell">MW140905418 &nbsp;</td>
                                <td class="sCell">29/9/2014 11:27 &nbsp;</td>
                                <td class="sCell">29/9/2014 11:37 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>




                            <tr class="sRow2">


                                <td class="sCell">D0000528798 </td>
                                <td class="sCell">MW140901819 &nbsp;</td>
                                <td class="sCell">29/9/2014 11:28 &nbsp;</td>
                                <td class="sCell">29/9/2014 11:37 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>



                            <tr class="sRow1">



                                <td class="sCell">D0000568816 </td>
                                <td class="sCell">MW140903506 &nbsp;</td>
                                <td class="sCell">13/1/2015 10:46 &nbsp;</td>
                                <td class="sCell">13/1/2015 11:58 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>




                            <tr class="sRow2">


                                <td class="sCell">D0000655077 </td>
                                <td class="sCell">MW150905001 &nbsp;</td>
                                <td class="sCell">24/9/2015 09:15 &nbsp;</td>
                                <td class="sCell">24/9/2015 11:24 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>



                            <tr class="sRow1">



                                <td class="sCell">D0000655079 </td>
                                <td class="sCell">MW150905022 &nbsp;</td>
                                <td class="sCell">24/9/2015 09:57 &nbsp;</td>
                                <td class="sCell">24/9/2015 11:24 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>




                            <tr class="sRow2">


                                <td class="sCell">D0000655081 </td>
                                <td class="sCell">MW150905023 &nbsp;</td>
                                <td class="sCell">24/9/2015 10:45 &nbsp;</td>
                                <td class="sCell">24/9/2015 11:24 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>



                            <tr class="sRow1">



                                <td class="sCell">D0000655548 </td>
                                <td class="sCell">MW150905022 &nbsp;</td>
                                <td class="sCell">25/9/2015 14:32 &nbsp;</td>
                                <td class="sCell">25/9/2015 14:54 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>




                            <tr class="sRow2">


                                <td class="sCell">D0000655883 </td>
                                <td class="sCell">MW150903047 &nbsp;</td>
                                <td class="sCell">29/9/2015 11:46 &nbsp;</td>
                                <td class="sCell">29/9/2015 14:56 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>



                            <tr class="sRow1">



                                <td class="sCell">D0000656082 </td>
                                <td class="sCell">MW150904990 &nbsp;</td>
                                <td class="sCell">29/9/2015 14:13 &nbsp;</td>
                                <td class="sCell">29/9/2015 14:57 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>




                            <tr class="sRow2">


                                <td class="sCell">D0000656083 </td>
                                <td class="sCell">MW150904989 &nbsp;</td>
                                <td class="sCell">29/9/2015 14:20 &nbsp;</td>
                                <td class="sCell">29/9/2015 14:56 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>



                            <tr class="sRow1">



                                <td class="sCell">D0000724716 </td>
                                <td class="sCell">MW160303546 &nbsp;</td>
                                <td class="sCell">10/5/2016 12:23 &nbsp;</td>
                                <td class="sCell">10/5/2016 13:36 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>




                            <tr class="sRow2">


                                <td class="sCell">D0000727540 </td>
                                <td class="sCell">MW160504568 &nbsp;</td>
                                <td class="sCell">17/5/2016 12:06 &nbsp;</td>
                                <td class="sCell">17/5/2016 12:21 &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                                <td class="sCell"> &nbsp;</td>
                            </tr>

                        </tbody>
                    </table>
                </div>



            </div>
            <div class="btnSet btnSetTypeA">
                <div class="right">
                    <input class="inputButton" type="button" id="" name="" value="Print" style="width:90px;" onclick="printReport()">
                    <input class="inputButton" type="button" id="" name="" value="Back" style="width:90px;" onclick="loadContentPage('PEM0906')">
                </div>
            </div>
            <!-- InstanceEndEditable -->
        </div>

    </form>
  
       





</body>
</html> 