
    <table class="inputTable">
        <thead>
            <tr>
                <th colspan="4" >Criteria</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th >Period :</th>
                <td  style="white-space:nowrap">
                    From
                    <input type="text" id="fromDate"class="inputDate" name="fromDate" value=""  title="to:toDate" readonly="">
                    To   
                    <input type="text" id="toDate"class="inputDate" name="toDate" value="" title="from:fromDate" readonly="">
                </td>

                <td  style="width:130px"> Report Format</td>
                <td >Monthly</td>


            </tr>
            <tr>
                <th > Type of Report :</th>
                <td colspan="3">
                    <select name="classCode" style="width:auto">

                        <option selected="'selected'" value="">-All-</option>

                        <option value="Byclass">By Class</option>

                        <option value="ByForm">By Form</option>

                   

                    </select>



                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">
                    <input type="button" id="" name="" value="Generate"  onclick="search()">
                    <input type="button" id="" name="" value="Export"    onclick="search2()">
                </th>
            </tr>
        </tfoot>
    </table>