



<table class="inputTable">
    <thead>
        <tr>
            <th colspan="4">Search Criteria</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <th style="width:130px">Received Date :</th>
            <td>
                <span style="white-space:nowrap">
                    From
                    <input class="inputDate" type="text" id="fromDate" name="fromDate" value=""  title="to:toDate" readonly="">
                    To
                    <input class="inputDate" type="text" id="toDate" name="toDate" value=""  title="from:fromDate" readonly="">
                </span>
            </td>

            <th style="width:130px">Handling Officer :</th>
            <td>
                <select name="handleOfficer"  style="width:auto">

                    <option selected="selected" value="">-All-</option>

                    <option value="-">-</option>

                    <option value="Amy Wong">Amy Wong</option>

                    <option value="Andrew Ng">Andrew Ng</option>

                    <option value="BSSC1 &amp; SESC1">BSSC1 &amp; SESC1</option>

                    <option value="Clement Lee">Clement Lee</option>

                    <option value="Daniel Wong">Daniel Wong</option>

                    <option value="Jack Chan">Jack Chan</option>

                    <option value="Jacky Chung">Jacky Chung</option>

                    <option value="KM Cheung">KM Cheung</option>

                    <option value="KS Lau">KS Lau</option>

                    <option value="Ken Leung">Ken Leung</option>

                    <option value="LEUNG Wing Tai">LEUNG Wing Tai</option>

                    <option value="LF WU">LF WU</option>

                    <option value="PC NG">PC NG</option>

                    <option value="Paul Cheng">Paul Cheng</option>

                    <option value="SESC2 &amp; SESC3">SESC2 &amp; SESC3</option>

                    <option value="SOSC1 &amp; SOSC2">SOSC1 &amp; SOSC2</option>

                    <option value="ST Leung">ST Leung</option>

                    <option value="Steve Ng">Steve Ng</option>

                    <option value="Steven Leung">Steven Leung</option>

                    <option value="TCMW1">TCMW1</option>

                    <option value="TCMW10">TCMW10</option>

                    <option value="TCMW2">TCMW2</option>

                    <option value="TCMW3">TCMW3</option>

                    <option value="TCMW4">TCMW4</option>

                    <option value="TCMW5">TCMW5</option>

                    <option value="TCMW6">TCMW6</option>

                    <option value="TCMW7">TCMW7</option>

                    <option value="TCMW8">TCMW8</option>

                    <option value="TCMW9">TCMW9</option>

                    <option value="TOMW7">TOMW7</option>

                    <option value="TOSC1">TOSC1</option>

                    <option value="TS Leung">TS Leung</option>

                    <option value="Tony Kwok">Tony Kwok</option>

                    <option value="WONG Chung Yin">WONG Chung Yin</option>

                    <option value="Wilson Wan">Wilson Wan</option>

                    <option value="Yu Wai Ho">Yu Wai Ho</option>

                </select>

                <input type="hidden" name="handleOfficerList[0].value" value="">
                <input type="hidden" name="handleOfficerList[0].label" value="-All-">

                <input type="hidden" name="handleOfficerList[1].value" value="-">
                <input type="hidden" name="handleOfficerList[1].label" value="-">

                <input type="hidden" name="handleOfficerList[2].value" value="Amy Wong">
                <input type="hidden" name="handleOfficerList[2].label" value="Amy Wong">

                <input type="hidden" name="handleOfficerList[3].value" value="Andrew Ng">
                <input type="hidden" name="handleOfficerList[3].label" value="Andrew Ng">

                <input type="hidden" name="handleOfficerList[4].value" value="BSSC1 &amp; SESC1">
                <input type="hidden" name="handleOfficerList[4].label" value="BSSC1 &amp; SESC1">

                <input type="hidden" name="handleOfficerList[5].value" value="Clement Lee">
                <input type="hidden" name="handleOfficerList[5].label" value="Clement Lee">

                <input type="hidden" name="handleOfficerList[6].value" value="Daniel Wong">
                <input type="hidden" name="handleOfficerList[6].label" value="Daniel Wong">

                <input type="hidden" name="handleOfficerList[7].value" value="Jack Chan">
                <input type="hidden" name="handleOfficerList[7].label" value="Jack Chan">

                <input type="hidden" name="handleOfficerList[8].value" value="Jacky Chung">
                <input type="hidden" name="handleOfficerList[8].label" value="Jacky Chung">

                <input type="hidden" name="handleOfficerList[9].value" value="KM Cheung">
                <input type="hidden" name="handleOfficerList[9].label" value="KM Cheung">

                <input type="hidden" name="handleOfficerList[10].value" value="KS Lau">
                <input type="hidden" name="handleOfficerList[10].label" value="KS Lau">

                <input type="hidden" name="handleOfficerList[11].value" value="Ken Leung">
                <input type="hidden" name="handleOfficerList[11].label" value="Ken Leung">

                <input type="hidden" name="handleOfficerList[12].value" value="LEUNG Wing Tai">
                <input type="hidden" name="handleOfficerList[12].label" value="LEUNG Wing Tai">

                <input type="hidden" name="handleOfficerList[13].value" value="LF WU">
                <input type="hidden" name="handleOfficerList[13].label" value="LF WU">

                <input type="hidden" name="handleOfficerList[14].value" value="PC NG">
                <input type="hidden" name="handleOfficerList[14].label" value="PC NG">

                <input type="hidden" name="handleOfficerList[15].value" value="Paul Cheng">
                <input type="hidden" name="handleOfficerList[15].label" value="Paul Cheng">

                <input type="hidden" name="handleOfficerList[16].value" value="SESC2 &amp; SESC3">
                <input type="hidden" name="handleOfficerList[16].label" value="SESC2 &amp; SESC3">

                <input type="hidden" name="handleOfficerList[17].value" value="SOSC1 &amp; SOSC2">
                <input type="hidden" name="handleOfficerList[17].label" value="SOSC1 &amp; SOSC2">

                <input type="hidden" name="handleOfficerList[18].value" value="ST Leung">
                <input type="hidden" name="handleOfficerList[18].label" value="ST Leung">

                <input type="hidden" name="handleOfficerList[19].value" value="Steve Ng">
                <input type="hidden" name="handleOfficerList[19].label" value="Steve Ng">

                <input type="hidden" name="handleOfficerList[20].value" value="Steven Leung">
                <input type="hidden" name="handleOfficerList[20].label" value="Steven Leung">

                <input type="hidden" name="handleOfficerList[21].value" value="TCMW1">
                <input type="hidden" name="handleOfficerList[21].label" value="TCMW1">

                <input type="hidden" name="handleOfficerList[22].value" value="TCMW10">
                <input type="hidden" name="handleOfficerList[22].label" value="TCMW10">

                <input type="hidden" name="handleOfficerList[23].value" value="TCMW2">
                <input type="hidden" name="handleOfficerList[23].label" value="TCMW2">

                <input type="hidden" name="handleOfficerList[24].value" value="TCMW3">
                <input type="hidden" name="handleOfficerList[24].label" value="TCMW3">

                <input type="hidden" name="handleOfficerList[25].value" value="TCMW4">
                <input type="hidden" name="handleOfficerList[25].label" value="TCMW4">

                <input type="hidden" name="handleOfficerList[26].value" value="TCMW5">
                <input type="hidden" name="handleOfficerList[26].label" value="TCMW5">

                <input type="hidden" name="handleOfficerList[27].value" value="TCMW6">
                <input type="hidden" name="handleOfficerList[27].label" value="TCMW6">

                <input type="hidden" name="handleOfficerList[28].value" value="TCMW7">
                <input type="hidden" name="handleOfficerList[28].label" value="TCMW7">

                <input type="hidden" name="handleOfficerList[29].value" value="TCMW8">
                <input type="hidden" name="handleOfficerList[29].label" value="TCMW8">

                <input type="hidden" name="handleOfficerList[30].value" value="TCMW9">
                <input type="hidden" name="handleOfficerList[30].label" value="TCMW9">

                <input type="hidden" name="handleOfficerList[31].value" value="TOMW7">
                <input type="hidden" name="handleOfficerList[31].label" value="TOMW7">

                <input type="hidden" name="handleOfficerList[32].value" value="TOSC1">
                <input type="hidden" name="handleOfficerList[32].label" value="TOSC1">

                <input type="hidden" name="handleOfficerList[33].value" value="TS Leung">
                <input type="hidden" name="handleOfficerList[33].label" value="TS Leung">

                <input type="hidden" name="handleOfficerList[34].value" value="Tony Kwok">
                <input type="hidden" name="handleOfficerList[34].label" value="Tony Kwok">

                <input type="hidden" name="handleOfficerList[35].value" value="WONG Chung Yin">
                <input type="hidden" name="handleOfficerList[35].label" value="WONG Chung Yin">

                <input type="hidden" name="handleOfficerList[36].value" value="Wilson Wan">
                <input type="hidden" name="handleOfficerList[36].label" value="Wilson Wan">

                <input type="hidden" name="handleOfficerList[37].value" value="Yu Wai Ho">
                <input type="hidden" name="handleOfficerList[37].label" value="Yu Wai Ho">

            </td>



        </tr>
        <tr>
            <th  style="width:130px">Sort By :</th>
            <td colspan="3">
                <select name="sortBy"style="width:auto">

                    <option value="Received Date">Received Date</option>

                    <option value="Submission No.">Submission No.</option>

                </select>
            </td>
        </tr>
   
    </tbody>
    <tfoot><tr><th colspan="4">
    <input class="inputButton" type="button" id="btnGenerate" name="btnGenerate" value="Generate" onclick="loadContentPage('PEM0903a')">
    <input class="inputButton" type="button" id="btnGenerate2" name="btnGenerate2" value="Export" onclick="exportExcel('PEM0903aTable')">

</th></tr></tfoot>
</table>
                

<div id="PEMHideDiv" class="hide">
    <table id="PEM0903aTable" class="resultTable">
        <thead>
            <tr>
                <th style="width: 100px"><b>Received Date</b></th>
                <th style="width: 100px"><b>Submission No.</b></th>
                <th style="width: 80px"><b>Form No.</b></th>
                <th><b>Status</b></th>
                <th style="width: 100px"><b>Handling Officer</b></th>
                <th style="width: 100px"><b>PO Handling Officer</b></th>
                <th style="width: 100px"><b>SPO Handling Officer</b></th>
                <th style="width: 120px"><b>Acknowledgement Date</b></th>
            </tr>
        </thead>
        <tbody>
            <tr class="sRow1">
                <td class="sCell">4/6/2018&nbsp;</td>
                <td class="sCell">MW180600008&nbsp;</td>
                <td class="sCell">MW01&nbsp;</td>
                <td class="sCell">Verification in Progress&nbsp;</td>
                <td class="sCell">xx Ng&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">24/7/2018&nbsp;</td>
                <td class="sCell">MW180700002&nbsp;</td>
                <td class="sCell">MW01&nbsp;</td>
                <td class="sCell">Verification in Progress&nbsp;</td>
                <td class="sCell">LF xx&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
            </tr>

            <tr class="sRow1">
                <td class="sCell">24/7/2018&nbsp;</td>
                <td class="sCell">MW180700003&nbsp;</td>
                <td class="sCell">MW01&nbsp;</td>
                <td class="sCell">Verification(SSP) in Progress&nbsp;</td>
                <td class="sCell">xx Kwok&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">24/7/2018&nbsp;</td>
                <td class="sCell">MW180700003&nbsp;</td>
                <td class="sCell">MW01&nbsp;</td>
                <td class="sCell">Verification in Progress&nbsp;</td>
                <td class="sCell">WONG xx xx&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
            </tr>

            <tr class="sRow1">
                <td class="sCell">20/9/2018&nbsp;</td>
                <td class="sCell">MW180900004&nbsp;</td>
                <td class="sCell">MW01&nbsp;</td>
                <td class="sCell">Acknowledgement in Progress&nbsp;</td>
                <td class="sCell">Tony xx&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">24/9/2018&nbsp;</td>
                <td class="sCell">MW180900006&nbsp;</td>
                <td class="sCell">MW01&nbsp;</td>
                <td class="sCell">Verification in Progress&nbsp;</td>
                <td class="sCell">xx Wong&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
                <td class="sCell">&nbsp;</td>
            </tr>

        </tbody>
    </table>

</div>