
<div class="panelHeader">Document List</div>
<div id="searchCriteria">
    <div class="w3-row">
        <div class="w3-col l6 m12 s12">
            <div class="w3-col l6 m12 s12">No of Outstanding:</div>
            <div class="w3-col l6 m12 s12">
                <input type="text" value="22357" readonly />
            </div>
        </div>

    </div>

</div>
<div id="resultPanel"></div>

<script type="text/javascript">
    domReady(function () {
        new searcher({
            searchPath: "Search"
            , exportPath: "Excel"
            , searchTable: "searchCriteria"
            , resultPanel: "resultPanel"
        });
    });
</script>
