<table class="inputTable">

    <thead>
        <tr>
            <th colspan="4">
       User Profile Maintenance
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Name :</th>
            <td>XXX XX</td>
            <th>
                Post :
            </th>
            <td>
              PO
            </td>
        </tr>

        <tr><th> Email :</th> <td> <input type="text" style="max-width:200px" value="PO@bd.gov.hk" /></td>
		      <th> Unit /Section / Division :</th> <td > 
                                                     <select style="max-width:200px">
                                                         <option></option>
                                                         <option>AC</option>
                                                         <option>CB</option>
                                                         <option>CM</option>
                                                         <option>CP</option>
                                                         <option>Section A</option>
                                                         <option>Account</option>
                                                         <option>Section B</option>
                                                         <option>Section C</option>
                                                         <option>MBI 1</option>
                                                         <option>MBI 2</option>
                                                         <option>...</option>
                                                     </select></td>
		
	
		
        </tr>
		
        
        <tr>
            <th>Password :</th>
            <td>
                <input type="password" style="max-width:200px;" />
            </td>
            <th>
               Portal ID:
            </th>
            <td>KPMA</td>
        </tr>
        <tr><th>Confirm Password :</th> <td colspan="3">               <input type="password" style="max-width:200px;" /></td></tr>
     
  

    </tbody>
    <tfoot><tr><td colspan="4"><input type="button" value="Cancel" onclick="loadContentPage('CMN01')" />
                   <input type="button" value="Save" onclick="loadContentPage('CMN01')" />
        </td>
        </tr></tfoot>
</table>