
<table class="inputTable">
    <thead><tr><th colspan="2">  Import MW05(3.6) Record</th></tr></thead>

    <tbody>
        <tr>
            <th style="width: 200px">
                Import File. :
                <br>
                <br>
                <a target="_BLANK" href="\img\template.xls">Template import file</a>
            </th>
            <td class="fField">
                <input class="inputButton" type="file" name="uploadFile" id="uploadFile" style="width:400px" accept=".xls" onchange="onChangeFile();">
                <br>
                <br>
                <br>
            </td>
        </tr>
    </tbody>
    <tfoot><tr><td colspan="2"><input id="uploadButton" class="inputButton" type="button" value="Upload file" onclick="onImportFile()"></td></tr></tfoot>
</table>


<br />
<table class="resultTable" id="PEMresultTalbe">
    <thead>
        <tr>
            <th>File</th>
            <th>Upload Date</th>
            <th>Upload By</th>
            <th>Status(success / total)</th>
            <th>Action</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody id="listTBody">

        <tr id="PEM1108Row" style="display:none">
            <td class="sCell">
                <a href="\img\template.xls">template.xls</a>
            </td>
            <td class="sCell">
                07/11/2018 11:11:14
            </td>
            <td class="sCell">ADMIN</td>
            <td class="sCell">Uploaded(2/2546)</td>
            <td class="sCell">




                <input type="button" class="inputButton" name="deleteButton" value="Delete File" onclick="onClickDelete('8a8591a666e81b5a0166ec271e94006e', 'template.xls')">


            </td>
            <td class="sCell">
                <a href="\img\template.xls">View</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="\img\template.xls" download>template.xls</a>
            </td>
            <td>
                03/08/2016 15:45:37
            </td>
            <td>ADMIN</td>


            <td>Imported(1/1)</td>

            <td></td>

            <td>
                <a href="\img\template.xls">View</a>
            </td>

        </tr>
        <tr>
            <td>
                <a href="\img\template.xls">template.xls</a>
            </td>
            <td>
                03/08/2016 14:49:51
            </td>
            <td>ADMIN</td>
            <td>Imported(4/4)</td>
            <td>


                &nbsp;




            </td>
            <td>
                <a href="\img\template.xls">View</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="\img\template.xls">template.xls</a>
            </td>
            <td>
                03/08/2016 14:46:15
            </td>
            <td>ADMIN</td>
            <td>Imported(0/4)</td>
            <td>


                &nbsp;




            </td>
            <td>
                <a href="\img\template.xls">View</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="\img\template.xls">template.xls</a>
            </td>
            <td>
                03/08/2016 12:09:22
            </td>
            <td>ADMIN</td>
            <td>Imported(0/4)</td>
            <td>


                &nbsp;




            </td>
            <td>
                <a href="\img\template.xls">View</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="\img\template.xls">template.xls</a>
            </td>
            <td>
                03/08/2016 11:58:23
            </td>
            <td>ADMIN</td>
            <td>Uploaded(4/4)</td>
            <td>




                <input type="button" class="inputButton" id="123" name="importButton" value="Import to PEM" onclick="onClickImport('8a8591a656451d4101564e8d653f0116', 'template.xls')">
                /
                <input type="button" class="inputButton" name="deleteButton" value="Delete File" onclick="onClickDelete('8a8591a656451d4101564e8d653f0116', 'template.xls')">




            </td>
            <td>
                <a href="javascript:void(0)" onclick="onClickResult('8a8591a656451d4101564e8d653f0116')">View</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:void(0)" onclick="onClickFile('8a8591a656451d4101564e8ce23b0111')">template.xls</a>
            </td>
            <td>
                03/08/2016 11:57:50
            </td>
            <td>ADMIN</td>
            <td>Uploaded(4/4)</td>
            <td>




                <input type="button" class="inputButton" name="importButton" value="Import to PEM" onclick="onClickImport('8a8591a656451d4101564e8ce23b0111', 'template.xls')">
                /
                <input type="button" class="inputButton" name="deleteButton" value="Delete File" onclick="onClickDelete('8a8591a656451d4101564e8ce23b0111', 'template.xls')">




            </td>
            <td>
                <a href="javascript:void(0)" onclick="onClickResult('8a8591a656451d4101564e8ce23b0111')">View</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:void(0)" onclick="onClickFile('8a8591a656451d4101564e8c37e9010c')">template.xls</a>
            </td>
            <td>
                03/08/2016 11:57:06
            </td>
            <td>ADMIN</td>
            <td>Uploaded(4/4)</td>
            <td>




                <input type="button" class="inputButton" name="importButton" value="Import to PEM" onclick="onClickImport('8a8591a656451d4101564e8c37e9010c', 'template.xls')">
                /
                <input type="button" class="inputButton" name="deleteButton" value="Delete File" onclick="onClickDelete('8a8591a656451d4101564e8c37e9010c', 'template.xls')">




            </td>
            <td>
                <a href="javascript:void(0)" onclick="onClickResult('8a8591a656451d4101564e8c37e9010c')">View</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:void(0)" onclick="onClickFile('8a8591a656451d4101564e8b73910107')">template.xls</a>
            </td>
            <td>
                03/08/2016 11:56:16
            </td>
            <td>ADMIN</td>
            <td>Uploaded(3/4)</td>
            <td>




                <input type="button" class="inputButton" name="deleteButton" value="Delete File" onclick="onClickDelete('8a8591a656451d4101564e8b73910107', 'template.xls')">


            </td>
            <td>
                <a href="javascript:void(0)" onclick="onClickResult('8a8591a656451d4101564e8b73910107')">View</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:void(0)" onclick="onClickFile('8a8591a656451d4101564e89dfcc0102')">template.xls</a>
            </td>
            <td>
                03/08/2016 11:54:33
            </td>
            <td>ADMIN</td>
            <td>Uploaded(4/4)</td>
            <td>




                <input type="button" class="inputButton" name="importButton" value="Import to PEM" onclick="onClickImport('8a8591a656451d4101564e89dfcc0102', 'template.xls')">
                /
                <input type="button" class="inputButton" name="deleteButton" value="Delete File" onclick="onClickDelete('8a8591a656451d4101564e89dfcc0102', 'template.xls')">




            </td>
            <td>
                <a href="javascript:void(0)" onclick="onClickResult('8a8591a656451d4101564e89dfcc0102')">View</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:void(0)" onclick="onClickFile('8a8591a656451d4101564e879dbe00fd')">template.xls</a>
            </td>
            <td>
                03/08/2016 11:52:05
            </td>
            <td>ADMIN</td>
            <td>Uploaded(4/4)</td>
            <td>




                <input type="button" class="inputButton" name="importButton" value="Import to PEM" onclick="onClickImport('8a8591a656451d4101564e879dbe00fd', 'template.xls')">
                /
                <input type="button" class="inputButton" name="deleteButton" value="Delete File" onclick="onClickDelete('8a8591a656451d4101564e879dbe00fd', 'template.xls')">




            </td>
            <td>
                <a href="javascript:void(0)" onclick="onClickResult('8a8591a656451d4101564e879dbe00fd')">View</a>
            </td>
        </tr>
    </tbody>
</table>



