

<table class="resultTable">
    <thead>
        <tr>
            <th>Parameters </th>
        </tr>

    </thead>
    <tbody>

        <tr>
            <td><a href="javascript:loadContentPage('PEM1103a')">Audit check %</a></td>
        </tr>
        <tr class="sRow2">
            <td><a href="javascript:loadContentPage('PEM1103b')">Validation Rules for Notification Days </a></td>
        </tr>
        <tr>
            <td><a href="javascript:loadContentPage('PEM1103c')">MW Number Prefix</a></td>
        </tr>
        <tr class="sRow2">
            <td><a href="javascript:loadContentPage('PEM1103d')">Import MW Item Description</a></td>
        </tr>


    </tbody>
</table>
<br><br>
<table class="resultTable">
    <thead>
        <tr>
            <th>Acknowledgement Letter Module Parameters </th>
        </tr>
    </thead>


    <tbody>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1103e')">
                    Public Holiday
                </a>
            </td>
        </tr>
        <tr class="sRow2">
            <td>
                <a href="javascript:loadContentPage('PEM1103f')">
                    Audit Percentage
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1103g')">
                    Number of daily Direct Return Over Counter
                </a>
            </td>
        </tr>
        <tr class="sRow2">
            <td>
                <a href="javascript:loadContentPage('PEM1103h')">
                    Number of Validated Structures
                </a>
            </td>
        </tr>
        <tr class="sRow2">
            <td>
                <a href="javascript:loadContentPage('PEM1103i')">
                    TO Details
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1103j')">
                    Day Back
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1103k')">
                    Acknowledgement Letter Template Signature
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="javascript:loadContentPage('')">
                    Book mark address list
                </a>
            </td>
        </tr>
    </tbody>
</table>

<table class="resultTable">

    <thead>
        <tr>
            <th>
                Remind Letter Module Parameters
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1103RemindLetSign')">
                    Remind Letter Template Signature
                </a>
            </td>
        </tr>
    </tbody>
</table>