
<table class="resultTable" id="PEM1106Table">
    <thead>
        <tr>
            <th rowspan="2">Delivered By</th>
            <th rowspan="2">Outstanding Document</th>
            <th colspan="2">Barcode Generated </th>
            <th colspan="2">Doc First Sent </th>
            <th rowspan="2" style="text-align:center">Document Load </th>
            <th rowspan="2" style="text-align:center">Document Missing </th>
            <th rowspan="2" style="text-align:center">Remove</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Date</th>
            <th>Time</th>
        </tr>

    </thead>
    <tbody>



        <tr>
            <td> R&amp;D&nbsp; </td>
            <td> D0000597746 &nbsp;</td>
            <td> 13/4/2015 &nbsp;</td>
            <td> 20:05 &nbsp;</td>
            <td> 13/4/2015 &nbsp;</td>
            <td> 20:23&nbsp; </td>
            <td style="text-align:center">
                <input class="inputCheckbox" type="checkbox" id="docStatus1" name="outstandingDocList[1].docStatus" value="docSent" disabled="">
            </td>
            <td style="text-align: center">
                <input class="inputCheckbox" type="checkbox" id="docStatus2" name="outstandingDocList[1].docStatus" value="docMissing" disabled="">
            </td>
            <td style="text-align: center">
                <input class="inputCheckbox" type="checkbox" id="removeSelected" name="outstandingDocList[1].removeSelected" value="Y">
            </td>
        </tr>









        <tr>
            <td> R&amp;D &nbsp;</td>
            <td> D0000597745 &nbsp;</td>
            <td> 13/4/2015 &nbsp;</td>
            <td> 20:05 &nbsp;</td>
            <td> 13/4/2015 &nbsp;</td>
            <td> 20:23&nbsp; </td>
            <td style="text-align:center">
                <input class="inputCheckbox" type="checkbox" id="docStatus1" name="outstandingDocList[2].docStatus" value="docSent" disabled="">
            </td>
            <td style="text-align: center">
                <input class="inputCheckbox" type="checkbox" id="docStatus2" name="outstandingDocList[2].docStatus" value="docMissing" disabled="">
            </td>
            <td style="text-align: center">
                <input class="inputCheckbox" type="checkbox" id="removeSelected" name="outstandingDocList[2].removeSelected" value="Y">
            </td>
        </tr>





        <tr>
            <td> R&amp;D&nbsp; </td>
            <td> D0000589594 &nbsp;</td>
            <td> 18/3/2015 &nbsp;</td>
            <td> 09:51 &nbsp;</td>
            <td> 18/3/2015 &nbsp;</td>
            <td> 18:12&nbsp; </td>
            <td style="text-align:center">
                <input class="inputCheckbox" type="checkbox" id="docStatus1" name="outstandingDocList[3].docStatus" value="docSent" disabled="">
            </td>
            <td style="text-align: center">
                <input class="inputCheckbox" type="checkbox" id="docStatus2" name="outstandingDocList[3].docStatus" value="docMissing" disabled="">
            </td>
            <td style="text-align: center">
                <input class="inputCheckbox" type="checkbox" id="removeSelected" name="outstandingDocList[3].removeSelected" value="Y">
            </td>
        </tr>





        <tr>
            <td> R&amp;D &nbsp;</td>
            <td> D0000586809 &nbsp;</td>
            <td> 10/3/2015 &nbsp;</td>
            <td> 16:24 &nbsp;</td>
            <td> 10/3/2015 &nbsp;</td>
            <td> 16:27&nbsp; </td>
            <td style="text-align:center">
                <input class="inputCheckbox" type="checkbox" id="docStatus1" name="outstandingDocList[4].docStatus" value="docSent" disabled="">
            </td>
            <td style="text-align: center">
                <input class="inputCheckbox" type="checkbox" id="docStatus2" name="outstandingDocList[4].docStatus" value="docMissing" disabled="">
            </td>
            <td style="text-align: center">
                <input class="inputCheckbox" type="checkbox" id="removeSelected" name="outstandingDocList[4].removeSelected" value="Y">
            </td>
        </tr>




        <tr>
            <td> R&amp;D&nbsp; </td>
            <td> D0000581403 &nbsp;</td>
            <td> 13/2/2015 &nbsp;</td>
            <td> 20:13 &nbsp;</td>
            <td> 13/2/2015 &nbsp;</td>
            <td> 20:51&nbsp; </td>
            <td style="text-align:center">
                <input class="inputCheckbox" type="checkbox" id="docStatus1" name="outstandingDocList[5].docStatus" value="docSent" disabled="">
            </td>
            <td style="text-align: center">
                <input class="inputCheckbox" type="checkbox" id="docStatus2" name="outstandingDocList[5].docStatus" value="docMissing" disabled="">
            </td>
            <td style="text-align: center">
                <input class="inputCheckbox" type="checkbox" id="removeSelected" name="outstandingDocList[5].removeSelected" value="Y">
            </td>
        </tr>





        <tr>
            <td> MWU &nbsp;</td>
            <td> D0000000617 &nbsp;</td>
            <td> 19/1/2011 &nbsp;</td>
            <td> 15:53 &nbsp;</td>
            <td> 26/1/2011 &nbsp;</td>
            <td> 09:54&nbsp; </td>
            <td style="text-align:center">
                <input type="checkbox" id="docStatus1" name="outstandingDocList[142].docStatus" value="docSent" disabled="">
            </td>
            <td style="text-align: center">
                <input type="checkbox" id="docStatus2" name="outstandingDocList[142].docStatus" value="docMissing" disabled="">
            </td>
            <td style="text-align: center">
                <input type="checkbox" id="removeSelected" name="outstandingDocList[142].removeSelected" value="Y">
            </td>
        </tr>



    </tbody>
    <tfoot><tr><td>    <input type="button" id="" name="" value="Remove Selected" onclick="javascript:removeAction()"></td></tr></tfoot>
</table>
        </div>




