

<table class="resultTable">
    <thead>
        <tr>
            <th>Role</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">Administrator</a>
            </td>
            <td>System administrator of PEM</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">BD Searching </a>
            </td>
            <td>BD Searching User</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">BD Users</a>
            </td>
            <td>All BD User</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">CO</a>
            </td>
            <td>Chief Officer of Technical Support</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">Document Sorting</a>
            </td>
            <td>Document Sorting</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">ICC</a>
            </td>
            <td>ICC Co-ordinator</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">PO</a>
            </td>
            <td>Professional Officer in MWU</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">R&amp;D</a>
            </td>
            <td>Receipt and Dispatch Unit in Pioneer Centre</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">SPO</a>
            </td>
            <td>Senior Professional Officer in MWU</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">Senior Management</a>
            </td>
            <td>Senior Management Grade Users in BD</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">TC</a>
            </td>
            <td>Team Clerk in MWU</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">TO</a>
            </td>
            <td>Technical Officer in MWU</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM1102a')">user1</a>
            </td>
            <td>temp role</td>
        </tr>
    </tbody>
</table>



















