@model MWMS2.Areas.Admin.Models.PEM1114MWNumberMappingModel

<div class="panelHeader">
    MW Number Mapping
</div>
<div class="w3-border displayForm" id="searchCriteria">
    <div class="w3-row" >
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l4 m4 s4">
                MW Number
            </div>
            <div class="w3-col l6 m6 s6">
                @Html.TextBoxFor(model => model.Reference_No)
            </div>
        </div>
    </div>
    <div class="w3-container footer">
        <button id="searchBtn" class="searchButton btn btn-default" type="button">Search</button>
        <button type="button" class="btn btn-default" onclick="cancel()">Cancel</button>
    </div>
    <div id="resultPanel">

    </div>
</div>
<script>
    domReady(function () {
        new searcher({
            searchPath: "SearchMWNumberMapping"
            , searchTable: "searchCriteria"
            , resultPanel: "resultPanel"
            , Columns: [{
                displayName: "MW Number", columnName: "REFERENCE_NO"
                , click: function (row) {
                    try {
                        if (row == null)
                            return null;
                        goTo("PEM1114Detail", [
                            { name: "Reference_No", value: row.REFERENCE_NO }, { name: "pageCode", value: domId("functionCode").value }
                        ]);
                    } catch (err) { }

                }
            }]
        });
    });


    function cancel() {
        window.location.href = domId("rootPath").value + "/Admin/Para";
    }
</script>


