

<div style="text-align: right; width: 100%;">
    Last Modified Date:
    06/03/2017 02:39 PM
</div>
<div style="text-align: right; width: 100%;">
    Last Modified By:
    SOSC6
</div>


<table class="inputTable">
    <tbody>
        <tr>
            <th class="label">
                Checking &gt;
            </th>
            <th class="text">
                <a id="formInfo" class="url2">
                    Submission
                    Information Checking
                </a>
            </th>
            <th style="background-color:yellow;" class="text">
                <a id="formInfo2" class="url1">
                    Item
                    Checking
                </a>
            </th>
            <th class="text">
                <a id="formInfo" class="url1">Summary</a>
            </th>
            <th class="text" style="width: 300px">
                &nbsp;
            </th>
            <th class="sCell" align="right">
                &nbsp;&nbsp;&nbsp;Data Entry By : TOSC1
            </th>
        </tr>
    </tbody>
</table>

<div id="caseInfo" class="sList">
    <table class="inputTable">
        <thead>
            <tr>
                <th colspan="5" class="sTh">
                    Submission Information
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th class="fLabel" style="width:160px;" valign="top">
                    Submission No. :
                </th>
                <td class="fText" style="width:20%" colspan="2">
                    SC03-0001/15
                </td>
                <th class="fLabel" style="width:20%" valign="top">
                    Form Code :
                </th>
                <td class="fText">SC02</td>
            </tr>
            <tr>
                <th class="fLabel" valign="top">Received Date :</th>
                <td class="fText" colspan="2" valign="top">
                    06/03/2015
                </td>
                <th class="fLabel" rowspan="3" valign="top">
                    Location/Address of the Signboard :
                </th>
                <td class="fText" rowspan="3">
                    新界大xx商xx1xx3及1x號舖<br>
                    103及104號舖   xx商場   大埔<br>
                </td>
            </tr>
            <tr>
                <th class="fLabel" valign="top">
                    BCIS Block ID :<br>
                </th>
                <td class="fText">
                    5214169&nbsp;
                </td>
                <td class="fText" rowspan="2" style="display:;">
                    <span style="float:right;">
                        <input class="inputButton" value="Edit" id="btnEditAddr" name="btnEditAddr" onclick="loadContentPage('SMM0301b1')" type="button">
                    </span>
                </td>
            </tr>
            <tr>
                <th class="fLabel" valign="top">
                    BD ref. (4+2) :<br>
                </th>
                <td class="fText">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <th class="fLabel" valign="top">
                    Related Order/DSRN (if applicable) :<br>
                </th>
                <td class="fText" colspan="2">
                    &nbsp;
                </td>
                <th class="fLabel" valign="top">
                    With alteration/strengthening :
                </th>
                <td class="fText"></td>
            </tr>
        </tbody>
    </table>

</div>



<br>
<div id="handlingOfficers" class="sList">
    <table class="inputTable">

        <thead>
            <tr>
                <th class="sTh1" colspan="6">
                    Handling Officers
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="sRow2">

                <th class="fLabel" style="padding-right:20px;">
                    TO
                </th>
                <td class="fText" style="width:33%;">
                    SOSC3
                    &nbsp;
                </td>

                <th class="fLabel" style="padding-right:20px;">
                    PO
                </th>
                <td class="fText" style="width:33%;">
                    PSOSC2
                    &nbsp;
                </td>

                <th class="fLabel" style="padding-right:20px;">
                    SPO
                </th>
                <td class="fText" style="width:33%;">
                    SPOSC1
                    &nbsp;
                </td>

            </tr>
        </tbody>
    </table>
</div>
<br>


<table class="resultTable" id="SMM0301aTable">
    <thead>
        <tr>
            <th colspan="7" class="sTh1">
                Submitted Document
            </th>
        </tr>
        <tr class="sRow2">
            <th style="width:50px; display:;" class="sTh2">
                &nbsp;
            </th>
            <th style="width: 150px" class="sTh2">
                DSN Number
            </th>
            <th style="width: 150px" class="sTh2">
                Document Type
            </th>
            <th style="width: 100px" class="sTh2">
                Scanned Date
            </th>
            <th class="sTh2">
                Document Description
            </th>
            <th style="width: 80px" class="sTh2">
                View Image
            </th>
            <th class="sTh2">
                Folder Type
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="sRow2">
            <th class="sCell" style="display:;">

                <input class="inputButton" value="Delete" id="btnDeleteSubmittedDoc" name="btnDeleteSubmittedDoc" onclick="deleteSubmittedDoc('8a85bda64cb02885014d1da5944246a2')" type="button">


            </th>
            <th class="sCell" style="vertical-align:middle;">
                D0000002361
            </th>
            <th class="sCell" style="vertical-align:middle;">
                Other
            </th>
            <th class="sCell" style="vertical-align:middle;">
                04/05/2015
            </th>
            <th class="sCell" style="vertical-align:middle;">
                SC02-Full scan and result (Refered to Housing Dept.)

            </th>
            <th class="sCell" style="vertical-align:middle;">
                <img alt="ico" src="/SMM/images/ico_view.gif" onclick="popupWind('/SMM/common.do?method=viewImage&amp;imageId=8a85bda64cb02885014d1da5944246a2')" style="cursor: pointer;">
            </th>
            <th class="sCell" style="vertical-align:middle;">
                <input name="submittedDocForm[0].uuid" value="8a85bda64cb02885014d1da5944246a2" type="hidden">

                <select style="width:auto" class="inputSelect" onchange="" id="submittedDocForm[0].folderType" name="submittedDocForm[0].folderType">



                    <option value="Public">Public</option>



                    <option value="Private (SCU)" selected="selected">
                        Private (SCU)
                    </option>





                    <option value="Private (BD)">Private (BD)</option>


                </select>
            </th>
        </tr>

        <tr class="sRow2">
            <th class="sCell" style="display:;">

                <input class="inputButton" value="Delete" id="btnDeleteSubmittedDoc" name="btnDeleteSubmittedDoc" onclick="deleteSubmittedDoc('8a85bda64a76fd9c014bee49b9203977')" type="button">


            </th>
            <th class="sCell" style="vertical-align:middle;">
                D0000002012
            </th>
            <th class="sCell" style="vertical-align:middle;">
                Plan
            </th>
            <th class="sCell" style="vertical-align:middle;">
                09/03/2015
            </th>
            <th class="sCell" style="vertical-align:middle;"></th>
            <th class="sCell" style="vertical-align:middle;">
                <img alt="ico" src="/SMM/images/ico_view.gif" onclick="popupWind('/SMM/common.do?method=viewImage&amp;imageId=8a85bda64a76fd9c014bee49b9203977')" style="cursor: pointer;">
            </th>
            <th class="sCell" style="vertical-align:middle;">
                <input name="submittedDocForm[1].uuid" value="8a85bda64a76fd9c014bee49b9203977" type="hidden">

                <select style="width:auto" class="inputSelect" onchange="" id="submittedDocForm[1].folderType" name="submittedDocForm[1].folderType">



                    <option value="Public">Public</option>



                    <option value="Private (SCU)" selected="selected">
                        Private (SCU)
                    </option>





                    <option value="Private (BD)">Private (BD)</option>


                </select>
            </th>
        </tr>

        <tr class="sRow2">
            <th class="sCell" style="display:;">

                <input class="inputButton" value="Delete" id="btnDeleteSubmittedDoc" name="btnDeleteSubmittedDoc" onclick="deleteSubmittedDoc('8a85bda64a76fd9c014bee49b3463976')" type="button">


            </th>
            <th class="sCell" style="vertical-align:middle;">
                D0000002011
            </th>
            <th class="sCell" style="vertical-align:middle;">
                Photo
            </th>
            <th class="sCell" style="vertical-align:middle;">
                09/03/2015
            </th>
            <th class="sCell" style="vertical-align:middle;"></th>
            <th class="sCell" style="vertical-align:middle;">
                <img alt="ico" src="/SMM/images/ico_view.gif" onclick="popupWind('/SMM/common.do?method=viewImage&amp;imageId=8a85bda64a76fd9c014bee49b3463976')" style="cursor: pointer;">
            </th>
            <th class="sCell" style="vertical-align:middle;">
                <input name="submittedDocForm[2].uuid" value="8a85bda64a76fd9c014bee49b3463976" type="hidden">

                <select style="width:auto" class="inputSelect" onchange="" id="submittedDocForm[2].folderType" name="submittedDocForm[2].folderType">



                    <option value="Public">Public</option>



                    <option value="Private (SCU)" selected="selected">
                        Private (SCU)
                    </option>





                    <option value="Private (BD)">Private (BD)</option>


                </select>
            </th>
        </tr>

        <tr class="sRow2">
            <th class="sCell" style="display:;">

                <input class="inputButton" value="Delete" id="btnDeleteSubmittedDoc" name="btnDeleteSubmittedDoc" onclick="deleteSubmittedDoc('8a85bda64a76fd9c014bee499fc63975')" type="button">


            </th>
            <th class="sCell" style="vertical-align:middle;">
                D0000002010
            </th>
            <th class="sCell" style="vertical-align:middle;">
                Letter
            </th>
            <th class="sCell" style="vertical-align:middle;">
                09/03/2015
            </th>
            <th class="sCell" style="vertical-align:middle;"></th>
            <th class="sCell" style="vertical-align:middle;">
                <img alt="ico" src="/SMM/images/ico_view.gif" onclick="popupWind('/SMM/common.do?method=viewImage&amp;imageId=8a85bda64a76fd9c014bee499fc63975')" style="cursor: pointer;">
            </th>
            <th class="sCell" style="vertical-align:middle;">
                <input name="submittedDocForm[3].uuid" value="8a85bda64a76fd9c014bee499fc63975" type="hidden">

                <select style="width:auto" class="inputSelect" onchange="" id="submittedDocForm[3].folderType" name="submittedDocForm[3].folderType">



                    <option value="Public">Public</option>



                    <option value="Private (SCU)" selected="selected">
                        Private (SCU)
                    </option>





                    <option value="Private (BD)">Private (BD)</option>


                </select>
            </th>
        </tr>

        <tr class="sRow2">
            <th class="sCell" style="display:;">


                &nbsp;

            </th>
            <th class="sCell" style="vertical-align:middle;">
                D0000002009
            </th>
            <th class="sCell" style="vertical-align:middle;">
                Form
            </th>
            <th class="sCell" style="vertical-align:middle;">
                09/03/2015
            </th>
            <th class="sCell" style="vertical-align:middle;">
                SC02
            </th>
            <th class="sCell" style="vertical-align:middle;">
                <img alt="ico" src="/SMM/images/ico_view.gif" onclick="popupWind('/SMM/common.do?method=viewImage&amp;imageId=8a85bda64a76fd9c014bee4685163973')" style="cursor: pointer;">
            </th>
            <th class="sCell" style="vertical-align:middle;">
                <input name="submittedDocForm[4].uuid" value="8a85bda64a76fd9c014bee4685163973" type="hidden">

                <select style="width:auto" class="inputSelect" onchange="" id="submittedDocForm[4].folderType" name="submittedDocForm[4].folderType">



                    <option value="Public">Public</option>



                    <option value="Private (SCU)" selected="selected">
                        Private (SCU)
                    </option>





                    <option value="Private (BD)">Private (BD)</option>


                </select>
            </th>
        </tr>

    </tbody>
</table>


<table class="resultTable">
    <thead>
        <tr>
            <th colspan="4" class="sTh1">
                Photo Library/BCIS

                <img style="cursor: pointer;" onclick="popupWind('/SMM/common.do?method=goToBCIS', 1024, 768)" alt="ico" src="/SMM/images/ico_view.gif">
            </th>
        </tr>
        <tr>

            <th style="width: 40px;" class="sTh2"></th>
            <th class="sTh2">Photo Library Description</th>
            <th class="sTh2">URL</th>
        </tr>
    </thead>


    <tbody>
        <tr class="sRow2">
            <input id="photoLibForm[0].uuid" name="photoLibForm[0].uuid" value="8a85bda64a76fd9c014bfdebe13e2bcd" type="hidden">
            <input id="photoLibForm[0].desc" name="photoLibForm[0].desc" value="103及104號舖   xx商場   大埔_" type="hidden">
            <input id="photoLibForm[0].url" name="photoLibForm[0].url" value="https://dp2.bd.hksarg/wpls_prod/jsp/spa/spa0102.jsp?BK_ID=" type="hidden">
            <td class="sCell">
                <input id="btnEditPhotoLib" class="inputButton" onclick="loadContentPage('SMM0301b1')" name="btnEditPhotoLib" value="Edit" type="button">
            </td>
            <td style="vertical-align: middle;" class="sCell">103及104號舖   xx商場   大埔_</td>
            <td style="vertical-align: middle;" class="sCell">
                <img style="cursor: pointer;" onclick="popupWind('/SMM/common.do?method=viewPhotoLibImage&amp;imageId=8a85bda64a76fd9c014bfdebe13e2bcd', 1024, 768)" alt="ico" src="/SMM/images/ico_view.gif">
            </td>
        </tr>

    </tbody>
</table>

<table class="inputTable">
    <tfoot>
        <tr>
            <td>
                <input style="width: 80px;" id="btnAddPhotoLib" class="inputButton" onclick="loadContentPage('SMM0301b1')" name="btnAddPhotoLib" value="Add" type="button">

            </td>
        </tr>

    </tfoot>
</table>


<div id="signboardRelation" class="sList">
    <table class="inputTable">
        <tbody>
            <tr>
                <th class="sTh1">
                    Related Signboards of the Signboard
                </th>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <input class="inputButton" id="btnAddSignboardRelation" name="btnAddSignboardRelation" value="Add" onclick="loadContentPage('SMM0301b1')" type="button">
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="btnSet btnSetTypeA">
        <div class="right">
        </div>
    </div>

</div>

<div id="mwItemInfo" class="sList">

    <div class="sList">
        <table class="resultTable">
            <thead>

                <tr>
                    <th colspan="2" class="sTh1">
                        Details of the Validation/MW Item
                    </th>
                </tr>
                <tr class="sRow2">
                    <th class="sTh2">
                        Validation Items  0
                    </th>
                    <th class="sTh2">
                        Corresponding MW items
                    </th>
                </tr>

            </thead>

            <tbody></tbody>
        </table>
    </div>
    <br>
    <div class="sList">
        <table id="itemTable" class="resultTable">
            <thead>
                <tr class="sRow2">
                    <th class="sTh2">
                        MW Item No.
                    </th>
                    <th class="sTh2">
                        Description
                    </th>
                    <th class="sTh2">
                        Relevant Order/ Direction/ Notice No./ BD Reference No.
                    </th>
                </tr>
            </thead>
            <input name="recordItemForm[0].uuid" value="8a85bda64a76fd9c014bfdebe14e2bcf" id="recordItemForm[0].uuid" type="hidden">
            <input name="recordItemForm[0].itemNo" value="2.20" id="recordItemForm[0].itemNo" type="hidden">
            <input name="recordItemForm[0].desc" value="位於不屬於懸臂式平板的露台或簷篷上或懸掛在其下的違例招牌
(a) 該招牌不含石材; (b) 該招牌的展示面積不多於2平方米; (c) 該招牌並無任何部份伸出該露台或簷篷; (d) 該招牌的高度不多於600mm; 及(e) 該招牌的厚度不多於100mm.
該招牌呎吋為600x1000; 及由該招牌I底計離地3250mm; 招牌總數2個, 呎吋相同." id="recordItemForm[0].desc" type="hidden">
            <input name="recordItemForm[0].revision" value="" id="recordItemForm[0].revision" type="hidden">


            <tbody>
                <tr class="sRow2">
                    <td class="sCell" id="recordItemForm[0].itemNoDisplay">
                        2.20
                    </td>
                    <td class="sCell" id="recordItemForm[0].descDisplay">
                        位於不屬於懸臂式平板的露台或簷篷上或懸掛在其下的違例招牌
                        (a) 該招牌不含石材; (b) 該招牌的展示面積不多於2平方米; (c) 該招牌並無任何部份伸出該露台或簷篷; (d) 該招牌的高度不多於600mm; 及(e) 該招牌的厚度不多於100mm.
                        該招牌呎吋為600x1000; 及由該招牌I底計離地3250mm; 招牌總數2個, 呎吋相同.
                    </td>
                    <th class="sCell" id="recordItemForm[0].revisionDisplay"></th>
                </tr>

                <input name="recordItemForm[1].uuid" value="8a85bda6516ce9ae01533a55d8d6037c" id="recordItemForm[1].uuid" type="hidden">
                <input name="recordItemForm[1].itemNo" value="2.20" id="recordItemForm[1].itemNo" type="hidden">
                <input name="recordItemForm[1].desc" value="位於不屬於懸臂式平板的露台或簷篷上或懸掛在其下的違例招牌
(a) 該招牌不含石材; (b) 該招牌的展示面積不多於2平方米; (c) 該招牌並無任何部份伸出該露台或簷篷; (d) 該招牌的高度不多於600mm; 及(e) 該招牌的厚度不多於100mm.
該招牌呎吋為600x1000; 及由該招牌I底計離地3250mm; 招牌總數2個, 呎吋相同." id="recordItemForm[1].desc" type="hidden">
                <input name="recordItemForm[1].revision" value="" id="recordItemForm[1].revision" type="hidden">



                <tr class="sRow2">
                    <td class="sCell" id="recordItemForm[1].itemNoDisplay">
                        2.20
                    </td>
                    <td class="sCell" id="recordItemForm[1].descDisplay">
                        位於不屬於懸臂式平板的露台或簷篷上或懸掛在其下的違例招牌
                        (a) 該招牌不含石材; (b) 該招牌的展示面積不多於2平方米; (c) 該招牌並無任何部份伸出該露台或簷篷; (d) 該招牌的高度不多於600mm; 及(e) 該招牌的厚度不多於100mm.
                        該招牌呎吋為600x1000; 及由該招牌I底計離地3250mm; 招牌總數2個, 呎吋相同.
                    </td>
                    <th class="sCell" id="recordItemForm[1].revisionDisplay"></th>
                </tr>

            </tbody>
        </table>
    </div>



</div>
<br>


<table class="inputTable">





    <thead>
        <tr id="itemLbls">
            <th class="label">Item No.</th>


            <th style="background-color:yellow" id="EditItem0" class="text">
                <a id="tempa0" class="url2">
                    <span id="itemNo[0]">2.20</span>

                    <input id="EditItemButton" class="inputButton" onclick="loadContentPage('SMM0301b2')" value="Edit" type="button">

                </a>
            </th>






            <th style="width: 100px;" id="EditItem1" class="text">
                <a id="tempa1" class="url1">
                    <span id="itemNo[1]">2.20</span>

                </a>
            </th>

            <th id="itemLblsPad" colSpan="8">
                <br>
            </th>



        </tr>
    </thead>
</table>


<table class="inputTable">
    <thead>
        <tr>
            <th style="width: 350px;" class="sTh" colSpan="2">
                Erection or alteration of Signboard on Balcony/ Canopy (other then a cantilevered slab)
                <br>
            </th>
            <th style="width: 175px;" class="sTh">
                Item Details
            </th>
            <th style="width: 350px;" class="sTh">
                Remarks
                <input class="inputButton" onclick="allItemRemarksSetBtnClicked(this, 0)" value="OK" type="button">
                <input class="inputButton" onclick="allItemRemarksSetBtnClicked(this, 0)" value="Not OK" type="button">
                <br>
            </th>
        </tr>
        </thead>
    <tbody>
        <tr class="sRow2">
            <td style="width: 40px;" class="sCell">1<br></td>
            <td style="width: 310px;" class="sCell">Work Locations &amp; descriptions in Part A.3 clearly provided<br></td>
            <input id="recordItemCheckingForm[0].recordItemCriterionForm[0].uuid" name="recordItemCheckingForm[0].recordItemCriterionForm[0].uuid" value="8a85bda65a7f19e7015aa25837c56f5d" type="hidden">
            <input id="recordItemCheckingForm[0].recordItemCriterionForm[0].mwUuid" name="recordItemCheckingForm[0].recordItemCriterionForm[0].mwUuid" value="8a8593472789193101278919322903b7" type="hidden">
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemCriterionForm[0].itemDetails" class="inputTextarea remark" name="recordItemCheckingForm[0].recordItemCriterionForm[0].itemDetails"></textarea>
            </td>
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemCriterionForm[0].remarks" class="inputTextarea remark itemRemarks" name="recordItemCheckingForm[0].recordItemCriterionForm[0].remarks"></textarea>
                <!-- onkeyup="updateItemResults(this, 0)" -->


                <br>
            </td>
        </tr>

        <tr class="sRow2">
            <td style="width: 40px;" class="sCell">2<br></td>
            <td style="width: 310px;" class="sCell">Work Locations &amp; descriptions in Part A.3 in line with plans<br></td>
            <input id="recordItemCheckingForm[0].recordItemCriterionForm[1].uuid" name="recordItemCheckingForm[0].recordItemCriterionForm[1].uuid" value="8a85bda65a7f19e7015aa25837c56f5e" type="hidden">
            <input id="recordItemCheckingForm[0].recordItemCriterionForm[1].mwUuid" name="recordItemCheckingForm[0].recordItemCriterionForm[1].mwUuid" value="8a8593472789193101278919322903b8" type="hidden">
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemCriterionForm[1].itemDetails" class="inputTextarea remark" name="recordItemCheckingForm[0].recordItemCriterionForm[1].itemDetails"></textarea>
            </td>
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemCriterionForm[1].remarks" class="inputTextarea remark itemRemarks" name="recordItemCheckingForm[0].recordItemCriterionForm[1].remarks"></textarea>
                <!-- onkeyup="updateItemResults(this, 0)" -->


                <br>
            </td>
        </tr>

        <tr class="sRow2">
            <td style="width: 40px;" class="sCell">3<br></td>
            <td style="width: 310px;" class="sCell">Work Locations &amp; descriptions in Part A.3 in line with photos <br></td>
            <input id="recordItemCheckingForm[0].recordItemCriterionForm[2].uuid" name="recordItemCheckingForm[0].recordItemCriterionForm[2].uuid" value="8a85bda65a7f19e7015aa25837c56f5f" type="hidden">
            <input id="recordItemCheckingForm[0].recordItemCriterionForm[2].mwUuid" name="recordItemCheckingForm[0].recordItemCriterionForm[2].mwUuid" value="8a8593472789193101278919322903b9" type="hidden">
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemCriterionForm[2].itemDetails" class="inputTextarea remark" name="recordItemCheckingForm[0].recordItemCriterionForm[2].itemDetails"></textarea>
            </td>
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemCriterionForm[2].remarks" class="inputTextarea remark itemRemarks" name="recordItemCheckingForm[0].recordItemCriterionForm[2].remarks"></textarea>
                <!-- onkeyup="updateItemResults(this, 0)" -->


                <br>
            </td>
        </tr>

        <tr class="sRow2">
            <td style="width: 40px;" class="sCell">4<br></td>
            <td style="width: 310px;" class="sCell">Nature of work<br></td>
            <input id="recordItemCheckingForm[0].recordItemCriterionForm[3].uuid" name="recordItemCheckingForm[0].recordItemCriterionForm[3].uuid" value="8a85bda65a7f19e7015aa25837c56f60" type="hidden">
            <input id="recordItemCheckingForm[0].recordItemCriterionForm[3].mwUuid" name="recordItemCheckingForm[0].recordItemCriterionForm[3].mwUuid" value="8a8593472789193101278919322903ba" type="hidden">
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemCriterionForm[3].itemDetails" class="inputTextarea remark" name="recordItemCheckingForm[0].recordItemCriterionForm[3].itemDetails"></textarea>
            </td>
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemCriterionForm[3].remarks" class="inputTextarea remark itemRemarks" name="recordItemCheckingForm[0].recordItemCriterionForm[3].remarks"></textarea>
                <!-- onkeyup="updateItemResults(this, 0)" -->


                <br>
            </td>
        </tr>

        <tr class="sRow2">
            <td style="width: 40px;" class="sCell">5<br></td>
            <td style="width: 310px;" class="sCell">No. of signboard (Division of signboard)<br></td>
            <input id="recordItemCheckingForm[0].recordItemCriterionForm[4].uuid" name="recordItemCheckingForm[0].recordItemCriterionForm[4].uuid" value="8a85bda65a7f19e7015aa25837c56f61" type="hidden">
            <input id="recordItemCheckingForm[0].recordItemCriterionForm[4].mwUuid" name="recordItemCheckingForm[0].recordItemCriterionForm[4].mwUuid" value="8a8593472789193101278919322903bb" type="hidden">
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemCriterionForm[4].itemDetails" class="inputTextarea remark" name="recordItemCheckingForm[0].recordItemCriterionForm[4].itemDetails"></textarea>
            </td>
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemCriterionForm[4].remarks" class="inputTextarea remark itemRemarks" name="recordItemCheckingForm[0].recordItemCriterionForm[4].remarks"></textarea>
                <!-- onkeyup="updateItemResults(this, 0)" -->


                <br>
            </td>
        </tr>

    </tbody>
</table>











<table class="inputTable">
    <thead>
        <tr>
            <th style="width: 350px;" class="sTh" colSpan="2">
                Requirements
            </th>
            <th style="width: 175px;" class="sTh">
                Item Details
            </th>
            <th style="width: 350px;" class="sTh">
                Remarks
            </th>
        </tr>
        </thead>
    <tbody>
        <tr class="sRow2">
            <td style="width: 40px;" class="sCell">a</td>
            <td style="width: 310px;" class="sCell">Signboard not located at cantilevered slab</td>
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[0].uuid" name="recordItemCheckingForm[0].recordItemReqItemForm[0].uuid" value="8a85bda65a7f19e7015aa25837c56f62" type="hidden">
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[0].mwUuid" name="recordItemCheckingForm[0].recordItemReqItemForm[0].mwUuid" value="8a8593472789193101278919322903c1" type="hidden">
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[0].itemDetails" class="inputTextarea remark" name="recordItemCheckingForm[0].recordItemReqItemForm[0].itemDetails"></textarea>
            </td>
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[0].remarks" class="inputTextarea remark itemRemarks" name="recordItemCheckingForm[0].recordItemReqItemForm[0].remarks"></textarea>
                <!-- onkeyup="updateItemResults(this, 0)" -->


                <br>
            </td>
        </tr>

        <tr class="sRow2">
            <td style="width: 40px;" class="sCell">b</td>
            <td style="width: 310px;" class="sCell">Signboard not consist of stone</td>
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[1].uuid" name="recordItemCheckingForm[0].recordItemReqItemForm[1].uuid" value="8a85bda65a7f19e7015aa25837c56f63" type="hidden">
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[1].mwUuid" name="recordItemCheckingForm[0].recordItemReqItemForm[1].mwUuid" value="8a8593472789193101278919322903c2" type="hidden">
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[1].itemDetails" class="inputTextarea remark" name="recordItemCheckingForm[0].recordItemReqItemForm[1].itemDetails"></textarea>
            </td>
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[1].remarks" class="inputTextarea remark itemRemarks" name="recordItemCheckingForm[0].recordItemReqItemForm[1].remarks"></textarea>
                <!-- onkeyup="updateItemResults(this, 0)" -->


                <br>
            </td>
        </tr>

        <tr class="sRow2">
            <td style="width: 40px;" class="sCell">c</td>
            <td style="width: 310px;" class="sCell">Displayed area of signboard ≤ 2m²</td>
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[2].uuid" name="recordItemCheckingForm[0].recordItemReqItemForm[2].uuid" value="8a85bda65a7f19e7015aa25837c56f64" type="hidden">
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[2].mwUuid" name="recordItemCheckingForm[0].recordItemReqItemForm[2].mwUuid" value="8a8593472789193101278919322903c3" type="hidden">
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[2].itemDetails" class="inputTextarea remark" name="recordItemCheckingForm[0].recordItemReqItemForm[2].itemDetails"></textarea>
            </td>
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[2].remarks" class="inputTextarea remark itemRemarks" name="recordItemCheckingForm[0].recordItemReqItemForm[2].remarks"></textarea>
                <!-- onkeyup="updateItemResults(this, 0)" -->


                <br>
            </td>
        </tr>

        <tr class="sRow2">
            <td style="width: 40px;" class="sCell">d</td>
            <td style="width: 310px;" class="sCell">No part of signboard projects beyond the balcony and canopy</td>
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[3].uuid" name="recordItemCheckingForm[0].recordItemReqItemForm[3].uuid" value="8a85bda65a7f19e7015aa25837c56f65" type="hidden">
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[3].mwUuid" name="recordItemCheckingForm[0].recordItemReqItemForm[3].mwUuid" value="8a8593472789193101278919322903c4" type="hidden">
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[3].itemDetails" class="inputTextarea remark" name="recordItemCheckingForm[0].recordItemReqItemForm[3].itemDetails"></textarea>
            </td>
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[3].remarks" class="inputTextarea remark itemRemarks" name="recordItemCheckingForm[0].recordItemReqItemForm[3].remarks"></textarea>
                <!-- onkeyup="updateItemResults(this, 0)" -->


                <br>
            </td>
        </tr>

        <tr class="sRow2">
            <td style="width: 40px;" class="sCell">e</td>
            <td style="width: 310px;" class="sCell">Height of signboard ≤ 600mm </td>
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[4].uuid" name="recordItemCheckingForm[0].recordItemReqItemForm[4].uuid" value="8a85bda65a7f19e7015aa25837c56f66" type="hidden">
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[4].mwUuid" name="recordItemCheckingForm[0].recordItemReqItemForm[4].mwUuid" value="8a8593472789193101278919322903c5" type="hidden">
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[4].itemDetails" class="inputTextarea remark" name="recordItemCheckingForm[0].recordItemReqItemForm[4].itemDetails"></textarea>
            </td>
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[4].remarks" class="inputTextarea remark itemRemarks" name="recordItemCheckingForm[0].recordItemReqItemForm[4].remarks"></textarea>
                <!-- onkeyup="updateItemResults(this, 0)" -->


                <br>
            </td>
        </tr>

        <tr class="sRow2">
            <td style="width: 40px;" class="sCell">f</td>
            <td style="width: 310px;" class="sCell">Thickness of signboard ≤ 100mm </td>
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[5].uuid" name="recordItemCheckingForm[0].recordItemReqItemForm[5].uuid" value="8a85bda65a7f19e7015aa25837c56f67" type="hidden">
            <input id="recordItemCheckingForm[0].recordItemReqItemForm[5].mwUuid" name="recordItemCheckingForm[0].recordItemReqItemForm[5].mwUuid" value="8a8593472789193101278919322903c6" type="hidden">
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[5].itemDetails" class="inputTextarea remark" name="recordItemCheckingForm[0].recordItemReqItemForm[5].itemDetails"></textarea>
            </td>
            <td class="sCell">
                <textarea style="width: 100%;" id="recordItemCheckingForm[0].recordItemReqItemForm[5].remarks" class="inputTextarea remark itemRemarks" name="recordItemCheckingForm[0].recordItemReqItemForm[5].remarks"></textarea>
                <!-- onkeyup="updateItemResults(this, 0)" -->


                <br>
            </td>
        </tr>

    </tbody>
</table>


<table class="inputTable">
    <tbody>
        <tr class="sRow2">
            <td style="width: 320px;" class="sCellVM">
                <b>Results from TO</b>
            </td>
            <td class="sCell">

                <input id="recordItemCheckingForm[0].resultTO" name="recordItemCheckingForm[0].resultTO" value="on" type="hidden">
                <input class="inputMediumButton" id="OutStandingbtn" onclick="SMM0301YesNO(this)" name="recordItemCheckingForm[0].resultTO" value="OK" type="button">


            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
             
                        <input  id="btnBack" class="inputButton arrow" onclick="loadContentPage('SMM0301a')" name="btnBack" value="←" type="button">

                
                        <input  id="btnAuditForm" class="inputButton" onclick="genAuditForm('8a85bda64a76fd9c014bfdebe14e2bce','saveTO')" name="btnAuditForm" value="Audit Form" type="button">

                        <input  id="btnAuditForm" class="inputButton" onclick="genAuditForm ('8a85bda64a76fd9c014bfdebe14e2bce','saveTO')" name="btnAuditForm" value="Advisory Letter" type="button">

                        <select style="width:auto" id="AdvisoryLetter" class="inputSelect" name="selectedLetter"></select>

                        <input  id="btnViewComments" class="inputButton" onclick="loadContentPage('SMM0301a3')" name="btnViewComments" value="View Comments" type="button">



                        <input  id="btnSave" class="inputButton" onclick="loadContentPage('SMM0301b')" name="btnSave" value="Save as Draft" type="button">


                        <input  id="btnNext" class="inputButton arrow" onclick="loadContentPage('SMM0301c')" name="btnNext" value="→" type="button">




                 
            </td>
        </tr>
    </tfoot>
</table>
