



	<h3>Audit</h3>
	
	<table class="inputTable">
		<tbody>
		<tr><th>Last Modified Date :
		</th><td>18/06/2015 02:22 PM
		</td></tr>
		<tr><th>Last Modified By :
		</th><td>admin
		</td></tr>
		</tbody>
	</table>
<br/>

     <table class="inputTable">
        <thead>
         <tr>
             <th colspan='4'>
                 Submission Information
             </th>
         </tr>
         </thead>
         <tbody>
             <tr>
                 <th>
                     Submission No. :
                 </th>
                 <td>
                     SC01-0001/14
                 </td>
                 <th>
                     Form Code :
                 </th>
                 <td>
                     SC01
                 </td>
             </tr>
             <tr>
                 <th >
                     Received Date :
                 </th>
                 <td>
                     15/01/20xx
                 </td>
                 <th>
                     Location/Address of the Signboard :
                 </th>
                 <td>
                     xxxx xxxxx GREAT GEORGE STREET WAN CHAI
                 </td>
             </tr>
         </tbody>
     </table>












                            <table class="resultTable">
                                <thead>
                                    <tr>
                                        <th colspan="5">
                                            Details of the Minor Work
                                        </th>
                                    </tr>
                                    <tr>

                                        <th>
                                            Minor Work item
                                        </th>

                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Relevant Order/ Direction/ Notice No./ BD Reference No.
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1.22
                                        </td>
                                        <td>
                                            Erection or alteration of any wall signboard
                                        </td>
                                        <td></td>

                                    </tr>
                                </tbody>
                            </table>

        <table class="resultTable">
            <thead>
                <tr>
                    <th colspan="4">
                        Particulars of PBP
                    </th>
                    <!-- <th>
                  Result
                </th>-->
                </tr>
                <tr>
                    <th>
                        PBP
                    </th>
                    <th>
                        Certification of Registration No.
                    </th>
                    <th>
                        English Name
                    </th>
                    <th>
                        Chinese Name
                    </th>
                    <!--    <th>
                  Name of PBP
                </th>-->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        AP&nbsp;
                    </td>
                    <td>
                        AP(A) 2091/73


                    </td>
                    <td>
                        KWAN xx xx
                    </td>
                    <td>
                        關xx
                    </td>

                </tr>
                <tr>
                    <td>
                        RSE&nbsp;
                    </td>
                    <td>
                        RSE 81/85


                    </td>
                    <td>
                        LAM xx xx
                    </td>
                    <td>
                        林xx
                    </td>
                </tr>
                <tr>
                    <td>
                        RGE
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


            <table class="resultTable">
                <thead>
                    <tr>
                        <th colspan="5">
                            Particulars of PRC
                        </th>

                        <!-- <th>
                      Result
                    </th> -->
                    </tr>
                    <tr>
                        <th>
                            Certification of Registration No.
                        </th>
                        <th>
                            English Name of PRC
                        </th>
                        <th>
                            Chinese Name of PRC
                        </th>
                        <!-- <th style="width: 120px">
                      Name of PRC
                    </th> -->
                        <th>
                            English Name of AS
                        </th>
                        <th>
                            Chinese Name of AS
                        </th>
                        <!--   <th style="width: 120px">
                      Name of AS
                    </th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </tbody>
            </table>

            <table class="resultTable">
                <thead>
                    <tr>
                        <th colspan="5">
                            Incoming Document
                        </th>
                    </tr>

                    <tr>
                        <th>
                            DSN Number
                        </th>
                        <th>
                            Document Type
                        </th>

                        <th>
                            Scanned Date
                        </th>
                        <th>
                            View Image
                        </th>
                        <th>
                            Type
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            D0000002121
                        </td>
                        <td>
                            Other
                        </td>
                        <td>
                            22/07/2015
                        </td>

                        <td>

                            <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openFile('8a85bda64a76fd9c014c591ac0ce7b9d')">

                        </td>
                        <td>
                            Private (SCU)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            D0000000464
                        </td>
                        <td>
                            Form
                        </td>
                        <td>
                            27/01/2014
                        </td>

                        <td>

                            <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openFile('8a85bda64358197e014394c222063db0')">

                        </td>
                        <td>
                            Private (SCU)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            D0000001155
                        </td>
                        <td>
                            Photo
                        </td>
                        <td>
                            27/01/2014
                        </td>

                        <td>

                            <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openFile('8a85bda64358197e0143d1f42ba755b9')">

                        </td>
                        <td>
                            Private (SCU)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            D0000001156
                        </td>
                        <td>
                            Plan
                        </td>
                        <td>
                            27/01/2014
                        </td>

                        <td>

                            <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openFile('8a85bda64358197e0143d1fc069855be')">

                        </td>
                        <td>
                            Private (SCU)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            D0000001157
                        </td>
                        <td>
                            Other
                        </td>
                        <td>
                            27/01/2014
                        </td>

                        <td>

                            <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openFile('8a85bda64358197e0143d1fe571755bf')">

                        </td>
                        <td>
                            Private (SCU)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            D0000001158
                        </td>
                        <td>
                            Plan
                        </td>
                        <td>
                            27/01/2014
                        </td>

                        <td>

                            <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openFile('8a85bda64358197e0143d1ff060b55c0')">

                        </td>
                        <td>
                            Private (SCU)
                        </td>
                    </tr>

                </tbody>
            </table>

            <table class="resultTable">

<thead>

                <tr>
                    <th colspan="2">
                        Photo Library
                    </th>
                </tr>
              
                                        <tr>
                                            <th>
                                                Photo Library Description
                                            </th>
                                            <th>
                                                View Image (URL)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                _
                                            </td>
                                            <td>

                                                <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openPhotoLibFile('8a85bda64358197e014394c1e0073da2')">

                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
       
            <table class="inputTable">
                <thead>
                    <tr>
                        <th>
                            Audit Information
                        </th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 0px;">

                            <table class="inputTable">
                                <tbody>
                                    <tr>
                                        <th>
                                            Status :
                                        </th>
                                        <td colspan="3">
                                            <select name="svAuditRecordDisplay.auditStatus" id="svAuditRecordDisplay.auditStatus"><option value="Assigned">Assigned</option> <option value="Not yet assign">Not yet assign</option> <option value="Completed (In-order or final action taken)">Completed (In-order or final action taken)</option></select>



                                        </td>
                                    </tr>

                                    <tr>
                                        <th>
                                            Audit Check Officer :
                                        </th>
                                        <td>
                                            <input name="svAuditRecordDisplay.otherOfficer" value="" id="svAuditRecordDisplay.otherOfficer" class="inputText" type="text">

                                        </td>
                                        <th>
                                            Referral Date :
                                        </th>
                                        <td class="fField inputCalendarDivParent">
                                            <div class="inputCalendarDiv"><input name="svAuditRecordDisplay.referralDate" value="" id="svAuditRecordDisplay.referralDate"  class="inputDate" type="text"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>
                                            Remarks :
                                        </th>
                                        <td>
                                            <input name="svAuditRecordDisplay.remarks" value="" id="svAuditRecordDisplay.remarks" class="inputText" type="text">
                                        </td>
                                        <th>
                                            Reply Date :
                                        </th>
                                        <td class="fField inputCalendarDivParent">
                                            <div class="inputCalendarDiv"><input name="svAuditRecordDisplay.replyDate" value="" id="svAuditRecordDisplay.replyDate"  class="inputDate" type="text"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>
                                            Result :
                                        </th>
                                        <td colspan="3">
                                            <input name="svAuditRecordDisplay.auditResultOption" value="Complete" onclick="okResult()" type="radio">
                                            Completed
                                            <input name="svAuditRecordDisplay.auditResultOption" value="Not yet complete" onclick="notOkResult()" type="radio">
                                            Not yet complete
                                            <br>
                                            <select name="svAuditRecordDisplay.auditResult" id="auditResult"></select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="sList">
                                <input type="button" value="Export audit data for mail merge" name="btnNext" id="btnExport" class="inputButton" onclick="exportExcel('SMM0201aTable')">
                                <input type="button" value="Export audit data for Excel" name="btnExcel" id="btnExcel" class="inputButton"      onclick="exportExcel('SMM0201aTable')">

                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>



        <div class="btnSet btnSetTypeA">

            <div class="right">
               

            </div>

        </div>

        <table class="inputTable">
            <tfoot>
                <tr>

                    <td>
                        <input onclick="loadContentPage('SMM0301a3')" value="View Comments" class="inputButton" name="btnViewComments" id="btnViewComments" type="button">



                        <input class="inputButton" id="btnSaveAsDraft" name="btnSaveAsDraft" value="Save as Draft" onclick="loadContentPage('SMM0302')" type="button">
                        <input class="inputButton" id="btnTOSubmit" name="btnTOSubmit" value="TO Confirm Process Complete" onclick="loadContentPage('SMM0302')" type="button">

                    </td>
                </tr>
            </tfoot>
        </table>




        <div id="SMMDivHide" class="hide">

            <table class="resultTable" id="SMM0201aTable">
                <colgroup>
                    <col width="64" span="113" style="width:48pt">
                </colgroup>
                <tbody>
                    <tr height="21" style="height:15.75pt">
                        <td height="21" width="64" style="height:15.75pt;width:48pt">Submissio<span style="display:none">n No.</span></td>
                        <td width="64" style="width:48pt">Form Code</td>
                        <td width="64" style="width:48pt">Received <span style="display:none">Date</span></td>
                        <td width="64" style="width:48pt">Expirty Da<span style="display:none">te</span></td>
                        <td width="64" style="width:48pt">Validation <span style="display:none">Result</span></td>
                        <td width="64" style="width:48pt">Remarks</td>
                        <td width="64" style="width:48pt">
                            SPO Endo<span style="display:none">
                                rsement
                                Date
                            </span>
                        </td>
                        <td width="64" style="width:48pt">Letter Rea<span style="display:none">son</span></td>
                        <td width="64" style="width:48pt">Letter Re<span style="display:none">marks</span></td>
                        <td width="64" style="width:48pt">Signboard <span style="display:none">Address</span></td>
                        <td width="64" style="width:48pt">
                            Location o<span style="display:none">
                                f
                                Signboard
                            </span>
                        </td>
                        <td width="64" style="width:48pt">Depscripti<span style="display:none">on</span></td>
                        <td width="64" style="width:48pt">Facade</td>
                        <td width="64" style="width:48pt">Type</td>
                        <td width="64" style="width:48pt">
                            Bottom fix<span style="display:none">
                                ing at
                                Floor
                            </span>
                        </td>
                        <td width="64" style="width:48pt">
                            Top fixing<span style="display:none">
                                at
                                Floor
                            </span>
                        </td>
                        <td width="64" style="width:48pt">Display Ar<span style="display:none">ea</span></td>
                        <td width="64" style="width:48pt">Projection</td>
                        <td width="64" style="width:48pt">Heigh of S<span style="display:none">ignboard</span></td>
                        <td width="64" style="width:48pt">
                            Clearance <span style="display:none">
                                above
                                ground
                            </span>
                        </td>
                        <td width="64" style="width:48pt">LED/TV</td>
                        <td width="64" style="width:48pt">Building P<span style="display:none">ortion</span></td>
                        <td width="64" style="width:48pt">RVD No.</td>
                        <td width="64" style="width:48pt">RV Block <span style="display:none">ID</span></td>
                        <td width="64" style="width:48pt">BCIS Bloc<span style="display:none">k ID</span></td>
                        <td width="64" style="width:48pt">BCIS Distr<span style="display:none">ict</span></td>
                        <td width="64" style="width:48pt">BD ref. (4<span style="display:none">+2)</span></td>
                        <td width="64" style="width:48pt">Owner Chi<span style="display:none">nese Name</span></td>
                        <td width="64" style="width:48pt">Owner En<span style="display:none">glish Name</span></td>
                        <td width="64" style="width:48pt">Owner Ad<span style="display:none">dress</span></td>
                        <td width="64" style="width:48pt">Owner Em<span style="display:none">ail</span></td>
                        <td width="64" style="width:48pt">Owner Co<span style="display:none">ntact No</span></td>
                        <td width="64" style="width:48pt">Owner Fax<span style="display:none"> NO</span></td>
                        <td width="64" style="width:48pt">PAW Chin<span style="display:none">ese Name</span></td>
                        <td width="64" style="width:48pt">PAW Engl<span style="display:none">ish Name</span></td>
                        <td width="64" style="width:48pt">PAW Add<span style="display:none">ress</span></td>
                        <td width="64" style="width:48pt">PAW Ema<span style="display:none">il</span></td>
                        <td width="64" style="width:48pt">PAW Cont<span style="display:none">act No</span></td>
                        <td width="64" style="width:48pt">PAW Fax <span style="display:none">NO</span></td>
                        <td width="64" style="width:48pt">IO Chinese<span style="display:none"> Name</span></td>
                        <td width="64" style="width:48pt">IO English<span style="display:none"> Name</span></td>
                        <td width="64" style="width:48pt">IO Address</td>
                        <td width="64" style="width:48pt">IO Email</td>
                        <td width="64" style="width:48pt">IO Contact<span style="display:none"> No</span></td>
                        <td width="64" style="width:48pt">IO Fax NO</td>
                        <td width="64" style="width:48pt">IO PBP N<span style="display:none">ame</span></td>
                        <td width="64" style="width:48pt">IO PBP C<span style="display:none">ontact No</span></td>
                        <td width="64" style="width:48pt">IO PRC N<span style="display:none">ame</span></td>
                        <td width="64" style="width:48pt">IO PRC C<span style="display:none">ontact No</span></td>
                        <td width="64" style="width:48pt">
                            AP Certifi<span style="display:none">
                                cation
                                No
                            </span>
                        </td>
                        <td width="64" style="width:48pt">AP Chines<span style="display:none">e Name</span></td>
                        <td width="64" style="width:48pt">AP Englis<span style="display:none">h Name</span></td>
                        <td width="64" style="width:48pt">AP EN_A<span style="display:none">DDRESS_LINE1</span></td>
                        <td width="64" style="width:48pt">AP EN_A<span style="display:none">DDRESS_LINE2</span></td>
                        <td width="64" style="width:48pt">AP EN_A<span style="display:none">DDRESS_LINE3</span></td>
                        <td width="64" style="width:48pt">AP EN_A<span style="display:none">DDRESS_LINE4</span></td>
                        <td width="64" style="width:48pt">AP EN_A<span style="display:none">DDRESS_LINE5</span></td>
                        <td width="64" style="width:48pt">AP CN_A<span style="display:none">DDRESS_LINE1</span></td>
                        <td width="64" style="width:48pt">AP CN_A<span style="display:none">DDRESS_LINE2</span></td>
                        <td width="64" style="width:48pt">AP CN_A<span style="display:none">DDRESS_LINE3</span></td>
                        <td width="64" style="width:48pt">AP CN_A<span style="display:none">DDRESS_LINE4</span></td>
                        <td width="64" style="width:48pt">AP CN_A<span style="display:none">DDRESS_LINE5</span></td>
                        <td width="64" style="width:48pt">AP Contac<span style="display:none">t No</span></td>
                        <td width="64" style="width:48pt">AP Fax No</td>
                        <td width="64" style="width:48pt">
                            RSE Certif<span style="display:none">
                                ication
                                No
                            </span>
                        </td>
                        <td width="64" style="width:48pt">RSE Chine<span style="display:none">se Name</span></td>
                        <td width="64" style="width:48pt">RSE Engli<span style="display:none">sh Name</span></td>
                        <td width="64" style="width:48pt">RSE EN_<span style="display:none">ADDRESS_LINE1</span></td>
                        <td width="64" style="width:48pt">RSE EN_<span style="display:none">ADDRESS_LINE2</span></td>
                        <td width="64" style="width:48pt">RSE EN_<span style="display:none">ADDRESS_LINE3</span></td>
                        <td width="64" style="width:48pt">RSE EN_<span style="display:none">ADDRESS_LINE4</span></td>
                        <td width="64" style="width:48pt">RSE EN_<span style="display:none">ADDRESS_LINE5</span></td>
                        <td width="64" style="width:48pt">RSE CN_<span style="display:none">ADDRESS_LINE1</span></td>
                        <td width="64" style="width:48pt">RSE CN_<span style="display:none">ADDRESS_LINE2</span></td>
                        <td width="64" style="width:48pt">RSE CN_<span style="display:none">ADDRESS_LINE3</span></td>
                        <td width="64" style="width:48pt">RSE CN_<span style="display:none">ADDRESS_LINE4</span></td>
                        <td width="64" style="width:48pt">RSE CN_<span style="display:none">ADDRESS_LINE5</span></td>
                        <td width="64" style="width:48pt">RSE Conta<span style="display:none">ct No</span></td>
                        <td width="64" style="width:48pt">RSE Fax <span style="display:none">No</span></td>
                        <td width="64" style="width:48pt">
                            RGE Certi<span style="display:none">
                                fication
                                No
                            </span>
                        </td>
                        <td width="64" style="width:48pt">RGE Chin<span style="display:none">ese Name</span></td>
                        <td width="64" style="width:48pt">RGE Engli<span style="display:none">sh Name</span></td>
                        <td width="64" style="width:48pt">RGE EN_<span style="display:none">ADDRESS_LINE1</span></td>
                        <td width="64" style="width:48pt">RGE EN_<span style="display:none">ADDRESS_LINE2</span></td>
                        <td width="64" style="width:48pt">RGE EN_<span style="display:none">ADDRESS_LINE3</span></td>
                        <td width="64" style="width:48pt">RGE EN_<span style="display:none">ADDRESS_LINE4</span></td>
                        <td width="64" style="width:48pt">RGE EN_<span style="display:none">ADDRESS_LINE5</span></td>
                        <td width="64" style="width:48pt">RGE CN_<span style="display:none">ADDRESS_LINE1</span></td>
                        <td width="64" style="width:48pt">RGE CN_<span style="display:none">ADDRESS_LINE2</span></td>
                        <td width="64" style="width:48pt">RGE CN_<span style="display:none">ADDRESS_LINE3</span></td>
                        <td width="64" style="width:48pt">RGE CN_<span style="display:none">ADDRESS_LINE4</span></td>
                        <td width="64" style="width:48pt">RGE CN_<span style="display:none">ADDRESS_LINE5</span></td>
                        <td width="64" style="width:48pt">RGE Cont<span style="display:none">act No</span></td>
                        <td width="64" style="width:48pt">RGE Fax <span style="display:none">No</span></td>
                        <td width="64" style="width:48pt">
                            PRC Certif<span style="display:none">
                                ication
                                No
                            </span>
                        </td>
                        <td width="64" style="width:48pt">PRC Chine<span style="display:none">se Name</span></td>
                        <td width="64" style="width:48pt">PRC Engli<span style="display:none">sh Name</span></td>
                        <td width="64" style="width:48pt">PRC EN_<span style="display:none">ADDRESS_LINE1</span></td>
                        <td width="64" style="width:48pt">PRC EN_<span style="display:none">ADDRESS_LINE2</span></td>
                        <td width="64" style="width:48pt">PRC EN_<span style="display:none">ADDRESS_LINE3</span></td>
                        <td width="64" style="width:48pt">PRC EN_<span style="display:none">ADDRESS_LINE4</span></td>
                        <td width="64" style="width:48pt">PRC EN_<span style="display:none">ADDRESS_LINE5</span></td>
                        <td width="64" style="width:48pt">PRC CN_<span style="display:none">ADDRESS_LINE1</span></td>
                        <td width="64" style="width:48pt">PRC CN_<span style="display:none">ADDRESS_LINE2</span></td>
                        <td width="64" style="width:48pt">PRC CN_<span style="display:none">ADDRESS_LINE3</span></td>
                        <td width="64" style="width:48pt">PRC CN_<span style="display:none">ADDRESS_LINE4</span></td>
                        <td width="64" style="width:48pt">PRC CN_<span style="display:none">ADDRESS_LINE5</span></td>
                        <td width="64" style="width:48pt">PRC Conta<span style="display:none">ct No</span></td>
                        <td width="64" style="width:48pt">PRC Fax <span style="display:none">No</span></td>
                        <td width="64" style="width:48pt">
                            PRC AS C<span style="display:none">
                                hinese
                                Name
                            </span>
                        </td>
                        <td colspan="3" width="192" style="mso-ignore:colspan;width:144pt">
                            PRC AS English
                            Name
                        </td>
                    </tr>
                    <tr height="21" style="height:15.75pt">
                        <td height="21" style="height:15.75pt">SC181000<span style="display:none">01</span></td>
                        <td>SC01</td>
                        <td class="xl65" align="right">9/10/2018</td>
                        <td></td>
                        <td>Accept</td>
                        <td colspan="19" style="mso-ignore:colspan"></td>
                        <td align="right">123</td>
                        <td>A</td>
                        <td></td>
                        <td>Ch name</td>
                        <td>Eng name</td>
                        <td colspan="84" style="mso-ignore:colspan"></td>
                    </tr>
                </tbody>
            </table>



        </div>
