<table class="inputTable">
    <thead>
        <tr>
            <th colspan="3">
                The proposed signboard minor works are to be carried out
            </th>
        </tr>
        <tr>
            <th>
               Item
            </th>
            <th>

               Description            </th>
            <th>
                Order /Direction /Notice / BD Reference No.
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select ><option value="2.2">2.2</option><option value="2.3">2.3</option></select>
</td>
            <td>
                位於不屬於懸臂式平板的露台或簷篷上或懸掛在其下的違例招牌
                (a) 該招牌不含石材; (b) 該招牌的展示面積不多於2平方米; (c) 該招牌並無任何部份伸出該露台或簷篷; (d) 該招牌的高度不多於600mm; 及(e) 該招牌的厚度不多於100mm.
                該招牌呎吋為600x1000; 及由該招牌I底計離地3250mm; 招牌總數2個, 呎吋相同.
            </td>
            <td>

            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <input type="button" value="Save MW Item" onclick="loadContentPage('SMM0301b')" />
            </td>
        </tr>
    </tfoot>

</table>