<h3>
    Search Signboards
</h3>

<table class="inputTable">

    <thead>
        <tr>
            <th colspan="4">
                Criteria
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>
                Street
            </th>
            <td>
                <input type="text" />
            </td>
            <th>
                Street No.
            </th>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <th>
                Building Name
            </th>
            <td>
                <input type="text" />
            </td>
            <th>
                Floor
            </th>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <th>
                Flat/Room
            </th>
            <td>
                <input type="text" />
            </td>
            <th>
                District
            </th>
            <td>
                <input type="text" />
            </td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <input type="button" value="Clear" onclick="loadContentPage('SMM0301a2')" />
                <input type="button" value="Search" onclick="searchSMM()" />
                <input type="button" value="Close" onclick="loadContentPage('SMM0301a')" />
            </td>
        </tr>
    </tfoot>
</table>

<table class="resultTable hide" id="SMMHideDiv">
    <thead>
        <tr>
            <th>
                Thumbnail
            </th>
            <th>
                Submission No.
            </th>
            <th>
                Street
            </th>
            <th>
                District
            </th>
            <th>
                Building Name
            </th>
            <th>
                Street No.
            </th>
            <th>
                Floor
            </th>
            <th>
                Flat/Room
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>No Thumbnail</td>
            <td><a href="javascript:loadContentPage('SMM0301a')">SC01-0001/4</a></td>
            <td>GREAT GEORGE STREET</td>
            <td>
                WAN CHAI
            </td>
            <td>

                ISLAND BEVERLEY
            </td>
            <td>
                1
            </td>
            <td>
                
            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>