
                                                    <table class="inputTable">
                        <thead>
                            <tr>
                                <th colspan="4">
                                    Search Criteria
                                </th>
                            </tr>
                            </thead>
                                <tbody>
                                    <tr>
                                        <th>
                                            Submission No. :
                                        </th>
                                        <td>
                                            <input name="searchFileRefNo" value="" id="searchFileRefNo"  type="text">
                                        </td>
                                        <th>
                                            Status :
                                        </th>
                                        <td>
                                            <select name="searchStatus" id="searchStatus">
                                                <option value="Open" selected="selected">Open</option>
                                                <option value="Close">Close</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Received Date :
                                        </th>
                                        <td colspan="3">
                                            From

                                            <input name="searchReceivedDateFrom" class="inputDate " type="text">
                                            To
                                            <input name="searchReceivedDateTo"  class="inputDate " type="text">
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot><tr><td colspan="4"> <input class="inputButton" id="btnSearch" name="btnSearch" value="Search"  onclick="searchSMM()" type="submit"/></td></tr></tfoot>
                             </table>

        <table class="resultTable hide" id="SMMHideDiv">
            <thead>
                <tr>
                    <th class="sTh">
                        <a class="columnHead" sort="task" href="javascript:setSort('task', '', '')">Task</a>
                    </th>
                    <th class="sTh">
                        <a class="columnHead" sort="signboard_no" href="javascript:setSort('signboard_no', '', '')">Submission No.</a>
                    </th>
                    <th class="sTh">
                        <a class="columnHead" sort="form_code" href="javascript:setSort('form_code', '', '')">Form Code</a>
                    </th>
                    <th class="sTh">
                        <a class="columnHead" sort="received_date" href="javascript:setSort('received_date', '', '')">Received Date</a>
                    </th>
                    <th class="sTh">
                        <a class="columnHead" sort="status" href="javascript:setSort('status', '', '')">Status</a>
                    </th>
                </tr>
                </thead>
            <tbody>
                <tr class="sRow1">
                    <td class="sCell">

                        TO Validation&nbsp;

                    </td>
                    <td class="sCell">

                        <a href='javascript:loadContentPage("SMM0301a")'>SC03-0001/15&nbsp;</a>

                    </td>
                    <td class="sCell">
                        SC02&nbsp;
                    </td>
                    <td class="sCell">
                        06/03/2015&nbsp;
                    </td>
                    <td class="sCell">

                        Open
                    </td>
                </tr>


                <tr class="sRow2">
                    <td class="sCell">

                        TO Validation&nbsp;

                    </td>
                    <td class="sCell">

                        <a href='javascript:loadContentPage("SMM0301a")'>SC03-0002/14&nbsp;</a>

                    </td>
                    <td class="sCell">
                        SC01&nbsp;
                    </td>
                    <td class="sCell">
                        16/05/2014&nbsp;
                    </td>
                    <td class="sCell">

                        Open
                    </td>
                </tr>


                <tr class="sRow1">
                    <td class="sCell">

                        TO Validation&nbsp;

                    </td>
                    <td class="sCell">

                        <a href='javascript:loadContentPage("SMM0301a")'>SC03-0002/14&nbsp;</a>

                    </td>
                    <td class="sCell">
                        SC01&nbsp;
                    </td>
                    <td class="sCell">
                        16/05/2014&nbsp;
                    </td>
                    <td class="sCell">

                        Open
                    </td>
                </tr>


                <tr class="sRow2">
                    <td class="sCell">

                        TO Validation&nbsp;

                    </td>
                    <td class="sCell">

                        <a href='javascript:loadContentPage("SMM0301a")'>SC03-0002/14&nbsp;</a>

                    </td>
                    <td class="sCell">
                        SC01&nbsp;
                    </td>
                    <td class="sCell">
                        05/08/2014&nbsp;
                    </td>
                    <td class="sCell">

                        Open
                    </td>
                </tr>


                <tr class="sRow1">
                    <td class="sCell">

                        TO Validation&nbsp;

                    </td>
                    <td class="sCell">

                        <a href='javascript:loadContentPage("SMM0301a")'>SC04-0001/15&nbsp;</a>

                    </td>
                    <td class="sCell">
                        SC02&nbsp;
                    </td>
                    <td class="sCell">
                        09/04/2015&nbsp;
                    </td>
                    <td class="sCell">

                        Open
                    </td>
                </tr>


                <tr class="sRow2">
                    <td class="sCell">

                        TO Validation&nbsp;

                    </td>
                    <td class="sCell">

                        <a href='javascript:loadContentPage("SMM0301a")'>SC04-0006/15&nbsp;</a>

                    </td>
                    <td class="sCell">
                        SC03&nbsp;
                    </td>
                    <td class="sCell">
                        27/04/2015&nbsp;
                    </td>
                    <td class="sCell">

                        Open
                    </td>
                </tr>


                <tr class="sRow1">
                    <td class="sCell">

                        TO Validation&nbsp;

                    </td>
                    <td class="sCell">

                        <a href='javascript:loadContentPage("SMM0301a")'>SC05-0003/14&nbsp;</a>

                    </td>
                    <td class="sCell">
                        SC01&nbsp;
                    </td>
                    <td class="sCell">
                        14/05/2014&nbsp;
                    </td>
                    <td class="sCell">

                        Open
                    </td>
                </tr>


                <tr class="sRow2">
                    <td class="sCell">

                        TO Validation&nbsp;

                    </td>
                    <td class="sCell">

                        <a href='javascript:loadContentPage("SMM0301a")'>SC06-0004/15&nbsp;</a>

                    </td>
                    <td class="sCell">
                        SC02&nbsp;
                    </td>
                    <td class="sCell">
                        10/06/2015&nbsp;
                    </td>
                    <td class="sCell">

                        Open
                    </td>
                </tr>


                <tr class="sRow1">
                    <td class="sCell">

                        TO Validation&nbsp;

                    </td>
                    <td class="sCell">

                        <a href='javascript:loadContentPage("SMM0301a")'>SC16040010&nbsp;</a>

                    </td>
                    <td class="sCell">
                        SC02&nbsp;
                    </td>
                    <td class="sCell">
                        22/04/2016&nbsp;
                    </td>
                    <td class="sCell">

                        Open
                    </td>
                </tr>


                <tr class="sRow2">
                    <td class="sCell">

                        PO Validation&nbsp;

                    </td>
                    <td class="sCell">

                        <a href='javascript:loadContentPage("SMM0301a")'>SC17100007&nbsp;</a>

                    </td>
                    <td class="sCell">
                        SC02&nbsp;
                    </td>
                    <td class="sCell">
                        27/10/2017&nbsp;
                    </td>
                    <td class="sCell">

                        Open
                    </td>
                </tr>


            </tbody>
        </table>




