
        <h3>
          Validation
        </h3>
        

<div style="text-align: right; width: 100%;">
	Last Modified Date:
	06/03/2017 02:39 PM</div>
<div style="text-align: right; width: 100%;">
	Last Modified By:
	SOSC6</div>

        
          <table class="inputTable">
            <tbody><tr>
              <th class="label">
                Checking &gt;
              </th>
              <th style="background-color:yellow;" class="text">
                <a id="formInfo" class="url2">Submission
                  Information Checking</a>
              </th>
              <th class="text">
                <a id="formInfo2" class="url1">Item
                  Checking</a>
              </th>
              <th class="text">
                <a id="formInfo" class="url1">Summary</a>
              </th>
              <th class="text" style="width: 300px">
                &nbsp;
              </th>
              <th class="sCell" align="right">
                &nbsp;&nbsp;&nbsp;Data Entry By : TOSC1
              </th>
            </tr>
          </tbody></table>
        
        













<div id="caseInfo" class="sList">
    <table class="inputTable">
        <thead>
            <tr>
                <th colspan="5" class="sTh">
                    Submission Information
                </th>
            </tr>
            </thead>
    
                        <tbody>
                            <tr>
                                <th class="fLabel" style="width:160px;" valign="top">
                                    Submission No. :
                                </th>
                                <td class="fText" style="width:20%" colspan="2">
                                    SC03-0001/15
                                </td>
                                <th class="fLabel" style="width:20%" valign="top">
                                    Form Code :
                                </th>
                                <td class="fText">SC02</td>
                            </tr>
                            <tr>
                                <th class="fLabel" valign="top">Received Date :</th>
                                <td class="fText" colspan="2" valign="top">
                                    06/03/2015
                                </td>
                                <th class="fLabel" rowspan="3" valign="top">
                                    Location/Address of the Signboard :
                                </th>
                                <td class="fText" rowspan="3">
                                    新界大埔大元商場舊翼103及104號舖<br>
                                    xxxxx   大元商場   大埔<br>
                                </td>
                            </tr>
                            <tr>
                                <th class="fLabel" valign="top">
                                    BCIS Block ID :<br>
                                </th>
                                <td class="fText">
                                    5214169&nbsp;
                                </td>
                                <td class="fText" rowspan="2" style="display:;">
                                    <span style="float:right;">
                                        <input class="inputButton" value="Edit" id="btnEditAddr" name="btnEditAddr" onclick="loadContentPage('SMM0301a1')" type="button">
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th class="fLabel" valign="top">
                                    BD ref. (4+2) :<br>
                                </th>
                                <td class="fText">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <th class="fLabel" valign="top">
                                    Related Order/DSRN (if applicable) :<br>
                                </th>
                                <td class="fText" colspan="2">
                                    &nbsp;
                                </td>
                                <th class="fLabel" valign="top">
                                    With alteration/strengthening : 
                                </th>
                                <td class="fText"></td>
                            </tr>
                        </tbody>
                    </table>
   
</div>
<br>
<div id="handlingOfficers" class="sList">
    <table class="inputTable">
      
        <thead>
            <tr>
                <th class="sTh1" colspan="6">
                    Handling Officers
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="sRow2">

                <th class="fLabel" style="padding-right:20px;">
                    TO
                </th>
                <td class="fText" style="width:33%;">
                    SOSC3
                    &nbsp;
                </td>

                <th class="fLabel" style="padding-right:20px;">
                    PO
                </th>
                <td class="fText" style="width:33%;">
                    PSOSC2
                    &nbsp;
                </td>

                <th class="fLabel" style="padding-right:20px;">
                    SPO
                </th>
                <td class="fText" style="width:33%;">
                    SPOSC1
                    &nbsp;
                </td>

            </tr>
        </tbody>
    </table>
</div>
<br>

  
       
    <table class="resultTable" id="SMM0301aTable">
        <thead>
            <tr>
                <th colspan="7" class="sTh1">
                    Submitted Document
                </th>
            </tr>
            <tr class="sRow2">
                <th >
                    &nbsp;
                </th>
                <th >
                    DSN Number
                </th>
                <th >
                    Document Type
                </th>
                <th >
                    Scanned Date
                </th>
                <th class="sTh2">
                    Document Description
                </th>
                <th >
                    View Image
                </th>
                <th class="sTh2">
                    Folder Type
                </th>
            </tr>
            </thead>
        <tbody>
            <tr class="sRow2">
                <td class="sCell" style="display:;">

                    <input class="inputButton" value="Delete" id="btnDeleteSubmittedDoc" name="btnDeleteSubmittedDoc" onclick="deleteSubmittedDoc('8a85bda64cb02885014d1da5944246a2')" type="button">


                </td>
                <td >
                    D0000002361
                </td>
                <td >
                    Otder
                </td>
                <td >
                    04/05/2015
                </td>
                <td >
                    SC02-Full scan and result (Refered to Housing Dept.)

                </td>
                <td >
                    <img alt="ico" src="/SMM/images/ico_view.gif" onclick="popupWind('/SMM/common.do?metdod=viewImage&amp;imageId=8a85bda64cb02885014d1da5944246a2')" style="cursor: pointer;">
                </td>
                <td >
                    <input name="submittedDocForm[0].uuid" value="8a85bda64cb02885014d1da5944246a2" type="hidden">

                    <select class="inputSelect" style="width:auto" onchange="" id="submittedDocForm[0].folderType" name="submittedDocForm[0].folderType" >



                        <option value="Public">Public</option>



                        <option value="Private (SCU)" selected="selected">
                            Private (SCU)
                        </option>





                        <option value="Private (BD)">Private (BD)</option>


                    </select>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell" style="display:;">

                    <input class="inputButton" value="Delete" id="btnDeleteSubmittedDoc" name="btnDeleteSubmittedDoc" onclick="deleteSubmittedDoc('8a85bda64a76fd9c014bee49b9203977')" type="button">


                </td>
                <td >
                    D0000002012
                </td>
                <td >
                    Plan
                </td>
                <td >
                    09/03/2015
                </td>
                <td ></td>
                <td >
                    <img alt="ico" src="/SMM/images/ico_view.gif" onclick="popupWind('/SMM/common.do?metdod=viewImage&amp;imageId=8a85bda64a76fd9c014bee49b9203977')" style="cursor: pointer;">
                </td>
                <td >
                    <input name="submittedDocForm[1].uuid" value="8a85bda64a76fd9c014bee49b9203977" type="hidden">

                    <select class="inputSelect" style="width:auto" onchange="" id="submittedDocForm[1].folderType" name="submittedDocForm[1].folderType">



                        <option value="Public">Public</option>



                        <option value="Private (SCU)" selected="selected">
                            Private (SCU)
                        </option>





                        <option value="Private (BD)">Private (BD)</option>


                    </select>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell" style="display:;">

                    <input class="inputButton" value="Delete" id="btnDeleteSubmittedDoc" name="btnDeleteSubmittedDoc" onclick="deleteSubmittedDoc('8a85bda64a76fd9c014bee49b3463976')" type="button">


                </td>
                <td >
                    D0000002011
                </td>
                <td >
                    Photo
                </td>
                <td >
                    09/03/2015
                </td>
                <td ></td>
                <td >
                    <img alt="ico" src="/SMM/images/ico_view.gif" onclick="popupWind('/SMM/common.do?metdod=viewImage&amp;imageId=8a85bda64a76fd9c014bee49b3463976')" style="cursor: pointer;">
                </td>
                <td >
                    <input name="submittedDocForm[2].uuid" value="8a85bda64a76fd9c014bee49b3463976" type="hidden">

                    <select class="inputSelect" style="width:auto" onchange="" id="submittedDocForm[2].folderType" name="submittedDocForm[2].folderType">



                        <option value="Public">Public</option>



                        <option value="Private (SCU)" selected="selected">
                            Private (SCU)
                        </option>





                        <option value="Private (BD)">Private (BD)</option>


                    </select>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell" style="display:;">

                    <input class="inputButton" value="Delete" id="btnDeleteSubmittedDoc" name="btnDeleteSubmittedDoc" onclick="deleteSubmittedDoc('8a85bda64a76fd9c014bee499fc63975')" type="button">


                </td>
                <td >
                    D0000002010
                </td>
                <td >
                    Letter
                </td>
                <td >
                    09/03/2015
                </td>
                <td ></td>
                <td >
                    <img alt="ico" src="/SMM/images/ico_view.gif" onclick="popupWind('/SMM/common.do?metdod=viewImage&amp;imageId=8a85bda64a76fd9c014bee499fc63975')" style="cursor: pointer;">
                </td>
                <td >
                    <input name="submittedDocForm[3].uuid" value="8a85bda64a76fd9c014bee499fc63975" type="hidden">

                    <select class="inputSelect" style="width:auto" onchange="" id="submittedDocForm[3].folderType" name="submittedDocForm[3].folderType">



                        <option value="Public">Public</option>



                        <option value="Private (SCU)" selected="selected">
                            Private (SCU)
                        </option>





                        <option value="Private (BD)">Private (BD)</option>


                    </select>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell" style="display:;">


                    &nbsp;

                </td>
                <td >
                    D0000002009
                </td>
                <td >
                    Form
                </td>
                <td >
                    09/03/2015
                </td>
                <td >
                    SC02
                </td>
                <td >
                    <img alt="ico" src="/SMM/images/ico_view.gif" onclick="popupWind('/SMM/common.do?metdod=viewImage&amp;imageId=8a85bda64a76fd9c014bee4685163973')" style="cursor: pointer;">
                </td>
                <td >
                    <input name="submittedDocForm[4].uuid" value="8a85bda64a76fd9c014bee4685163973" type="hidden">

                    <select class="inputSelect" style="width:auto" onchange="" id="submittedDocForm[4].folderType" name="submittedDocForm[4].folderType">



                        <option value="Public">Public</option>



                        <option value="Private (SCU)" selected="selected">
                            Private (SCU)
                        </option>





                        <option value="Private (BD)">Private (BD)</option>


                    </select>
                </td>
            </tr>

        </tbody>
    </table>

  
    
      <div class="btnSet btnSetTypeA">
        <div class="right">
          <input onclick="confirmSubmitToDoSMM0301a('postSubmittedDocs', 'Are you sure to save the document?')"  value="Save" name="btnSaveFolderTypeSubmittedDoc" id="btnSaveFolderTypeSubmittedDoc" class="inputButton" type="button">
        </div>
      </div>
    

<br>
<div id="photolib" class="sList">
  
</div>
<div id="signboardRelation" class="sList">
    <table class="inputTable">
        <thead>
            <tr>
                <th class="sTh1">
                    Related Signboards of the Signboard
                </th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td>
                    <input class="inputButton" id="btnAddSignboardRelation" name="btnAddSignboardRelation" value="Add" onclick="loadContentPage('SMM0301a2')" type="button">
                </td>
            </tr>
        </tfoot>
    </table>
  
    <div class="btnSet btnSetTypeA">
      <div class="right">
         </div>
    </div>
  
</div>
<br>
<div id="mwItemInfo" class="sList">
 
        <div class="sList">
            <table class="resultTable" >
                <thead>

                    <tr>
                        <th colspan="6" class="sTh1">
                            Details of the Validation/MW Item
                        </th>
                    </tr>
                    <tr class="sRow2">
                        <th class="sTh2">
                            Validation Items  0
                        </th>
                        <th class="sTh2">
                            Corresponding MW items
                        </th>
                    </tr>

                    </thead>

                <tbody></tbody>
            </table>
        </div>
        <br>
        <div class="sList">
            <table id="itemTable" class="resultTable">
                <thead>
                    <tr class="sRow2">
                        <th class="sTh2">
                            MW Item No.
                        </th>
                        <th class="sTh2">
                            Description
                        </th>
                        <th class="sTh2">
                            Relevant Order/ Direction/ Notice No./ BD Reference No.
                        </th>
                    </tr>
                </thead>
                    <input name="recordItemForm[0].uuid" value="8a85bda64a76fd9c014bfdebe14e2bcf" id="recordItemForm[0].uuid" type="hidden">
                    <input name="recordItemForm[0].itemNo" value="2.20" id="recordItemForm[0].itemNo" type="hidden">
                    <input name="recordItemForm[0].desc" value="位於不屬於懸臂式平板的露台或簷篷上或懸掛在其下的違例招牌
(a) 該招牌不含石材; (b) 該招牌的展示面積不多於2平方米; (c) 該招牌並無任何部份伸出該露台或簷篷; (d) 該招牌的高度不多於600mm; 及(e) 該招牌的厚度不多於100mm.
該招牌呎吋為600x1000; 及由該招牌I底計離地3250mm; 招牌總數2個, 呎吋相同." id="recordItemForm[0].desc" type="hidden">
                    <input name="recordItemForm[0].revision" value="" id="recordItemForm[0].revision" type="hidden">
                 
                    
                    
                    <tr class="sRow2">
                        <th class="sCell" id="recordItemForm[0].itemNoDisplay">
                            2.20
                        </th>
                        <th class="sCell" id="recordItemForm[0].descDisplay">
                            位於不屬於懸臂式平板的露台或簷篷上或懸掛在其下的違例招牌
                            (a) 該招牌不含石材; (b) 該招牌的展示面積不多於2平方米; (c) 該招牌並無任何部份伸出該露台或簷篷; (d) 該招牌的高度不多於600mm; 及(e) 該招牌的厚度不多於100mm.
                            該招牌呎吋為600x1000; 及由該招牌I底計離地3250mm; 招牌總數2個, 呎吋相同.
                        </th>
                        <th class="sCell" id="recordItemForm[0].revisionDisplay"></th>
                    </tr>

                    <input name="recordItemForm[1].uuid" value="8a85bda6516ce9ae01533a55d8d6037c" id="recordItemForm[1].uuid" type="hidden">
                    <input name="recordItemForm[1].itemNo" value="2.20" id="recordItemForm[1].itemNo" type="hidden">
                    <input name="recordItemForm[1].desc" value="位於不屬於懸臂式平板的露台或簷篷上或懸掛在其下的違例招牌
(a) 該招牌不含石材; (b) 該招牌的展示面積不多於2平方米; (c) 該招牌並無任何部份伸出該露台或簷篷; (d) 該招牌的高度不多於600mm; 及(e) 該招牌的厚度不多於100mm.
該招牌呎吋為600x1000; 及由該招牌I底計離地3250mm; 招牌總數2個, 呎吋相同." id="recordItemForm[1].desc" type="hidden">
                    <input name="recordItemForm[1].revision" value="" id="recordItemForm[1].revision" type="hidden">


                <tbody>
                    <tr class="sRow2">
                        <th class="sCell" id="recordItemForm[1].itemNoDisplay">
                            2.20
                        </th>
                        <th class="sCell" id="recordItemForm[1].descDisplay">
                            位於不屬於懸臂式平板的露台或簷篷上或懸掛在其下的違例招牌
                            (a) 該招牌不含石材; (b) 該招牌的展示面積不多於2平方米; (c) 該招牌並無任何部份伸出該露台或簷篷; (d) 該招牌的高度不多於600mm; 及(e) 該招牌的厚度不多於100mm.
                            該招牌呎吋為600x1000; 及由該招牌I底計離地3250mm; 招牌總數2個, 呎吋相同.
                        </th>
                        <th class="sCell" id="recordItemForm[1].revisionDisplay"></th>
                    </tr>

                </tbody>
            </table>
        </div>

    
  
</div>
<br>

<!-- ************************************************** -->
<!--                                                    -->
<!-- Particulars of PBP                                 -->
<!--                                                    -->
<!-- ************************************************** -->
<div id="pbpInfo" class="sList">

    <table class="resultTable">
        <thead>
            <tr>
                <th colspan="4" class="sTh1">
                    Particulars of PBP
                </th>
                <th class="sTh1">
                    Result
                </th>
            </tr>
            <tr class="sRow2">
                <th class="sTh2">
                    PBP
                </th>
                <th class="sTh2">
                    Certification of Registration No.
                </th>
                <th class="sTh2">
                    English Name
                </th>
                <th class="sTh2">
                    Chinese Name
                </th>
                <th class="sTh2">
                    Reg. No. &amp; Name of PBP
                </th>
            </tr>
            </thead>
        <tbody>
            <tr class="sRow2 results">
                <th class="sCell">AP</th>
                <th class="sCell">
                    <span class="Apple-style-span" style="color: rgb(0, 0, 0); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(252, 252, 252); display: inline ! important; float: none;">

                    </span>
                </th>
                <th class="sCell"></th>
                <th class="sCell"></th>
                <th class="sCell">
                    <input name="pbpProfForm[0].nameValid" value="" id="pbpProfForm[0].nameValid" type="hidden">
                    <input name="pbpProfForm[0].nameValid" class="inputButton inputMediumButton" value="N/A" disabled="" onclick="toggleOkBtn(this)" type="button">
                </th>
            </tr>


            <tr class="sRow2 results">
                <th class="sCell">RSE</th>
                <th class="sCell">
                    <span class="Apple-style-span" style="color: rgb(0, 0, 0); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(252, 252, 252); display: inline ! important; float: none;">

                    </span>
                </th>
                <th class="sCell"></th>
                <th class="sCell"></th>
                <th class="sCell">
                    <input name="pbpProfForm[1].nameValid" value="" id="pbpProfForm[1].nameValid" type="hidden">
                    <input name="pbpProfForm[1].nameValid" class="inputButton inputMediumButton" value="N/A" disabled="" onclick="toggleOkBtn(this)" type="button">
                </th>
            </tr>


            <tr class="sRow2 results">
                <th class="sCell">RGE</th>
                <th class="sCell">
                    <span class="Apple-style-span" style="color: rgb(0, 0, 0); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(252, 252, 252); display: inline ! important; float: none;">

                    </span>
                </th>
                <th class="sCell"></th>
                <th class="sCell"></th>
                <th class="sCell">
                    <input name="pbpProfForm[2].nameValid" value="" id="pbpProfForm[2].nameValid" type="hidden">
                    <input name="pbpProfForm[2].nameValid" class="inputButton inputMediumButton" value="N/A" disabled="" onclick="toggleOkBtn(this)" type="button">
                </th>
            </tr>

        </tbody>
    </table>
        </th>
      </tr>
  </tbody></table>
</div>
<!-- ************************************************** -->
<!-- End                                                -->
<!-- Particulars of PBP                                  -->
<!--                                                    -->
<!-- ************************************************** -->
<!-- ************************************************** -->
<!--                                                    -->
<!-- Particulars of PRC                                 -->
<!--                                                    -->
<!-- ************************************************** -->
<div class="sList" id="prcInfo">

    <table class="resultTable">
        <thead>
            <tr>
                <th class="sTh1" colspan="3">
                    Particulars of PRC
                </th>
                <th class="sTh1">
                    Result
                </th>
                <th class="sTh1" colspan="2">
                    Particulars of AS
                </th>
                <th class="sTh1">
                    Result
                </th>
            </tr>
            <tr class="sRow2">
                <th class="sTh2">
                    Certification of Registration No.
                </th>
                <th class="sTh2">
                    English Name of PRC
                </th>
                <th class="sTh2">
                    Chinese Name of PRC
                </th>
                <th class="sTh2" style="width: 120px">
                    Reg. No. &amp; Name of PRC
                </th>
                <th class="sTh2">
                    English Name of AS
                </th>
                <th class="sTh2">
                    Chinese Name of AS
                </th>
                <th class="sTh2" style="width: 120px">
                    Reg. No. &amp; Name of AS
                </th>
            </tr>
            </thead>
        <tbody>
            <tr class="sRow2">
                <th class="sCell">MWC 1772/2011</th>
                <th class="sCell">xx xx DESIGN COMPANY</th>
                <th class="sCell">xxx公司</th>
                <th class="sCell results">
                    <input name="prcNameValid" value="" id="prcNameValid" type="hidden">
                    <input name="prcNameValid" class="inputButton inputMediumButton" value="Not OK" onclick="toggleOkBtn(this)" type="button">
                </th>
                <th class="sCell">LAU xx xx</th>
                <th class="sCell">劉xx</th>
                <th class="sCell results">
                    <input name="prcAsNameValid" value="" id="prcAsNameValid" type="hidden">
                    <input name="prcAsNameValid" class="inputButton inputMediumButton" value="Not OK" onclick="toggleOkBtn(this)" type="button">
                </th>
            </tr>
        </tbody>
    </table>

</div>
<!-- ************************************************** -->
<!-- End                                                -->
<!-- Particulars of PBP                                  -->
<!--                                                    -->
<!-- ************************************************** -->

        <br>
        
          
            
              











 



  

  

  



<script type="text/javascript">
function implode() { 
    var tempRow1 = null;
    var remarks = $(".remarks");
    for(var i = 0 ; i < remarks.length; i++){
        if(remarks.eq(i).attr("class").match("sRow1") != null)
            tempRow1 = remarks.eq(i);
        else if (remarks.eq(i).attr("class").match("sRow2") != null){
            var ind = (i - 1) / 4;
            if(i > 11){
                tempRow1 = null;
                if(i == 12 || i == 13 || i == 16)
                    ind = 3;
                else if(i == 14 || i == 15)
                    ind = 4;
            }
            $(".results").eq(ind).find("input:hidden").each(function(){
                if(/*$(this).attr('checked') &&*/ 
                        $(this).val() == "on"){
                      if(tempRow1 != null)
                          tempRow1.hide();
                      remarks.eq(i).hide();
                  }
            });
            $(".results").eq(ind).find("input:button").each(function(){
                if(/*$(this).attr('checked') &&*/ 
                        $(this).val() == "N/A"){
                      if(tempRow1 != null)
                          tempRow1.hide();
                      remarks.eq(i).hide();
                  }
            });
        }
    }
}
function explode() {
    $(".remarks").each(function(){
        $(this).show();
    });
}
function showButtonClick(sender) {
    if(sender.value == "Show All") { 
        explode();
        sender.value = "Show \"Not OK\" Only";
    } else {
        implode();
        sender.value = "Show All";
    }
}
function allProfRemarksSetBtnClicked(btnObj){
    appendProfRemarks(btnObj);
    
    explode();
    document.getElementById("showBtn").value = "Show \"Not OK\" Only";
    
    updateProfResult(btnObj);
}
$("document").ready(function(){
    implode();
    document.getElementById("showBtn").value = "Show All";
    
    
    /*var textarea_1 = document.getElementById("textarea_1");
    
    var font = document.createElement("font");
    var text = document.createTextNode("This should be RED.");
    font.setAttribute("color", "red");
    font.appendChild(text);
    textarea_1.appendChild(font);
    
    var font2 = document.createElement("font");
    var text2 = document.createTextNode("This should be BLUE.");
    font2.setAttribute("color", "blue");
    font2.appendChild(text2);
    textarea_1.appendChild(font2);*/
    
    /*$(".profRemarks").each(function(){
        WYSIWYG.attach($(this).attr("id"), wysiwygSettings);
    });*/
    
    //WYSIWYG.attach("textarea_1", wysiwygSettings);
    //WYSIWYG.attach("textarea_2", wysiwygSettings);
    /*$(".tableTextareaEditor tr").each(function(){
        $(this).remove();
    });*/
})
</script>

<div id="formPbpCheck" class="sList" style="float: right">
  <input class="inputButton" style="width: 150px" value="Show All" id="showBtn" onclick="javascript:showButtonClick(this)" type="button">
</div>
<br>

<!--<textarea id="textarea_1"></textarea>
<textarea id="textarea_2"></textarea>-->

<br>
<div id="formPbpCheck" class="sList">
    <table class="inputTable">
        <thead>
            <tr>
                <th class="sTh" style="width: 350px" colspan="1">
                    PBP Checking
                </th>
                <th class="sTh" colspan="3">
                    Remarks

                    <input class="inputButton" value="OK" onclick="allProfRemarksSetBtnClicked(this)" style="display:" type="button">
                    <input class="inputButton" value="Not OK" onclick="allProfRemarksSetBtnClicked(this)" style="display:" type="button">

                </th>
            </tr>
            </thead>
        <tbody>
            <tr class="sRow1 remarks" style="display: none;">
                <th colspan="4" class="sCell">
                    Checking of AP
                </th>
            </tr>
            <tr class="sRow2 remarks" style="display: none;">
                <th class="sCell" style="width: 350px" colspan="1">
                    <b>Validity of appointed AP</b>
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="pbpCheckingForm[0].remarks" rows="3" disabled="disabled" id="pbpCheckingForm[0].remarks" style="width: 100%;" class="inputTextarea profRemarks " alt="VALIDATION_CHECKING">N/A</textarea>
                </th>
            </tr>
            <tr class="sRow2 remarks" style="display: none;">
                <th class="sCell" colspan="1">
                    <b>Signature of AP</b>
                    <br>
                    Specimen Signature:
                    <img alt="ico" onclick="popupWind('/SMM/common.do?method=viewCRMImage&amp;imageId=8a85bda64a76fd9c014bfdac2ce12bbf')" src="/SMM/images/ico_view.gif" style="cursor: pointer;">
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="pbpCheckingForm[0].signatureRemarks" rows="3" disabled="disabled" id="pbpCheckingForm[0].signatureRemarks" style="width: 100%;" class="inputTextarea profRemarks " alt="VALIDATION_CHECKING">N/A</textarea>
                </th>
            </tr>
            <tr class="sRow2 remarks" style="display: none;">
                <th class="sCell" colspan="1">
                    <b>AP Signature Date</b>
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="pbpCheckingForm[0].signatureDateRemarks" rows="3" disabled="disabled" id="pbpCheckingForm[0].signatureDateRemarks" style="width: 100%;" class="inputTextarea profRemarks " alt="VALIDATION_CHECKING">N/A</textarea>


                </th>
            </tr>


            <tr class="sRow1 remarks" style="display: none;">
                <th colspan="4" class="sCell">
                    Checking of RSE
                </th>
            </tr>
            <tr class="sRow2 remarks" style="display: none;">
                <th class="sCell" style="width: 350px" colspan="1">
                    <b>Validity of appointed RSE</b>
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="pbpCheckingForm[1].remarks" rows="3" disabled="disabled" id="pbpCheckingForm[1].remarks" style="width: 100%;" class="inputTextarea profRemarks " alt="VALIDATION_CHECKING">N/A</textarea>
                </th>
            </tr>
            <tr class="sRow2 remarks" style="display: none;">
                <th class="sCell" colspan="1">
                    <b>Signature of RSE</b>
                    <br>
                    Specimen Signature:
                    <img alt="ico" onclick="popupWind('/SMM/common.do?method=viewCRMImage&amp;imageId=8a85bda64a76fd9c014bfdac2ce12bc1')" src="/SMM/images/ico_view.gif" style="cursor: pointer;">
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="pbpCheckingForm[1].signatureRemarks" rows="3" disabled="disabled" id="pbpCheckingForm[1].signatureRemarks" style="width: 100%;" class="inputTextarea profRemarks " alt="VALIDATION_CHECKING">N/A</textarea>
                </th>
            </tr>
            <tr class="sRow2 remarks" style="display: none;">
                <th class="sCell" colspan="1">
                    <b>RSE Signature Date</b>
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="pbpCheckingForm[1].signatureDateRemarks" rows="3" disabled="disabled" id="pbpCheckingForm[1].signatureDateRemarks" style="width: 100%;" class="inputTextarea profRemarks " alt="VALIDATION_CHECKING">N/A</textarea>


                </th>
            </tr>


            <tr class="sRow1 remarks" style="display: none;">
                <th colspan="4" class="sCell">
                    Checking of RGE
                </th>
            </tr>
            <tr class="sRow2 remarks" style="display: none;">
                <th class="sCell" style="width: 350px" colspan="1">
                    <b>Validity of appointed RGE</b>
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="pbpCheckingForm[2].remarks" rows="3" disabled="disabled" id="pbpCheckingForm[2].remarks" style="width: 100%;" class="inputTextarea profRemarks " alt="VALIDATION_CHECKING">N/A</textarea>
                </th>
            </tr>
            <tr class="sRow2 remarks" style="display: none;">
                <th class="sCell" colspan="1">
                    <b>Signature of RGE</b>
                    <br>
                    Specimen Signature:
                    <img alt="ico" onclick="popupWind('/SMM/common.do?method=viewCRMImage&amp;imageId=8a85bda64a76fd9c014bfdac2ce12bc2')" src="/SMM/images/ico_view.gif" style="cursor: pointer;">
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="pbpCheckingForm[2].signatureRemarks" rows="3" disabled="disabled" id="pbpCheckingForm[2].signatureRemarks" style="width: 100%;" class="inputTextarea profRemarks " alt="VALIDATION_CHECKING">N/A</textarea>
                </th>
            </tr>
            <tr class="sRow2 remarks" style="display: none;">
                <th class="sCell" colspan="1">
                    <b>RGE Signature Date</b>
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="pbpCheckingForm[2].signatureDateRemarks" rows="3" disabled="disabled" id="pbpCheckingForm[2].signatureDateRemarks" style="width: 100%;" class="inputTextarea profRemarks " alt="VALIDATION_CHECKING">N/A</textarea>


                </th>
            </tr>


            <tr class="sRow2"><th class="sCell" colspan="4">&nbsp;</th></tr>

            </tbody>

        </table>
    <table class="inputTable">
        <thead>
            <tr>
                <th class="sTh sRow1" style="width: 350px" colspan="1">
                    PRC Checking
                </th>
                <th class="sTh" colspan="3">
                    Remarks
                </th>
            </tr>
            </thead>
        <tbody>
            <tr class="sRow2 remarks">
                <th class="sCell" colspan="1">
                    <b>Validity of appointed PRC :</b>
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="prcRemarks" rows="3" id="prcRemarks" style="" class="inputTextarea profRemarks showList" alt="VALIDATION_CHECKING">Certification of Registration No. is expiry!</textarea>
                    <button id="icon0" class="optionListIcon" style="border:0px;padding:0px;margin:0px;height:50px;width:15px;vertical-align:top;margin-left:-5px" onclick="return false;">▼</button>
                </th>
            </tr>
            <tr class="sRow2 remarks">
                <th class="sCell" colspan="1">
                    <b>Capability of appointed PRC :</b>
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="prcCapRemarks" rows="3" id="prcCapRemarks" style="" class="inputTextarea profRemarks showList" alt="VALIDATION_CHECKING"></textarea>
                    <button id="icon1" class="optionListIcon" style="border:0px;padding:0px;margin:0px;height:50px;width:15px;vertical-align:top;margin-left:-5px" onclick="return false;">▼</button>
                </th>
            </tr>
            <tr class="sRow2 remarks">
                <th class="sCell" colspan="1">
                    <b>Validity of Authorized Signatory :</b>
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="prcAsRemarks" rows="3" id="prcAsRemarks" style="" class="inputTextarea profRemarks showList" alt="VALIDATION_CHECKING">Certification of Registration No. is expiry!</textarea>
                    <button id="icon2" class="optionListIcon" style="border:0px;padding:0px;margin:0px;height:50px;width:15px;vertical-align:top;margin-left:-5px" onclick="return false;">▼</button>
                </th>
            </tr>
            <tr class="sRow2 remarks">
                <th class="sCell" colspan="1">
                    <b>Signature Of AS :</b>
                    <br>
                    Specimen Signature:
                    <img alt="ico" onclick="popupWind('/SMM/common.do?method=viewCRMImage&amp;imageId=8a85bda64a76fd9c014bfdac2ce12bc0')" src="/SMM/images/ico_view.gif" style="cursor: pointer;">
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="prcAsSignatureRemarks" rows="3" id="prcAsSignatureRemarks" style="" class="inputTextarea profRemarks showList" alt="VALIDATION_CHECKING">Certification of Registration No. Not Found!</textarea>
                    <button id="icon3" class="optionListIcon" style="border:0px;padding:0px;margin:0px;height:50px;width:15px;vertical-align:top;margin-left:-5px" onclick="return false;">▼</button>
                </th>
            </tr>
            <tr class="sRow2 remarks">
                <th class="sCell" colspan="1">
                    <b>PRC Signature Date :</b>
                </th>
                <th class="sCell" colspan="3">
                    <textarea name="prcSignatureDateRemarks" rows="3" id="prcSignatureDateRemarks" style="" class="inputTextarea profRemarks showList" alt="VALIDATION_CHECKING"></textarea>
                    <button id="icon4" class="optionListIcon" style="border:0px;padding:0px;margin:0px;height:50px;width:15px;vertical-align:top;margin-left:-5px" onclick="return false;">▼</button>
                </th>
            </tr>

            <tr class="sRow2"><th class="sCell" colspan="4">&nbsp;</th></tr>

            <tr class="sRow2">


                <th class="sCellVM" style="width:350px;">
                    <b>Results from TO :</b>
                </th>
                <th class="sCell">

                    <input name="pbpPrcCheckingValidTO" value="" id="pbpPrcCheckingValidTO" type="hidden">
                    <input name="pbpPrcCheckingValidTO" class="inputMediumButton" value="Not OK" onclick="toggleOkBtn(this)" type="button">



                </th>
            </tr>
        </tbody>
    </table>
</div>
<br>

            
        <table class="inputTable">

            <tfoot>
                <tr>
                    <td>

                        <input onclick="genAuditForm('8a85bda64a76fd9c014bfdebe14e2bce','saveTO')" value="Advisory Letter" class="inputButton" name="btnAuditForm" id="btnAuditForm" type="button">

                        <select style="width:auto" name="selectedLetter" id="AdvisoryLetter" class="inputSelect"></select>

                        <input onclick="loadContentPage('SMM0301a3')" value="View Comments" class="inputButton" name="btnViewComments" id="btnViewComments" type="button">



                        <input onclick="loadContentPage('SMM0301')" value="Save as Draft" name="btnSave" id="btnSave" class="inputButton" type="button">


                        <input onclick="loadContentPage('SMM0301b')" value="→" name="btnNext" id="btnNext" class="inputButton arrow" type="button">




                    </td>
                </tr>
            </tfoot>
        </table>