<table class="inputTable">
    <thead>
        <tr>
            <th colspan="2">
               Add Photo Library
            </th>
        </tr>
        <tr>
            <th>
              Description
            </th>
            <th>

              URL
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               
            </td>
            <td>
         
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <input type="button" value="Add" onclick="loadContentPage('SMM0301b')" />
            </td>
        </tr>
    </tfoot>

</table>