<table class="inputTable">
    <thead>
        <tr>
            <th colspan="2">
                Edit BCIC Block ID & BD ref.(4+2)
            </th>
        </tr>
        <tr>
            <th>
                BCIS Block ID
            </th>
            <th>

                4+2 No.
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                12321231
            </td>
            <td>
                4033/52
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <input type="button" value="Save" onclick="loadContentPage('SMM0301a')" />
            </td>
        </tr>
    </tfoot>

</table>