<h3>
    Comments
</h3>
<table class="resultTable"
       >
    <thead>
        <tr>
            <th>
               From
            </th>
            <th>
                Created Date
            </th>
            <th>
                Modified Date
            </th>
            <th>
                Comment
            </th>
        </tr>
    </thead>
</table>
<table class="inputTable">
    <tfoot>
        <tr>
            <td>
                <input type="button" value="Close" onclick="loadContentPage('SMM0301a')" />
            </td>
        </tr>
    </tfoot>
</table>