
<h3>BA16</h3>
<table class="inputTable">
    <thead>
        <tr>
            <th colspan="4">
                Application Info
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Mod. Ref. No. :
            </th>
            <td>MW 001/2018(MOD) <!--<input type="text" value="MW 001/2018(MOD)" />--></td>
            <th>
                E-mail Address :
            </th>
            <td> <input type="text" value="xx@email.com" /></td>
        </tr>
        <tr>
            <th>
                MW Ref. No. :
            </th>
            <td colspan="3">
                <input type="text" style="max-width:200px;" />

            </td>
        </tr>
        <tr>
            <th>

            </th>
            <td colspan="3">
                <input type="text" style="max-width:200px;" />

            </td>
        </tr>
        <tr>
            <th>

            </th>
            <td colspan="3">
                <input type="text" style="max-width:200px;" /><input type="button" value="Add" />
            </td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="4">
                Details of the Building
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th>
                Address :
            </th>
            <td> <input type="text" value="xxxxxxxxxxxxx" /></td>
            <th>
                Lot No. :
            </th>
            <td> <input type="text" value="xxxxxxxx" /></td>
        </tr>
        <!--  </tbody>
        <thead>
              <tr>
                  <th colspan="4">
                      Details of the Modification and/or Exemption Sought
                  </th>
              </tr>
          </thead>
          <tbody>

              <tr>
                  <th>
                      《建築物條例》/ 規例 Buildings Ordinance / Regulations :
                  </th>
                  <td> <input type="text" value="xxxxxxxx" /></td>
                  <th>
                      Type of Works :
                  </th>
                  <td> <select style="width:auto"><option selected>Building works</option><option>Street works</option></select></td>
              </tr>
              <tr>
                  <th>
                      Description of Modification/Exemption Sought :
                  </th>
                  <td colspan="3"><textarea style="width:90%" rows="5"></textarea></td>
              </tr>
              <tr>
                  <th>
                      Location of Subject and Drawing Number :
                  </th>
                  <td colspan="3"><textarea style="width:90%" rows="5">xxxxxxxxxxxxxx</textarea></td>
              </tr>
              <tr>
                  <th style="max-width:200px;">
                      Special circumstances in connection
                      <br />
                      with the said works in support of this application,
                      <br />
                      including reasons for not being able to comply
                      <br />
                      with the Buildings Ordinance/Regulations :
                  </th>
                  <td colspan="3"><textarea style="width:90%" rows="5">xxxxxxxxxxxxx</textarea></td>
              </tr>
              <tr>
                  <th>
                      Description of Modification/Exemption Sought :
                  </th>
                  <td colspan="3"><textarea style="width:90%" rows="5">xxxxxxxxxxxxxxx</textarea></td>
              </tr>
              <tr>
                  <th>
                      Justifications, Proposed Remedies
                      <br />
                      and Supporting Documents (if any) :
                  </th>
                  <td colspan="3"><textarea style="width:90%" rows="5"></textarea></td>
              </tr>-->

        <tr>
            <th>
                Name of Applicant :
            </th>
            <td> <input style="max-width:200px;" type="text" value="xx xxx xxx" /></td>
            <th>
                Received Date :
            </th>
            <td> <input class="inputDate" type="text" value="08/12/2018" /></td>
        </tr>
        <!--<tr>
            <th>
                Capacity of Applicant :
            </th>
            <td> <input style="max-width:200px;" type="text" value="xxxxxxxx" /> </td>

        </tr>-->
        <tr>
            <th>
                Handing staff (PO) :
            </th>
            <td colspan="3"> <select style="width:auto"><option></option><option>BS1</option><option>SE4</option><option>BS6</option></select></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"><input type="button" value="Cancel" onclick="loadContentPage('PEM0115')" /> <input type="button" value="Update" onclick="loadContentPage('PEM0115')" /> </td>
        </tr>
    </tfoot>
</table>



<h3>
    Scanned Document
</h3>

<table class="resultTable">
    <thead>
        <tr>
            <th colspan="8" class="sTh1">Incoming Document</th>
        </tr>
        <tr>
            <th class="fLabel">Document Type</th>
            <th class="fLabel">Folder Type</th>
            <th class="fLabel">Scanned Date</th>
            <th class="fLabel">Document S/N</th>
            <th class="fLabel">Form No.</th>
            <th class="fLabel">View Image</th>

        </tr>
    </thead>
    <tbody></tbody>
</table>

<table class="resultTable">
    <thead>
        <tr>
            <th colspan="8" class="sTh1">Outgoing Document</th>
        </tr>
        <tr>
            <th class="fLabel">Document Type</th>
            <th class="fLabel">Folder Type</th>
            <th class="fLabel">Scanned Date</th>
            <th class="fLabel">Document S/N</th>
            <th class="fLabel">Form No.</th>
            <th class="fLabel">View Image</th>

        </tr>
    <tbody></tbody>
</table>


<h3>
    Status :
    <select disabled id="BD106" name="BD106" style="width:auto">
        <option onclick="PEM0301Modi()" value="1">Accept</option>
        <option onclick="PEM0301Modi()" value="2">Not Accept</option>
    </select>

</h3>

<table class="inputTable hide" id="PEM0301ModiTable2"><tr><th>Reply Date</th> <td><input class="inputDate" /></td></tr></table>
<div id="head"><h3>BD106</h3></div>

<table class="inputTable" id="PEM0301ModiTable">
    <tbody>
        <tr>
            <th>
                Permit No. :
            </th>
            <td>
                MW 001/2018(MOD)
                <!--<input type="text" readonly value="MW 001/2018(MOD)" />-->
            </td>
            <th>
                Our Ref. No. :
            </th>
            <td>
                MW 001/2018(MOD)
                <!--<input type="text" readonly value="MW 001/2018(MOD)" />-->
            </td>

        </tr>

        <tr>
            <th>
                Issue Date :
            </th>
            <td>
                <input disabled class="inputDate" type="text" value="" />
            </td>

            <th>
                Completed Date :
            </th>
            <td>
                <input  disabled class="inputDate" type="text" value="" />                  <input disabled type="button" value="Issue Reminder(Letter)" onclick="loadContentPage('PEM0301')" />
            </td>

        </tr>
        <tr>
            <th>
                Annual Inspection Date :
            </th>
            <td colspan="3">
                <input disabled class="inputDate" type="text" value="" />                 <input disabled type="button" value="Issue Inspection Reminder(Letter)" onclick="loadContentPage('PEM0301')" />
            </td>


        <tr>
            <th>Referral date to LSS :</th>
            <td>  <input disabled class="inputDate" type="text" value="" /></td>
            <th>Referral date to EBD :</th>
            <td>  <input disabled class="inputDate" type="text" value="" /></td>
        </tr>
        <tr id="siteRow" name="siteRow">
            <th>
                Site Inspection Completed :
            </th>
            <td><select disabled style="width:auto"><option></option><option>Y</option><option>N</option></select></td>
            <th>
                Site Inspection Date :
            </th>
            <td>
                <input disabled type="text" class="inputDate" />
                <input disabled type="button" onclick="PEM0301ModiAdd()" value="Add" />
            </td>

        </tr>
        <tr>
            <th>
                Result of BD's site inspection :
            </th>
            <td><select disabled style="width:auto"><option>In Order</option><option>NOT In Order</option></select></td>
            <th>
                Is Valid :
            </th>
            <td><select disabled style="width:auto"><option>Y</option><option>N</option></select></td>
        </tr>
        <tr>

            <th>
                Regulation(s) exempted/modified list :
            </th>
            <td colspan="3">
                <input disabled type="checkbox" value="  " /> i.	B(P)R30&31: reduction of NL&V for bedroom
                <br />
                <input disabled type="checkbox" value="  " />   ii.	B(P)R30&31: omission of NL&V for bedroom
                <br />
                <input disabled type="checkbox" value="  " />  iii.	B(P)R30&31: reduction of NL&V for communal living area
                <br />
                <input disabled type="checkbox" value="  " /> iv.	B(P)R30&31: omission of NL&V for communal living area
                <br />
                <input disabled type="checkbox" value="  " />   v.	B(P)R45: non-provision of kitchen
                <br />
                <input disabled type="checkbox" value="  " /> vii.	B(P)R36: omission/reduction of NL&V for bathroom/toilet
                <br />
                <input disabled type="checkbox" value="  " /> viii.	B(P)R35A: non-provision of flue aperture
                <br />

                <input disabled type="checkbox" value="  " /> ix.	B(SSFPDW&L)R29(1)&(2), 44(4) & 50(2): use of epoxy coated C.I. pipes
                <br />


                <!--<select style="width:auto">
                    <option>

                        i.	B(P)R30&31: reduction of NL&V for bedroom
                    </option>
                    <option>

                        ii.	B(P)R30&31: omission of NL&V for bedroom
                    </option>
                    <option>

                        iii.	B(P)R30&31: reduction of NL&V for communal living area
                    </option>
                    <option>

                        iv.	B(P)R30&31: omission of NL&V for communal living area
                    </option>
                    <option>

                        v.	B(P)R45: non-provision of kitchen
                    </option>
                    <option>
                        vi.	B(P)R36: reduction of NL&V for pantry

                    </option>
                    <option>vii.	B(P)R36: omission/reduction of NL&V for bathroom/toilet</option>
                    <option>viii.	B(P)R35A: non-provision of flue aperture</option>
                    <option>ix.	B(SSFPDW&L)R29(1)&(2), 44(4) & 50(2): use of epoxy coated C.I. pipes</option>

                </select>-->
            </td>
        </tr>

    </tbody>

</table>

<!--<table class="inputTable">
    <tfoot>
        <tr>
            <td colspan="4">

                <input type="button" value="Cancel" onclick="loadContentPage('PEM0301')" />
                <input type="button" value="Save" onclick="loadContentPage('PEM0301')" />
            </td>
        </tr>
    </tfoot>
</table>-->