
               
                    <table class="inputTable">
                        <thead>
                            <tr>
                                <th colspan="2" class="sTh1">
                                    Criteria
                                </th>
                            </tr>
                     
                                                        <tbody>
                                                            <tr>
                                                                <th class="fLabel">
                                                                    Period :
                                                                </th>
                                                                <td class="fField inputCalendarDivParent">
                                                                    From
                                                                   <input name="searchReceivedDateFrom" value="31/12/2017" id="searchReceivedDateFrom" class="inputDate" title="to:searchReceivedDateTo" type="text">
                                                                    To
                                                                    <input name="searchReceivedDateTo" value="25/10/2018" id="searchReceivedDateTo"    class="inputDate" title="from:searchReceivedDateFrom" type="text">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

        
                <table class="inputTable">
                    <tfoot>
                        <tr>

                            <td>
                                <input class="inputButton" id="btnSearch" name="btnSearch" value="Generate" onclick="loadContentPage('PEM0114StatDetail')" type="button">

                            </td>
                        </tr>
                    </tfoot>
                </table>