<table class="inputTable">
    <tbody>
        <tr>


            <th>
                MW Item

            </th>
            <td>

                <input type="text" />


            </td>
        </tr>
        <tr>


            <th>
                PRC

            </th>
            <td>

                <input type="text" />


            </td>
        </tr>


        <tr>


            <th>
               PBP

            </th>
            <td>

                <input type="text" />


            </td>
        </tr>
        <tr>


            <th>
                Receive date:

            </th>
            <td>
                from:
                <input type="text" class="inputDate" />
                to:
                <input type="text" class="inputDate" />

            </td>
        </tr>
  
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <input type="button" value="Search" onclick="PEMRemoveHideSearch()" />
            </td>
        </tr>
    </tfoot>
</table><table id="PEMHideDiv" class="resultTable hide">

    <thead>


        <tr>
            <th>&nbsp;</th>
            <th>DSN</th>
            <th>MW No.</th>
            <th>Form</th>
            <th>Received Date</th>
            <th>Letter Date</th>
            <th>PBP</th>
            <th>PRC</th>
            <th>Address</th>
			<th>Audit<br/>(AFC)</th>
			<th>Audit<br/>(SAC)</th>
			<th>Audit<br/>(PSAC)</th>
            <th>O</th>
            <th>S</th>
            <th>P</th>
            <th>Pick Audit?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Submitted</td>
            <td>D0000748430&nbsp;</td>
            <td>MW161100007&nbsp;</td>
            <td>MW01&nbsp;</td>
            <td>28/11/2016&nbsp;</td>
            <td>28/11/2016&nbsp;</td>
            <td>SOMW1&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>N&nbsp;</td>
            <td>N&nbsp;</td>
            <td>N&nbsp;</td>
            <td>N&nbsp;</td>
            <td>N&nbsp;</td>
            <td>N&nbsp;</td>
            <td><input type="checkbox" /></td>
        </tr>
        
        <tr>
            <td>Submitted</td>
            <td>D0000748430&nbsp;</td>
            <td>MW161100007&nbsp;</td>
            <td>MW01&nbsp;</td>
            <td>28/11/2016&nbsp;</td>
            <td>28/11/2016&nbsp;</td>
            <td>SOMW1&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Y&nbsp;</td>
            <td>N&nbsp;</td>
            <td>N&nbsp;</td>
            <td>N&nbsp;</td>
            <td>N&nbsp;</td>
            <td>N&nbsp;</td>
            <td><input type="checkbox" /></td>
        </tr>
    </tbody>


</table>