
<h3>
    BA16
</h3>
<table class="inputTable">
    <thead>
        <tr>
            <th colspan="4">
                Application Info
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Mod. Ref. No. :
            </th>
            <td> <input type="text" /></td>
            <th>
                E-mail Address :
            </th>
            <td> <input type="text" /></td>
        </tr>
        <tr><th>DSN :</th><td colspan="3">D0000001</td></tr>
        <tr>
            <th>
                MW Ref. No. :
            </th>
            <td colspan="3">
                <input type="text" style="max-width:200px;" />

            </td>
        </tr>
        <tr>
            <th>

            </th>
            <td colspan="3">
                <input type="text" style="max-width:200px;" />

            </td>
        </tr>
        <tr>
            <th>

            </th>
            <td colspan="3">
                <input type="text" style="max-width:200px;" /><input type="button" value="Add" />
            </td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="4">
                Details of the Building
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th>
                Address :
            </th>
            <td> <input type="text" /></td>
            <th>
                Lot No. :
            </th>
            <td> <input type="text" /></td>
        </tr>
        <!--</tbody>
    <thead>
        <tr>
            <th colspan="4">
                Details of the Modification and/or Exemption Sought
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th>
                《建築物條例》/ 規例 Buildings Ordinance / Regulations :
            </th>
            <td> <input type="text" /></td>
            <th>
                Type of Works
            </th>
            <td> <select style="width:auto"><option>Building works</option><option>Street works</option></select></td>
        </tr>
        <tr>
            <th>
                Description of Modification/Exemption Sought :
            </th>
            <td colspan="3"><textarea style="width:90%" rows="5"></textarea></td>
        </tr>
        <tr>
            <th>
                Location of Subject and Drawing Number :
            </th>
            <td colspan="3"><textarea style="width:90%" rows="5"></textarea></td>
        </tr>
        <tr>
            <th style="max-width:200px;">
                Special circumstances in connection
                <br />
                with the said works in support of this application,
                <br />
                including reasons for not being able to comply
                <br />
                with the Buildings Ordinance/Regulations :
            </th>
            <td colspan="3"><textarea style="width:90%" rows="5"></textarea></td>
        </tr>
        <tr>
            <th>
                Description of Modification/Exemption Sought :
            </th>
            <td colspan="3"><textarea style="width:90%" rows="5"></textarea></td>
        </tr>
        <tr>
            <th>
                Justifications, Proposed Remedies<br />
                and Supporting Documents (if any) :
            </th>
            <td colspan="3"><textarea style="width:90%" rows="5"></textarea></td>
        </tr>-->

        <tr>
            <th>
                Name of Applicant :
            </th>
            <td> <input style="max-width:200px;" type="text" /></td>
            <th>
                Received Date :
            </th>
            <td> <input class="inputDate" type="text" /></td>
        </tr>
        <!--  <tr>
      <th>
          Capacity of Applicant :
      </th>
      <td> <input style="max-width:200px;" type="text" /></td>
    </tr>-->
        <tr>
            <th>
                Handing staff (PO) :
            </th>
            <td colspan="3"> <select style="width:auto"><option></option><option>BS1</option><option>SE4</option><option>BS6</option></select></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">

            <!--<input type="button" value="Assign BA16 to PO" onclick="PEM0115Assign()" />--> 
            <input type="button" value="Cancel" onclick="loadContentPage('PEM0115')" /> 
            <input type="button" value="Submit" onclick="PEM0115Submit()" /> </td>
        </tr>
    </tfoot>
</table>




<table class="resultTable" id="PEM0115Table">
    <thead>
        <tr>
            <th>
                Ref No.
            </th>
            <th>
               DSN
            </th>
            <th>
                DATE RECEIVED
            </th>

            <th>
                Handing staff (PO)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>MW 001/2018(MOD)</td>
            <td>D0000001</td>
            <td>
                11/8/2018
            </td>
           <td>
                BS1
            </td>
            <td><input type="button" value="Edit" onclick="PEM0115Edit()" /></td>
        </tr>
    </tbody>


</table>