
<table class="inputTable">
<thead>
<tr><th colspan="4">Search Criteria</th></tr>
</thead>
<tbody>
	<tr>
		
		<th>DSN :</th>
		<td><input type="text" class="inputDSN"/></td>
		
		<th>Ref. No. :</th>
		<td><input type="text" class="inputREFNO"/></td>
		</tr><tr>
		<th>MW Item :</th>
		<td colspan="3"><input type="text" class="inputMWITEM"/></td>
		</tr><tr>
		<th>PRC :</th>
		<td><input type="text" class="inputPRC"/></td>
		
		<th>PBP :</th>
		<td><input type="text" class="inputPBP"/></td>
		</tr><tr>
		<th>Submission Date :</th>
		<td><input type="text" class="inputDate"/></td>
		
		<th>Received Date :</th>
		<td><input type="text" class="inputDate"/></td>
		</tr>
	</tr>
</tbody>
<tfoot><tr><td colspan="4"><button onclick="showTable('PEMHideDiv2'); PEM0110Search();">Search</button></td></tr></tfoot>
</table>




    <table id="PEMHideDiv2" class="resultTable hide">
        <thead>
            <tr>
                <th class="sTh">Ref. No.</th>
                <th class="sTh">Form No.</th>
                <th class="sTh">PRC</th>
                <th class="sTh">PBP</th>
                <th class="sTh">Submission Date</th>
                <th class="sTh">Audit (AFC) Status</th>
                <th class="sTh">Audit (SAC) Status</th>
                <!--
            <td class="sTh">TaskId</td>
            -->
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>MW160302973</td>
                <td>MW01</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>21/3/2016</td>
                <td>No <button class="buttonPICK">Pick</button></td>
                <td>No <button class="buttonPICK">Pick</button></td>
            </tr>
            <tr>
                <td>MW160304580</td>
                <td>MW03</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>31/3/2016</td>
                <td>Yes</td>
                <td>No <button class="buttonPICK">Pick</button></td>
            </tr>
            <tr>
                <td>MW160400026</td>
                <td>MW03</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>1/4/2016</td>
                <td>Yes</td>
                <td>No <button class="buttonPICK">Pick</button></td>
            </tr>
        </tbody>
    </table>




















        <div id="MPAudit" class="sList" style="display:none">
            <table class="sTable" width="100%" border="0" cellpadding="2" cellspacing="1">
                <tbody>
                    <tr>
                        <td class="sTh1">Result:</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; font-size:14px; padding:3px; text-align:left; background:#6666FF; color:white;">

                            All submissions related to this DSN 123 has been updated:<br> This case is manually picked for audit under: <br>Please update Excel or others accordingly!!!
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>




