<table class="inputTable">
    <thead>
        <tr>
            <th colspan="4">
                Search Criteria
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Ref. No. :
            </th>
            <td colspan="3"> <input type="text" /></td>
        </tr>
        <tr>
            <th>
                Received Date :
            </th>
            <td colspan="3"> From <input type="text" class="inputDate" /> to  <input type="text" class="inputDate" /></td>
        </tr>
        <tr>
            <th>
                Address :
            </th>
            <td> <input type="text" value="" /></td>
            <th>
                Lot No. :
            </th>
            <td> <input type="text" value="" /></td>
        </tr>
        <tr>
            <th>
                Name of Applicant :
            </th>
            <td> <input type="text" value="" /></td>
            <th>
                Capacity of Applicant :
            </th>
            <td> <input type="text" value="" /></td>
        </tr>
        <tr>
            <th>
                Handing staff (PO) :
            </th>
            <td colspan="3"> <select style="width:auto"><option></option><option>BS1</option><option>SE4</option><option>BS6</option></select></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"><input type="button" value="Cancel" onclick="loadContentPage('PEM0115')" /> <input type="button" value="Search" onclick="PEM0115MainSearch()" /> </td>
        </tr>
    </tfoot>

</table>


<table class="resultTable hide" id="PEM0115Table">
    <thead>
        <tr>
            <th>
                Ref No.
            </th>
            <th>
                Form Type
            </th>
            <th>
                DSN No.
            </th>
            <th>
                DATE RECEIVED
            </th>

            <th>
                Handing staff (PO)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>MW 001/2018(MOD)</td>

            <td>BA16</td>
            <td><a href="javascript:PEM0115View()">D000000001</a> </td>
            <td>
                11/8/2018
            </td>
            <td>
                BS1
            </td>

            <!--<td><input type="button" value="Edit" onclick="PEM0115Edit()" /></td>-->
        </tr>
        <tr>
            <td>MW 002/2018(MOD)</td>
            <td>BA16 <br/> BA16</td>
            <td>
                <a href="javascript:PEM0115Edit()">D000000005</a>
                <br />
                
                <a href="javascript:PEM0115Edit()">D000000007</a>
            </td>
            <td>
                12/8/2018
                <br />

                12/8/2018
            </td>
            <td></td>
            <!--<td><input type="button" value="Edit" onclick="PEM0115Edit()" /></td>-->
        </tr>
       
    </tbody>


</table>




