<h3>
    BA16 Mapping
</h3>
<table class="inputTable">
    <tbody>
        <tr>
            <th>
                Modification Ref. No. :
            </th>
            <td> <input type="text" /></td>
            <th>
                MW Ref. No. :
            </th>
            <td> <input type="text" /></td>
        </tr>
        <tr>
            <th>
                Received Date :
            </th>
            <td colspan="3"> From <input type="text" class="inputDate" /> to  <input type="text" class="inputDate" /></td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
        
            <td colspan="4"><input type="button" value="Cancel" onclick="loadContentPage('PEM0115BA16Mapping')" /> <input type="button" value="Search" onclick="PEM0115MappingSearch()" /> </td>

        </tr>
    </tfoot>
</table>

<table class="resultTable hide" id="PEm0115Mapping1">

<thead>
    <tr>
        <th colspan="3">
            MW 001/2018 (MOD)
        </th>
    </tr>
</thead>
    <tbody>
        <tr>

            <td>MW Submission No.</td>
            <td>
                MW00000001
            </td>
            <td>
                <input type="button" value="remove" class="btnRemove" onclick="PEM0115Remove()" />
            </td>
        </tr>
        <tr>
            <td>MW Submission No.</td>
            <td>
                <input style="max-width:200px;" type="text" />
            </td>
            <td>
                <input type="button" value="Add" onclick="PEM0115MappingAdd()" />
            </td>
        </tr>
    </tbody>
</table>

<table class="inputTable hide"id="PEm0115Mapping2">
    <tfoot>
        <tr>
          
            <td colspan="4"> <input type="button" value="Save" onclick="loadContentPage('PEM0115BA16Mapping')" /> </td>

        </tr>
    </tfoot>
</table>