<h3>
    Report of Pre-commencement Site Audit Checking of Minor Works
</h3>
<table class="inputTable">
    <thead>
        <tr>
            <th colspan="6">
                I  General Information
            </th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <th>
                (a) MW Submission No.: MW16000001
            </th>
            <td>
                MW16000001
            </td>
        </tr>
        <tr>
            <th>
                (b) Address/Location:
            </th>
            <td>
                九龍觀塘牛頭角道觀塘花園大廈
            </td>
        </tr>
        <tr>
            <th>
                (c) item No:
            </th>
            <td>
                2.3
            </td>
        </tr>
        <tr>
            <th>
                (d) Date of Receipt:
            </th>
            <td>
                <input type="text" class="inputDate" />
            </td>
        </tr>
        <tr>
            <th>
                (e) Inspection  Date:
            </th>
            <td>
                <input type="text" class="inputDate" />
            </td>
        </tr>
    </tbody>



</table>
<table class="inputTable">
    <thead>
        <tr>
            <th colspan="6">
                II Audit Result
            </th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>
                <input type="checkbox" /> Minor Works not yet commenced
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" /> Minor works commence & completed
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" /> Minor works in progress
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" /> Inaccessible
            </td>
        </tr>
    </tbody>
</table>

<table class="inputTable">
    <thead>
        <tr>
            <th colspan="6">
                III Plan
            </th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>
                <img src="/img/audit1.png" />
            </td>
        </tr>
    </tbody>
</table>


<table class="inputTable">
    <thead>
        <tr>
            <th colspan="6">
                IV Site Photos
            </th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>
                <img src="/img/audit2.png" />
            </td>
        </tr>
        <tr><td>Photo 1:General view</td></tr>
        <tr>
            <td>
                <img src="/img/audit3.png" />
            </td>
            <td>
                <img src="/img/audit4.png" />
            </td>
        </tr>
        <tr><td>Photo 2:General view</td><td>Photo 3:General view</td></tr>
    </tbody>
</table>




<h3>IV Audit Checking Officer</h3>
<table class="inputTable">
    <thead>
        <tr>
          
            <th colspan="6">BS/SO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Signature
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="3" rowspan="3"><textarea style="width:100%"></textarea></td>
        </tr>
        <tr>
            <th>
                Name & POSt:
               

            </th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>
                Date:
            </th>
            <td><input type="text" class="inputDate" /></td>
            <td><input type="text" class="inputDate" /></td>
            <td></td>
        </tr>
    </tbody>
</table>