<table class="resultTable">

    <thead><tr><th colspan="8">
    Monthly Statistics
</th>
        </tr>
<tr>
               <th>
                   Irregularities
               </th> <th>
                    
                    May/2018</th>
                     <th>

                         June/2018
                     </th><th>

    July/2018
</th><th>

    August/2018
</th>
        <th>
            September/208</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>
                a. 在完工證明書上沒有填寫正確的小型工程呈交編號；
            </td>
            <td>3</td>

            <td>3</td>


            <td>3</td>

            <td>3</td>

      

            <td>3</td>
        </tr>
        <tr>
            <td>
                b. 沒有填寫展開工程的日期；
            </td>
            <td>4</td>

            <td>3</td>


            <td>5</td>

            <td>3</td>

            <td>3</td>


        </tr>
        <tr>
            <td>
                c. 沒有填寫完成工程的日期；
            </td>
            <td>3</td>


            <td>3</td>

            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                d. 沒有填寫簽署的日期；
            <td>3</td>

         

            <td>3</td>

            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                e. 沒有使用適當的指明表格；
            </td>
            <td>3</td>

            <td>3</td>




            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                f. 安排進行小型工程的人/訂明建築專業人士/訂明註冊承建商在呈交的指明表格上的簽署不是正本/並未簽署；
            </td>
            <td>3</td>

           

            <td>3</td>

            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                g. 沒有填寫有效的小型工程項目編號；
            </td>
            <td>3</td>

            <td>3</td>


            
            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                h. 沒有呈交所需的訂明圖則及詳圖/照片/圖則或工程描述；
            </td>
            <td>3</td>

            <td>3</td>


            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                i. 呈交的文件的規格及方式不當，例如散裝照片；
            </td>
            <td>3</td>

            <td>3</td>


         
            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                j. 沒有填寫由他人代為豎設招牌的人士的詳情；
            </td>
            <td>3</td>

            <td>3</td>


            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                k. 沒有填妥訂明建築專業人士/訂明註冊承建商的資料，例如英文/中文名稱、註冊證明書編號、註冊屆滿日期等；
            </td>
            <td>3</td>

            <td>3</td>



            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                l. 根據本署記錄，訂明建築專業人士/訂明註冊承建商的有關註冊已經失效/訂明註冊承建商並未就該小型工程項目註冊；
            </td>
            <td>3</td>

            <td>3</td>


            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                m. 訂明建築專業人士/訂明註冊承建商在呈交的指明表格上的簽署與本署記錄不吻合；
            </td>
            <td>3</td>

            <td>3</td>


            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                j. 沒有填寫由他人代為豎設招牌的人士的詳情；
            </td>
            <td>3</td>

            <td>3</td>


            <td>3</td>

          

            <td>3</td>

            <td>3</td>
        </tr>
        <tr>
            <td>
                n. 其他 :
            </td>
            <td>3</td>

            <td>3</td>


            <td>3</td>

            <td>3</td>

            <td>3</td>
        </tr>

    </tbody>
</table>