<table class="inputTable">
    <thead>
        <tr>
            <th>
                BA16
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM0115Receive')">Receive of BA16</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('PEM0115Maintanence')">BA16 Maintanence</a>
            </td>
        </tr>
        <!--<tr>
            <td>
                <a href="javascript:loadContentPage('PEM0115BA16Mapping')">BA16 Mapping</a>
            </td>
        </tr>-->
    </tbody>


</table>