    <div class="nav"><h3>Home &gt; Letter Module &gt; Advisory Letters</h3></div>
    <h3>
        Advisory Letters</h3>
        <table class="cleanTable">
            <tbody>
                <tr>
                    <td style="width:500px;vertical-align:bottom">
                        <span id="msg" style="color:#FF0000">&nbsp;</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="letterTable">


            <form id="alForm" name="alForm">
                <table class="inputTable">
                    <tbody>
                        <tr>
                            <!--<td style="font-weight:bold; font-size: 18px; padding:2px; text-align:left; background:#888888; color:#FFFFCC">
                            Advisory Letters
                        </td>-->
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td valign="top">



                                <input type="hidden" name="editDsn" id="editDsn" value="D0000748416">
                                <input type="hidden" name="searchPoPost" id="searchPoPost" value="">
                                <input type="hidden" name="searchPo" id="searchPo" value="">
                                <input type="hidden" name="searchPoContact" id="searchPoContact" value="">
                                <input type="hidden" name="searchDsn" id="searchDsn" value="">
                                <input type="hidden" value="1" name="page" id="page">


                                <input type="hidden" name="poNameEng" id="poNameEng" value="">
                                <input type="hidden" name="poNameChi" id="poNameChi" value="">
                                <input type="hidden" name="poPostEng" id="poPostEng" value="">
                                <input type="hidden" name="poPostChi" id="poPostChi" value="">
                                <input type="hidden" name="poContact" id="poContact" value="">
                                <input type="hidden" name="spoNameEng" id="spoNameEng" value="">
                                <input type="hidden" name="spoNameChi" id="spoNameChi" value="">
                                <input type="hidden" name="spoPostEng" id="spoPostEng" value="">
                                <input type="hidden" name="spoPostChi" id="spoPostChi" value="">
                                <input type="hidden" name="spoContact" id="spoContact" value="">




                                D0000748416<br><table border="0" cellspacing="0" cellpadding="0" width="85%" align="center">
                                    <tbody>
                                        <tr><td>&nbsp;</td><td>&nbsp;</td><td style="text-align: right"><b>11/10/2016</b></td></tr>
                                        <tr><td>&nbsp;</td><td>&nbsp;</td><td style="text-align: right"><input type="text" id="letterDate" name="strLetterDate" class="inputText inputCalendar" value="11/10/2016" readonly=""> </td></tr>
                                        <tr><td>&nbsp;</td><td width="380px"><b>&nbsp;</b></td><td style="text-align: right">(By Fax and Post)</td></tr>
                                        <tr>
                                            <td>
                                                <b>CHIU Sung Kin</b>
                                            </td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td style="text-align: right"><b>(Fax: 2104 2277)</b></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <b>22nd Floor,<br>Wo Foo Commercial Building,<br>574-576 Nathan Road,<br>Yau Ma Tei,<br>Kowloon.</b>
                                            </td>
                                        </tr>
                                        <tr><td></td><td colspan="3">&nbsp;</td></tr>
                                        <tr><td colspan="2"> </td></tr>

                                        <tr>
                                            <td>
                                                <b>WAH SUNG CONSTRUCTION &amp; PILING LIMITED</b>
                                            </td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td style="text-align: right"><b>(Fax: 2815 3327)</b></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <b>Flat B &amp; C, 23/F.,<br>Wing Cheong Commercial Building,<br>19-25 Jervois Street,<br>Central, Hong Kong.<br></b>
                                            </td>
                                        </tr>


                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr><td>Dear Sir/Madam,</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                        <tr>
                                            <td colspan="3" style="text-align: center">
                                                <b>Minor Works Submission No. MW161000101</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="text-align: center">
                                                <textarea name="mwAckLetterVo.base.address" cols="80" rows="2" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)"></textarea>
                                            </td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr>
                                            <td colspan="3">
                                                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="3">
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The specified form (MW01) submitted by you under the simplified requirements for the minor works to be commenced at the captioned premises was received on 11/10/2016. The said minor works have been selected for audit check to ensure that the works comply with the Buildings Ordinance and its subsidiary legislation, and have been carried out in accordance with the submitted plans and description of works. During our initial audit check of the documents you submitted, the following irregularities were found:
                                                            </td>
                                                        </tr>
                                                        <tr><td colspan="3">&nbsp;</td></tr>
                                                        <tr>
                                                            <td valign="top" width="30">
                                                                &nbsp;
                                                            </td>
                                                            <td>
                                                                <table border="1" style="width: 100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table style="width: 100%">

                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="10%">
                                                                                                <input name="mwDwLetterItems[0].checked" id="mwDwLetterItems[0].checked" checked="" value="Y" type="checkbox">
                                                                                                a.

                                                                                                <input type="hidden" name="mwDwLetterItems[0].letterType" id="mwDwLetterItems[0].letterType" value="AL">
                                                                                                <input type="hidden" name="mwDwLetterItems[0].uuid" id="mwDwLetterItems[0].uuid" value="8a8591a6669b6b7d0166a3fc3ec60017">
                                                                                                <input type="hidden" name="mwDwLetterItems[0].itemId.uuid" id="mwDwLetterItems[0].itemId.uuid" value="FE2E1DF559814405ACC60962CC4B6271">
                                                                                                <input type="hidden" name="mwDwLetterItems[0].itemNo" id="mwDwLetterItems[0].itemNo" value="a">
                                                                                            </td>
                                                                                            <td width="90%">

                                                                                                <textarea class="checkItemText" style="display:none;" name="mwDwLetterItems[0].itemText" id="mwDwLetterItems[0].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">呈交的照片未能顯示指明表格甲部第2部份有關工程的實際狀況；</textarea>
                                                                                                <textarea class="checkItemText" style="width: 95%" name="mwDwLetterItems[0].itemTextE" id="mwDwLetterItems[0].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">The submitted photograph(s) cannot show the physical condition of the works referred to in item 3 of part A in the specified form;</textarea>


                                                                                            </td>
                                                                                        </tr>


                                                                                        <tr>
                                                                                            <td width="10%">
                                                                                                <input name="mwDwLetterItems[1].checked" id="mwDwLetterItems[1].checked" checked="" value="Y" type="checkbox">
                                                                                                b.

                                                                                                <input type="hidden" name="mwDwLetterItems[1].letterType" id="mwDwLetterItems[1].letterType" value="AL">
                                                                                                <input type="hidden" name="mwDwLetterItems[1].uuid" id="mwDwLetterItems[1].uuid" value="8a8591a6669b6b7d0166a3fc3ed50018">
                                                                                                <input type="hidden" name="mwDwLetterItems[1].itemId.uuid" id="mwDwLetterItems[1].itemId.uuid" value="FE2E1DF559814405ACC60962CC4B6272">
                                                                                                <input type="hidden" name="mwDwLetterItems[1].itemNo" id="mwDwLetterItems[1].itemNo" value="b">
                                                                                            </td>
                                                                                            <td width="90%">

                                                                                                <textarea class="checkItemText" style="display:none;" name="mwDwLetterItems[1].itemText" id="mwDwLetterItems[1].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">根據呈交的資料及所提供工程描述，該工程有可能涉及其他小型工程項目；</textarea>
                                                                                                <textarea class="checkItemText" style="width: 95%" name="mwDwLetterItems[1].itemTextE" id="mwDwLetterItems[1].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">the calculations were not provided;</textarea>


                                                                                            </td>
                                                                                        </tr>


                                                                                        <tr>
                                                                                            <td width="10%">
                                                                                                <input name="mwDwLetterItems[2].checked" id="mwDwLetterItems[2].checked" checked="" value="Y" type="checkbox">
                                                                                                c.

                                                                                                <input type="hidden" name="mwDwLetterItems[2].letterType" id="mwDwLetterItems[2].letterType" value="AL">
                                                                                                <input type="hidden" name="mwDwLetterItems[2].uuid" id="mwDwLetterItems[2].uuid" value="8a8591a6669b6b7d0166a3fc3ee50019">
                                                                                                <input type="hidden" name="mwDwLetterItems[2].itemId.uuid" id="mwDwLetterItems[2].itemId.uuid" value="FE2E1DF559814405ACC60962CC4B6273">
                                                                                                <input type="hidden" name="mwDwLetterItems[2].itemNo" id="mwDwLetterItems[2].itemNo" value="c">
                                                                                            </td>
                                                                                            <td width="90%">

                                                                                                <textarea class="checkItemText" style="display:none;" name="mwDwLetterItems[2].itemText" id="mwDwLetterItems[2].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">提供的資料及工程描述不足, 未能判斷有關工程是否符合小型工程項目；</textarea>
                                                                                                <textarea class="checkItemText" style="width: 95%" name="mwDwLetterItems[2].itemTextE" id="mwDwLetterItems[2].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">minor works item 2.8/2.9 does not cover works of alteration/demolition/repair/replacement of protective barrier, which may come under other minor works items (such as items 1.6, 2.5, etc.); and</textarea>


                                                                                            </td>
                                                                                        </tr>


                                                                                        <tr>
                                                                                            <td width="10%">
                                                                                                <input name="mwDwLetterItems[3].checked" id="mwDwLetterItems[3].checked" checked="" value="Y" type="checkbox">
                                                                                                d.

                                                                                                <input type="hidden" name="mwDwLetterItems[3].letterType" id="mwDwLetterItems[3].letterType" value="AL">
                                                                                                <input type="hidden" name="mwDwLetterItems[3].uuid" id="mwDwLetterItems[3].uuid" value="8a8591a6669b6b7d0166a3fc3ef5001a">
                                                                                                <input type="hidden" name="mwDwLetterItems[3].itemId.uuid" id="mwDwLetterItems[3].itemId.uuid" value="FE2E1DF559814405ACC60962CC4B6274">
                                                                                                <input type="hidden" name="mwDwLetterItems[3].itemNo" id="mwDwLetterItems[3].itemNo" value="d">
                                                                                            </td>
                                                                                            <td width="90%">

                                                                                                <textarea class="checkItemText" style="display:none;" name="mwDwLetterItems[3].itemText" id="mwDwLetterItems[3].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">表格上擬進行小型工程的位置/地址, 與相片及圖則不相符；</textarea>
                                                                                                <textarea class="checkItemText" style="width: 95%" name="mwDwLetterItems[3].itemTextE" id="mwDwLetterItems[3].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">the works described are not minor works items. Such works require the approval of plans and consent from the Building Authority before commencement of works.</textarea>


                                                                                            </td>
                                                                                        </tr>


                                                                                        <tr>
                                                                                            <td width="10%">
                                                                                                <input name="mwDwLetterItems[4].checked" id="mwDwLetterItems[4].checked" checked="" value="Y" type="checkbox">
                                                                                                e.

                                                                                                <input type="hidden" name="mwDwLetterItems[4].letterType" id="mwDwLetterItems[4].letterType" value="AL">
                                                                                                <input type="hidden" name="mwDwLetterItems[4].uuid" id="mwDwLetterItems[4].uuid" value="8a8591a6669b6b7d0166a3fc3ef5001b">
                                                                                                <input type="hidden" name="mwDwLetterItems[4].itemId.uuid" id="mwDwLetterItems[4].itemId.uuid" value="FE2E1DF559814405ACC60962CC4B6275">
                                                                                                <input type="hidden" name="mwDwLetterItems[4].itemNo" id="mwDwLetterItems[4].itemNo" value="e">
                                                                                            </td>
                                                                                            <td width="90%">

                                                                                                <textarea class="checkItemText" style="display:none;" name="mwDwLetterItems[4].itemText" id="mwDwLetterItems[4].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">開工前及完工後相片的工程位置並不一致；</textarea>
                                                                                                <textarea class="checkItemText" style="width: 95%" name="mwDwLetterItems[4].itemTextE" id="mwDwLetterItems[4].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)"></textarea>


                                                                                            </td>
                                                                                        </tr>


                                                                                        <tr>
                                                                                            <td width="10%">
                                                                                                <input name="mwDwLetterItems[5].checked" id="mwDwLetterItems[5].checked" checked="" value="Y" type="checkbox">
                                                                                                f.

                                                                                                <input type="hidden" name="mwDwLetterItems[5].letterType" id="mwDwLetterItems[5].letterType" value="AL">
                                                                                                <input type="hidden" name="mwDwLetterItems[5].uuid" id="mwDwLetterItems[5].uuid" value="8a8591a6669b6b7d0166a3fc3f04001c">
                                                                                                <input type="hidden" name="mwDwLetterItems[5].itemId.uuid" id="mwDwLetterItems[5].itemId.uuid" value="FE2E1DF559814405ACC60962CC4B6276">
                                                                                                <input type="hidden" name="mwDwLetterItems[5].itemNo" id="mwDwLetterItems[5].itemNo" value="f">
                                                                                            </td>
                                                                                            <td width="90%">

                                                                                                <textarea class="checkItemText" style="display:none;" name="mwDwLetterItems[5].itemText" id="mwDwLetterItems[5].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">沒有提供結構詳圖/計算資料(視乎小型工程項目)；</textarea>
                                                                                                <textarea class="checkItemText" style="width: 95%" name="mwDwLetterItems[5].itemTextE" id="mwDwLetterItems[5].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)"></textarea>


                                                                                            </td>
                                                                                        </tr>


                                                                                        <tr>
                                                                                            <td width="10%">
                                                                                                <input name="mwDwLetterItems[6].checked" id="mwDwLetterItems[6].checked" checked="" value="Y" type="checkbox">
                                                                                                g.

                                                                                                <input type="hidden" name="mwDwLetterItems[6].letterType" id="mwDwLetterItems[6].letterType" value="AL">
                                                                                                <input type="hidden" name="mwDwLetterItems[6].uuid" id="mwDwLetterItems[6].uuid" value="8a8591a6669b6b7d0166a3fc3f14001d">
                                                                                                <input type="hidden" name="mwDwLetterItems[6].itemId.uuid" id="mwDwLetterItems[6].itemId.uuid" value="FE2E1DF559814405ACC60962CC4B6277">
                                                                                                <input type="hidden" name="mwDwLetterItems[6].itemNo" id="mwDwLetterItems[6].itemNo" value="g">
                                                                                            </td>
                                                                                            <td width="90%">

                                                                                                <textarea class="checkItemText" style="display:none;" name="mwDwLetterItems[6].itemText" id="mwDwLetterItems[6].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">相片不清楚，未能清楚區別工程位置/ 顯示開工前完工後狀況；</textarea>
                                                                                                <textarea class="checkItemText" style="width: 95%" name="mwDwLetterItems[6].itemTextE" id="mwDwLetterItems[6].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)"></textarea>


                                                                                            </td>
                                                                                        </tr>


                                                                                        <tr>
                                                                                            <td width="10%">
                                                                                                <input name="mwDwLetterItems[7].checked" id="mwDwLetterItems[7].checked" checked="" value="Y" type="checkbox">
                                                                                                h.

                                                                                                <input type="hidden" name="mwDwLetterItems[7].letterType" id="mwDwLetterItems[7].letterType" value="AL">
                                                                                                <input type="hidden" name="mwDwLetterItems[7].uuid" id="mwDwLetterItems[7].uuid" value="8a8591a6669b6b7d0166a3fc3f23001e">
                                                                                                <input type="hidden" name="mwDwLetterItems[7].itemId.uuid" id="mwDwLetterItems[7].itemId.uuid" value="FE2E1DF559814405ACC60962CC4B6278">
                                                                                                <input type="hidden" name="mwDwLetterItems[7].itemNo" id="mwDwLetterItems[7].itemNo" value="h">
                                                                                            </td>
                                                                                            <td width="90%">

                                                                                                <textarea class="checkItemText" style="display:none;" name="mwDwLetterItems[7].itemText" id="mwDwLetterItems[7].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">根據呈交的資料顯示,擬進行的工程並不屬於其描述的小型工程項目；</textarea>
                                                                                                <textarea class="checkItemText" style="width: 95%" name="mwDwLetterItems[7].itemTextE" id="mwDwLetterItems[7].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)"></textarea>


                                                                                            </td>
                                                                                        </tr>


                                                                                        <tr>
                                                                                            <td width="10%">
                                                                                                <input name="mwDwLetterItems[8].checked" id="mwDwLetterItems[8].checked" checked="" value="Y" type="checkbox">
                                                                                                i.

                                                                                                <input type="hidden" name="mwDwLetterItems[8].letterType" id="mwDwLetterItems[8].letterType" value="AL">
                                                                                                <input type="hidden" name="mwDwLetterItems[8].uuid" id="mwDwLetterItems[8].uuid" value="8a8591a6669b6b7d0166a3fc3f33001f">
                                                                                                <input type="hidden" name="mwDwLetterItems[8].itemId.uuid" id="mwDwLetterItems[8].itemId.uuid" value="FE2E1DF559814405ACC60962CC4B6279">
                                                                                                <input type="hidden" name="mwDwLetterItems[8].itemNo" id="mwDwLetterItems[8].itemNo" value="i">
                                                                                            </td>
                                                                                            <td width="90%">

                                                                                                <textarea class="checkItemText" style="display:none;" name="mwDwLetterItems[8].itemText" id="mwDwLetterItems[8].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">小型工程項目2.8/2.9並不包括改動/拆除/修葺/更換防護欄障的建築工程，該等工程有可能涉及其他建築工程，例如小型工程項目1.6、2.5等；</textarea>
                                                                                                <textarea class="checkItemText" style="width: 95%" name="mwDwLetterItems[8].itemTextE" id="mwDwLetterItems[8].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)"></textarea>


                                                                                            </td>
                                                                                        </tr>


                                                                                        <tr>
                                                                                            <td width="10%">
                                                                                                <input name="mwDwLetterItems[9].checked" id="mwDwLetterItems[9].checked" checked="" value="Y" type="checkbox">
                                                                                                j.

                                                                                                <input type="hidden" name="mwDwLetterItems[9].letterType" id="mwDwLetterItems[9].letterType" value="AL">
                                                                                                <input type="hidden" name="mwDwLetterItems[9].uuid" id="mwDwLetterItems[9].uuid" value="8a8591a6669b6b7d0166a3fc3f330020">
                                                                                                <input type="hidden" name="mwDwLetterItems[9].itemId.uuid" id="mwDwLetterItems[9].itemId.uuid" value="FE2E1DF559814405ACC60962CC4B6280">
                                                                                                <input type="hidden" name="mwDwLetterItems[9].itemNo" id="mwDwLetterItems[9].itemNo" value="j">
                                                                                            </td>
                                                                                            <td width="90%">

                                                                                                <textarea class="checkItemText" style="display:none;" name="mwDwLetterItems[9].itemText" id="mwDwLetterItems[9].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">你所描述的工程並不屬於「小型工程監管制度」下的小型工程項目，需要在開展工程前先獲得建築事務監督批准圖則及同意；</textarea>
                                                                                                <textarea class="checkItemText" style="width: 95%" name="mwDwLetterItems[9].itemTextE" id="mwDwLetterItems[9].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)"></textarea>


                                                                                            </td>
                                                                                        </tr>



                                                                                        <!--
                                                                                    <tr><td><input type="checkbox" name="ir01" value="1"  /></td>
                                                                                        <td>a.</td><td><textarea name ="aletter.itemA" cols = "80" rows="2" style="width: 95%">呈交的照片未能顯示指明表格甲部第2部份有關工程的實際狀；</textarea></td></tr>
                                                                                    <tr><td><input type="checkbox" name="ir02" value="1"  /></td>
                                                                                        <td>b.</td><td><textarea name ="aletter.itemB" cols = "80" rows="2" style="width: 95%">根據呈交的資料及所提供工程描述，該工程有可能涉及其他小型工程項目；</textarea></td></tr>
                                                                                    <tr><td><input type="checkbox" name="ir03" value="1"  /></td>
                                                                                        <td>c.</td><td><textarea name ="aletter.itemC" cols = "80" rows="2" style="width: 95%">提供的資料及工程描述不足, 未能判斷有關工程是否符合小型工程項目；</textarea></td></tr>
                                                                                    <tr><td><input type="checkbox" name="ir04" value="1"  /></td>
                                                                                        <td>d.</td><td><textarea name ="aletter.itemD" cols = "80" rows="2" style="width: 95%">表格上擬進行小型工程的位置/地址, 與相片及圖則不相符；</textarea></td></tr>
                                                                                    <tr><td><input type="checkbox" name="ir05" value="1"  /></td>
                                                                                        <td>e.</td><td><textarea name ="aletter.itemE" cols = "80" rows="2" style="width: 95%">開工前及完工後相片的工程位置並不一致；</textarea></td></tr>
                                                                                    <tr><td><input type="checkbox" name="ir06" value="1"  /></td>
                                                                                        <td>f.</td><td><textarea name ="aletter.itemF" cols = "80" rows="2" style="width: 95%">沒有提供結構詳圖/計算資料(視乎小型工程項目)；</textarea></td></tr>
                                                                                    <tr><td><input type="checkbox" name="ir07" value="1"  /></td>
                                                                                        <td>g.</td><td><textarea name ="aletter.itemG" cols = "80" rows="2" style="width: 95%">相片不清楚，未能清楚區別工程位置/ 顯示開工前完工後狀況；</textarea></td></tr>
                                                                                    <tr><td><input type="checkbox" name="ir08" value="1"  /></td>
                                                                                        <td>h.</td><td><textarea name ="aletter.itemH" cols = "80" rows="2" style="width: 95%">根據呈交的資料顯示,擬進行的工程並不屬於其描述的小型工程項目；</textarea></td></tr>
                                                                                    <tr><td><input type="checkbox" name="ir09" value="1"  /></td>
                                                                                        <td>i.</td><td><textarea name ="aletter.itemI" cols = "80" rows="2" style="width: 95%">小型工程項目2.8/2.9並不包括改動/拆除/修葺/更換防護欄障的建築工程，該等工程有可能涉及其他建築工程，例如小型工程項目1.6、2.5等；</textarea></td></tr>
                                                                                    <tr><td><input type="checkbox" name="ir10" value="1"  /></td>
                                                                                        <td>j.</td><td><textarea name ="aletter.itemJ" cols = "80" rows="2" style="width: 95%">你所描述的工程並不屬於「小型工程監管制度」下的小型工程項目，需要在開展工程前先獲得建築事務監督批准圖則及同意；</textarea></td></tr>
                                                                                    -->
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr><td colspan="2">&nbsp;</td></tr>

                                                        <tr>
                                                            <td valign="top" width="40">*2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>Please submit supplementary information together with Form MW33 and rectify the above irregularities within 14 days from the date of this letter, for us to proceed with your case.</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="40">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" width="40">*3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>When resubmitting forms and documents for the above minor works, please specify MW161000101 in the "Previously Related Minor Works Submission Number" box in your new form to facilitate follow-up.</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="40">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" width="40">*4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>If any irregularity is found during the site audit of the above minor works, we will write to you again.</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="40">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" width="40">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>Should you have any enquiries, please contact  at . </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="40">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="text-align: center">
                                                                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%"> <tbody><tr><td width="400px">&nbsp;</td><td style="text-align: center">Your faithfully</td></tr> <tr><td width="400px">&nbsp;</td><td style="text-align: center">&nbsp;</td></tr> <tr><td width="400px">&nbsp;</td><td style="text-align: center">&nbsp;</td></tr> <tr><td width="400px">&nbsp;</td><td style="text-align: center">&nbsp;</td></tr> <tr><td width="400px">&nbsp;</td><td style="text-align: center">&nbsp;</td></tr> <tr><td width="400px">&nbsp;</td><td style="text-align: center">()</td></tr> <tr><td width="400px">&nbsp;</td><td style="text-align: center"></td></tr> <tr><td width="400px">&nbsp;</td><td style="text-align: center">&nbsp;&nbsp;&nbsp;for Building Authority</td></tr><tr><td width="400px">&nbsp;</td><td style="text-align: center">&nbsp;</td></tr> </tbody></table>
                                                            </td>
                                                        </tr>
                                                        <!--
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td align='right'>
                                                            <table border='0' cellspacing='0' cellpadding='0' width='450'>
                                                                <tr>
                                                                    <td align='center'>屋宇署署長</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align='center'>&nbsp;</td>
                                                                </tr>
                                                                <tr><td align='center'>(高級屋宇測量師/小型工程&nbsp;&nbsp;陳天麟&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;代行)</td></tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    -->
                                                        <tr>
                                                            <td colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"></td>
                                                        </tr>
                                                        <tr><td colspan="2">cc:&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                        <tr><td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Fax No.)</td></tr>
                                                        <tr><td colspan="2">(*delete if appropriate )</td></tr>



                                                        <tr><td colspan="2">&nbsp;</td></tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <input type="radio" id="rdoLangC" name="mwAckLetterVo.base.language" value="CHT">中文
                                                                &nbsp;|&nbsp;
                                                                <input type="radio" id="rdoLangE" name="mwAckLetterVo.base.language" value="ENG" checked="">English

                                                                <input type="radio" id="rdoPDF" name="mwAckLetterVo.base.fileType" value="PDF" checked="">PDF
                                                                &nbsp;|&nbsp;
                                                                <input type="radio" id="rdoDOCX" name="mwAckLetterVo.base.fileType" value="DOCX">DOCX
                                                            </td>
                                                        </tr>
                                                    
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="2">
                                                                <input class="inputButton" type="button" id="btnDownload" value="Download" onclick="window.open('/img/PEM0106.pdf')">

                                                                <input class="inputButton" type="button" id="btnUpdate" value="Update" onclick="loadContentPage('PEM0106a');">

                                                                <input class="inputButton" type="button" id="btnCancel" value="Cancel" onclick="loadContentPage('PEM0106');">
                                                                <input class="inputButton" type="button" value="Remove from Advisory Letter list" onclick="PEM0106a();">

                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </form>







        </div>
