
        <table class="inputTable">
            <thead>
                <tr>
                    <th colspan="2">
                        Search Criteria
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        Search MW No. or DSN (For Submission without MW NO):
                    </th>
                    <td>
                        <input type="text" name="displayMwNo" id="displayMwNo" value="" style="width: 120px;">
                    </td>
                </tr>
            </tbody>
            <tfoot><tr><td colspan="2" ><input type="button" value="Search" onclick="PEM109search()"></td></tr></tfoot>
        </table>

    </div>
    <br>

    <div class="sList">
        <table class="inputTable">
            <thead>
                <tr>
                    <th class="sTh1" colspan="2">
                        Results
                    </th>
                </tr>
                <tr>
                    <th style="width: 100px;" class="sTh">
                        MW No.
                    </th>

                    <th class="sTh">
                        Particulars
                    </th>
                </tr>
                </thead>
            <tbody></tbody>
        </table>
        <table id="PEM109Table"  class="resultTable" style="width: 100%;">

            <tbody>
                <tr class="ackNormal" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        VS180900002
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">

                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">

                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000748825 </a>
                                                        <!--<span style="font-weight: bold">DSN : </span><a href='javascript:detail("D0000748825")'>D0000748825 </a>-->
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        18/9/2018&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        18/9/2018&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        VS150703586
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        xx C ON 6TH FLOOR, xx xx BUILDING, NO.321 TO KWA WAN ROAD, KLN
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        MWC 2984/2011<img title="旭昇工程公司" src="" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>
                                        15/7/2015
                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>
                                        4/
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000633251 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        22/7/2015&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        22/7/2015&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        VS140104333
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        FLxxxxG YIP BUILDING, NOS.3xxxDES xx ROAD WEST, HONG KONG
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        MWC 2588/2011<img title="創晞工程有限公司" src="" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>
                                        4/11/2013
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>
                                        4/11/2013
                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>
                                        3.29/
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000437496 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06

                                                        <!--&nbsp;-->
                                                        (DIRECT RETURN)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        24/1/2014&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        24/1/2014&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        VS140104332
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        FLAT A ON xx FLOOR xx YIP BUILDING, NOS.xxxDES xx ROAD WEST, HONG KONG
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        MWC 2588/2011<img title="創晞工程有限公司" src="" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>
                                        4/11/2013
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>
                                        4/11/2013
                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>
                                        3.29/
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000437494 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06

                                                        <!--&nbsp;-->
                                                        (DIRECT RETURN)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        24/1/2014&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        24/1/2014&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        VS131103647
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        FLAT B, 11/F, xx DRAGON GARDEN, NO. 77 xx xx RD, KOWLOON
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        MWC(W) 1372/2011<img title="周xx" src="" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>
                                        21/11/2013
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>
                                        21/11/2013
                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000382128 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        25/11/2013&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        &nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW170600010
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">

                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000748706 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW01

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        9/6/2017&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        9/6/2017&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW161200020
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">

                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000748461 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW01

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        19/12/2016&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        19/12/2016&nbsp;
                                                    </td>
                                                </tr>

                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000748462 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW02

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        19/12/2016&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        19/12/2016&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW161200018
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">

                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000748457 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW03

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        17/12/2016&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        17/12/2016&nbsp;
                                                    </td>
                                                </tr>

                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000748459 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW04

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        17/12/2016&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        17/12/2016&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW161000028
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        address
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>
                                        1234/56
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        AP(A) 94/95<img title="趙崇堅" src="" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        GBC 525/99<img title="華生建築打樁有限公司" src="" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>
                                        5/10/2016
                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>
                                        3.27/
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000748292 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW01

                                                        <!--&nbsp;-->
                                                        (E-SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        30/9/2016&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        3/10/2016&nbsp;
                                                    </td>
                                                </tr>

                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000748293 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW02

                                                        <!--&nbsp;-->
                                                        (E-SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        5/10/2016&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        3/10/2016&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW160900011
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">

                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0109a")'>D0000748225 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW01

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        2/9/2016&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        2/9/2016&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>
      