
    <br />
    <div class="sList">

        <table class="inputTable">
            <thead>
            <tr>
                <th >
                    Search Criteria
                </th>
            </tr>
                </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell" style="padding: 0px;">
                        <table class="inputTable">
                            <tbody>
                                <tr>
                                    <td style="width: 45%" valign="top">
                                        <table border="0" width="100%" cellpadding="2" cellspacing="1">
                                            <tbody>
                                                <tr>
                                                    <td width="55%" class="fLabel" align="right" colspan="3">
                                                        Search MW No. or DSN (For Submission without MW NO):
                                                    </td>
                                                    <td width="45%" class="fField">
                                                        <input type="text" name="displayMwNo" id="displayMwNo" value="" style="width: 120px;">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>



        <div class="btnSet btnSetTypeA">
            <div class="right">
                <input type="button" value="Search" onclick="PEM108search()">
            </div>
        </div>
    </div>
    <br />
    <div class="sList">
        <table class="inputTable">
            <thead>
                <tr>
                    <th class="sTh1" colspan="2">
                        Results
                    </th>
                </tr>
                <tr>
                    <th style="width: 100px;" class="sTh">
                        MW No.
                    </th>

                    <th class="sTh">
                        Particulars
                    </th>
                </tr>
                </thead>
            <tbody></tbody>
        </table>
        <table id="PEM108Table" class="resultTable" style="width: 100%;">

            <tbody>
                <tr class="ackNormal" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        N/A
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">

                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        MWC 2636/2011<img title="" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span>
                                                        &nbsp;
                                                    </td>
                                                    <td width="150">
                                                        <span style="font-weight: bold">Form </span>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        &nbsp;
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW180800001
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">

                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        Y
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>
                                        3.17/
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                       
                                                        <span style="font-weight: bold">DSN : </span><a href= 'javascript:loadContentPage("PEM0108a")'>D0000748820 </a>
                                                        <!--<span style="font-weight: bold">DSN : </span><a href='javascript:detail("D0000748820")'>D0000748820 </a>-->
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW01

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        21/8/2018&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        21/8/2018&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW170200053
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        yyyyyyy
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="趙崇堅" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="得德記" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href= 'javascript:loadContentPage("PEM0108a")'>D0000748649 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW32

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        27/2/2017&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        23/2/2017&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW170200045
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">

                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="趙崇堅" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="華生建築打樁有限公司" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href= 'javascript:loadContentPage("PEM0108a")'>D0000748629 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW32

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        20/2/2017&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        20/2/2017&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW170100052
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        address
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="趙崇堅" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="趙崇堅" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href= 'javascript:loadContentPage("PEM0108a")'>D0000748556 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW32

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        26/1/2017&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        26/1/2017&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW170100046
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        address here
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="曾賢生" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="曾賢生" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href= 'javascript:loadContentPage("PEM0108a")'>D0000748546 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW32

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        25/1/2017&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        25/1/2017&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW170100034
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        aaaaaaaaaa
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="葉　強" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="錢德明" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href= 'javascript:loadContentPage("PEM0108a")'>D0000748522 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW32

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        19/1/2017&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        19/1/2017&nbsp;
                                                    </td>
                                                </tr>

                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href= 'javascript:loadContentPage("PEM0108a")'>D0000748524 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW33

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        19/1/2017&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        19/1/2017&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW170100025
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        11xxx KOWLOON TOWER , 100 xx  ST
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        AP(A) 77/99<img title="駱興立" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        GBC 98/99<img title="" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        Y
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>
                                        1.22/
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href= 'javascript:loadContentPage("PEM0108a")'>D0000748510 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW01

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        16/1/2017&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        16/1/2017&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW161000032
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        新界屯門xxxxxxx業中xx座12樓01室
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        AP(A) 86/99<img title="莊xx" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        MWC 1685/2012<img title="xx程有限公司" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>
                                        7/10/2016
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>
                                        1.20/
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href= 'javascript:loadContentPage("PEM0108a")'>D0000748300 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW01

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        6/10/2016&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        6/10/2016&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <td colspan="2">
                        <table style="width: 100%;" border="1" class="ackResultData">
                            <tbody>
                                <tr>
                                    <td rowspan="3" width="100px">
                                        MW161000031
                                        &nbsp;
                                    </td>
                                    <td colspan="5" width="430px">
                                        九龍xxxx盛(油麻xx)商業大廈xxx-02室
                                        &nbsp;
                                    </td>
                                    <td colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        AP(A) 101/99<img title="" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>

                                    <td width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        MWC 36/2016<img title="嘉永工程設計有限公司" src="./images/info_icon.png" complete="complete">
                                        &nbsp;
                                    </td>
                                    <td width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </td>
                                    <td width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>
                                        6/10/2016
                                        &nbsp;
                                    </td>
                                    <td width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>
                                        1.21/
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href= 'javascript:loadContentPage("PEM0108a")'>D0000748299 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW01

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        6/10/2016&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        6/10/2016&nbsp;
                                                    </td>
                                                </tr>

                                                <tr style="background: none;">
                                                    <td width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href= 'javascript:loadContentPage("PEM0108a")'>D0000748303 </a>
                                                        &nbsp;
                                                    </td>
                                                    <td width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW02

                                                        <!--&nbsp;-->
                                                        (SUBMISSION)
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        6/10/2016&nbsp;
                                                    </td>
                                                    <td width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        6/10/2016&nbsp;
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>
