<table class="inputTable">
    <tbody>
        <tr>


            <th>
                Search:

            </th>
            <td>

                <input type="text" />


            </td>
        </tr>

        <tr>


            <th>
                Receive date:

            </th>
            <td>
                from:
                <input type="text" class="inputDate" />
                to:
                <input type="text" class="inputDate" />

            </td>
        </tr>
        <tr>


            <th>
                DSN:

            </th>
            <td>

                <input type="text" />


            </td>
        </tr>
        <tr>


            <th>
                MW No:

            </th>
            <td>

                <input type="text" />


            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <input type="button" value="Search" onclick="PEMRemoveHideSearch()" />
            </td>
        </tr>
    </tfoot>
</table>

<table id="PEMHideDiv" class="resultTable hide">
    <thead>

        <tr>
            <th>
                Submission List:
            </th>
        </tr>
        <tr>
            <th>
                DSN
            </th>
            <th>
                MW No
            </th>
            <th>
                MW items
            </th>
            <th>
                PBP
            </th>
            <th>
                PRC
            </th>
            <th>
                
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                D0000000001
            </td>
            <td>
                MW0000001
            </td>
            <td>
                MW01
            </td>
            <td>

                PBP
            </td>
            <td>PRC</td>
            <td><input type="button" onclick="loadContentPage('PEM0113a1')" value="SAC" /></td>
            <td><input type="button" onclick="loadContentPage('PEM0113a2')" value="PSAC" /></td>
        </tr>
    </tbody>


</table>