
    <br />

    <div class="sList">

        <table class="inputTable">
            <tbody>
                <!--<tr>
            <th class="sTh1">
                Search Criteria
            </th>
        </tr>-->
            <thead><tr><th colspan="4"><b>Search Criteria</b></th></tr></thead>

            <tr class="sRow2">
                <th class="sCell" style="padding: 0px;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <th style="width: 45%" valign="top">
                                    <table border="0" width="100%" cellpadding="2" cellspacing="1">
                                        <tbody>
                                            <tr>
                                                <th width="55%" class="fLabel" align="right" colspan="3">
                                                    Search MW No. or DSN (For Submission without MW NO):
                                                </th>
                                                <th width="45%" class="fField">
                                                    <input type="text" name="displayMwNo" id="displayMwNo" value="" style="width: 120px;">
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>



        <div class="btnSet btnSetTypeA">
            <div class="right">
                <input type="button" value="Search" onclick="PEM107search()">
            </div>
        </div>
    </div>
    <br />
    <div class="sList">
        <table width="100%" class="inputTable" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th class="sTh1" colspan="2">
                        Results
                    </th>
                </tr>
                <tr>
                    <th style="width: 100px;" class="sTh">
                        MW No.
                    </th>

                    <th class="sTh">
                        Particulars
                    </th>
                </tr>
                </thead>
            <tbody></tbody>
        </table>
        <table id="PEM107Table" class="resultTable" style="width: 100%;">

            <tbody>
                <tr class="ackNormal" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <th colspan="2">
                        <table id="PEM107Table" style="width: 100%;" border="1" class="ackResulthata">
                            <tbody>
                                <tr>
                                    <th rowspan="3" width="100px">
                                        VS180900002
                                        &nbsp;
                                    </th>
                                    <th colspan="5" width="430px">

                                        &nbsp;
                                    </th>
                                    <th colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>

                                    <th width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>
                                    <th width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <th width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0107a")'>D0000748825 </a>
                                                        &nbsp;
                                                    </th>
                                                    <th width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06

                                                        <!--(SUBMISSION)&nbsp;-->
                                                        (SUBMISSION)
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        18/9/2018&nbsp;
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        18/9/2018&nbsp;
                                                    </th>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>

                <tr class="ackNormal" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <th colspan="2">
                        <table style="width: 100%;" border="1" class="ackResulthata">
                            <tbody>
                                <tr>
                                    <th rowspan="3" width="100px">
                                        VS180900001
                                        &nbsp;
                                    </th>
                                    <th colspan="5" width="430px">

                                        &nbsp;
                                    </th>
                                    <th colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>

                                    <th width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>
                                    <th width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        Y
                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <th width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0107a")'>D0000748824 </a>
                                                        &nbsp;
                                                    </th>
                                                    <th width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06

                                                        <!--(SUBMISSION)&nbsp;-->
                                                        (SUBMISSION)
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        18/9/2018&nbsp;
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        18/9/2018&nbsp;
                                                    </th>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <th colspan="2">
                        <table  style="width: 100%;" border="1" class="ackResulthata">
                            <tbody>
                                <tr>
                                    <th rowspan="3" width="100px">
                                        VS170900009
                                        &nbsp;
                                    </th>
                                    <th colspan="5" width="430px">

                                        &nbsp;
                                    </th>
                                    <th colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>

                                    <th width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>
                                    <th width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <th width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0107a")'>D0000748795 </a>
                                                        &nbsp;
                                                    </th>
                                                    <th width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06-01

                                                        <!--(SUBMISSION)&nbsp;-->
                                                        (SUBMISSION)
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        7/9/2017&nbsp;
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        7/9/2017&nbsp;
                                                    </th>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <th colspan="2">
                        <table style="width: 100%;" border="1" class="ackResulthata">
                            <tbody>
                                <tr>
                                    <th rowspan="3" width="100px">
                                        VS170900008
                                        &nbsp;
                                    </th>
                                    <th colspan="5" width="430px">

                                        &nbsp;
                                    </th>
                                    <th colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>

                                    <th width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>
                                    <th width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <th width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0107a")'>D0000748794 </a>
                                                        &nbsp;
                                                    </th>
                                                    <th width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06-01

                                                        <!--(SUBMISSION)&nbsp;-->
                                                        (SUBMISSION)
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        6/9/2017&nbsp;
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        6/9/2017&nbsp;
                                                    </th>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <th colspan="2">
                        <table style="width: 100%;" border="1" class="ackResulthata">
                            <tbody>
                                <tr>
                                    <th rowspan="3" width="100px">
                                        VS170900007
                                        &nbsp;
                                    </th>
                                    <th colspan="5" width="430px">

                                        &nbsp;
                                    </th>
                                    <th colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>

                                    <th width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>
                                    <th width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <th width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:loadContentPage("PEM0107a")'>D0000748793 </a>
                                                        &nbsp;
                                                    </th>
                                                    <th width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06-01

                                                        <!--(SUBMISSION)&nbsp;-->
                                                        (SUBMISSION)
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        6/9/2017&nbsp;
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        6/9/2017&nbsp;
                                                    </th>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <th colspan="2">
                        <table style="width: 100%;" border="1" class="ackResulthata">
                            <tbody>
                                <tr>
                                    <th rowspan="3" width="100px">
                                        VS170900003
                                        &nbsp;
                                    </th>
                                    <th colspan="5" width="430px">
                                        MongKok 112
                                        &nbsp;
                                    </th>
                                    <th colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="張建偉" src="" complete="complete">
                                        &nbsp;
                                    </th>

                                    <th width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>
                                    <th width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <th width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:detail("D0000748789")'>D0000748789 </a>
                                                        &nbsp;
                                                    </th>
                                                    <th width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06-01

                                                        <!--(SUBMISSION)&nbsp;-->
                                                        (SUBMISSION)
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        6/9/2017&nbsp;
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        6/9/2017&nbsp;
                                                    </th>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <th colspan="2">
                        <table style="width: 100%;" border="1" class="ackResulthata">
                            <tbody>
                                <tr>
                                    <th rowspan="3" width="100px">
                                        VS170900002
                                        &nbsp;
                                    </th>
                                    <th colspan="5" width="430px">

                                        &nbsp;
                                    </th>
                                    <th colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>

                                    <th width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>
                                    <th width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <th width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:detail("D0000748788")'>D0000748788 </a>
                                                        &nbsp;
                                                    </th>
                                                    <th width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06-01

                                                        <!--(SUBMISSION)&nbsp;-->
                                                        (SUBMISSION)
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        5/9/2017&nbsp;
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        5/9/2017&nbsp;
                                                    </th>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <th colspan="2">
                        <table style="width: 100%;" border="1" class="ackResulthata">
                            <tbody>
                                <tr>
                                    <th rowspan="3" width="100px">
                                        VS170900001
                                        &nbsp;
                                    </th>
                                    <th colspan="5" width="430px">

                                        &nbsp;
                                    </th>
                                    <th colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>

                                    <th width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>
                                    <th width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <th width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:detail("D0000748787")'>D0000748787 </a>
                                                        &nbsp;
                                                    </th>
                                                    <th width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06-01

                                                        <!--(SUBMISSION)&nbsp;-->
                                                        (SUBMISSION)
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        5/9/2017&nbsp;
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        5/9/2017&nbsp;
                                                    </th>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <th colspan="2">
                        <table style="width: 100%;" border="1" class="ackResulthata">
                            <tbody>
                                <tr>
                                    <th rowspan="3" width="100px">
                                        VS170800031
                                        &nbsp;
                                    </th>
                                    <th colspan="5" width="430px">

                                        &nbsp;
                                    </th>
                                    <th colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>

                                    <th width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>
                                    <th width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <th width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:detail("D0000748784")'>D0000748784 </a>
                                                        &nbsp;
                                                    </th>
                                                    <th width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06-01

                                                        <!--(SUBMISSION)&nbsp;-->
                                                        (SUBMISSION)
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        28/8/2017&nbsp;
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        28/8/2017&nbsp;
                                                    </th>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>

                <tr class="ackResultTr" onmouseover="this.className='ackHighlight'" onmouseout="this.className='ackNormal'">
                    <th colspan="2">
                        <table style="width: 100%;" border="1" class="ackResulthata">
                            <tbody>
                                <tr>
                                    <th rowspan="3" width="100px">
                                        VS170800027
                                        &nbsp;
                                    </th>
                                    <th colspan="5" width="430px">

                                        &nbsp;
                                    </th>
                                    <th colspan="1" width="120px">
                                        <span style="font-weight: bold">File Ref No.:</span>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th width="120px">
                                        <span style="font-weight: bold">PBP:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>

                                    <th width="120px">
                                        <span style="font-weight: bold">PRC:</span>
                                        <br>
                                        <img title="" src="" complete="complete">
                                        &nbsp;
                                    </th>
                                    <th width="50px">
                                        <span style="font-weight: bold">Audit:</span>
                                        <br>
                                        N
                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">開工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="70px">
                                        <span style="font-weight: bold">完工:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                    <th width="120px">
                                        <span style="font-weight: bold">MW items:</span>
                                        <br>

                                        &nbsp;
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="6">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">


                                            <tbody>
                                                <tr style="background: none;">
                                                    <th width="150">
                                                        <span style="font-weight: bold">DSN : </span><a href='javascript:detail("D0000748780")'>D0000748780 </a>
                                                        &nbsp;
                                                    </th>
                                                    <th width="200">
                                                        <span style="font-weight: bold">Form </span>
                                                        MW06-01

                                                        <!--(SUBMISSION)&nbsp;-->
                                                        (SUBMISSION)
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Received on:</span>
                                                        25/8/2017&nbsp;
                                                    </th>
                                                    <th width="180">
                                                        <span style="font-weight: bold">Ack'd on:</span>
                                                        25/8/2017&nbsp;
                                                    </th>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>

            </tbody>
        </table>
 