
    <!--<div class="nav">
        Home &gt; Letter Module &gt; Pre-Commencement Site Audit Case
    </div>-->
    <!--<h1 class="h1">Pre-Commencement Site Audit Case</h1>-->
    <h3>Pre-Commencement Site Audit Case</h3>




    <br>
    <div class="sList">
        <!--<table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">-->

                        <table class="inputTable">
                            <thead>
                                <tr><th colspan="6"><b>Submission Info</b></th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="fLabel"">Receipt Counter :</th>
                                    <td class="fField"">Kwun Tong</td>
                                    <th class="fLabel" style="width:100px">DSN :</th>
                                    <td class="fField"">D0000740185</td>
                                    <th class="fLabel" style="width:100px">Order Related :</th>
                                    <td class="fField" style="width:40px">N</td>
                                </tr>
                                <tr>
                                    <th class="fLabel">MW No. :</th>
                                    <td class="fField">
                                        MW160603649
                                        (MW03)
                                    </td>
                                    <th class="fLabel">Previous MW No. :</th>
                                    <td class="fField"></td>
                                    <th class="fLabel">SSP included?</th>
                                    <td class="fField">N</td>
                                </tr>
                                <tr>
                                    <th class="fLabel">Received Date :</th>
                                    <td class="fField">22/06/2016 </td>
                                    <th class="fLabel">Letter Date :</th>
                                    <td class="fField">22/06/2016</td>
                                    <th class="fLabel">Signboard :</th>
                                    <td class="fField">N</td>
                                </tr>
                                <tr>
                                    <th class="fLabel">開工 :</th>
                                    <td class="fField">29/06/2016 </td>
                                    <th class="fLabel">完工 :</th>
                                    <td class="fField"></td>
                                    <th class="fLabel">SDF Related :</th>
                                    <td class="fField">N</td>
                                </tr>
                                <tr>
                                    <th class="fLabel">MW Items :</th>
                                    <td class="fField" colspan="5">2.14/ </td>
                                </tr>
                                <tr>
                                    <th class="fLabel">Address :</th>
                                    <td class="fField" colspan="5">G/F, INDEPENDENT BUILDING, NO.499 NATHAN ROAD, YAU MA TEI, KOWLOON </td>
                                </tr>
                                <tr>
                                    <th class="fLabel">PBP :</th>
                                    <td class="fField" colspan="5"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel">PRC :</th>
                                    <td class="fField" colspan="5">
                                        MWC 2230/2010 美城裝修設計工程有限公司 MEI SHING DECORATE DESIGN LIMITED
                                    </td>
                                </tr>
                                <tr>
                                    <th class="fLabel">PAW :</th>
                                    <td class="fField" colspan="5"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel">I.O./Mgt. :</th>
                                    <td class="fField" colspan="5"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel">Remarks :</th>
                                    <td class="fField" colspan="5">(4454/59) </td>
                                </tr>
                            </tbody>
                        </table>

    </div>

    <br>
    <div class="sList">
      
                        <table class="inputTable">
                            <thead><tr><th colspan="4"><b>Update of the Pre-comm. Audit Result</b></th></tr></thead>
                            <tbody>
                                <tr>
                                    <th class="fLabel"">Carried out by :</th>
                                    <td class="fField">
                                        <input class="inputText" type="text" id="mwAckLetterPreauditVo.base.handlingOfficer" name="mwAckLetterPreauditVo.base.handlingOfficer" value="TOMW4" maxlength="36" style="width:150px">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="fLabel">Date of Inspection :</th>
                                    <td class="fField">`
                                        <input class="class="inputDate"" type="text" id="mwAckLetterPreauditVo.inspectionDate" name="mwAckLetterPreauditVo.inspectionDate" value="24/06/2016"  readonly="">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="fLabel">Inspection Result</th>
                                    <td class="fField">



                                        <label>
                                            <input class="inputRadio" type="radio" id="mwAckLetterPreauditVo.base.paResult_0" name="mwAckLetterPreauditVo.base.paResult" value="Works not yet commenced">
                                            Works not yet commenced
                                        </label>
                                        &nbsp;

                                        <label>
                                            <input class="inputRadio" type="radio" id="mwAckLetterPreauditVo.base.paResult_1" name="mwAckLetterPreauditVo.base.paResult" value=" Works commenced already">
                                            Works commenced already
                                        </label>
                                        &nbsp;

                                        <label>
                                            <input class="inputRadio" type="radio" id="mwAckLetterPreauditVo.base.paResult_2" name="mwAckLetterPreauditVo.base.paResult" value="Inaccessible">
                                            Inaccessible
                                        </label>
                                        &nbsp;

                                        <label>
                                            <input class="inputRadio" type="radio" id="mwAckLetterPreauditVo.base.paResult_3" name="mwAckLetterPreauditVo.base.paResult" value="Not yet inspected">
                                            Not yet inspected
                                        </label>
                                        &nbsp;

                                    </td>
                                </tr>
                                <tr>
                                    <th class="fLabel">Remarks :</th>
                                    <td class="fField">
                                        <textarea class="inputTextarea" id="mwAckLetterPreauditVo.base.paRemark" name="mwAckLetterPreauditVo.base.paRemark" style="width:500px; height:80px"></textarea>


                                    </td>
                                </tr>
                            </tbody>
                        </table>
    
    </div>

    <div class="btnSet ">
        <div class="right">
            <input class="inputButton" type="button" id="btnUpdate" name="btnUpdate" value="Update"  onclick="loadContentPage('PEM0103')">&nbsp;
            <input class="inputButton" type="button" id="btnCloseWithoutSave" name="btnCloseWithoutSave" value="Close without Save"  onclick="loadContentPage('PEM0103')">&nbsp;
            <input class="inputButton" type="button" id="btnDelete" name="btnDelete" value="Remove from Pre-comm Audit List" onclick="PEM0103a()">

        </div>
    </div>

