<table class="inputTable" id="">
    <thead>
        <tr>
            <th colspan="4">
                criteria
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                DSN :

            </th>
            <td>
                <input id="DSN" type="text" />
            </td>
            <th>

                Form Type :

            </th>
            <td>
                <input id="FT" type="text" />
            </td>

        </tr>
        <tr>
            <th>
                Name of AP/ RI / Contractor :

            </th>
            <td>
                <input id="name" type="text" />
            </td>
            <th>

                Reg no. of AP/ RI / Contractor  :

            </th>
            <td>
                <input type="text" />
            </td>

        </tr>
        <tr>
            <th>
                DATE RECEIVED :

            </th>
            <td colspan="3">
                <input id="date" type="text" class="inputDate" />
            </td>


        </tr>

        <tr>
            <th>

                Irregularities :

            </th>
            <td colspan="3">

                <input type="checkbox" id="IrregularitiesA" value="IrregularitiesA" /> a. 在完工證明書上沒有填寫正確的小型工程呈交編號；<br>
                <input type="checkbox" id="IrregularitiesB" value="IrregularitiesB" /> b. 沒有填寫展開工程的日期；
                <br>
                <input type="checkbox" id="IrregularitiesC" value="IrregularitiesC" /> c. 沒有填寫完成工程的日期；
                <br>
                <input type="checkbox" id="IrregularitiesD" value="IrregularitiesD" /> d. 沒有填寫簽署的日期；
                <br>
                <input type="checkbox" id="IrregularitiesE" value="IrregularitiesE" /> e. 沒有使用適當的指明表格；
                <br>
                <input type="checkbox" id="IrregularitiesF" value="IrregularitiesF" /> f. 安排進行小型工程的人/訂明建築專業人士/訂明註冊承建商在呈交的指明表格上的簽署不是正本/並未簽署；
                <br>
                <input type="checkbox" id="IrregularitiesG" value="IrregularitiesG" /> g. 沒有填寫有效的小型工程項目編號；
                <br />

                <input type="checkbox" id="IrregularitiesH" value="IrregularitiesH" /> h. 沒有呈交所需的訂明圖則及詳圖/照片/圖則或工程描述；
                <br>
                <input type="checkbox" id="IrregularitiesI" value="IrregularitiesI" /> i. 呈交的文件的規格及方式不當，例如散裝照片；
                <br>
                <input type="checkbox" id="IrregularitiesJ" value="IrregularitiesJ" /> j. 沒有填寫由他人代為豎設招牌的人士的詳情；
                <br>
                <input type="checkbox" id="IrregularitiesK" value="IrregularitiesJ" /> k. 沒有填妥訂明建築專業人士/訂明註冊承建商的資料，例如英文/中文名稱、註冊證明書編號、註冊屆滿日期等；
                <br>
                <input type="checkbox" id="IrregularitiesL" value="IrregularitiesL" /> l. 根據本署記錄，訂明建築專業人士/訂明註冊承建商的有關註冊已經失效/訂明註冊承建商並未就該小型工程項目註冊；
                <br>
                <input type="checkbox" id="IrregularitiesM" value="IrregularitiesM" /> m. 訂明建築專業人士/訂明註冊承建商在呈交的指明表格上的簽署與本署記錄不吻合；
                <br>

                <input type="checkbox" id="IrregularitiesN" value="IrregularitiesN">  n. 其他:<input style="max-width:600px;" type="text" value="  請盡快改正並重新一併呈交。" />

                <br>
                <br>
                <!--<select style="max-width:600px;">
        <option> a. 在完工證明書上沒有填寫正確的小型工程呈交編號；</option>
        <option> b. 沒有填寫展開工程的日期；</option>
        <option>c. 沒有填寫完成工程的日期；</option>
        <option> d. 沒有填寫簽署的日期；</option>
        <option> e. 沒有使用適當的指明表格；</option>
        <option>
            f. 安排進行小型工程的人/訂明建築專業人士/訂明註冊承建商在呈交的指明表格上的簽署不是正本/並未簽署；


        </option>
        <option>g.  沒有填寫有效的小型工程項目編號；</option>
        <option>h. 沒有呈交所需的訂明圖則及詳圖/照片/圖則或工程描述；</option>
        <option>
            i. 呈交的文件的規格及方式不當，例如散裝照片；
        </option>
        <option>
            j. 沒有填寫由他人代為豎設招牌的人士的詳情；
          </option>
        <option>
            k. 沒有填妥訂明建築專業人士/訂明註冊承建商的資料，例如英文/中文名稱、註冊證明書編號、註冊屆滿日期等；
        </option>
        <option>
            l. 根據本署記錄，訂明建築專業人士/訂明註冊承建商的有關註冊已經失效/訂明註冊承建商並未就該小型工程項目註冊；
        </option>
        <option>
            m. 訂明建築專業人士/訂明註冊承建商在呈交的指明表格上的簽署與本署記錄不吻合；
        </option>
        <option>
            n. 其他:
            請盡快改正並重新一併呈交。
        </option>
    </select>-->
                <!--<input type="button" onclick="PEM0114AddIrregularities()"  value="Add"/>-->





            </td>
        </tr>
        <tr><th> Handing staff 1 (Counter Staff) :</th> <td colspan="3">     <input style="max-width:200px;" type="text" /></td>     </tr>
        <tr>
            <th>
                Handing staff 2
                (ACO/TO/SO) :
            </th>
            <td>
                <input id="HS1" type="text" readonly />
            </td>
            <th>
                Handing staff 3
                (PO) :
            </th>
            <td>
                <input id="HS2" type="text" readonly />
            </td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <input type="button" value="Cancel" onclick="loadContentPage('PEM0114')" />
               
                <input type="button" value="Search" onclick="PEM0114Search()" />
            </td>

        </tr>
    </tfoot>
</table>


<table class="resultTable hide" id="PEM0114Table">
    <thead>
        <tr>
            <th>
                DSN No.
            </th>
            <th>
                Form Type
            </th>
            <th>
                Name of AP/ RI / Contractor
            </th>
            <th>
                Reg no. of AP/ RI / Contractor
            </th>
            <th>
                DATE RECEIVED
            </th>
            <th>
                Irregularities
            </th>
            <th>
                Handing staff 1 (ACO/TO/SO)
            </th>
            <th>
                Handing staff 2 (PO)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>D000001</td>
            <td>MW01</td>
            <td>
                xx
            </td>
            <td>
                MWC xxx/xxx

            </td>
            <td>
                11/8/2018
            </td>
            <td>
                a,b,k
            </td>
            <td>
                SO2
            </td>
            <td>
                BS1
            </td>
            <td><input type="button" value="Edit" onclick="loadContentPage('PEM0114DirectReturnSub')" /></td>
        </tr>
    </tbody>


</table>