
       <h3>DW Letters</h3>

        <span style="color:red" id="msg"></span>




        <table class="inputTable">
            <tr><td colspan="3"><b></b></td></tr>
            <tr>
                <td><b><br><br><br><br></b></td>
                <td style="text-align:right"><b>(只發傳真: )</b></td>
                <td width="10px">&nbsp;</td>
            </tr>

            <tr>  <td colspan="4">       先生／女士：             </td>            </tr>
            <tr>     <td colspan="4"> 文件編號&nbsp;D0000748687  </td>         </tr>
            <tr>      <td colspan="4">    連同MW01表格呈交的文件   </td>      </tr>
            <tr>
                <td colspan="4">
                    <textarea name="mwAckLetterVo.base.address" cols="80" rows="2" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">address here</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    本署於
                    <u>

                        2017年
                        5月
                        9日



                    </u>
                    收到上述文件，但未能作進一步處理，理由如下：
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <input type="hidden" name="letterType" id="mwDwLetterItems[0].letterType" value="DW">
                    <input name="checkedUUID" id="mwDwLetterItems[0].checked" checked="" value="Y" type="checkbox">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[0].itemId.uuid" value="A62B4523BD854AE1B7130F07F4CD5272">

                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[0].itemNo" value="a">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[0].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">沒有填寫正確的小型工程呈交編號；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[0].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">valid minor works submission number was not provided;</textarea>
                </td>
            </tr>
            <tr> <td colspan="4">     a.         </td>  </tr>




            <tr>
                <td colspan="4">
                    b.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[1].itemId.uuid" value="EBAA76685E794C9298D4498390049EF7">

                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[1].itemNo" value="b">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[1].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)" >沒有填寫展開工程的日期；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[1].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">the date of commencement was not specified;</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    c.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[2].itemId.uuid" value="CE77539C424846A085815496D33C7844">

                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[2].itemNo" value="c">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[2].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)" >沒有填寫完成工程的日期；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[2].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">the date of completion was not specified;</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    d.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[3].itemId.uuid" value="4421DB3413D041D889BF07E6B9577CAE">

                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[3].itemNo" value="d">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[3].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)" >沒有填寫簽署的日期；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[3].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">the date of signature was not specified;</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    e.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[4].itemId.uuid" value="ED43BF002C734893B1C4D5DE9A8262D6">

                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[4].itemNo" value="e">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[4].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)" >沒有使用適當的指明表格；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[4].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">Correctness of specified form was not provided;</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    f.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[5].itemId.uuid" value="D40103087AEB48A08BEDD773E322DB33">

                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[5].itemNo" value="f">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[5].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">安排進行小型工程的人/ 訂明建築專業人士/ 訂明註冊承建商在呈交的指明表格上的簽署不是正本/並未簽署；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[5].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">the required signatures for *the person who arranged for the minor works to be carried out /prescribed building professional/ prescribed registered contractor in the received Form was not original/ not signed;</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">

                    g.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[6].itemId.uuid" value="4CA802E4DC104958ADD808F58D19B012">

                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[6].itemNo" value="g">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[6].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)" >沒有填寫有效的小型工程項目編號；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[6].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">valid minor works item number was not provided;</textarea>


                </td>
            </tr>
            <tr>
                <td colspan="4">
                    h.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[7].itemId.uuid" value="1487CEF21BBD4EBFA87C8478777AA696">

                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[7].itemNo" value="h">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[7].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">沒有呈交所需的訂明圖則及詳圖/照片/圖則或工程描述；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[7].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">the required prescribed plans and details / photographs / plan / description of works was not provided;</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    i.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[8].itemId.uuid" value="F5DEA598BC1B485B846C795FAD89D2DB">
                    <input type="hidden" name="letterType" id="mwDwLetterItems[8].letterType" value="DW">
                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[8].itemNo" value="i">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[8].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">呈交的文件的規格及方式不當，例如散裝照片；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[8].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">the document is submitted in improper format &amp; manner, e.g. loose photographs;</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    j.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[9].itemId.uuid" value="DB8820C0896F4C188E195606F6AF959B">
                    <input type="hidden" name="letterType" id="mwDwLetterItems[9].letterType" value="DW">
                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[9].itemNo" value="j">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[9].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">沒有填寫由他人代為豎設招牌的人士的詳情；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[9].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">particulars of the person for whom the signboard is to be erected was not specified.</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    k.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[10].itemId.uuid" value="07343FBBB54E44E2A265868069EA8287">
                    <input type="hidden" name="letterType" id="mwDwLetterItems[10].letterType" value="DW">
                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[10].itemNo" value="k">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[10].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">沒有填妥訂明建築專業人士/訂明註冊承建商的資料，例如英文/中文名稱、註冊證明書編號、註冊屆滿日期等；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[10].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">information of the prescribed building professional/ prescribed registered contractor, e.g. Name in English/ Chinese, Certificate of Registration Number or Date of expiry of registration was not provided;</textarea>
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    l.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[11].itemId.uuid" value="FA3425C68A514010A341C6BEAE04A838">
                    <input type="hidden" name="letterType" id="mwDwLetterItems[11].letterType" value="DW">
                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[11].itemNo" value="l">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[11].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">根據本署記錄，訂明建築專業人士/訂明註冊承建商的有關註冊已經失效/訂明註冊承建商並未就該小型工程項目註冊；及</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[11].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">according to our record, the prescribed building professional/ prescribed registered contractor does have not a valid registration/ prescribed registered contractor is not registered for the subject MW item; and</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    m.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[12].itemId.uuid" value="245EF9884FFD495F8D945F49D6F54680">
                    <input type="hidden" name="letterType" id="mwDwLetterItems[12].letterType" value="DW">
                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[12].itemNo" value="m">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[12].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">訂明建築專業人士/訂明註冊承建商在呈交的指明表格上的簽署與本署記錄不吻合；</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[12].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">the required signatures for prescribed building professional/ prescribed registered contractor in the received Form was not match with the registration record kept in this Department;</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    n.
                    <input type="hidden" name="allCheckbox" id="mwDwLetterItems[13].itemId.uuid" value="DB18B0971800441B92B533DBAF80EE79">
                    <input type="hidden" name="letterType" id="mwDwLetterItems[13].letterType" value="DW">
                    <input type="hidden" name="checkItemNo" id="mwDwLetterItems[13].itemNo" value="n">

                    <textarea class="checkItemText" name="checkItemText" id="mwDwLetterItems[13].itemText" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)" >其他： _______________________</textarea>
                    <textarea class="checkItemText" style="display: none; height: 10px;" name="checkItemText" id="mwDwLetterItems[13].itemTextE" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">Others:_______________________</textarea>
                </td>
            </tr>

            <tr> <td colspan="4">        2.請盡快重新填寫新表格連同有關文件郵寄或親身呈交至九龍觀塘巧明街100號Landmark East 友邦九龍大樓11樓1104-6室。       </td>  </tr>


            <tr>
                <td colspan="4">
                    3.
                    <input name="mwDwLetterRemark3.uuid" value="8a8591a665eae8a80166852121c30111" type="hidden">
                    <input name="mwDwLetterRemark3.itemid" value="" type="hidden">
                    <input name="mwDwLetterRemark3.itemNo" value="DW_REMARK3" type="hidden">

                    <textarea name="mwDwLetterRemark3.itemText" id="remark3" style="width: 700px; height: 75px;" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">請留意，獲委任的訂明註冊承建商/獲授權簽署人/認可人士/註冊檢驗人員有責任核證其所遞交的小型工程文件，由於上述文件有欠妥之處，本署會把個案記錄，並可能採取紀律處分/檢控行動。</textarea>
                    <textarea name="mwDwLetterRemark3.itemTextE" id="remark3" style="width:700px; display:none;" onkeypress="return textAreaMaxLength(this, 333);" onblur="onBlurTextAreaMaxLength(this, 333)">You are reminded that it is the responsibility of the prescribed registered contractor/ authorized signatory/ authorized person/ registered inspector to check the documents before they are submitted. The document in your submission is found to be unsatisfactory, it will be kept in record and disciplinary action/prosecution may be taken.</textarea>
                </td>
            </tr>
            <tr> <td colspan="4">
    4.
    如對本信有任何疑問，可致電

    與

    聯絡。
</td>  </tr>



        </table>







            <div class="leftText">
                <table class="inputTable">
                    <tbody>
                        <tr><td ></td><td colspan="3" style="text-align:center">建築事務監督</td></tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <td>代行</td>
                        </tr>
                      
                        <tr>
                            <td colspan="4">
                                2017年
                                5月
                                9日
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <input type="text" class="inputText inputCalendar" name="mwAckLetterVo.strFormLetterDate" id="mwAckLetterVo.letterDate" value="09/05/2017" readonly="">




                        <tr>
                            <td colspan="4">
                                <input type="checkbox" name="screening" value="Y">
                                Screening ?

                                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;


                                <input type="checkbox" name="preliminary" value="Y">
                                Preliminary ?
                            </td>
                        </tr>


                        <tr>
                            <td colspan="4">
                                <input type="radio" name="mwAckLetterVo.base.language" value="CHT" checked="">中文&nbsp;|&nbsp;
                                <input type="radio" name="mwAckLetterVo.base.language" value="ENG">English
                                <input type="radio" name="mwAckLetterVo.base.fileType" value="PDF" checked="">pdf&nbsp;|&nbsp;
                                <input type="radio" name="mwAckLetterVo.base.fileType" value="DOCX">docx
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <input type="button" value="Download" onclick="window.open('/img/PEM0105.pdf')">&nbsp;
                                <input type="button" value="Update" onclick="loadContentPage('PEM0105a')">&nbsp;
                                <input type="button" value="Cancel" onclick="loadContentPage('PEM0105')">
                                <input type="button" value="Remove from DW Letter list" onclick="PEM0105a()">

                                <input name="mwAckLetterVo.base.dsn" value="D0000748687" type="hidden">
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <br>

            </div>



            <div>



                 </div>



            <div>

               
            </div>


            <div>

               
            </div>

            <div>
                <div>
                    
                </div>
                <div class="centerText">
                  
                  
                </div>
            </div>
        </div>












        





</body>
</html> 