

        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <form id="postForm" method="post" action="http://10.5.17.38:80//pem/ackLetter/ackOtherSave.action">
            <input type="hidden" name="ackOtherView.savingForm" id="ackOtherView.savingForm" value="DROC">
            <table class="inputTable">
                <thead><tr><th colspan="2">Direct Returned Over Counter</th></tr></thead>
                <tbody>
                    <tr>
                        <th>Received Date :</th>
                        <td>
                            <input class="inputDate" type="text" name="ackOtherView.droc_receivedDate" id="ackOtherView.droc_receivedDate" value="12/10/2018">
                        </td>
                    </tr>

                    <tr>
                        <th>No. of Return over Counter :</th>
                        <td>
                            <input type="text" name="ackOtherView.droc_noOfReturnOverCounter" id="ackOtherView.droc_noOfReturnOverCounter" value="">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label name="dros_lblSuccess" id="dros_lblSuccess" style="color:blue"></label></td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="4">
                            <input class="inputButton" type="button" value="Submit" onclick="onSubmit(this)">
                            <input class="inputButton" type="button" value="Reset" onclick="onReset(this)">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <form id="postForm" method="post" action="http://10.5.17.38:80//pem/ackLetter/ackOtherSave.action">
            <input type="hidden" name="ackOtherView.savingForm" id="ackOtherView.savingForm" value="VS">

            <table class="inputTable" style="display:none;">
                <thead><tr><th colspan="2">Validated Structures</th></tr></thead>
                <tbody>
                    <tr>

                        <th>Since 2018-01-01 to :</th>
                        <td>12/10/2018</td>
                    </tr>
                    <tr>
                        <th>No. of validated structures :</th>
                        <td><input type="text" name="ackOtherView.vs_noOfValidatedStructures" id="ackOtherView.vs_noOfValidatedStructures" value=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label name="vs_lblSuccess" id="vs_lblSuccess" style="color:blue"></label></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <input class="inputButton" type="button" value="Submit" onclick="onSubmit(this)">
                            <input class="inputButton" type="button" value="Reset" onclick="onReset(this)">
                        </td>
                    </tr>
                </tfoot>
            </table>


        </form>
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!--
        <form id="postForm" method="post" action="http://10.5.17.38:80//pem/ackLetter/ackOtherSave.action">
        <input type="hidden" name="ackOtherView.savingForm" id="ackOtherView.savingForm" value="UCR"/>
        <table class="formTable">
            <thead><tr><th colspan="4">Update CRM records</th></tr></thead>
            <tbody>
                <tr>
                    <th>Cert. No. :</th>
                    <td><input type="text" name="ackOtherView.ucr_certNo" id="ackOtherView.ucr_certNo" value=""/></td>
                    <th>Fax :</th>
                    <td><input type="text" name="ackOtherView.ucr_fax" id="ackOtherView.ucr_fax" value=""/></td>
                </tr>
                <tr>
                    <th>Chin. Name :</th>
                    <td><input type="text" name="ackOtherView.ucr_chinName" id="ackOtherView.ucr_chinName" value=""/></td>
                    <th>Eng. Name</th>
                    <td><input type="text" name="ackOtherView.ucr_engName" id="ackOtherView.ucr_engName" value=""/></td>
                </tr>
                <tr>
                    <th>Chin. Address</th>
                    <td><input type="text" name="ackOtherView.ucr_chinAddress" id="ackOtherView.ucr_chinAddress" value=""/></td>
                </tr>
                <tr>
                    <th>Eng. Address</th>
                    <td><input type="text" name="ackOtherView.ucr_engAddress" id="ackOtherView.ucr_engAddress" value=""/></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <input class="inputButton" type="button" value="Submit" onclick="onSubmit(this)"/>
                        <input class="inputButton" type="button" value="Reset" onclick="onReset(this)"/>
                    </td>
                </tr>
            </tfoot>
        </table>
        </form>
        -->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!--
        <form id="postForm" method="post" action="http://10.5.17.38:80//pem/ackLetter/ackOtherSave.action">
        <input type="hidden" name="ackOtherView.savingForm" id="ackOtherView.savingForm" value="MID"/>
        <table class="formTable">
            <thead><tr><th colspan="2">MW Items Description</th></tr></thead>
            <tbody>
                <tr>
                    <th>MW Item No. :</th>
                    <td><input type="text" name="ackOtherView.mid_mwItemNo" id="ackOtherView.mid_mwItemNo" value=""/></td>
                </tr>
            </tbody>
            <tfoot><tr><td>
                <input class="inputButton" type="button" value="Submit" onclick="onSubmit(this)"/>
                <input class="inputButton" type="button" value="Reset" onclick="onReset(this)"/>
            </td></tr></tfoot>
        </table>
        </form>
        -->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <form id="postForm" method="post" action="http://10.5.17.38:80//pem/ackLetter/ackOtherSave.action">
            <input type="hidden" name="ackOtherView.savingForm" id="ackOtherView.savingForm" value="CORS">
            <table class="inputTable">
                <thead><tr><th colspan="2">Change Order Related status</th></tr></thead>
                <tbody>
                    <tr>
                        <th>DSN :</th>
                        <td>
                            <input type="text" name="ackOtherView.cors_dsn" id="ackOtherView.cors_dsn" value="">
                            <label name="cors_lblError" id="cors_lblError" style="color:red"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>Order Related :</th>
                        <td>
                            <input type="radio" name="ackOtherView.cors_orderRelated" id="ackOtherView.cors_orderRelated" value="Y">Yes
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <input type="radio" name="ackOtherView.cors_orderRelated" id="ackOtherView.cors_orderRelated" value="N" checked="true">No
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label name="cors_lblSuccess" id="cors_lblSuccess" style="color:blue"></label></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <input class="inputButton" type="button" value="Submit" onclick="onSubmit(this)">
                            <input class="inputButton" type="button" value="Reset" onclick="onReset(this)">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- <form id="postForm" method="post" action="http://10.5.17.38:80//pem/ackLetter/ackOtherSave.action">
        <input type="hidden" name="ackOtherView.savingForm" id="ackOtherView.savingForm" value="MPA"/>
        <table class="formTable">
            <thead><tr><th colspan="2">Manually Pick Audit: from No to Yes [ Should Get Senior Endorsement!! ]</th></tr></thead>
            <tbody>
                <tr>
                    <th>DSN :</th>
                    <td><input type="text" name="ackOtherView.mpa_dsn" id="ackOtherView.mpa_dsn" value=""/>
                    <label name="mpa_lblError" id="mpa_lblError" style="color:red"></label></td>

                </tr>
                <tr>
                    <th>Senior Endorsement (e.g. e-mail date)</th>
                    <td>
                        <textarea name="ackOtherView.mpa_seniorEndorsement" id="ackOtherView.mpa_seniorEndorsement"></textarea></td>
                    <td><label name="mpa_lblSuccess" id="mpa_lblSuccess" style="color:blue"></label></td>
                </tr>
            </tbody>
            <tfoot><tr><td>
                <input class="inputButton" type="button" value="Submit" onclick="onSubmit(this)"/>
                <input class="inputButton" type="button" value="Reset" onclick="onReset(this)"/>
            </td></tr></tfoot>
        </table>
        </form>-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->
        <!-- ======================================================================-->


        <form id="postForm" method="post" action="http://10.5.17.38:80//pem/ackLetter/ackOtherSave.action">
            <input type="hidden" name="ackOtherView.savingForm" id="ackOtherView.savingForm" value="UFRNO">
            <table class="inputTable">
                <thead><tr><th colspan="2">Update File Reference No</th></tr></thead>
                <tbody>
                    <tr>
                        <th>MW No :</th>
                        <td>
                            <input type="text" name="ackOtherView.ufrno_MwNo" id="ackOtherView.ufrno_MwNo" value="">
                            <label name="ufrno_lblError" id="ufrno_lblError" style="color:red"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>File Reference No :</th>
                        <td>
                            <input type="text" style="width: 30px;" class="inputText" maxlength="4" name="ackOtherView.ufrno_fileRefFour" id="ackOtherView.ufrno_fileRefFour" value="">/
                            <input type="text" style="width: 20px;" class="inputText" maxlength="2" name="ackOtherView.ufrno_fileRefTwo" id="ackOtherView.ufrno_fileRefTwo" value="">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label name="ufrno_lblSuccess" id="ufrno_lblSuccess" style="color:blue"></label></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <input class="inputButton" type="button" value="Submit" onclick="onSubmit(this)">
                            <input class="inputButton" type="button" value="Reset" onclick="onReset(this)">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>

<table class="inputTable">

    <thead>
        <tr>
            <th colspan="2">
                Batch update referral date
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th >
                Receive Date
            </th>
            <td>
                From <input type="text" class="inputDate" />
                to <input type="text" class="inputDate" />
            </td>
        </tr>
        <tr> <th>
    Referral Date
</th>
        <td>
            <input type="text" class="inputDate" /></td></tr>
    </tbody>
    <tfoot><tr>
        <td colspan="2">
            <input type="button" value="Update" /></td></tr></tfoot>
</table>