

<button>Pick for Audit Fundamental Check</button>

<table class="inputTable">
    <tbody>

        <tr>
     
            <td colspan="2">
                <b> Manual Pick Audit:    </b>  
               
            </td>
        </tr>
        <tr> <td width="20%"><a href="javascript:loadContentPage('PEM0113b')">Whole case manual pick audit</a></td> <td>
    <a href="javascript:loadContentPage('PEM0113b2')">Search </a>
</td></tr>

        <tr>
            <td colspan="2">
                <a href="javascript:loadContentPage('PEM0113c')">Long O/S Certificate of Completion for Class I/II MW</a>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="javascript:loadContentPage('PEM0113d')">Industrial Building sub-Divided flats(IB-SDF)</a>

            </td>
        </tr>
    </tbody>

</table>