




        <div class="sList">
            <table class="inputTable">
                <thead>
                    <tr>
                        <th colspan="2">Manually Pick Audit: from No to Yes [Should Get Senior Endorsement!]</th>
                    </tr>
                    </thead>
                <tbody>
                 
                                                    <tr>
                                                        <th class="fLabel">Document S/N:</th>
                                                        <td class="fField">
                                                            <input class="inputText" type="text" id="searchDSN" name="searchDSN" value="D0000748820"  onblur="onRemarkBlur()">
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <th class="fLabel">Senior Endorsement Remarks (e.g. e-mail date):</th>
                                                        <td class="fField">
                                                            <input class="inputText" type="text" id="mwAckLetterVo.base.remark" name="mwAckLetterVo.base.remark" value="" style="width:300px" onblur="onRemarkBlur()">
                                                        </td>



                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td>
                                                            <div id="remark_empty" style="font-weight:bold; font-size:14px;color:red; text-align:left;">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="btnSet ">
            <div class="right">
                <input class="inputButton" type="button" id="btnSubmit" name="btnSubmit" value="Submit"  onclick="PEM_Search('MPAudit')">
                <!--<input class="inputButton" type="button" id="btnSubmit" name="btnSubmit" value="Submit" style="width:80px;" onclick="submitManualPickAudit()">-->
            </div>
        </div>


        <div id="MPAudit" class="sList" style="display:none">
            <table class="sTable" width="100%" border="0" cellpadding="2" cellspacing="1">
                <tbody>
                    <tr>
                        <td class="sTh1">Result:</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; font-size:14px; padding:3px; text-align:left; background:#6666FF; color:white;">

                            All submissions related to this DSN 123 has been updated:<br> This case is manually picked for audit under: <br>Please update Excel or others accordingly!!!
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>




