body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    padding: 0px 20px 0px 20px;
    font-size: 18px;
}

.w3-panel {
    margin: 0px;
}

.w3-dropdown-hover:hover {
    color: #fff !important;
    background-color: #006191 !important
}

.tabber > .w3-bar-item {
    cursor: pointer;
    border-color: #0C6390 !important;
    border-width: 1px 1px 0px 1px !important;
    border-style: solid !important;
}

    .tabber > .w3-bar-item.header {
        /* background-color: #0C6390 !important;
        color: #FFF;*/
        border-top: 2px;
        position: relative;
        top: 3px;
        font-weight: bolder;
    }

    .tabber > .w3-bar-item.selected {
        cursor: default;
        background-color: #0C6390 !important;
        color: #FFF;
        border-top: 2px;
        position: relative;
        top: 3px;
    }

.tabberArea {
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-color: #0C6390 !important;
    padding: 10px;
}



#topbar0 a {
    /*color:rgb(4, 4, 180)!important;*/
    color: #006396 !important;
    font-size: 20px;
}

#topbar0 {
    /*color:rgb(4, 4, 180)!important;*/
    background-color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 400;
}




#textTitle {
    width: 100%;
    padding: 0px 0px 0px 5px;
    vertical-align: bottom;
    border: 0px;
}

    #textTitle > .textBD {
        font-family: Poppins, sans-serif;
        vertical-align: bottom;
        font-size: 28px;
        font-weight: 700;
        position: relative;
        top: 12px;
    }

    #textTitle > .textMWMS {
        vertical-align: bottom;
        position: relative;
        top: 0px;
        font-size: 18px;
    }

#topbar0 .w3-bar-item {
    padding: 5px;
}

#topbar1 {
    color: #fff !important;
    background-color: #0C6390 !important;
    height: 10px;
}



#topbar2 > a {
    margin: 1px;
}

#topbar2 .w3-dropdown-click:hover {
    background-color: #ff9800 !important;
}

#topbar2 .w3-dropdown-content {
    padding: 10px 0px;
    background-color: #FFF !important; /*#FAFAFA;*/
}

    #topbar2 .w3-dropdown-content > div {
        margin: 0px 5px 10px 5px;
        padding: 5px 20px 5px 10px;
        cursor: pointer;
    }



        #topbar2 .w3-dropdown-content > div:hover {
            color: #fff;
            background-color: #0C6390 !important;
        }

        #topbar2 .w3-dropdown-content > div > div {
            color: #6d6f71;
        }


/*
.subTopMenu a {
color:#FFF;
}



.subTopMenu .w3-col {
padding:3px 3px 3px 10px;
margin:10px 0px;
}
#topbar2 > a {
margin:1px;
}
#topbar2 .w3-dropdown-click:hover {
background-color:#ff9800!important;
}

#topbar2 .w3-dropdown-content {
padding:18px;
background-color:rgba(226,122,44,1)!important;

min-height:250px;


#topbar2 .w3-table td {
white-space:nowrap;
padding-left:20px;
}
#topbar2 .w3-button:hover {
    color: #000!important;
	border-bottom: 5px solid rgba(226,122,44,.9)!important;
	
}#topbar2 .w3-button {
    background-color:#fff!important; 
	border-bottom: 5px solid #fff;
	
}#topbar2 .w3-button.focus {
    border-bottom: 5px solid rgba(122,226,44,.9);
}*/
#topbar3 {
    color: #fff !important;
    background-color: #0C6390 !important;
    height: 30px;
    line-height: 30px;
    padding-right: 50px;
    text-align: right;
    font-size: 12px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.48), 0 2px 20px 0 rgba(0,0,0,0.48) !important;
    margin-bottom: 0px;
}

#mySidebar {
    color: #fff !important;
    background-color: #1978bc !important
}

.subTopMenu {
    left: 10px;
    right: 10px;
}


/*
.inputTable {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: unset;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

  .inputTable th, .inputTable td {
	  padding:2px;
  }
  .inputTable th {
	  background-color:#DADADA;
  }


    .inputTable thead > tr > th {
        background-color: #0C6390;
        color:#FFF;
        font-size: 14.4px;
        text-align: left;
        padding-left: 20px;
        font-size: 20px;
    }
  
  .inputTable tbody > tr > th {
	  padding:2px;
	  font-size: 18px;
	  font-weight:normal;
	  width:200px;
	  white-space: nowrap;
	  text-align: right;
	  
	  padding-right:5px;
  }
  .inputTable tbody > tr > th.subheader {
	  background-color:#EFEFEF;
  }
  
    
.inputTable tbody  > tr:nth-child(odd) {background-color: #EFEFEF;}
.inputTable tbody  > tr:nth-child(even) {background-color: #EFEFEF;}

  
  
  .inputTable tfoot {
	  background-color:#EFEFEF;
	  text-align:right;
  }
  */
h3 {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0C6390 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}






.right {
    text-align: right;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

[type=search] {
     -webkit-appearance: searchfield!important; 
    /*outline-offset: -2px;*/
}

    [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
        -webkit-appearance: searchfield-cancel-button!important;
    }

input[type=text], input[type=search], select {
    width: 100%;
}

input[type=text], input[type=search], input[type=number], select, textarea {
    height: 40px;
    margin: 1px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 21px;
    padding: 3px 5px;
    background-image: linear-gradient(to bottom right, rgba(200, 200, 200, 0.5) 10%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    /*background-color: #DCE6F2;*/
}

textarea {
    min-height: 100px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button:hover, input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, a[type=button], a[type=button]:hover {
    background-color: #45a049 !important;
}

button, input[type=submit], input[type=button], input[type=reset], a[type=button] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 21px;
}





#topbar0 .textBD {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 700;
}



h3.w3-card {
    color: #fff !important;
    /*background-color: #007777 !important;*/
    background-color: #0C6390 !important;
}




.dataTables_wrapper {
    margin-top: 20px;
}

#navigator {
    color: #fff;
    background-color: #0C6390 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
    height: 36px;
    line-height: 36px;
    padding-left: 40px;
    font-size: 21px;
}

#mainContainer {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
    padding-bottom: 10px;
    /*margin-bottom:10px;*/
}

    #mainContainer > * {
        margin: 20px 20px 0px 20px;
    }

.hide {
    display: none !important;
    visibility: hidden !important;
}

.text-danger {
    color: red;
}

.btn {
    margin: 3px 8px;
}


select {
    width: auto;
}















.masking, .saving, .loading, .bodyLoading, .exporting, .deleting {
    position: relative;
}

    .deleting::before, .masking::before, .saving::before, .loading::before, .bodyLoading::before, .exporting::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .deleting::after, .masking::after, .saving::after, .bodyLoading::after, .loading::after, .exporting::after {
        background-color: #ff9800;
        background: #FFFFFF;
        padding: 5px 20px;
        font-size: 28px;
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 70px);
        border-radius: 10px;
        filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }

    .bodyLoading::after {
        content: "Loading..";
        top: 200px;
    }

    .deleting::after {
        content: "Deleting..";
    }

    .saving::after {
        content: "Saving..";
    }

    .loading::after {
        content: "Loading..";
    }

    .exporting::after {
        content: "Exporting..";
    }


/*w3css enhance*/
.w3-col:not(.hr) {
    min-height: 42px;
}



@media (min-width:993px) {
    .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l1,
    .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l2,
    .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l3,
    .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l4,
    .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l5,
    .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l6,
    .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l7, .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l8, .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l9, .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l10, .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l11, .searchCriteriaTable > .w3-row > div > div:nth-child(odd).w3-col.l12 {
        text-align: right;
    }
}


.searchCriteriaTable {
    background-color: #EFEFEF;
}

    .searchCriteriaTable > div.w3-row {
        border-right: 1px solid #AAA;
        border-left: 1px solid #AAA;
        border-bottom: 1px solid #AAA;
    }

        .searchCriteriaTable > div.w3-row > div > div:nth-child(odd) {
            line-height: 38px;
            margin: 1px 0px;
            padding: 1px 0px;
            /*margin: 1px 0px;*/
            background-color: #DADADA;
            padding-right: 5px;
            /*border:1px solid #fff;*/
            border-style: solid;
            border-color: #fff;
            border-width: 0px 1px 0px 0px;
        }

.panelHeader {
    background-color: #0C6390;
    color: #FFF;
    font-size: 14.4px;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
}

.panelSubHeader {
    background-color: #0C6390;
    color: #FFF;
    font-size: 11.4px;
    text-align: left;
    padding-left: 16px;
    font-size: 16px;
    border-width: 6px 10px 0px 0px;
}


div.resultFooter {
    background-color: #dedede;
    text-align: center;
    padding: 5px 0px;
    border: 1px solid #aaa;
}

    div.resultFooter > button.pagingButton {
        background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
        color: #333 !important;
        border: 1px solid #979797;
        margin: 0px 5px;
    }

        div.resultFooter > button.pagingButton.selected {
            background: linear-gradient(to bottom, #0C6390 0%, #0C6390 100%);
            color: #FFF !important;
        }

    div.resultFooter > span {
        line-height: 35px;
        padding-left: 5px;
    }

table.resultTable {
    border-collapse: collapse;
    min-width: 100%;
    border-bottom: solid 1px #AAA;
    background-color: #FFF;
}

    table.resultTable > thead > tr > th {
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
        white-space: normal;
    }

        table.resultTable > thead > tr > th:first-child {
            border-left: 1px solid #ddd;
        }

    table.resultTable > tbody > tr:nth-child(even) {
        background-color: #DCE6F2;
    }

    table.resultTable > tbody > tr:hover {
        background-color: #ddd !important;
    }

    table.resultTable > * > tr > th {
        background-color: #5b7d8e !important;
        color: #FFF;
        white-space: normal;
    }

    table.resultTable > tbody > tr > * {
        border-right: 1px solid #AAA !important;
        border-top: 1px solid #AAA !important;
        padding: 0px 10px;
        white-space: normal;
    }

.inputDate {
    max-width: 150px;
}

.alwayBottom {
    position: fixed;
    bottom: -3px;
    border: 2px solid #0C6390 !important;
    z-index: 9999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.w3-modal {
    z-index: 9999 !important;
}


a.ImageClass {
    background: url(../img/view.gif) no-repeat top left;
    display: block;
    width: 15px;
    height: 30px;
    text-indent: -9999px; /* hides the link text */
}


/*For menu Tab*/
/*.menuColumn {
    float: left;
    padding: 1px;
    border-style: ridge;
    background-color: #0C6390;
    color: white;
}

/* Clear floats after the columns */
/*.menuRow:after {
    content: "";
    display: table;
    clear: both;
}*/

/*@media screen and (max-width: 600px) {
    .menuColumn {
        width: 100%;
        box-sizing: border-box;
    }
}*/




.displayForm {
    background-color: #EFEFEF;
}
/*w3css enhance*/


@media (min-width:601px) {
    .displayForm > .w3-row > div > div.m1:not(.data), .displayForm > .w3-row > div > div.m2:not(.data), .displayForm > .w3-row > div > div.m3:not(.data), .displayForm > .w3-row > div > div.m4:not(.data), .displayForm > .w3-row > div > div.m5:not(.data), .displayForm > .w3-row > div > div.m6:not(.data), .displayForm > .w3-row > div > div.m7:not(.data), .displayForm > .w3-row > div > div.m8:not(.data), .displayForm > .w3-row > div > div.m9:not(.data), .displayForm > .w3-row > div > div.m10:not(.data), .displayForm > .w3-row > div > div.m11:not(.data), .displayForm > .w3-row > div > div.m12:not(.data) {
        text-align: right;
        padding-right: 5px;
    }
}

@media (min-width:993px) {
    .displayForm > .w3-row > div > div.l1:not(.data), .displayForm > .w3-row > div > div.l2:not(.data), .displayForm > .w3-row > div > div.l3:not(.data), .displayForm > .w3-row > div > div.l4:not(.data), .displayForm > .w3-row > div > div.l5:not(.data), .displayForm > .w3-row > div > div.l6:not(.data), .displayForm > .w3-row > div > div.l7:not(.data), .displayForm > .w3-row > div > div.l8:not(.data), .displayForm > .w3-row > div > div.l9:not(.data), .displayForm > .w3-row > div > div.l10:not(.data), .displayForm > .w3-row > div > div.l11:not(.data), .displayForm > .w3-row > div > div.l12:not(.data) {
        text-align: right;
        padding-right: 5px;
    }
}

.displayForm > .w3-row > div > div:nth-child(even):not(.label) {
    text-align: left !important;
    background-color: inherit !important;
}

.displayForm > .w3-row > div > div:not(.data) {
    background-color: #DADADA;
}

.data {
    text-align: left !important;
}

.displayForm > .w3-row {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-style: solid;
    border-color: #fff;
    border-width: 0px 1px 1px 0px;
    min-height: 43px;
    line-height: 40px;
}

    .displayForm > .w3-row > div {
        border-style: solid;
        border-color: #fff;
        border-width: 0px 1px 1px 0px;
    }

.displayForm > .footer {
    background-color: #dedede;
    text-align: right;
    padding: 0px 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}




/*


    .displayForm > .w3-row > div > div:nth-child(even).w3-col:not(.label), .data {
        background-color: #EFEFEF;
        font-weight: bolder !important;
        text-align: left !important;
    }

.displayForm > .footer {
    text-align: right;
}
    
*/
/*
    .displayForm > .footer, .resultTable > tfoot > tr > td {
        background-color: #dedede;
        text-align: right;
        padding: 5px 0px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }

*/
.hr {
    color: #fff !important;
    background-color: #0C6390 !important;
    height: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.errorField {
    border-color: red !important;
    background-color: lightpink !important;
    background-image: none !important;
    font-size: 16px;
}

.errorText {
    color: red;
    font-size: 16px;
    line-height: 14px;
}

.PEM_TODOLIST_Count {
    font-weight: bolder;
}

.link:hover, .link:focus {
    cursor: pointer;
    text-decoration: underline;
    color: red;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}










.atcpDisplay {
    padding-right: 20px;
    background-image: url("images/combo_arrow.png");
    background-repeat: no-repeat;
    background-position: right 3px top 2px;
    cursor: pointer;
}




.atcpDropDown {
    position: absolute !important;
    background-color: #FFF !important;
    border-color: #95B8E7 !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-size: 12px !important;
    z-index: 9999999 !important;
    max-height: 200px !important;
    overflow-y: scroll !important;
}

    .atcpDropDown > table > tbody > tr {
        cursor: pointer;
        border-color: #CCC;
        color: #666;
        line-height: normal;
    }



        .atcpDropDown > table > tbody > tr.selected {
            background-color: #95B8E7 !important;
        }

    .atcpDropDown > table td {
        padding: 1px 3px 0px 3px !important;
        height: 22px;
        min-height: 22px;
    }

    .atcpDropDown > table {
        border-spacing: 0px !important;
        border-collapse: collapse !important;
    }

.atcpKeyword {
    color: #000;
    font-weight: bold;
}

.atcpDropDown > table > tbody > tr.tr1 {
    background-color: #F1F1F1;
}

.atcpDropDown > table > tbody > tr.tr0 {
    background-color: #FFF;
}

.listTable {
    border-collapse: collapse;
    border-spacing: 0px;
    /* border:0px; */
    height: 29px;
    width: 100%;
}

    .listTable > * > tr > * {
        border-width: 0px 1px 0px 1px;
        border-style: solid;
        border-color: #CCCCFF;
        vertical-align: top;
    }


    .listTable > thead {
        background-image: url("../images/columnheadbg.png");
        background-repeat: repeat-x;
        background-color: #E8F0F8;
        height: 34px;
    }

        .listTable > thead > tr .listTop {
            text-align: right;
            border: 0px solid #CCC;
            background-color: #fff;
            height: 29px;
            vertical-align: middle;
        }

        .listTable > thead > tr > th {
            font-weight: bold;
            /*white-space: nowrap;*/
            font-size: 18px;
            padding: 3px 3px 3px 3px;
            vertical-align: bottom;
            text-align: center;
        }

            .listTable > thead > tr > th.sortable {
                padding-right: 15px;
                background-image: url("../images/sort_both.png");
                background-repeat: no-repeat;
                background-position: center right;
                cursor: pointer;
            }

            .listTable > thead > tr > th[id] {
                font-weight: bold;
                /*white-space: nowrap;*/
                font-size: 18px;
                padding: 3px 3px 3px 3px;
                vertical-align: bottom;
                text-align: center;
                background-image: url("../images/sort_both.png");
                background-repeat: no-repeat;
                background-position: center right;
            }

.freezer {
    /*position : relative;
	left : 10px;
	top: 30px;
	z-index: 999;
	background-color: #FFF;*/
    filter: alpha(opacity=1);
    background: white;
}

.listTable > tbody > tr.even {
    background-color: #FEFEFE;
}

.listTable > tbody > tr.odd {
    background-color: #F1F1F1;
}

.listTable > tbody > tr.selected {
    background-color: #CBB4B4;
}

.listTable > tbody > tr > td {
    font-size: 18px;
    font-weight: normal;
    border: 1px solid #CCC;
    padding: 3px 3px 3px 3px;
}


.listTable > tbody > tr > th {
    border: 1px solid #CCC;
    padding: 3px 3px 3px 3px;
    text-align: left;
    vertical-align: top;
    background-color: #EAF0F8;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
}



.listTable > tfoot > tr {
    background-color: #DEE0F8;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: left;
}

    .listTable > tfoot > tr > td.left {
        padding-left: 3px 10px;
        text-align: left;
    }

    .listTable > tfoot > tr > td {
        padding-left: 3px 10px;
        text-align: right;
    }

        .listTable > tfoot > tr > td > * {
            min-width: 30px;
        }

            .listTable > tfoot > tr > td > *.currentPage {
                display: inline-block;
                text-align: center;
                font-weight: bold;
            }


.listTable > tfoot input[type="button"] {
    float: right;
    margin: 5px;
    padding: 0px 15px;
    min-width: 80px;
    min-height: 30px;
    font-weight: bold;
    font-size: 12px;
}

.listTable input[type="text"] {
    width: 150px;
    margin-bottom: 5px;
    float: none;
}





.latcpDropDown {
    position: absolute !important;
    background-color: #FFF !important;
    border-color: #95B8E7 !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-size: 12px !important;
    z-index: 9999999 !important;
    max-height: 200px !important;
    overflow-y: scroll !important;
}

    .latcpDropDown > table {
        min-width: 100% !important;
    }

        .latcpDropDown > table > * > tr > * {
            border-width: 0px 1px 0px 1px !important;
            border-style: solid !important;
            border-color: #CCCCFF !important;
            vertical-align: top !important;
            border: 1px solid #CCC !important;
            padding: 3px 3px 3px 3px !important;
            line-height: 25px;
        }







        .latcpDropDown > table > thead {
            background-repeat: repeat-x !important;
            background-color: #E8F0F8 !important;
            height: 34px !important;
        }

            .latcpDropDown > table > thead > tr {
                border-color: #CCCCFF !important;
                font-weight: bold !important;
                font-size: 18px !important;
                padding: 3px 3px 3px 3px !important;
                vertical-align: bottom !important;
                text-align: center !important;
                background-color: #E8F0F8 !important;
            }


        .latcpDropDown > table > tbody > tr {
            cursor: pointer !important;
            border-color: #CCC !important;
            color: #666 !important;
            line-height: normal !important;
        }



            .latcpDropDown > table > tbody > tr.selected {
                background-color: #95B8E7 !important;
                font-weight: bold;
                color: black;
                font-size: 14px;
            }

        .latcpDropDown > table td {
            padding: 1px 3px 0px 3px !important;
            height: 22px !important;
            min-height: 22px !important;
        }

    .latcpDropDown > table {
        border-spacing: 0px !important;
        border-collapse: collapse !important;
    }

.latcpKeyword {
    color: #000 !important;
    font-weight: bold !important;
}

.latcpDropDown > table > tbody > tr.tr1 {
    background-color: #F1F1F1 !important;
}

.latcpDropDown > table > tbody > tr.tr0 {
    background-color: #FFF !important;
}

.latcpTd {
    text-align: left;
}

.inputBigRadio {
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

.inputMidRadio {
    vertical-align: middle;
    text-align: center;
    width: 35px;
    height: 35px;
}

.disableBtnClass {
    background-color: #A9A9A9 !important
}

table.resultTable > tbody > tr > .AlignCenter {
    text-align: center;
}

/* begin add by chester 2019-08-11 */
.complexResultTableTr {
    border: 1px solid #000000 !important;
}

    .complexResultTableTr table {
        width: 100%;
        border-collapse: collapse;
        border: none;
        margin: 5px 0;
    }

    .complexResultTableTr td {
        border: 1px solid #000000 !important;
    }

        .complexResultTableTr td .complexResultTable tr td {
            border: none !important;
        }
/* end add by chester 2019-08-11 */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #45a049; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }

.DisableTextClass {
    background-color: #e6e6e6 !important;
    background-image: none !important;
}

.asterix {
    color: red;
}
