
<h3> Company with same BR No.</h3>
<table class="inputTable">
    <tbody>
        <tr>
            <td colspan="2">
                Br No. :
                <span id="lblFileRef" style="font-weight:bold;">02046466</span>
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
    </tbody>
</table>

        <table class="resultTable" id="">
            <thead>
                <tr class="grid-header" style="height:19px;">
                    <th nowrap="nowrap">
                        File Reference No.
                    </th>
                    <th>
                        Company Name
                    </th>
                    <th nowrap="nowrap">
                        Company Name (Chn)
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        4/6816/56(11)
                    </td>
                    <td>
                        xx (xx Hop) Refrigeration Co., Ltd.
                    </td>
                    <td>
                       xx冷氣工程有限公司
                    </td>
                    <td>

                        Inactive

                    </td>
                </tr>

                <tr>
                    <td>
                        MWC 169/2010
                    </td>
                    <td>
                        xxxx 'xx HOP' REFRIGERATION CO LTD
                    </td>
                    <td>
                       xx工程有限公司
                    </td>
                    <td>

                        Active

                    </td>
                </tr>

                <tr>
                    <td>
                        SC(V) 77/99
                    </td>
                    <td>
                        xxx 'xx xx' REFRIGERATION CO LTD
                    </td>
                    <td>
                        xxx
                    </td>
                    <td>

                        Active

                    </td>
                </tr>

            </tbody>
        </table>
