



<h3>New General Contractor Application</h3>


<table class="inputTable">
    <thead><tr><th colspan="2">Search Criteria</th></tr></thead>
    <tbody>
        <tr>
            <th>File Reference :</th>
            <td><input type="text" name="searchFileReference" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" /></td>
        </tr>
        <tr>
            <th>BR Number :</th>
            <td><input type="text" name="searchBRNumber" maxlength="8" value="" onkeydown="enterToSubmit(searchForm, this, event)" /></td>
        </tr>
        <tr>
            <th>Company Name :</th>
            <td><input type="text" name="searchCompanyName" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">

                <input type="button" name="btnSearch" value="Search" onclick="searchForm()" id="btnSearch" accesskey="S">
                <input type="button" name="btnLogin" value="New Application" onclick="loadContentPage('CRM0201a')" id="btnSearch" accesskey="S">

            </td>
        </tr>
    </tfoot>
</table>

<table id="CRMHideDiv" class="resultTable hide">
    <thead>
        <tr class="grid-header">
            <!--th>&nbsp;</th-->
            <th><a href="javascript:setSort('file_reference_no', 'asc', 'file_reference_no')">File Ref.</a></th>
            <th><a href="javascript:setSort('br_no', 'asc', 'file_reference_no')">BR No.</a></th>
            <th nowrap="nowrap" style="width:150px;"><a href="javascript:setSort('company_name', 'asc', 'file_reference_no')">Company Name</a></th>
            <th><a href="javascript:setSort('reg_no', 'asc', 'file_reference_no')">Reg. No.</a></th>
            <th><a href="javascript:setSort('application_date', 'asc', 'file_reference_no')">Date of Application</a></th>
            <th><a href="javascript:setSort('gazette_date', 'asc', 'file_reference_no')">Date of Gazette</a></th>
            <th><a href="javascript:setSort('registration_date', 'asc', 'file_reference_no')">Date of Registration</a></th>
            <th><a href="javascript:setSort('expiry_date', 'asc', 'file_reference_no')">Date of Expiry</a></th>
            <th><a href="javascript:setSort('removal_date', 'asc', 'file_reference_no')">Date of Removal</a></th>
            <th><a href="javascript:setSort('retention_date', 'asc', 'file_reference_no')">Date of Retention</a></th>
            <th><a href="javascript:setSort('restoration_date', 'asc', 'file_reference_no')">Date of Restoration</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!--td style="font-size:8pt;"><a href="javascript:newContractor('<=compApp.getUuid()%>')">New</a></td-->
            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0202a')">4/6816/56(11)</a></td>
            <td nowrap="nowrap">
                02046466
                <a href='javascript:loadContentPage("CRM0201b")'>
                    <img src="images/form.gif" alt="Company with same BR No." border="0">
                </a>
            </td>
            <td>xx (Lxxxp) Refrigeration Co., Ltd.</td>
            <td nowrap="nowrap">'V'20</td>
            <td></td>
            <td>17/03/1972</td>
            <td>17/03/1972</td>
            <td>30/06/1998</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <!--td style="font-size:8pt;"><a href="javascript:newContractor('<=compApp.getUuid()%>')">New</a></td-->
            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0202a')">4/6816/56(110)</a></td>
            <td nowrap="nowrap">
                00673190

                <a href='javascript:loadContentPage("CRM0201b")'>
                    <img src="images/form.gif" alt="Company with same BR No." border="0">
                </a>
            </td>
            <td>xx Tung Kee Engineering Co.</td>
            <td nowrap="nowrap">'V'88</td>
            <td></td>
            <td>29/03/1974</td>
            <td>29/03/1974</td>
            <td>30/06/1998</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <!--td style="font-size:8pt;"><a href="javascript:newContractor('<=compApp.getUuid()%>')">New</a></td-->
            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0202a')">4/6816/56(112)</a></td>
            <td nowrap="nowrap">
                00322686

                <a href='javascript:loadContentPage("CRM0201b")'>
                    <img src="images/form.gif" alt="Company with same BR No." border="0">
                </a>
            </td>
            <td>xx Engineers And Traders Co., Ltd.</td>
            <td nowrap="nowrap">'V'100</td>
            <td></td>
            <td></td>
            <td></td>
            <td>30/06/1995</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <!--td style="font-size:8pt;"><a href="javascript:newContractor('<=compApp.getUuid()%>')">New</a></td-->
            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0202a')">4/6816/56(119)</a></td>
            <td nowrap="nowrap">
                03612204

                <a href='javascript:loadContentPage("CRM0201b")'>
                    <img src="images/form.gif" alt="Company with same BR No." border="0">
                </a>
            </td>
            <td>xx Fire Engineers &amp; Consultants Ltd.</td>
            <td nowrap="nowrap">'V'93</td>
            <td></td>
            <td>27/09/1974</td>
            <td>27/09/1974</td>
            <td>30/06/1998</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <!--td style="font-size:8pt;"><a href="javascript:newContractor('<=compApp.getUuid()%>')">New</a></td-->
            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0202a')">4/6816/56(12)</a></td>
            <td nowrap="nowrap">
                00134147

                <a href='javascript:loadContentPage("CRM0201b")'>
                    <img src="images/form.gif" alt="Company with same BR No." border="0">
                </a>
            </td>
            <td>Hong Kong L.p. xx (Holding) Ltd.</td>
            <td nowrap="nowrap">'V'6</td>
            <td></td>
            <td>21/07/1972</td>
            <td>21/07/1972</td>
            <td>30/06/1995</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <!--td style="font-size:8pt;"><a href="javascript:newContractor('<=compApp.getUuid()%>')">New</a></td-->
            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0202a')">4/6816/56(122)</a></td>
            <td nowrap="nowrap">
                03554662

                <a href='javascript:loadContentPage("CRM0201b")'>
                    <img src="images/form.gif" alt="Company with same BR No." border="0">
                </a>
            </td>
            <td>Cheung xx xx Kee Air-condition Works</td>
            <td nowrap="nowrap">'V'90</td>
            <td></td>
            <td>13/09/1974</td>
            <td>13/09/1974</td>
            <td>17/01/1999</td>
            <td></td>
            <td></td>
            <td>18/01/1996</td>
        </tr>

        <tr>
            <!--td style="font-size:8pt;"><a href="javascript:newContractor('<=compApp.getUuid()%>')">New</a></td-->
            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0202a')">4/6816/56(123)</a></td>
            <td nowrap="nowrap">
                00416253

                <a href='javascript:loadContentPage("CRM0201b")'>
                    <img src="images/form.gif" alt="Company with same BR No." border="0">
                </a>
            </td>
            <td>xx Engineering Co.</td>
            <td nowrap="nowrap">'V'94</td>
            <td></td>
            <td></td>
            <td></td>
            <td>30/06/1995</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <!--td style="font-size:8pt;"><a href="javascript:newContractor('<=compApp.getUuid()%>')">New</a></td-->
            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0202a')">4/6816/56(13)</a></td>
            <td nowrap="nowrap">
                00201357

                <a href='javascript:loadContentPage("CRM0201b")'>
                    <img src="images/form.gif" alt="Company with same BR No." border="0">
                </a>
            </td>
            <td>xx xx Refrigeration Service Co., Ltd.</td>
            <td nowrap="nowrap">'V'7</td>
            <td></td>
            <td></td>
            <td></td>
            <td>30/06/1995</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <!--td style="font-size:8pt;"><a href="javascript:newContractor('<=compApp.getUuid()%>')">New</a></td-->
            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0202a')">4/6816/56(131)</a></td>
            <td nowrap="nowrap">
                00164910

                <a href='javascript:loadContentPage("CRM0201b")'>
                    <img src="images/form.gif" alt="Company with same BR No." border="0">
                </a>
            </td>
            <td>xx xx Refrigeration Service</td>
            <td nowrap="nowrap">'V'96</td>
            <td></td>
            <td></td>
            <td></td>
            <td>30/06/1995</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <!--td style="font-size:8pt;"><a href="javascript:newContractor('<=compApp.getUuid()%>')">New</a></td-->
            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0202a')">4/6816/56(136)</a></td>
            <td nowrap="nowrap">
                00891350

                <a href='javascript:loadContentPage("CRM0201b")'>
                    <img src="images/form.gif" alt="Company with same BR No." border="0">
                </a>
            </td>
            <td>xx Electric &amp; Electronic Engineering Co.</td>
            <td nowrap="nowrap">'V'104</td>
            <td></td>
            <td>27/06/1975</td>
            <td>27/06/1975</td>
            <td>30/06/1998</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>


    </tbody>
</table>

</div>



