
                                    <table id="Table10" class="inputTable">
                                        <tbody>
                                            <tr>
                                                <th>File Reference :</th>
                                                <td colspan="3">
                                                    <input type="text" name="displayFileNumber" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" id="displayFileNumber" style="width:170px;" class="inputText">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th >Company Name :</th>
                                                <td colspan="3">
                                                    <input type="text" name="displayCompanyName" maxlength="150" value="a" onkeydown="enterToSubmit(searchForm, this, event)" id="displayCompanyName" style="width:570px;" class="inputText">
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot><tr>
    <td colspan="2">
        <input type="button" name="btnSearch" onclick="searchForm()" value="Search">
    </td>
</tr></tfoot>
                                    </table>
                 
                    <br>
                  

















                    <table id="CRMHideDiv" class="resultTable hide">
                        <thead>
                            <tr class="grid-header" style="height:19px;">
                                <th>&nbsp;</th>
                                <th nowrap="nowrap">
                                    File Ref.
                                </th>
                                <th>    Company Name</th>
                                <th>    Candidate Name</th>
                                <th nowrap="nowrap">
                                    Received Date
                                </th>
                                <th>              Type of <br>Application</th>
                                <th>      Role<</th>
                                <th>      Under <br> Monitor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="grid-alt-item">

                                <td><a href='javascript:loadContentPage("CRM0206a")'>NEW</a></td>
                                <td nowrap="nowrap">4/6816/56(11)</td>
                                <td>xx (Luen Hop) Refrigeration Co., Ltd.</td>
                                <td nowrap="nowrap">LEE xx xx</td>
                                <td nowrap="nowrap"></td>
                                <td>BA2</td>
                                <td>AS</td>
                                <td>No</td>
                            </tr>

                            <tr>

                                <td><a href='javascript:loadContentPage("CRM0206a")'>NEW</a></td>
                                <td nowrap="nowrap">4/6816/56(112)</td>
                                <td>xx Engineers And Traders Co., Ltd.</td>
                                <td nowrap="nowrap">CHAN xx xx</td>
                                <td nowrap="nowrap"></td>
                                <td>BA2</td>
                                <td>AS</td>
                                <td>No</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td><a href='javascript:loadContentPage("CRM0206a")'>NEW</a></td>
                                <td nowrap="nowrap">4/6816/56(119)</td>
                                <td>xx Fire Engineers &amp; Consultants Ltd.</td>
                                <td nowrap="nowrap">WONG xx xx</td>
                                <td nowrap="nowrap"></td>
                                <td>BA2</td>
                                <td>AS</td>
                                <td>No</td>
                            </tr>

                            <tr>

                                <td><a href='javascript:loadContentPage("CRM0206a")'>NEW</a></td>
                                <td nowrap="nowrap">4/6816/56(12)</td>
                                <td>Hong Kong xx Gas (Holding) Ltd.</td>
                                <td nowrap="nowrap">TAM xx xx</td>
                                <td nowrap="nowrap"></td>
                                <td>BA2</td>
                                <td>AS</td>
                                <td>No</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td><a href='javascript:loadContentPage("CRM0206a")'>NEW</a></td>
                                <td nowrap="nowrap">4/6816/56(122)</td>
                                <td>Cheung xx xx Kee Air-condition Works</td>
                                <td nowrap="nowrap">LEUNG xx xx</td>
                                <td nowrap="nowrap"></td>
                                <td>BA2</td>
                                <td>AS</td>
                                <td>No</td>
                            </tr>

                            <tr>

                                <td><a href='javascript:loadContentPage("CRM0206a")'>NEW</a></td>
                                <td nowrap="nowrap">4/6816/56(13)</td>
                                <td>xx xx Refrigeration Service Co., Ltd.</td>
                                <td nowrap="nowrap">KO xx xx</td>
                                <td nowrap="nowrap"></td>
                                <td>BA2</td>
                                <td>AS</td>
                                <td>No</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td><a href='javascript:loadContentPage("CRM0206a")'>NEW</a></td>
                                <td nowrap="nowrap">4/6816/56(13)</td>
                                <td>xx xx Refrigeration Service Co., Ltd.</td>
                                <td nowrap="nowrap">SZETO xx</td>
                                <td nowrap="nowrap"></td>
                                <td>BA2</td>
                                <td>AS</td>
                                <td>No</td>
                            </tr>

                            <tr>

                                <td><a href='javascript:loadContentPage("CRM0206a")'>NEW</a></td>
                                <td nowrap="nowrap">4/6816/56(131)</td>
                                <td>xx xx Refrigeration Service</td>
                                <td nowrap="nowrap">LAU xx</td>
                                <td nowrap="nowrap"></td>
                                <td>BA2</td>
                                <td>AS</td>
                                <td>No</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td><a href='javascript:loadContentPage("CRM0206a")'>NEW</a></td>
                                <td nowrap="nowrap">4/6816/56(136)</td>
                                <td>xx Electric &amp; Electronic Engineering Co.</td>
                                <td nowrap="nowrap">WOO xx</td>
                                <td nowrap="nowrap"></td>
                                <td>BA2</td>
                                <td>AS</td>
                                <td>No</td>
                            </tr>

                            <tr>

                                <td><a href='javascript:loadContentPage("CRM0206a")'>NEW</a></td>
                                <td nowrap="nowrap">4/6816/56(140)</td>
                                <td>xx Cheong Air-conditioning Works</td>
                                <td nowrap="nowrap">LUI xx</td>
                                <td nowrap="nowrap"></td>
                                <td>BA2</td>
                                <td>AS</td>
                                <td>No</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>


                        </tbody>
                    </table>

                        </div>







