<table class="resultTable">


    <thead>
        <tr>
            <th colspan="15">
                Eform Selection

            </th>
        </tr>
        <tr>
            <th colspan="15">
                File Reference No.

            </th>
        </tr>
        <tr>

            <th>
                Latest Modified Date
            </th>

            <th>
                Application Date
            </th>

            <th>
                Form Type
            </th>

            <th>
                Br No.
            </th>

            <th>
                Company Name (Chinese)
            </th>

            <th>
                Company Name (English)
            </th>

            <th>
                File Reference Type
            </th>

            <th>
                Address(Eng)
            </th>

            <th>
                Address(Chi)
            </th>

            <th>
                Tel No.
            </th>

            <th>
                Fax No.
            </th>

            <th>
                Email
            </th>

            <th>
                Company Type
            </th>

            <th>
                Applicant Name
            </th>

            <th>
            </th>

        </tr>
    </thead>
   <tbody></tbody>
   
</table><table class="inputTable">
    <tfoot>
        <tr>
            <td>

                <input type="button" name="btnclose" value="close" onclick="javascript:loadContentPage('CRM0201')" class="smallprint">
            </td>
        </tr>
    </tfoot>
</table>