<script src="js/jquery.min.js"></script>
<script src="js/base.js"></script>
<script src="demoData.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<table border="1" width="500">
    <tbody>
        <tr>

            <td>|&lt;&lt;</td>
            <td>&lt;</td>

            <td> 1 of 1 </td>


            <td>&gt;</td>
            <td>&gt;&gt;|</td>


            <td>
                Export Format:
                <select id="reportType" name="reportType">
                    <option value="PDF">PDF</option>
                    <option value="EXCEL">EXCEL</option>
                    <option value="HTML">HTML</option>
                </select>
                <input onclick="exportExcel('CRM0210GMTable')" name="Export" value="Export" type="button">
            </td>


        </tr>
    </tbody>
</table>



<table id="CRM0210GMTable" style="width: 595px;" border="0" cellSpacing="0" cellPadding="0" bgColor="white">
    <tbody>
        <tr>
            <td><img style="width: 60px; height: 1px;" alt="" src="/img/px.gif"></td>
            <td><img style="width: 97px; height: 1px;" alt="" src="/img/px.gif"></td>
            <td><img style="width: 55px; height: 1px;" alt="" src="/img/px.gif"></td>
            <td><img style="width: 22px; height: 1px;" alt="" src="/img/px.gif"></td>
            <td><img style="width: 71px; height: 1px;" alt="" src="/img/px.gif"></td>
            <td><img style="width: 53px; height: 1px;" alt="" src="/img/px.gif"></td>
            <td><img style="width: 177px; height: 1px;" alt="" src="/img/px.gif"></td>
            <td><img style="width: 60px; height: 1px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td colSpan="8"><img style="width: 595px; height: 60px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td><img style="width: 60px; height: 20px;" alt="" src="/img/px.gif"></td>
            <td style="padding: 2px;" colSpan="4"><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 10px; font-weight: bold;">G.N.</span></td>
            <td style="padding: 2px; text-align: right;" colSpan="2"><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 10px; font-weight: bold;">BUILDINGS DEPARTMENT<br></span></td>
            <td><img style="width: 60px; height: 20px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td><img style="width: 60px; height: 30px;" alt="" src="/img/px.gif"></td>
            <td style="padding: 2px; text-align: center;" colSpan="6"><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 10px;">BUILDINGS ORDINANCE (Chapter 123)</span></td>
            <td><img style="width: 60px; height: 30px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td><img style="width: 60px; height: 34px;" alt="" src="/img/px.gif"></td>
            <td colSpan="6"><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 10px;">It is hereby notified that the Annual List of General Building Contractors and Specialist Contractors is published as Special Supplement No. 4 to the Gazette.</span></td>
            <td><img style="width: 60px; height: 34px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td colSpan="8"><img style="width: 595px; height: 30px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td><img style="width: 60px; height: 20px;" alt="" src="/img/px.gif"></td>
            <td style="padding: 2px;" colSpan="2"><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 10px;">07 December 2017</span></td>
            <td style="padding: 2px; text-align: right;" colSpan="4"><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 10px;">CHAN Suk-yin for Chief Officer / Technical Services</span></td>
            <td><img style="width: 60px; height: 20px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td colSpan="8"><img style="width: 595px; height: 197px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td><img style="width: 60px; height: 20px;" alt="" src="/img/px.gif"></td>
            <td style="padding: 2px;"><span style="color: rgb(0, 0, 0); font-family: MingLiU; font-size: 10px; font-weight: bold;">第 &nbsp; &nbsp; 號公告</span></td>
            <td colSpan="2"><img style="width: 77px; height: 20px;" alt="" src="/img/px.gif"></td>
            <td style="padding: 2px; text-align: center;" colSpan="2"><span style="color: rgb(0, 0, 0); font-family: MingLiU; font-size: 10px; font-weight: bold;">屋 宇 署</span></td>
            <td colSpan="2"><img style="width: 237px; height: 20px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td><img style="width: 60px; height: 30px;" alt="" src="/img/px.gif"></td>
            <td style="padding: 2px; text-align: center;" colSpan="6"><span style="color: rgb(0, 0, 0); font-family: MingLiU; font-size: 10px;">建築物條例 (第123章)</span></td>
            <td><img style="width: 60px; height: 30px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td><img style="width: 60px; height: 34px;" alt="" src="/img/px.gif"></td>
            <td colSpan="6"><span style="color: rgb(0, 0, 0); font-family: MingLiU; font-size: 10px;">現公布一般建築承建商及專門承建商的年冊已刊登於本憲報第4號特別副刊。</span></td>
            <td><img style="width: 60px; height: 34px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td colSpan="8"><img style="width: 595px; height: 30px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td><img style="width: 60px; height: 20px;" alt="" src="/img/px.gif"></td>
            <td style="padding: 2px;" colSpan="2"><span style="color: rgb(0, 0, 0); font-family: MingLiU; font-size: 10px;">2017年12月7日</span></td>
            <td style="padding: 2px; text-align: right;" colSpan="4"><span style="color: rgb(0, 0, 0); font-family: MingLiU; font-size: 10px;">屋宇署總主任／技術事務 &nbsp;代行 陳淑賢</span></td>
            <td><img style="width: 60px; height: 20px;" alt="" src="/img/px.gif"></td>
        </tr>
        <tr vAlign="top">
            <td colSpan="8"><img style="width: 595px; height: 317px;" alt="" src="/img/px.gif"></td>
        </tr>
    </tbody>
</table>