
                                    <table class="inputTable">
                                        <tbody>
                                            <tr>
                                                <th >File Reference :</th>
                                                <td><input type="text" name="searchFileReference" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:123px;" class="inputText"></td>
                                            </tr>
                                            <tr>

                                                <th >Company Name :</th>
                                                <td><input type="text" name="searchCompanyName" maxlength="150" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:550px;" class="inputText"></td>

                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    <input type="button" name="btnSearch" value="Search" onclick="searchForm()" id="btnSearch" accesskey="S">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                
                    <br>
                  






                    <table id="CRMHideDiv" class="resultTable hide">
                        <thead>
                            <tr class="grid-header" style="height:19px;">
                                <th>             File Ref.</th>
                                <th>                 Company Name</th>
                                <th>     Status</th>
                                <th>     Expiry Date</th>
                            </tr>
                        <tbody>
                            <tr>
                                <td style="font-size:8pt;">

                                    <a href='javascript:loadContentPage("CRM0212a")' ;="">
                                        4/6816/56(11)
                                    </a>

                                </td>
                                <td>xx (Luen Hop) Refrigeration Co., Ltd.</td>
                                <td>Inactive</td>
                                <td>30/06/1998</td>


                            </tr>

                            <tr>
                                <td style="font-size:8pt;">

                                    <a href='javascript:loadContentPage("CRM0212a")' ;="">
                                        4/6816/56(110)
                                    </a>

                                </td>
                                <td>xx Tung Kee Engineering Co.</td>
                                <td>Inactive</td>
                                <td>30/06/1998</td>


                            </tr>

                            <tr>
                                <td style="font-size:8pt;">

                                    <a href='javascript:loadContentPage("CRM0212a")' ;="">
                                        4/6816/56(112)
                                    </a>

                                </td>
                                <td>xx Engineers And Traders Co., Ltd.</td>
                                <td>Inactive</td>
                                <td>30/06/1995</td>


                            </tr>

                            <tr>
                                <td style="font-size:8pt;">

                                    <a href='javascript:loadContentPage("CRM0212a")' ;="">
                                        4/6816/56(119)
                                    </a>

                                </td>
                                <td>xx Fire Engineers &amp; Consultants Ltd.</td>
                                <td>Inactive</td>
                                <td>30/06/1998</td>


                            </tr>

                            <tr>
                                <td style="font-size:8pt;">

                                    <a href='javascript:loadContentPage("CRM0212a")' ;="">
                                        4/6816/56(12)
                                    </a>

                                </td>
                                <td>Hong Kong xx Gas (Holding) Ltd.</td>
                                <td>Inactive</td>
                                <td>30/06/1995</td>


                            </tr>

                            <tr>
                                <td style="font-size:8pt;">

                                    <a href='javascript:loadContentPage("CRM0212a")' ;="">
                                        4/6816/56(122)
                                    </a>

                                </td>
                                <td>xx Hing Kam Kee Air-condition Works</td>
                                <td>Inactive</td>
                                <td>17/01/1999</td>


                            </tr>

                            <tr>
                                <td style="font-size:8pt;">

                                    <a href='javascript:loadContentPage("CRM0212a")' ;="">
                                        4/6816/56(123)
                                    </a>

                                </td>
                                <td>xx Engineering Co.</td>
                                <td>Inactive</td>
                                <td>30/06/1995</td>


                            </tr>

                            <tr>
                                <td style="font-size:8pt;">

                                    <a href='javascript:loadContentPage("CRM0212a")' ;="">
                                        4/6816/56(13)
                                    </a>

                                </td>
                                <td>xx Hing Refrigeration Service Co., Ltd.</td>
                                <td>Inactive</td>
                                <td>30/06/1995</td>


                            </tr>

                            <tr>
                                <td style="font-size:8pt;">

                                    <a href='javascript:loadContentPage("CRM0212a")' ;="">
                                        4/6816/56(131)
                                    </a>

                                </td>
                                <td>xx Yan Refrigeration Service</td>
                                <td>Inactive</td>
                                <td>30/06/1995</td>


                            </tr>

                            <tr>
                                <td style="font-size:8pt;">

                                    <a href='javascript:loadContentPage("CRM0212a")' ;="">
                                        4/6816/56(136)
                                    </a>

                                </td>
                                <td>xx Electric &amp; Electronic Engineering Co.</td>
                                <td>Inactive</td>
                                <td>30/06/1998</td>


                            </tr>



                        </tbody>
                    </table>

</div>

        
