
    <table class="inputTable">

        <thead>
            <tr>
                <th colspan="2">Update Monitor on Fast-Track Processing of Form BA2A</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><span id="Label1">Name of Contractor :</span></th>
                <td><input name="txtCompName" value="xx (xx Hop) Refrigeration Co., Ltd." readonly="readonly" id="txtCompName" style="width:496px;" type="text"></td>
            </tr>
            <tr>
                <th><span id="Label3">File Reference :</span></th>
                <td><input name="txtFileRef" value="4/6816/56(11)" readonly="readonly" id="txtFileRef" style="width:240px;" type="text"></td>
            </tr>



            <tr>
                <th><span id="Label13">Vetting Officer :</span></th>
                <td>
                    <select name="vettingOfficer" id="vettingOfficer"style="width:auto">
                        <option value="" selected="selected"></option>
                        <option value="BS/Reg1">BS/Reg1</option>
                        <option value="BS/Reg2">BS/Reg2</option>
                        <option value="BS/Reg3">BS/Reg3</option>
                        <option value="SE/Reg1">SE/Reg1</option>
                        <option value="SE/Reg2">SE/Reg2</option>
                        <option value="SE/Reg3">SE/Reg3</option>
                        <option value="SE/Reg4">SE/Reg4</option>
                        <option value="SE/Reg5">SE/Reg5</option>
                        <option value="SE/Reg6">SE/Reg6</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th><span id="Label7">Assistant :</span></th>
                <td>
                    <select name="assistant" id="assistant"style="width:auto">
                        <option value="" selected="selected"></option>
                        <option value="SO/Reg1">SO/Reg1</option>
                        <option value="SO/Reg2">SO/Reg2</option>
                        <option value="SO/Reg3">SO/Reg3</option>
                        <option value="SO/Reg4">SO/Reg4</option>
                        <option value="SO/Reg5">SO/Reg5</option>
                        <option value="SO/Reg6">SO/Reg6</option>
                        <option value="TO/Reg1">TO/Reg1</option>
                        <option value="TO/Reg2">TO/Reg2</option>
                        <option value="TO/Reg3">TO/Reg3</option>
                        <option value="TO/Reg4">TO/Reg4</option>
                        <option value="TO/Reg5">TO/Reg5</option>
                        <option value="TO/Reg6">TO/Reg6</option>
                    </select>
                </td>
            </tr>


            <tr>
                <th><span id="Label15">Fast-Track :</span></th>
                <td>
                    <select name="fast_trck" id="fast_trck" class="inputSelect"style="width:auto">
                        <option value="Y">Y</option>

                        <option value="N">N</option>
                    </select>

                </td>
            </tr>

            <tr>
                <th><span id="Label6">Received Date :</span></th>
                <td>
                    <input name="receivedDate" maxlength="10" value="" onblur="checkDate(this)" id="receivedDate" class="inputDate" title="" type="text">
                    <span id="err_receivedDate" class="err" style="color:Red;display:none;">Invalid date</span>
                </td>
            </tr>
            <tr>
                <th><span id="Label2">28-Day Due Date :</span></th>
                <td>
                    <input name="fastTrackDue28DaysDate" maxlength="10" value="" onblur="checkDate(this)" disabled="disabled" id="fastTrackDue28DaysDate" class="inputDate" title="" type="text">
                    <span id="err_fastTrackDue28DaysDate" class="err" style="color:Red;display:none;">Invalid date</span>
                </td>
            </tr>

            <tr>
                <th><span id="Label23">Date of Certificate Issued :</span></th>
                <td>
                    <input name="certificateIssuedDate" maxlength="10" value="" onblur="checkDate(this)" id="certificateIssuedDate" class="inputDate" title="" type="text">
                    <span id="err_certificateIssuedDate" class="err" style="color:Red;display:none;">Invalid date</span>
                </td>
            </tr>
            <tr>
                <th><span id="Label20">Date of Withdraw :</span></th>
                <td>
                    <input name="withdrawDate" maxlength="10" value="" onblur="checkDate(this)" id="withdrawDate" class="inputDate" title="" type="text">
                    <span id="err_withdrawDate" class="err" style="color:Red;display:none;">Invalid date</span>
                </td>
            </tr>
            <tr>
                <th valign="top"><span id="Label21">Remarks :</span></th>
                <td>
                    <textarea name="remarks" rows="5" style="width:450px;" class="inputTextarea"></textarea>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="editfooter" colspan="4">


                    <input name="btnSave" id="btnSave" value="Save" onclick="loadContentPage('CRM0208')" type="button">
                    &nbsp;




                    <input name="btnCancel" id="btnCancel" value="Finish" onclick="loadContentPage('CRM0208')" type="button">
                </td>
            </tr>
        </tfoot>
     </table>