

<table id="Table3" class="inputTable">
    <thead>
        <tr>
            <th class="grid-header" >Select Type of Data</th>
            <th class="grid-header">Output Format</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td >
                <a href="javascript:loadContentPage('CRM0209a')">Application Information</a>
            </td>

            <td>Text File</td>
        </tr>
        <!--
          <tr>
            <td width="303"> <a href="javascript:LoadRegisters('')" >Registers</a>
            </td>
            <td id="TD2">HTML</td>
          </tr>
        -->
        <tr style="display:none;">
            <td width="303">
                <a href="javascript:LoadRegisters('', 'PDF')">Registers</a>
            </td>
            <td id="TD2">PDF</td>
        </tr>
        <tr>
            <td width="303">
                <a href="" onclick="javascript:exportExcel('CRM0209aTable')">Registers</a>
            </td>
            <td id="TD2">Excel</td>
        </tr>

        <tr>
            <td width="303">
                <a href="" onclick="javascript:exportExcel('CRM0209aTable')">Boards &amp; Committees</a>
            </td>
            <td>HTML</td>
        </tr>
    </tbody>
</table>
<br>
      


<div style="display:none">
    <table id="CRM0209aTable" class="inputTable">
        <thead>
            <tr>
                <th class="grid-header">Select Data to Export</th>
            </tr>
        <tbody>
            <tr>
                <td>
                    <input name="selectONE" value="on" class="inputCheckbox" type="checkbox">
                    <label for="chkOffTel">Office Telephone Nos. &amp; Email &amp; Fax Nos. &amp; AS Applicants &amp; TD Applicants</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="selectTWO" value="on" class="inputCheckbox" type="checkbox">
                    <label for="chkAddr">Correspondence Address, PNRC</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="selectTHREE" value="on" class="inputCheckbox" type="checkbox">
                    <label for="chkBS">Building Safety (includes address, telephone nos, remark notes)</label>
                </td>
            </tr>
        </tbody>
    </table>
</div>
