
                <table id="Table10" class="inputTable">
                    <tbody>
                        <tr>
                            <th style="WIDTH: 112px">File Reference :</th>
                            <td colspan="3">
                                <input type="text" name="displayFileNumber" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:170px;" class="inputText">
                            </td>
                        </tr>
                        <tr>
                            <th style="WIDTH: 112px">Company Name :</th>
                            <td colspan="3">
                                <input type="text" name="displayCompanyName" maxlength="150" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:570px;" class="inputText">
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <input type="button" name="btnSearch" onclick="searchForm()" value="Search">
                            </td>

                        </tr>

                    </tfoot>
                </table>




                <table id="CRMHideDiv" class="resultTable hide">
                    <thead>
                        <tr class="grid-header" style="height:19px;">
                            <th>File Ref.</th>
                            <th nowrap="nowrap" style="width:150px;">Company Name</th>
                            <th>               Reg. No.</th>
                            <th>       Date of Gazette</th>
                            <th>       Date of Expiry</th>
                            <th>       Date of Retention</th>
                            <th>           Date of Restoration</th>
                            <th>   Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="grid-alt-item">

                            <td><a href='javascript:loadContentPage("CRM0205a")'>4/6816/56(11)</a></td>
                            <td>xx (Luen Hop) Refrigeration Co., Ltd.</td>
                            <td>'V'20</td>
                            <td>17/03/1972</td>
                            <td>30/06/1998</td>
                            <td></td>
                            <td></td>
                            <td>Inactive</td>
                        </tr>

                        <tr>

                            <td><a href='javascript:loadContentPage("CRM0205a")'>4/6816/56(110)</a></td>
                            <td>xx xx Kee Engineering Co.</td>
                            <td>'V'88</td>
                            <td>29/03/1974</td>
                            <td>30/06/1998</td>
                            <td></td>
                            <td></td>
                            <td>Inactive</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td><a href='javascript:loadContentPage("CRM0205a")'>4/6816/56(112)</a></td>
                            <td>xx xx And Traders Co., Ltd.</td>
                            <td>'V'100</td>
                            <td></td>
                            <td>30/06/1995</td>
                            <td></td>
                            <td></td>
                            <td>Inactive</td>
                        </tr>

                        <tr>

                            <td><a href='javascript:loadContentPage("CRM0205a")'>4/6816/56(119)</a></td>
                            <td>xx xx Engineers &amp; Consultants Ltd.</td>
                            <td>'V'93</td>
                            <td>27/09/1974</td>
                            <td>30/06/1998</td>
                            <td></td>
                            <td></td>
                            <td>Inactive</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td><a href='javascript:loadContentPage("CRM0205a")'>4/6816/56(12)</a></td>
                            <td>xx Kong xx Gas (Holding) Ltd.</td>
                            <td>'V'6</td>
                            <td>21/07/1972</td>
                            <td>30/06/1995</td>
                            <td></td>
                            <td></td>
                            <td>Inactive</td>
                        </tr>

                        <tr>

                            <td><a href="javascript:updateStatusEdit('8a85932a25bfce2c0125bfce2cd30005')">4/6816/56(122)</a></td>
                            <td>xx xx Kam Kee Air-condition Works</td>
                            <td>'V'90</td>
                            <td>13/09/1974</td>
                            <td>17/01/1999</td>
                            <td></td>
                            <td>18/01/1996</td>
                            <td>Inactive</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td><a href="javascript:updateStatusEdit('8a85932a25bfce2c0125bfce2cd30006')">4/6816/56(123)</a></td>
                            <td>xx Engineering Co.</td>
                            <td>'V'94</td>
                            <td></td>
                            <td>30/06/1995</td>
                            <td></td>
                            <td></td>
                            <td>Inactive</td>
                        </tr>

                        <tr>

                            <td><a href="javascript:updateStatusEdit('8a85932a25bfce2c0125bfce2cd30007')">4/6816/56(13)</a></td>
                            <td>xx xx Refrigeration Service Co., Ltd.</td>
                            <td>'V'7</td>
                            <td></td>
                            <td>30/06/1995</td>
                            <td></td>
                            <td></td>
                            <td>Inactive</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td><a href="javascript:updateStatusEdit('8a85932a25bfce2c0125bfce2cd30008')">4/6816/56(131)</a></td>
                            <td>xx xx Refrigeration Service</td>
                            <td>'V'96</td>
                            <td></td>
                            <td>30/06/1995</td>
                            <td></td>
                            <td></td>
                            <td>Inactive</td>
                        </tr>

                        <tr>

                            <td><a href="javascript:updateStatusEdit('8a85932a25bfce2c0125bfce2cd30009')">4/6816/56(136)</a></td>
                            <td>xx Electric &amp; Electronic Engineering Co.</td>
                            <td>'V'104</td>
                            <td>27/06/1975</td>
                            <td>30/06/1998</td>
                            <td></td>
                            <td></td>
                            <td>Inactive</td>
                        </tr>

                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>


                    </tbody>
                </table>

                    </div>





