
            <table id="Table10" class="inputTable">
              
              <thead>
                  <tr>
                      <th colspan="2">
                          Application
                          Information
                      </th>
                  </tr>
              </thead>
              
              <tbody><tr>
                <th >Category :</th>
                <td>
                  <select style="width:auto" name="categoryUUID" id="categoryUUID" class="inputSelectNoWidth"><option value="">- ALL -</option>
                       <option value="8a85932a25bfae310125bfae31720006">GBC</option> <option value="8a85932a25bfae310125bfae31720007">RC</option> <option value="8a85932a25bfae310125bfae3172000a">RVC</option> <option value="8a85932a25bfae310125bfae3172000b">SC</option> <option value="8a85932a25bfae310125bfae3172000c">SC(D)</option> <option value="8a85932a25bfae310125bfae3172000d">SC(F)</option> <option value="8a85932a25bfae310125bfae3172000e">SC(GI)</option> <option value="8a85932a25bfae310125bfae3172000f">SC(SF)</option> <option value="8a85932a25bfae310125bfae31720010">SC(V)</option></select> 
           		</td>
              </tr>
              <tr>
              
                <th >Applicant Role :</th>
                <td>
                	<select  style="width:auto" name="applicantRoleUUID" id="applicantRoleUUID" class="inputSelectNoWidth"><option value="">- ALL -</option>
                       <option value="8a85932a25bf956e0125bf956e260000">A2</option> <option value="8a85932a25bf956e0125bf956e460001">AS</option> <option value="8a85932a25bf956e0125bf956e460002">OO</option> <option value="8a85932a25bf956e0125bf956e460003">T2</option> <option value="8a85932a25bf956e0125bf956e460004">T3</option> <option value="8a85932a25bf956e0125bf956e550005">T5</option> <option value="8a85932a25bf956e0125bf956e550006">TD</option></select> 
    			</td>
              </tr>
              <tr>
                <th >PNRC :</th>
                <td>
                
                 	<select style="width:auto" name="pnrcUUID" id="pnrcUUID" class="inputSelectNoWidth"><option value="">- ALL -</option>
                       <option value="8a8591a23832afa201384fdfebf435e9">BY SMS</option> <option value="8a85932a25bf9e120125bf9e12bc0003">BY EMAIL</option> <option value="8a8591a23832afa201384fe0187035ea">NOT WISH</option> <option value="8a85932a25bf9e120125bf9e12bc0004">N/A</option></select> 
				</td>
              </tr>
            </tbody></table>
      <br>
      <table id="CRM0209aTable" class="inputTable">
          <thead>
              <tr>
                  <th class="grid-header">Select Data to Export</th>
              </tr>
          <tbody>
        <tr>
          <td>
          	<input name="selectONE" value="on" class="inputCheckbox" type="checkbox">
	        <label for="chkOffTel">Office Telephone Nos. &amp; Email &amp; Fax Nos. &amp; AS Applicants &amp; TD Applicants</label></td>
        </tr>
        <tr>
          <td>
    	  	<input name="selectTWO" value="on" class="inputCheckbox" type="checkbox">
			<label for="chkAddr">Correspondence Address, PNRC</label></td>
        </tr>
        <tr>
          <td>
          	<input name="selectTHREE" value="on" class="inputCheckbox" type="checkbox">
		    <label for="chkBS">Building Safety (includes address, telephone nos, remark notes)</label></td>
        </tr>
      </tbody>
      </table>
      <br>
      <table id="Table4" class="inputTable">
        <tfoot>
            <tr>
          <td >
          	<input name="btnExport" value="Export" onclick="exportExcel('CRM0209aTable')" id="btnExport" type="button">
            &nbsp;&nbsp;
            <input name="btnCancel" value="Finish" onclick="loadContentPage('CRM0209')" id="btnCancel" type="button">
          </td>
          <td align="right"></td>
        </tr>
      </tfoot></table>