
		
						<table class="inputTable">
							<tbody>
							<tr>
								<th>File Reference :</th>
								<td >4/6816/56(11)</td>
							</tr>
							<tr>
								<th>Company Name :</th>
								<td >xxx (Luen Hop) Refrigeration Co., Ltd.</td>
							</tr>
						
						</tbody></table>
                        <table class="resultTable" id="dgList">
                            <thead>
                                <tr class="grid-header" >
                                    <th>
                                        <input name="dgAppts:_ctl1:checkAll" id="dgAppts__ctl1_checkAll" onclick="CheckAll(this);" type="checkbox">
                                    </th>
                                    <th>Candidate No.</th>
                                    <th nowrap="nowrap">HKID /<br>Passport No.</th>
                                    <th>Title</th>
                                    <th>Name</th>
                                    <th nowrap="nowrap">Sex</th>
                                    <th nowrap="nowrap">Role</th>
                                    <th>Status</th>
                                    <th>Date of Acceptance</th>
                                    <th>Date of Removal</th>
                                </tr>
                                </thead>
                            <tbody>
                                <tr>
                                    <td style="font-size:8pt;"></td>
                                    <td>19039</td>


                                    <td>xxxxxxx</td>



                                    <td>Mr</td>

                                    <td nowrap="nowrap">LEE xx xx</td>
                                    <td>M</td>
                                    <td>AS</td>
                                    <td>Inactive</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                        <table class="inputTable">
                            <tfoot>
                                <tr>
                                    <td class="editfooter" height="32">


                                        <input name="btnSave" value="Generate Candidate No" onclick="loadContentPage('CRM0212')" id="btnSAve" accesskey="S"  type="button">
                                        &nbsp;

                                        <input name="btnCancel" value="Back" id="btnCancel" accesskey="C" onclick="loadContentPage('CRM0212')" type="button">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>