

<table class="inputTable">
    <tfoot>
        <tr>
            <td>
                <input type="button" name="btnNew" value="New Status" id="btnNew" class="smallprint" onclick="loadContentPage('CRM0702a')">

            </td>
        </tr>
    </tfoot>
</table>
<br>
<br>
<table class="resultTable" id="dgList">
    <thead>

        <tr class="grid-header" style="height:19px;">
            <th>Code</th>
            <th>English Description</th>
            <th>Chinese Description</th>
            <th>Ordering</th>
            <th>Is Active</th>
        </tr>
    </thead>

    <tbody>
        <tr class="row1">
            <td><a href="javascript:javascript:loadContentPage('CRM0702a')">1</a></td>

            <td>Active</td>
            <td>現在</td>
            <td>1</td>
            <td>Yes</td>
        </tr>

        <tr class="row2">
            <td><a href="javascriptjavascript:loadContentPage('CRM0702a')">2</a></td>

            <td>Application in progress</td>
            <td></td>
            <td>2</td>
            <td>Yes</td>
        </tr>

        <tr class="row1">
            <td><a href="javascriptjavascript:loadContentPage('CRM0702a')">3</a></td>

            <td>Document missing</td>
            <td></td>
            <td>3</td>
            <td>No</td>
        </tr>

        <tr class="row2">
            <td><a href="javascriptjavascript:loadContentPage('CRM0702a')">4</a></td>

            <td>Certificate prepared</td>
            <td></td>
            <td>4</td>
            <td>Yes</td>
        </tr>

        <tr class="row1">
            <td><a href="javascriptjavascript:loadContentPage('CRM0702a')">5</a></td>

            <td>Scheduled for interview</td>
            <td></td>
            <td>5</td>
            <td>No</td>
        </tr>

        <tr class="row2">
            <td><a href="javascript:applicantStatusEdit('8a85932a25bf968e0125bf968ef80005')">6</a></td>

            <td>Removal letter prepared</td>
            <td></td>
            <td>6</td>
            <td>No</td>
        </tr>

        <tr class="row1">
            <td><a href="javascript:applicantStatusEdit('8a85932a25bf968e0125bf968ef80006')">7</a></td>

            <td>Removed</td>
            <td></td>
            <td>7</td>
            <td>Yes</td>
        </tr>

        <tr class="row2">
            <td><a href="javascript:applicantStatusEdit('8a85932a25bf968e0125bf968ef80007')">8</a></td>

            <td>Inactive</td>
            <td></td>
            <td>8</td>
            <td>Yes</td>
        </tr>

        <tr class="row1">
            <td><a href="javascript:applicantStatusEdit('8a85932a25bf968e0125bf968ef80008')">9</a></td>

            <td>Withdrawn</td>
            <td></td>
            <td>9</td>
            <td>Yes</td>
        </tr>

        <tr class="row2">
            <td><a href="javascript:applicantStatusEdit('8a85932a25bf968e0125bf968ef80009')">10</a></td>

            <td>Business closed</td>
            <td></td>
            <td>10</td>
            <td>No</td>
        </tr>

        <tr class="row1">
            <td><a href="javascript:applicantStatusEdit('8a8593a2607d43b301607d65d68a0001')">3162</a></td>

            <td>test3162</td>
            <td>test3162</td>
            <td>10</td>
            <td>Yes</td>
        </tr>

        <tr class="row2">
            <td><a href="javascript:applicantStatusEdit('8a85932a25bfa01a0125bfa01af00149')">11</a></td>

            <td>Irregular</td>
            <td></td>
            <td>11</td>
            <td>No</td>
        </tr>


    </tbody>
</table>
