<div class="panelHeader">Pick for Audit Fundamental Check</div>
<div id="searchCriteria" class="displayForm">
    <div class="w3-row">
        <div class="w3-col l12 m12 s12" style="text-align:left; padding-left:30px;">
            @Html.ActionLink("Whole case manual pick audit", "PickAudit")
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12" style="text-align:left; padding-left:30px;">
            @Html.ActionLink("Search", "Search")
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12" style="text-align:left; padding-left:30px;">
            @Html.ActionLink("Long O/S Certificate of Completion for Class I/II MW", "Completion")
        </div>
    </div>
</div>