<table id="Table2" style="BORDER-BOTTOM: #dedfde 1px solid" width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody><tr>
			<td valign="top">
				<!-- InstanceBeginEditable name="content" -->

				 <div class="PrintArea">
				<h3>
					Monthly Statistics
				</h3>

				<br>
				<div class="sList">
                    <table class="resultTable">
                        <thead>
                            <tr>
                                <th class="sTh" colspan="2">
                                    Type
                                </th>

                                <th class="sTh">Dec-2017</th>

                                <th class="sTh">Jan-2018</th>

                                <th class="sTh">Feb-2018</th>

                                <th class="sTh">Mar-2018</th>

                                <th class="sTh">Apr-2018</th>

                                <th class="sTh">May-2018</th>

                                <th class="sTh">Jun-2018</th>

                                <th class="sTh">Jul-2018</th>

                                <th class="sTh">Aug-2018</th>

                                <th class="sTh">Sep-2018</th>

                                <th class="sTh">Oct-2018</th>

                            </tr>

                            </thead>
                        <tbody>
                            <tr class="sRow2">

                                <td class="sCell" rowspan="4" width="60">
                                    MW
                                    <br>
                                    Class I
                                </td>

                                <td class="sCell" width="80">
                                    Acknowledged
                                </td>

                                <td class="sCell">0</td>

                                <td class="sCell">0</td>

                                <td class="sCell">0</td>

                                <td class="sCell">0</td>

                                <td class="sCell">0</td>

                                <td class="sCell">0</td>

                                <td class="sCell">0</td>

                                <td class="sCell">0</td>

                                <td class="sCell">2</td>

                                <td class="sCell">0</td>

                                <td class="sCell">0</td>


                            </tr>
                            <tr class="sRow2">

                                <td class="sCell">
                                    Conditional
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                            </tr>
                            <tr class="sRow2">

                                <td class="sCell">
                                    Refused
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>
                            <tr class="sRow2">
                                <td class="sCell">
                                    Audit
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">2&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>

                            <tr class="sRow1">

                                <td class="sCell" rowspan="4">
                                    MW
                                    <br>
                                    Class II
                                </td>

                                <td class="sCell">
                                    Acknowledged
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>


                            </tr>
                            <tr class="sRow1">

                                <td class="sCell">
                                    Conditional
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                            </tr>
                            <tr class="sRow1">

                                <td class="sCell">
                                    Refused
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>
                            <tr class="sRow1">

                                <td class="sCell">
                                    Audit
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>

                            <tr class="sRow2">
                                <td class="sCell" rowspan="4">
                                    MW
                                    <br>
                                    Class III
                                </td>

                                <td class="sCell">
                                    Acknowledged

                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>


                            </tr>
                            <tr class="sRow2">

                                <td class="sCell">
                                    Conditional
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                                <td class="sCell">
                                    0&nbsp;
                                </td>

                            </tr>
                            <tr class="sRow2">

                                <td class="sCell">
                                    Refused
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>
                            <tr class="sRow2">

                                <td class="sCell">
                                    Audit
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell" colspan="2">
                                    Government Contractor


                                </td>



                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">1&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>


                            </tr>
                            <tr class="sRow1">
                                <td class="sCell" rowspan="10">
                                    S24 Order
                                </td>
                                <td style="background-color:#FFF" class="sCell"><b>Total</b></td>

                                <td style="background-color:#FFF" class="sCell">0&nbsp;</td>

                                <td style="background-color:#FFF" class="sCell">0&nbsp;</td>

                                <td style="background-color:#FFF" class="sCell">0&nbsp;</td>

                                <td style="background-color:#FFF" class="sCell">1&nbsp;</td>

                                <td style="background-color:#FFF" class="sCell">0&nbsp;</td>

                                <td style="background-color:#FFF" class="sCell">0&nbsp;</td>

                                <td style="background-color:#FFF" class="sCell">0&nbsp;</td>

                                <td style="background-color:#FFF" class="sCell">0&nbsp;</td>

                                <td style="background-color:#FFF" class="sCell">0&nbsp;</td>

                                <td style="background-color:#FFF" class="sCell">0&nbsp;</td>

                                <td style="background-color:#FFF" class="sCell">0&nbsp;</td>

                            </tr>


                            <tr class="sRow1">
                                <td class="sCell">
                                    Not Yet Issued
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>
                            <tr class="sRow2">
                                <td class="sCell">
                                    Not Yet Expired
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>
                            <tr class="sRow1">
                                <td class="sCell">
                                    Appeal Lodged
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>
                            <tr class="sRow2">
                                <td class="sCell">
                                    Prosecution To Be Initiated
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>
                            <tr class="sRow1">
                                <td class="sCell">
                                    Prosecution initiated
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>
                            <tr class="sRow2">
                                <td class="sCell">
                                    Pending For Compliance
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">
                                    GC Action
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>
                            <tr class="sRow2">
                                <td class="sCell">
                                    Complied with
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>
                            <tr class="sRow1">
                                <td class="sCell">
                                    Withdrawn
                                </td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                            </tr>
                            <tr class="sRow1">
                                <td class="sCell" rowspan="3">
                                    Report To SCU
                                </td>
                                <td class="sCell"><b>Total</b></td>



                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">3&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>


                            </tr>



                            <tr class="sRow1">
                                <td class="sCell">
                                    Received
                                </td>



                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">3&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>


                            </tr>



                            <tr class="sRow1">
                                <td class="sCell">
                                    Closed
                                </td>



                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>


                            </tr>


                            <tr class="sRow2">
                                <td class="sCell" rowspan="3">
                                    Enquiry To SCU
                                </td>
                                <td class="sCell"><b>Total</b></td>



                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">1&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>


                            </tr>



                            <tr class="sRow2">
                                <td class="sCell">
                                    Received
                                </td>



                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">1&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>


                            </tr>



                            <tr class="sRow2">
                                <td class="sCell">
                                    Closed
                                </td>



                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>

                                <td class="sCell">0&nbsp;</td>


                            </tr>


                        </tbody>
                    </table>

				</div>
</div>
				<div class="btnSet btnSetTypeA">
					<div class="right">
					
					</div>
				</div>



				<br>
				<!-- InstanceEndEditable -->
			</td>
		</tr>
	</tbody></table>

<table class="inputTable">
    <tfoot>
        <tr>

            <td>
                <input class="inputButton" id="btnSearch" name="btnSearch" value="Print" onclick="printReport()" type="button">
                <input class="inputButton" id="btnSearch" name="btnSearch" value="Back"   onclick="loadContentPage('SMM0802')" type="button">
            </td>
        </tr>
    </tfoot>
</table>