
				<br>
				<div class="sList">
					<table class="resultTable">
                        <thead>
                            <tr>
                                <th class="sTh">
                                    Chinese Name of PBP/ PRC
                                </th>
                                <th class="sTh">
                                    English Name of PBP/ PRC
                                </th>
                                <th class="sTh">
                                    Registration No.
                                </th>
                                <th class="sTh" width="90px">
                                    Submission No.
                                </th>
                                <th class="sTh">Form Code</th>
                                <th class="sTh">Status</th>
                                <th class="sTh">Signboard Location</th>
                                <th class="sTh">Result</th>
                                <th class="sTh">Endorsement Date</th>
                            </tr>
                            </thead>
                          <tbody>
                            <tr class="sRow1">


                                <td class="sCell">李xx&nbsp;</td>
                                <td class="sCell">LI xx xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 10/79&nbsp;</td>
                                <td class="sCell">SC02-0001/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">xxx HOK CHEUNG STREET KOWLOON CITY&nbsp;</td>
                                <td class="sCell">Refuse&nbsp;</td>
                                <td class="sCell">21/05/2015&nbsp;</td>

                            </tr>

                            <tr class="sRow2">


                                <td class="sCell">李xx&nbsp;</td>
                                <td class="sCell">LI xx xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 10/79&nbsp;</td>
                                <td class="sCell">SC02-0002/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">xxxx HOK CHEUNG STREET KOWLOON CITY&nbsp;</td>
                                <td class="sCell">Refuse&nbsp;</td>
                                <td class="sCell">14/01/2016&nbsp;</td>

                            </tr>

                            <tr class="sRow1">


                                <td class="sCell">李xx&nbsp;</td>
                                <td class="sCell">LEE xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 12/91&nbsp;</td>
                                <td class="sCell">SC11-0045/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">油尖旺區 廣東道 xx&nbsp;</td>
                                <td class="sCell">Refuse&nbsp;</td>
                                <td class="sCell">04/06/2015&nbsp;</td>

                            </tr>

                            <tr class="sRow2">


                                <td class="sCell">李xx</td>
                                <td class="sCell">LEE xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 12/91&nbsp;</td>
                                <td class="sCell">SC11-0045/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">油尖旺區 廣東道 xx&nbsp;</td>
                                <td class="sCell">Refuse&nbsp;</td>
                                <td class="sCell">04/06/2015&nbsp;</td>

                            </tr>

                            <tr class="sRow1">


                                <td class="sCell">李xx</td>
                                <td class="sCell">LEE xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 12/91&nbsp;</td>
                                <td class="sCell">SC11-0028/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">葵涌貨櫃碼頭南路 xxx中心&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>

                            </tr>

                            <tr class="sRow2">


                                <td class="sCell">李xx&nbsp;</td>
                                <td class="sCell">LEE xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 12/91&nbsp;</td>
                                <td class="sCell">SC11-0024/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">葵涌 貨櫃碼頭南路 xx中心&nbsp;</td>
                                <td class="sCell">Refuse&nbsp;</td>
                                <td class="sCell">20/05/2015&nbsp;</td>

                            </tr>

                            <tr class="sRow1">


                                <td class="sCell">李xx&nbsp;</td>
                                <td class="sCell">LEE xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 12/91&nbsp;</td>
                                <td class="sCell">SC11-0024/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">葵涌 貨櫃碼頭南路 xx中心&nbsp;</td>
                                <td class="sCell">Refuse&nbsp;</td>
                                <td class="sCell">20/05/2015&nbsp;</td>

                            </tr>

                            <tr class="sRow2">


                                <td class="sCell">李xx&nbsp;</td>
                                <td class="sCell">LEE xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 12/91&nbsp;</td>
                                <td class="sCell">SC11-0014/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">葵涌 貨櫃碼頭南路 xx中心&nbsp;</td>
                                <td class="sCell">Refuse&nbsp;</td>
                                <td class="sCell">27/05/2015&nbsp;</td>

                            </tr>

                            <tr class="sRow1">


                                <td class="sCell">李xx&nbsp;</td>
                                <td class="sCell">LEE xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 12/91&nbsp;</td>
                                <td class="sCell">SC11-0026/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">葵涌 貨櫃碼頭南路 xx中心&nbsp;</td>
                                <td class="sCell">Refuse&nbsp;</td>
                                <td class="sCell">20/05/2015&nbsp;</td>

                            </tr>

                            <tr class="sRow2">


                                <td class="sCell">李xx&nbsp;</td>
                                <td class="sCell">LEE xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 12/91&nbsp;</td>
                                <td class="sCell">SC11-0025/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">葵涌 貨櫃碼頭南路 xx中心&nbsp;</td>
                                <td class="sCell">Refuse&nbsp;</td>
                                <td class="sCell">20/05/2015&nbsp;</td>

                            </tr>

                            <tr class="sRow1">


                                <td class="sCell">李xx&nbsp;</td>
                                <td class="sCell">LEE xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 12/91&nbsp;</td>
                                <td class="sCell">SC11-0022/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">葵涌 貨櫃碼頭南路 xx中心&nbsp;</td>
                                <td class="sCell">Refuse&nbsp;</td>
                                <td class="sCell">27/05/2015&nbsp;</td>

                            </tr>

                            <tr class="sRow2">


                                <td class="sCell">李xx&nbsp;</td>
                                <td class="sCell">LEE xx xx&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">AP(A) 12/91&nbsp;</td>
                                <td class="sCell">SC11-0022/14&nbsp;</td>

                                <td class="sCell">
                                    SC01&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">葵涌 貨櫃碼頭南路xx中心&nbsp;</td>
                                <td class="sCell">Refuse&nbsp;</td>
                                <td class="sCell">27/05/2015&nbsp;</td>

                            </tr>

                            <tr class="sRow2">


                                <td class="sCell">&nbsp;</td>
                                <td class="sCell">&nbsp;</td>
                                <td class="sCell" nowrap="nowrap">&nbsp;</td>
                                <td class="sCell">SC17090006&nbsp;</td>

                                <td class="sCell">
                                    SC03&nbsp;
                                </td>
                                <td class="sCell">
                                    Closed&nbsp;
                                </td>

                                <td class="sCell">荃灣 川龍街 xx大樓&nbsp;</td>
                                <td class="sCell">Accept&nbsp;</td>
                                <td class="sCell">12/12/2017&nbsp;</td>

                            </tr>


                        </tbody></table>
                    <div class="fLabel">
                      No. of Records: 2668
                    </div>
				</div>
</div>
				<div class="btnSet btnSetTypeA">
					<div class="right">
						<input class="inputButton" id="btnSearch" name="btnSearch" value="Print"  onclick="printReport()" type="button">
						<input class="inputButton" id="btnSearch" name="btnSearch" value="Back"   onclick="loadContentPage('SMM0804')" type="button">
					</div>
				</div>



				<br>
				<!-- InstanceEndEditable -->
			</td>
		</tr>
	</tbody></table>