<table id="Table2" style="BORDER-BOTTOM: #dedfde 1px solid" width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody><tr>
			<td valign="top">
				<!-- InstanceBeginEditable name="content" -->
	
				<h3>
					Validation Data Export (Selection) 
				</h3>

				<br>
                                <table class="inputTable">
                                    <thead>
                                        <tr>
                                            <th  colspan="2" class="sTh1">
                                                Criteria
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="fLabel" width="45%">
                                                Submission No. :
                                            </th>
                                            <td class="fField">
                                                <input name="searchFileRefNo" value="" id="searchFileRefNo" style="width: 90px;" class="inputTextUpper" type="text">
                                            </td>
                                        </tr>

                                        <tr>
                                            <th class="fLabel" width="45%">
                                                Batch No. :
                                            </th>
                                            <td class="fField">
                                                <input name="searchBatchNumber" value="" id="searchBatchNumber" style="width: 90px;" class="inputTextUpper" type="text">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="fLabel" width="45%">
                                                Handling Officer :
                                            </th>
                                            <td class="fField">
                                               <select style="width:auto" name="handlingOfficer" id="handlingOfficer">
                                                    <option value="">- Select -</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0018">SOSC1</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0019">SOSC2</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0020">SOSC3</option>
                                                    <option value="8a85bda653896b170153c05c9f9c4dac">SOSC3A</option>
                                                    <option value="8a85bda635d2dd4f0135d33d908b0046">SOSC4</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0021">SOSC5</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0022">SOSC6</option>
                                                    <option value="8a85bda635d2dd4f0135d346110d0051">TOSC1</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0034">TOSC2</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0035">TOSC3</option>
                                                    <option value="8a85bda63662640e0136629d4a4c001a">TOSC4</option>
                                                    <option value="8a85bda647d77bc20149a7e0ea247dce">TOSC5</option>
                                                    <option value="8a85bda647d77bc20149a7e00aaf7dcb">TOSC6</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0036">TOSC7</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0006">BSSC1</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0007">BSSC2</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0008">BSSC3</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0009">BSSC4</option>
                                                    <option value="8a85bda64a76fd9c014b06c0834c4e04">CTOSC</option>
                                                    <option value="8a85bda647d77bc20149a37b8ec4706d">PSOSC1</option>
                                                    <option value="8a85bda647d77bc20149a37d52607073">PSOSC2</option>
                                                    <option value="8a85bda6516ce9ae01523896f76a7099">PTOSC1</option>
                                                    <option value="8a85bda6516ce9ae0151a4585c364e45">PTOSC2</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0012">SESC1</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0013">SESC2</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0014">SESC3</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0015">SESC4</option>
                                                    <option value="8a85bda647d77bc20149a7de10797dc5">SESC6</option>
                                                    <option value="8a85bda64e2f3ba8014f3f85abe167d1">SESC8</option>
                                                    <option value="8a85bda647d77bc20149ac3ae4c20b51">SSOSC2</option>
                                                    <option value="8a85bda647d77bc20149ac3b32350b53">STOSC</option>
                                                    <option value="8a8593a233ab78ba0133ab7a01dd0003">SBSSC</option>
                                                    <option value="8a85bda647d77bc20149a7d8fac97db9">SPOSC1</option>
                                                    <option value="8a85bda647664e5e0147665409800007">SPOSC2</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th class="fLabel" width="45%">
                                                Form Code :
                                            </th>
                                            <td class="fField">
                                               <select style="width:auto" name="searchFormCode" id="searchFormCode">
                                                    <option value="">- Select -</option>
                                                    <option value="SC01">SC01</option>
                                                    <option value="SC02">SC02</option>
                                                    <option value="SC03">SC03</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th class="fLabel" width="45%">
                                                Validation Result :
                                            </th>
                                            <td class="fField">
                                               <select style="width:auto" name="searchStatus" id="searchStatus">
                                                    <option value="">- Select -</option>
                                                    <option value="A">Accept</option>
                                                    <option value="R">Refuse</option>
                                                    <option value="C">Conditional Accept</option>
                                                </select>
                                            </td>
                                        </tr>




                                        <tr>
                                            <th class="fLabel" width="45%">
                                                Endorsed By :
                                            </th>
                                            <td class="fField">
                                               <select style="width:auto" name="endorsedBy" id="endorsedBy">
                                                    <option value="">- Select -</option>
                                                    <option value="SOSC1">SOSC1</option>
                                                    <option value="SOSC2">SOSC2</option>
                                                    <option value="SOSC3">SOSC3</option>
                                                    <option value="SOSC3A">SOSC3A</option>
                                                    <option value="SOSC4">SOSC4</option>
                                                    <option value="SOSC5">SOSC5</option>
                                                    <option value="SOSC6">SOSC6</option>
                                                    <option value="TOSC1">TOSC1</option>
                                                    <option value="TOSC2">TOSC2</option>
                                                    <option value="TOSC3">TOSC3</option>
                                                    <option value="TOSC4">TOSC4</option>
                                                    <option value="TOSC5">TOSC5</option>
                                                    <option value="TOSC6">TOSC6</option>
                                                    <option value="TOSC7">TOSC7</option>
                                                    <option value="BSSC1">BSSC1</option>
                                                    <option value="BSSC2">BSSC2</option>
                                                    <option value="BSSC3">BSSC3</option>
                                                    <option value="BSSC4">BSSC4</option>
                                                    <option value="CTOSC">CTOSC</option>
                                                    <option value="PSOSC1">PSOSC1</option>
                                                    <option value="PSOSC2">PSOSC2</option>
                                                    <option value="PTOSC1">PTOSC1</option>
                                                    <option value="PTOSC2">PTOSC2</option>
                                                    <option value="SESC1">SESC1</option>
                                                    <option value="SESC2">SESC2</option>
                                                    <option value="SESC3">SESC3</option>
                                                    <option value="SESC4">SESC4</option>
                                                    <option value="SESC6">SESC6</option>
                                                    <option value="SESC8">SESC8</option>
                                                    <option value="SSOSC2">SSOSC2</option>
                                                    <option value="STOSC">STOSC</option>
                                                    <option value="SBSSC">SBSSC</option>
                                                    <option value="SPOSC1">SPOSC1</option>
                                                    <option value="SPOSC2">SPOSC2</option>
                                                </select>
                                            </td>
                                        </tr>



                                    </tbody>
                                </table>
							</td>
						</tr>
					</tbody></table>
			
				
                <table class="inputTable">
                    <tfoot>
                        <tr>

                            <td>
                                <input class="inputButton" id="btnSearch" name="btnSearch" value="Export Data"  onclick="exportData()" type="submit">

                            </td>
                        </tr>
                    </tfoot>
                </table>
				<!-- InstanceEndEditable -->
