	<input name="uuid" value="" id="uuid" type="hidden">
	<input name="editMode" value="search" id="editMode" type="hidden">
	<input name="pageNumber" value="1" id="pageNumber" type="hidden">

                                            <table class="inputTable">

                                                <thead>
                                                    <tr>
                                                        <th colspan="2" class="sTh1">
                                                            Criteria
                                                        </th>
                                                    </tr>
                                                </thead>
                                              
                                                <tbody>
                                                    <tr>
                                                        <th class="fLabel">
                                                            S24 Order No. :
                                                        </th>
                                                        <td class="fField">
                                                            <input name="searchS24Number" value="" id="searchS24Number" style="width: 90px;" class="inputTextUpper" type="text">
                                                            <input style="display : none" type="text">
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
			

			
                <table class="inputTable">
                    <tfoot>
                        <tr>

                            <td>
                                <input class="inputButton" id="btnSearch" name="btnSearch" value="Search" onclick="searchSMM()" type="submit">
                            </td>
                        </tr>
                    </tfoot>
                </table>
	<br>
<table id="SMMHideDiv" class="resultTable hide">
    <thead>
        <tr>
            <th class="sTh">
                S24 Order No.
            </th>

            <th class="sTh">
                Export
            </th>


        </tr>
    </thead>
    <tbody>
        <tr class="sRow1">


            <td class="sCell">CL01/SU/003424/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af91159f85433')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003518/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af913d9c15435')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003520/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af916ffc75437')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003521/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af918d6e35439')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003812/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af929d835543b')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003885/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af92c588a543d')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003887/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af92e2421543f')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003997/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af93178585441')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/004203/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af938503d5443')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/004204/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af93a14085445')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/004403/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af93bed075447')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/004573/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af93dadf45449')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003316/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b181151816c1b')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/004438/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b1815efc16c1d')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003770/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b181e6d666c1f')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003445/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b1828ea406c23')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003446/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b182bae396c25')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003346/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b183319966c29')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003347/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b1836245f6c2b')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003444/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b183840e36c2d')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/004009/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b183b76446c2f')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/004010/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b183d67e16c31')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003586/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b183fb91c6c33')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003854/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b184155d76c35')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003587/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b184354dd6c37')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003588/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b18450bfa6c39')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/005894/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013cf6a37c7967ee')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/005835/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013cf6b1bffa67f3')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/005997/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013cf6b5bb3867f5')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/005989/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013cf6ba241667f7')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006241/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013cfbb1fec8688a')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/004006/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013cfbcfa21f6892')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/004008/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013cfbd575d06894')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/004007/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013cfbd91c0c6896')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/004107/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013cfc1899a1689a')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TA/002538/08/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01378338b863465a')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">UBZ/U17-03/0002/06</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01379bdeb582720e')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TE/002403/10/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013797abcdbd65eb')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">UBZ/U07-38/0004/07</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01379cb340657223')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003683/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae43354f208c1')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003395/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae440920d08c7')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003405/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae447cc5d08cc')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003407/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae4b1986308d7')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003619/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae4b6e08808dc')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003336/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae4be5f9408e0')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/004205/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae4c61b2308e2')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003471/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af2d6419a7fee')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003626/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af2e48c9a7ff0')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003341/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af334726f7ff3')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">UBZ/U09-44/0003/07</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01377e1fcfb7402c')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">UBZ/U20-32/0011/06</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01377e2a84344030')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">UBZ/U19-030/0001/08</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01377e32aee94035')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">UBZ/U09-01/0002/07</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01377e3ea8dd4037')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TA/001227/10/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f0137820284b14644')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">C/TA/002715/06/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013782c69184464a')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TA/001432/09/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013782e3af28464e')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">C/TA/000431/09/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013782ec86cf4650')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TA/004321/09/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013782f0088a4652')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">UBZ/U09-34/0002/07</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013782f45fdc4654')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">UBZ/U08-09/0013/09</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f0137831fef814656')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/005991/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013cf6bda1fb67f9')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TA/000757/10/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013792e73d945cbb')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">UBZ/U08-17/0001/07</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f0137963d77bd65b5')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TA/000411/09/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01379651fc5165b9')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">C/TB/003747/11/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f0137969c01e665bf')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">UBZ/U17-03/0004/06</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01379c7e9c1a721e')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/004335/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013a5400af040d12')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003398/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae43ff29408c5')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003406/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae44f295808ce')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/002949/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae4abec5d08d5')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003623/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae4b40c7808da')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003335/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae4ba437e08de')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/004392/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013ae4c90a4108e4')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003729/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af340b3427ff7')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/004054/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af344c7e97ff9')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TF/000149/11/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d149feb6e00dd')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">UBZ/U16-51/0016/10</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d14a42b1b00e4')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">UBZ/U16-29/0003/09</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d14ab03cb00f5')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003345/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af90e73825431')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/004798/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af9415e6d544d')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">UBZ/U16-29/0002/09</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d14a6da9a00ed')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">UBP/05-071/0020/06</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d14b4205d0101')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006263/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d1514a8b20131')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/005858/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d152422bc0142')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/005990/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d1527001f0148')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/006220/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d1531464f0156')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006243/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d1fd05a3204ad')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/002059/13/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013f5683c3677dc7')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/002060/13/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013f56a23aee7dcc')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/006576/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013f5a36830906d7')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006578/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013f5a40d37606df')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/006579/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013f5a4584d806e4')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/002334/13/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013f89aaf4706f63')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/001694/13/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013f89bb04726f69')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006149/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013fc795ff8f376c')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003035/13/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda641976f2a0141bf6b7969419e')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003037/13/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda641976f2a0141bf708b8141a2')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">UBZ/U19-23/0001/09</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d14c04759011a')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/005953/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d151baded0133')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/006229/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d1fbfadd204a5')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/004396/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d23a77061084c')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/005791/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d23dc14bb0860')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006257/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d2419315d087e')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/006255/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d24345f29088d')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006196/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d4393d41f320d')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/005793/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d43aa1e703213')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/005892/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d43ba33cf3217')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/005915/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d43c561fd321b')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">UBZ/U12-15/0002/06</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d14b965180107')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">UBZ/U12-15/0003/06</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d14bb8aef010d')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">UBZ/U19-039/0002/06</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d14c2c4b20121')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TC/002857/09/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d14c6a4a30127')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006219/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d15368c62015c')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/006225/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d1fcb39d804ab')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006218/12/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d1fd3a0f104af')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/003030/13/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd201412aa4efab01a8')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006916/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd201412ab8410001ac')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">UBZ/U07-38/0005/07</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01379cbc8e247227')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003434/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af33ab7877ff5')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TA/002716/06/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013782d493e0464c')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">C/TA/000197/11/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013792d180d15cb9')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TA/004387/09/NT</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01379789bcf565e5')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CMS/TB/017354/09/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013796830bcd65bc')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">UBZ/U07-38/0003/07</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01379c9ef25b7221')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/004796/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af93f8703544b')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/006046/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013eab267a93066f')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003079/13/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd201410fe5cc442d49')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/006303/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d23f7812c086b')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006256/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d2428eccb0886')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">SO03-0001/18</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a8591a661bccecd0161e4866ed3001d')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/003768/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013b182e729f6c27')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">C/TE/007067/07/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d14b096b500fb')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CMS/TF/006614/09/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d14bdcf5d0113')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/005994/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d151eac28013c')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006221/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d10d577013d152bc446014e')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/006304/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d67d05d353a00')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006258/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013da060f5b5387d')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">1 - KEY PLAN</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013da62692706311')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006299/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013da9f6ebb910bc')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/006577/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013f5a3ba19f06db')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/002263/13/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013f89a7b4a36f61')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/002348/13/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013f89b70da76f65')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/002347/13/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63dc86fd2013f89b850ce6f67')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/002861/13/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda641976f2a0141bf594046419a')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/005911/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d43c11f063219')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/005888/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d480fb23e4255')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/005889/12</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d481fbfd04259')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/005890/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013d482955f4425e')" type="button"></td>
        </tr>

        <tr class="sRow1">


            <td class="sCell">CL01/SU/006123/12/K</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013da05303213879')" type="button"></td>
        </tr>

        <tr class="sRow2">


            <td class="sCell">CL01/SU/006240/12/HK</td>

            <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d19ee9d013dab00482d10c8')" type="button"></td>
        </tr>

    </tbody>
</table>

				</div>
					</div>
