
            

                                                    <table class="inputTable">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2" class="sTh1">
                                                                    Criteria
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th class="fLabel">
                                                                    Signboard/ W.O./ S24 No. :
                                                                </th>
                                                                <td class="fField">
                                                                    <input name="searchFileRefNo" value="" onkeydown="stop();" id="searchFileRefNo" style="width: 90px;" class="inputTextUpper" type="text">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="fLabel">
                                                                    Sort By :
                                                                </th>
                                                                <td class="fField">
                                                                    <select name="searchSortBy" id="searchSortBy"style="width:auto">
                                                                        <option value="ST">Date/Time</option>
                                                                        <option value="REFERENCE_NO">Submission No.</option>
                                                                        <option value="RECORD_TYPE">Type</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                        
                <table class="inputTable">
                    <tfoot>
                        <tr>

                            <td>
                                <input class="inputButton" id="btnSearch" name="btnSearch" value="Search" onclick="loadContentPage('SMM0805a')" type="submit">

                            </td>
                        </tr>
                    </tfoot>
                </table>
                <!-- InstanceEndEditable -->
