	<input name="uuid" value="" id="uuid" type="hidden">
	<input name="editMode" value="search" id="editMode" type="hidden">
	<input name="pageNumber" value="1" id="pageNumber" type="hidden">
	<table id="Table2" style="BORDER-BOTTOM: #dedfde 1px solid" width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody><tr>
			<td valign="top">


				<br>
			
                                            <table class="inputTable">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2" class="sTh1">
                                                            Criteria
                                                        </th>
                                                    </tr>
                                                </thead>
                                             


                                                <tbody>
                                                    <tr>
                                                        <th class="fLabel">
                                                            W.O. No. :
                                                        </th>
                                                        <td class="fField">
                                                            <input name="searchGcNumber" value="" id="searchGcNumber" style="width: 90px;" class="inputTextUpper" type="text">
                                                            <input style="display : none" type="text">
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
										</td>
										
									</tr>
								</tbody></table>
		
				<div class="btnSet btnSetTypeA">
					<div class="right">
									</div>
				</div>
				<br>
				<!-- InstanceEndEditable -->
                <table class="inputTable">
                    <tfoot>
                        <tr>

                            <td>
                                <input class="inputButton" id="btnSearch" name="btnSearch" value="Search" onclick="searchSMM()" type="submit">

                            </td>
                        </tr>
                    </tfoot>
                </table>
	<br>
    <table id="SMMHideDiv" class="resultTable hide">
        <thead>
            <tr>
                <th class="sTh">
                    Government Contractor No.
                </th>

                <th class="sTh">
                    Export
                </th>


            </tr>
        </thead>
        <tbody>
            <tr class="sRow1">


                <td class="sCell">0092/12-C1</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013d1087fb0a6992')" type="button"></td>
            </tr>

            <tr class="sRow2">


                <td class="sCell">0138/12-C1</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63d162368013d199500810087')" type="button"></td>
            </tr>

            <tr class="sRow1">


                <td class="sCell">GC03-0001/18</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a8591a661bccecd0161e48516d40016')" type="button"></td>
            </tr>

        </tbody>
    </table>

				</div>
				</div>
