
         
      
                                    <table class="inputTable">
                                        <thead>
                                        <tr>
                                            <th colspan="4" class="sTh1">
                                                Criteria
                                            </th>
                                        </tr>
                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th class="fLabel">
                                                                    Period :
                                                                </th>
                                                                <td class="fField inputCalendarDivParent">
                                                                    From
                                                                    <div class="inputCalendarDiv"><input name="searchReceivedDateFrom" value="" id="searchReceivedDateFrom" class="inputDate" title="to:searchReceivedDateTo" type="text"></div>
                                                                    To
                                                                    <div class="inputCalendarDiv"><input name="searchReceivedDateTo" value="" id="searchReceivedDateTo" class="inputDate" title="from:searchReceivedDateFrom" type="text"></div>
                                                                </td>
                                                                <th class="fLabel">
                                                                    Submission No. :
                                                                </th>
                                                                <td class="fField">
                                                                    <input name="searchFileRefNo" value="" id="searchFileRefNo" class="inputTextUpper" type="text">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td valign="top">
                                                    <table class="inputTable">
                                                        <tbody>
                                                            <tr>
                                                             
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
   
                <div class="btnSet btnSetTypeA">
                    <div class="right">
                                          </div>
                </div>

                <br>
                <!-- InstanceEndEditable -->
                <table class="inputTable">
                    <tfoot>
                        <tr>

                            <td>
                                <input class="inputButton" id="btnSearch" name="btnSearch" value="Generate"  onclick="loadContentPage('SMM0803a')" type="submit">

                            </td>
                        </tr>
                    </tfoot>
                </table>