
                <br>
                <div class="sList">
         
                    <table class="inputTable">
                        <thead>
                            <tr>
                                <th colspan="2" class="sTh1">
                                    Criteria
                                </th>
                            </tr>
                            </thead>
                    
                                        <tbody>
                                            <tr>
                                                <th class="fLabel">
                                                    Registration No. of PBP/PRC :
                                                </th>
                                                <td class="fField">
                                                    <input name="searchPbpRegNo" value="" onkeyup="isBlank()" id="searchPbpRegNo" style="width:180px;" class="inputTextUpper autoComplete" alt="minChars:1;
																type:certNumber;
																width:300;
																displayFill:comma,1,2;
																fill:
																searchPbpChineseName,
																searchPbpEnglishName,
																,
																,
																,
																," type="text">

                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="fLabel">
                                                    English Name of PBP/PRC :
                                                </th>
                                                <td class="fField">
                                                    <input name="searchPbpEnglishName" value="" onkeyup="isBlank()" id="searchPbpEnglishName" style="width: 180px;" class="inputText" type="text">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="fLabel">
                                                    Chinese Name of PBP/PRC :
                                                </th>
                                                <td class="fField">
                                                    <input name="searchPbpChineseName" value="" onkeyup="isBlank()" id="searchPbpChineseName" style="width: 180px;" class="inputText" type="text">
                                                </td>
                                            </tr>

                                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <input class="inputButton" id="btnSearch" name="btnSearch" value="Generate" onclick="loadContentPage('SMM0804a')" type="submit">

                                </td>
                            </tr>
                        </tfoot>
                                    </table>
     