
				
											<table class="inputTable">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2" class="sTh1">
                                                            Criteria
                                                        </th>
                                                    </tr>
                                                </thead>                     
                                            <tbody><tr>
                                                       <th class="fLabel">
                                                           Report No. :
                                                       </th>
													<td class="fField">
														<input name="searchScuNumber" value="" id="searchScuNumber" style="width: 90px;" class="inputTextUpper" type="text">
													<input style="display : none" type="text">
													</td>
												</tr>
																						
											</tbody></table>
										</td>
										
									</tr>
								</tbody></table>
		

				<div class="btnSet btnSetTypeA">
					<div class="right">
							</div>
				</div>
				<br>
				<!-- InstanceEndEditable -->


                <table class="inputTable">
                    <tfoot>
                        <tr>

                            <td>
                                <input class="inputButton" id="btnSearch" name="btnSearch" value="Search" onclick="searchSMM()" type="submit">

                            </td>
                        </tr>
                    </tfoot>
                </table>
	<br>
    <table id="SMMHideDiv" class="resultTable hide">
        <thead>
            <tr>
                <th class="sTh">
                    Report No.
                </th>

                <th class="sTh">
                    Export
                </th>


            </tr>
        </thead>
        <tbody>
            <tr class="sRow1">


                <td class="sCell">CM01-0001/13</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013c6b6a97906772')" type="button"></td>
            </tr>

            <tr class="sRow2">


                <td class="sCell">CM02-0001/13</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013ca359d0f00689')" type="button"></td>
            </tr>

            <tr class="sRow1">


                <td class="sCell">CM02-0002/13</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013ca35c75c5068b')" type="button"></td>
            </tr>

            <tr class="sRow2">


                <td class="sCell">CM02-0003/13</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63b51243c013ca35ef83c068d')" type="button"></td>
            </tr>

            <tr class="sRow1">


                <td class="sCell">CM07-0001/12</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013875518fda5bb9')" type="button"></td>
            </tr>

            <tr class="sRow2">


                <td class="sCell">CM08-0001/12</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f0139293a30ef123a')" type="button"></td>
            </tr>

            <tr class="sRow1">


                <td class="sCell">CM04-0001/12</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f0136a564e9957df6')" type="button"></td>
            </tr>

            <tr class="sRow2">


                <td class="sCell">CM05-0001/12</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f013781beb3624638')" type="button"></td>
            </tr>

            <tr class="sRow1">


                <td class="sCell">CM03-0001/18</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a8591a661bccecd0161e486fa010024')" type="button"></td>
            </tr>

            <tr class="sRow2">


                <td class="sCell">CM03-0002/18</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a8591a661bccecd0161e48a8b37002a')" type="button"></td>
            </tr>

            <tr class="sRow1">


                <td class="sCell">CM03-0003/18</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a8591a661bccecd0161e48bbfae0031')" type="button"></td>
            </tr>

        </tbody>
    </table>

				</div>
					</div>

