<table id="Table2" style="BORDER-BOTTOM: #dedfde 1px solid" width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody><tr>
			<td valign="top">
				<!-- InstanceBeginEditable name="content" -->

				<div class="PrintArea">
				<h3>
					Government Contractor Report
				</h3>

				<br>
				<div class="sList">
                    <table class="resultTable">
                        <thead>
                            <tr>
                                <th class="sTh">W.O. No.</th>
                                <th class="sTh">S24 Order Case No.</th>
                                <th class="sTh">Submission No.</th>
                                <th class="sTh">Issued Date</th>
                                <th class="sTh">Description</th>
                                <th class="sTh">Status</th>
                                <th class="sTh">Responsible TO</th>
                                <th class="sTh">Responsible PO</th>
                                <th class="sTh">Responsible SPO</th>

                            </tr>
                            </thead>
                        <tbody>

                            <tr class="sRow1">
                                <td class="sCell">
                                    0092/12-C1&nbsp;
                                </td>
                                <td class="sCell">
                                    UBZ/U09-44/0003/07&nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    21/09/2012&nbsp;
                                </td>
                                <td class="sCell">
                                    Projecting signboard with inscription "xx".&nbsp;
                                </td>
                                <td class="sCell">
                                    BDC Action Completed&nbsp;
                                </td>

                                <td class="sCell">
                                    TOSC1&nbsp;
                                </td>
                                <td class="sCell">
                                    BSSC3&nbsp;
                                </td>
                                <td class="sCell">
                                    SBSSC&nbsp;
                                </td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">
                                    0138/12-C1&nbsp;
                                </td>
                                <td class="sCell">
                                    UBZ/U07-38/0003/07&nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    18/01/2013&nbsp;
                                </td>
                                <td class="sCell">
                                    Projecting Signboard "xx"&nbsp;
                                </td>
                                <td class="sCell">
                                    BDC Action Completed&nbsp;
                                </td>

                                <td class="sCell">
                                    TOSC3&nbsp;
                                </td>
                                <td class="sCell">
                                    SESC3&nbsp;
                                </td>
                                <td class="sCell">
                                    SPOSC&nbsp;
                                </td>
                            </tr>

                            <tr class="sRow1">
                                <td class="sCell">
                                    GC03-0001/18&nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    02/03/2018&nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>

                                <td class="sCell">
                                    SOSC1&nbsp;
                                </td>
                                <td class="sCell">
                                    BSSC1&nbsp;
                                </td>
                                <td class="sCell">
                                    SBSSC&nbsp;
                                </td>
                            </tr>

                        </tbody>
                    </table>
					
				</div>
</div>
				<div class="btnSet btnSetTypeA">
					<div class="right">
						<input class="inputButton" id="btnSearch" name="btnSearch" value="Print"  onclick="printReport()" type="button">
						<input class="inputButton" id="btnSearch" name="btnSearch" value="Back"   onclick="loadContentPage('SMM0806')" type="button">
					</div>
				</div>



				<br>
				<!-- InstanceEndEditable -->
			</td>
		</tr>
	</tbody></table>