	<input name="uuid" value="" id="uuid" type="hidden">
	<input name="editMode" value="search" id="editMode" type="hidden">
	<input name="pageNumber" value="1" id="pageNumber" type="hidden">
	<input name="recordType" value="Enquiry To SCU" id="recordType" type="hidden">
	<table id="Table2" style="BORDER-BOTTOM: #dedfde 1px solid" width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody><tr>
			<td valign="top">
				<!-- InstanceBeginEditable name="content" -->

				<h3>
					Data Export
				</h3>

				<br>

											<table class="inputTable">
                                                
                                                <thead>
                                                    <tr>
                                                        <th colspan="2" class="sTh1">
                                                            Criteria
                                                        </th>
                                                    </tr>
                                                </thead>                     
                                            <tbody><tr>
                                                       <th class="fLabel">
                                                           Report No.  :
                                                       </th>
													<td class="fField">
														<input name="searchScuNumber" value="" id="searchScuNumber" style="width: 90px;" class="inputTextUpper" type="text">
													<input style="display : none" type="text">
													</td>
												</tr>
																						
											</tbody></table>
										</td>
										
									</tr>
								</tbody></table>
			
				<div class="btnSet btnSetTypeA">
					<div class="right">
						</div>
				</div>
				<br>
				<!-- InstanceEndEditable -->

	<br>


    <table class="inputTable">
        <tfoot>
            <tr>

                <td>
                    <input class="inputButton" id="btnSearch" name="btnSearch" value="Search"  onclick="searchSMM()" type="submit">

                </td>
            </tr>
        </tfoot>
    </table>
    <table id="SMMHideDiv" class="resultTable hide">
        <thead>
            <tr>
                <th class="sTh">
                    Report No.
                </th>

                <th class="sTh">
                    Export
                </th>


            </tr>
        </thead>
        <tbody>
            <tr class="sRow1">


                <td class="sCell">EN04-0001/12</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f0136807917514c90')" type="button"></td>
            </tr>

            <tr class="sRow2">


                <td class="sCell">EN05-0001/12</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01376ed4f9cb39e2')" type="button"></td>
            </tr>

            <tr class="sRow1">


                <td class="sCell">EN05-0002/12</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f01376ed86a3839e4')" type="button"></td>
            </tr>

            <tr class="sRow2">


                <td class="sCell">EN06-0001/12</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda63662cd0f0137dfbe946a6ce5')" type="button"></td>
            </tr>

            <tr class="sRow1">


                <td class="sCell">EN11-0001/12</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a85bda639f6b24d013af3929df50002')" type="button"></td>
            </tr>

            <tr class="sRow2">


                <td class="sCell">EN03-0001/18</td>

                <td class="sCell"><input class="inputButton" id="btnExport" name="btnExport" value="Export" style="width: 80px;" onclick="exportData('8a8591a661bccecd0161e48914150027')" type="button"></td>
            </tr>

        </tbody>
    </table>

				</div>
				</div>

