
           
                                                    <table class="inputTable">

                                                        <thead>

                                                            <tr>
                                                                <th class="sTh1" colspan="2">
                                                                    Criteria
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th class="fLabel" style="width : 45%">
                                                                    S24 Order No. :
                                                                </th>
                                                                <td class="fField">
                                                                    <input name="searchS24Number" value="" id="searchS24Number" style="width: 90px;" class="inputTextUpper" type="text">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="fLabel" width="45%">
                                                                    Received Date :

                                                                </th>
                                                                <td class="fField inputCalendarDivParent">
                                                                    From

                                                                    <div class="inputDate"><input name="searchReceivedDateFrom" value="" id="searchReceivedDateFrom" class="inputCalendar inputText hasDatepicker" title="to:searchReceivedDateTo" type="text"></div>
                                                                    To                                                                                               
                                                                    <div class="inputDate"><input name="searchReceivedDateTo" value="" id="searchReceivedDateTo"     class="inputCalendar inputText hasDatepicker" title="from:searchReceivedDateFrom" type="text"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
           
                <div class="btnSet btnSetTypeA">
                    <div class="right">
                                      </div>
                </div>
                <br>
                <!-- InstanceEndEditable -->
                <table class="inputTable">
                    <tfoot>
                        <tr>

                            <td>
                                <input class="inputButton" id="btnSearch" name="btnSearch" value="Generate" onclick="loadContentPage('SMM0808a')" type="submit">

                            </td>
                        </tr>
                    </tfoot>
                </table>