                       
                                                                    <table class="inputTable">
                                                                        <thead>
                                                                            <tr>
                                                                                <th colspan="4" class="sTh1">
                                                                                    Search Criteria
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th class="fLabel" >
                                                                                    Period :
                                                                                </th>
                                                                                <td class="fField inputCalendarDivParent" style="width:250px;">
                                                                                    From
                                                                                    <div class="inputDate"><input name="searchReceivedDateFrom" value="" id="searchReceivedDateFrom" class="inputCalendar inputText hasDatepicker" title="to:searchReceivedDateTo" type="text"></div>
                                                                                    To
                                                                                    <div class="inputDate"><input name="searchReceivedDateTo" value="" id="searchReceivedDateTo"      class="inputCalendar inputText hasDatepicker" title="from:searchReceivedDateFrom" type="text"></div>

                                                                                </td>
                                                                                <th class="fLabel" >
                                                                                    Status :
                                                                                </th>
                                                                                <td class="fField">
                                                                                    <select name="searchStatus" id="searchStatus" style="width:auto">
                                                                                        <option value="WF_STATUS_OPEN">Open</option>
                                                                                        <!-- 		<option value="WF_STATUS_CLOSE">Close</option> -->
                                                                                        <option value="WF_STATUS_DONE">Done</option>
                                                                                    </select>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                 

                <table class="inputTable">
                    <tfoot>
                        <tr>

                            <td>
                                <input class="inputButton" id="btnSearch" name="btnSearch" value="Search" onclick="searchSMM()" type="submit">
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <table id="SMMHideDiv" class="resultTable hide">
                    <thead>
                        <tr>
                            <th class="sTh" width="50">User</th>
                            <th class="sTh" width="100">Validation</th>
                            <th class="sTh" width="100">Audit</th>
                            <th class="sTh" width="100">Government Contractor</th>
                            <th class="sTh" width="100">S24 Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0003');">
                    SBSSC
                </a> -->
                                SBSSC
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">1</td>
                            <td class="sCell">3</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda647d77bc20149a7d8fac97db9');">
                    SPOSC1
                </a> -->
                                SPOSC1
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda647664e5e0147665409800007');">
                    SPOSC2
                </a> -->
                                SPOSC2
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">3</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0006');">
                    BSSC1
                </a> -->
                                BSSC1
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">2</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0007');">
                    BSSC2
                </a> -->
                                BSSC2
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0008');">
                    BSSC3
                </a> -->
                                BSSC3
                            </td>
                            <td class="sCell">1</td>
                            <td class="sCell">0</td>
                            <td class="sCell">1</td>
                            <td class="sCell">52</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0009');">
                    BSSC4
                </a> -->
                                BSSC4
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda64a76fd9c014b06c0834c4e04');">
                    CTOSC
                </a> -->
                                CTOSC
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">1</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda647d77bc20149a37b8ec4706d');">
                    PSOSC1
                </a> -->
                                PSOSC1
                            </td>
                            <td class="sCell">1</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda647d77bc20149a37d52607073');">
                    PSOSC2
                </a> -->
                                PSOSC2
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda6516ce9ae01523896f76a7099');">
                    PTOSC1
                </a> -->
                                PTOSC1
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">1</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda6516ce9ae0151a4585c364e45');">
                    PTOSC2
                </a> -->
                                PTOSC2
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">1</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0012');">
                    SESC1
                </a> -->
                                SESC1
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0013');">
                    SESC2
                </a> -->
                                SESC2
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0014');">
                    SESC3
                </a> -->
                                SESC3
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0015');">
                    SESC4
                </a> -->
                                SESC4
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda647d77bc20149a7de10797dc5');">
                    SESC6
                </a> -->
                                SESC6
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda64e2f3ba8014f3f85abe167d1');">
                    SESC8
                </a> -->
                                SESC8
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda647d77bc20149ac3ae4c20b51');">
                    SSOSC2
                </a> -->
                                SSOSC2
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda647d77bc20149ac3b32350b53');">
                    STOSC
                </a> -->
                                STOSC
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0018');">
                    SOSC1
                </a> -->
                                SOSC1
                            </td>
                            <td class="sCell">1</td>
                            <td class="sCell">61</td>
                            <td class="sCell">0</td>
                            <td class="sCell">8</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0019');">
                    SOSC2
                </a> -->
                                SOSC2
                            </td>
                            <td class="sCell">4</td>
                            <td class="sCell">41</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0020');">
                    SOSC3
                </a> -->
                                SOSC3
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">88</td>
                            <td class="sCell">1</td>
                            <td class="sCell">44</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda653896b170153c05c9f9c4dac');">
                    SOSC3A
                </a> -->
                                SOSC3A
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">23</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda635d2dd4f0135d33d908b0046');">
                    SOSC4
                </a> -->
                                SOSC4
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">11</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0021');">
                    SOSC5
                </a> -->
                                SOSC5
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">40</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0022');">
                    SOSC6
                </a> -->
                                SOSC6
                            </td>
                            <td class="sCell">1</td>
                            <td class="sCell">28</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda635d2dd4f0135d346110d0051');">
                    TOSC1
                </a> -->
                                TOSC1
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">7</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0034');">
                    TOSC2
                </a> -->
                                TOSC2
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">38</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0035');">
                    TOSC3
                </a> -->
                                TOSC3
                            </td>
                            <td class="sCell">1</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda63662640e0136629d4a4c001a');">
                    TOSC4
                </a> -->
                                TOSC4
                            </td>
                            <td class="sCell">2</td>
                            <td class="sCell">40</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda647d77bc20149a7e0ea247dce');">
                    TOSC5
                </a> -->
                                TOSC5
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">3</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a85bda647d77bc20149a7e00aaf7dcb');">
                    TOSC6
                </a> -->
                                TOSC6
                            </td>
                            <td class="sCell">2</td>
                            <td class="sCell">198</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">
                                <!-- 	<a
                    href="javascript:onEdit('8a8593a233ab78ba0133ab7a01dd0036');">
                    TOSC7
                </a> -->
                                TOSC7
                            </td>
                            <td class="sCell">0</td>
                            <td class="sCell">1</td>
                            <td class="sCell">0</td>
                            <td class="sCell">0</td>
                        </tr>


                    </tbody>
                </table>

                    </div>
</div>
                    <br>
                    <!-- InstanceEndEditable -->
</td>
        </tr>
    </tbody>
</table>