@model MWMS2.Areas.MWProcessing.Models.Fn01LM_OtherBatchUpdateRD

<form id="referralInputForm" method="post">
    <div class="panelHeader">
        Batch update referral date
    </div>
    <div class="w3-border displayForm">
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Received Date  :</div>
                <div class="w3-col l9 m12 s12">
                    <span>From</span>
                    @Html.TextBoxFor(m => m.ReceiveDateFrom, new { @class = "inputDate" })
                    <span>to</span>
                    @Html.TextBoxFor(m => m.ReceiveDateTo, new { @class = "inputDate" })

                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Referral Date	:</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.ReferralDate, new { @class = "inputDate" })
                </div>
            </div>
        </div>

        <div class="w3-container footer">
            <button id="updateAckReferrDate" class="searchButton btn btn-default" type="button"> Update</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    domReady(function () {
        attr("updateAckReferrDate", "onclick", { parameters: {}, callback: onUpdateAckReferrDate });
    });

    function onUpdateAckReferrDate() {

        attr("referralInputForm", "addClass", "saving");
        $.post("UpdateAckReferrDate", $("#referralInputForm").serialize(), function (data) {
            attr("referralInputForm", "dropClass", "saving");
            if (data != null && data.Result != null && data.Result == "SUCCESS") {
                showErrorMessage(data.ErrorMessages);
                alert("Batch update referral date successfully");
                //goTo("Index", null);
            }
            else {
                showErrorMessage(data.ErrorMessages);
                console.log(data);
            }
        }, "json");
    }
</script>
