
    <script type="text/javascript">var topMenuSelected = "itemU";</script>

    <h3>Processing</h3>

    <div class="sList">
        <script type="text/javascript">$(document).ready(function(){
		$("#biuuu_button").click(function(){
		$("#myPrintArea").printArea();
		});
	});</script>
        <font color="#FF0000"></font>



    </div>

    <div class="sList">
        <table class="resultTable">
            <thead>
                <tr>
                    <th >Document S/N</th>
                    <th >Ref. No.</th>
                    <th >Received Date</th>
                    <th >Document Type</th>
                    <th >Total Page</th>
                    <th >View Image</th>
                </tr>
                <input name="subDsnList[0].subDsn" value="D0000001773" type="hidden">
                <input name="subDsnList[0].docType" value="Other" type="hidden">
                <input name="subDsnList[0].totalPage" value="7" type="hidden">
                <input name="subDsnList[0].date" value="16/2/2011" type="hidden">
                </thead>
            <tbody>
                <tr >
                    <td >D0000001773&nbsp;</td>
                    <td >&nbsp;</td>
                    <td >&nbsp;</td>
                    <td >Other&nbsp;</td>
                    <td >7&nbsp;</td>
                    <td ><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000001773')"></td>
                </tr>



            </tbody>
        </table>
    </div>

    <div class="btnSet btnSetTypeA">
        <div class="right">
            <input class="inputButton" id="" name="" value="View Record Detail"  onclick="viewRecordDetail()" type="button">
        </div>
    </div>

    <br>

    <div class="sList">
        <table class="inputTable">


            <thead>
                <tr>
                    <th  colspan="2">
                        Assignment.
                    </th>
                </tr>
                </thead>
            <tbody>
                <tr>
                    <th >Submission Type</th>
                    <td >
                        <select name="submitType">
                            <option selected="'selected'" value="Enquiry">Enquiry</option>
                            <option value="Complaint">Complaint</option>
                        </select>
                        <input name="submitTypeList[0].value" value="Enquiry" type="hidden">
                        <input name="submitTypeList[0].label" value="Enquiry" type="hidden">
                        <input name="submitTypeList[1].value" value="Complaint" type="hidden">
                        <input name="submitTypeList[1].label" value="Complaint" type="hidden">
                    </td>
                </tr>

                <!---->

                <tr>
                    <th  width="150px">Ref. No.</th>
                    <td >
                        <input class="inputText" id="refNo" name="refNo" value="Enq121000002" type="text">
                    </td>
                </tr>
                <tr>
                    <td  width="150px">&nbsp;</td>
                    <td >
                        <input class="inputButton" id="" name="" value="Change Type" onclick="javascript:changeType()" type="button">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="btnSet btnSetTypeA">
        <div class="right">


            <!---->

            <input class="inputButton" id="" name="" value="Submit" onclick="loadContentPage('PEM0801')" type="button">


            <input class="inputButton" id="" name="" value="Cancel" onclick="loadContentPage('PEM0801')" type="button">
        </div>
    </div>

    <!-- InstanceEndEditable </td>
      </tr>
    </table>-->

