
<table class="resultTable">
	<thead>
		<tr>
			<th>Document S/N.</th>
			<th>Ref. No.</th>
			<th>Received Date</th>
			<th>Assignment Date</th>
			<th>Case</th>
		</tr>
	</thead>
	<tbody>
		<tr >
			<td class="sCell"><a href="javascript:loadContentPage('PEM0801a')">D0000001773</a>&nbsp;</td>
			<td class="sCell">&nbsp;</td>
			<td class="sCell">16/2/2011&nbsp;</td>
			<td class="sCell">16/2/2011&nbsp;</td>
			<td class="sCell">Unknown&nbsp;</td>
		</tr>

		<tr >
			<td class="sCell"><a href="javascript:loadContentPage('PEM0801a')">D0000544248</a>&nbsp;</td>
			<td class="sCell">Enq141102163&nbsp;</td>
			<td class="sCell">7/11/2014&nbsp;</td>
			<td class="sCell">12/11/2014&nbsp;</td>
			<td class="sCell">Re-assign&nbsp;</td>
		</tr>

	</tbody>
</table>