

<table class="inputTable">
<thead><tr><th colspan="2">Search :</th></tr></thead>
	<tbody>
		<tr>
			<th>Surname :</th>
			<td><input type="text" name="searchSurname" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:265px;" class="inputText"></td>
		</tr>
		<tr>
			<th>Given Name :</th>
			<td><input type="text" name="searchGivenName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:265px;" class="inputText"></td>
		</tr>
		<tr>
			<th>Chinese Name :</th>
			<td><input type="text" name="searchChineseName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:265px;" class="inputText"></td>
		</tr>

	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
				<input type="submit" name="btnSearch" onclick="searchForm()" value="Search" >
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="submit" name="btnLogin" onclick="loadContentPage('CRM0601b')" value="New Member" >
				&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		
		</tr>
		
	</tfoot>
</table>
<table id="CRMHideDiv" class="resultTable hide">
    <thead>
        <tr class="grid-header" style="height:19px;">
            <th width="400">Name</th>
            <th>Rank</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU xx xx</a></td>
            <td>CRC PANEL</td>

        </tr>

        <tr>
            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU xx xx </a></td>
            <td>CRC PANEL</td>

        </tr>

        <tr>
            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU xx xx</a></td>
            <td>CRC PANEL</td>

        </tr>

        <tr>
            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU xx xx</a></td>
            <td>IRC Panel</td>

        </tr>

        <tr>
            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU xx xx</a></td>
            <td>CRC PANEL</td>

        </tr>

        <tr>
            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU xx xx</a></td>
            <td>2015-2016 CRC Panel</td>

        </tr>

        <tr>
            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU xx xx</a></td>
            <td>SBS/MBI2-A</td>

        </tr>

        <tr>
            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU xx xx</a></td>
            <td>2017-2018 CRC Panel</td>

        </tr>

        <tr>
            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU YEUNG xx xx</a></td>
            <td>SSE/Rail2</td>

        </tr>

        <tr>
            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>CHAN xx xx</a></td>
            <td>SBS/Lit1</td>

        </tr>

       
    </tbody>
</table>









<!--<table id="Table2" style="BORDER-BOTTOM: #dedfde 1px solid" cellspacing="0" cellpadding="0" width="100%" border="0">
    <tbody>
        <tr>
            <td style="PADDING-RIGHT: 5px; PADDING-LEFT: 8px; PADDING-BOTTOM: 10px" valign="top">
                <div class="title1"><h3 Committee Maintenance &gt; Members Particular></h3></div>

                <table class="searchform" id="Table5" cellspacing="5" cellpadding="0" width="750" border="0">
                    <tbody>
                        <tr>
                            <td>
                                <table id="Table3" class="inputTable">
                                    <tbody>
                                        <tr>
                                            <td style="WIDTH: 112px">Surname :</td>
                                            <td><input type="text" name="searchSurname" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:265px;" class="inputText"></td>
                                        </tr>
                                        <tr>
                                            <td style="WIDTH: 112px">Given Name :</td>
                                            <td><input type="text" name="searchGivenName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:265px;" class="inputText"></td>
                                        </tr>
                                        <tr>
                                            <td style="WIDTH: 112px">Chinese Name :</td>
                                            <td><input type="text" name="searchChineseName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:265px;" class="inputText"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table id="Table4" class="inputTable">
                    <tbody>
                        <tr>
                            <td width="530">
                                <input type="submit" name="btnSearch" onclick="searchForm()" value="Search" style="width:80px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="submit" name="btnLogin" onclick="loadContentPage('CRM0601b')" value="New Member" style="width:120px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td align="right" width="170"><a id="lnkMain" href="menu.do?method=LoadCMIndexPage">Back to Main Page</a></td>
                        </tr>
                        <tr>
                            <td colspan="2"><span id="lblMsg" style="color:Crimson;"></span></td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </td>
        </tr>
        <tr>
            <td>














                <script>
                    function setPrevPage() {
                        thisForm = document.getElementById('CommitteeMaintenanceForm');
                        thisForm.action = 'committeeMaintenance.do?method=SearchMember&page=-1'
                        thisForm.submit();
                    }
                    function setNextPage() {
                        thisForm = document.getElementById('CommitteeMaintenanceForm');
                        thisForm.action = 'committeeMaintenance.do?method=SearchMember&page=1'
                        thisForm.submit();
                    }
                    function editMember(uuid) {
                        thisForm = document.getElementById('CommitteeMaintenanceForm');
                        thisForm.action = 'committeeMaintenance.do?method=EditMember&uuid=' + uuid + '&currentPage=0'
                        thisForm.submit();
                    }
                </script>



                <input type="hidden" name="searchSurname" value="" id="searchSurname">
                <input type="hidden" name="searchGivenName" value="" id="searchGivenName">
                <input type="hidden" name="searchChineseName" value="" id="searchChineseName">
                <div id="CRMHideDiv" class="hide">

                    <table class="resultTable" id="dgList">
                        <thead>
                            <tr class="grid-header" style="height:19px;">
                                <th width="400">Name</th>
                                <th>Rank</th>
                            </tr>
                            </thead>
                        <tbody>
                            <tr>
                                <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU Choi Wa</a></td>
                                <td>CRC PANEL</td>

                            </tr>

                            <tr>
                                <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU Chung Leung Joanlin</a></td>
                                <td>CRC PANEL</td>

                            </tr>

                            <tr>
                                <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU Kin Tung</a></td>
                                <td>CRC PANEL</td>

                            </tr>

                            <tr>
                                <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU Shiu Kin</a></td>
                                <td>IRC Panel</td>

                            </tr>

                            <tr>
                                <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU Wai Chiu</a></td>
                                <td>CRC PANEL</td>

                            </tr>

                            <tr>
                                <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU Wai Man</a></td>
                                <td>2015-2016 CRC Panel</td>

                            </tr>

                            <tr>
                                <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU Wai Sang, Alan</a></td>
                                <td>SBS/MBI2-A</td>

                            </tr>

                            <tr>
                                <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU Wing Chung</a></td>
                                <td>2017-2018 CRC Panel</td>

                            </tr>

                            <tr>
                                <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")'>AU YEUNG Hoi Pang</a></td>
                                <td>SSE/Rail2</td>

                            </tr>

                            <tr>
                                <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0601b")' ">CHAN Che Bun Anderson</a></td>
                                <td>SBS/Lit1</td>

                            </tr>

                            <tr align="center">
                                <td colspan="14">

                                    &lt; Prev

                                    &nbsp;

                                    <a href="javascript:setNextPage();">Next &gt;</a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </td>
        </tr>
    </tbody>
</table>-->