<h3> Search Member</h3>
          <table id="Table5" class="inputTable">
                <tbody><tr>
                  <td colspan="4" style="vertical-align:middle;background:#CCC"><label>
                      <input name="searchMemberSelection" value="M" checked="checked" onclick="setSearch(this.value)" id="searchMemberSelectionM" type="radio">
                      By Old Panel</label>
                    &nbsp; </td>
                </tr>
                <tr>

                      <tr>
                        <td colspan="4" style="vertical-align:middle; font-weight:bold">Please select  :</td>
                      </tr>

                      <tr>
                        <th>Panel :</th>
                        <td>
                            <select style="width:auto" name="searchOldPanel" id="searchOldPanel" style="width:100px" class="inputSelectNoWidth"><option value="" selected="selected">- Select -</option>
								 <option value="8a85932a25bfa01a0125bfa01a150000">CRC</option> <option value="8a85932a25bfa01a0125bfa01a150001">APRC</option> <option value="8a85932a25bfa01a0125bfa01a250002">SERC</option> <option value="8a85932a25bfa01a0125bfa01a250003">GERC</option> <option value="8a8593493290225f013290296d410002">IRC</option> <option value="8a85932a25bfa01a0125bfa01a250004">MWCRC</option></select>
                        </td>
                        <th>Year :</th>
                        <td>

                        	
                    	    <select style="width:auto" name="searchOldYear" id="searchOldYear" style="width:100px"><option value="0">- Select -</option>
						        
			                    	<option value="2019">2019</option>
			                    
			                    	<option value="2018">2018</option>
			                    
			                    	<option value="2017">2017</option>
			                    
			                    	<option value="2016">2016</option>
			                    
			                    	<option value="2015">2015</option>
			                    
			                    	<option value="2014">2014</option>
			                    
			                    	<option value="2013">2013</option>
			                    
			                    	<option value="2012">2012</option>
			                    
			                    	<option value="2011">2011</option>
			                    
			                    	<option value="2010">2010</option>
			                    
			                    	<option value="2009">2009</option>
			                    
			                    	<option value="2008">2008</option></select>
                        </td>
                      </tr>
                      

               
                <tr>
                  <td colspan="4" style="vertical-align:middle; background:#CCC"><label>
                      <input name="searchMemberSelection" value="S" onclick="setSearch(this.value)" id="searchMemberSelectionS" type="radio">
                      One-By-One</label></td>
                </tr>
                
                
                    <tr>
						  <th>Surname :</th> 
						  <td><input name="searchSurname" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" id="searchSurname" style="width:100px;" class="inputText" disabled="" type="text"></td> 
				          <th>Given Name :</th> 
				          <td><input name="searchGivenName" maxlength="8" value="" onkeydown="enterToSubmit(searchForm, this, event)" id="searchGivenName" style="width:100px;" class="inputText" disabled="" type="text"></td> 
				        </tr> 

                    </tbody></table>
			
              <div style="padding:5px">
                </div>
    <table class="inputTable"><tfoot><tr><td>
    <input name="btnSearch" value="Search" onclick="searchForm()" id="btnSearch" accesskey="S" style="width:120px;" type="button">
</td></tr></tfoot></table>

                               <table class="resultTable hide" id="CRMHideDiv">
                                   <thead>
                                       <tr class="grid-header" >
                                           <th><input name="dgList:_ctl1:checkAll" id="dgList__ctl1_checkAll" onclick="CheckAll(this);" value="ON" type="checkbox"></th>
                                           <th width="200">Name</th>
                                           <th width="100">Rank</th>
                                           <th width="100">Post</th>
                                           <th width="100">Career</th>

                                       </tr>
                                       </thead>
                                   <tbody>

                                       <tr class="grid-alt-item">

                                           <td>
                                               <input name="selectedSearchMemberList" id="selectedSearchMemberList_0" type="checkbox" value="ff8080812506cddc01250a5584f4006a">
                                           </td>
                                           <td>AU xx xx</td>
                                           <td>CRC PANEL</td>
                                           <td>xx CONSTRUCTION MANAGER</td>
                                           <td></td>



                                       </tr>

                                       <tr>

                                           <td>
                                               <input name="selectedSearchMemberList" id="selectedSearchMemberList_1" type="checkbox" value="ff8080812506cddc01250a63c67d0082">
                                           </td>
                                           <td>xx xx Leung Joanlin</td>
                                           <td>CRC PANEL</td>
                                           <td>DIRECTOR</td>
                                           <td></td>



                                       </tr>

                                       <tr class="grid-alt-item">

                                           <td>
                                               <input name="selectedSearchMemberList" id="selectedSearchMemberList_2" type="checkbox" value="8a8591a22da30f20012da7514fd54035">
                                           </td>
                                           <td>AU xx xx</td>
                                           <td>CRC PANEL</td>
                                           <td>Architect</td>
                                           <td></td>



                                       </tr>

                                       <tr>

                                           <td>
                                               <input name="selectedSearchMemberList" id="selectedSearchMemberList_3" type="checkbox" value="8a8591a236066f5e013610a121935e7b">
                                           </td>
                                           <td>AU xx xx</td>
                                           <td>IRC Panel</td>
                                           <td>Managing Director</td>
                                           <td></td>



                                       </tr>

                                       <tr class="grid-alt-item">

                                           <td>
                                               <input name="selectedSearchMemberList" id="selectedSearchMemberList_4" type="checkbox" value="8a8591a22da30f20012da6c4ed3528e4">
                                           </td>
                                           <td>AU xx xx</td>
                                           <td>CRC PANEL</td>
                                           <td>Assistant Project Manager</td>
                                           <td></td>



                                       </tr>

                                       <tr>

                                           <td>
                                               <input name="selectedSearchMemberList" id="selectedSearchMemberList_5" type="checkbox" value="8a8591a24a719bef014a75171d7637c0">
                                           </td>
                                           <td>AU xx xx</td>
                                           <td>2015-2016 CRC Panel</td>
                                           <td>Contracts Manager</td>
                                           <td></td>



                                       </tr>

                                 
                                   </tbody>
                               </table>
             <table class="inputTable">
    <tfoot>          
    <tr>
                  <td style="padding:5px">
                  <input name="btnAddToMemberList" value="Add to MemberList" onclick="addToMemberList()" id="btnAddToMemberList" accesskey="A"  type="button">
                  </td>
                </tr>
              </tfoot></table>


























<script>
function savePanel(){
	if (!dateValid()){
		return;
	}
	thisForm = document.getElementById('CommitteeMaintenanceForm');
	
	
		thisForm.searchNewPanel.disabled = false;
		thisForm.searchNewYear.disabled = false;
	
	thisForm.action = 'committeeMaintenance.do?method=SavePanel'
	thisForm.submit();
}	

function deleteMemberInList(uuid){
	if (confirm('Are you sure you want to delete this member?')){
		thisForm = document.getElementById('CommitteeMaintenanceForm');
		thisForm.searchPanel.disabled = false;
		thisForm.searchYear.disabled = false;
	
		thisForm.action = 'committeeMaintenance.do?method=DeleteMemberInList&uuid1='+uuid;
		thisForm.submit();
	}
}

function cancel(){
	thisForm = document.getElementById('CommitteeMaintenanceForm');
	thisForm.action = 'committeeMaintenance.do?method=CommitteePanelCancel'
	thisForm.submit();
}	

</script>

<input name="editMode" value="create" class="hidden" type="hidden">
<input name="searchCommitteeSelectedCommitteePanelId" value="" class="hidden" type="hidden">

<input name="searchPanelForReload" value="" id="searchPanelForReload" type="hidden">
<input name="searchYearForReload" value="" id="searchYearForReload" type="hidden">
<input name="currentPage" value="0" id="currentPage" type="hidden">
              
              <table class="inputTable">
    <thead>
        <tr>
            <th colspan="4" style="vertical-align:middle; font-weight:bold">Please assign  :</th>
        </tr>
    </thead>         
    <tbody>
              		
	                      <tr>
	                        <th>Panel :</th>
	                        <td>
	                            <select style="width:auto" name="searchNewPanel" id="searchNewPanel" style="width:100px" class="inputSelectNoWidth"><option value="">- Select -</option>
									 <option value="8a85932a25bfa01a0125bfa01a150000">CRC</option> <option value="8a85932a25bfa01a0125bfa01a150001">APRC</option> <option value="8a85932a25bfa01a0125bfa01a250002">SERC</option> <option value="8a85932a25bfa01a0125bfa01a250003">GERC</option> <option value="8a8593493290225f013290296d410002">IRC</option> <option value="8a85932a25bfa01a0125bfa01a250004">MWCRC</option></select>
	                        </td>
	                        <th>Year :</th>
	                        <td>
	
	                        	
	                    	    <select style="width:auto" name="searchNewYear" id="searchNewYear" style="width:100px;"><option value="">- Select -</option>
	                            
			                    	<option value="2019">2019</option>
			                    
			                    	<option value="2018">2018</option>
			                    
			                    	<option value="2017">2017</option>
			                    
			                    	<option value="2016">2016</option>
			                    
			                    	<option value="2015">2015</option>
			                    
			                    	<option value="2014">2014</option>
			                    
			                    	<option value="2013">2013</option>
			                    
			                    	<option value="2012">2012</option>
			                    
			                    	<option value="2011">2011</option>
			                    
			                    	<option value="2010">2010</option>
			                    
			                    	<option value="2009">2009</option>
			                    
			                    	<option value="2008">2008</option></select>

	                        </td>
	                      </tr>
                      
                      <tr>
                      	<th>Expiry Date: (dd/mm/yyyy)</th>
	                    <td colspan="3">
	                    <input name="panelExpiryDate" maxlength="10" value="" onblur="checkDate(this)" id="panelExpiryDate" class="inputDate" type="text">
	        			<span id="err_panelExpiryDate" class="err" style="color:Red;display:none;">Invalid date</span>
	                    </td>
                      </tr>
            </tbody></table>
          
            <br>
            <div id="pnlMain">

                <table class="resultTable" id="dgList">
                    <thead>
                        <tr class="grid-header" style="height:19px;">
                            <th>Name</th>
                            <th>HKID/Passport No</th>
                            <th>Rank</th>
                            <th>Post</th>
                            <th>Career</th>
                            <th>Role</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                    <tbody></tbody>
                </table>
                <br>
            </div>


            <table class="inputTable">

                <tfoot>
                    <tr>
                        <td class="editfooter" height="32">

                            <input name="btnSave" value="Save" onclick="loadContentPage('CRM0602')" id="btnSave" type="button">
                            &nbsp;

                            <input name="btnCancel" value="Cancel" id="btnCancel" onclick="loadContentPage('CRM0602')" type="button">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                </tfoot>

            </table>


