
                                <table id="Table3" class="inputTable">

                                    <tbody>
                                        <tr>
                                            <th width="120">Panel :</th>

                                            <td>

                                                <select name="searchPanel" id="searchPanel" style="width:100px" class="inputSelectNoWidth">
                                                    <option value="">- Select -</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a150000" selected="selected">CRC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a150001">APRC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a250002">SERC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a250003">GERC</option>
                                                    <option value="8a8593493290225f013290296d410002">IRC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a250004">MWCRC</option>
                                                </select>

                                            </td>
                                            <th width="120">Year :</th>

                                            <td>

                                                <select name="searchYear" id="searchYear" style="width:100px;">
                                                    <option value="">- Select -</option>

                                                    <option value="2019">2019</option>

                                                    <option value="2018">2018</option>

                                                    <option selected="selected" value="2017">2017</option>

                                                    <option value="2016">2016</option>

                                                    <option value="2015">2015</option>

                                                    <option value="2014">2014</option>

                                                    <option value="2013">2013</option>

                                                    <option value="2012">2012</option>

                                                    <option value="2011">2011</option>

                                                    <option value="2010">2010</option>

                                                    <option value="2009">2009</option>

                                                    <option value="2008">2008</option>
                                                </select>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                  
                <br>
                <table id="Table4" class="inputTable">
                    <tfoot>
                        <tr>
                            <td width="530">
                                <input name="btnSearch" onclick="searchForm()" value="Search"  type="submit">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input name="btnLogin" onclick="loadContentPage('CRM0602b')" value="New Committee Panel" type="submit">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
   
                        </tr>
                    
                    </tfoot>
                </table>
                <br>
  










                <table id="CRMHideDiv" class="resultTable hide">
                    <thead>
                        <tr class="grid-header" style="height:19px;">
                            <th width="400">Panel</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0602a")'>CRC</a></td>
                            <td>2017</td>

                        </tr>

                        <tr align="center">
                            <td colspan="14">

                                &lt; Prev

                                &nbsp;

                                Next &gt;

                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>