
    <table class="inputTable">
        <tbody>
            <tr>
                <td colspan="4" style="vertical-align:middle;background:#CCC" "=" ">
                    <label>
                        <input name="searchMemberSelection" value="M" checked="checked" onclick="setSearch(this.value)" id="searchMemberSelectionM" type="radio">
                        By Old Panel
                    </label>
                    &nbsp;
                </td>
            </tr>

                            <tr>
                                <td colspan="4" style="vertical-align:middle; font-weight:bold">Please select  :</td>
                            </tr>

                            <tr>
                                <th>Panel :</th>
                                <td>
                                    <select name="searchOldPanel" id="searchOldPanel" style="width:auto" class="inputSelectNoWidth">
                                        <option value="" selected="selected">- Select -</option>
                                        <option value="8a85932a25bfa01a0125bfa01a150000">CRC</option>
                                        <option value="8a85932a25bfa01a0125bfa01a150001">APRC</option>
                                        <option value="8a85932a25bfa01a0125bfa01a250002">SERC</option>
                                        <option value="8a85932a25bfa01a0125bfa01a250003">GERC</option>
                                        <option value="8a8593493290225f013290296d410002">IRC</option>
                                        <option value="8a85932a25bfa01a0125bfa01a250004">MWCRC</option>
                                    </select>
                                </td>
                                <td>Year :</td>
                                <td>


                                    <select name="searchOldYear" id="searchOldYear" style="width:auto">
                                        <option value="0">- Select -</option>

                                        <option value="2019">2019</option>

                                        <option value="2018">2018</option>

                                        <option value="2017">2017</option>

                                        <option value="2016">2016</option>

                                        <option value="2015">2015</option>

                                        <option value="2014">2014</option>

                                        <option value="2013">2013</option>

                                        <option value="2012">2012</option>

                                        <option value="2011">2011</option>

                                        <option value="2010">2010</option>

                                        <option value="2009">2009</option>

                                        <option value="2008">2008</option>
                                    </select>
                                </td>
                            </tr>


                        </tbody>
                    </table>
          
                    <table class="inputTable">

                        <tbody>
                            <tr>
                                <th>Surname :</th>
                                <td><input name="searchSurname" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" id="searchSurname" style="width:100px;" class="inputText" disabled="" type="text"></td>
                                <th>Given Name :</th>
                                <td><input name="searchGivenName" maxlength="8" value="" onkeydown="enterToSubmit(searchForm, this, event)" id="searchGivenName" style="width:100px;" class="inputText" disabled="" type="text"></td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <input name="btnSearch" value="Search" onclick="searchForm()" id="btnSearch" accesskey="S"  type="button">
                                </td>
                            </tr>
                        </tfoot>
                    </table>
       
    <div style="padding:5px">
       
    </div>
    <table class="resultTable hide" id="CRMHideDiv">
        <thead>
            <tr class="grid-header">
                <th><input name="dgList:_ctl1:checkAll" id="dgList__ctl1_checkAll" onclick="CheckAll(this);" value="ON" type="checkbox"></th>
                <th width="200">Name</th>
                <th width="100">Rank</th>
                <th width="100">Post</th>
                <th width="100">Career</th>

            </tr>
        </thead>
        <tbody>

            <tr class="grid-alt-item">

                <td>
                    <input name="selectedSearchMemberList" id="selectedSearchMemberList_0" type="checkbox" value="ff8080812506cddc01250a5584f4006a">
                </td>
                <td>AU xx xx</td>
                <td>CRC PANEL</td>
                <td>SENIOR CONSTRUCTION MANAGER</td>
                <td></td>



            </tr>

            <tr>

                <td>
                    <input name="selectedSearchMemberList" id="selectedSearchMemberList_1" type="checkbox" value="ff8080812506cddc01250a63c67d0082">
                </td>
                <td>AU xx xx </td>
                <td>CRC PANEL</td>
                <td>DIRECTOR</td>
                <td></td>



            </tr>

            <tr class="grid-alt-item">

                <td>
                    <input name="selectedSearchMemberList" id="selectedSearchMemberList_2" type="checkbox" value="8a8591a22da30f20012da7514fd54035">
                </td>
                <td>AU xx xx</td>
                <td>CRC PANEL</td>
                <td>Architect</td>
                <td></td>



            </tr>

            <tr>

                <td>
                    <input name="selectedSearchMemberList" id="selectedSearchMemberList_3" type="checkbox" value="8a8591a236066f5e013610a121935e7b">
                </td>
                <td>AU xx xx</td>
                <td>IRC Panel</td>
                <td>Managing Director</td>
                <td></td>



            </tr>

            <tr class="grid-alt-item">

                <td>
                    <input name="selectedSearchMemberList" id="selectedSearchMemberList_4" type="checkbox" value="8a8591a22da30f20012da6c4ed3528e4">
                </td>
                <td>AU xx xx</td>
                <td>CRC PANEL</td>
                <td>Assistant Project Manager</td>
                <td></td>



            </tr>

            <tr>

                <td>
                    <input name="selectedSearchMemberList" id="selectedSearchMemberList_5" type="checkbox" value="8a8591a24a719bef014a75171d7637c0">
                </td>
                <td>AU xx xx</td>
                <td>2015-2016 CRC Panel</td>
                <td>Contracts Manager</td>
                <td></td>



            </tr>


        </tbody>
    </table>

  		


























<script>
function savePanel(){
	if (!dateValid()){
		return;
	}
	thisForm = document.getElementById('CommitteeMaintenanceForm');
	
	
		thisForm.searchPanel.disabled = false;
		thisForm.searchYear.disabled = false;
	
	thisForm.action = 'committeeMaintenance.do?method=SavePanel'
	thisForm.submit();
}	

function deleteMemberInList(uuid){
	if (confirm('Are you sure you want to delete this member?')){
		thisForm = document.getElementById('CommitteeMaintenanceForm');
		thisForm.searchPanel.disabled = false;
		thisForm.searchYear.disabled = false;
	
		thisForm.action = 'committeeMaintenance.do?method=DeleteMemberInList&uuid1='+uuid;
		thisForm.submit();
	}
}

function cancel(){
	thisForm = document.getElementById('CommitteeMaintenanceForm');
	thisForm.action = 'committeeMaintenance.do?method=CommitteePanelCancel'
	thisForm.submit();
}	

</script>

<input name="editMode" value="edit" class="hidden" type="hidden">
<input name="searchCommitteeSelectedCommitteePanelId" value="8a8591a25756803001592441743e6017" class="hidden" type="hidden">

<input name="searchPanelForReload" value="8a85932a25bfa01a0125bfa01a150000" id="searchPanelForReload" type="hidden">
<input name="searchYearForReload" value="2017" id="searchYearForReload" type="hidden">
<input name="currentPage" value="0" id="currentPage" type="hidden">

<div id="CRMHideDiv" class="hide">

<table class="grid" rules="all" id="dgList" style="border-color:LightGrey;border-collapse:collapse;" cellspacing="0" cellpadding="3" bordercolor="LightGrey" border="1"> 
			    <tbody><tr class="grid-header" style="height:19px;"> 
			     <td><input name="dgList:_ctl1:checkAll" id="dgList__ctl1_checkAll" onclick="CheckAll(this);" value="ON" type="checkbox"></td>
			     <td width="200">Name</td> 
			     <td width="100">Rank</td> 
			     <td width="100">Post</td> 
			     <td width="100">Career</td> 
 			
			    </tr> 
			    
					<tr class="grid-alt-item">
				
			       <td>
			       <input name="selectedSearchMemberList" id="selectedSearchMemberList_0" value="ff8080812506cddc01250a5584f4006a" type="checkbox">
			       </td> 
			       <td>AU Choi Wa</td> 
			       <td>CRC PANEL</td> 
			       <td>SENIOR CONSTRUCTION MANAGER</td> 
			       <td></td> 
			      
			      
			
			    </tr> 
			    
			       	<tr>
		    	 
			       <td>
			       <input name="selectedSearchMemberList" id="selectedSearchMemberList_1" value="ff8080812506cddc01250a63c67d0082" type="checkbox">
			       </td> 
			       <td>AU Chung Leung Joanlin</td> 
			       <td>CRC PANEL</td> 
			       <td>DIRECTOR</td> 
			       <td></td> 
			      
			      
			
			    </tr> 
			    
					<tr class="grid-alt-item">
				
			       <td>
			       <input name="selectedSearchMemberList" id="selectedSearchMemberList_2" value="8a8591a22da30f20012da7514fd54035" type="checkbox">
			       </td> 
			       <td>AU Kin Tung</td> 
			       <td>CRC PANEL</td> 
			       <td>Architect</td> 
			       <td></td> 
			      
			      
			
			    </tr> 
			    
			 
			    
			    
			    
			    <!-- 
			    <tr align="center"> 
			      <td colspan="14">
			      
			      	&lt; Prev
			      
			      &nbsp;
			      
			      	<a href="javascript:setNextPage();">Next &gt;</a>
			      
			      </td> 
			    </tr> 
			    -->
			</tbody></table>

</div>




<table class="inputTable">

    <thead>
        <tr>
            <th colspan="4"><div class="title3">Member List</div></th>
        </tr>




        <tr>
            <t colspan="4" style="vertical-align:middle; font-weight:bold">Please assign  :</t>
        </tr>

    </thead>

    <tbody>
        <tr>
            <th>Panel :</th>
            <td>
                <select name="searchPanel" disabled="disabled" id="searchPanel" style="width:auto" class="inputSelectNoWidth">
                    <option value="">- Select -</option>
                    <option value="8a85932a25bfa01a0125bfa01a150000" selected="selected">CRC</option>
                    <option value="8a85932a25bfa01a0125bfa01a150001">APRC</option>
                    <option value="8a85932a25bfa01a0125bfa01a250002">SERC</option>
                    <option value="8a85932a25bfa01a0125bfa01a250003">GERC</option>
                    <option value="8a8593493290225f013290296d410002">IRC</option>
                    <option value="8a85932a25bfa01a0125bfa01a250004">MWCRC</option>
                </select>
            </td>
            <th>Year :</th>
            <td>


                <select name="searchYear" disabled="disabled" id="searchYear" style="width:auto;">
                    <option value="2019">2019</option>

                    <option value="2018">2018</option>

                    <option selected="selected" value="2017">2017</option>

                    <option value="2016">2016</option>

                    <option value="2015">2015</option>

                    <option value="2014">2014</option>

                    <option value="2013">2013</option>

                    <option value="2012">2012</option>

                    <option value="2011">2011</option>

                    <option value="2010">2010</option>

                    <option value="2009">2009</option>

                    <option value="2008">2008</option>
                </select>

            </td>
        </tr>

        <tr>
            <th>Expiry Date: (dd/mm/yyyy)</th>
            <td colspan="3">
                <input name="panelExpiryDate" maxlength="10" value="31/12/2018" onblur="checkDate(this)" id="panelExpiryDate"class="inputDate" type="text">
                <span id="err_panelExpiryDate" class="err" style="color:Red;display:none;">Invalid date</span>
            </td>
        </tr>
    </tbody>
</table>
                <br>
                <div id="pnlMain">

                    <table class="resultTable" id="dgList">
                        <thead>
                            <tr class="grid-header" >
                                <th>Name</th>
                                <th>HKID/Passport No</th>
                                <th>Rank</th>
                                <th>Post</th>
                                <th>Career</th>
                                <th>Role</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="grid-alt-item">

                                <td nowrap="nowrap">AU xx xx</td>

                                <td>D500740(3)</td>

                                <td>2017-2018 CRC Panel</td>
                                <td>Project Manager</td>
                                <td></td>
                                <td>
                                    <select name="searchCommitteeRoleSelectedList" id="searchCommitteeRoleSelectedList_<%=i%>" style="width:170px" class="inputSelectNoWidth">
                                        <option value="">- Select -</option>



                                        <option value="8a85932a25bfa01a0125bfa01af0014c" selected="">MEMBER</option>





                                        <option value="8a85932a25bfa01a0125bfa01af0014d">ALTERNATE MEMBER</option>
                                    </select>


                                </td>
                                <td><img style="cursor:pointer;" onclick="javascript:deleteMemberInList('8a8591a25756803001592534559009b9');" src="images/delete.gif" alt="Delete" border="0"></td>

                            </tr>

                            <tr>

                                <td nowrap="nowrap">CHAN xx xx </td>

                                <td>2016-BA3</td>

                                <td>SBS/Lit1</td>
                                <td>SBS/Lit1</td>
                                <td>2016-BA3, 2014-BA4, 2012-BA11</td>
                                <td>
                                    <select name="searchCommitteeRoleSelectedList" id="searchCommitteeRoleSelectedList_<%=i%>" style="width:170px" class="inputSelectNoWidth">
                                        <option value="">- Select -</option>



                                        <option value="8a85932a25bfa01a0125bfa01af0014c" selected="">MEMBER</option>





                                        <option value="8a85932a25bfa01a0125bfa01af0014d">ALTERNATE MEMBER</option>
                                    </select>


                                </td>
                                <td><img style="cursor:pointer;" onclick="javascript:deleteMemberInList('8a8591a2372c168d013772746bfa36a2');" src="images/delete.gif" alt="Delete" border="0"></td>

                            </tr>

                            <tr class="grid-alt-item">

                                <td nowrap="nowrap">CHAN xx xx</td>

                                <td>Kxxxxx(x)</td>

                                <td>2017-2018 CRC &amp; MWCRC Panel</td>
                                <td>Senior Property Manager</td>
                                <td></td>
                                <td>
                                    <select name="searchCommitteeRoleSelectedList" id="searchCommitteeRoleSelectedList_<%=i%>" style="width:170px" class="inputSelectNoWidth">
                                        <option value="">- Select -</option>



                                        <option value="8a85932a25bfa01a0125bfa01af0014c" selected="">MEMBER</option>





                                        <option value="8a85932a25bfa01a0125bfa01af0014d">ALTERNATE MEMBER</option>
                                    </select>


                                </td>
                                <td><img style="cursor:pointer;" onclick="javascript:deleteMemberInList('8a8591a2575680300159246f108f6f4d');" src="images/delete.gif" alt="Delete" border="0"></td>

                            </tr>

                            <tr>

                                <td nowrap="nowrap">CHAN xx xx</td>

                                <td>Kxxxxx(x)</td>
                                <td>2017-2018 CRC Panel</td>
                                <td>Senior Project Manager</td>
                                <td></td>
                                <td>
                                    <select name="searchCommitteeRoleSelectedList" id="searchCommitteeRoleSelectedList_<%=i%>" style="width:170px" class="inputSelectNoWidth">
                                        <option value="">- Select -</option>



                                        <option value="8a85932a25bfa01a0125bfa01af0014c" selected="">MEMBER</option>





                                        <option value="8a85932a25bfa01a0125bfa01af0014d">ALTERNATE MEMBER</option>
                                    </select>


                                </td>
                                <td><img style="cursor:pointer;" onclick="javascript:deleteMemberInList('8a8591a2575680300159253dc37c0bc6');" src="images/delete.gif" alt="Delete" border="0"></td>

                            </tr>

                            <tr class="grid-alt-item">

                                <td nowrap="nowrap">CHAN xx xx</td>

                                <td>Kxxxxx(x)</td>

                                <td>2017-2018 CRC Panel</td>
                                <td>Architect</td>
                                <td></td>
                                <td>
                                    <select name="searchCommitteeRoleSelectedList" id="searchCommitteeRoleSelectedList_<%=i%>" style="width:170px" class="inputSelectNoWidth">
                                        <option value="">- Select -</option>



                                        <option value="8a85932a25bfa01a0125bfa01af0014c" selected="">MEMBER</option>





                                        <option value="8a85932a25bfa01a0125bfa01af0014d">ALTERNATE MEMBER</option>
                                    </select>


                                </td>
                                <td><img style="cursor:pointer;" onclick="javascript:deleteMemberInList('8a8591a257568030015925664d580eae');" src="images/delete.gif" alt="Delete" border="0"></td>

                            </tr>

                            <tr>

                                <td nowrap="nowrap">CHAN xx xx</td>

                                <td>Kxxxxx(x)</td>

                                <td>2017-2018 CRC &amp; MWCRC Panel</td>
                                <td>Building Surveyor</td>
                                <td></td>
                                <td>
                                    <select name="searchCommitteeRoleSelectedList" id="searchCommitteeRoleSelectedList_<%=i%>" style="width:170px" class="inputSelectNoWidth">
                                        <option value="">- Select -</option>



                                        <option value="8a85932a25bfa01a0125bfa01af0014c">MEMBER</option>





                                        <option value="8a85932a25bfa01a0125bfa01af0014d" selected="">ALTERNATE MEMBER</option>
                                    </select>


                                </td>
                                <td><img style="cursor:pointer;" onclick="javascript:deleteMemberInList('8a8591a25756803001592509734a02ba');" src="images/delete.gif" alt="Delete" border="0"></td>

                            </tr>

                          

                            <tr class="grid-alt-item">

                                <td nowrap="nowrap">YUNG xx xx</td>

                                <td>Kxxxxx(x)</td>
                                <td>2017-2018 CRC Panel</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <select name="searchCommitteeRoleSelectedList" id="searchCommitteeRoleSelectedList_<%=i%>" style="width:170px" class="inputSelectNoWidth">
                                        <option value="">- Select -</option>



                                        <option value="8a85932a25bfa01a0125bfa01af0014c" selected="">MEMBER</option>





                                        <option value="8a85932a25bfa01a0125bfa01af0014d">ALTERNATE MEMBER</option>
                                    </select>


                                </td>
                                <td><img style="cursor:pointer;" onclick="javascript:deleteMemberInList('8a8591a24a719bef014a7554d05e40aa');" src="images/delete.gif" alt="Delete" border="0"></td>

                            </tr>

                        </tbody>
                    </table>
                    <br>
                </div>
            </td>
        </tr>



</tr>
      </tbody></table>
      <table class="inputTable">
          <tfoot>

              <tr>
                  <td class="editfooter">

                      <input name="btnSave" value="Save" onclick="loadContentPage('CRM0603')" id="btnSave" type="button">
                      &nbsp;

                      <input name="btnCancel" value="Cancel" id="btnCancel" onclick="loadContentPage('CRM0603')" type="button">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </td>
              </tr>
              <tr>
          </tfoot>
      </table>
      


