


                                <table class="inputTable">

                                    <tbody>
                                        <tr>
                                            <th width="120">Panel :</th>

                                            <td>

                                                <select name="searchPanel" id="searchPanel" style="width:auto" class="inputSelectNoWidth">
                                                    <option value="">- Select -</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a150000" selected="selected">CRC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a150001">APRC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a250002">SERC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a250003">GERC</option>
                                                    <option value="8a8593493290225f013290296d410002">IRC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a250004">MWCRC</option>
                                                </select>

                                                <select name="searchPanelShadow" id="searchPanelShadow" style="width: auto; position: absolute; display: none;" class="inputSelectNoWidth" disabled="">
                                                    <option value="">- Select -</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a150000" selected="selected">CRC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a150001">APRC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a250002">SERC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a250003">GERC</option>
                                                    <option value="8a8593493290225f013290296d410002">IRC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a250004">MWCRC</option>
                                                </select>
                                            </td>
                                            <th width="120">Year :</th>

                                            <td>

                                                <select name="searchYear" id="searchYear" style="width:auto;">
                                                    <option value="">- Select -</option>

                                                    <option value="2019">2019</option>

                                                    <option value="2018">2018</option>

                                                    <option selected="selected" value="2017">2017</option>

                                                    <option value="2016">2016</option>

                                                    <option value="2015">2015</option>

                                                    <option value="2014">2014</option>

                                                    <option value="2013">2013</option>

                                                    <option value="2012">2012</option>

                                                    <option value="2011">2011</option>

                                                    <option value="2010">2010</option>

                                                    <option value="2009">2009</option>

                                                    <option value="2008">2008</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th width="120">Committee :</th>

                                            <td>


                                                <select name="searchCommitteeType" id="searchCommitteeType" style="width:auto" class="inputSelectNoWidth">
                                                    <option value="" selected="selected">- Select -</option>























                                                    <option value="8a85932a25bfa01a0125bfa01a250008" title="8a85932a25bfa01a0125bfa01a150000">GBC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a350009" title="8a85932a25bfa01a0125bfa01a150000">SC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a35000a" title="8a85932a25bfa01a0125bfa01a150000">SC(D)</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a35000b" title="8a85932a25bfa01a0125bfa01a150000">SC(F)</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a35000c" title="8a85932a25bfa01a0125bfa01a150000">SC(GI)</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a35000d" title="8a85932a25bfa01a0125bfa01a150000">SC(SF)</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a35000e" title="8a85932a25bfa01a0125bfa01a150000">SC(V)</option>
                                                </select>

                                                <select name="searchCommitteeTypeShadow" id="searchCommitteeTypeShadow" style="width: 100px; position: absolute; display: none;" class="inputSelectNoWidth" disabled="">
                                                    <option value="" selected="selected">- Select -</option>

                                                    <option value="8a85932a25bfa01a0125bfa01a250008" title="8a85932a25bfa01a0125bfa01a150000">GBC</option>

                                                    <option value="8a85932a25bfa01a0125bfa01a350009" title="8a85932a25bfa01a0125bfa01a150000">SC</option>

                                                    <option value="8a85932a25bfa01a0125bfa01a35000a" title="8a85932a25bfa01a0125bfa01a150000">SC(D)</option>

                                                    <option value="8a85932a25bfa01a0125bfa01a35000b" title="8a85932a25bfa01a0125bfa01a150000">SC(F)</option>

                                                    <option value="8a85932a25bfa01a0125bfa01a35000c" title="8a85932a25bfa01a0125bfa01a150000">SC(GI)</option>

                                                    <option value="8a85932a25bfa01a0125bfa01a35000d" title="8a85932a25bfa01a0125bfa01a150000">SC(SF)</option>

                                                    <option value="8a85932a25bfa01a0125bfa01a35000e" title="8a85932a25bfa01a0125bfa01a150000">SC(V)</option>

                                                    <option value="8a85932a25bfa01a0125bfa01a250005" title="8a85932a25bfa01a0125bfa01a250002">SERC</option>

                                                    <option value="8a85932a25bfa01a0125bfa01a250006" title="8a85932a25bfa01a0125bfa01a250003">GERC</option>

                                                    <option value="8a8593493290225f0132902b644e0003" title="8a8593493290225f013290296d410002">IRC</option>

                                                    <option value="8a85932a25bfa01a0125bfa01a35000f" title="8a85932a25bfa01a0125bfa01a150001">APRC</option>

                                                    <option value="8a85932a25bfa01a0125bfa01a250007" title="8a85932a25bfa01a0125bfa01a250004">MWCRC</option>
                                                </select>
                                            </td>
                                            <td width="120"></td>

                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>

                <table class="inputTable">
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <input name="btnSearch" onclick="searchForm()" value="Search"  type="submit">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input name="btnLogin"  onclick="loadContentPage('CRM0602b')"  value="New Committee" type="submit">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                         
                        </tr>
                        <tr>
                            <td colspan="2"><span id="lblMsg" style="color:Crimson;"></span></td>
                        </tr>
                    </tfoot>
                </table>
                <br>
 
                <table id="CRMHideDiv" class="resultTable hide">
                    <thead>
                        <tr class="grid-header" style="height:19px;">
                            <th>Year</th>
                            <th width="400">Panel</th>
                            <th width="400">Committee Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2017</td>
                            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0603a")'>CRC</a></td>
                            <td>GBC</td>

                        </tr>

                        <tr>
                            <td>2017</td>
                            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0603a")'>CRC</a></td>
                            <td>SC</td>

                        </tr>

                        <tr>
                            <td>2017</td>
                            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0603a")'>CRC</a></td>
                            <td>SC(D)</td>

                        </tr>

                        <tr>
                            <td>2017</td>
                            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0603a")'>CRC</a></td>
                            <td>SC(F)</td>

                        </tr>

                        <tr>
                            <td>2017</td>
                            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0603a")'>CRC</a></td>
                            <td>SC(GI)</td>

                        </tr>

                        <tr>
                            <td>2017</td>
                            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0603a")'>CRC</a></td>
                            <td>SC(SF)</td>

                        </tr>

                        <tr>
                            <td>2017</td>
                            <td style="font-size:8pt;"><a href='javascript:loadContentPage("CRM0603a")'>CRC</a></td>
                            <td>SC(V)</td>

                        </tr>


                    </tbody>
                </table>
                </div>
