@model MWMS2.Areas.Signboard.Models.SignboardRecordCommonDisplayModel
@if (Model.B_SV_VALIDATION.B_SV_RECORD.UUID != null && Model.B_SV_VALIDATION.B_SV_RECORD.UUID != null)
{
    <div class="w3-row" align="right">
        Last Modified Date: @Html.DisplayFor(model => model.B_SV_VALIDATION.B_SV_RECORD.MODIFIED_DATE)
    </div>
    <div class="w3-row" align="right">
        Last Modified by: @Html.DisplayFor(model => model.B_SV_VALIDATION.B_SV_RECORD.MODIFIED_BY)
    </div>
}