
                                    <table id="Table10" class="inputTable">
                                        <tbody>
                                            <tr>
                                                <th >File Reference :</th>
                                                <td colspan="3">
                                                    <input type="text" name="displayFileNumber" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:170px;" class="inputText">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th >HKID :</th>
                                                <td >
                                                    <input type="text" name="displayHkid" maxlength="20" value="" style="width:168px;" class="inputText">
                                                </td>
                                                <th >Passport No. :</th>
                                                <td>
                                                    <input type="text" name="displayPassport" maxlength="20" value="" style="width:168px;" class="inputText">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th >Surname :</th>
                                                <td >

                                                    <input type="text" name="displaySurname" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">


                                                </td>
                                                <th style="WIDTH: 92px">Given Name :</th>
                                                <td>
                                                    <input type="text" name="displayGivenname" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th >Chinese Name :</th>
                                                <td colspan="3">

                                                    <input type="text" name="displayChinesename" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">


                                                </td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <input type="button" name="btnSearch" onclick="searchForm()" value="Search">
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                 
                    <br>
                















                    <table id="CRMHideDiv" class="resultTable hide">
                        <thead>
                            <tr class="grid-header">
                                <th>              File Ref.</th>
                                <th>      Category</th>
                                <th nowrap="nowrap" style="width:150px;">Name</th>
                                <th>          Chinese Name</th>
                                <th>              Reg. No.</th>
                                <th>          Date of Gazette</th>
                                <th>      Date of Expiry</th>
                                <th>          Date of Retention</th>
                                <th>                  Date of Restoration</th>
                                <th>      Status</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr class="grid-alt-item">


                                <td><a href='javascript:loadContentPage("CRM0305a")'>R 1/01</a></td>
                                <td>AP(A)</td>
                                <td>NG xx xx</td>
                                <td>吳xx</td>
                                <td>AP(A) 1/01</td>
                                <td>06/07/2001</td>
                                <td>05/07/2020</td>
                                <td>05/07/2015</td>
                                <td></td>
                                <td>Active</td>
                            </tr>

                            <tr>


                                <td><a href='javascript:loadContentPage("CRM0305a")'>R 1/02</a></td>
                                <td>AP(A)</td>
                                <td>CHAU xx xx</td>
                                <td>周xx</td>
                                <td>AP(A) 1/02</td>
                                <td>21/06/2002</td>
                                <td>20/06/2020</td>
                                <td>20/06/2015</td>
                                <td></td>
                                <td>Active</td>
                            </tr>

                            <tr class="grid-alt-item">


                                <td><a href='javascript:loadContentPage("CRM0305a")'>R 1/03</a></td>
                                <td>AP(E)</td>
                                <td>SHEK xx xx</td>
                                <td>石xx</td>
                                <td>AP(E) 1/03</td>
                                <td>13/05/2005</td>
                                <td>12/05/2020</td>
                                <td>12/05/2015</td>
                                <td>13/05/2010</td>
                                <td>Active</td>
                            </tr>

                            <tr>


                                <td><a href='javascript:loadContentPage("CRM0305a")'>R 1/03</a></td>
                                <td>RSE</td>
                                <td>SHEK xx xx</td>
                                <td>石xx</td>
                                <td>RSE 1/03</td>
                                <td>07/06/2004</td>
                                <td>06/06/2020</td>
                                <td>06/06/2015</td>
                                <td>07/06/2004</td>
                                <td>Active</td>
                            </tr>

                            <tr class="grid-alt-item">


                                <td><a href='javascript:loadContentPage("CRM0305a")'>R 1/04</a></td>
                                <td>RSE</td>
                                <td>CHENG xx xx</td>
                                <td>鄭xx</td>
                                <td>RSE 1/04</td>
                                <td>16/04/2004</td>
                                <td>18/04/2020</td>
                                <td>18/04/2015</td>
                                <td>19/04/2010</td>
                                <td>Active</td>
                            </tr>

                            <tr>


                                <td><a href='javascript:loadContentPage("CRM0305a")'>R 1/05</a></td>
                                <td>AP(A)</td>
                                <td>WONG xx xx </td>
                                <td>黃xx</td>
                                <td>AP(A) 1/05</td>
                                <td>06/05/2005</td>
                                <td>05/05/2020</td>
                                <td>05/05/2015</td>
                                <td>06/05/2010</td>
                                <td>Active</td>
                            </tr>

                            <tr class="grid-alt-item">


                                <td><a href='javascript:loadContentPage("CRM0305a")'>R 1/06</a></td>
                                <td>AP(A)</td>
                                <td>LEE xx xx</td>
                                <td>李xx</td>
                                <td>AP(A) 1/06</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Application in progress</td>
                            </tr>

                            <tr>


                                <td><a href='javascript:loadContentPage("CRM0305a")'>R 1/07</a></td>
                                <td>AP(A)</td>
                                <td>LEUNG xx xx </td>
                                <td>梁xx</td>
                                <td>AP(A) 1/07</td>
                                <td>29/06/2007</td>
                                <td>28/06/2022</td>
                                <td>28/06/2017</td>
                                <td></td>
                                <td>Active</td>
                            </tr>

                            <tr class="grid-alt-item">


                                <td><a href='javascript:loadContentPage("CRM0305a")'>R 1/08</a></td>
                                <td>AP(S)</td>
                                <td>YU xx xx </td>
                                <td>余xx</td>
                                <td>AP(S) 1/08</td>
                                <td>30/05/2008</td>
                                <td>29/05/2018</td>
                                <td>29/05/2013</td>
                                <td></td>
                                <td>Active</td>
                            </tr>

                            <tr>


                                <td><a href='javascript:loadContentPage("CRM0305a")'>R 1/08</a></td>
                                <td>RI(S)</td>
                                <td>YU xx xx </td>
                                <td>余xx</td>
                                <td>RI(S) 1/08</td>
                                <td>21/02/2014</td>
                                <td>21/02/2019</td>
                                <td></td>
                                <td></td>
                                <td>Active</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>


                        </tbody>
                    </table>
                        </div>

