
                                    <table id="Table10" class="inputTable">
                                        <tbody>
                                            <tr>
                                                <th >File Reference :</th>
                                                <td colspan="3">
                                                    <input type="text" name="displayFileNumber" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:170px;" class="inputText">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th >HKID :</th>
                                                <td >
                                                    <input type="text" name="displayHkid" maxlength="20" value="" style="width:168px;" class="inputText">
                                                </td>
                                                <th >Passport No. :</th>
                                                <td>
                                                    <input type="text" name="displayPassport" maxlength="20" value="" style="width:168px;" class="inputText">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th >Surname :</th>
                                                <td>
                                                    <input type="text" name="displaySurName" maxlength="150" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">
                                                </td>
                                                <th >Given Name :</th>
                                                <td>
                                                    <input type="text" name="displayGivenName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th >Chinese Name :</th>
                                                <td colspan="3">
                                                    <input type="text" name="displayChineseName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>

                                            <tr>
                                                <td colspan="4">
                                                    <input type="button" name="btnSearch" onclick="searchForm()" value="Search" >
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
       
                    <br>
             



                    <table id="CRMHideDiv" class="resultTable hide">
                        <thead>
                            <tr>
                                <th><input name="checkBoxSelect" id="checkBoxSelect" type="checkbox" onclick="CheckAll(this);"></th>
                                <th>             File Ref.</th>
                                <th>                             HKID/ Passport No.</th>
                                <th>                 Name</th>
                                <th>                 Chinese Name                              </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="grid-alt-item">

                                <td>
                                    <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_0" type="checkbox" value="8a85932a25bfbaca0125bfbaca7b0002">
                                </td>

                                <td>R 1/01</td>
                                <td>Yxxxxx(0)</td>
                                <td>NG xx xx</td>
                                <td>吳xx</td>
                            </tr>

                            <tr>

                                <td>
                                    <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_1" type="checkbox" value="8a85932a25bfbaca0125bfbaca7b0003">
                                </td>

                                <td>R 1/02</td>
                                <td>Yxxxxx(0)</td>
                                <td>CHAU xx xx</td>
                                <td>周xx</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td>
                                    <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_2" type="checkbox" value="8a85932a25bfbaca0125bfbaca8b0004">
                                </td>

                                <td>R 1/03</td>
                                <td>Yxxxxx(0)</td>
                                <td>SHEK xx xx</td>
                                <td>石xx</td>
                            </tr>

                            <tr>

                                <td>
                                    <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_3" type="checkbox" value="8a85932a25bfbaca0125bfbaca8b0005">
                                </td>

                                <td>R 1/04</td>
                                <td>Yxxxxx(0)</td>
                                <td>CHENG xx xx</td>
                                <td>鄭xx</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td>
                                    <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_4" type="checkbox" value="8a85932a25bfbaca0125bfbaca8b0006">
                                </td>

                                <td>R 1/05</td>
                                <td>Yxxxxx(0)</td>
                                <td>WONG xx xx </td>
                                <td>黃xx</td>
                            </tr>

                            <tr>

                                <td>
                                    <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_5" type="checkbox" value="8a85932a25bfbaca0125bfbaca8b0007">
                                </td>

                                <td>R 1/06</td>
                                <td>Yxxxxx(0)</td>
                                <td>LEE xx xx</td>
                                <td>李xx</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td>
                                    <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_6" type="checkbox" value="8a85932a25bfbaca0125bfbaca8b0008">
                                </td>

                                <td>R 1/07</td>
                                <td>Yxxxxx(0)</td>
                                <td>LEUNG xx xx </td>
                                <td>梁xx</td>
                            </tr>

                            <tr>

                                <td>
                                    <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_7" type="checkbox" value="8a85932a25bfbaca0125bfbaca8b0009">
                                </td>

                                <td>R 1/08</td>
                                <td>Yxxxxx(0)</td>
                                <td>YU xx xx </td>
                                <td>余xx</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td>
                                    <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_8" type="checkbox" value="8a85932a25bfbaca0125bfbaca8b000a">
                                </td>

                                <td>R 1/09</td>
                                <td>Yxxxxx(0)</td>
                                <td>LEE xx xx </td>
                                <td>李xx</td>
                            </tr>

                            <tr>

                                <td>
                                    <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_9" type="checkbox" value="8a8591a2260d9eef01261aec71c9000a">
                                </td>

                                <td>R 1/10</td>
                                <td>Yxxxxx(0)</td>
                                <td>WONG xx xx</td>
                                <td>黃xx</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>


                        </tbody>

                    </table>
                        <br>
                        Select one or more applications you want to update, then click &nbsp;
                        <input type="button" name="btnUpdate" value="Update Details..." id="btnUpdate" onclick="loadContentPage('CRM0304a')">
                        <br>
                    </div>
                   





    