

<table id="Table5" class="inputTable">
    <tbody>
        <tr>
            <th style="WIDTH: 112px">Category :</th>
            <td>

               <select style="width:auto">
                    <option value="" selected="selected">- ALL -</option>
                    <option value="AP(A)">AP(A)</option>
                    <option value="AP(E)">AP(E)</option>
                    <option value="AP(S)">AP(S)</option>
                    <option value="RGE">RGE</option>
                    <option value="RI(A)">RI(A)</option>
                    <option value="RI(E)">RI(E)</option>
                    <option value="RI(S)">RI(S)</option>
                    <option value="RSE">RSE</option>
                </select>
            </td>
        </tr>
        <tr>

            <th style="WIDTH: 112px">PNAP :</th>



            <td>

               <select style="width:auto" name="pnrcUUID" id="pnrcUUID" class="inputSelectNoWidth">
                    <option value="">- ALL -</option>
                    <option value="8a8591a23832afa201384fdfebf435e9">BY SMS</option>
                    <option value="8a85932a25bf9e120125bf9e12bc0003">BY EMAIL</option>
                    <option value="8a8591a23832afa201384fe0187035ea">NOT WISH</option>
                    <option value="8a85932a25bf9e120125bf9e12bc0004">N/A</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
 
                <br>
                <table id="CRM0307aTable" class="inputTable">
                    <thead>
                        <tr>
                            <th class="grid-header">Select Data to Export</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" name="selectONE" value="on" class="inputCheckbox">
                                <label for="chkOffTel"> Telephone Nos. &amp; Email &amp; Fax Nos.</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="selectTWO" value="on" class="inputCheckbox">
                                <label for="chkAddr">Emergency Nos.</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="selectTHREE" value="on" class="inputCheckbox">
                                <label for="chkBS">Correspondence Address, PNAP</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="selectFour" value="on" class="inputCheckbox">
                                <label for="chkBS">Building Safety (includes address, telephone nos, remark notes)</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="selectFive" value="on" class="inputCheckbox">
                                <label for="chkBS">PRB Qualification</label>
                            </td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td width="268">
                                <input type="button" name="btnExport" value="Export" onclick="exportExcel('CRM0307aTable')" id="btnExport">
                                &nbsp;&nbsp;
                                <input type="button" name="btnCancel" value="Finish" onclick="loadContentPage('CRM0307')" id="btnCancel">
                            </td>
                            </tr>

                    </tfoot>
                </table>
                <br>
               