
                                    <table id="Table10" class="inputTable">
                                        <tbody>
                                            <tr>
                                                <th >File Reference :</th>
                                                <td colspan="3">
                                                    <input type="text" name="displayFileNumber" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" id="displayFileNumber" style="width:170px;" class="inputText">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th >HKID :</th>
                                                <td >
                                                    <input type="text" name="displayHkid" maxlength="20" value="" id="displayHkid" style="width:168px;" class="inputText">
                                                </td>
                                                <th >Passport No. :</th>
                                                <td>
                                                    <input type="text" name="displayPassport" maxlength="20" value="" id="displayPassport" style="width:168px;" class="inputText">
                                                </td>
                                            </tr>
                                            <tr></tr>
                                            <tr>
                                                <th >Surname :</th>
                                                <td style="WIDTH: 266px">
                                                    <input type="text" name="displaySurName" maxlength="40" value="a" onkeydown="enterToSubmit(searchForm, this, event)" id="displaySurName" style="width:240px;" class="inputText">
                                                </td>
                                                <th style="WIDTH: 92px">Given Name :</th>
                                                <td>
                                                    <input type="text" name="displayGivenName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" id="displayGivenName" style="width:240px;" class="inputText">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th >Chinese Name :</th>
                                                <td colspan="3">
                                                    <input type="text" name="displayChineseName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" id="displayChineseName" style="width:240px;" class="inputText">
                                                </td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <input type="button" name="btnSearch" onclick="searchForm()" value="Search">
                                                </td>

                                            </tr>
                                        </tfoot>
                                    </table>
                
                    <br>
                















                    <table id="CRMHideDiv" class="resultTable hide">
                        <thead>
                            <tr class="grid-header" style="height:19px;">
                                <th>&nbsp;</th>
                                <th>                     File Ref.</th>
                                <th>         Name</th>
                                <th>         Category Code</th>
                                <th>         Received Date</th>
                                <th>         Under Monitor</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="grid-alt-item">

                                <td><a href='javascript:loadContentPage("CRM0306a")' >EDIT</a></td>
                                <td>R 1/83</td>
                                <td>AU xx xx </td>
                                <td>AP(A)</td>
                                <td>11/03/2015</td>
                                <td>Yes</td>
                            </tr>

                            <tr>

                                <td><a href='javascript:loadContentPage("CRM0306a")'>NEW</a></td>
                                <td>R 1/83</td>
                                <td>AU xx xx</td>
                                <td>AP(A)</td>
                                <td></td>
                                <td>No</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td><a href='javascript:loadContentPage("CRM0306a")'>EDIT</a></td>
                                <td>R 12/96</td>
                                <td>AU xx xx</td>
                                <td>AP(A)</td>
                                <td>02/06/2015</td>
                                <td>Yes</td>
                            </tr>

                            <tr>

                                <td><a href='javascript:loadContentPage("CRM0306a")'>NEW</a></td>
                                <td>R 12/96</td>
                                <td>AU xx xx</td>
                                <td>AP(A)</td>
                                <td></td>
                                <td>No</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td><a href='javascript:loadContentPage("CRM0306a")'>EDIT</a></td>
                                <td>R 133/12</td>
                                <td>AU YEUNG xx xx</td>
                                <td>AP(A)</td>
                                <td>22/02/2017</td>
                                <td>Yes</td>
                            </tr>

                            <tr>

                                <td><a href='javascript:loadContentPage("CRM0306a")'>EDIT</a></td>
                                <td>R 133/12</td>
                                <td>AU YEUNG xx xx</td>
                                <td>AP(A)</td>
                                <td>08/01/2016</td>
                                <td>Yes</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td><a href='javascript:loadContentPage("CRM0306a")'>EDIT</a></td>
                                <td>R 133/12</td>
                                <td>AU YEUNG xx xx</td>
                                <td>AP(A)</td>
                                <td>14/02/2014</td>
                                <td>Yes</td>
                            </tr>

                            <tr>

                                <td><a href='javascript:loadContentPage("CRM0306a")'>EDIT</a></td>
                                <td>R 133/12</td>
                                <td>AU YEUNG xx xx</td>
                                <td>AP(A)</td>
                                <td>10/07/2012</td>
                                <td>Yes</td>
                            </tr>

                            <tr class="grid-alt-item">

                                <td><a href='javascript:loadContentPage("CRM0306a")'>NEW</a></td>
                                <td>R 133/12</td>
                                <td>AU YEUNG xx xx</td>
                                <td>AP(A)</td>
                                <td></td>
                                <td>No</td>
                            </tr>

                            <tr>

                                <td><a href='javascript:loadContentPage("CRM0306a")'>EDIT</a></td>
                                <td>R 14/03</td>
                                <td>AU xx xx</td>
                                <td>AP(A)</td>
                                <td>06/05/2015</td>
                                <td>Yes</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>


                        </tbody>
                    </table>

</div>


