<table class="inputTable"><tbody>
    
    <tr><th>Batch Upload :</th> <td> <input type="file"/></td></tr>
    <tr>

     <td colspan="2"><a href="img/CRM0314.xlsx" download="">Sample Excel</a>
         </td></tr></tbody></table>


<table class="resultTable">

    <thead>
        <tr>
            <th colspan="2">Upload history</th>
        </tr>
        <tr><th>Excel File</th><th>Upload Date</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="img/CRM0314.xlsx" download="">sample.xlsx</a>
            </td>
            <td>
                01/10/2018
            </td>
        </tr>
        <tr>
            <td>
                <a href="img/CRM0314.xlsx" download="">sample.xlsx</a>
            </td>
            <td>
                11/2/2018
            </td>
        </tr>
    </tbody>
</table>