
			
			
		
						<table id="Table6" class="inputTable">
							<tbody>
							<tr>
								<th style="WIDTH: 112px">File Reference :</th>
								<td width="488">R 1/01</td>
							</tr>
							<tr>
								<th style="WIDTH: 112px">HKID / Passport No. :</th>
								<td width="488">K203538(3)</td>
							</tr>
							<tr>
								<th style="WIDTH: 112px">Name :</th>
								<td width="488">NG Lai Ki</td>
							</tr>
							<tr>
								<th style="WIDTH: 112px">Title :</th>
								<td width="488">NG</td>
								
							</tr>
                            <tr>
                                <th style="WIDTH: 112px">Sex :</th>
                                <td width="488">F</td>
                            </tr>
						</tbody></table>
                        <table class="resultTable" id="dgList">
                            <thead>
                                <tr class="grid-header" style="height:19px;">
                                    <th>
                                        <input name="dgAppts:_ctl1:checkAll" id="dgAppts__ctl1_checkAll" onclick="CheckAll(this);" type="checkbox">
                                    </th>
                                    <th>Candidate No.</th>
                                    <th>Category Code</th>
                                </tr>
                                </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>19040</td>
                                    <td>AP(A)</td>
                                </tr>

                            </tbody>    
                        </table>
			
			<table class="inputTable">		
                <tfoot>
                    <tr>
                        <td class="editfooter" height="32">


                            <input name="btnSave" value="Generate Candidate No" onclick="loadContentPage('CRM0310')" id="btnSAve" accesskey="S"  type="button">
                            &nbsp;

                            <input name="btnCancel" value="Back" id="btnCancel" accesskey="C" onclick="loadContentPage('CRM0310')" type="button">
                        </td>
                    </tr>
                </tfoot>
    </table>