
                                                    <table class="inputTable">
                                                        <tbody>
                                                            <tr>
                                                                <th >File Ref. :</th>
                                                                <td colspan="3" >
                                                                    <input type="text" name="searchFileReference" maxlength="20" value="" style="width:169px;" class="inputText">
                                                                </td>
                                                             </tr>
                                                            <tr>
                                                                <th >HKID :</th>
                                                                <td >
                                                                    <input type="text" name="searchHKId" maxlength="20" value="" style="width:168px;" class="inputText">
                                                                </td>
                                                                <th>Passport No. :</th>
                                                                <td>
                                                                    <input type="text" name="searchPassportNo" maxlength="20" value="" style="width:168px;" class="inputText">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th >Surname :</th>
                                                                <td >
                                                                    <input type="text" name="searchSurname" maxlength="20" value="" style="width:240px;" class="inputText">
                                                                </td>
                                                                <th>Given Name :</th>
                                                                <td>
                                                                    <input type="text" name="searchGivenName" maxlength="40" value="" style="width:240px;" class="inputText">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th >Chinese Name :</th>
                                                                <td colspan="3" >
                                                                    <input type="text" name="searchChineseName" maxlength="20" value="" style="width:240px;" class="inputText">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="4">
                                                                    <input type="submit" name="btnSearch" onclick="searchForm()" value="Search" >
                                                                    <input type="submit" name="btnLogin" onclick="loadContentPage('CRM0301b')" value="New Application">

                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                
                                  
                                                    <table id="CRMHideDiv" class="resultTable hide">
                                                        <thead>
                                                            <tr>

                                                                <!--td>&nbsp;</td-->

                                                                <th nowrap="nowrap">File Ref.</th>
                                                                <th nowrap="nowrap">   HKID /<br>Passport No.</th>
                                                                <th>    Name</th>
                                                                <th>Chinese Name</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>

                                                                <!--td style="font-size:8pt;"><a href="javascript:newApp('8a85932a25bfbaca0125bfbaca7b0002')">New</a></td-->
                                                                <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0302a')">R 1/01</a></td>

                                                                <td>
                                                                    K2xxxxx(x)
                                                                    <a href='javascript:loadContentPage("CRM0301a")'>
                                                                        <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                                                    </a>
                                                                </td>
                                                                <td>NG xx xx</td>
                                                                <td>吳xx</td>
                                                            </tr>

                                                            <tr>

                                                                <!--td style="font-size:8pt;"><a href="javascript:newApp('8a85932a25bfbaca0125bfbaca7b0003')">New</a></td-->
                                                                <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0302a')">R 1/02</td>

                                                                <td>
                                                                    K2xxxxx(x)
                                                                    <a href='javascript:loadContentPage("CRM0301a")'>
                                                                        <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                                                    </a>
                                                                </td>
                                                                <td>CHAU xx xx</td>
                                                                <td>周xx</td>
                                                            </tr>

                                                            <tr>

                                                                <!--td style="font-size:8pt;"><a href="javascript:newApp('8a85932a25bfbaca0125bfbaca8b0004')">New</a></td-->
                                                                <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0302a')">R 1/03</td>

                                                                <td>
                                                                    K2xxxxx(x)
                                                                    <a href='javascript:loadContentPage("CRM0301a")'>
                                                                        <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                                                    </a>
                                                                </td>
                                                                <td>SHEK xx xx</td>
                                                                <td>石xx</td>
                                                            </tr>

                                                            <tr>

                                                                <!--td style="font-size:8pt;"><a href="javascript:newApp('8a85932a25bfbaca0125bfbaca8b0005')">New</a></td-->
                                                                <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0302a')">R 1/04</td>

                                                                <td>
                                                                    K2xxxxx(x)
                                                                    <a href='javascript:loadContentPage("CRM0301a")'>
                                                                        <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                                                    </a>
                                                                </td>
                                                                <td>CHENG xx xx</td>
                                                                <td>鄭xx</td>
                                                            </tr>

                                                            <tr>

                                                                <!--td style="font-size:8pt;"><a href="javascript:newApp('8a85932a25bfbaca0125bfbaca8b0006')">New</a></td-->
                                                                <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0302a')">R 1/05</td>

                                                                <td>
                                                                    K2xxxxx(x)
                                                                    <a href='javascript:loadContentPage("CRM0301a")'>
                                                                        <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                                                    </a>
                                                                </td>
                                                                <td>WONG xx xx </td>
                                                                <td>黃xx</td>
                                                            </tr>

                                                            <tr>

                                                                <!--td style="font-size:8pt;"><a href="javascript:newApp('8a85932a25bfbaca0125bfbaca8b0007')">New</a></td-->
                                                                <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0302a')">R 1/06</td>

                                                                <td>
                                                                    K2xxxxx(x)
                                                                    <a href='javascript:loadContentPage("CRM0301a")'>
                                                                        <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                                                    </a>
                                                                </td>
                                                                <td>LEE xx xx</td>
                                                                <td>李xx</td>
                                                            </tr>

                                                            <tr>

                                                                <!--td style="font-size:8pt;"><a href="javascript:newApp('8a85932a25bfbaca0125bfbaca8b0008')">New</a></td-->
                                                                <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0302a')">R 1/07</td>

                                                                <td>
                                                                    K2xxxxx(x)
                                                                    <a href='javascript:loadContentPage("CRM0301a")'>
                                                                        <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                                                    </a>
                                                                </td>
                                                                <td>LEUNG xx xx </td>
                                                                <td>梁xx</td>
                                                            </tr>

                                                            <tr>

                                                                <!--td style="font-size:8pt;"><a href="javascript:newApp('8a85932a25bfbaca0125bfbaca8b0009')">New</a></td-->
                                                                <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0302a')">R 1/08</td>

                                                                <td>
                                                                    K2xxxxx(x)
                                                                    <a href='javascript:loadContentPage("CRM0301a")'>
                                                                        <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                                                    </a>
                                                                </td>
                                                                <td>YU xx xxx</td>
                                                                <td>余xx</td>
                                                            </tr>

                                                            <tr>

                                                                <!--td style="font-size:8pt;"><a href="javascript:newApp('8a85932a25bfbaca0125bfbaca8b000a')">New</a></td-->
                                                                <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0302a')">R 1/09</td>

                                                                <td>
                                                                    K2xxxxx(x)
                                                                    <a href='javascript:loadContentPage("CRM0301a")'>
                                                                        <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                                                    </a>
                                                                </td>
                                                                <td>LEE xx xx </td>
                                                                <td>李xx</td>
                                                            </tr>

                                                            <tr>

                                                                <!--td style="font-size:8pt;"><a href="javascript:newApp('8a8591a2260d9eef01261aec71c9000a')">New</a></td-->
                                                                <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0302a')">R 1/10</td>

                                                                <td>
                                                                    K2xxxxx(x)
                                                                    <a href='javascript:loadContentPage("CRM0301a")'>
                                                                        <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                                                    </a>
                                                                </td>
                                                                <td>WONG xx xx</td>
                                                                <td>黃xx</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                    </div>
                                    <br>
        
                <!--</form>-->

                <!--<form name="basicApplicationForm" id="sameHkidForm" method="post" action="/Registration/commomApplication.do">
                    <input type="hidden" name="hkid" value="" id="hkid" class="hidden">
                    <input type="hidden" name="passportNo" value="" id="passportNo" class="hidden">
                </form>-->

                <!-- ------------------------------------- Content End ------------------------------------- -->
