
    <div id="CRMHideDiv" class="hide">
        <table id="Table2" style="BORDER-BOTTOM: #dedfde 1px solid" cellspacing="0" cellpadding="0" width="100%" border="0">
            <tbody>
                <tr>
                    <td style="PADDING-RIGHT: 5px; PADDING-LEFT: 8px; PADDING-BOTTOM: 10px" valign="top">
                        <div class="title1"> &nbsp;Professional Application &gt; Export Data</div>
                        <table id="Table3" bordercolor="lightgrey" cellspacing="0" cellpadding="5" width="450" border="1">
                            <tbody>
                                <tr>
                                    <td class="grid-header" width="303">Select Type of Data</td>
                                    <td class="grid-header">Output Format</td>
                                </tr>
                                <tr>
                                    <td width="303">
                                        <a href="javascript:LoadApplication()">Application Information</a>
                                    </td>

                                    <td>Text File</td>
                                </tr>
                                <!--
                                   <tr>
                                     <td width="303"> <a href="javascript:LoadRegisters('')" >Registers</a>
                                     </td>
                                     <td id="TD2">HTML</td>
                                   </tr>
                                 -->
                                <tr style="display:none;">
                                    <td width="303">
                                        <a href="javascript:LoadRegisters('', 'PDF')">Registers</a>
                                    </td>
                                    <td id="TD2">PDF</td>
                                </tr>
                                <tr>
                                    <td width="303">
                                        <a href="javascript:LoadRegisters('', 'EXCEL')">Registers</a>
                                    </td>
                                    <td id="TD2">Excel</td>
                                </tr>

                                <tr>
                                    <td width="303">
                                        <a href="javascript:LoadBoardsComittees()">Boards &amp; Committees</a>
                                    </td>
                                    <td>HTML</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table id="Table4" cellspacing="0" cellpadding="0" width="700" border="0">
                            <tbody>
                                <tr>
                                    <td colspan="2"><span id="lblError" style="color:Red;"></span></td>
                                </tr>
                                <tr>
                                    <td style="WIDTH: 295px">&nbsp;</td>
                                    <td align="right"><a id="lnkMain" href="menu.do?method=LoadPAIndexPage">Back to Main Page</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
