
                                                    <table class="inputTable">
                                                        <tbody>
                                                            <tr>
                                                                <th>File Reference :</th>
                                                                <td colspan="3"><input type="text" name="searchFileReference" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:123px;" class="inputText"></td>
                                                            </tr>
                                                            <tr>

                                                                <th style="WIDTH: 112px">Surname :</th>
                                                                <td><input type="text" name="searchSurname" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText"></td>
                                                                <th style="WIDTH: 112px">Given Name :</th>
                                                                <td><input type="text" name="searchGivenName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText"></td>
                                                            </tr>
                                                            <tr>
                                                                <th style="WIDTH: 112px">Chinese Name :</th>
                                                                <td colspan="3"><input type="text" name="searchChineseName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText"></td>

                                                            </tr>
                                                        </tbody><tfoot>
                                                                    <tr>
                                                                        <td colspan="4">
                                                                            <input type="button" name="btnSearch" value="Search" onclick="searchForm()" id="btnSearch" accesskey="S" >
                                                                    </tr> </tfoot>
                                                    </table>
                              
                                    <br>
                              

                                    <table id="CRMHideDiv" class="resultTable hide">
                                        <thead>
                                            <tr class="grid-header" style="height:19px;">
                                                <th>         File Ref.</th>
                                                <th> HKID/Passport</th>
                                                <th> Name</th>
                                                <th>     Chinese Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="font-size:8pt;">
                                                    <a href='javascript:loadContentPage("CRM0310a")'>
                                                        R 1/01
                                                    </a>
                                                </td>

                                                <td>Kxxxxx(x)</td>

                                                <td>NG xx xx</td>
                                                <td>吳xx</td>
                                            </tr>

                                            <tr>
                                                <td style="font-size:8pt;">
                                                    <a href='javascript:loadContentPage("CRM0310a")'>
                                                        R 1/02
                                                    </a>
                                                </td>

                                                <td>Kxxxxx(x)</td>

                                                <td>CHAU xx xx</td>
                                                <td>周xx</td>
                                            </tr>

                                            <tr>
                                                <td style="font-size:8pt;">
                                                    <a href='javascript:loadContentPage("CRM0310a")'>
                                                        R 1/03
                                                    </a>
                                                </td>


                                                <td>Kxxxxx(x)</td>

                                                <td>SHEK xx xx</td>
                                                <td>石xx</td>
                                            </tr>

                                            <tr>
                                                <td style="font-size:8pt;">
                                                    <a href='javascript:loadContentPage("CRM0310a")'>
                                                        R 1/04
                                                    </a>
                                                </td>

                                                <td>Kxxxxx(x)</td>

                                                <td>CHENG xx xx</td>
                                                <td>鄭xx</td>
                                            </tr>

                                            <tr>
                                                <td style="font-size:8pt;">
                                                    <a href='javascript:loadContentPage("CRM0310a")'>
                                                        R 1/05
                                                    </a>
                                                </td>


                                                <td>Kxxxxx(x)</td>

                                                <td>WONG xx xx</td>
                                                <td>黃xx</td>
                                            </tr>

                                            <tr>
                                                <td style="font-size:8pt;">
                                                    <a href='javascript:loadContentPage("CRM0310a")'>
                                                        R 1/06
                                                    </a>
                                                </td>


                                                <td>Kxxxxx(x)</td>

                                                <td>LEE xx xx</td>
                                                <td>李xx</td>
                                            </tr>

                                            <tr>
                                                <td style="font-size:8pt;">
                                                    <a href='javascript:loadContentPage("CRM0310a")'>
                                                        R 1/07
                                                    </a>
                                                </td>

                                                <td>Kxxxxx(x)</td>

                                                <td>LEUNG xx xx</td>
                                                <td>梁xx</td>
                                            </tr>

                                            <tr>
                                                <td style="font-size:8pt;">
                                                    <a href='javascript:loadContentPage("CRM0310a")'>
                                                        R 1/08
                                                    </a>
                                                </td>


                                                <td>Kxxxxx(x)</td>

                                                <td>YU xx xx</td>
                                                <td>余xx</td>
                                            </tr>

                                            <tr>
                                                <td style="font-size:8pt;">
                                                    <a href='javascript:loadContentPage("CRM0310a")'>
                                                        R 1/09
                                                    </a>
                                                </td>


                                                <td>Kxxxxx(x)</td>

                                                <td>LEE xx xx</td>
                                                <td>李xx</td>
                                            </tr>

                                            <tr>
                                                <td style="font-size:8pt;">
                                                    <a href='javascript:loadContentPage("CRM0310a")'>
                                                        R 1/10
                                                    </a>
                                                </td>


                                                <td>Kxxxxx(x)</td>

                                                <td>WONG xx xx</td>
                                                <td>黃xx</td>
                                            </tr>




                                        </tbody>
                                    </table>

</div>

