<h3> Application with same HKID / Passport No. </h3>
<table class="inputTable">
    <tbody>

        <tr>
            <th colspan="2">
                HKID / Passport No.:
                <span id="lblFileRef" style="font-weight:bold;">
                    K203538(3)
                </span>
            </th>
        </tr>
    </tbody>
</table>
<table class="resultTable" id="dgList">
    <thead>
        <tr class="grid-header" style="height:19px;">
            <th nowrap="nowrap">
                File Reference No.
            </th>
            <th>
                Name
            </th>
            <th>
                Chinese Name
            </th>
            <th>
                Registration No.
            </th>

            <th>
                Expiry Date
            </th>

            <th>
                Status
            </th>



        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="javascript:recordView('8a85932a25bfbaca0125bfbaca7b0002', 'IP')">
                    R 1/01
                </a>
            </td>
            <td>
                NG xx xx
            </td>
            <td>
                吳xx
            </td>
            <td>
                AP(A) 1/01
            </td>

            <td>
                05/07/2020
            </td>

            <td>
                Active
            </td>
        </tr>


    </tbody>
</table>



