
                <table class="inputTable">
	              <tbody>
	              <tr>
	                <td colspan="3" valign="bottom" height="25">
	                	<span style="font-weight:bold;">
	                    	<input name="updateHomeAddress" value="on" id="updateHomeAddress" class="inputCheckbox" type="checkbox">
							<label for="chkCompAddr">Update Correspondence Address</label>
	                  	</span>&nbsp;&nbsp;&nbsp;&nbsp; 
	                  	 <span style="font-weight:bold;">
	                    	<input name="updateOfficeAddress" value="on" id="updateOfficeAddress" class="inputCheckbox" type="checkbox">
							<label for="chkCompAddr">Update Office Address</label>
	                  	</span>&nbsp;&nbsp;&nbsp;&nbsp; 
	                  	<span style="font-weight:bold;">
	                  		<input name="updateBuildingSafetyAddress" value="on" id="updateBuildingSafetyAddress" class="inputCheckbox" type="checkbox">
	                  		<label for="chkBSAddr">Update Building Safety Address</label>
	                    </span>
	                 </td>
	              </tr>
	              <tr>
	              <td></td>
	                <td >&nbsp;Address (Eng):</td>
	                <td>Address (Chn):</td>
	              </tr>
	              <tr>

	                <td style="WIDTH: 38px" width="38">&nbsp;</td>
	                <td>
	                	<input name="engAddressLine1" maxlength="40" value="" id="engAddressLine1" style="width:350px;" class="inputText" type="text">
						<br>			
	                	<input name="engAddressLine2" maxlength="40" value="" id="engAddressLine2" style="width:350px;" class="inputText" type="text">
						<br>			
	                	<input name="engAddressLine3" maxlength="40" value="" id="engAddressLine3" style="width:350px;" class="inputText" type="text">
						<br>			
	                	<input name="engAddressLine4" maxlength="40" value="" id="engAddressLine4" style="width:350px;" class="inputText" type="text">
						<br>			 
	                	<input name="engAddressLine5" maxlength="40" value="" id="engAddressLine5" style="width:350px;" class="inputText" type="text">
						<br>
					</td>
	                <td valign="top">
	                 	<input name="chnAddressLine1" maxlength="40" value="" id="chnAddressLine1" style="width:350px;" class="inputText" type="text">
						<br>			
	                	<input name="chnAddressLine2" maxlength="40" value="" id="chnAddressLine2" style="width:350px;" class="inputText" type="text">
						<br>			
	                	<input name="chnAddressLine3" maxlength="40" value="" id="chnAddressLine3" style="width:350px;" class="inputText" type="text">
						<br>			
	                	<input name="chnAddressLine4" maxlength="40" value="" id="chnAddressLine4" style="width:350px;" class="inputText" type="text">
						<br>			
	                	<input name="chnAddressLine5" maxlength="40" value="" id="chnAddressLine5" style="width:350px;" class="inputText" type="text">
						<br>
				     </td>
	              </tr>
	            </tbody></table>
	        
	        	
				<table class="inputTable">
					<tbody> 
					<tr>
						<td colspan="2"><u>Print Parameters:</u></td>
					</tr>
					<tr>
						<th >Date of Application:<br>
							
						</th>
						<td >
						  	<input name="reportApplicationDate" maxlength="10" value="" onblur="checkDate(this)" id="reportApplicationDate" style="width:80px;" class="inputText" title="Application Date" type="text">
	        				<span id="err_reportApplicationDate" class="err" style="color:Red;display:none;">Invalid date</span>
					 
					
					
						</td>
					</tr>
					<tr>
						<th >Form Used:</th>
						<td >
							<select name="reportFormUsedUUID" id="reportFormUsedUUID" class="inputSelectNoWidth"><option value="">- Select -</option>
                      			 <option value="8a85932a25bf97e50125bf97e5410000">BA1</option> <option value="8a85932a25bf97e50125bf97e5510001">BA1A</option> <option value="8a85932a25bf97e50125bf97e5510002">BA1B</option> <option value="8a85932a25bf97e50125bf97e5510003">BA2</option> <option value="8a85932a25bf97e50125bf97e5510004">BA24</option> <option value="8a85932a25bf97e50125bf97e5510005">BA2A</option> <option value="8a85932a25bf97e50125bf97e5510006">BA2B</option> <option value="8a85932a25bf97e50125bf97e5510007">BA2C</option> <option value="8a85932a25bf97e50125bf97e5510008">LETTER</option> <option value="8a85932a25bf97e50125bf97e5510009">NA</option> <option value="6D0F09FA4E3B414DBC7DC4B91ADCBCE5">QP Card</option></select> &nbsp;
						</td>
					</tr>
					<tr>
						<th >Signature Name:</th>
						<td>
							 <select name="reportAuthorityUUID" id="reportAuthorityUUID" class="inputSelectNoWidth"><option value="">- Select -</option>
                      			 <option value="8a85932a25bfb05d0125bfb05d3b000a">CHAN Suk-yin</option> <option value="8a8591a227aa2b4e0127dbe2afb87f61">CHAU Kwai-fong Frankie</option> <option value="8a85932a25bfb05d0125bfb05d3b0013">CHENG Wai-yee</option> <option value="8a85932a25bfb05d0125bfb05d3b0014">CHEUNG Lai Sze</option> <option value="8a85932a25bfb05d0125bfb05d3b0011">CHEUNG Tin-cheung</option> <option value="8a85932a25bfb05d0125bfb05d3b0015">HA Chun-lung</option> <option value="8a8591a2321f7a8e01324d6984f91ab7">KONG Yuk-yin Kristy</option> <option value="8a85932a25bfb05d0125bfb05d3b0002">LAI Shui-piu</option> <option value="8a85932a25bfb05d0125bfb05d3b000e">LAI Shuk-mei</option> <option value="8a8591a23a728b5d013ab50ccf823a6a">LAM Kin-ching</option> <option value="8a8591a22da30f20012db5ba62f12388">LAU Wing-hung Otto</option> <option value="8a8591a25501306b01554dd6b6ea270d">LEUNG Chi-keung</option> <option value="8a85932a25bfb05d0125bfb05d2b0000">LEUNG Sham-yee, Wendy</option> <option value="8a85932a25bfb05d0125bfb05d3b0005">LO Lai-sim Cindy</option> <option value="8a85932a25bfb05d0125bfb05d3b0003">MAK Wan-ching</option> <option value="8a8591a25ad1829f015af9273dc15031">TEE Lee-wai</option> <option value="8a8591a2314c2def0131bb86d3850bbc">WONG Ka-yan</option> <option value="8a85932a25bfb05d0125bfb05d3b0012">YEUNG Chun-wing</option> <option value="8a85932a25bfb05d0125bfb05d3b0010">YU Tak-Cheung</option> <option value="8a85932a25bfb05d0125bfb05d3b0001">YU Wing-wah</option></select> 
                  			
							<br>
						</td>
					</tr>
					<tr>
						<th >Acting:</th>
						<td>
							 <select name="reportActing" id="reportActing" class="inputSelectNoWidth"><option value="N">No</option>
								<option value="Y">Yes</option></select> 
						</td>
					</tr>
					<tr>
						<td style="FONT-SIZE: 5px" colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2"><img src="images/print.gif">&nbsp;
						<a id="btnPrintMemo" href="javascript:printMemo();">
						Print Memo: Change of Correspondence Address (MMD0010a)</a>
					</td>
					</tr>
					<tr>
						<td colspan="2">
							<hr width="99%" size="2" color="darkgray">&nbsp;
						</td>
					</tr>
			</tbody></table>
	            
	            
	            <table class="inputTable">
	               <tbody><tr>
	                <td colspan="2" valign="bottom" height="25"><span style="font-weight:bold;">
	                  <input name="updateEmergencyNo" value="on" id="updateEmergencyNo" class="inputCheckbox" type="checkbox">
	                  <label for="chkFax">Update Personal Emergency No.</label>
	                  </span></td>
	              </tr>
	              <tr>
	                <td style="WIDTH: 38px" width="38">&nbsp;</td>
	                <td>1)
	                 <input name="emergencyNo1" maxlength="22" value="" id="emergencyNo1" style="width:175px;" class="inputText" type="text">
								    
	                  &nbsp;&nbsp;2)
	                  <input name="emergencyNo2" maxlength="22" value="" id="emergencyNo2" style="width:175px;" class="inputText" type="text">
	                  <br>
	                  </td>
	              </tr>
	             
	              <tr>
	                <td colspan="2" valign="bottom" height="25">
			            <span style="font-weight:bold;">
		    	              <input name="updateCompanyTelNo" value="on" id="updateCompanyTelNo" class="inputCheckbox" type="checkbox">
	                	  <label for="chkTel">Update Personal Telephone No.</label>
	                 	 </span>
	                </td>
	              </tr>
	              <tr>
	                <td style="WIDTH: 38px" width="38"></td>
	                <td>
	                   1) <input name="compTelNo1" maxlength="22" value="" id="compTelNo1" style="width:175px;" class="inputText" type="text">
	                  &nbsp; 
	                  2) <input name="compTelNo2" maxlength="22" value="" id="compTelNo2" style="width:175px;" class="inputText" type="text">
	                  &nbsp; 
	                  3) <input name="compTelNo3" maxlength="22" value="" id="compTelNo3" style="width:175px;" class="inputText" type="text">
	                  <br>
	                </td>
	              </tr>
	              <tr>
	                <td colspan="2" valign="bottom" height="25"><span style="font-weight:bold;">
	                  <input name="updateCompanyFaxlNo" value="on" id="updateCompanyFaxlNo" class="inputCheckbox" type="checkbox">
	                  <label for="chkFax">Update Personal Fax No.</label>
	                  </span></td>
	              </tr>
	              <tr>
	                <td style="WIDTH: 38px" width="38">&nbsp;</td>
	                <td>1)
	                 <input name="compFaxNo1" maxlength="22" value="" id="compFaxNo1" style="width:175px;" class="inputText" type="text">
								    
	                  &nbsp;&nbsp;2)
	                  <input name="compFaxNo2" maxlength="22" value="" id="compFaxNo2" style="width:175px;" class="inputText" type="text">
	                  <br>
	                  </td>
	              </tr>
	              <tr>
	                <td colspan="2" valign="bottom" height="25"><span style="font-weight:bold;">
	                   <input name="updateBSTelNo" value="on" id="updateBSTelNo" class="inputCheckbox" type="checkbox">
	                  <label for="chkBSTel">Update Building Safety Telephone No.</label>
	                  </span></td>
	              </tr>
	              <tr>
	                <td style="WIDTH: 38px" width="38">&nbsp;</td>
	                <td>&nbsp;&nbsp;&nbsp;
	                     <input name="bsTelNo1" maxlength="22" value="" id="bsTelNo1" style="width:175px;" class="inputText" type="text">
		                  &nbsp; 
		            </td>
	              </tr>
	              <tr>
	                <td colspan="2" valign="bottom" height="25"><span style="font-weight:bold;">
	                  
	                  <input name="updateBSFaxlNo" value="on" id="updateBSFaxlNo" class="inputCheckbox" type="checkbox">
	                  <label for="chkBSFax">Update Building Safety Fax No.</label>
	                  </span></td>
	              </tr>
	              <tr>
	                <td style="WIDTH: 38px" width="38">&nbsp;</td>
	                <td>&nbsp;&nbsp;&nbsp;
	                   <input name="bsFaxNo1" maxlength="20" value="" id="bsFaxNo1" style="width:175px;" class="inputText" type="text">
	                  &nbsp; </td>
	              </tr>
	              <tr>
	                <td colspan="2" valign="bottom" height="25"><span style="font-weight:bold;">
	               	  
	               	  <input name="updateBSNotes" value="on" id="updateBSNotes" class="inputCheckbox" type="checkbox">
	                  <label for="chkBSNotes">Update Building Safety Notes</label>
	                  </span></td>
	              </tr>
	              <tr>
	                <td style="WIDTH: 38px" width="38">&nbsp;</td>
	                <td>
                        <table class="resultTable" id="dgList">
                            <thead>
                                <tr class="grid-header" style="height:19px;">
                                    <th><input name="bsCheckAll" id="bsCheckAll" onclick="CheckAll(this);" type="checkbox"></th>
                                    <th nowrap="nowrap">BS Code</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                            <tbody>
                                <tr class="grid-alt-item">

                                    <td>

                                        <input name="bsNotesResultList" id="bsNotesResultList_0" value="8a85932a25bf98d50125bf98d53e0003" type="checkbox">

                                    </td>
                                    <td nowrap="nowrap">1</td>
                                    <td>denotes those persons who are interested in providing services in the removal of unauthorized building works and carrying out necessary consequential reinstatement works</td>
                                </tr>

                                <tr>

                                    <td>

                                        <input name="bsNotesResultList" id="bsNotesResultList_1" value="8a85932a25bf98d50125bf98d53e0005" type="checkbox">

                                    </td>
                                    <td nowrap="nowrap">2</td>
                                    <td>denotes those persons who are interested in providing services in maintenance and repair of buildings and drainage</td>
                                </tr>

                                <tr class="grid-alt-item">

                                    <td>

                                        <input name="bsNotesResultList" id="bsNotesResultList_2" value="8a85932a25bf98d50125bf98d53e0007" type="checkbox">

                                    </td>
                                    <td nowrap="nowrap">3</td>
                                    <td>denotes those persons who are interested in providing services in maintenance and repair of slopes associated with buildings</td>
                                </tr>

                                <tr>

                                    <td>

                                        <input name="bsNotesResultList" id="bsNotesResultList_3" value="8a85932a25bf98d50125bf98d53e0009" type="checkbox">

                                    </td>
                                    <td nowrap="nowrap">4</td>
                                    <td>denotes those persons who are interested in providing services in maintenance and repair of aluminium windows</td>
                                </tr>

                                <tr class="grid-alt-item">

                                    <td>

                                        <input name="bsNotesResultList" id="bsNotesResultList_4" value="8a85932a25bf98d50125bf98d53e0001" type="checkbox">

                                    </td>
                                    <td nowrap="nowrap">-</td>
                                    <td>denotes that disclosure of information is not consented by the data subject</td>
                                </tr>


                            </tbody>
                        </table>
	                   <br>
	                 </td>
	              </tr>
	            </tbody><tfoot>
    <tr>
        <td colspan="4" class="editfooter">
            <input name="btnSave" value=" Save " id="btnSave" onclick="loadContentPage('CRM0304')"  type="button">
            &nbsp;
            <input name="btnfinish" value=" Finish " id="btnFinish" onclick="loadContentPage('CRM0304')"  type="button">
            &nbsp;&nbsp;
            <input name="btnReset" value="Reset" id="btnReset"  onclick="loadContentPage('CRM0304a')"  type="button">
        </td>
    </tr>


</tfoot></table>