
<div id="searchCriteria"></div>
<div id="resultPanel"></div>
<footer style="float:right">
    <button class="btn btn-default" type="button">Submit</button>
</footer>

<script type="text/javascript">
    domReady(function () {
        new searcher({
            searchPath: "Search"
            , exportPath: "Excel"
            , searchTable: "searchCriteria"
            , resultPanel: "resultPanel"
        });
    });
</script>
