<div class="sList">

    <div class="sList">

        <table class="inputTable">
            <thead>
                <tr>
                    <th colspan="4" class="sTh">Submission Information:</th>
                
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="fLabel" style="width:200px">Ref No.</th>
                    <td class="fText">MW180900004</td>
                    <th class="fLabel">Form No</th>
                    <td class="fText">MW01</td>
                </tr>

                <tr>
                    <th class="fLabel" style="width: 200px">Previous MW No.</th>
                    <td class="fText"><br></td>
                    <th class="fLabel">File Reference No</th>
                    <td class="fText">/</td>
                </tr>

                <tr>
                    <th class="fLabel" style="width:200px;height:50px">
                        Received Date

                    </th>
                    <td class="fText">20/9/2018</td>
                    <th class="fLabel" style="width:200px;height:50px">
                        Location/Address of the proposed minor works are to be carried out

                    </th>
                    <td class="fText">
                        Mong Kow/<br>
                    </td>
                </tr>
                <tr>
                    <th class="fLabel">
                        Commencement Date

                    </th>
                    <td class="fText"></td>
                    <th class="fLabel">
                        Completion Date

                    </th>
                    <td class="fText"></td>
                </tr>
                <tr class="fLabel">
                    <th  class="fLabel" style="width: 200px">Requirements</th>
                    <td colspan="4" class="fText"></td>

                </tr>


            </tbody>
        </table>

        <table class="resultTable">
            <thead>
                <tr>
                    <th colspan="6" class="sTh1">Submitted Document</th>
                </tr>

                <tr class="sRow2">
                    <th class="sTh2" style="width: 150px">Document Type</th>
                    <th class="sTh2" style="width: 100px">Received Date</th>
                    <th class="sTh2" style="width: 100px">Document S/N</th>
                    <th class="sTh2">Document Title</th>
                    <th class="sTh2" style="width: 100px">View Image</th>
                    <th class="sTh2" style="width: 100px">Folder Type</th>
                </tr>

            </thead>
            <tbody>

                <tr class="sRow2">
                    <td class="fField">Letter</td>
                    <td class="fField">20/9/2018</td>
                    <td class="fField">D0000748827C</td>
                    <td class="fField">Email</td>
                    <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000748827C')"></td>
                    <td class="fField">Public</td>
                </tr>


            </tbody>
        </table>



        <table class="resultTable">
            <thead>
                <tr>
                    <th colspan="6" class="sTh1">Issued Correspondence</th>
                </tr>

                <tr class="sRow2">
                    <th class="sTh2" style="width: 150px">Letter Type</th>
                    <th class="sTh2" style="width: 100px">Issued Date</th>
                    <th class="sTh2" style="width: 100px">Document S/N</th>
                    <th class="sTh2">Letter Template No.</th>
                    <th class="sTh2" style="width: 100px">View Image</th>
                    <th class="sTh2" style="width: 100px">Folder Type</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>




        <table class="resultTable">
            <thead>
                <tr>
                    <th colspan="6" class="sTh1">Details of the minor work</th>
                </tr>

                <tr class="sRow2">
                    <th class="sTh2">Item sequence</th>
                    <th class="sTh2">Minor Work item</th>
                    <th class="sTh2">Type</th>
                    <th class="sTh2">Description</th>
                    <th class="sTh2">
                        Relevant Order/ Direction/ Notice No./ BD Reference No.

                    </th>

                </tr>
            </thead>

            <tbody>

                <tr class="sRow2">
                    <td class="sCell">
                        1
                        &nbsp; in &nbsp;



                        MW01


                    </td>
                    <td class="sCell">
                        1.1
                        &nbsp;
                    </td>
                    <td class="sCell">



                        MW01


                        &nbsp;
                    </td>
                    <td class="sCell">Erection or alteration of any internal staircase that is not used as a means of escape or a means of access for firefighting and rescue &nbsp; </td>
                    <td class="sCell">N &nbsp; </td>

                </tr>


            </tbody>
        </table>



        <table class="resultTable">
            <thead>
                <tr>
                    <th colspan="6" class="sTh1">Particulars of PBP</th>
                </tr>

                <tr class="sRow2">
                    <th class="sTh2">PBP</th>
                    <th class="sTh2">Certification of Registration No.</th>
                    <th class="sTh2">English Name</th>
                    <th class="sTh2">Chinese Name</th>
                    <th class="sTh2">Name of PBP</th>
                </tr>
            </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell">

                        AP/RI


                        &nbsp;
                    </td>
                    <td class="sCell">
                        &nbsp;
                    </td>
                    <td class="sCell">
                        &nbsp;
                    </td>
                    <td class="sCell">
                        &nbsp;
                    </td>
                    <td class="sCell">
                        <label>
                            <input class="inputRadio" type="radio" id="pbpApInfoName" name="formChecklist.pbpApInfoName" disabled="disabled" value="O">
                            OK
                        </label>
                        <label>
                            <input class="inputRadio" type="radio" id="pbpApInfoName" name="formChecklist.pbpApInfoName" disabled="disabled" value="N" checked="checked">
                            Not OK
                        </label>
                    </td>
                </tr>
                <tr class="sRow2">
                    <td class="sCell">
                        RSE&nbsp;
                    </td>
                    <td class="sCell">
                        &nbsp;
                    </td>
                    <td class="sCell">
                        &nbsp;
                    </td>
                    <td class="sCell">
                        &nbsp;
                    </td>
                    <td class="sCell">
                        <label>
                            <input class="inputRadio" type="radio" id="pbpRseInfoName" name="formChecklist.pbpRseInfoName" disabled="disabled" value="O" ondblclick="javascript:clearValue('pbpRseInfoName')">
                            OK
                        </label>
                        <label>
                            <input class="inputRadio" type="radio" id="pbpRseInfoName" name="formChecklist.pbpRseInfoName" disabled="disabled" value="N" ondblclick="javascript:clearValue('pbpRseInfoName')">
                            Not OK
                        </label>
                    </td>
                </tr>
                <tr class="sRow2">
                    <td class="sCell">
                        RGE&nbsp;
                    </td>
                    <td class="sCell">
                        &nbsp;
                    </td>
                    <td class="sCell">
                        &nbsp;
                    </td>
                    <td class="sCell">
                        &nbsp;
                    </td>
                    <td class="sCell">
                        <label>
                            <input class="inputRadio" type="radio" id="pbpRgeInfoName" name="formChecklist.pbpRgeInfoName" disabled="disabled" value="O" ondblclick="javascript:clearRadio(this)">
                            OK
                        </label>
                        <label>
                            <input class="inputRadio" type="radio" id="pbpRgeInfoName" name="formChecklist.pbpRgeInfoName" disabled="disabled" value="N" ondblclick="javascript:clearRadio(this)">
                            Not OK
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>


        <table class="resultTable">
            <thead>
                <tr>
                    <th colspan="6" class="sTh1">Particulars of PRC</th>
                </tr>

                <tr class="sRow2">
                    <th class="sTh2">Certification of Registration No.</th>
                    <th class="sTh2">English Name of PRC</th>
                    <th class="sTh2">Chinese Name of PRC</th>
                    <th class="sTh2" style="width: 120px">Name of PRC</th>
                    <th class="sTh2">English Name of AS</th>
                    <th class="sTh2">Chinese Name of AS</th>
                    <th class="sTh2" style="width: 120px">Name of AS</th>
                </tr>
            </thead>
            <tbody><tr class="sRow2">
    <td class="sCell">
        &nbsp;
    </td>
    <td class="sCell">
        &nbsp;
    </td>
    <td class="sCell">
        &nbsp;
    </td>
    <td class="sCell">
        <label>
            <input class="inputRadio" type="radio" id="prcInfoName" name="formChecklist.prcInfoName" disabled="disabled" value="O" ondblclick="javascript:clearRadio(this)">
            OK
        </label>
        <label>
            <input class="inputRadio" type="radio" id="prcInfoName" name="formChecklist.prcInfoName" disabled="disabled" value="N" ondblclick="javascript:clearRadio(this)" checked="checked">
            Not OK
        </label>
    </td>
    <td class="sCell">
        &nbsp;
    </td>
    <td class="sCell">
        &nbsp;
    </td>
    <td class="sCell">
        <label>
            <input class="inputRadio" type="radio" id="prcInfoAsName" name="formChecklist.prcInfoAsName" disabled="disabled" value="O" ondblclick="javascript:clearRadio(this)">
            OK
        </label>
        <label>
            <input class="inputRadio" type="radio" id="prcInfoAsName" name="formChecklist.prcInfoAsName" disabled="disabled" value="N" ondblclick="javascript:clearRadio(this)" checked="checked">
            Not OK
        </label>
    </td>
</tr></tbody>
        </table>



        <table class="inputTable"
               >

            <thead>
                <tr><th>Template</th></tr>
            </thead>

            <tbody><tr><td><textarea rows="10" cols="150">
2011

 

                                             (By Fax Only : )

     

     

     

     

         

*(if Class II work involved)                 (By Fax Only : )

    

    

    

 

Dear Sir/Madam,

Minor Works Submission No. MW180900004

Mong Kow

 

                      I refer to your notification received on 20 September 2018 in respect of the commencement of minor works under the simplified requirements at the captioned premises.

 

2.                                 On the basis that it is the responsibility of the appointed person to ensure compliance with the Buildings Ordinance and its subsidiary legislation in respect of the proposed minor works, I hereby acknowledge receipt of your notice of commencement of the Class I */and Class II minor works.

 

3.                                    This acknowledgement should not be deemed to confer any title to land or constitute a waiver of any term in any lease or licence.  Section 61 of the Building (Minor Works) Regulation refers.  Your client has been sent a copy of this letter but I would request that you ensure that the contents are understood by him.

 

4.                                    If the proposed minor works involve the carrying out of building works in the common parts of the building, please pay attention to the relevant conditions in the deed of mutual covenant and notify the management office or the Owners Corporation concerned before the commencement of works.

 

5.                                    You are also reminded to take appropriate measures to ensure construction wastes are disposed of properly.

 

*6.              You are reminded that this department will carry out audit check on minor works submissions selected at random in order to ensure that the proposed minor works comply generally with the Buildings Ordinance and its subsidiary legislation. In this connection, your submission has been selected for audit check. Upon completion of the audit check, you will be notified of the outcome.

 

*7.             As stipulated in PNRC 71, you are advised to display the minor works submission number on the signboard to be erected.

 

 
	

 
	

Yours sincerely,

 

 

 

c.c.
	

     
	

(                                )

Senior Building Surveyor/ Senior Structural Engineer

for Building Authority

* delete as appropiate

 

SL-MW01A (20.1.2011)

</textarea></td></tr></tbody>

        </table>



        <div class="btnSet btnSetTypeA">
            <div class="left">
                <input class="inputButton" type="button" id="" name="" value="<< Previous"  onclick="loadContentPage('PEM0501a');">
            </div>


            <div class="right">
                <input class="inputButton" type="button" name="" value="View Comment" onclick="javascript: loadContentPage('PEM0501c')">
            </div>

        </div>