
  
    <table class="inputTable">
        <tbody>
            <tr>
                <td class="label">Checking &gt;</td>
                <td class="text"><a id="formInfo" class="url1 url2">Submission Information Checking</a></td>
                <td class="text"><a id="formPbp" class="apWord"><!--AP/RI Checking-->Appointed person checking</a></td>
                <td class="text"><a id="formPrc" class="">PBP and PRC Checking</a></td>
                <td class="text" style="width: 300px">&nbsp;</td>
                <td class="sCell" align="right">Status: submitted&nbsp;</td>
            </tr>
        </tbody>
    </table>




    <div class="sList" id="caseInfo">
        <table class="inputTable">
            <thead>
                <tr>
                    <th class="sTh">Submission Information</th>
                    <th class="sThRight"></th>
                </tr>
                </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell" colspan="2" style="padding: 0px;">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="width: 50%" valign="top">
                                        <table width="100%" cellspacing="1" cellpadding="2" border="0">
                                            <tbody>
                                                <tr>
                                                    <td class="fLabel" style="width: 200px">Ref. No.</td>
                                                    <td class="fText">VS170700006</td>

                                                </tr>

                                                <tr>
                                                    <td class="fLabel" style="width: 200px">Previous MW No.</td>
                                                    <td class="fText"><br></td>
                                                </tr>

                                                <tr>
                                                    <td class="fLabel" style="width: 200px; height: 50px">
                                                        Received Date


                                                    </td>
                                                    <td class="fText">18/7/2017</td>
                                                </tr>

                                                <tr>
                                                    <td class="fLabel">
                                                        Commencement Date

                                                    </td>
                                                    <td class="fText">1/8/2017</td>
                                                </tr>
                                                <tr class="fLabel">
                                                    <td class="fLabel" style="width: 200px">Requirements</td>
                                                    <td class="fText">
                                                        2
                                                        Indicator for version 2 MW Item (After Effective date of the law in 2017)
                                                        <input name="selectOfReqCode" id="selectOfReqCode" value="2" type="hidden">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td valign="top">
                                        <table width="100%" cellspacing="1" cellpadding="2" border="0">
                                            <tbody>
                                                <tr>
                                                    <td class="fLabel" style="width: 200px">Form No.</td>
                                                    <td class="fText">MW06-01</td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel" style="width: 200px">File Reference No.</td>
                                                    <td class="fText">4444/22</td>
                                                </tr>

                                                <tr>
                                                    <td class="fLabel" style="width: 200px; height: 50px">
                                                        Location/Address of the proposed minor works are to be carried out

                                                    </td>
                                                    <td class="fText"></td>
                                                </tr>

                                                <tr>
                                                    <td class="fLabel">
                                                        Completion Date
                                                    </td>
                                                    <td class="fText">1/10/2017</td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">
                                                        <!-- Default Version  -->
                                                    </td>
                                                    <td class="fText">

                                                        <!--
                                                <select name="dataVersion" id="dataVersion" size="1" style="width: 100px;">

                                                </select>
                                                -->
                                                        <!--
                                                <select name="dataVersion" id="dataVersion" size="1" style="width: 100px; visibility: hidden">

                                                </select>
                                                -->
                                                    </td>
                                                </tr>
                                                <!-- <tr>
                                            <td class="fLabel" style="width: 200px">EFSS Submission Reference No.</td>
                                            <td class="fText"></td>

                                        </tr>
                                         -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--
    <input type="hidden" value="" id="defaultDataVersion"/>
    <input type="hidden" value="false" id="selectOfVersion"/>
    -->
    <script>/*
var selectOfVersion = document.getElementById('selectOfVersion').value;
if (selectOfVersion == 'true'){
	document.getElementById("dataVersion").disabled = true;}
else{
	document.getElementById("dataVersion").disabled = false;}
*/</script>

    <div class="sList" id="mwInfo" style="display: none;">
        <table class="inputTable">
            <thead>
                <tr>
                    <th class="sTh1">Location/Address of the proposed minor works are to be carried out</th>
                </tr>
                </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell" style="padding: 0px;">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="fLabel" style="width: 200px">Location of Minor Works</td>
                                    <td class="fText">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td class="fLabel">Address</td>
                                    <td class="fText">       &nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td class="sTh1">Particulars of the person who arranged for the inspection to be carried out</td>
                </tr>

                <tr class="sRow2">
                    <td class="sCell" style="padding: 0px;">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="width: 50%" valign="top">
                                        <table width="100%" cellspacing="1" cellpadding="2" border="0">
                                            <tbody>
                                                <tr>
                                                    <td class="fLabel" style="width: 200px">English Name:</td>
                                                    <td class="fText">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="fLabel">Chinese Name:</td>
                                                    <td class="fText">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="fLabel">Correspondence Address</td>
                                                    <td class="fText">       &nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="fLabel">Contact No.</td>
                                                    <td class="fText">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td valign="top">
                                        <table width="100%" cellspacing="1" cellpadding="2" border="0">
                                            <tbody>
                                                <tr>
                                                    <td class="fLabel" style="width: 200px">HKID/BR/Passport No.</td>
                                                    <td class="fText">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="fLabel">Country of Issue:</td>
                                                    <td class="fText">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="fLabel">Email Address:</td>
                                                    <td class="fText">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="fLabel">Fax No.</td>
                                                    <td class="fText">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="sList" id="submittedDoc">



        <table class="resultTable">
            <thead>
                <tr>
                    <th class="sTh1">Submitted Document</th>
                </tr>
                </thead>
            <tbody>
                <tr class="sRow2">
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr class="sRow2">
                                    <td class="sTh2" style="width: 150px">Document Type</td>
                                    <td class="sTh2" style="width: 100px">Received Date</td>
                                    <td class="sTh2" style="width: 100px">Document S/N</td>
                                    <td class="sTh2">Document Title</td>
                                    <td class="sTh2" style="width: 100px">View Image</td>
                                    <td class="sTh2" style="width: 100px">Folder Type</td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="fField">
                                        Letter
                                        <input name="docList[0].uuid" value="6F350C11DC354B1BA927D6509C9E7E86" type="hidden">
                                    </td>
                                    <td class="fField">18/7/2017</td>
                                    <td class="fField">D0000748727C</td>
                                    <td class="fField">Email</td>
                                    <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000748727C')" alt="ico"></td>
                                    <td class="fField">
                                        <select name="docList[0].folderType">

                                            <option selected="selected" value="Public">Public</option>

                                            <option value="Private">Private</option>

                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btnSet btnSetTypeA">
            <div class="right">
                <input class="inputButton" id="btnSaveFolderTypeSubmittedDoc" name="btnSaveFolderTypeSubmittedDoc" value="Save" style="width:80px;" onclick="saveFolderType('')"  type="button">
            </div>
        </div>
        <table class="resultTable">
            <thead>
                <tr>
                    <th class="sTh1">Issued Correspondence</th>
                </tr>
                </thead>
            <tbody>
                <tr class="sRow2">
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr class="sRow2">
                                    <td class="sTh2" style="width: 150px">Letter Type</td>
                                    <td class="sTh2" style="width: 100px">Issued Date</td>
                                    <td class="sTh2" style="width: 100px">Document S/N</td>
                                    <td class="sTh2">Letter Template No.</td>
                                    <td class="sTh2" style="width: 100px">View Image</td>
                                    <td class="sTh2" style="width: 100px">Folder Type</td>
                                </tr>
                                <tr class="sRow2">
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                </tr>

                            </tbody>
                        </table>
                        <input name="folderTypeList[0].value" value="Public" type="hidden">
                        <input name="folderTypeList[0].label" value="Public" type="hidden">
                        <input name="folderTypeList[1].value" value="Private" type="hidden">
                        <input name="folderTypeList[1].label" value="Private" type="hidden">

                    </td>
                </tr>
            </tbody>
        </table>

        <div class="btnSet btnSetTypeA">
            <div class="right">
                <input class="inputButton" id="btnSaveFolderTypeIssuedCor" name="btnSaveFolderTypeIssuedCor" value="Save" style="width:80px;" onclick="saveFolderType()"  type="button">
            </div>
        </div>
    </div>

    <div class="sList" id="mwItemInfo">


        <script type="text/javascript"><!--
	function maximizeItem() {
		var el = document.getElementById("itemHist");
		el.style.display = (el.style.display != 'none' ? 'none' : 'block' );
	}
//--></script>



        <br>
        <div class="sList">
            <table class="resultTable">
                <thead>
                    <tr class="sRow2">
                        <th class="sTh1" colspan="4">Details of the prescribed building or building works</th>
                    </tr>

                    <tr class="sRow2">
                        <th class="sTh2" width="120px">Works item</th>
                        <th class="sTh2" width="400px">Description</th>
                        <th class="sTh2" width="120px">Corresponding<br>Minor Works Item</th>
                        <th class="sTh2">Order / Direction / Notice No. / BD Reference No.</th>
                    </tr>
                    </thead>
                <tbody>

                    <tr class="sRow2">
                        <td class="sCell">1</td>
                        <td class="sCell">desc of 1</td>
                        <td class="sCell">Not applicable</td>
                        <td class="sCell"></td>
                    </tr>




                </tbody>
            </table>
        </div>

        <br>
        <div class="sList">
            <table class="resultTable">
                <thead>
                    <tr class="sRow2">
                        <th class="sTh1" colspan="4">Part 3 of Schedule 3 of the Building (Minor Works)</th>
                    </tr>
                    <tr class="sRow2">
                        <th class="sTh2" width="120px">Works item No</th>
                        <th class="sTh2" width="400px">Description</th>
                        <th class="sTh2" width="120px">Corresponding<br>Minor Works Item</th>
                        <th class="sTh2">Order / Direction / Notice No. / BD Reference No.</th>
                    </tr>
                    </thead>


                <tbody></tbody>
            </table>
        </div>

        <br>
        <div class="sList">
            <table class="resultTable">
                <thead>
                    <tr class="sRow2">
                        <th class="sTh1" colspan="5">Parts 4 to 14 of Schedule 3 of the Building (Minor Works)</th>
                    </tr>
                    <tr class="sRow2">
                        <th class="sTh2" colspan="2" width="120px">Works item No</th>
                        <th class="sTh2" rowspan="2" width="400px">Description</th>
                        <th class="sTh2" rowspan="2" width="120px">Corresponding<br>Minor Works Item</th>
                        <th class="sTh2" rowspan="2">Order / Direction / Notice No. / BD Reference No.</th>
                    </tr>
                    <tr>
                        <th class="sTh2">Part</th>
                        <th class="sTh2">Item</th>
                    </tr>

                    </thead>
                <tbody></tbody>
            </table>
        </div>

        <br>
        <div class="sList">
            <table class="resultTable">
                <thead>
                    <tr class="sRow2">
                        <th class="sTh1" colspan="5">Class III Alteration or Strengthening Works carried out for the above Prescribed Building or Building Works</th>
                    </tr>
                    <tr class="sRow2">
                        <th class="sTh2" width="120px">Works item</th>
                        <th class="sTh2" width="600px">Description</th>
                    </tr>


                    </thead>

                <tbody></tbody>
            </table>
        </div>

        <br>
        <div class="sList">
            <table class="resultTable">
                <thead>
                    <tr class="sRow2">
                        <th class="sTh1" colspan="5">Part F. Revisions of the Completed Class I Alteration or Strengthening Works</th>
                    </tr>
                    <tr class="sRow2">
                        <th class="sTh2" width="120px">Minor Works Item</th>
                        <th class="sTh2" width="400px">Description of Class I Minor Works</th>
                        <th class="sTh2" width="400px">Description of the Differences</th>
                    </tr>

                    </thead>

                <tbody></tbody>
            </table>
        </div>

        <br>
        <div class="sList">
            <table class="resultTable">
                <thead>
                    <tr class="sRow2">
                        <td class="sTh1" colspan="5">Part G. Revisions of the Completed Class I Alteration or Strengthening Works</td>
                    </tr>
                    <tr class="sRow2">
                        <td class="sTh2" width="120px">Minor Works Item</td>
                        <td class="sTh2" width="400px">Description of Class I Minor Works</td>
                        <td class="sTh2" width="400px">Description of the Differences</td>
                    </tr>
                    </thead>


                <tbody>
                    <tr class="sRow2">
                        <td class="sCell">3.45</td>
                        <td class="sCell"></td>
                        <td class="sCell"></td>
                    </tr>


                </tbody>
            </table>
        </div>



        <div class="btnSet btnSetTypeA">
            <div class="right">
                <input class="inputButton" id="btnHistory" name="btnHistory" value="History" style="width:200px;" onclick="maximizeItem()" type="button">
            </div>
        </div>

        <div class="sList" id="itemHist" style="display:none">
            <table class="sTable" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="sTh1">Minor Work Item</td>
                    </tr>
                    <tr class="sRow2">
                        <td class="sCell" style="padding:0px;">
                            <table class="sTable" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td class="fLabel">Item No.</td>
                                        <td class="fLabel">Description</td>
                                        <td class="fLabel">Relevant Order/Direction/Notice/BD Reference No.</td>


                                    </tr>

                                    <tr>
                                        <td class="sCell">&nbsp;1</td>
                                        <td class="sCell">&nbsp;desc of 1</td>
                                        <td class="sCell">&nbsp;</td>



                                    </tr>


                                    <tr>
                                        <td class="sCell">&nbsp;3.45</td>
                                        <td class="sCell">&nbsp;</td>
                                        <td class="sCell">&nbsp;</td>



                                    </tr>


                                    <tr>
                                        <td class="sCell">&nbsp;1</td>
                                        <td class="sCell">&nbsp;desc of 1</td>
                                        <td class="sCell">&nbsp;</td>



                                    </tr>


                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- ************************************************** -->
    <!--                                                    -->
    <!-- Particulars of PBP - AP/RSE                        -->
    <!--                                                    -->
    <!-- ************************************************** -->
    <div class="sList" id="pbpInfo" style="display: none;">
        <table class="sTable" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <table class="sTable" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="sTh1" colspan="4">Particulars of Appointed Person</td>
                                    <td class="sTh1">Result</td>
                                    <td class="sTh1 sThRight"></td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sTh2 apWord">AP</td>
                                    <td class="sTh2">Certification of Registration No.</td>
                                    <td class="sTh2">English Name</td>
                                    <td class="sTh2">Chinese Name</td>
                                    <td class="sTh2 apWord" style="width: 120px" colspan="2">Name of AP/RI</td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell">

                                        AP/RI


                                        &nbsp;
                                    </td>
                                    <td class="sCell">
                                        AP(A) 1/02&nbsp;
                                    </td>
                                    <td class="sCell">
                                        &nbsp;<br><font color="red">CRM: NG Kwok Hing</font>
                                    </td>
                                    <td class="sCell">
                                        &nbsp;<br><font color="red">CRM: 吳國興</font>
                                    </td>
                                    <td class="sCell" colspan="2">
                                        <label>
                                            <input class="inputRadio" id="pbpApInfoNameO" name="formChecklist.pbpApInfoName" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="pbpApInfoNameN" name="formChecklist.pbpApInfoName" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                        <font color="#FF0000">Names are not identical</font>
                                    </td>
                                </tr>
                                <tr class="sRow2">
                                    <td class="sCell">RSE</td>
                                    <td class="sCell">
                                        RSE 67/05&nbsp;
                                    </td>
                                    <td class="sCell">
                                        &nbsp;

                                    </td>
                                    <td class="sCell">
                                        &nbsp;

                                    </td>
                                    <td class="sCell" colspan="2">
                                        <label>
                                            <input class="inputRadio" id="pbpAp2InfoNameO" name="formChecklist.pbpAp2InfoName" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="pbpAp2InfoNameN" name="formChecklist.pbpAp2InfoName" value="N" disabled="" type="radio">
                                            Not OK
                                        </label>
                                        <font color="#FF0000"></font>
                                    </td>
                                </tr>
                                <tr class="sRow2">
                                    <td class="sCell">RGBC</td>
                                    <td class="sCell">
                                        GBC 111/99&nbsp;
                                    </td>
                                    <td class="sCell">
                                        &nbsp;

                                    </td>
                                    <td class="sCell">
                                        &nbsp;

                                    </td>
                                    <td class="sCell" colspan="2">
                                        <label>
                                            <input class="inputRadio" id="" name="formChecklist.pbpAp3InfoName" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="" name="formChecklist.pbpAp3InfoName" value="N" disabled="" type="radio">
                                            Not OK
                                        </label>
                                        <font color="#FF0000"></font>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>
    <div class="sList" id="formPbpCheck" style="display: none;">
        <table class="sTable" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <table class="sTable" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="sTh" style="width: 450px">Checking of Appointed Person for inspection</td>
                                    <td class="sTh">Result</td>
                                    <td class="sTh" style="width: 270px">Remark</td>
                                </tr>
                                <tr class="sRow2">
                                    <td class="sCell"><b>Validity of Appointed Person</b></td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="pbpApValidO" name="formChecklist.pbpApValid" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="pbpApValidN" name="formChecklist.pbpApValid" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                    </td>
                                    <td class="sCell">
<textarea class="inputTextarea remark" id="pbpApValidRmk" name="formChecklist.pbpApValidRmk" rows="5" cols="20" disabled=""></textarea>
                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell apWord">
                                        <b>Signature of AP/RI</b>
                                        <br>
                                        Specimen Signature (AP): <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a8591a65d53a580015d5459bb450060')" alt="ico">
                                        <br>
                                        Specimen Signature (RSE): <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a8591a65d53a580015d5459bb450061')" alt="ico">
                                        <br>
                                        Specimen Signature (RGBC): <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a8591a65d53a580015d5459bb450062')" alt="ico">
                                    </td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="pbpApSignO" name="formChecklist.pbpApSign" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="pbpApSignN" name="formChecklist.pbpApSign" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                    </td>
                                    <td class="sCell">
<textarea class="inputTextarea remark" id="pbpApSignRmk" name="formChecklist.pbpApSignRmk" rows="5" cols="20" disabled=""></textarea>
                                    </td>
                                </tr>
                                <tr class="sRow2">
                                    <td class="sCell apWord">
                                        <b>AP/RI Signature Date</b>
                                        <br>
                                        &nbsp;&nbsp;AP/RI:

                                        <br>
                                        &nbsp;&nbsp;RSE:
                                        <br>
                                        &nbsp;&nbsp;RGBC:
                                    </td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="pbpApSignatureDateO" name="formChecklist.pbpApSignatureDate" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="pbpApSignatureDateN" name="formChecklist.pbpApSignatureDate" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                    </td>
                                    <td class="sCell">
<textarea class="inputTextarea remark" id="pbpApSignatureDateRmk" name="formChecklist.pbpApSignatureDateRmk" rows="5" cols="20" disabled=""></textarea>
                                    </td>
                                </tr>
                                <tr class="sRow1">
                                    <td class="sCell" colspan="3">Other Checking</td>
                                </tr>

                                <!--
                                                        <tr class="sRow2">
                                                            <td class="sCell">
                                                                <b>Inspection Date and Appointed Person Signature Date</b>
                                                                <br />
                                                                &nbsp;&nbsp;Inspection Date:
                                                                <br />
                                                                &nbsp;&nbsp;Appointed Person Signature Date:
                                                            </td>
                                                            <td class="sCell">
                                                                <label>
                                <input class="inputRadio" type="radio" id="infoInsDateO" name="formChecklist.infoInsDate" value="O"  />
                                                                    OK
                                                                </label>
                                                                <label>
                                <input class="inputRadio" type="radio" id="infoInsDateN" name="formChecklist.infoInsDate" value="N"  />
                                                                    Not OK
                                                                </label>
                                                            </td>
                                                            <td class="sCell">
                                <textarea class="inputTextarea remark" id="infoInsDateRmk" name="formChecklist.infoInsDateRmk" rows="5" cols="20"></textarea>
                                                            </td>
                                                        </tr>
                                                        -->

                                <tr class="sRow2">
                                    <td class="sCell"><b>Other Information</b></td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="pbpOtherO" name="formChecklist.pbpOther" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="pbpOtherN" name="formChecklist.pbpOther" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                    </td>
                                    <td class="sCell">
<textarea class="inputTextarea remark" id="pbpOtherRmk" name="formChecklist.pbpOtherRmk" rows="5" cols="20" disabled=""></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- ************************************************** -->
    <!--                                                    -->
    <!-- Particulars of PRC                                 -->
    <!--                                                    -->
    <!-- ************************************************** -->
    <div class="sList" id="prcInfo" style="display: none;">
        <table class="sTable" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr class="sRow2">
                    <td class="sTh1 apWord" colspan="4">Particulars of AP/RSE</td>
                    <td class="sTh1 apWord">Result</td>
                </tr>
                <tr class="sRow2">
                    <td class="sTh2 apWord">AP/RI</td>
                    <td class="sTh2">Certification of Registration No.</td>
                    <td class="sTh2">English Name</td>
                    <td class="sTh2">Chinese Name</td>
                    <td class="sTh2 apWord" style="width: 250px" colspan="1">Name of AP/RI</td>
                </tr>
                <tr class="sRow2">
                    <td class="sCell">AP</td>
                    <td class="sCell">
                        AP(A) 1/02&nbsp;
                    </td>
                    <td class="sCell">
                        &nbsp;

                    </td>
                    <td class="sCell">
                        &nbsp;

                    </td>
                    <td class="sCell" colspan="1">
                        <label>
                            <input class="inputRadio" id="" name="formChecklist.pbpAp4InfoName" value="O" disabled="" type="radio">
                            OK
                        </label>
                        <label>
                            <input class="inputRadio" id="" name="formChecklist.pbpAp4InfoName" value="N" disabled="" type="radio">
                            Not OK
                        </label>
                        <font color="#FF0000"></font>
                    </td>
                </tr>
                <tr class="sRow2">
                    <td class="sCell">RSE</td>
                    <td class="sCell">
                        RGE 3/06&nbsp;
                    </td>
                    <td class="sCell">
                        &nbsp;

                    </td>
                    <td class="sCell">
                        &nbsp;

                    </td>
                    <td class="sCell" colspan="1">
                        <label>
                            <input class="inputRadio" id="" name="formChecklist.pbpRseInfoName" value="O" disabled="" type="radio">
                            OK
                        </label>
                        <label>
                            <input class="inputRadio" id="" name="formChecklist.pbpRseInfoName" value="N" disabled="" type="radio">
                            Not OK
                        </label>
                        <font color="#FF0000"></font>

                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <table class="sTable" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <table class="sTable" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="sTh1" colspan="3">Particulars of PRC</td>
                                    <td class="sTh1">Result</td>
                                    <td class="sTh1" colspan="2">Particulars of AS</td>
                                    <td class="sTh1">Result</td>
                                    <td class="sTh1 sThRight"></td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sTh2">Certification of Registration No.</td>
                                    <td class="sTh2">English Name of PRC</td>
                                    <td class="sTh2">Chinese Name of PRC</td>
                                    <td class="sTh2" style="width: 120px">Name of PRC</td>
                                    <td class="sTh2">English Name of AS</td>
                                    <td class="sTh2">Chinese Name of AS</td>
                                    <td class="sTh2" style="width: 120px" colspan="2">Name of AS</td>
                                </tr>
                                <tr class="sRow2">
                                    <td class="sCell">
                                        MWC 3137/2011&nbsp;
                                    </td>
                                    <td class="sCell">
                                        &nbsp;<br><font color="red">CRM: LAM CHI KUN</font>
                                    </td>
                                    <td class="sCell">
                                        &nbsp;<br><font color="red">CRM: 林自勤</font>
                                    </td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="prcInfoNameO" name="formChecklist.prcInfoName" value="O" ondblclick="javascript:clearRadio(this)" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="prcInfoNameN" name="formChecklist.prcInfoName" value="N" ondblclick="javascript:clearRadio(this)" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                        <font color="#FF0000">Names are not identical</font>
                                    </td>
                                    <td class="sCell">
                                        &nbsp;
                                    </td>
                                    <td class="sCell">
                                        陳瑞忠&nbsp;
                                    </td>
                                    <td class="sCell" colspan="2">
                                        <label>



                                            <input class="inputRadio" id="prcInfoAsNameO" name="formChecklist.prcInfoAsName" value="O" checked="checked" disabled="" type="radio">

                                            OK
                                        </label>
                                        <label>



                                            <input class="inputRadio" id="prcInfoAsNameN" name="formChecklist.prcInfoAsName" value="N" disabled="" type="radio">

                                            Not OK
                                        </label>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>
    <div class="sList" id="formPrcCheck" style="display: none;">
        <table class="sTable" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <table class="sTable" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="sTh" style="width: 450px">Checking of PRC for strengthing works</td>
                                    <td class="sTh">Result</td>
                                    <td class="sTh" style="width: 270px">Remark</td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell"><b>Validity of appointed PRC</b></td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="prcValidO" name="formChecklist.prcValid" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="prcValidN" name="formChecklist.prcValid" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                    </td>
                                    <td class="sCell">
<textarea class="inputTextarea remark" id="prcValidRmk" name="formChecklist.prcValidRmk" rows="5" cols="20" disabled=""></textarea>
                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell"><b>Capability of appointed PRC</b></td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="prcCapO" name="formChecklist.prcCap" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="prcCapN" name="formChecklist.prcCap" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                    </td>
                                    <td class="sCell">
<textarea class="inputTextarea remark" id="prcCapRmk" name="formChecklist.prcCapRmk" rows="5" cols="20" disabled=""></textarea>
                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell"><b>Validity of Authorized Signatory</b></td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="prcAsValidO" name="formChecklist.prcAsValid" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="prcAsValidN" name="formChecklist.prcAsValid" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                    </td>
                                    <td class="sCell">
<textarea class="inputTextarea remark" id="prcAsValidRmk" name="formChecklist.prcAsValidRmk" rows="5" cols="20" disabled=""></textarea>
                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell">
                                        <b>Signature of AS</b>
                                        <br>
                                        Specimen Signature (AP): <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a8591a65d53a580015d5459bb45005d')" alt="ico">
                                        <br>
                                        Specimen Signature (RSE): <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a8591a65d53a580015d5459bb45005e')" alt="ico">
                                        <br>
                                        Specimen Signature (PRC): <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a8591a65d53a580015d5459bb45005f')" alt="ico">
                                    </td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="prcAsSignO" name="formChecklist.prcAsSign" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="prcAsSignN" name="formChecklist.prcAsSign" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                    </td>
                                    <td class="sCell">
<textarea class="inputTextarea remark" id="prcAsSignRmk" name="formChecklist.prcAsSignRmk" rows="5" cols="20" disabled=""></textarea>
                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell">
                                        <b>Availability of other suitable AS</b>
                                        <br>

                                    </td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="prcAsOtherO" name="formChecklist.prcAsOther" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="prcAsOtherN" name="formChecklist.prcAsOther" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                    </td>
                                    <td class="sCell">
<textarea class="inputTextarea remark" id="prcAsOtherRmk" name="formChecklist.prcAsOtherRmk" rows="5" cols="20" disabled=""></textarea>
                                    </td>
                                </tr>
                                <tr class="sRow2">
                                    <td class="sCell">
                                        <b>PRC Signature Date</b>
                                        <br>
                                        &nbsp;&nbsp;(AP):
                                        <br>
                                        &nbsp;&nbsp;(RSE):
                                        <br>
                                        &nbsp;&nbsp;(PRC):
                                    </td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="prcSignatureDateO" name="formChecklist.prcSignatureDate" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="prcSignatureDateN" name="formChecklist.prcSignatureDate" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                    </td>
                                    <td class="sCell">
<textarea class="inputTextarea remark" id="prcSignatureDateRmk" name="formChecklist.prcSignatureDateRmk" rows="5" cols="20" disabled=""></textarea>
                                    </td>
                                </tr>
                                <tr class="sRow1">
                                    <td class="sCell" colspan="3">Other Checking</td>
                                </tr>
                                <!--
                                                        <tr class="sRow2">
                                                            <td class="sCell">
                                                                <b>Commencement date and Completion Date</b>
                                                                <br />
                                                                &nbsp;&nbsp;Commencement Date:
                                                                <br />
                                                                &nbsp;&nbsp;Completion Date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </td>
                                                            <td class="sCell">
                                                                <label>
                                <input class="inputRadio" type="radio" id="infoDateO" name="formChecklist.infoDate" value="O"  />
                                                                    OK
                                                                </label>
                                                                <label>
                                <input class="inputRadio" type="radio" id="infoDateN" name="formChecklist.infoDate" value="N"  />
                                                                    Not OK
                                                                </label>
                                                            </td>
                                                            <td class="sCell">
                                <textarea class="inputTextarea remark" id="infoDateRmk" name="formChecklist.infoDateRmk" rows="5" cols="20"></textarea>
                                                            </td>
                                                        </tr>
                                                        -->
                                <tr class="sRow2">
                                    <td class="sCell"><b>Other Information</b></td>
                                    <td class="sCell">
                                        <label>
                                            <input class="inputRadio" id="prcOtherO" name="formChecklist.prcOther" value="O" disabled="" type="radio">
                                            OK
                                        </label>
                                        <label>
                                            <input class="inputRadio" id="prcOtherN" name="formChecklist.prcOther" value="N" checked="checked" disabled="" type="radio">
                                            Not OK
                                        </label>
                                    </td>
                                    <td class="sCell">
<textarea class="inputTextarea remark" id="prcOthermk" name="formChecklist.prcOtherRmk" rows="5" cols="20" disabled=""></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ************************************************** -->
    <!-- End                                                -->
    <!-- Particulars of PRC                                 -->
    <!--                                                    -->
    <!-- ************************************************** -->

    <div class="sList" id="formInfoCheck">
        <table class="inputTable">
            <thead>
                <tr>
                    <td class="sTh" style="width: 450px">Submission Information Checking</td>
                    <td class="sTh">Result</td>
                    <td class="sTh" style="width: 270px">Remarks</td>
                </tr>
                </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell">Notification</td>
                    <td class="sCell">
                        <label>
                            <input class="inputRadio" id="infoNotO" name="formChecklist.infoNot" value="O" disabled="" type="radio">
                            OK
                        </label>
                        <label>
                            <input class="inputRadio" id="infoNotC" name="formChecklist.infoNot" value="C" disabled="" type="radio">
                            Conditional
                        </label>
                        <label>
                            <input class="inputRadio" id="infoNotN" name="formChecklist.infoNot" value="N" checked="checked" disabled="" type="radio">
                            Refusal
                        </label>
                    </td>
                    <td class="sCell">
<textarea class="inputTextarea remark" id="infoNotRmk" name="formChecklist.infoNotRmk" rows="5" cols="20" disabled=""></textarea>
                    </td>
                </tr>

                <tr class="sRow2">
                    <td class="sCell">Other Information</td>
                    <td class="sCell">
                        <label>
                            <input class="inputRadio" id="infoOtherO" name="formChecklist.infoOther" value="O" disabled="" type="radio">
                            OK
                        </label>
                        <label>
                            <input class="inputRadio" id="infoOtherN" name="formChecklist.infoOther" value="N" checked="checked" disabled="" type="radio">
                            Not OK
                        </label>
                    </td>
                    <td class="sCell">
<textarea class="inputTextarea remark" id="infoOtherRmk" name="formChecklist.infoOtherRmk" rows="5" cols="20" disabled=""></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>





    <div class="btnSet btnSetTypeA">
        <div class="left">


        </div>
        <div class="right">








            <input class="inputButton" name="" value="Roll Back Comment" style="width:150px;" onclick="javascript:popup('http://10.5.17.38:80/pem/comment/addComment.action?recordId='+'8a8591a65d506b77015d536c25df001f'+'&amp;recordType='+'MwRecord'+'&amp;taskId='+'1696590'+'&amp;userPost='+'TO')" type="button">

            <input class="inputButton" id="btnNext" name="btnNext" value="Next" style="width:110px;" onclick="setPage('formPBP')" type="button">


        </div>
    </div>












