
<table class="inputTable">
<thead>
   <tr>
       <th colspan="4">Search Minor Work Item</th>
   </tr>
</thead>
<tbody>
    <tr>
        <th>Ref No. :</th>
        <td>
            <input class="inputText" type="text" id="searchRefNo" name="searchRefNo" value="" style="width: 180px">
        </td>
    </tr>

    <tr>
        <th>Submission Date :</th>
        <td>
            From
            <input class="inputDate" type="text" id="searchDateFrom" name="searchDateFrom" value="4/10/2017" readonly="">
            To
            <input class="inputDate" type="text" id="searchDateTo" name="searchDateTo" value="15/10/2018"  readonly="">
        </td>
    </tr>

    <tr>
        <th>Form No. :</th>
        <td>
            <select class="inputSelect" id="searchFormNo" name="searchFormNo" style="width: 180px">
                <option value="">- Select -</option>
                <option value="MW01">MW01</option>
                <option value="MW02">MW02</option>
                <option value="MW03">MW03</option>
                <option value="MW04">MW04</option>
                <option value="MW05">MW05</option>
                <option value="MW06">MW06</option>
                <option value="MW07">MW07</option>
                <option value="MW08">MW08</option>
                <option value="MW09">MW09</option>
                <option value="MW10">MW10</option>
                <option value="MW11">MW11</option>
                <option value="MW12">MW12</option>
                <option value="MW31">MW31</option>
                <option value="MW32">MW32</option>
                <option value="MW33">MW33</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Status :</th>
        <td>
            <select class="inputSelect" id="searchStatus" name="searchStatus" style="width: 180px">
                <option value="">- Select -</option>
                <option value="MW_VERT_STATUS_OPEN">Open</option>
                <option value="MW_ACKN_STATUS_OPEN">Completed</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Submission Type :</th>
        <td>
            <select class="inputSelect" id="searchSubmissionType" name="searchSubmissionType" style="width: 180px">
                <option value="">- Select -</option>
                <option value="Commencement">Commencement</option>
                <option value="Completion">Completion</option>
                <option value="Validation Scheme">Validation Scheme</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Minor Work Item :</th>
        <td>
            <input class="inputText" type="text" id="searchMwItem" name="searchMwItem" value="" style="width: 80px">
        </td>
    </tr>
</tbody>
<tfoot><tr><td colspan="4">

    <input type="button"  onclick="searchPEM0401()" value="Search" />
</td></tr></tfoot>
</table>


      

        <div class="sList">
            <table id="PEM0401Table" class="resultTable">

                <thead>
                    <tr>
                        <th class="sTh">Ref No.</th>
                        <th class="sTh">Form No.</th>
                        <th class="sTh">Minor Work Item</th>
                        <th class="sTh">Assignment Date</th>
                        <th class="sTh">Status</th> 
                        <th class="sTh">SSP</th>
                    </tr>
                    </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    
