







<div class="blankBody">
    <!-- InstanceBeginEditable name="content" -->
    <h3>Comment</h3>
    <div class="sList">
        <table class="resultTable">
            <thead>
                <tr>
                    <th class="sTh" style="width:100px">From User</th>
                    <th class="sTh" style="width:100px">Created Date</th>
                    <th class="sTh" style="width:100px">Modified Date</th>
                    <th class="sTh">Comment</th>

                    <th class="sTh" style="width:100px">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell">ADMIN&nbsp;</td>
                    <td class="sCell">6/11/2018&nbsp;</td>
                    <td class="sCell">6/11/2018&nbsp;</td>
                    <td class="sCell"><br>&nbsp;</td>

                    <td class="sCell">

                        <input class="inputButton" type="button" name="btnEditComment" value="Edit" style="width:80px;" onclick="loadContentPage('PEM0301c3')">

                    </td>

                </tr>

                <tr class="sRow2">
                    <td class="sCell">ADMIN&nbsp;</td>
                    <td class="sCell">6/11/2018&nbsp;</td>
                    <td class="sCell">6/11/2018&nbsp;</td>
                    <td class="sCell"><br>&nbsp;</td>

                    <td class="sCell">

                        <input class="inputButton" type="button" name="btnEditComment" value="Edit" style="width:80px;" onclick="loadContentPage('PEM0301c3')">

                    </td>

                </tr>

            </tbody>
        </table>
    </div>

    <table class="dataForm" width="100%" cellspacing="1" cellpadding="2" border="0">


        <tbody>
            <tr>
                <td class="fLabel" style="width:100px">Add Comment:</td>
                <td class="fLabel">&nbsp;</td>
            </tr>
            <tr class="sRow2">
                <td class="sCell" colspan="2">
        <tbody>

            <tr>
                <td>

                    <textarea rows="4" cols="50"></textarea>
                </td>
            </tr>

        </tbody>
    </table>
</div>


<div class="btnSet btnSetTypeA">
    <div class="right">

        <input class="inputButton" type="button" id="" name="" value="Save Comment" onclick="loadContentPage('PEM0301Ack2')">


        <input class="inputButton" type="button" id="" name="" value="Save Comment &amp; Roll Back" onclick="loadContentPage('PEM0301Ack2')" />



        <input class="inputButton" type="button" id="" name="" value="Cancel" onclick="loadContentPage('PEM0301Ack2')" />

    </div>
</div>
<!-- InstanceEndEditable -->
</div>