
<div class="w3-row">
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301Ack')">
        <div style="width:25%" class="w3-third tablink  w3-bottombar w3-hover-light-grey w3-padding">Audit</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301AL')">
        <div style="width:25%" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">AL requiring follow up</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301WL');">
        <div style="width:25%" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">WL requiring follow up</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301LSS');">
        <div style="width:25%" class="w3-third tablink  w3-border-red  w3-bottombar w3-hover-light-grey w3-padding">Case referred to LSS/EBD</div>
    </a>
</div>

<table id="LSS" class="resultTable  tab">
    <thead>
        <tr>
            <th class="sTh">TaskLSS</th>
            <th class="sTh">Ref. No.</th>
            <th class="sTh">Form No.</th>
            <th class="sTh">Received Date</th>
            <th class="sTh">Assignment Date</th>
            <th class="sTh">Status</th>
            <!--
            <td class="sTh">TaskId</td>
            -->
        </tr>
    </thead>
    <tbody>
        <tr class="sRow1">
            <td class="sCell">Rollbacked Verification&nbsp;</td>
            <td class="sCell">


                <a href="javascript:loadContentPage('')">MW160302973&nbsp;</a>





            </td>
            <td class="sCell">MW01&nbsp;</td>
            <td class="sCell">21/3/2016</td>
            <td class="sCell">22/3/2016</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>
        <tr class="sRow2">
            <td class="sCell">Rollbacked Verification&nbsp;</td>
            <td class="sCell">


                <a href="javascript:loadContentPage('')">MW160304580&nbsp;</a>





            </td>
            <td class="sCell">MW03&nbsp;</td>
            <td class="sCell">31/3/2016</td>
            <td class="sCell">1/4/2016</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>
        <tr class="sRow1">
            <td class="sCell">Rollbacked Verification&nbsp;</td>
            <td class="sCell">


                <a href="javascript:loadContentPage('')">MW160400026&nbsp;</a>





            </td>
            <td class="sCell">MW03&nbsp;</td>
            <td class="sCell">1/4/2016</td>
            <td class="sCell">5/4/2016</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>
    </tbody>
</table>