<h3> AL follow up</h3>


<table class="inputTable">
<tbody>
<tr><th>MW No. :</th><td>MW181100001</td></tr>
<tr><th>Form No. :</th><td>MW01</td></tr>
<tr><th>DSN :</th><td>D0000710582</td></tr>

</tbody>
</table>
<br/>
<table class="inputTable">
    <thead>
        <tr>
            <th>
                Category of Offence
            </th>
            <th>Rectified/Clarified </th>
            <th>Remarks</th>
        </tr>
    </thead>
<tbody>
<tr><th>offences1...</th><td><input type="checkbox"/></td><td><textarea style=""></textarea></td></tr>
<tr><th>offences2...</th><td><input type="checkbox"/></td><td><textarea style=""></textarea></td></tr>
<tr><th>offences3...</th><td><input type="checkbox"/></td><td><textarea style=""></textarea></td></tr>
    <tr><th><button>Add Offences</button>   <button>Update</button></th><td colspan="2"></td></tr>
<tr><th>Irregularities Type</th>
<td>
<input type="checkbox" id="m1"/><label for="m1">Minor Only</label>
<input type="checkbox" id="m2"/><label for="m2">Involve Major Offence</label>
</td>
<td colspan="2"><button>Update</button></td>
</tr></tbody>
<tfoot><tr><td colspan="3"><button onclick="loadContentPage('PEM0301AL')">Record Issued AL</button></td></tr></tfoot>
</table>