
    <!-- InstanceBeginEditable name="content" -->
    <h3>Complaint</h3>

    <div class="sList">
        <table class="inputTable">
            <tbody>
                <tr class="sRow2">
                    <td class="sCell" rowspan="2" style="background-color:#efefef;text-align:right; vertical-align:middle; font-weight:bold; padding-top:6px; width:200px">Image(s)</td>
                    <td class="sCell" style="background-color:#efefef;text-align:right; font-weight:bold; padding-top:6px; width:100px">Incoming</td>
                    <td class="sCell" colspan="3">

                        D0000748611<img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFileByDsn('D0000748611')">&nbsp;&nbsp;&nbsp;&nbsp;


                    </td>
                </tr>
                <tr class="sRow2">
                    <td class="sCell" style="background-color:#efefef;text-align:right; font-weight:bold; padding-top:6px; width:100px">Outgoing</td>
                    <td class="sCell" colspan="3"></td>
                </tr>
                <tr class="sRow2">
                    <td class="sCell" colspan="2" style="background-color:#efefef;text-align:right; font-weight:bold; padding-top:6px; width:300px">Ref No.</td>
                    <td class="sCell" colspan="3">Com170200031&nbsp;</td>
                </tr>
                <tr class="sRow2">
                    <td class="sCell" colspan="2" style="background-color:#efefef;text-align:right; font-weight:bold; padding-top:6px; width:300px">ICC No.</td>
                    <td class="sCell" colspan="3">&nbsp;</td>
                </tr>
                <tr class="sRow2">
                    <td class="sCell" colspan="2" style="background-color:#efefef;text-align:right; font-weight:bold; padding-top:6px; width:300px">Language Usage</td>
                    <td class="sCell" style="width:100px;">
                        <label>
                            <input class="inputRadio" id="lang" name="lang" value="EN" disabled="" type="radio">
                            English
                        </label>
                    </td>
                    <td class="sCell" style="width:150px;">
                        <label>
                            <input class="inputRadio" id="lang2" name="lang" value="ZH" checked="" disabled="" type="radio">
                            Chinese
                        </label>
                    </td>
                    <td class="sCell">&nbsp;</td>
                </tr>

            </tbody>
        </table>
    </div>
    <h3>
        Complainant   Details <font style="vertical-align:middle">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input class="inputCheckbox" id="" name="" style="vertical-align:middle" type="checkbox">
            The citizen refuses to leave contact information
        </font>
    </h3>
    <div class="sList">
        <table >
            <tbody>
                <tr class="sRow2">
                    <td class="sCell" style="padding:0px;">
                        <tabl>
                            <tbody>
                                <tr>
                                    <td class="sCell" style="padding:0px;">
                                        <table class="inputTable">
                                            <tbody>
                                                <tr>
                                                    <td class="fLabel" width="300px">Name in English</td>
                                                    <td class="fField"><input class="inputText" name="englishName" id="englishName" maxlength="200" value="" style="width:280px" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel" width="300px">Name in Chinese</td>
                                                    <td class="fField"><input class="inputText" name="chineseName" id="chineseName" maxlength="200" value="" style="width:280px" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Subject Title</td>
                                                    <td class="fField"><input class="inputText" name="subjectTitle" id="subjectTitle" maxlength="500" value="sdfsdfsdfs" style="width:180px" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Subject Address</td>
                                                    <td class="fField"><input class="inputText" name="subjectAddress" id="subjectAddress" maxlength="100" value="" style="width:180px" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Channel </td>
                                                    <td class="fField">
                                                        <select name="channel">

                                                            <option selected="'selected'" value="Telephone">Telephone</option>

                                                            <option value="Email">Email</option>

                                                            <option value="Fax">Fax</option>

                                                            <option value="Letter">Letter</option>

                                                            <option value="Memo">Memo</option>

                                                            <option value="Record Form">Record Form</option>

                                                            <option value="Others">Others</option>

                                                        </select>

                                                        <input name="channelList[0].value" value="Telephone" type="hidden">
                                                        <input name="channelList[0].label" value="Telephone" type="hidden">

                                                        <input name="channelList[1].value" value="Email" type="hidden">
                                                        <input name="channelList[1].label" value="Email" type="hidden">

                                                        <input name="channelList[2].value" value="Fax" type="hidden">
                                                        <input name="channelList[2].label" value="Fax" type="hidden">

                                                        <input name="channelList[3].value" value="Letter" type="hidden">
                                                        <input name="channelList[3].label" value="Letter" type="hidden">

                                                        <input name="channelList[4].value" value="Memo" type="hidden">
                                                        <input name="channelList[4].label" value="Memo" type="hidden">

                                                        <input name="channelList[5].value" value="Record Form" type="hidden">
                                                        <input name="channelList[5].label" value="Record Form" type="hidden">

                                                        <input name="channelList[6].value" value="Others" type="hidden">
                                                        <input name="channelList[6].label" value="Others" type="hidden">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Section/ Unit Reference No.</td>
                                                    <td class="fField"><input class="inputText" name="secUnitNo" id="secUnitNo" maxlength="100" value="" style="width:180px" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Correspondence Address</td>
                                                    <td class="fField"></td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Street/Road/Village</td>
                                                    <td class="fField">
                                                        <input class="inputText ac_input" id="street" name="ownerAddress.streetOrVillage" maxlength="500" value="" style="width: 300px;" disabled="" autocomplete="off" type="text">
                                                        <input class="inputText" id="street_code" name="ownerAddress.streetCode" value="" type="hidden">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Street Number</td>
                                                    <td class="fField">
                                                        <input class="inputText ac_input" id="street_no" name="ownerAddress.streetNo" maxlength="500" value="" style="width: 120px;" disabled="" autocomplete="off" type="text">
                                                        <input class="inputText" id="block_id" name="ownerAddress.blockID" value="" type="hidden">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Building/Estate</td>
                                                    <td class="fField"><input class="inputText" id="block_name" name="ownerAddress.buildingName" maxlength="500" value="" style="width: 300px;" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Floor</td>
                                                    <td class="fField">
                                                        <input class="inputText ac_input" id="floor" name="ownerAddress.floor" maxlength="500" value="" style="width: 300px;" disabled="" autocomplete="off" type="text">
                                                        <!-- <select id="floor" name="ownerAddress.floor" style="width:120px"
                                                              disabled
                                                        ></select> <input class="inputText" type="hidden" id="hidden_floor"
                                                                   name="ownerAddress.floor"
                                                                   value=""
                                                               />-->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Flat/Room</td>
                                                    <td class="fField">
                                                        <input class="inputText ac_input" id="unit" name="ownerAddress.flat" value="" style="width: 300px;" maxlength="500" disabled="" autocomplete="off" type="text">
                                                        <!-- <select id="unit" name="ownerAddress.flat" style="width:300px"
                                                              disabled
                                                        ></select><input class="inputText" type="hidden" id="hidden_unit"
                                                                   name="ownerAddress.flat"
                                                                   value=""
                                                               /> -->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">District</td>
                                                    <td class="fField">
                                                        <!-- <select class="inputSelect" style="width:180px" name="ownerAddress.district"   disabled
                                                        >

                                                                     <option value="WC"

                                                                      >
                                                                          WAN CHAI
                                                                      </option>

                                                                     <option value="YTM"

                                                                      >
                                                                          YAU TSIM MONG
                                                                      </option>

                                                                     <option value="E"

                                                                      >
                                                                          EASTERN
                                                                      </option>

                                                                     <option value="TW"

                                                                      >
                                                                          TSUEN WAN
                                                                      </option>

                                                                     <option value="SSP"

                                                                      >
                                                                          SHAM SHUI PO
                                                                      </option>

                                                                     <option value="ST"

                                                                      >
                                                                          SHA TIN
                                                                      </option>

                                                                     <option value="I"

                                                                      >
                                                                          ISLANDS
                                                                      </option>

                                                                     <option value="KT"

                                                                      >
                                                                          KWUN TONG
                                                                      </option>

                                                                     <option value="KTY"

                                                                      >
                                                                          KWAI TSING
                                                                      </option>

                                                                     <option value="TM"

                                                                      >
                                                                          TUEN MUN
                                                                      </option>

                                                                     <option value="S"

                                                                      >
                                                                          SOUTHERN
                                                                      </option>

                                                                     <option value="TP"

                                                                      >
                                                                          TAI PO
                                                                      </option>

                                                                     <option value="CW"

                                                                      >
                                                                          CENTRAL AND WESTERN
                                                                      </option>

                                                                     <option value="KC"

                                                                      >
                                                                          KOWLOON CITY
                                                                      </option>

                                                                     <option value="N"

                                                                      >
                                                                          NORTH
                                                                      </option>

                                                                     <option value="WTS"

                                                                      >
                                                                          WONG TAI SIN
                                                                      </option>

                                                                     <option value="YL"

                                                                      >
                                                                          YUEN LONG
                                                                      </option>

                                                                     <option value="SK"

                                                                      >
                                                                          SAI KUNG
                                                                      </option>

                                                                 </select> -->
                                                        <input class="inputText" id="district" name="ownerAddress.district" maxlength="200" value="" style="width: 300px;" disabled="" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">&nbsp;</td>
                                                    <td class="fField" valign="top">
                                                        <label>
                                                            <input name="ownerAddress.region" value="HK" disabled="" type="radio">
                                                            Hong Kong
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="ownerAddress.region" value="KLW" disabled="" type="radio">
                                                            Kowloon
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="ownerAddress.region" value="NT" disabled="" type="radio">
                                                            New Territories
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">E-mail Address</td>
                                                    <td class="fField"><input class="inputText" name="email" id="email" maxlength="50" value="" style="width:180px" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Contact No.</td>
                                                    <td class="fField"><input class="inputText" name="contactNo" id="contactNo" maxlength="22" value="" style="width:180px" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Fax No.</td>
                                                    <td class="fField"><input class="inputText" name="faxNo" id="faxNo" value="" maxlength="22" style="width:180px" disabled="" type="text"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </tabl>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3> Complaint Details </h3>
    <div class="sList">
        <table 
            <tbody>
                <tr class="sRow2">
                    <td class="sCell" style="padding:0px;">
                        <table >
                            <tbody>
                                <tr>
                                    <td class="sCell" style="padding:0px;">
                                        <table class="inputTable">
                                            <tbody>
                                                <tr>
                                                    <td class="fLabel" width="300px">Received Date of Complaint</td>
                                                    <td class="fField"><input class="inputCalendar" id="receivedDate" name="receivedDate" value="" disabled="" readonly="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">Subject Matter</td>
                                                    <td class="fField">
                                                        <textarea class="inputTextarea" id="subjectMatter" name="subjectMatter" onkeyup="return ismaxlength(this,2000)" style="width:300px; height:80px" disabled=""></textarea>
                                                    </td>
                                                </tr>
                                                <!--
                                                                      <tr>
                                                                          <td class="fLabel">
                                                                              Case Source
                                                                          </td>
                                                                          <td class="fField">
                                                                              <select name="source"  disabled
                                                >

                                                                                      <option

                                                                                          value="">
                                                                                          - Select -
                                                                                      </option>

                                                                                      <option

                                                                                          value="GENERAL_PUBLIC">
                                                                                          General Public
                                                                                      </option>

                                                                                      <option

                                                                                          value="ICC">
                                                                                          ICC
                                                                                      </option>

                                                                                      <option

                                                                                          value="INTERNAL_REFERRAL">
                                                                                          Internal Referral
                                                                                      </option>

                                                                                      <option

                                                                                          value="OTHERS">
                                                                                          Others
                                                                                      </option>

                                                                              </select>

                                                                                  <input type="hidden"
                                                                                      name="sourceList[0].value"
                                                                                      value="" />
                                                                                  <input type="hidden"
                                                                                      name="sourceList[0].label"
                                                                                      value="- Select -" />

                                                                                  <input type="hidden"
                                                                                      name="sourceList[1].value"
                                                                                      value="GENERAL_PUBLIC" />
                                                                                  <input type="hidden"
                                                                                      name="sourceList[1].label"
                                                                                      value="General Public" />

                                                                                  <input type="hidden"
                                                                                      name="sourceList[2].value"
                                                                                      value="ICC" />
                                                                                  <input type="hidden"
                                                                                      name="sourceList[2].label"
                                                                                      value="ICC" />

                                                                                  <input type="hidden"
                                                                                      name="sourceList[3].value"
                                                                                      value="INTERNAL_REFERRAL" />
                                                                                  <input type="hidden"
                                                                                      name="sourceList[3].label"
                                                                                      value="Internal Referral" />

                                                                                  <input type="hidden"
                                                                                      name="sourceList[4].value"
                                                                                      value="OTHERS" />
                                                                                  <input type="hidden"
                                                                                      name="sourceList[4].label"
                                                                                      value="Others" />

                                                                          </td>
                                                                      </tr>
                                                                      <tr>
                                                                          <td class="fLabel">
                                                                              Channel
                                                                          </td>
                                                                          <td class="fField">
                                                                              <select name="channel"  disabled
                                                >

                                                                                      <option
                                                                                          selected=&#039;selected&#039;
                                                                                          value="Telephone">
                                                                                          Telephone
                                                                                      </option>

                                                                                      <option

                                                                                          value="Email">
                                                                                          Email
                                                                                      </option>

                                                                                      <option

                                                                                          value="Fax">
                                                                                          Fax
                                                                                      </option>

                                                                                      <option

                                                                                          value="Letter">
                                                                                          Letter
                                                                                      </option>

                                                                                      <option

                                                                                          value="Memo">
                                                                                          Memo
                                                                                      </option>

                                                                                      <option

                                                                                          value="Record Form">
                                                                                          Record Form
                                                                                      </option>

                                                                                      <option

                                                                                          value="Others">
                                                                                          Others
                                                                                      </option>

                                                                              </select>

                                                                                  <input type="hidden"
                                                                                      name="channelList[0].value"
                                                                                      value="Telephone" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[0].label"
                                                                                      value="Telephone" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[1].value"
                                                                                      value="Email" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[1].label"
                                                                                      value="Email" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[2].value"
                                                                                      value="Fax" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[2].label"
                                                                                      value="Fax" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[3].value"
                                                                                      value="Letter" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[3].label"
                                                                                      value="Letter" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[4].value"
                                                                                      value="Memo" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[4].label"
                                                                                      value="Memo" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[5].value"
                                                                                      value="Record Form" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[5].label"
                                                                                      value="Record Form" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[6].value"
                                                                                      value="Others" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[6].label"
                                                                                      value="Others" />

                                                                          </td>
                                                                      </tr>
                                                                       -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th class="sTh"> Subject Address Search Key </th>

                </tr>
                <tr class="sRow2">
                    <td class="sCell" style="padding:0px;">
                        <table >
                            <tbody>
                                <tr>
                                    <td class="sCell" style="padding:0px;">
                                        <table class="resultTable">
                                            <thead>
                                                <tr>
                                                    <th class="sTh1">Street/Road/Village</th>
                                                    <th class="sTh1">Street Number</th>
                                                    <th class="sTh1">Building/Estate</th>
                                                    <th class="sTh1">Floor</th>
                                                    <th class="sTh1">Flat/Room</th>
                                                    <th class="sTh1">District</th>
                                                    <th class="sTh1">Region</th>
                                                </tr>

                                                <input name="regionList[0].value" value="HK" type="hidden">
                                                <input name="regionList[0].label" value="Hong Kong" type="hidden">

                                                <input name="regionList[1].value" value="KLW" type="hidden">
                                                <input name="regionList[1].label" value="Kowloon" type="hidden">

                                                <input name="regionList[2].value" value="NT" type="hidden">
                                                <input name="regionList[2].label" value="New Territories" type="hidden">

                                                </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="5">&nbsp;</td>
                                                    <td>
                                                        <input class="inputButton" id="" name="" value="Add" style="width:70px;" onclick="javascript:addAddress()" disabled="" type="button">
                                                    </td>
                                                    <td><input class="inputButton" id="" name="" value="Copy" style="width:70px;" onclick="javascript:copyAddress()" disabled="" type="button"></td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td class="sTh"> Complaint Address</td>
                </tr>
                <tr>
                    <td>
                        <textarea class="inputTextarea" id="addressArea" name="addressArea" onkeyup="return ismaxlength(this,5000)" style="width:950px; height:200px;" disabled=""></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>





    <div class="btnSet btnSetTypeA">
        <div class="right">



            <input class="inputButton" id="" name="" value="Next" style="width:90px;" onclick="loadContentPage('PEM0301b')" type="button">



        </div>
    </div>



    <br>
    <br>
    <!-- InstanceEndEditable -->
