
<table class="inputTable">
    <thead>
        <tr>
            <th class="label">Checking &gt;</th>
            <th class="text"><a id="formInfo">Submission Information Checking</a></th>
            <th class="text" style="background-color:yellow"><a id="formPbp" class="">PBP Checking</a></th>
            <th class="text"><a id="formPrc" class="">PRC Checking</a></th>
            <th class="text" style="width:350px">&nbsp;</th>
            <th class="sCell" align="right">Status: draft</th>
        </tr>
    </thead>
</table>




<div class="sList" id="caseInfo">
    <table class="inputTable">
        <thead>
            <tr>
                <th class="sTh">Submission Information</th>
                <th colspan="3" class="sThRight">


                    <input class="sBtn" type="button" id="btnEditButton" name="btnEditButton" value="Edit" onclick="loadContentPage('PEM0301cEdit')">


                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th class="fLabel" style="width: 200px">Ref. No. :</th>
                <td class="fText">MW160302973</td>
                <th class="fLabel" style="width: 200px">Form No. :</th>
                <td class="fText">MW01</td>


            </tr>

            <tr>
                <th class="fLabel" style="width: 200px">Previous MW No. :</th>
                <td class="fText"><br></td>
                <th class="fLabel" style="width: 200px">File Reference No. :</th>
                <td class="fText">/</td>

            </tr>

            <tr>
                <th class="fLabel" style="width: 200px; height: 50px">
                    Received Date


                 :</th>
                <td class="fText">21/3/2016</td>
                <th class="fLabel" style="width: 200px; height: 50px">
                    Location/Address of the proposed minor works are to be carried out

                 :</th>
                <td class="fText">
                    錦華樓 xxx號 親民街 西貢 NT


                </td>
            </tr>

            <tr>
                <th class="fLabel">
                    Commencement Date

                 :</th>
                <td class="fText">29/3/2016</td>
                <th rowspan="2" class="fLabel">
                    Completion Date
                 :</th>
                <td rowspan="2" class="fText"></td>
            </tr>
            <tr class="fLabel">
                <th class="fLabel" style="width: 200px">Requirements :</th>
                <td class="fText">
                    1
                    Indicator for version 1 MW Item (Before Effective date of the law in 2017)
                    <input type="hidden" name="selectOfReqCode" id="selectOfReqCode" value="1">
                </td>
            </tr>
        </tbody>
    </table>


</div>
<!--
<input type="hidden" value="" id="defaultDataVersion"/>
<input type="hidden" value="false" id="selectOfVersion"/>
-->
<script>
    /*
    var selectOfVersion = document.getElementById('selectOfVersion').value;
    if (selectOfVersion == 'true'){
        document.getElementById("dataVersion").disabled = true;}
    else{
        document.getElementById("dataVersion").disabled = false;}
    */
</script>



<div class="sList" id="mwInfo" style="display: none;">
    <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td class="sTh1">Location/Address of the proposed minor works are to be carried out</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell" style="padding: 0px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="fLabel" style="width:200px">Location of Minor Works</td>
                                <td class="fText"></td>
                            </tr>

                            <tr>
                                <td class="fLabel">Address</td>
                                <td class="fText">   錦華樓 18-32號 親民街 西貢 NT</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="sTh1">Particulars of the person who arranged for the minor works to be carried out</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell" style="padding:0px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="width:50%" valign="top">
                                    <table width="100%" border="0" cellpadding="2" cellspacing="1">
                                        <tbody>
                                            <tr>
                                                <td class="fLabel" style="width:200px">English Name:</td>
                                                <td class="fText">SMART ON CONSTRUCTION (HONG KONG) LIMITED&nbsp;</td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Chinese Name:</td>
                                                <td class="fText">駿安建築(香港)有限公司</td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Correspondence Address</td>
                                                <td class="fText">       </td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Contact No.</td>
                                                <td class="fText">37412502</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table width="100%" border="0" cellpadding="2" cellspacing="1">
                                        <tbody>
                                            <tr>
                                                <td class="fLabel" style="width:200px">HKID/BR/Passport No.</td>
                                                <td class="fText">39494913-000-06-13-9</td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Country of Issue:</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Email Address:</td>
                                                <td class="fText">INFO@SMARTON.COM.HK</td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Fax No.</td>
                                                <td class="fText">37412507</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="sTh1">Particulars of the person for whom the signboard is to be erected</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell" style="padding:0px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="width:50%" valign="top">
                                    <table width="100%" border="0" cellpadding="2" cellspacing="1">
                                        <tbody>
                                            <tr>
                                                <td class="fLabel" style="width:200px">English Name:</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Chinese Name:</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Correspondence Address</td>
                                                <td class="fText">       </td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Contact No.</td>
                                                <td class="fText"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table width="100%" border="0" cellpadding="2" cellspacing="1">
                                        <tbody>
                                            <tr>
                                                <td class="fLabel" style="width:200px">HKID/BR/Passport No.</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Country of Issue:</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Email Address:</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Fax No.</td>
                                                <td class="fText"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="sList" id="submittedDoc">







    <table class="resultTable">
        <thead>
            <tr>
                <th colspan="6" class="sTh1">Submitted Document</th>
            </tr>

            <tr class="sRow2">
                <th class="sTh2" style="width: 150px">Document Type</th>
                <th class="sTh2" style="width: 100px">Received Date</th>
                <th class="sTh2" style="width: 100px">Document S/N</th>
                <th class="sTh2">Document Title</th>
                <th class="sTh2" style="width: 100px">View Image</th>
                <th class="sTh2" style="width: 100px">Folder Type</th>
            </tr>

        </thead>
        <tbody>
            <tr class="sRow2">
                <td class="fField">
                    Plan
                    <input type="hidden" name="docList[0].uuid" value="663E342F3313471FA10D6072494286BB">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000709940C</td>
                <td class="fField">MW01</td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000709940C')" alt="ico"></td>
                <td class="fField">
                    <select name="docList[0].folderType">

                        <option selected="selected" value="Public">Public</option>

                        <option value="Private">Private</option>

                    </select>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="fField">
                    Form
                    <input type="hidden" name="docList[1].uuid" value="BE8C6F6288E9437B9F60265D24685317">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000709940A</td>
                <td class="fField">MW01</td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000709940A')" alt="ico"></td>
                <td class="fField">
                    <select name="docList[1].folderType">

                        <option value="Public">Public</option>

                        <option selected="selected" value="Private">Private</option>

                    </select>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="fField">
                    Photo
                    <input type="hidden" name="docList[2].uuid" value="C2652DAD06F84DF9AF9FED8545135FD2">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000709940B</td>
                <td class="fField">MW01</td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000709940B')" alt="ico"></td>
                <td class="fField">
                    <select name="docList[2].folderType">

                        <option selected="selected" value="Public">Public</option>

                        <option value="Private">Private</option>

                    </select>
                </td>
            </tr>

        </tbody>

    </table>


    <table class="inputTable">
        <tfoot>
            <tr>
                <th>
                    <input class="inputButton" type="button" id="btnSaveFolderTypeSubmittedDoc" name="btnSaveFolderTypeSubmittedDoc" value="Save" onclick="saveFolderType('')">
                </th>
            </tr>
        </tfoot>
    </table>


    <table class="resultTable">
        <thead>
            <tr>
                <th colspan="6" class="sTh1">Issued Correspondence</th>
            </tr>

            <tr class="sRow2">
                <th class="sTh2" style="width: 150px">Letter Type</th>
                <th class="sTh2" style="width: 100px">Issued Date</th>
                <th class="sTh2" style="width: 100px">Document S/N</th>
                <th class="sTh2">Letter Template No.</th>
                <th class="sTh2" style="width: 100px">View Image</th>
                <th class="sTh2" style="width: 100px">Folder Type</th>
            </tr>

        </thead>
        <tbody>
            <tr class="sRow2">
                <td class="fField">

                    <input type="hidden" name="uuidList[0]" value="EE90F96B45D340C6AC29ACD9FD000BA0">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000710582</td>
                <td class="fField"></td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000710582')" alt="ico"></td>
                <td class="fField">
                    <select name="folderTypeSelected[0]">

                        <option value="Public">Public</option>

                        <option selected="selected" value="Private">Private</option>

                    </select>
                </td>
            </tr>


    </table>

    <table class="inputTable">

        <tfoot>
            <tr>
                <th>
                    <input class="inputButton" type="button" id="btnSaveFolderTypeIssuedCor" name="btnSaveFolderTypeIssuedCor" value="Save" style="width:80px;" onclick="saveFolderType('Letter')">
                </th>
            </tr>
        </tfoot>
    </table>




    <div class="sList" id="mwItemInfo">




        <script type="text/javascript">
<!--
            function maximizeItem() {
                var el = document.getElementById("itemHist");
                el.style.display = (el.style.display != 'none' ? 'none' : 'block');
            }
            //-->
        </script>






        <table class="resultTable">



            <thead>
                <tr>
                    <th colspan="6" class="sTh1">Details of the Minor Work</th>
             
                </tr>

                <tr class="sRow2">
                    <th class="sTh2">Item sequence</th>
                    <th class="sTh2">Minor Work item</th>
                    <th class="sTh2">Type</th>
                    <th class="sTh2">Description</th>
                    <th class="sTh2">
                        Relevant Order/ Direction/ Notice No./ BD Reference No.


                    </th>

                </tr>
            </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell">
                        1
                        &nbsp; in &nbsp;



                        MW01





                    </td>
                    <td class="sCell">
                        1.17
                        &nbsp;
                    </td>
                    <td class="sCell">



                        MW01


                        &nbsp;
                    </td>
                    <td class="sCell">
                        按照原本設計,於大廈外牆位置,修葺懸臂式平板
                        &nbsp;
                    </td>
                    <td class="sCell">

                        &nbsp;
                    </td>

                </tr>

            </tbody>


        </table>
    </div>

    <table class="inputTable">
        <tfoot>
            <tr>
                <th>
                    <input class="inputButton" type="button" id="btnHistory" name="btnHistory" value="History" onclick="maximizeItem()">
                </th>
            </tr>
        </tfoot>
    </table>



    <div id="PEM0301cTable" style="display:none">

        <table class="resultTable">
            <thead>
                <tr>
                    <th class="sTh1">Minor Work Item</th>
                </tr>

                <tr>
                    <th class="fLabel">Item No.</th>
                    <th class="fLabel">Description</th>
                    <th class="fLabel">Relevant Order/Direction/Notice/BD Reference No.</th>

            </thead>
            <tbody>


                <tr>
                    <td class="sCell">&nbsp;1.17</td>
                    <td class="sCell">&nbsp;按照原本設計,於大廈外牆位置,修葺懸臂式平板</td>
                    <td class="sCell">&nbsp;</td>



                </tr>


            </tbody>
        </table>

    </div>

</div>

<!-- ************************************************** -->
<!--                                                    -->
<!-- Particulars of PBP                                 -->
<!--                                                    -->
<!-- ************************************************** -->
<div class="sList" id="pbpInfo" style="display: none;">
    <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="sTh1" colspan="4">Particulars of PBP</td>
                                <td class="sTh1">Result</td>
                      
                            </tr>

                            <tr class="sRow2">
                                <td class="sTh2">PBP</td>
                                <td class="sTh2">Certification of Registration No.</td>
                                <td class="sTh2">English Name</td>
                                <td class="sTh2">Chinese Name</td>
                                <td class="sTh2" colspan="2">Name of PBP</td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    AP/RI


                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    AP(A)  2083/65&nbsp;
                                </td>
                                <td class="sCell">
                                    SHUN xxx xxx&nbsp;
                                </td>
                                <td class="sCell">
                                    沈xx&nbsp;
                                </td>
                                <td class="sCell" colspan="2">
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpApInfoName" name="formChecklist.pbpApInfoName" value="O">
                                        OK
                                    </label>
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpApInfoName" name="formChecklist.pbpApInfoName" value="N" checked="checked">
                                        Not OK
                                    </label>
                                    <font color="#FF0000">Certification of Registration No. Not Found!</font>
                                </td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">RSE&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell" colspan="2">
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpRseInfoName" name="formChecklist.pbpRseInfoName" value="O" ondblclick="javascript:clearValue('pbpRseInfoName')" disabled="disabled">
                                        OK
                                    </label>
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpRseInfoName" name="formChecklist.pbpRseInfoName" value="N" ondblclick="javascript:clearValue('pbpRseInfoName')" disabled="disabled">
                                        Not OK
                                    </label>

                                </td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">RGE&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell" colspan="2">
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpRgeInfoName" name="formChecklist.pbpRgeInfoName" value="O" ondblclick="javascript:clearRadio(this)" disabled="disabled">
                                        OK
                                    </label>
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpRgeInfoName" name="formChecklist.pbpRgeInfoName" value="N" ondblclick="javascript:clearRadio(this)" disabled="disabled">
                                        Not OK
                                    </label>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- ************************************************** -->
<!-- End                                                -->
<!-- Particulars of PBP                                  -->
<!--                                                    -->
<!-- ************************************************** -->
<!-- ************************************************** -->
<!--                                                    -->
<!-- Particulars of PRC                                 -->
<!--                                                    -->
<!-- ************************************************** -->
<div class="sList" id="prcInfo" style="display: none;">
    <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="sTh1" colspan="3">Particulars of PRC</td>
                                <td class="sTh1">Result</td>
                                <td class="sTh1" colspan="2">Particulars of AS</td>
                                <td class="sTh1">Result</td>
                                <td class="sTh1 sThRight"></td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sTh2">Certification of Registration No.</td>
                                <td class="sTh2">English Name of PRC</td>
                                <td class="sTh2">Chinese Name of PRC</td>
                                <td class="sTh2" style="width: 120px">Name of PRC</td>
                                <td class="sTh2">English Name of AS</td>
                                <td class="sTh2">Chinese Name of AS</td>
                                <td class="sTh2" style="width: 120px" colspan="2">Name of AS</td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">
                                    GBC 3/2009&nbsp;
                                </td>
                                <td class="sCell">
                                    SMART ON CONSTRUCTION (HONG KONG) LIMITED&nbsp;&nbsp;<br><font color="red">CRM: SMART ON CONSTRUCTION (HONG KONG) LIMITED </font>
                                </td>
                                <td class="sCell">
                                    駿安建築(香港)有限公司&nbsp;
                                </td>
                                <td class="sCell">
                                    <label>
                                        <input class="inputRadio" type="radio" id="prcInfoName" name="formChecklist.prcInfoName" value="O" ondblclick="javascript:clearRadio(this)">
                                        OK
                                    </label>
                                    <label>
                                        <input class="inputRadio" type="radio" id="prcInfoName" name="formChecklist.prcInfoName" value="N" ondblclick="javascript:clearRadio(this)" checked="checked">
                                        Not OK
                                    </label>
                                    <font color="#FF0000">Names are not identical</font>
                                </td>
                                <td class="sCell">
                                    LI CHI KONG, ANDY&nbsp;<font color="red"><br>CRM: LI Chi Kong Andy</font>
                                </td>
                                <td class="sCell">
                                    李志剛&nbsp;
                                </td>
                                <td class="sCell" colspan="2">
                                    <label>
                                        <input class="inputRadio" type="radio" id="prcInfoAsName" name="formChecklist.prcInfoAsName" value="O" ondblclick="javascript:clearRadio(this)">
                                        OK
                                    </label>
                                    <label>
                                        <input class="inputRadio" type="radio" id="prcInfoAsName" name="formChecklist.prcInfoAsName" value="N" ondblclick="javascript:clearRadio(this)" checked="checked">
                                        Not OK
                                    </label>
                                    <font color="#FF0000">Names are not identical</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- ************************************************** -->
<!-- End                                                -->
<!-- Particulars of PRC                                 -->
<!--                                                    -->
<!-- ************************************************** -->

<br>

<table class="resultTable">
    <thead>
        <tr>
            <th class="sTh1" colspan="4">Particulars of PBP</th>
            <th class="sTh1">Result</th>
            <th class="sTh1 sThRight"></th>
        </tr>

        <tr class="sRow2">
            <th class="sTh2">PBP</th>
            <th class="sTh2">Certification of Registration No.</th>
            <th class="sTh2">English Name</th>
            <th class="sTh2">Chinese Name</th>
            <th class="sTh2" colspan="2">Name of PBP</th>
        </tr>
    </thead>
    <tbody>
        <tr class="sRow2">
            <td class="sCell">

                AP/RI


                &nbsp;
            </td>
            <td class="sCell">
                AP(A)  2083/65&nbsp;
            </td>
            <td class="sCell">
                SHUN KUI CHUNG&nbsp;
            </td>
            <td class="sCell">
                沈鉅忠&nbsp;
            </td>
            <td class="sCell" colspan="2">
                <label>
                    <input class="inputRadio" type="radio" id="pbpApInfoName" name="formChecklist.pbpApInfoName" value="O">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpApInfoName" name="formChecklist.pbpApInfoName" value="N" checked="checked">
                    Not OK
                </label>
                <font color="#FF0000">Certification of Registration No. Not Found!</font>
            </td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">RSE&nbsp;</td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell" colspan="2">
                <label>
                    <input class="inputRadio" type="radio" id="pbpRseInfoName" name="formChecklist.pbpRseInfoName" value="O" ondblclick="javascript:clearValue('pbpRseInfoName')" disabled="disabled">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpRseInfoName" name="formChecklist.pbpRseInfoName" value="N" ondblclick="javascript:clearValue('pbpRseInfoName')" disabled="disabled">
                    Not OK
                </label>

            </td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">RGE&nbsp;</td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell" colspan="2">
                <label>
                    <input class="inputRadio" type="radio" id="pbpRgeInfoName" name="formChecklist.pbpRgeInfoName" value="O" ondblclick="javascript:clearRadio(this)" disabled="disabled">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpRgeInfoName" name="formChecklist.pbpRgeInfoName" value="N" ondblclick="javascript:clearRadio(this)" disabled="disabled">
                    Not OK
                </label>

            </td>
        </tr>

    </tbody>
</table>















<table class="resultTable">
    <thead>
        <tr class="sRow1">
            <th class="sCell apWord" colspan="3">Checking of AP/RI</th>
        </tr>
        <tr>
            <th class="sTh" style="width:400px">PBP Checking</th>
            <th class="sTh">Result</th>
            <th class="sTh" style="width:300px">Remarks</th>
        </tr>


    </thead>
    <tbody>
        <tr class="sRow2">
            <td class="sCell"><b class="apWord">Validity of appointed AP/RI</b></td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="pbpApValidO" name="formChecklist.pbpApValid" value="O" checked="checked">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpApValidN" name="formChecklist.pbpApValid" value="N">
                    Not OK
                </label>
            </td>
            <td class="sCell">
<textarea class="inputTextarea remark" id="pbpApValidRmk" name="formChecklist.pbpApValidRmk" rows="5" cols="20"></textarea>
            </td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">
                <b class="apWord">Signature of AP/RI</b>
                <br>
                Specimen Signature: <img style="cursor:pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a85bda0537f331801539ce7dec152d6')" alt="ico">
            </td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="pbpApSignO" name="formChecklist.pbpApSign" value="O">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpApSignN" name="formChecklist.pbpApSign" value="N" checked="checked">
                    Not OK
                </label>
            </td>
            <td class="sCell">
<textarea class="inputTextarea remark" id="pbpApSignRmk" name="formChecklist.pbpApSignRmk" rows="5" cols="20"></textarea>
            </td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">
                <b>Supervision plan required</b>
                <br>
                (Result from SPO: &nbsp; Yes)
                <br>
                <textarea class="inputTextarea remark" id="pbpApSspSpoRmk" name="formChecklist.pbpApSspSpoRmk" rows="5" cols="20" disabled="disabled"></textarea>
            </td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="pbpApSspY" name="formChecklist.pbpApSsp" value="O">
                    Yes
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpApSspN" name="formChecklist.pbpApSsp" value="N" checked="checked">
                    No
                </label>
            </td>
            <td class="sCell">
<textarea class="inputTextarea remark" id="pbpApSspRmk" name="formChecklist.pbpApSspRmk" rows="5" cols="20">(Result from SPO:   Yes) </textarea>
            </td>
        </tr>


        <tr class="sRow2">
            <td class="sCell">
                <b class="apWord">AP/RI Signature Date</b>
                <br>
                &nbsp;&nbsp;2016-03-16
            </td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="pbpApSignatureDateO" name="formChecklist.pbpApSignatureDate" value="O" checked="checked">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpApSignatureDateN" name="formChecklist.pbpApSignatureDate" value="N">
                    Not OK
                </label>
            </td>
            <td class="sCell">
<textarea class="inputTextarea remark" id="pbpApSignatureDateRmk" name="formChecklist.pbpApSignatureDateRmk" rows="5" cols="20"></textarea>
            </td>
        </tr>
    </tbody>
    <thead>
        <tr class="sRow1">
            <th class="sCell" colspan="3">Checking of RSE</th>
        </tr>
    </thead>
    <tbody>
        <tr class="sRow2">
            <td class="sCell"><b>Validity of appointed RSE</b></td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="pbpRseValidO" name="formChecklist.pbpRseValid" value="O" disabled="disabled">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpRseValidN" name="formChecklist.pbpRseValid" value="N" disabled="disabled">
                    Not OK
                </label>
            </td>
            <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRseValidRmk" name="formChecklist.pbpRseValidRmk" rows="5" cols="20" disabled="disabled">N/A</textarea>
            </td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">
                <b>Signature of RSE</b>
                <br>
                Specimen Signature: <img style="cursor:pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a85bda0537f331801539ce7dec152d7')" alt="ico">
            </td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="pbpRseSignO" name="formChecklist.pbpRseSign" value="O" disabled="disabled">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpRseSignN" name="formChecklist.pbpRseSign" value="N" disabled="disabled">
                    Not OK
                </label>
            </td>
            <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRseSignRmk" name="formChecklist.pbpRseSignRmk" rows="5" cols="20" disabled="disabled">N/A</textarea>
            </td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">
                <b>RSE Signature Date</b>
                <br>
                &nbsp;&nbsp;
            </td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="pbpRseSignatureDateO" name="formChecklist.pbpRseSignatureDate" value="O" disabled="disabled">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpRseSignatureDateN" name="formChecklist.pbpRseSignatureDate" value="N" disabled="disabled">
                    Not OK
                </label>
            </td>
            <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRseSignatureDateRmk" name="formChecklist.pbpRseSignatureDateRmk" rows="5" cols="20" disabled="disabled">N/A</textarea>
            </td>
        </tr>
    </tbody>
    <thead>
        <tr class="sRow1">
            <th class="sCell" colspan="3">Checking of RGE</th>
        </tr>

    </thead>
    <tbody>
        <tr class="sRow2">
            <td class="sCell"><b>Validity of appointed RGE</b></td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="pbpRgeValidO" name="formChecklist.pbpRgeValid" value="O" disabled="disabled">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpRgeValidN" name="formChecklist.pbpRgeValid" value="N" disabled="disabled">
                    Not OK
                </label>
            </td>
            <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRgeValidRmk" name="formChecklist.pbpRgeValidRmk" rows="5" cols="20" disabled="disabled">N/A</textarea>
            </td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">
                <b>Signature of RGE</b>
                <br>
                Specimen Signature: <img style="cursor:pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a85bda0537f331801539ce7dec152d8')" alt="ico">
            </td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="pbpRgeSignO" name="formChecklist.pbpRgeSign" value="O" disabled="disabled">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpRgeSignN" name="formChecklist.pbpRgeSign" value="N" disabled="disabled">
                    Not OK
                </label>
            </td>
            <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRgeSignRmk" name="formChecklist.pbpRgeSignRmk" rows="5" cols="20" disabled="disabled">N/A</textarea>
            </td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">
                <b>RGE Signature Date</b>
                <br>
                &nbsp;&nbsp;
            </td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="pbpRgeSignatureDateO" name="formChecklist.pbpRgeSignatureDate" value="O" disabled="disabled">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpRgeSignatureDateN" name="formChecklist.pbpRgeSignatureDate" value="N" disabled="disabled">
                    Not OK
                </label>
            </td>
            <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRgeSignatureDateRmk" name="formChecklist.pbpRgeSignatureDateRmk" rows="5" cols="20" disabled="disabled">N/A</textarea>
            </td>
        </tr>
        </tbody>
        <thead>
        <tr class="sRow1">
            <th class="sCell" colspan="3">Other Checking</th>
        </tr>
        </thead>
    <tbody>
        <tr class="sRow2">
            <td class="sCell"><b>Other Information</b></td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="pbpOtherO" name="formChecklist.pbpOther" value="O" checked="checked">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpOtherN" name="formChecklist.pbpOther" value="N">
                    Not OK
                </label>
            </td>
            <td class="sCell">
<textarea class="inputTextarea remark" id="pbpOtherRmk" name="formChecklist.pbpOtherRmk" rows="5" cols="20"></textarea>
            </td>
        </tr>
    </tbody>
</table>






<table class="inputTable"><tfoot>
     <tr>
         <td>
             <input class="inputButton" type="button" id="btnPreviousItem" name="btnPreviousItem" value="Previous Item" onclick="loadContentPage('PEM0301c')">



             <input class="inputButton" type="button" id="btnDraft" name="btnDraft" value="Save as Draft" onclick="saveForm()">






             <input class="inputButton" type="button" id="btnNext" name="btnNext" value="Next" onclick="loadContentPage('PEM0301c2')">
         </td></tr></tfoot></table>