<h3>
    Complaint
</h3>
<table class="inputTable">
    <tbody>
        <tr class="sRow2">
            <th class="sCell" rowspan="2" >Image(s) :</th>
            <th class="sCell" >Incoming :</th>
            <td class="sCell" colspan="3">


                D0000544248<img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFileByDsn('D0000544248')">&nbsp;&nbsp;&nbsp;&nbsp;


            </td>
        </tr>
        <tr class="sRow2">
            <th class="sCell" >Outgoing :</th>
            <td class="sCell" colspan="3"></td>
        </tr>
        <tr class="sRow2">
            <th class="sCell" colspan="2" >Ref No. :</th>
            <td class="sCell" colspan="3">Com141102163&nbsp;</td>
        </tr>
        <tr class="sRow2">
            <th class="sCell" colspan="2" >ICC No. :</th>
            <td class="sCell" colspan="3">&nbsp;</td>
        </tr>
        <tr class="sRow2">
            <th class="sCell" colspan="2" >Language Usage :</th>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="lang" name="lang" value="EN">
                    English
                </label>
            </td>
            <td class="sCell" >
                <label>
                    <input class="inputRadio" type="radio" id="lang2" name="lang" value="ZH">
                    Chinese
                </label>
            </td>
       
        </tr>

    </tbody>
</table>



<h3>
    Complainant   Details <font style="vertical-align:middle">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input class="inputCheckbox" type="checkbox" id="" name="" style="vertical-align:middle">
        The citizen refuses to leave contact information
    </font>
</h3>



                                <table class="inputTable" >
                                    <tbody>
                                        <tr>
                                            <th width="300px">Name in English :</th>
                                            <td class="fField"><input class="inputText" type="text" name="englishName" id="englishName" maxlength="200" value="" style="width:280px"></td>
                                        </tr>
                                        <tr>
                                            <th width="300px">Name in Chinese :</th>
                                            <td class="fField"><input class="inputText" type="text" name="chineseName" id="chineseName" maxlength="200" value="" style="width:280px"></td>
                                        </tr>
                                        <tr>
                                            <th>Subject Title :</th>
                                            <td class="fField"><input class="inputText" type="text" name="subjectTitle" id="subjectTitle" maxlength="500" value="" style="width:180px"></td>
                                        </tr>
                                        <tr>
                                            <th>Subject Address :</th>
                                            <td class="fField"><input class="inputText" type="text" name="subjectAddress" id="subjectAddress" maxlength="100" value="" style="width:180px"></td>
                                        </tr>
                                        <tr>
                                            <th>Channel  :</th>
                                            <td class="fField">
                                                <select style="width:auto" name="channel">

                                                    <option value="Telephone">Telephone</option>

                                                    <option value="Email">Email</option>

                                                    <option value="Fax">Fax</option>

                                                    <option value="Letter">Letter</option>

                                                    <option value="Memo">Memo</option>

                                                    <option value="Record Form">Record Form</option>

                                                    <option value="Others">Others</option>

                                                </select>

                                                <input type="hidden" name="channelList[0].value" value="Telephone">
                                                <input type="hidden" name="channelList[0].label" value="Telephone">

                                                <input type="hidden" name="channelList[1].value" value="Email">
                                                <input type="hidden" name="channelList[1].label" value="Email">

                                                <input type="hidden" name="channelList[2].value" value="Fax">
                                                <input type="hidden" name="channelList[2].label" value="Fax">

                                                <input type="hidden" name="channelList[3].value" value="Letter">
                                                <input type="hidden" name="channelList[3].label" value="Letter">

                                                <input type="hidden" name="channelList[4].value" value="Memo">
                                                <input type="hidden" name="channelList[4].label" value="Memo">

                                                <input type="hidden" name="channelList[5].value" value="Record Form">
                                                <input type="hidden" name="channelList[5].label" value="Record Form">

                                                <input type="hidden" name="channelList[6].value" value="Others">
                                                <input type="hidden" name="channelList[6].label" value="Others">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Section/ Unit Reference No. :</th>
                                            <td class="fField"><input class="inputText" type="text" name="secUnitNo" id="secUnitNo" maxlength="100" value="" style="width:180px"></td>
                                        </tr>
                                        <tr>
                                            <th>Correspondence Address :</th>
                                            <td class="fField"></td>
                                        </tr>
                                        <tr>
                                            <th>Street/Road/Village :</th>
                                            <td class="fField">
                                                <input class="inputText ac_input" type="text" id="street" name="ownerAddress.streetOrVillage" maxlength="500" value="" style="width: 300px;" autocomplete="off">
                                                <input class="inputText" type="hidden" id="street_code" name="ownerAddress.streetCode" value="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Street Number :</th>
                                            <td class="fField">
                                                <input class="inputText ac_input" type="text" id="street_no" name="ownerAddress.streetNo" maxlength="500" value="" style="width: 120px;" autocomplete="off">
                                                <input class="inputText" type="hidden" id="block_id" name="ownerAddress.blockID" value="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Building/Estate :</th>
                                            <td class="fField"><input class="inputText" type="text" id="block_name" name="ownerAddress.buildingName" maxlength="500" value="" style="width: 300px;"></td>
                                        </tr>
                                        <tr>
                                            <th>Floor :</th>
                                            <td class="fField">
                                                <input class="inputText ac_input" type="text" id="floor" name="ownerAddress.floor" maxlength="500" value="" style="width: 300px;" autocomplete="off">
        
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Flat/Room :</th>
                                            <td class="fField">
                                                <input class="inputText ac_input" type="text" id="unit" name="ownerAddress.flat" value="" style="width: 300px;" maxlength="500" autocomplete="off">
                             
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>District :</th>
                                            <td class="fField">
                    
                                                <input class="inputText" type="text" id="district" name="ownerAddress.district" maxlength="200" value="" style="width: 300px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>&nbsp; :</th>
                                            <td class="fField" valign="top">
                                                <label>
                                                    <input type="radio" name="ownerAddress.region" value="HK">
                                                    Hong Kong
                                                </label>
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input type="radio" name="ownerAddress.region" value="KLW">
                                                    Kowloon
                                                </label>
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input type="radio" name="ownerAddress.region" value="NT">
                                                    New Territories
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>E-mail Address :</th>
                                            <td class="fField"><input class="inputText" type="text" name="email" id="email" maxlength="50" value="" style="width:180px"></td>
                                        </tr>
                                        <tr>
                                            <th>Contact No. :</th>
                                            <td class="fField"><input class="inputText" type="text" name="contactNo" id="contactNo" maxlength="22" value="" style="width:180px"></td>
                                        </tr>
                                        <tr>
                                            <th>Fax No. :</th>
                                            <td class="fField"><input class="inputText" type="text" name="faxNo" id="faxNo" value="" maxlength="22" style="width:180px"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3>
                                    Complaint Details
                                </h3>


                                <table class="inputTable" >
                                    <tbody>
                                        <tr>
                                            <th class="fLabel" width="300px">Received Date of Complaint :</th>
                                            <td class="fField"><input class="inputDate" type="text" id="receivedDate" name="receivedDate" value="" readonly=""></td>
                                        </tr>
                                        <tr>
                                            <th class="fLabel">Subject Matter :</th>
                                            <td class="fField">
                                                <textarea class="inputTextarea" id="subjectMatter" name="subjectMatter" onkeyup="return ismaxlength(this,2000)" style="width:300px; height:80px"></textarea>
                                            </td>
                                        </tr>
    
                                    </tbody>
                                </table>
                                
<table class="resultTable">
    <thead>
        <tr>
            <th colspan="7" class="sTh"> Subject Address Search Key </th>
        </tr>


   
        <tr>
            <th class="sTh1">Street/Road/Village</th>
            <th class="sTh1">Street Number</th>
            <th class="sTh1">Building/Estate</th>
            <th class="sTh1">Floor</th>
            <th class="sTh1">Flat/Room</th>
            <th class="sTh1">District</th>
            <th class="sTh1">Region</th>
        </tr>
    
    </thead>
    <tbody>
        <tr>
            <td colspan="5">&nbsp;</td>
            <td>
                <input class="inputButton" type="button" id="" name="" value="Add" style="width:70px;" onclick="javascript:addAddress()">
            </td>
            <td><input class="inputButton" type="button" id="" name="" value="Copy" style="width:70px;" onclick="javascript:copyAddress()"></td>

        </tr>
    </tbody>
</table>

<table class="inputTable">
    <thead>
        <tr>    <th class="sTh"> Complaint Address</th></tr>

        </thead>
    <tbody>
        <tr>
            <td>
                <textarea class="inputTextarea" id="addressArea" name="addressArea" onkeyup="return ismaxlength(this,5000)" style="width:950px; height:200px;"></textarea>
            </td>
        </tr>
    </tbody>
</table>

<div class="btnSet btnSetTypeA">
<table class="inputTable"><tfoot>
     <tr>
         <td>

             <input class="inputButton" type="button" id="" name="" value="Save As Draft" onclick="loadContentPage('PEM0301b')">
             <input class="inputButton" type="button" id="" name="" value="Submit"        onclick="loadContentPage('PEM0301')"">
         </td></tr></tfoot></table>