<h3>
    Summary
</h3>


<div class="sList" id="caseInfo">
    <table class="inputTable">
        <thead>
            <tr>
                <th class="sTh">Submission Information</th>
                <th colspan="3" class="sThRight">


                    <input class="sBtn" type="button" id="btnEditButton" name="btnEditButton" value="Edit" onclick="loadContentPage('PEM0301cEdit')">


                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th class="fLabel" style="width: 200px">Ref. No. :</th>
                <td class="fText">MW160302973</td>
                <th class="fLabel" style="width: 200px">Form No. :</th>
                <td class="fText">MW01</td>


            </tr>

            <tr>
                <th class="fLabel" style="width: 200px">Previous MW No. :</th>
                <td class="fText"><br></td>
                <th class="fLabel" style="width: 200px">File Reference No. :</th>
                <td class="fText">/</td>

            </tr>

            <tr>
                <th class="fLabel" style="width: 200px; height: 50px">
                    Received Date


                 :</th>
                <td class="fText">21/3/2016</td>
                <th class="fLabel" style="width: 200px; height: 50px">
                    Location/Address of the proposed minor works are to be carried out

                 :</th>
                <td class="fText">
                    錦華樓 xxx號 親民街 西貢 NT


                </td>
            </tr>

            <tr>
                <th class="fLabel">
                    Commencement Date

                 :</th>
                <td class="fText">29/3/2016</td>
                <th rowspan="2" class="fLabel">
                    Completion Date
                 :</th>
                <td rowspan="2" class="fText"></td>
            </tr>
            <tr class="fLabel">
                <th class="fLabel" style="width: 200px">Requirements :</th>
                <td class="fText">
                    1
                    Indicator for version 1 MW Item (Before Effective date of the law in 2017)
                    <input type="hidden" name="selectOfReqCode" id="selectOfReqCode" value="1">
                </td>
            </tr>
        </tbody>
    </table>


</div>


<div class="sList" id="submittedDoc">







    <table class="resultTable">
        <thead>
            <tr>
                <th colspan="6" class="sTh1">Submitted Document</th>
            </tr>

            <tr class="sRow2">
                <th class="sTh2" style="width: 150px">Document Type</th>
                <th class="sTh2" style="width: 100px">Received Date</th>
                <th class="sTh2" style="width: 100px">Document S/N</th>
                <th class="sTh2">Document Title</th>
                <th class="sTh2" style="width: 100px">View Image</th>
                <th class="sTh2" style="width: 100px">Folder Type</th>
            </tr>

        </thead>
        <tbody>
            <tr class="sRow2">
                <td class="fField">
                    Plan
                    <input type="hidden" name="docList[0].uuid" value="663E342F3313471FA10D6072494286BB">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000709940C</td>
                <td class="fField">MW01</td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000709940C')" alt="ico"></td>
                <td class="fField">
                    <select name="docList[0].folderType">

                        <option selected="selected" value="Public">Public</option>

                        <option value="Private">Private</option>

                    </select>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="fField">
                    Form
                    <input type="hidden" name="docList[1].uuid" value="BE8C6F6288E9437B9F60265D24685317">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000709940A</td>
                <td class="fField">MW01</td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000709940A')" alt="ico"></td>
                <td class="fField">
                    <select name="docList[1].folderType">

                        <option value="Public">Public</option>

                        <option selected="selected" value="Private">Private</option>

                    </select>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="fField">
                    Photo
                    <input type="hidden" name="docList[2].uuid" value="C2652DAD06F84DF9AF9FED8545135FD2">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000709940B</td>
                <td class="fField">MW01</td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000709940B')" alt="ico"></td>
                <td class="fField">
                    <select name="docList[2].folderType">

                        <option selected="selected" value="Public">Public</option>

                        <option value="Private">Private</option>

                    </select>
                </td>
            </tr>

        </tbody>

    </table>


    <table class="inputTable">
        <tfoot>
            <tr>
                <th>
                    <input class="inputButton" type="button" id="btnSaveFolderTypeSubmittedDoc" name="btnSaveFolderTypeSubmittedDoc" value="Save" onclick="saveFolderType('')">
                </th>
            </tr>
        </tfoot>
    </table>


    <table class="resultTable">
        <thead>
            <tr>
                <th colspan="6" class="sTh1">Issued Correspondence</th>
            </tr>

            <tr class="sRow2">
                <th class="sTh2" style="width: 150px">Letter Type</th>
                <th class="sTh2" style="width: 100px">Issued Date</th>
                <th class="sTh2" style="width: 100px">Document S/N</th>
                <th class="sTh2">Letter Template No.</th>
                <th class="sTh2" style="width: 100px">View Image</th>
                <th class="sTh2" style="width: 100px">Folder Type</th>
            </tr>

        </thead>
        <tbody>
            <tr class="sRow2">
                <td class="fField">

                    <input type="hidden" name="uuidList[0]" value="EE90F96B45D340C6AC29ACD9FD000BA0">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000710582</td>
                <td class="fField"></td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000710582')" alt="ico"></td>
                <td class="fField">
                    <select name="folderTypeSelected[0]">

                        <option value="Public">Public</option>

                        <option selected="selected" value="Private">Private</option>

                    </select>
                </td>
            </tr>


    </table>

    <table class="inputTable">

        <tfoot>
            <tr>
                <th>
                    <input class="inputButton" type="button" id="btnSaveFolderTypeIssuedCor" name="btnSaveFolderTypeIssuedCor" value="Save" style="width:80px;" onclick="saveFolderType('Letter')">
                </th>
            </tr>
        </tfoot>
    </table>




    <div class="sList" id="mwItemInfo">




        <script type="text/javascript">
<!--
            function maximizeItem() {
                var el = document.getElementById("itemHist");
                el.style.display = (el.style.display != 'none' ? 'none' : 'block');
            }
            //-->
        </script>






        <table class="resultTable">



            <thead>
                <tr>
                    <th colspan="6" class="sTh1">Details of the Minor Work</th>
                    
                </tr>

                <tr class="sRow2">
                    <th class="sTh2">Item sequence</th>
                    <th class="sTh2">Minor Work item</th>
                    <th class="sTh2">Type</th>
                    <th class="sTh2">Description</th>
                    <th class="sTh2">
                        Relevant Order/ Direction/ Notice No./ BD Reference No.


                    </th>

                </tr>
            </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell">
                        1
                        &nbsp; in &nbsp;



                        MW01





                    </td>
                    <td class="sCell">
                        1.17
                        &nbsp;
                    </td>
                    <td class="sCell">



                        MW01


                        &nbsp;
                    </td>
                    <td class="sCell">
                        按照原本設計,於大廈外牆位置,修葺懸臂式平板
                        &nbsp;
                    </td>
                    <td class="sCell">

                        &nbsp;
                    </td>

                </tr>

            </tbody>


        </table>
    </div>

    <table class="inputTable">
        <tfoot>
            <tr>
                <th>
                    <input class="inputButton" type="button" id="btnHistory" name="btnHistory" value="History" onclick="maximizeItem()">
                </th>
            </tr>
        </tfoot>
    </table>



    <div id="PEM0301cTable" style="display:none">

        <table class="resultTable">
            <thead>
                <tr>
                    <th class="sTh1">Minor Work Item</th>
                </tr>

                <tr>
                    <th class="fLabel">Item No.</th>
                    <th class="fLabel">Description</th>
                    <th class="fLabel">Relevant Order/Direction/Notice/BD Reference No.</th>

            </thead>
            <tbody>


                <tr>
                    <td class="sCell">&nbsp;1.17</td>
                    <td class="sCell">&nbsp;按照原本設計,於大廈外牆位置,修葺懸臂式平板</td>
                    <td class="sCell">&nbsp;</td>



                </tr>


            </tbody>
        </table>

    </div>

    <table class="resultTable">
        <thead>
            <tr>
                <th class="sTh" style="width: 450px">Submission Information Checking</th>
                <th class="sTh">Result</th>
                <th class="sTh" style="width: 270px">Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr class="sRow2">
                <td class="sCell">Notification</td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="infoNotO" name="formChecklist.infoNot" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="infoNotC" name="formChecklist.infoNot" value="C" disabled="disabled">
                        Conditional
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="infoNotN" name="formChecklist.infoNot" value="N" disabled="disabled">
                        Refusal
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="infoNotRmk" name="formChecklist.infoNotRmk" rows="5" cols="20">Signboard case</textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">Completion date is not earlier than commencement date.</td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="infoDateO" name="formChecklist.infoDate" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="infoDateN" name="formChecklist.infoDate" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="infoDateRmk" name="formChecklist.infoDateRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">Other Information</td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="infoOtherO" name="formChecklist.infoOther" value="O" disabled="disabled">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="infoOtherN" name="formChecklist.infoOther" value="N" disabled="disabled" checked="checked">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="infoOtherRmk" name="formChecklist.infoOtherRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>
            <tr class="sRow2">
                <td class="sCell formCheckListAPMsg">
                    Particulars of appointed AP/RI = Particulars of signed AP/RI in Information Page<font color="red"></font>
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="apDetailValidO" name="formChecklist.apDetailValid" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="apDetailValidN" name="formChecklist.apDetailValid" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="apDetailValidRmk" name="formChecklist.apDetailValidRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">
                    Particulars of appointed RSE = Particulars of signed RSE in Information Page<font color="red"></font>
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="rseDetailValidO" name="formChecklist.rseDetailValid" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="rseDetailValidN" name="formChecklist.rseDetailValid" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="rseDetailValidRmk" name="formChecklist.rseDetailValidRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">
                    Particulars of appointed RGE = Particulars of signed RGE in Information Page<font color="red"></font>
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="rgeDetailValidO" name="formChecklist.rgeDetailValid" value="O" disabled="disabled">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="rgeDetailValidN" name="formChecklist.rgeDetailValid" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="rgeDetailValidRmk" name="formChecklist.rgeDetailValidRmk" rows="5" cols="20" disabled="disabled">N/A</textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">
                    Particulars of appointed PRC = Particulars of signed PRC in Information Page<font color="red"></font>
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="prcDetailValidO" name="formChecklist.prcDetailValid" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="prcDetailValidN" name="formChecklist.prcDetailValid" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="prcDetailValidRmk" name="formChecklist.prcDetailValidRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>
            <tr class="sRow2">
                <td class="sCell">
                    Details of signboard person in Part H = Details of signboard person in Information Page<font color="red"></font>
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="signboardDetailValidO" name="formChecklist.signboardDetailValid" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="signboardDetailValidN" name="formChecklist.signboardDetailValid" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="signboardDetailValidRmk" name="formChecklist.signboardDetailValidRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>
        </tbody>
    </table>




    <table class="resultTable">
        <thead>
            <tr>
                <th class="sTh" style="width: 450px">PBP Checking</th>
                <th class="sTh">Result</th>
                <th class="sTh" style="width: 270px">Remark</th>
            </tr>

            <tr class="sRow1">
                <th class="sCell apWord" colspan="3">Checking of AP/RI</th>
            </tr>
        </thead>
        <tbody>
            <tr class="sRow2">
                <td class="sCell apWord"><b>Validity of appointed AP/RI</b></td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="pbpApValidO" name="formChecklist.pbpApValid" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="pbpApValidN" name="formChecklist.pbpApValid" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="pbpApValidRmk" name="formChecklist.pbpApValidRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell apWord">
                    <b>Signature of AP/RI</b>
                    <br>
                    Specimen Signature: <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a85bda054035ea0015455af46b5751f')" alt="ico">
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="pbpApSignO" name="formChecklist.pbpApSign" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="pbpApSignN" name="formChecklist.pbpApSign" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="pbpApSignRmk" name="formChecklist.pbpApSignRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell apWord">
                    <b>AP/RI Signature Date</b>
                    <br>
                    &nbsp;&nbsp;2016-04-25
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="pbpApSignatureDateO" name="formChecklist.pbpApSignatureDate" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="pbpApSignatureDateN" name="formChecklist.pbpApSignatureDate" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="pbpApSignatureDateRmk" name="formChecklist.pbpApSignatureDateRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>
            <tr class="sRow1">
                <td class="sCell" colspan="3">Checking of RSE</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell"><b>Validity of appointed RSE</b></td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRseValidO" name="formChecklist.pbpRseValid" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRseValidN" name="formChecklist.pbpRseValid" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRseValidRmk" name="formChecklist.pbpRseValidRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">
                    <b>Signature of RSE</b>
                    <br>
                    Specimen Signature: <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a85bda054035ea0015455af46b57520')" alt="ico">
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRseSignO" name="formChecklist.pbpRseSign" value="O" disabled="disabled">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRseSignN" name="formChecklist.pbpRseSign" value="N" disabled="disabled" checked="checked">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRseSignRmk" name="formChecklist.pbpRseSignRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">
                    <b>RSE Signature Date</b>
                    <br>
                    &nbsp;&nbsp;2016-04-25
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRseSignatureDateO" name="formChecklist.pbpRseSignatureDate" value="O" disabled="disabled">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRseSignatureDateN" name="formChecklist.pbpRseSignatureDate" value="N" disabled="disabled" checked="checked">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRseSignatureDateRmk" name="formChecklist.pbpRseSignatureDateRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>
            <tr class="sRow1">
                <td class="sCell" colspan="3">Checking of RGE</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell"><b>Validity of appointed RGE</b></td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRgeValidO" name="formChecklist.pbpRgeValid" value="O" disabled="disabled">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRgeValidN" name="formChecklist.pbpRgeValid" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRgeValidRmk" name="formChecklist.pbpRgeValidRmk" rows="5" cols="20" disabled="disabled">N/A</textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">
                    <b>Signature of RGE</b>
                    <br>
                    Specimen Signature: <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a85bda054035ea0015455af46b57521')" alt="ico">
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRgeSignO" name="formChecklist.pbpRgeSign" value="O" disabled="disabled">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRgeSignN" name="formChecklist.pbpRgeSign" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRgeSignRmk" name="formChecklist.pbpRgeSignRmk" rows="5" cols="20" disabled="disabled">N/A</textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">
                    <b>RGE Signature Date</b>
                    <br>
                    &nbsp;&nbsp;
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRgeSignatureDateO" name="formChecklist.pbpRgeSignatureDate" value="O" disabled="disabled">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="pbpRgeSignatureDateN" name="formChecklist.pbpRgeSignatureDated" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="pbpRgeSignatureDateRmk" name="formChecklist.pbpRgeSignatureDateRmk" rows="5" cols="20" disabled="disabled">N/A</textarea>
                </td>
            </tr>
            <tr class="sRow1">
                <td class="sCell" colspan="3">Other Checking</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell"><b>Other Information</b></td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="pbpOtherO" name="formChecklist.pbpOther" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="pbpOtherN" name="formChecklist.pbpOther" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="pbpOtherRmk" name="formChecklist.pbpOtherRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>
        </tbody>
    </table>












    <table class="resultTable">
        <thead>
            <tr>
                <th class="sTh" style="width: 450px">PRC Checking</th>
                <th class="sTh">Result</th>
                <th class="sTh" style="width: 270px">Remark</th>
            </tr>
        </thead>
        <tbody>
            <tr class="sRow2">
                <td class="sCell"><b>Validity of appointed PRC</b></td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="prcValidO" name="formChecklist.prcValid" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="prcValidN" name="formChecklist.prcValid" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="prcValidRmk" name="formChecklist.prcValidRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell"><b>Capability of appointed PRC</b></td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="prcCapO" name="formChecklist.prcCap" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="prcCapN" name="formChecklist.prcCap" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="prcCapRmk" name="formChecklist.prcCapRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell"><b>Validity of Authorized Signatory</b></td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="prcAsValidO" name="formChecklist.prcAsValid" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="prcAsValidN" name="formChecklist.prcAsValid" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="prcAsValidRmk" name="formChecklist.prcAsValidRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">
                    <b>Signature Of AS</b>
                    <br>
                    Specimen Signature: <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openSignatureFile('8a85bda054035ea0015455af46b57522')" alt="ico">
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="prcAsSignO" name="formChecklist.prcAsSign" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="prcAsSignN" name="formChecklist.prcAsSign" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="prcAsSignRmk" name="formChecklist.prcAsSignRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="sCell">
                    <b>Availability other suitable AS</b>
                    <br>

                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="prcAsOtherO" name="formChecklist.prcAsOther" value="O" disabled="disabled">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="prcAsOtherN" name="formChecklist.prcAsOther" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="prcAsOtherRmk" name="formChecklist.prcAsOtherRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>
            <tr class="sRow2">
                <td class="sCell">
                    <b>PRC Signature Date</b>
                    <br>
                    &nbsp;&nbsp;2016-04-25
                </td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="prcSignatureDateO" name="formChecklist.prcSignatureDate" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="prcSignatureDateN" name="formChecklist.prcSignatureDate" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="prcSignatureDateRmk" name="formChecklist.prcSignatureDateRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>
            <tr class="sRow1">
                <td class="sCell" colspan="3">Other Checking</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell"><b>Other Information</b></td>
                <td class="sCell">
                    <label>
                        <input class="inputRadio" type="radio" id="prcOtherO" name="formChecklist.prcOther" value="O" disabled="disabled" checked="checked">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="prcOtherN" name="formChecklist.prcOther" value="N" disabled="disabled">
                        Not OK
                    </label>
                </td>
                <td class="sCell">
<textarea class="inputTextarea remark" id="prcOthermk" name="formChecklist.prcOtherRmk" rows="5" cols="20" disabled="disabled"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
































    <table class="resultTable">
        <thead>
            <tr>
                <th class="sTh" style="width:50px" rowspan="2">&nbsp;</th>
                <th class="sTh" style="width:20px" rowspan="2">&nbsp;</th>
                <th class="sTh" rowspan="2">Item Checking items</th>
                <th class="sTh" colspan="2">Checking Result</th>
                <th class="sTh" rowspan="2">TO Remarks</th>
            </tr>
            <tr>
                <th class="sTh" style="width:50px">Not OK</th>
                <th class="sTh" style="width:50px">More information required</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>










    <div class="sList" id="recommendation">
        <table class="resultTable">
            <thead>
                <tr>
                    <th class="sTh" colspan="3">Recommendation</th>
                </tr>
                </thead>
            <tbody>
                <tr>
                    <td class="sCell" style="padding:20px">
                        <input class="inputRadio" type="radio" value="O" id="recommedationApplicationO" name="summaryChecklist.recommedationApplication">
                        Acknowledgement


                    </td>
                    <td class="sCell" style="padding:20px">
                        <input class="inputRadio" type="radio" value="N" id="recommedationApplicationN" name="summaryChecklist.recommedationApplication">
                        Refusal
                    </td>
                    <td class="sCell" style="padding:20px">
                        <input class="inputRadio" type="radio" value="C" id="recommedationApplicationC" name="summaryChecklist.recommedationApplication">
                        Conditional
                    </td>
                </tr>
                <!--
        <tr class="sTh">
            <td class="sTh" colspan="3">Pre-commencement Site Audit Result</td>
        </tr>
        <tr>
            <td class="sCell" style="padding:20px">
            <input class="inputRadio" type="radio" value="InOrder" id="preCommencementSiteAuditI" name="summaryChecklist.preCommencementSiteAudit"  />
            InOrder</td>
            <td class="sCell" style="padding:20px">
            <input class="inputRadio" type="radio" value="Fail" id="preCommencementSiteAuditF" name="summaryChecklist.preCommencementSiteAudit"  />
            Fail</td>
            <td class="sCell" style="padding:20px"></td>
        </tr>
        -->



            </tbody>
        </table>
    </div>









    <table class="inputTable">
        <tfoot>
            <tr>
                <td>
                    <input type="button" value="Save as draft" onclick="loadContentPage('PEM0301c8Summary')" />
                    <input type="button" value="Submit" onclick="loadContentPage('PEM0301')" />
                </td>
            </tr>
        </tfoot>


    </table>
