
<!--<div class="w3-row">
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301')">
        <div style="width:25%" class="w3-third tablink w3-border-red w3-bottombar w3-hover-light-grey w3-padding">Audit</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301AL')">
        <div style="width:25%" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">AL requiring follow up</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301WL')">
        <div style="width:25%" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">WL requiring follow up</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301LSS')">
        <div style="width:25%" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Case referred to LSS/EBD</div>
    </a>
</div>-->




<h3> Summary</h3>
<table class="inputTable">
    <tbody>
        <tr>
            <td style="text-align:right">

                Ref. No.
                <input style="max-width:200px" class="inputText" type="text" id="fileRefNo" name="fileRefNo" value="">

                <input class="inputButton" type="button" id="" name="" value="Get Records" onclick="PEMRemoveHideSearch()">

            </td>
        </tr>
    </tbody>
</table>

<table class="inputTable">
    <tbody>
        <tr>
            <th>Complaint : </th>
            <td>1&nbsp;</td>
        </tr>
        <tr>
            <th>Submission : </th>
            <td>3&nbsp;</td>
        </tr>
        <tr>
            <th>Audit : </th>
            <td>3&nbsp;</td>
        </tr>
        <tr>
            <th>Enquiry : </th>
            <td>3&nbsp;</td>
        </tr>
        <tr>
            <th>Direct return : </th>
            <td>2&nbsp;</td>

        </tr>
        <tr>
            <th>Modification : </th>
            <td>1&nbsp;</td>
        </tr>
    </tbody>
</table>



<h3>Complaint</h3>
<table id="PEMHideDiv" class="resultTable hide">
    <thead>
        <tr>
            <th>DSN/ ICC No.</th>
            <th>Ref. No.</th>
            <th>Received Date</th>
            <th>Final Reply Date</th>
            <th>Final Reply Remaining Days</th>
            <!--
            <th class="sTh">Interim Reply Due Date</th>
            -->
            <th class="sTh">Interim Reply Date</th>
            <th class="sTh">Interim Reply Remaining Days</th>
            <th class="sTh">Assignment Date</th>
            <th class="sTh">Title</th>
            <th class="sTh">Channel</th>
            <th class="sTh">Status</th>
            <!--
            <th class="sTh">TaskId</th>
            -->
        </tr>
    </thead>
    <tbody>
        <tr class="sRow1">
            <td class="sCell">D0000748611&nbsp;</td>
            <td class="sCell"><a href="javascript:loadContentPage('PEM0301b')">Com170200031</a>&nbsp;</td>
            <td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell">0</td>
            <td class="sCell"></td>
            <td class="sCell">10</td>
            <td class="sCell">16/2/2017</td>
            <td class="sCell">sdfsdfsdfs&nbsp;</td>
            <td class="sCell">Telephone&nbsp;</td>
            <td class="sCell">In progress&nbsp;</td>
        </tr>

    </tbody>
</table>




<br />

<h3>Submission</h3>

<table id="PEMHideDiv2" class="resultTable hide">
    <thead>
        <tr>
            <th>SAC Result</th>
            <th class="sTh">Task</th>
            <th class="sTh">Ref. No.</th>
            <th class="sTh">Form No.</th>
            <th class="sTh">Received Date</th>
            <th class="sTh">Assignment Date</th>
            <th class="sTh">Status</th>
            <th>Remark</th>
            <!--
            <td class="sTh">TaskId</td>
            -->
        </tr>
    </thead>
    <tbody>
        <tr class="sRow1">
            <td>Pending for SAC</td>
            <td class="sCell">Verification&nbsp;</td>
            <td class="sCell">


                <a href="javascript:loadContentPage('PEM0301c')">MW160302973&nbsp;</a>





            </td>
            <td class="sCell">MW01&nbsp;</td>
            <td class="sCell">21/3/2016</td>
            <td class="sCell">22/3/2016</td>
            <td class="sCell">Open&nbsp;</td>
            <td></td>
        </tr>
        <tr class="sRow2">
            <td>Pending for SAC</td>
            <td class="sCell"> Acknowledgement&nbsp;</td>
            <td class="sCell">


                <a href="javascript:loadContentPage('PEM0301Ack')">MW160304580&nbsp;</a>





            </td>
            <td class="sCell">MW03&nbsp;</td>
            <td class="sCell">31/3/2016</td>
            <td class="sCell">1/4/2016</td>
            <td class="sCell">Open&nbsp;</td>
            <td></td>
        </tr>
        <tr class="sRow1">
            <td>Completed</td>
            <td class="sCell">Rollbacked Verification&nbsp;</td>
            <td class="sCell">


                <a href="javascript:loadContentPage('PEM0301c')">MW160400026&nbsp;</a>





            </td>

            <td class="sCell">MW03&nbsp;</td>
            <td class="sCell">1/4/2016</td>
            <td class="sCell">5/4/2016</td>
            <td class="sCell">Open&nbsp;</td>
            <td></td>
        </tr>
    </tbody>
</table>

<br>
<h3>Enquiry</h3>
<table id="PEMHideDiv3" class="resultTable hide">
    <thead>
        <tr>
            <th class="sTh">DSN/ ICC No.</th>
            <th class="sTh">Ref. No.</th>
            <th class="sTh">Received Date</th>
            <th class="sTh">Final Reply Date</th>
            <th class="sTh">Final Reply Remaining Days</th>
            <!-- <th class="sTh">Interim Reply Due Date</th> -->
            <th class="sTh">Interim Reply Date</th>
            <th class="sTh">Interim Reply Remaining Days</th>
            <th class="sTh">Assignment Date</th>
            <th class="sTh">Title</th>
            <th class="sTh">Channel</th>
            <th class="sTh">Status</th>
            <!-- <td class="sTh">TaskId</td> -->
        </tr>
    <tbody>
        <tr class="sRow1">
            <td class="sCell">D0000000407&nbsp;</td>

            <td class="sCell"><a href="javascript:loadContentPage('PEM0305a')">Enq110100784</a>&nbsp;</td>

            <td class="sCell">17/1/2011</td>
            <td class="sCell">16/2/2011</td>
            <td class="sCell">-2798</td>
            <!-- <td class="sCell">&nbsp;</td> -->
            <td class="sCell"></td>
            <td class="sCell">-2818</td>
            <td class="sCell">31/1/2011</td>
            <td class="sCell">MW03&nbsp;</td>
            <td class="sCell">Email&nbsp;</td>
            <td class="sCell">In progress&nbsp;</td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">D0000520463&nbsp;</td>

            <td class="sCell"><a href="javascript:loadContentPage('PEM0305a')">Enq140900342</a>&nbsp;</td>

            <td class="sCell">2/9/2014</td>
            <td class="sCell">2/10/2014</td>
            <td class="sCell">-1474</td>
            <!-- <td class="sCell">&nbsp;</td> -->
            <td class="sCell"></td>
            <td class="sCell">-1494</td>
            <td class="sCell">2/9/2014</td>
            <td class="sCell">有關懸臂式平板開洞口問題&nbsp;</td>
            <td class="sCell">Email&nbsp;</td>
            <td class="sCell">In progress&nbsp;</td>
        </tr>

        <tr class="sRow1">
            <td class="sCell">D0000523169&nbsp;</td>

            <td class="sCell"><a href="javascript:loadContentPage('PEM0305a')">Enq140901197</a>&nbsp;</td>

            <td class="sCell">8/9/2014</td>
            <td class="sCell">8/10/2014</td>
            <td class="sCell">-1468</td>
            <!-- <td class="sCell">&nbsp;</td> -->
            <td class="sCell"></td>
            <td class="sCell">-1488</td>
            <td class="sCell">10/9/2014</td>
            <td class="sCell">查詢有關 &lt;建築物(小型工程)規例&gt;&nbsp;</td>
            <td class="sCell">Email&nbsp;</td>
            <td class="sCell">In progress&nbsp;</td>
        </tr>


    </tbody>
</table>


<br />


<h3>Audit</h3>

<table id="PEMHideDiv4" class="resultTable hide">
    <thead>
        <tr>
            <th class="sTh">Ref. No.</th>
            <th class="sTh">Form No.</th>
            <th class="sTh">Assignment Date</th>
            <th class="sTh">Status</th>
            <!-- <th class="sTh" >TaskId</th> -->
        </tr>
    </thead>
    <tbody>
        <tr class="sRow1">
            <td class="sCell"><a href="javascript:loadContentPage('PEM0301e')">MW140601641</a>&nbsp;</td>
            <td class="sCell">MW04&nbsp;</td>
            <td class="sCell">05/01/2015</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>

        <tr class="sRow2">
            <td class="sCell"><a href="javascript:loadContentPage('PEM0301e')">MW140702369</a>&nbsp;</td>
            <td class="sCell">MW01&nbsp;</td>
            <td class="sCell">05/01/2015</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>

        <tr class="sRow1">
            <td class="sCell"><a href="javascript:loadContentPage('PEM0301e')">VS120303021</a>&nbsp;</td>
            <td class="sCell">MW06&nbsp;</td>
            <td class="sCell">02/05/2013</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>



    </tbody>
</table>

<br />
<h3>Direct return</h3>
<table id="PEMHideDiv5" class="resultTable hide">
    <thead>
        <tr>
            <th class="sTh">DSN No.</th>
            <th class="sTh">Form No.</th>
            <th class="sTh">Assignment Date</th>
            <th class="sTh">Status</th>
            <!-- <th class="sTh" >TaskId</th> -->
        </tr>
    </thead>
    <tbody>
        <tr class="sRow1">
            <td class="sCell"><a href="javascript:loadContentPage('PEM0301DirectReturn')">D140601641</a>&nbsp;</td>
            <td class="sCell">MW04&nbsp;</td>
            <td class="sCell">05/01/2015</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>

        <tr class="sRow2">
            <td class="sCell"><a href="javascript:loadContentPage('PEM0301DirectReturn')">D140702369</a>&nbsp;</td>
            <td class="sCell">MW01&nbsp;</td>
            <td class="sCell">05/01/2015</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>

        <tr class="sRow1">
            <td class="sCell"><a href="javascript:loadContentPage(PEM0301DirectReturn')">D120303021</a>&nbsp;</td>
            <td class="sCell">MW06&nbsp;</td>
            <td class="sCell">02/05/2013</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>



    </tbody>
</table>

<br />
<h3>Modification</h3>
<table id="PEMHideDiv6" class="resultTable hide">
    <thead>
        <tr>
            <th class="sTh">Ref. No.</th>
            <th class="sTh">Form No.</th>
            <th>
                Issue Date 
            </th>
            <th>
                Completed Date
            </th>
            <th>
                Annual Inspection Date
            </th>
            <th class="sTh">Assignment Date</th>
            <th class="sTh">Status</th>
            <!-- <th class="sTh" >TaskId</th> -->
        </tr>
    </thead>
    <tbody>
        <tr class="sRow1">
            <td class="sCell"><a href="javascript:loadContentPage('PEM0301Modi')">MW 001/2018(MOD)</a>&nbsp;</td>
            <td class="sCell">MW03&nbsp;</td>
            <td class="sCell">22/10/2018</td>
            <td class="sCell">21/04/2019</td>
            <td class="sCell">22/10/2019</td>

            <td class="sCell">05/01/2018</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>
        <tr class="sRow1">
            <td class="sCell"><a href="javascript:loadContentPage('PEM0301Modi')">MW 002/2018(MOD)</a>&nbsp;</td>
            <td class="sCell">MW03&nbsp;</td>
            <td class="sCell">22/01/2018</td>
            <td style="background-color:yellow" class="sCell">21/07/2018</td>
            <td class="sCell">22/1/2019</td>

            <td class="sCell">05/01/2017</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>
        <tr class="sRow1">
            <td class="sCell"><a href="javascript:loadContentPage('PEM0301Modi')">MW 003/2018(MOD)</a>&nbsp;</td>
            <td class="sCell">MW03&nbsp;</td>
            <td class="sCell">22/10/2017</td>
            <td  class="sCell">21/04/2018</td>
            <td style="background-color:yellow" class="sCell">22/10/2018</td>

            <td class="sCell">05/01/2017</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>
    </tbody>
    </table>
        <!-- InstanceEndEditable -->
        </div>
