
<h3>Draft Reply</h3>

        <table class="inputTable">
            <tbody>
             <tr>
                 <td>
                     <img src="/img/barcode.png" />

                 </td>
             </tr>
            </tbody>
        </table>
    
