
<h3>Audit Processing Page</h3>

<div class="sList" id="caseInfo">
    
    <table class="inputTable">
        <thead>
            <tr>
                <th colspan="4" class="sTh">Submission Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="fLabel">Ref. No. :</th>
                <td class="fText">MW140601641</td>
                <th class="fLabel">Form No. :</th>
                <td class="fText">MW04</td>

              
            </tr>


            <tr>
                <th class="fLabel">Received Date :</th>
                <td class="fText" style="vertical-align: middle">3/10/2014</td>
                <th class="fLabel">Location/Address of the proposed minor works are to be carried out :</th>
                <td class="fText" style="vertical-align: middle">


                    H室 7樓 悅xx7座 2號 xx街 新界 NT


                </td>
            </tr>

            <tr>
                <th class="fLabel">Commencement Date :</th>
                <td class="fText">18/6/2014(Form 3)</td>
                <th class="fLabel">Completion Date :</th>
                <td class="fText">30/9/2014</td>
            </tr>
        </tbody>
    </table>
                          

<div class="sList" id="mwItemInfo">
    <table class="resultTable">


        <thead>
            <tr>
                <th colspan="8" class="sTh1">Details of the Minor Work</th>
            </tr>

            <tr class="sRow2">
                <th class="sTh2" style="width: 100px">Item sequence</th>
                <th class="sTh2" style="width: 100px">Minor Work item</th>
                <th class="sTh2" style="width: 80px">Type</th>
                <th class="sTh2">Description</th>
                <th class="sTh2">Relevant Order/ Direction/ Notice No./ BD Reference No.</th>

                <th class="sTh2">Descriptions of the differences</th>

            </tr>
        </thead>
        <tbody>
            <tr class="sRow2">
                <td class="sCell">
                    1&nbsp; in &nbsp;


                    MW03




                </td>
                <td class="sCell">2.9&nbsp;</td>
                <td class="sCell">


                    MW03



                    &nbsp;
                </td>
                <td class="sCell">拆除七幅面向多層停車場的窗(圖1,2,3,4,5,6,7); 拆除一幅面向安禧閣的窗(圖8);拆除一幅面向湖翠路的窗(圖9);以上窗高度不多於6米,工程不涉及改動任何其他結構構件.&nbsp;</td>
                <td class="sCell">N/A&nbsp;</td>

                <td class="sCell">&nbsp;</td>

            </tr>

            <tr class="sRow2">
                <td class="sCell">
                    2&nbsp; in &nbsp;


                    MW03




                </td>
                <td class="sCell">2.8&nbsp;</td>
                <td class="sCell">


                    MW03



                    &nbsp;
                </td>
                <td class="sCell">建造七幅面向多層停車場的鋁窗(圖1A,2A,3A,4A,5A,6A,7A);建造一幅面向安禧閣的鋁窗(圖8A);建造一幅面向湖翠路的鋁窗(圖9A);該窗的最低點與樓面的距離不少於1.1米;以上窗並無跨度多於6米的結構構件,該窗的最高點與地面的距離多於3.5米,該窗的最高點與地面的距離不多於100米,該工程涉及該窗的主框,該工程不涉及改動任何其他結構構件.&nbsp;</td>
                <td class="sCell">N/A&nbsp;</td>

                <td class="sCell">&nbsp;</td>

            </tr>

        </tbody>
    </table>
</div>



<div class="sList">

    <table class="resultTable">


        <thead>
            <tr>
                <th colspan="8" class="sTh1">Prescribed Building Professional &amp; Prescribed Registered Contractor</th>
            </tr>

            <tr>
                <th class="sTh2" style="width: 150px">PBP/PRC</th>
                <th class="sTh2" style="width: 150px">Certificate of Registration No.</th>
                <th class="sTh2">English Name</th>
                <th class="sTh2" style="width: 120px">Chinese Name</th>
                <th class="sTh2" style="width: 120px">English Name of AS</th>
                <th class="sTh2" style="width: 120px">Chinese Name of AS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="sCell">Authorized Person/ Registered Inspector</td>
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell"></td>
            </tr>
            <tr>
                <td class="sCell">Registered Structural Engineer</td>
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell"></td>
            </tr>
            <tr>
                <td class="sCell">Registered Geotechnical Engineer</td>
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell"></td>
            </tr>
            <tr>
                <td class="sCell">Prescribed Registered Contractor</td>
                <td class="sCell">MWC 1301/2012</td>
                <td class="sCell">TOP TIP ENGINEERING CO.</td>
                <td class="sCell">頂好工程公司</td>
                <td class="sCell">YAU CHI FAI</td>
                <td class="sCell">丘志輝</td>
            </tr>
        </tbody>
    </table>

</div>
<!--
    <div class="sList" id="submittedDoc">
        <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="sTh1">Incoming Document</td>
            </tr>

            <tr class="sRow2">
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr class="sRow2">
                            <td class="sTh2">Document Type</td>
                            <td class="sTh2" style="width: 150px">Document S/N</td>
                            <td class="sTh2" style="width: 150px">Received Date</td>
                            <td class="sTh2" style="width: 150px">Form No.</td>
                            <td class="sTh2" style="width: 150px">Private</td>
                            <td class="sTh2" style="width: 150px">Public</td>
                        </tr>


                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[0].uuid" value="073D68EC4EC943F99168C0FFA377CB27" />
                                Form
                            </td>
                            <td class="fField">D0000486601A</td>
                            <td class="fField"></td>
                            <td class="fField">MW03</td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000486601A')" alt="ico" />

                            </td>
                            <td class="fField">

                            </td>
                        </tr>

                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[1].uuid" value="46A214E1134F41D3A832C4DBA3C63210" />
                                Plan
                            </td>
                            <td class="fField">D0000486601C</td>
                            <td class="fField"></td>
                            <td class="fField">MW03</td>
                            <td class="fField">

                            </td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000486601C')" alt="ico" />

                            </td>
                        </tr>

                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[2].uuid" value="82B8BE62EFA542E99AE202DEA2FEB0BD" />
                                Photo
                            </td>
                            <td class="fField">D0000486601B</td>
                            <td class="fField"></td>
                            <td class="fField">MW03</td>
                            <td class="fField">

                            </td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000486601B')" alt="ico" />

                            </td>
                        </tr>

                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[3].uuid" value="5BC709C150B74FCD958505A6C950BBA0" />
                                Amended Form
                            </td>
                            <td class="fField">D0000514430</td>
                            <td class="fField">18/8/2014</td>
                            <td class="fField"></td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000514430')" alt="ico" />

                            </td>
                            <td class="fField">

                            </td>
                        </tr>

                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[4].uuid" value="D0E664F042E24837833599E9B54B5F94" />
                                Amended Photo
                            </td>
                            <td class="fField">D0000514431</td>
                            <td class="fField">18/8/2014</td>
                            <td class="fField"></td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000514431')" alt="ico" />

                            </td>
                            <td class="fField">

                            </td>
                        </tr>

                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[5].uuid" value="BE34C51D216A4C5FBD40E5B6F53DD31E" />
                                Amended Plan
                            </td>
                            <td class="fField">D0000514433</td>
                            <td class="fField">18/8/2014</td>
                            <td class="fField"></td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000514433')" alt="ico" />

                            </td>
                            <td class="fField">

                            </td>
                        </tr>

                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[6].uuid" value="55CEB0398A8745F3A0A571AE14DA1C51" />
                                Form
                            </td>
                            <td class="fField">D0000531451A</td>
                            <td class="fField"></td>
                            <td class="fField">MW04</td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000531451A')" alt="ico" />

                            </td>
                            <td class="fField">

                            </td>
                        </tr>

                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[7].uuid" value="810E7DDD58AD48ACAE606F4233691EBE" />
                                Photo
                            </td>
                            <td class="fField">D0000531451B</td>
                            <td class="fField"></td>
                            <td class="fField">MW04</td>
                            <td class="fField">

                            </td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000531451B')" alt="ico" />

                            </td>
                        </tr>

                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[8].uuid" value="F2CF32DBD47B4DBBA860E56E40B76AD2" />
                                Plan
                            </td>
                            <td class="fField">D0000531451C</td>
                            <td class="fField"></td>
                            <td class="fField">MW04</td>
                            <td class="fField">

                            </td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000531451C')" alt="ico" />

                            </td>
                        </tr>

                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[9].uuid" value="83B02EB22F414F64B36DC2711A44A82A" />
                                Photo
                            </td>
                            <td class="fField">D0000555785B</td>
                            <td class="fField"></td>
                            <td class="fField">MW33</td>
                            <td class="fField">

                            </td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000555785B')" alt="ico" />

                            </td>
                        </tr>

                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[10].uuid" value="8A99457C1CBA48B4A5D97175E8ED3D5F" />
                                Form
                            </td>
                            <td class="fField">D0000555785A</td>
                            <td class="fField"></td>
                            <td class="fField">MW33</td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000555785A')" alt="ico" />

                            </td>
                            <td class="fField">

                            </td>
                        </tr>

                        <tr class="sRow2">
                            <td class="fField">
<input type="hidden" name="docList[11].uuid" value="65257F397C834A69AFCF75EB84569236" />
                                Letter
                            </td>
                            <td class="fField">D0000574829</td>
                            <td class="fField">28/1/2015</td>
                            <td class="fField"></td>
                            <td class="fField">

                                <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000574829')" alt="ico" />

                            </td>
                            <td class="fField">

                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </div>


<!--
    <div class="sList" id="submittedDoc2">
        <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="sTh1">Outgoing Correspondence</td>
            </tr>

            <tr class="sRow2">
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr class="sRow2">
                            <td class="sTh2">Document Type</td>
                            <td class="sTh2" style="width: 150px">Document S/N</td>
                            <td class="sTh2" style="width: 150px">Issued Date</td>
                            <td class="sTh2" style="width: 150px">Private</td>
                            <td class="sTh2" style="width: 150px">Public</td>
                        </tr>


                    </table>
                </td>
            </tr>
        </table>
    </div>

 -->








<table class="resultTable" >
    <thead>
        <tr>
            <th colspan="8" class="sTh1">Submitted Document</th>
        </tr>

        <tr class="sRow2">
            <th class="sTh2" style="width: 150px">Document Type</th>
            <th class="sTh2" style="width: 100px">Received Date</th>
            <th class="sTh2" style="width: 100px">Document S/N</th>
            <th class="sTh2">Document Title</th>
            <th class="sTh2" style="width: 100px">View Image</th>
            <th class="sTh2" style="width: 100px">Folder Type</th>
        </tr>

    </thead>
    <tbody>
        <input type="hidden" name="docList[0].uuid" value="073D68EC4EC943F99168C0FFA377CB27">
        <tr class="sRow2">
            <td class="fField">Form</td>
            <td class="fField">10/6/2014</td>
            <td class="fField">D0000486601A</td>
            <td class="fField">MW03</td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000486601A')"></td>
            <td class="fField">Private</td>
        </tr>

        <input type="hidden" name="docList[1].uuid" value="46A214E1134F41D3A832C4DBA3C63210">
        <tr class="sRow2">
            <td class="fField">Plan</td>
            <td class="fField">10/6/2014</td>
            <td class="fField">D0000486601C</td>
            <td class="fField">MW03</td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000486601C')"></td>
            <td class="fField">Public</td>
        </tr>

        <input type="hidden" name="docList[2].uuid" value="82B8BE62EFA542E99AE202DEA2FEB0BD">
        <tr class="sRow2">
            <td class="fField">Photo</td>
            <td class="fField">10/6/2014</td>
            <td class="fField">D0000486601B</td>
            <td class="fField">MW03</td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000486601B')"></td>
            <td class="fField">Public</td>
        </tr>

        <input type="hidden" name="docList[3].uuid" value="5BC709C150B74FCD958505A6C950BBA0">
        <tr class="sRow2">
            <td class="fField">Amended Form</td>
            <td class="fField">18/8/2014</td>
            <td class="fField">D0000514430</td>
            <td class="fField"></td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000514430')"></td>
            <td class="fField">Private</td>
        </tr>

        <input type="hidden" name="docList[4].uuid" value="D0E664F042E24837833599E9B54B5F94">
        <tr class="sRow2">
            <td class="fField">Amended Photo</td>
            <td class="fField">18/8/2014</td>
            <td class="fField">D0000514431</td>
            <td class="fField"></td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000514431')"></td>
            <td class="fField">Private</td>
        </tr>

        <input type="hidden" name="docList[5].uuid" value="BE34C51D216A4C5FBD40E5B6F53DD31E">
        <tr class="sRow2">
            <td class="fField">Amended Plan</td>
            <td class="fField">18/8/2014</td>
            <td class="fField">D0000514433</td>
            <td class="fField"></td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000514433')"></td>
            <td class="fField">Private</td>
        </tr>

        <input type="hidden" name="docList[6].uuid" value="55CEB0398A8745F3A0A571AE14DA1C51">
        <tr class="sRow2">
            <td class="fField">Form</td>
            <td class="fField">3/10/2014</td>
            <td class="fField">D0000531451A</td>
            <td class="fField">MW04</td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000531451A')"></td>
            <td class="fField">Private</td>
        </tr>

        <input type="hidden" name="docList[7].uuid" value="810E7DDD58AD48ACAE606F4233691EBE">
        <tr class="sRow2">
            <td class="fField">Photo</td>
            <td class="fField">3/10/2014</td>
            <td class="fField">D0000531451B</td>
            <td class="fField">MW04</td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000531451B')"></td>
            <td class="fField">Public</td>
        </tr>

        <input type="hidden" name="docList[8].uuid" value="F2CF32DBD47B4DBBA860E56E40B76AD2">
        <tr class="sRow2">
            <td class="fField">Plan</td>
            <td class="fField">3/10/2014</td>
            <td class="fField">D0000531451C</td>
            <td class="fField">MW04</td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000531451C')"></td>
            <td class="fField">Public</td>
        </tr>

        <input type="hidden" name="docList[9].uuid" value="83B02EB22F414F64B36DC2711A44A82A">
        <tr class="sRow2">
            <td class="fField">Photo</td>
            <td class="fField">4/12/2014</td>
            <td class="fField">D0000555785B</td>
            <td class="fField">MW33</td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000555785B')"></td>
            <td class="fField">Public</td>
        </tr>

        <input type="hidden" name="docList[10].uuid" value="8A99457C1CBA48B4A5D97175E8ED3D5F">
        <tr class="sRow2">
            <td class="fField">Form</td>
            <td class="fField">4/12/2014</td>
            <td class="fField">D0000555785A</td>
            <td class="fField">MW33</td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000555785A')"></td>
            <td class="fField">Private</td>
        </tr>

        <input type="hidden" name="docList[11].uuid" value="65257F397C834A69AFCF75EB84569236">
        <tr class="sRow2">
            <td class="fField">Letter</td>
            <td class="fField">28/1/2015</td>
            <td class="fField">D0000574829</td>
            <td class="fField"></td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000574829')"></td>
            <td class="fField">Private</td>
        </tr>


    </tbody>
</table>



<table class="resultTable" width="100%" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <th colspan="8" class="sTh1">Issued Correspondence</th>
        </tr>

        <tr class="sRow2">
            <th class="sTh2" style="width: 150px">Letter Type</th>
            <th class="sTh2" style="width: 100px">Issued Date</th>
            <th class="sTh2" style="width: 100px">Document S/N</th>
            <th class="sTh2">Letter Template No.</th>
            <th class="sTh2" style="width: 100px">View Image</th>
            <th class="sTh2" style="width: 100px">Folder Type</th>
        </tr>
        </thead>
<tbody>
        <input type="hidden" name="letterDocList[0][5]" value="5D2E205BB84F4BF3A467AAAC937FA017">
        <tr class="sRow2">
            <td class="fField">Acknowledgement</td>
            <td class="fField">10/6/2014</td>
            <td class="fField">D0000487630</td>
            <td class="fField">SL-MW03A</td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000487630')"></td>
            <td class="fField">Private</td>
        </tr>

        <input type="hidden" name="letterDocList[1][5]" value="B4BA9841A8B04677906DE3672E0D4BDD">
        <tr class="sRow2">
            <td class="fField"></td>
            <td class="fField">18/6/2014</td>
            <td class="fField">D0000491207</td>
            <td class="fField"></td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000491207')"></td>
            <td class="fField">Private</td>
        </tr>

        <input type="hidden" name="letterDocList[2][5]" value="BD15C170ADDF424CBC746A83B4444EA7">
        <tr class="sRow2">
            <td class="fField">Acknowledgement</td>
            <td class="fField">3/10/2014</td>
            <td class="fField">D0000532648</td>
            <td class="fField">SL-MW04A</td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000532648')"></td>
            <td class="fField">Private</td>
        </tr>

        <input type="hidden" name="letterDocList[3][5]" value="9B3AE377D88140938C4390F42CBAF5EC">
        <tr class="sRow2">
            <td class="fField"></td>
            <td class="fField">23/10/2014</td>
            <td class="fField">D0000538939</td>
            <td class="fField"></td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000538939')"></td>
            <td class="fField">Private</td>
        </tr>

        <input type="hidden" name="letterDocList[4][5]" value="ACF9B4DC1D2D468F99B73DAA191BE9C5">
        <tr class="sRow2">
            <td class="fField"></td>
            <td class="fField">28/1/2015</td>
            <td class="fField">D0000575080</td>
            <td class="fField"></td>
            <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000575080')"></td>
            <td class="fField">Private</td>
        </tr>

    </tbody>
</table>



<div class="sList">



    <table class="inputTable">
        <thead>
            <tr>
                <th colspan="8" class="sTh">Audit Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="fLabel" style="width: 200px">Status :</th>
                <td class="fField">
                    <select name="auditMwStatus">

                        <option value="Pending Reply">Pending Reply</option>

                        <option value="Pending Inspection">Pending Inspection</option>

                        <option value="Completed">Completed</option>

                    </select>

                    <input type="hidden" name="auditMwStatusList[0].value" value="Pending Reply">
                    <input type="hidden" name="auditMwStatusList[0].label" value="Pending Reply">

                    <input type="hidden" name="auditMwStatusList[1].value" value="Pending Inspection">
                    <input type="hidden" name="auditMwStatusList[1].label" value="Pending Inspection">

                    <input type="hidden" name="auditMwStatusList[2].value" value="Completed">
                    <input type="hidden" name="auditMwStatusList[2].label" value="Completed">

                </td>
                <th class="fLabel" style="width: 150px">
                    &nbsp;

                </th>
                <td class="fField">
                    &nbsp;

                </td>
            </tr>
            <tr>
                <th class="fLabel">Audit Check Officer :</th>
                <td class="fField">
                    <input type="text" name="otherOfficer" value="">
                </td>
                <th class="fLabel">Referral Date</th>
                <td class="fField">
                    <input class="inputDate" type="text" id="referralDate" name="referralDate" value="" style="width: 150px" readonly="">
                </td>
            </tr>
            <tr>
                <th class="fLabel">Remarks :</th>
                <td class="fField">
                    <input type="text" name="description" value="">
                </td>
                <th class="fLabel" style="width: 150px">Reply Date</th>
                <td class="fField">
                    <input class="inputDate" type="text" id="replyDate" name="replyDate" value="" style="width: 150px" readonly="">
                </td>
            </tr>

            <tr>
                <th class="fLabel">Result :</th>
                <td class="fField" colspan="3">
                    <label>
                        <input class="inputRadio" type="radio" id="auditResult1" name="auditResult" value="OK" onclick="checkAuditResultOK('')">
                        OK
                    </label>
                    <label>
                        <input class="inputRadio" type="radio" id="auditResult2" name="auditResult" value="Not OK" onclick="checkAuditResultNotOK('')">
                        Not OK
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <select id="auditRemark" name="auditRemark">
                        <option value="">-- Select --</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
   
</div>


<div class="btnSet btnSetTypeA">
    <div class="right">

        <input class="inputButton" type="button" id="btnSaveAsDraft" name="btnSaveAsDraft" value="Save as Draft"  onclick="loadContentPage('PEM0301')">





        <input class="inputButton" type="button" id="btnPOSubmit" name="btnPOSubmit" value="PO Submit"onclick="loadContentPage('PEM0301')">


    </div>
</div>
</div>