<table class="resultTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <thead>
        <tr>
            <th class="sTh" style="width:100px">From User</th>
            <th class="sTh" style="width:100px">Created Date</th>
            <th class="sTh" style="width:100px">Modified Date</th>
            <th class="sTh">Comment</th>

        </tr>
    </thead>
    <tbody>
        <tr class="sRow2">
            <td class="sCell">SEMW1&nbsp;</td>
            <td class="sCell">3/1/2011&nbsp;</td>
            <td class="sCell">3/1/2011&nbsp;</td>
            <td class="sCell"><strong>I have replied the citizen on 31/12/2010<br>---<br>The caller clarified that his enquiry is related to what are Minor Works (MW). He was briefed the concept of Minor Works Control System (MWCS), particularly, the carrying of MW in private buildings can be either through conventional "approval and consent" approach or "simplified requirements" approach. He was satisifed with the reply and raised no further comments.</strong><br><br>&nbsp;</td>

        </tr>

    </tbody>
</table>