
    <!-- InstanceBeginEditable name="content" -->
    <script>var topMenuSelected = "itemA";</script>

    <h3>Enquiry</h3>

    <div class="sList">
        <table class="inputTable">
            <tbody>
                <tr class="sRow2">
                    <th class="sCell" rowspan="2" >Image(s) :</th>
                    <th class="sCell" >Incoming :</th>
                    <td class="sCell" colspan="3"></td>
                </tr>
                <tr class="sRow2">
                    <th class="sCell" >Outgoing :</th>
                    <td class="sCell" colspan="3"></td>
                </tr>
                <tr class="sRow2">
                    <th class="sCell" colspan="2" >Ref No. :</th>
                    <td class="sCell" colspan="3">Enq101200003&nbsp;</td>
                </tr>
                <tr class="sRow2">
                    <th class="sCell" colspan="2" >ICC No. :</th>
                    <td class="sCell" colspan="3">1-268169162&nbsp;</td>
                </tr>
                <tr class="sRow2">
                    <th class="sCell" colspan="2" >Language Usage :</th>
                    <td class="sCell" >
                        <label>
                            <input class="inputRadio" id="lang" name="lang" value="EN" disabled="" type="radio">
                            English
                        </label>
                    </td>
                    <td class="sCell" >
                        <label>
                            <input class="inputRadio" id="lang2" name="lang" value="ZH" checked="" disabled="" type="radio">
                            Chinese
                        </label>
                    </td>
                    <td class="sCell">&nbsp;</td>
                </tr>

            </tbody>
        </table>
    </div>
    <h3>
        Enquirer   Details <font style="vertical-align:middle">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input class="inputCheckbox" id="" name="" style="vertical-align:middle" type="checkbox">
            The citizen refuses to leave contact information
        </font>
    </h3>
    <div class="sList">
        <table class="inputTable">
          
                                            <tbody>
                                                <tr>
                                                    <th class="fLabel" width="300px">Name in English :</th>
                                                    <td class="fField"><input class="inputText" name="englishName" maxlength="500" id="englishName" value="Ken xxx xxx" style="width:280px" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" width="300px">Name in Chinese :</th>
                                                    <td class="fField"><input class="inputText" name="chineseName" maxlength="200" id="chineseName" value="" style="width:280px" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Subject Title :</th>
                                                    <td class="fField"><input class="inputText" name="subjectTitle" maxlength="500" id="subjectTitle" value="註冊小型工程承建商"  disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Subject Address :</th>
                                                    <td class="fField"><input class="inputText" name="subjectAddress" maxlength="100" id="subjectAddress" value="" style="width:180px" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Channel  :</th>
                                                    <td class="fField">
                                                        <select name="channel" disabled="">

                                                            <option selected="'selected'" value="Telephone">Telephone</option>

                                                            <option value="Email">Email</option>

                                                            <option value="Fax">Fax</option>

                                                            <option value="Letter">Letter</option>

                                                            <option value="Memo">Memo</option>

                                                            <option value="Record Form">Record Form</option>

                                                            <option value="Others">Others</option>

                                                        </select>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Section/ Unit Reference No. :</th>
                                                    <td class="fField"><input class="inputText" name="secUnitNo" id="secUnitNo" maxlength="100" value="" style="width:180px" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Correspondence Address :</th>
                                                    <td class="fField"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Street/Road/Village :</th>
                                                    <td class="fField">
                                                        <input class="inputText ac_input" id="street" name="ownerAddress.streetOrVillage" value="" maxlength="500" style="width: 300px;" disabled="" autocomplete="off" type="text">
                                                        <input class="inputText" id="street_code" name="ownerAddress.streetCode" value="" type="hidden">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Street Number :</th>
                                                    <td class="fField">
                                                        <input class="inputText ac_input" id="street_no" name="ownerAddress.streetNo" maxlength="500" value="" style="width: 120px;" disabled="" autocomplete="off" type="text">
                                                        <input class="inputText" id="block_id" name="ownerAddress.blockID" value="" type="hidden">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Building/Estate :</th>
                                                    <td class="fField"><input class="inputText" id="block_name" name="ownerAddress.buildingName" maxlength="500" value="" style="width: 300px;" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Floor :</th>
                                                    <td class="fField">
                                                        <input class="inputText ac_input" id="floor" maxlength="500" name="ownerAddress.floor" value="" style="width: 300px;" disabled="" autocomplete="off" type="text">
                                                        <!-- <select id="floor" name="ownerAddress.floor" style="width:120px"  disabled
                                                        ></select> <input class="inputText" type="hidden" id="hidden_floor"
                                                                   name="ownerAddress.floor"
                                                                   value=""
                                                               />-->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Flat/Room :</th>
                                                    <td class="fField">
                                                        <input class="inputText ac_input" id="unit" maxlength="500" name="ownerAddress.flat" value="" style="width: 300px;" disabled="" autocomplete="off" type="text">
                                                        <!-- <select id="unit" name="ownerAddress.flat" style="width:300px"  disabled
                                                        ></select> <input class="inputText" type="hidden" id="hidden_unit"
                                                                   name="ownerAddress.flat"
                                                                   value=""
                                                               />-->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">District :</th>
                                                    <td class="fField">
                                                        <!-- <select class="inputSelect" style="width:180px" name="ownerAddress.district"   disabled
                                                        >

                                                                     <option value="WC"

                                                                      >
                                                                          WAN CHAI
                                                                      </option>

                                                                     <option value="YTM"

                                                                      >
                                                                          YAU TSIM MONG
                                                                      </option>

                                                                     <option value="E"

                                                                      >
                                                                          EASTERN
                                                                      </option>

                                                                     <option value="TW"

                                                                      >
                                                                          TSUEN WAN
                                                                      </option>

                                                                     <option value="SSP"

                                                                      >
                                                                          SHAM SHUI PO
                                                                      </option>

                                                                     <option value="ST"

                                                                      >
                                                                          SHA TIN
                                                                      </option>

                                                                     <option value="I"

                                                                      >
                                                                          ISLANDS
                                                                      </option>

                                                                     <option value="KT"

                                                                      >
                                                                          KWUN TONG
                                                                      </option>

                                                                     <option value="KTY"

                                                                      >
                                                                          KWAI TSING
                                                                      </option>

                                                                     <option value="TM"

                                                                      >
                                                                          TUEN MUN
                                                                      </option>

                                                                     <option value="S"

                                                                      >
                                                                          SOUTHERN
                                                                      </option>

                                                                     <option value="TP"

                                                                      >
                                                                          TAI PO
                                                                      </option>

                                                                     <option value="CW"

                                                                      >
                                                                          CENTRAL AND WESTERN
                                                                      </option>

                                                                     <option value="KC"

                                                                      >
                                                                          KOWLOON CITY
                                                                      </option>

                                                                     <option value="N"

                                                                      >
                                                                          NORTH
                                                                      </option>

                                                                     <option value="WTS"

                                                                      >
                                                                          WONG TAI SIN
                                                                      </option>

                                                                     <option value="YL"

                                                                      >
                                                                          YUEN LONG
                                                                      </option>

                                                                     <option value="SK"

                                                                      >
                                                                          SAI KUNG
                                                                      </option>

                                                                 </select> -->
                                                        <input class="inputText" id="district" name="ownerAddress.district" maxlength="200" value="" style="width: 300px;" disabled="" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fLabel">&nbsp;</td>
                                                    <td class="fField" valign="top">
                                                        <label>
                                                            <input name="ownerAddress.region" value="HK" disabled="" type="radio">
                                                            Hong Kong
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="ownerAddress.region" value="KLW" disabled="" type="radio">
                                                            Kowloon
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="ownerAddress.region" value="NT" disabled="" type="radio">
                                                            New Territories
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">E-mail Address :</th>
                                                    <td class="fField"><input class="inputText" name="email" id="email" maxlength="50" value="" style="width:180px" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Contact No. :</th>
                                                    <td class="fField"><input class="inputText" name="contactNo" id="contactNo" maxlength="22" value="28626667" style="width:180px" disabled="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Fax No. :</th>
                                                    <td class="fField"><input class="inputText" name="faxNo" id="faxNo" maxlength="22" value="" style="width:180px" disabled="" type="text"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                    
    </div>
    <h3> Enquiry Details </h3>
    <div class="sList">
       
                        <table class="inputTable">
                     
                                            <tbody>
                                                <tr>
                                                    <th class="fLabel" width="300px">Received Date of Enquiry :</th>
                                                    <td class="fField"><input class="inputCalendar" id="receivedDate" name="receivedDate" value="31/12/2010" disabled="" readonly="" type="text"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">Subject Matter :</th>
                                                    <td class="fField"><textarea class="inputTextarea" id="subjectMatter" name="subjectMatter" onkeyup="return ismaxlength(this,2000)" style="width:300px; height:80px" disabled="">Mr. Yau would like to know whether his company, which carries out security system works, need to registered as a registered minor works contractor.</textarea></td>
                                                </tr>
                                                <!-- 	<tr>
                                                                          <td class="fLabel">
                                                                              Case Source
                                                                          </td>
                                                                          <td class="fField">
                                                                              <select name="source"  disabled
                                                >

                                                                                      <option

                                                                                          value="">
                                                                                          - Select -
                                                                                      </option>

                                                                                      <option

                                                                                          value="GENERAL_PUBLIC">
                                                                                          General Public
                                                                                      </option>

                                                                                      <option

                                                                                          value="ICC">
                                                                                          ICC
                                                                                      </option>

                                                                                      <option

                                                                                          value="INTERNAL_REFERRAL">
                                                                                          Internal Referral
                                                                                      </option>

                                                                                      <option

                                                                                          value="OTHERS">
                                                                                          Others
                                                                                      </option>

                                                                              </select>

                                                                                  <input type="hidden"
                                                                                      name="sourceList[0].value"
                                                                                      value="" />
                                                                                  <input type="hidden"
                                                                                      name="sourceList[0].label"
                                                                                      value="- Select -" />

                                                                                  <input type="hidden"
                                                                                      name="sourceList[1].value"
                                                                                      value="GENERAL_PUBLIC" />
                                                                                  <input type="hidden"
                                                                                      name="sourceList[1].label"
                                                                                      value="General Public" />

                                                                                  <input type="hidden"
                                                                                      name="sourceList[2].value"
                                                                                      value="ICC" />
                                                                                  <input type="hidden"
                                                                                      name="sourceList[2].label"
                                                                                      value="ICC" />

                                                                                  <input type="hidden"
                                                                                      name="sourceList[3].value"
                                                                                      value="INTERNAL_REFERRAL" />
                                                                                  <input type="hidden"
                                                                                      name="sourceList[3].label"
                                                                                      value="Internal Referral" />

                                                                                  <input type="hidden"
                                                                                      name="sourceList[4].value"
                                                                                      value="OTHERS" />
                                                                                  <input type="hidden"
                                                                                      name="sourceList[4].label"
                                                                                      value="Others" />

                                                                          </td>
                                                                      </tr>
                                                                      <tr>
                                                                          <td class="fLabel">
                                                                              Channel
                                                                          </td>
                                                                          <td class="fField">
                                                                              <select name="channel"  disabled
                                                >

                                                                                      <option
                                                                                          selected=&#039;selected&#039;
                                                                                          value="Telephone">
                                                                                          Telephone
                                                                                      </option>

                                                                                      <option

                                                                                          value="Email">
                                                                                          Email
                                                                                      </option>

                                                                                      <option

                                                                                          value="Fax">
                                                                                          Fax
                                                                                      </option>

                                                                                      <option

                                                                                          value="Letter">
                                                                                          Letter
                                                                                      </option>

                                                                                      <option

                                                                                          value="Memo">
                                                                                          Memo
                                                                                      </option>

                                                                                      <option

                                                                                          value="Record Form">
                                                                                          Record Form
                                                                                      </option>

                                                                                      <option

                                                                                          value="Others">
                                                                                          Others
                                                                                      </option>

                                                                              </select>

                                                                                  <input type="hidden"
                                                                                      name="channelList[0].value"
                                                                                      value="Telephone" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[0].label"
                                                                                      value="Telephone" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[1].value"
                                                                                      value="Email" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[1].label"
                                                                                      value="Email" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[2].value"
                                                                                      value="Fax" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[2].label"
                                                                                      value="Fax" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[3].value"
                                                                                      value="Letter" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[3].label"
                                                                                      value="Letter" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[4].value"
                                                                                      value="Memo" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[4].label"
                                                                                      value="Memo" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[5].value"
                                                                                      value="Record Form" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[5].label"
                                                                                      value="Record Form" />

                                                                                  <input type="hidden"
                                                                                      name="channelList[6].value"
                                                                                      value="Others" />
                                                                                  <input type="hidden"
                                                                                      name="channelList[6].label"
                                                                                      value="Others" />

                                                                          </td>
                                                                      </tr>
                                                                       -->
                                            </tbody>
                                        </table>
                

                                        <table class="resultTable">
                                            <thead>


                                                <tr>
                                                    <th colspan="8" class="sTh"> Enquiry Address Keys  :</th>
                                                </tr>
                                                <tr>
                                                    <th class="sTh1">Street/Road/Village</th>
                                                    <th class="sTh1">Street Number</th>
                                                    <th class="sTh1">Building/Estate</th>
                                                    <th class="sTh1">Floor</th>
                                                    <th class="sTh1">Flat/Room</th>
                                                    <th class="sTh1">District</th>
                                                    <th class="sTh1">Region</th>
                                                </tr>
                                        
                                    
                                            <tbody>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <input class="inputButton" id="" name="" value="Add" style="width:70px;" onclick="javascript:addAddress()" disabled="" type="button">
                                                    </td>
                                                    <td><input class="inputButton" id="" name="" value="Copy" style="width:70px;" onclick="javascript:copyAddress()" disabled="" type="button"></td>

                                                </tr>

                                            </tbody>
                                        </table>
                                        <table class="inputTable">
                                            <thead>
                                                <tr>
                                                    <th class="sTh"> Enquiry Address</th>
                                                </tr>
                                                </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <textarea class="inputTextarea" id="addressArea" name="addressArea" onkeyup="return ismaxlength(this,5000)" style="width:950px; height:200px;" disabled=""></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
    </div>



    <div class="btnSet btnSetTypeA">
        <div class="right">

            <input class="inputButton" id="" name="" value="Next" style="width:90px;" onclick="loadContentPage('PEM0301d')" type="button">
        </div>
    </div>


    <br>
    <br>
    <!-- InstanceEndEditable -->