
    <!-- InstanceBeginEditable name="content" -->
    

    <h3>Information Page</h3>
    <div class="sList">
        <table class="inputTable">
            <thead>
                <tr>
                    <th colspan="6" class="sTh1">Submission Information :</th>
                </tr>
                </thead>
            <tbody>

                <tr>
                    <th>Minor Work No./VS No. :</th>
                    <td class="fField">
                        &nbsp;
                        MW160605420




                    </td>


                    <th>Document Processing Status :</th>
                    <td class="fField">&nbsp;Completed</td>
                </tr>
                <tr>
                    <th>Commencement Date :</th>
                    <td class="fField">&nbsp;24/5/2016</td>

                    <th>Completion Date (Latest Reported) :</th>
                    <td class="fField">&nbsp;3/6/2016</td>
                </tr>


                <tr>
                    <th>File Reference No. :</th>
                    <td class="fField">&nbsp;/</td>

                    <th>Completion Date (Latest Reported) :</th>
                    <td class="fField">&nbsp;3/6/2016</td>
                </tr>
                <tr>
                    <th>Address of minor works carried out :</th>
                    <td class="fField">xxxx HONG KONG 143-145 BOHAM STRAND EAST  HK</td>
                    <th>Completion Date (Acknowledged) :</th>
                    <td class="fField">&nbsp;3/6/2016</td>

                </tr>
                <tr>
                    <th>Total no. of premises under the Form :</th>
                    <td class="fField">&nbsp;</td>
                    <th class="fLabel">RVD No. :</th>
                    <td class="fText">&nbsp;</td>
                </tr>
                <tr>
                    <th>Strengthening of PBBW :</th>
                    <td class="fField">&nbsp;</td>
                    <th class="fLabel">RVD No. :</th>
                    <td class="fText">&nbsp;</td>

                </tr>
                <tr>
                    <th class="fLabel">Previous MW No. :</th>
                    <td class="fText">
                        &nbsp;
                        MW<br>

                    </td>

                    <th>
                        SCREENED NATURE
                     :</th>
                    <td>
                        E-SUBMISSION
                    </td>
                </tr>

                <tr>

                    <th>
                        Receipt Point
                     :</th>
                    <td>
                        3
                    </td>
                    <th>
                        Reg No. of AP
                     :</th>
                    <td>
                        MWC 311/2011
                    </td>
                </tr>
                <tr>
                    <th>
                        Selected for Audit
                     :</th>
                    <td>

                        N

                    </td>
                    <th>
                        SSP
                     :</th>
                    <td>
                        N
                    </td>
                </tr>

                <tr>
                    <th>
                        Eng(1) or Chin(2) for description
                     :</th>
                    <td colspan="3">
                        C

                    </td>
                </tr>

                <tr>
                    <th>
                        Items related to Signboard (Y)
                     :</th>
                    <td>
                        N
                    </td>
                    <th>
                        Referral Date
                     :</th>
                    <td>
                        01/12/2017
                    </td>
                </tr>
                <tr>
                    <th>PAW :</th>
                    <td></td>
                    <th>Contact of PAW :</th>
                    <td></td>
                </tr>
                <tr>
                    <th>I.O. or Property Managemen :</th>
                    <td></td>
                    <th>Contact of I.O. or Property Management :</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Remark :</th>
                    <td>
                        BDMWU20180067159
                    </td>
                    <th>
                        Reply Letter Date
                        (yyyy-mm-dd )
                     :</th>
                    <td>
                        2018-09-28
                    </td>
                </tr>
                <tr>
                    <th>SDF :</th>
                    <td>
                        N
                    </td>
                    <th>Barcode :</th>
                    <td>
                        N
                    </td>
                </tr>
                <tr>
                    <th>BD File Number :</th>
                    <td colspan="3">
                        4507/71
                    </td>
                </tr>
            </tbody>
                                        </table>
                     
    </div>
    <br>




    <div class="sList">
        <table class="inputTable">

            <thead>
                <tr>
                    <th colspan="4" class="sTh1">Privacy Information: Particulars of Person who arranged for the Inspection :</th>
                </tr>

                <tr>
                    <th colspan="4" class="sTh1">Privacy Information: Particulars of Person who arranged to carry out works :</th>
                </tr>
                </thead>
            <tbody>
              
                <tr>
                    <th>English Name :</th>
                    <td class="fField">&nbsp;xxxxx xxxx xxx LTD.&nbsp;</td>
                    <th>HKID/B.R./Passport No. :</th>
                    <td class="fField">&nbsp;</td>
         
                                                </tr>
                <tr>
                    <th class="fLabel">Chinese Name :</th>
                    <td class="fText">xxxxx物業管理有限公司&nbsp;</td>
                    <th class="fLabel">Country of Issue :</th>
                    <td class="fText">&nbsp;</td>
                </tr>
                <tr>
                    <th>Correspondence Address :</th>
                    <td class="fField">&nbsp;   xxxxx , CITYPLAZA ONE  HK</td>
                    <th>Email Address :</th>
                    <td class="fField">&nbsp;</td>
                </tr>
                <tr>
                    <th>Contact No. :</th>
                    <td class="fField">&nbsp;xxxxxxxx</td>
                    <th>Fax No. :</th>
                    <td class="fField">&nbsp;xxxxxxxx</td>
                 
                </tr>
                                            </tbody>
                                        </table>
                                 
    </div>





    <br>

    <div class="sList">
   
                <tr class="sRow2">
                    <td class="sCell" style="padding:0px;">
                        <table class="resultTable">
                            <thead>
                                <tr>
                                    <th colspan="6" class="sTh1">Minor Work Item</th>
                                </tr>
                                <tr>
                                    <!--
            <td class="fLabel">Class</td>
        -->
                                    <th class="fLabel">Item No.</th>
                                    <th class="fLabel">Description</th>
                                    <th class="fLabel">Relevant Order/Direction/Notice No./BD Reference No.</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!--
                <td class="fField" >&nbsp;CLASS_III</td>
            -->
                                    <td class="sCell">&nbsp;3.28</td>
                                    <td class="sCell">&nbsp;ERECTION 1 NO. OF METAL SUPPORTING FRAME FOR 1 NO. OF A/C OUTDOOR UNIT ON SLAB HEIGHT OF STRUCTURE &lt; 1.5M, WEIGHT OF OUTDOOR UNIT &lt; 150KG </td>
                                    <td class="sCell">&nbsp;</td>

                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>

    </div>







    <br>
    <div class="sList">


     
           
                 
                        <table class="resultTable">
                            <thead>
                                <tr>
                                    <th colspan="8" class="sTh1">Prescribed Building Professional &amp; Prescribed Registered Contractor</th>
                                </tr>
                                <tr>


                                    <th class="fLabel" rowspan="2">PBP/PRC</th>
                                    <th class="fLabel" rowspan="2">Certificate of Registration No.</th>
                                    <th class="fLabel" rowspan="2">English Name</th>
                                    <th class="fLabel" rowspan="2">Chinese Name</th>
                                    <th class="fLabel" rowspan="2">English Name of AS</th>
                                    <th class="fLabel" rowspan="2">Chinese Name of AS</th>
                                    <th class="fLabel" colspan="2">Privacy Info</th>

                                    <!-- <th class="fLabel">Acting Period</th>
        <th class="fLabel">Cease From</th> -->
                                </tr>

                                <tr>
                                    <th class="fLabel">Tel No.</th>
                                    <th class="fLabel">Fax No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="sCell">&nbsp;Authorized Person/ Registered Inspector</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>

                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>

                                    <!--  <td class="sCell" >&nbsp; - </td>





            <td class="sCell" >&nbsp;</td>

             -->

                                </tr>

                                <tr>
                                    <td class="sCell">&nbsp;Registered Structural Engineer</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>

                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>

                                    <!--  <td class="sCell" >&nbsp; - </td>





            <td class="sCell" >&nbsp;</td>

             -->

                                </tr>

                                <tr>
                                    <td class="sCell">&nbsp;Registered Geotechnical Engineer</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>

                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;</td>

                                    <!--  <td class="sCell" >&nbsp; - </td>





            <td class="sCell" >&nbsp;</td>

             -->

                                </tr>

                                <tr>
                                    <td class="sCell">&nbsp;Prescribed Registered Contractor</td>
                                    <td class="sCell">&nbsp;MWC 3113/2010</td>
                                    <td class="sCell">&nbsp;xxxxxxxx CO. LTD</td>
                                    <td class="sCell">&nbsp;xxxxxx有限公司</td>
                                    <td class="sCell">&nbsp;KWONG xx xx</td>
                                    <td class="sCell">&nbsp;鄺xx</td>

                                    <td class="sCell">&nbsp;xxxxxxxx</td>
                                    <td class="sCell">&nbsp;xxxxxxxx</td>

                                    <!--  <td class="sCell" >&nbsp; - </td>




            <td class="sCell" >&nbsp;Class I:<br/>
                                     Class II:</td>


             -->

                                </tr>

                            </tbody>
                        </table>
 
    </div>




    <br>

    <div class="sList">

   
                        <table class="resultTable">
                            <thead>
                                <tr>
                                    <th colspan="8" class="sTh1">Submitted Document</th>
                                </tr>
                                <tr>
                                    <th class="fLabel">Document Type</th>
                                    <th class="fLabel">Received Date</th>
                                    <th class="fLabel">Document S/N</th>
                                    <th class="fLabel">Form No.</th>
                                    <th class="fLabel">View Image</th>
                                    <th class="fLabel">Result</th>
                                    <th class="fLabel">Result Date</th>
                                </tr>
<tbody>
                                <tr>
                                    <td class="sCell">
                                        &nbsp;
                                        Letter
                                    </td>
                                    <td class="sCell">&nbsp;30/6/2016</td>
                                    <td class="sCell">&nbsp;D0000743488D</td>
                                    <td class="sCell">&nbsp;MW05</td>
                                    <td class="sCell">



                                        <img style="cursor: pointer;" src="images/view_c.gif" onclick="openFileWithEncryptMsg('RDAwMDA3NDM0ODhE')">






                                    </td>
                                    <td class="sCell">
                                        &nbsp;

                                        Acknowledgement

                                    </td>
                                    <td class="sCell">&nbsp;12/7/2016</td>
                                </tr>

                                <tr>
                                    <td class="sCell">
                                        &nbsp;
                                        Photo
                                    </td>
                                    <td class="sCell">&nbsp;30/6/2016</td>
                                    <td class="sCell">&nbsp;D0000743488B</td>
                                    <td class="sCell">&nbsp;MW05</td>
                                    <td class="sCell">



                                        <img style="cursor: pointer;" src="images/view_c.gif" onclick="openFileWithEncryptMsg('RDAwMDA3NDM0ODhC')">



                                    </td>
                                    <td class="sCell">
                                        &nbsp;

                                        Acknowledgement

                                    </td>
                                    <td class="sCell">&nbsp;12/7/2016</td>
                                </tr>

                                <tr>
                                    <td class="sCell">
                                        &nbsp;
                                        Plan
                                    </td>
                                    <td class="sCell">&nbsp;30/6/2016</td>
                                    <td class="sCell">&nbsp;D0000743488C</td>
                                    <td class="sCell">&nbsp;MW05</td>
                                    <td class="sCell">



                                        <img style="cursor: pointer;" src="images/view_c.gif" onclick="openFileWithEncryptMsg('RDAwMDA3NDM0ODhD')">



                                    </td>
                                    <td class="sCell">
                                        &nbsp;

                                        Acknowledgement

                                    </td>
                                    <td class="sCell">&nbsp;12/7/2016</td>
                                </tr>

                                <tr>
                                    <td class="sCell">
                                        &nbsp;
                                        Form
                                    </td>
                                    <td class="sCell">&nbsp;30/6/2016</td>
                                    <td class="sCell">&nbsp;D0000743488A</td>
                                    <td class="sCell">&nbsp;MW05</td>
                                    <td class="sCell">



                                        <img style="cursor: pointer;" src="images/view_c.gif" onclick="openFileWithEncryptMsg('RDAwMDA3NDM0ODhB')">






                                    </td>
                                    <td class="sCell">
                                        &nbsp;

                                        Acknowledgement

                                    </td>
                                    <td class="sCell">&nbsp;12/7/2016</td>
                                </tr>

                                <tr>
                                    <td class="sCell">
                                        &nbsp;
                                        Other
                                    </td>
                                    <td class="sCell">&nbsp;8/7/2016</td>
                                    <td class="sCell">&nbsp;D0000746017</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">



                                        <img style="cursor: pointer;" src="images/view_c.gif" onclick="openFileWithEncryptMsg('RDAwMDA3NDYwMTc=')">






                                    </td>
                                    <td class="sCell">
                                        &nbsp;

                                    </td>
                                    <td class="sCell">&nbsp;</td>
                                </tr>

                            </tbody>
                        </table>
   
    </div>

    <br>

    <div class="sList">

                        <table class="resultTable">

                            <thead>
                                <tr>
                                    <th colspan="8" class="sTh1">Issued Correspondence</th>
                                </tr>
                                <tr>
                                    <th class="fLabel">Letter Type</th>
                                    <th class="fLabel">Issued Date</th>
                                    <th class="fLabel">Document S/N</th>
                                    <th class="fLabel">Letter Template No.</th>
                                    <th class="fLabel">View Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;30/6/2016</td>
                                    <td class="sCell">&nbsp;D0000746043</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">



                                        <img style="cursor: pointer;" src="images/view_c.gif" onclick="openFileWithEncryptMsg('RDAwMDA3NDYwNDM=')">





                                    </td>
                                </tr>


                                <tr>
                                    <td class="sCell">&nbsp;Acknowledgement</td>
                                    <td class="sCell">&nbsp;12/7/2016</td>
                                    <td class="sCell">&nbsp;D0000746968</td>
                                    <td class="sCell">&nbsp;SL-MW05A</td>
                                    <td class="sCell">



                                        <img style="cursor: pointer;" src="images/view_c.gif" onclick="openFileWithEncryptMsg('RDAwMDA3NDY5Njg=')">





                                    </td>
                                </tr>


                            </tbody>
                        </table>
            
    </div>

    <br>


    <div class="sList">

                        <table class="resultTable">
                            <thead>
                                <tr>
                                    <th colspan="8" class="sTh1">Processing Handling</th>
                                </tr>
                                <tr>
                                    <th class="fLabel">Processing Form</th>
                                    <th class="fLabel">DSN</th>
                                    <th class="fLabel">Submission Nature</th>
                                    <th class="fLabel">Date</th>
                                    <!--
        <th class="fLabel">Remarks</th>
         -->
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td class="sCell">
                                        &nbsp;


                                        <a href="javascript:viewProcessingPage('8a85bda0559689ca0155c97ed79a1f53')">
                                            <!---->
                                            MW05
                                        </a>



                                    </td>
                                    <td class="sCell">&nbsp;D0000743488</td>
                                    <td class="sCell">&nbsp;</td>
                                    <td class="sCell">&nbsp;2016-07-08 15:53:01.0</td>
                                    <!--
            <td class="sCell">&nbsp;</td>
            -->
                                </tr>

                            </tbody>
                        </table>
              
    </div>



    <br>

    <div class="sList" id="handling_officer">

    </div>


    <table class="resultTable" id="PEM0115Table">
        <thead>
            <tr>
                <th>
                    Ref No.
                </th>

                <th>
                    DATE RECEIVED
                </th>

                <th>
                    Handing staff (PO)
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MW 001/2018(MOD)</td>

                <td>
                    11/8/2018
                </td>
                <td>
                    BS1
                </td>

            </tr>
            <tr>
                <td>MW 002/2018(MOD)</td>

                <td>
                    12/8/2018
                </td>
                <td>
                    BS1
                </td>

            </tr>
        </tbody>


    </table>
    <div class="sList">
        <table class="inputTable">
            <thead>
                <tr>
                    <th colspan="4" class="sTh1">
                        Particulars of OC/Management Company
                    </th>
                </tr>
            </thead>

                                        <tbody>
                                            <tr>
                                                <th >
                                                    Name :
                                                </th>
                                                <td class="fField">
                                                    &nbsp;

                                                </td>
                                                <th>
                                                    Fax No. :
                                                </th>
                                                <td class="fField">
                                                    &nbsp;

                                                </td>
                                            
                                            </tr>
                                            <tr>
                                                <th>
                                                    Correspondence Address :
                                                </th>
                                                <td class="fText">



                                                    &nbsp;
                                                </td>


                                                <th>
                                                    Contact No. :
                                                </th>
                                                <td class="fText">
                                                    &nbsp;

                                                </td>
                                            </tr>
                                            <tr>
                                                <th >
                                                    Name of Representative of PRC :
                                                </th>
                                                <td class="fField">
                                                    &nbsp;

                                                </td>
                                                <th > 
                                                    Contact No. :
                                                </th>
                                                <td class="fField">
                                                    &nbsp;

                                                </td>
                                            </tr>
                                            <tr>
                                                <th >
                                                    Name of Representative of PBP :
                                                </th>
                                                <td class="fField">
                                                    &nbsp;

                                                </td>
                                                <th  >
                                                    Contact No. :
                                                </th>
                                                <td class="fField">
                                                    &nbsp;

                                                </td>
                                            </tr>
                                        </tbody>
            <tfoot><tr>
                       <th colspan="4">   <input class="inputButton" id="" name="" value="Back" onclick="loadContentPage('PEM0304')" type="button"></th></tr></tfoot>
                                    </table>
            
    </div>