
<div class="w3-row">
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301Ack')">
        <div style="width:25%" class="w3-third tablink w3-border-red w3-bottombar w3-hover-light-grey w3-padding">Audit</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301AL')">
        <div style="width:25%" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">AL requiring follow up</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301WL')">
        <div style="width:25%" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">WL requiring follow up</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301LSS')">
        <div style="width:25%" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Case referred to LSS/EBD</div>
    </a>
</div>

<table class="inputTable">
    <thead>
        <tr>
            <th class="label">Checklist Summary </th>
            <th class="text" style="background-color:yellow"><a id="formInfo">Specified Form Checklist Summary</a></th>

        </tr>
    </thead>
</table>




<div class="sList" id="caseInfo">
    <table class="inputTable">
        <thead>
            <tr>
                <th class="sTh">Submission Information</th>
                <th colspan="3" class="sThRight">


                    <input class="sBtn" type="button" id="btnEditButton" name="btnEditButton" value="Edit" onclick="loadContentPage('PEM0301cEdit')">


                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th class="fLabel" style="width: 200px">Ref. No. :</th>
                <td class="fText">MW160302973</td>
                <th class="fLabel" style="width: 200px">Form No. :</th>
                <td class="fText">MW01</td>


            </tr>

            <tr>
                <th class="fLabel" style="width: 200px">Previous MW No. :</th>
                <td class="fText"><br></td>
                <th class="fLabel" style="width: 200px">File Reference No. :</th>
                <td class="fText">/</td>

            </tr>

            <tr>
                <th class="fLabel" style="width: 200px; height: 50px">
                    Received Date


                 :</th>
                <td class="fText">21/3/2016</td>
                <th class="fLabel" style="width: 200px; height: 50px">
                    Location/Address of the proposed minor works are to be carried out

                 :</th>
                <td class="fText">
                    錦華樓 18-32號 親民街 西貢 NT


                </td>
            </tr>

            <tr>
                <th class="fLabel">
                    Commencement Date

                 :</th>
                <td class="fText">29/3/2016</td>
                <th  class="fLabel">
                    Completion Date
                 :</th>
                <td  class="fText"></td>
            </tr>
            <tr class="fLabel">
                <th class="fLabel" style="width: 200px">Requirements :</th>
                <td colspan="4" class="fText">
                    1
                    Indicator for version 1 MW Item (Before Effective date of the law in 2017)
                    <input type="hidden" name="selectOfReqCode" id="selectOfReqCode" value="1">
                </td>
            </tr>
        </tbody>
    </table>


</div>
<!--
<input type="hidden" value="" id="defaultDataVersion"/>
<input type="hidden" value="false" id="selectOfVersion"/>
-->
<script>
    /*
    var selectOfVersion = document.getElementById('selectOfVersion').value;
    if (selectOfVersion == 'true'){
        document.getElementById("dataVersion").disabled = true;}
    else{
        document.getElementById("dataVersion").disabled = false;}
    */
</script>



<div class="sList" id="mwInfo" style="display: none;">
    <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td class="sTh1">Location/Address of the proposed minor works are to be carried out</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell" style="padding: 0px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="fLabel" style="width:200px">Location of Minor Works</td>
                                <td class="fText"></td>
                            </tr>

                            <tr>
                                <td class="fLabel">Address</td>
                                <td class="fText">   錦華樓 18-32號 親民街 西貢 NT</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="sTh1">Particulars of the person who arranged for the minor works to be carried out</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell" style="padding:0px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="width:50%" valign="top">
                                    <table width="100%" border="0" cellpadding="2" cellspacing="1">
                                        <tbody>
                                            <tr>
                                                <td class="fLabel" style="width:200px">English Name:</td>
                                                <td class="fText">SMART ON CONSTRUCTION (HONG KONG) LIMITED&nbsp;</td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Chinese Name:</td>
                                                <td class="fText">駿安建築(香港)有限公司</td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Correspondence Address</td>
                                                <td class="fText">       </td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Contact No.</td>
                                                <td class="fText">37412502</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table width="100%" border="0" cellpadding="2" cellspacing="1">
                                        <tbody>
                                            <tr>
                                                <td class="fLabel" style="width:200px">HKID/BR/Passport No.</td>
                                                <td class="fText">39494913-000-06-13-9</td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Country of Issue:</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Email Address:</td>
                                                <td class="fText">INFO@SMARTON.COM.HK</td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Fax No.</td>
                                                <td class="fText">37412507</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="sTh1">Particulars of the person for whom the signboard is to be erected</td>
            </tr>

            <tr class="sRow2">
                <td class="sCell" style="padding:0px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="width:50%" valign="top">
                                    <table width="100%" border="0" cellpadding="2" cellspacing="1">
                                        <tbody>
                                            <tr>
                                                <td class="fLabel" style="width:200px">English Name:</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Chinese Name:</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Correspondence Address</td>
                                                <td class="fText">       </td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Contact No.</td>
                                                <td class="fText"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table width="100%" border="0" cellpadding="2" cellspacing="1">
                                        <tbody>
                                            <tr>
                                                <td class="fLabel" style="width:200px">HKID/BR/Passport No.</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Country of Issue:</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Email Address:</td>
                                                <td class="fText"></td>
                                            </tr>

                                            <tr>
                                                <td class="fLabel">Fax No.</td>
                                                <td class="fText"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="sList" id="submittedDoc">

    <table class="resultTable">
        <thead>
            <tr>
                <th colspan="8" class="sTh1">Submitted Document</th>
            </tr>

            <tr class="sRow2">
                <th class="sTh2" style="width: 150px">Document Type</th>
                <th class="sTh2" style="width: 100px">Received Date</th>
                <th class="sTh2" style="width: 100px">Document S/N</th>
                <th class="sTh2">Document Title</th>
                <th class="sTh2" style="width: 100px">View Image</th>
                <th class="sTh2" style="width: 100px">Folder Type</th>
            </tr>

        </thead>
        <tbody>
            <tr class="sRow2">
                <td class="fField">
                    Plan
                    <input type="hidden" name="docList[0].uuid" value="663E342F3313471FA10D6072494286BB">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000709940C</td>
                <td class="fField">MW01</td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000709940C')" alt="ico"></td>
                <td class="fField">
                    <select name="docList[0].folderType">

                        <option selected="selected" value="Public">Public</option>

                        <option value="Private">Private</option>

                    </select>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="fField">
                    Form
                    <input type="hidden" name="docList[1].uuid" value="BE8C6F6288E9437B9F60265D24685317">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000709940A</td>
                <td class="fField">MW01</td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000709940A')" alt="ico"></td>
                <td class="fField">
                    <select name="docList[1].folderType">

                        <option value="Public">Public</option>

                        <option selected="selected" value="Private">Private</option>

                    </select>
                </td>
            </tr>

            <tr class="sRow2">
                <td class="fField">
                    Photo
                    <input type="hidden" name="docList[2].uuid" value="C2652DAD06F84DF9AF9FED8545135FD2">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000709940B</td>
                <td class="fField">MW01</td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000709940B')" alt="ico"></td>
                <td class="fField">
                    <select name="docList[2].folderType">

                        <option selected="selected" value="Public">Public</option>

                        <option value="Private">Private</option>

                    </select>
                </td>
            </tr>

        </tbody>

    </table>


    <table class="inputTable">
        <tfoot>
            <tr>
                <th>
                    <input class="inputButton" type="button" id="btnSaveFolderTypeSubmittedDoc" name="btnSaveFolderTypeSubmittedDoc" value="Save" onclick="saveFolderType('')">
                </th>
            </tr>
        </tfoot>
    </table>


    <table class="resultTable">
        <thead>
            <tr>
                <th colspan="8" class="sTh1">Issued Correspondence</th>
            </tr>

            <tr class="sRow2">
                <th class="sTh2" style="width: 150px">Letter Type</th>
                <th class="sTh2" style="width: 100px">Issued Date</th>
                <th class="sTh2" style="width: 100px">Document S/N</th>
                <th class="sTh2">Letter Template No.</th>
                <th class="sTh2" style="width: 100px">View Image</th>
                <th class="sTh2" style="width: 100px">Folder Type</th>
            </tr>

        </thead>
        <tbody>
            <tr class="sRow2">
                <td class="fField">

                    <input type="hidden" name="uuidList[0]" value="EE90F96B45D340C6AC29ACD9FD000BA0">
                </td>
                <td class="fField">21/3/2016</td>
                <td class="fField">D0000710582</td>
                <td class="fField"></td>
                <td class="fField"><img style="cursor:pointer;" src="images/ico_view.gif" onclick="openFile('D0000710582')" alt="ico"></td>
                <td class="fField">
                    <select name="folderTypeSelected[0]">

                        <option value="Public">Public</option>

                        <option selected="selected" value="Private">Private</option>

                    </select>
                </td>
            </tr>


    </table>

    <table class="inputTable">

        <tfoot>
            <tr>
                <th>
                    <input class="inputButton" type="button" id="btnSaveFolderTypeIssuedCor" name="btnSaveFolderTypeIssuedCor" value="Save" style="width:80px;" onclick="saveFolderType('Letter')">
                </th>
            </tr>
        </tfoot>
    </table>




    <div class="sList" id="mwItemInfo">




        <script type="text/javascript">
<!--
            function maximizeItem() {
                var el = document.getElementById("itemHist");
                el.style.display = (el.style.display != 'none' ? 'none' : 'block');
            }
            //-->
        </script>






        <table class="resultTable">



            <thead>
                <tr>
                    <th colspan="8" class="sTh1">Details of the Minor Work</th>
                   
                </tr>

                <tr class="sRow2">
                    <th class="sTh2">Item sequence</th>
                    <th class="sTh2">Minor Work item</th>
                    <th class="sTh2">Type</th>
                    <th class="sTh2">Description</th>
                    <th class="sTh2">
                        Relevant Order/ Direction/ Notice No./ BD Reference No.


                    </th>

                </tr>
            </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell">
                        1
                        &nbsp; in &nbsp;



                        MW01





                    </td>
                    <td class="sCell">
                        1.17
                        &nbsp;
                    </td>
                    <td class="sCell">



                        MW01


                        &nbsp;
                    </td>
                    <td class="sCell">
                        按照原本設計,於大廈外牆位置,修葺懸臂式平板
                        &nbsp;
                    </td>
                    <td class="sCell">

                        &nbsp;
                    </td>

                </tr>

            </tbody>


        </table>
    </div>

    <table class="inputTable">
        <tfoot>
            <tr>
                <th>
                    <input class="inputButton" type="button" id="btnHistory" name="btnHistory" value="History" onclick="maximizeItem()">
                </th>
            </tr>
        </tfoot>
    </table>



    <div id="PEM0301cTable" style="display:none">

        <table class="resultTable">
            <thead>
                <tr>
                    <th class="sTh1">Minor Work Item</th>
                </tr>

                <tr>
                    <th class="fLabel">Item No.</th>
                    <th class="fLabel">Description</th>
                    <th class="fLabel">Relevant Order/Direction/Notice/BD Reference No.</th>

            </thead>
            <tbody>


                <tr>
                    <td class="sCell">&nbsp;1.17</td>
                    <td class="sCell">&nbsp;按照原本設計,於大廈外牆位置,修葺懸臂式平板</td>
                    <td class="sCell">&nbsp;</td>



                </tr>


            </tbody>
        </table>

    </div>

</div>

<!-- ************************************************** -->
<!--                                                    -->
<!-- Particulars of PBP                                 -->
<!--                                                    -->
<!-- ************************************************** -->
<div class="sList" id="pbpInfo" style="display: none;">
    <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="sTh1" colspan="4">Particulars of PBP</td>
                                <td class="sTh1">Result</td>
                                <td class="sTh1 sThRight"></td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sTh2">PBP</td>
                                <td class="sTh2">Certification of Registration No.</td>
                                <td class="sTh2">English Name</td>
                                <td class="sTh2">Chinese Name</td>
                                <td class="sTh2" colspan="2">Name of PBP</td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">

                                    AP/RI


                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    AP(A)  2083/65&nbsp;
                                </td>
                                <td class="sCell">
                                    SHUN xx xx&nbsp;
                                </td>
                                <td class="sCell">
                                    沈xx&nbsp;
                                </td>
                                <td class="sCell" colspan="2">
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpApInfoName" name="formChecklist.pbpApInfoName" value="O">
                                        OK
                                    </label>
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpApInfoName" name="formChecklist.pbpApInfoName" value="N" checked="checked">
                                        Not OK
                                    </label>
                                    <font color="#FF0000">Certification of Registration No. Not Found!</font>
                                </td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">RSE&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell" colspan="2">
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpRseInfoName" name="formChecklist.pbpRseInfoName" value="O" ondblclick="javascript:clearValue('pbpRseInfoName')" disabled="disabled">
                                        OK
                                    </label>
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpRseInfoName" name="formChecklist.pbpRseInfoName" value="N" ondblclick="javascript:clearValue('pbpRseInfoName')" disabled="disabled">
                                        Not OK
                                    </label>

                                </td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">RGE&nbsp;</td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell">
                                    &nbsp;
                                </td>
                                <td class="sCell" colspan="2">
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpRgeInfoName" name="formChecklist.pbpRgeInfoName" value="O" ondblclick="javascript:clearRadio(this)" disabled="disabled">
                                        OK
                                    </label>
                                    <label>
                                        <input class="inputRadio" type="radio" id="pbpRgeInfoName" name="formChecklist.pbpRgeInfoName" value="N" ondblclick="javascript:clearRadio(this)" disabled="disabled">
                                        Not OK
                                    </label>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- ************************************************** -->
<!-- End                                                -->
<!-- Particulars of PBP                                  -->
<!--                                                    -->
<!-- ************************************************** -->
<!-- ************************************************** -->
<!--                                                    -->
<!-- Particulars of PRC                                 -->
<!--                                                    -->
<!-- ************************************************** -->
<div class="sList" id="prcInfo" style="display: none;">
    <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <table class="sTable" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="sTh1" colspan="3">Particulars of PRC</td>
                                <td class="sTh1">Result</td>
                                <td class="sTh1" colspan="2">Particulars of AS</td>
                                <td class="sTh1">Result</td>
                                <td class="sTh1 sThRight"></td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sTh2">Certification of Registration No.</td>
                                <td class="sTh2">English Name of PRC</td>
                                <td class="sTh2">Chinese Name of PRC</td>
                                <td class="sTh2" style="width: 120px">Name of PRC</td>
                                <td class="sTh2">English Name of AS</td>
                                <td class="sTh2">Chinese Name of AS</td>
                                <td class="sTh2" style="width: 120px" colspan="2">Name of AS</td>
                            </tr>

                            <tr class="sRow2">
                                <td class="sCell">
                                    GBC 3/2009&nbsp;
                                </td>
                                <td class="sCell">
                                    SMART ON CONSTRUCTION (HONG KONG) LIMITED&nbsp;&nbsp;<br><font color="red">CRM: SMART ON CONSTRUCTION (HONG KONG) LIMITED </font>
                                </td>
                                <td class="sCell">
                                    駿安建築(香港)有限公司&nbsp;
                                </td>
                                <td class="sCell">
                                    <label>
                                        <input class="inputRadio" type="radio" id="prcInfoName" name="formChecklist.prcInfoName" value="O" ondblclick="javascript:clearRadio(this)">
                                        OK
                                    </label>
                                    <label>
                                        <input class="inputRadio" type="radio" id="prcInfoName" name="formChecklist.prcInfoName" value="N" ondblclick="javascript:clearRadio(this)" checked="checked">
                                        Not OK
                                    </label>
                                    <font color="#FF0000">Names are not identical</font>
                                </td>
                                <td class="sCell">
                                    LI CHI KONG, ANDY&nbsp;<font color="red"><br>CRM: LI Chi Kong Andy</font>
                                </td>
                                <td class="sCell">
                                    李志剛&nbsp;
                                </td>
                                <td class="sCell" colspan="2">
                                    <label>
                                        <input class="inputRadio" type="radio" id="prcInfoAsName" name="formChecklist.prcInfoAsName" value="O" ondblclick="javascript:clearRadio(this)">
                                        OK
                                    </label>
                                    <label>
                                        <input class="inputRadio" type="radio" id="prcInfoAsName" name="formChecklist.prcInfoAsName" value="N" ondblclick="javascript:clearRadio(this)" checked="checked">
                                        Not OK
                                    </label>
                                    <font color="#FF0000">Names are not identical</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- ************************************************** -->
<!-- End                                                -->
<!-- Particulars of PRC                                 -->
<!--                                                    -->
<!-- ************************************************** -->

<br>

<table class="resultTable">
    <thead>
        <tr>
            <th class="sTh1" colspan="4">Particulars of PBP</th>
            <th class="sTh1">Result</th>
            <th class="sTh1 sThRight"></th>
        </tr>

        <tr class="sRow2">
            <th class="sTh2">PBP</th>
            <th class="sTh2">Certification of Registration No.</th>
            <th class="sTh2">English Name</th>
            <th class="sTh2">Chinese Name</th>
            <th class="sTh2" colspan="2">Name of PBP</th>
        </tr>
    </thead>
    <tbody>
        <tr class="sRow2">
            <td class="sCell">

                AP/RI


                &nbsp;
            </td>
            <td class="sCell">
                AP(A)  2083/65&nbsp;
            </td>
            <td class="sCell">
                SHUN KUI CHUNG&nbsp;
            </td>
            <td class="sCell">
                沈鉅忠&nbsp;
            </td>
            <td class="sCell" colspan="2">
                <label>
                    <input class="inputRadio" type="radio" id="pbpApInfoName" name="formChecklist.pbpApInfoName" value="O">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpApInfoName" name="formChecklist.pbpApInfoName" value="N" checked="checked">
                    Not OK
                </label>
                <font color="#FF0000">Certification of Registration No. Not Found!</font>
            </td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">RSE&nbsp;</td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell" colspan="2">
                <label>
                    <input class="inputRadio" type="radio" id="pbpRseInfoName" name="formChecklist.pbpRseInfoName" value="O" ondblclick="javascript:clearValue('pbpRseInfoName')" disabled="disabled">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpRseInfoName" name="formChecklist.pbpRseInfoName" value="N" ondblclick="javascript:clearValue('pbpRseInfoName')" disabled="disabled">
                    Not OK
                </label>

            </td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">RGE&nbsp;</td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell" colspan="2">
                <label>
                    <input class="inputRadio" type="radio" id="pbpRgeInfoName" name="formChecklist.pbpRgeInfoName" value="O" ondblclick="javascript:clearRadio(this)" disabled="disabled">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="pbpRgeInfoName" name="formChecklist.pbpRgeInfoName" value="N" ondblclick="javascript:clearRadio(this)" disabled="disabled">
                    Not OK
                </label>

            </td>
        </tr>

    </tbody>
</table>



















<table class="resultTable">
    <thead>
        <tr>
            <th class="sTh1" colspan="3">Particulars of PRC</th>
            <th class="sTh1">Result</th>
            <th class="sTh1" colspan="2">Particulars of AS</th>
            <th class="sTh1">Result</th>
        </tr>

        <tr class="sRow2">
            <th class="sTh2">Certification of Registration No.</th>
            <th class="sTh2">English Name of PRC</th>
            <th class="sTh2">Chinese Name of PRC</th>
            <th class="sTh2" style="width: 120px">Name of PRC</th>
            <th class="sTh2">English Name of AS</th>
            <th class="sTh2">Chinese Name of AS</th>
            <th class="sTh2" style="width: 120px">Name of AS</th>
        </tr>
    </thead>

    <tbody>
        <tr class="sRow2">
            <td class="sCell">
                MWC 2032/2011&nbsp;
            </td>
            <td class="sCell">
                TUNK LICK GROUP ENGINEERING LIMITED&nbsp;<br><font color="red">CRM: TxxxOUP ENGINEERING LIMITED </font>
            </td>
            <td class="sCell">
              xx工程有限公司&nbsp;
            </td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="prcInfoName" name="formChecklist.prcInfoName" disabled="disabled" value="O" ondblclick="javascript:clearRadio(this)" checked="checked">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="prcInfoName" name="formChecklist.prcInfoName" disabled="disabled" value="N" ondblclick="javascript:clearRadio(this)">
                    Not OK
                </label>
            </td>
            <td class="sCell">
                TANG WAI MAN&nbsp;
            </td>
            <td class="sCell">
                鄧偉文&nbsp;
            </td>
            <td class="sCell">
                <label>
                    <input class="inputRadio" type="radio" id="prcInfoAsName" name="formChecklist.prcInfoAsName" disabled="disabled" value="O" ondblclick="javascript:clearRadio(this)" checked="checked">
                    OK
                </label>
                <label>
                    <input class="inputRadio" type="radio" id="prcInfoAsName" name="formChecklist.prcInfoAsName" disabled="disabled" value="N" ondblclick="javascript:clearRadio(this)">
                    Not OK
                </label>
            </td>
        </tr>
    </tbody>
</table>











<table class="resultTable">
    <thead>
        <tr>
            <th class="sTh" style="width:20px" rowspan="2">&nbsp;</th>
            <th class="sTh" rowspan="2">Form Checking items</th>
            <th class="sTh" colspan="2">Checking Result</th>
            <th class="sTh" rowspan="2">TO Remarks (TOMW2)</th>
            <th class="sTh" colspan="2">PO Agreement</th>
            <th class="sTh" rowspan="2">PO Remarks (SEMW2)</th>
        </tr>
        <tr>
            <th class="sTh" style="width:30px">Not OK</th>
            <th class="sTh" style="width:30px">OK</th>
            <th class="sTh" style="width:30px">Agreed</th>
            <th class="sTh" style="width:30px">Not Agreed</th>
        </tr>
    </thead>
    <tbody>



        <input type="hidden" name="specifiedMwRecordFormChecklist[0].itemName" value="Title">
        <tr><td class="sTh">&nbsp;</td><td class="sTh" colspan="7">Submission Information Checking</td></tr>











        <tr class="sRow2">
            <td class="sCell">1<input type="hidden" name="specifiedMwRecordFormChecklist[1].itemName" value="InfoNot">&nbsp;</td>
            <td class="sCell">
                Notification
                <input type="hidden" name="specifiedMwRecordFormChecklist[1].checkingItemsDescription" value="Notification">
                &nbsp;
            </td>
            <td class="sCell" colspan="2">
                OK


                &nbsp;
            </td>
            <td class="sCell"><textarea class="inputTextarea remark" id="" name="" style="width:200px" readonly="readonly"></textarea>&nbsp;</td>
            <td class="sCell"><input class="inputRadio" type="radio" value="Y" id="poAgreement1_InfoNot" name="mwRecordFormChecklistPo.InfoNot">&nbsp;</td>
            <td class="sCell"><input class="inputRadio" type="radio" value="N" id="poAgreement2_InfoNot" name="mwRecordFormChecklistPo.InfoNot">&nbsp;</td>
            <td class="sCell"><textarea class="inputTextarea remark" id="poRemarks_InfoNot" name="mwRecordFormChecklistPo.InfoNotRmk" style="width:200px"></textarea>&nbsp;</td>
        </tr>


    </tbody>
</table>






<table class="resultTable">
    <thead>
        <input type="hidden" name="specifiedMwRecordFormChecklist[2].itemName" value="Title">
        <tr><th class="sTh">&nbsp;</th><th class="sTh" colspan="7">PRC Checking</th></tr>







        <input type="hidden" name="specifiedMwRecordFormChecklist[3].itemName" value="Title">
        <tr class="sRow1"><th class="sCell">&nbsp;</th><th class="sCell" colspan="7">Checking of PRC</th></tr>







        <input type="hidden" name="specifiedMwRecordFormChecklist[4].itemName" value="Title">
        <tr class="sRow1"><th class="sCell">&nbsp;</th><th class="sCell" colspan="7">Other Checking</th></tr>




    </thead>
</table>












<table class="resultTable">
    <thead>
        <tr>
            <th class="sTh" style="width:20px" rowspan="2">&nbsp;</th>
            <th class="sTh" style="width:20px" rowspan="2">&nbsp;</th>
            <th class="sTh" rowspan="2">Item Checking items</th>
            <th class="sTh" colspan="2">Checking Result</th>
            <th class="sTh" rowspan="2">TO Remarks (TOMW2)</th>
            <th class="sTh" colspan="2">PO Agreement</th>
            <th class="sTh" rowspan="2">PO Remarks (SEMW2)</th>
        </tr>
        <tr>
            <th class="sTh" style="width:20px">Not Accept</th>
            <th class="sTh" style="width:20px">More information required</th>
            <th class="sTh" style="width:20px">Agreed</th>
            <th class="sTh" style="width:20px">Not Agreed</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<br />



<div class="sList" id="recommendation">
    <table class="resultTable">
        <thead>
            <tr>
                <th class="sTh" colspan="4">Recommendation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="sCell" style="padding:20px">
                    <input class="inputRadio" type="radio" value="O" id="recommedationApplication" name="summaryChecklist.recommedationApplication">Acknowledgement

                </td>
                <td class="sCell" style="padding:20px">
                    <input class="inputRadio" type="radio" value="N" id="recommedationApplication" name="summaryChecklist.recommedationApplication">Refusal
                </td>
                <td class="sCell" style="padding:20px">
                    <input class="inputRadio" type="radio" value="C" id="recommedationApplication" name="summaryChecklist.recommedationApplication" checked="'checked'">Conditional
                </td>
                <td class="sCell" style="width:150px">
                    Remark:<br>
                    <textarea class="inputTextarea remark" id="summaryChecklist.remark" name="summaryChecklist.remark" style="width:140px">Spoke to Mr. TANG:
1) Photos are not clear and not consistent with that at MW03.</textarea>&nbsp;
                </td>
            </tr>

            <!--
            <tr class="sTh">
                <td class="sTh" colspan="4">Pre-commencement Site Audit Result</td>
            </tr>
            <tr>
                <td class="sCell" style="padding:20px">
                <input class="inputRadio" type="radio" value="InOrder" id="preCommencementSiteAuditI" name="summaryChecklist.preCommencementSiteAudit"  />
                InOrder	</td>
                <td class="sCell" style="padding:20px">
                <input class="inputRadio" type="radio" value="Fail" id="preCommencementSiteAuditF" name="summaryChecklist.preCommencementSiteAudit"  />
                Fail</td>
                <td class="sCell" style="padding:20px"></td>
            </tr>
            -->

            <tr>
                <td class="sCell" style="padding:20px"></td>
                <td class="sCell" style="padding:20px"></td>
                <td class="sCell" style="padding:20px"></td>
            </tr>



            <tr>
                <td colspan="3" class="sCell" style="padding:20px; font-weight:bold">
                    Image Transfer to RRM
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input value="Y" class="inputRadio" type="radio" id="transferRrmY" name="summaryChecklist.transferRrm">Yes
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input value="N" class="inputRadio" type="radio" id="transferRrmN" name="summaryChecklist.transferRrm" checked="checked">No
                </td>
            </tr>

        </tbody>
    </table>
</div>



<table class="inputTable">
    <tfoot>
        <tr>
            <td>
                <input class="inputButton" type="button" name="" value="Roll Back to TO &amp; Comment" onclick="loadContentPage('PEM0301Ack')" />


                <input class="inputButton" type="button" id="" name="" value="Next >>" style="width:90px;" onclick="loadContentPage('PEM0301Ack2')">

            </td>
        </tr>
    </tfoot>
</table>



<div class="btnSet btnSetTypeA">
    <div class="right">


    </div>
</div>