
<h3>
    SAC
</h3>
<table class="inputTable">
    <tbody>


        <tr>

            <th>
                MW Submission No :



            </th>
            <td>
                MW00000000001
            </td>
            <td>
                <input type="checkbox" />Commencement
            </td>
        </tr>


        <tr>

            <th>
                Date of Inspection :



            </th>
            <td>
                <input type="text" class="inputDate" />
            </td>
            <td>
                <input type="checkbox" />Completion
            </td>
        </tr>


    </tbody>




</table>

<h3>
    Part I
</h3>


<table class="inputTable">
    <thead>
        <tr>
            <th>1.</th>
            <th>
                Desk Study
            </th>
            <th>
                Y
            </th>
            <th>

                N
            </th>
            <th>
                NA
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>
                a.Works specified in the submissions covered by correct Minor Works items?
            </td>

            <td>
                <input type="checkbox" />

            </td>
            <td>
                <input type="checkbox" />


            </td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                b.Works specified in conformity with the last site Inspection record in
                EB file?

            </td>

            <td>
                <input type="checkbox" />

            </td>
            <td>
                <input type="checkbox" />
           

            </td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>
    </tbody>
</table>


<table class="inputTable">
    <thead>
        <tr>
            <th>2.</th>
            <th>
                Site Inspection – Inspection Report@ƒ(	       )
            </th>
            <th>
                Y
            </th>
            <th>

                N
            </th>
            <th>
                NA
            </th>
        </tr>


    </thead>
    <tbody>
        <tr>
            <th colspan="5">
                (Applicable to non-ORS for Notice of Commencement only)
            </th>
        </tr>
        <tr>
            <td></td>
            <td>
                a. Works specified compatible with site condition?
            </td>

            <td>
                <input type="checkbox" />

            </td>
            <td>
                <input type="checkbox" />


            </td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                b. Adequate precaution any measures provided on site?

            </td>

            <td>
                <input type="checkbox" />

            </td>
            <td>
                <input type="checkbox" />


            </td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                c. No obvious contravention of BO/Sub-Legarising from the proposed works

            </td>

            <td>
                <input type="checkbox" />

            </td>
            <td>
                <input type="checkbox" />


            </td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <th colspan="5">
                (Applicable to Certificate of Completion)
            </th>
        </tr>
        <tr>
            <td></td>
            <td>
                d. Completed works on site is in conformity with the submission?
            </td>

            <td>
                <input type="checkbox" />

            </td>
            <td>
                <input type="checkbox" />


            </td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                e. No material deviation from submission for commencement?
            </td>

            <td>
                <input type="checkbox" />

            </td>
            <td>
                <input type="checkbox" />


            </td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                f. No contravention of BO/Sub-Legcaused by the completed works
                amounting to imminent danger or health hazard?

            </td>

            <td>
                <input type="checkbox" />

            </td>
            <td>
                <input type="checkbox" />


            </td>
            <td>
                <input type="checkbox" />
            </td>
        </tr>
    </tbody>
</table>




<h3>
    Part II
</h3>

<h3>
    Details of Irregularities identified
</h3><br />

<textarea rows="10" cols="100">



</textarea>





<table class="inputTable">
    <thead>
        <tr>
            <th>3.</th>
            <th colspan="5">
                Initial Action Taken against irregularities
            </th>

        </tr>


    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                <input type="checkbox" />N/A
            </td>

        </tr>
        <tr>
            <td rowspan="2">
                <input type="checkbox" />Inform
            </td>

            <td>
                <input type="checkbox" />PBP
            </td>
            <td rowspan="2">
                To rectify irregularities identified
            </td>
            <td rowspan="2">
                On <input type="text" class="inputDate" />
            </td>
            <td>
                <input type="checkbox" />on Phone
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" />PRC
            </td>
            <td>
                <input type="checkbox" />by letter@ƒ(	).
            </td>
        </tr>


        <tr>
            <td rowspan="2">
                <input type="checkbox" />Irregularities rectified by
            </td>
            <td>
                <input type="checkbox" />PBP
            </td>
            <td>
                <input type="checkbox" />  completely
            </td>
            <td rowspan="2">
                On     <input type="text" class="inputDate" />
            </td>
            <td rowspan="2">
                and verified@ƒ(	).
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" />PRC
            </td>

            <td>
                <input type="checkbox" />  partly
            </td>


        </tr>
    </tbody>
</table>













<table class="inputTable">
    <thead>
        <tr>
            <th>4.</th>
            <th colspan="5">
                Follow up Action against Irregularities not rectified
            </th>

        </tr>


    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                <input type="checkbox" />N/A
                (Building Works)
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <input type="checkbox" />ID – s.24AA order recommended
            </td>
            <td colspan="4">
                <input type="checkbox" />Non-ID –advisory letter recommended
            </td>
        </tr>
        <tr>
            <td colspan="1"><input type="checkbox" />Other Contraventions:</td>

            <td colspan="4"><input type="text" /></td>
        </tr>
        <tr>
            <td colspan="5">
                (Other irregularities)
            </td>
        </tr>

        <tr>
        <tr>
            <td colspan="2">
                <input type="checkbox" />     MW carried out not by the appropriate
            </td>
            <td colspan="4">PBP/PRC</td>
        </tr>
      
        <tr>
            <td></td>
            <td><input type="checkbox" /> Disciplinary action </td>
            <td><input type="checkbox" /> PBP</td>
            <td rowspan="2">
                Against the
            </td>
            <td rowspan="2">
                Recommended
            </td>
        </tr>
        <tr>
            <td width="1px"></td>
            <td>
                <input type="checkbox" />  prosecution
            </td>

            <td>
                <input type="checkbox" />  PRC
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="checkbox" />    Outstanding irregularities not rectified by the
            </td>
            <td colspan="4">PBP/PRC</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" /> Disciplinary action </td>
            <td><input type="checkbox" /> PBP</td>
            <td rowspan="2">
                Against the
            </td>
            <td rowspan="2">
                Recommended
            </td>
        </tr>
        <tr>
            <td width="1px"></td>
            <td>
                <input type="checkbox" />  Prosecution
            </td>

            <td>
                <input type="checkbox" />  PRC
            </td>
        </tr>
    </tbody></table>
<table class="inputTable">
    <thead><tr><th colspan="3">
    Inspecting Officer(s) :
</th>
        <th></th>
        <th>Unit Head’s endorsement & Date :</th>
        </tr></thead>
    <tbody>
        <tr>
            <th>
                Signature :
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="3" rowspan="3"><textarea style="width:100%"></textarea></td>
        </tr>
        <tr>
            <th>
                Name :
                Rank :

            </th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>
                Date :
            </th>
            <td><input type="text" class="inputDate" /></td>
            <td><input type="text" class="inputDate" /></td>
            <td></td>
        </tr>
    </tbody>
</table>
<table class="inputTable">
    <tfoot>
        <tr>
            <td>
                <input class="inputButton" type="button" id="btnDraft" name="btnDraft" value="Back" onclick="loadContentPage('PEM0301c5.1AFC')">





                <input class="inputButton" type="button" id="" name="" value="Next Item" onclick="loadContentPage('PEM0301c8Summary')">
            </td>
        </tr>
    </tfoot>
</table>