<div class="w3-row">
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301Ack')">
        <div style="width:25%" class="w3-third tablink  w3-bottombar w3-hover-light-grey w3-padding">Audit</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301AL')">
        <div style="width:25%" class="w3-third tablink w3-border-red w3-bottombar w3-hover-light-grey w3-padding">AL requiring follow up</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301WL')">
        <div style="width:25%" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">WL requiring follow up</div>
    </a>
    <a href="javascript:void(0)" onclick="loadContentPage('PEM0301LSS')">
        <div style="width:25%" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Case referred to LSS/EBD</div>
    </a>
</div>
<br />


<table class="inputTable">
    <tbody>
        <tr><th>MW No. :</th><td>MW160302973</td></tr>
        <tr><th>Form No. :</th><td>MW01</td></tr>
        <tr><th>DSN :</th><td>D0000710582</td></tr>

    </tbody>
</table>
<br />
<table class="inputTable">
    <thead>
        <tr>
            <th>
                Category of Offence
            </th>
            <th>Rectified/Clarified </th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        <tr><th>offences1...</th><td><input type="checkbox" /></td><td><textarea style=""></textarea></td></tr>
        <tr><th>offences2...</th><td><input type="checkbox" /></td><td><textarea style=""></textarea></td></tr>
        <tr><th>offences3...</th><td><input type="checkbox" /></td><td><textarea style=""></textarea></td></tr>
        <tr><th><button>Add Offences</button>   <button>Update</button></th><td colspan="2"></td></tr>
        <tr>
            <th>Irregularities Type</th>
            <td>
                <input type="checkbox" id="m1" /><label for="m1">Minor Only</label>
                <input type="checkbox" id="m2" /><label for="m2">Involve Major Offence</label>
            </td>
            <td colspan="2"><button>Update</button></td>
        </tr>
    </tbody>
    <tfoot><tr><td colspan="3"><button onclick="loadContentPage('PEM0301AL')">Record Issued AL</button></td></tr></tfoot>
</table>

<!--<table id="AL" class="resultTable tab">
    <thead>
        <tr>

            <th class="sTh">Ref. No.</th>
            <th class="sTh">Form No.</th>
            <th class="sTh">Received Date</th>
            <th class="sTh">Assignment Date</th>
            <th class="sTh">Status</th>

        </tr>
    </thead>
    <tbody>
        <tr class="sRow1">

            <td class="sCell">


                <a href="javascript:loadContentPage('PEM0301AL2')">MW160302973&nbsp;</a>





            </td>
            <td class="sCell">MW01&nbsp;</td>
            <td class="sCell">21/3/2016</td>
            <td class="sCell">22/3/2016</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>
        <tr class="sRow2">

            <td class="sCell">


                <a href="javascript:loadContentPage('PEM0301AL2')">MW160304580&nbsp;</a>





            </td>
            <td class="sCell">MW03&nbsp;</td>
            <td class="sCell">31/3/2016</td>
            <td class="sCell">1/4/2016</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>
        <tr class="sRow1">

            <td class="sCell">


                <a href="javascript:loadContentPage('PEM0301AL2')">MW160400026&nbsp;</a>





            </td>
            <td class="sCell">MW03&nbsp;</td>
            <td class="sCell">1/4/2016</td>
            <td class="sCell">5/4/2016</td>
            <td class="sCell">Open&nbsp;</td>
        </tr>
    </tbody>
</table>-->
