@model MWMS2.Areas.Registration.Models.Fn01Search_CNVSearchModel


<div class="panelHeader">Search Conviction</div>

<div id="searchCriteria">

    <div class="w3-row">
        <div class="w3-col l6 m6 s12" style="font-size:50%;">1. Fields marked * are required.   2. Dates must be in the format dd/mm/yyyy. </div>
        <div class="w3-col l6 m6 s12" style="text-align:right;">Last Updated:   25/01/2017 11:54 AM </div>
    </div>



    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Company Name (Eng) :.*</div>
            <div class="w3-col l9 m6 s12"><input type="text" /></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Company Name (Chn) :</div>
            <div class="w3-col l9 m6 s12"><input type="text" /></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Proprietor Name :</div>
            <div class="w3-col l9 m6 s12"><input type="text" /></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">BR Number :</div>
            <div class="w3-col l9 m6 s12"><input type="text" /></div>
        </div>
    </div>


    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Reference :</div>
            <div class="w3-col l9 m6 s12"><input type="text" /></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Company Type :</div>
            <div class="w3-col l9 m6 s12">
                <select>
                    <option>Individual</option>
                    <option>Company</option>
                </select>
            </div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Site Description :</div>
            <div class="w3-col l9 m6 s12"><textarea class="w3-col l9 m6 s12" rows="3" cols="50"></textarea></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Source :</div>
            <div class="w3-col l9 m6 s12"><input type="text" /></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Remarks :</div>
            <div class="w3-col l9 m6 s12"><textarea class="w3-col l9 m6 s12" rows="3" cols="50"></textarea></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Record Type :</div>
            <div class="w3-col l9 m6 s12">
                <input type="radio" name="RecordType" value="Conviction Record">   Conviction Record
                <input type="radio" name="RecordType" value="Suspension/Removal Record">   Suspension/Removal Record
                <input type="radio" name="RecordType" value="Suspension/Removal Record">   Disciplinary Action
                <input type="radio" name="RecordType" value="Suspension/Removal Record">   Miscellaneous
            </div>
        </div>
    </div>



    <div class="panelHeader">Conviction Record :</div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Section of Ordinances/Regulation :</div>
            <div class="w3-col l9 m6 s12"><input type="text" /></div>
        </div>
    </div>

    <div class="w3-row">

        <div class="w3-col l6 m6 s12">
            <div class="w3-col l6 m12 s12">Date of Offence :</div>
            <div class="w3-col l6 m12 s12">
                @Html.TextBoxFor(model => model.Date, new { @class = "inputDate" })
            </div>
        </div>
        <div class="w3-col l6 m6 s12">
            <div class="w3-col l6 m12 s12">Date of Judgement :</div>
            <div class="w3-col l6 m12 s12">
                @Html.TextBoxFor(model => model.DateFrom, new { @class = "inputDate" })
            </div>
        </div>

    </div>

    <div class="w3-row">

        <div class="w3-col l6 m6 s12">
            <div class="w3-col l6 m12 s12">Fine :</div>
            <div class="w3-col l6 m12 s12"><input type="text" /></div>
        </div>
        <div class="w3-col l3 m6 s12">
            <div class="w3-col l6 m6 s12">Accident: </div>
            <div class="w3-col l6 m6 s12">
                <select>
                    <option>YES</option>
                    <option>NO</option>
                </select>
            </div>
        </div>
        <div class="w3-col l3 m6 s12">
            <div class="w3-col l6 m6 s12">Fatal: </div>
            <div class="w3-col l6 m6 s12">
                <select>
                    <option>YES</option>
                    <option>NO</option>
                </select>
            </div>
        </div>

    </div>



    <div class="w3-row">
        <div class="w3-col l12 m12 s12" style="text-align:right;"> <input style="text-align:right;" type="checkbox" />This record must be shown on report </div>
    </div>

    <div class="w3-row">
        <div></div>
    </div>


    <div class="panelHeader">Suspension/Removal Record :</div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Action :</div>
            <div class="w3-col l9 m6 s12"><input type="text" /></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l6 m6 s12">
            <div class="w3-col l6 m12 s12">Effective Date :</div>
            <div class="w3-col l6 m12 s12"><input type="text" /></div>
        </div>
        <div class="w3-col l6 m6 s12">
            <div class="w3-col l6 m12 s12">Date of Approval :</div>
            <div class="w3-col l6 m12 s12"><input type="text" /></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l6 m6 s12">
            <div class="w3-col l6 m12 s12">Suspension Date : </div>
            <div class="w3-col l6 m12 s12">
                @Html.TextBoxFor(model => model.DateFrom, new { @class = "inputDate" })
                &nbsp;to&nbsp; @Html.TextBoxFor(model => model.DateTo, new { @class = "inputDate" })
            </div>
        </div>

        <div class="w3-col l6 m6 s12">
            <div class="w3-col l6 m12 s12">Category :</div>
            <div class="w3-col l6 m12 s12"><input type="text" /></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Details :</div>
            <div class="w3-col l9 m6 s12"><textarea class="w3-col l9 m6 s12" rows="3" cols="50"></textarea></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12" style="text-align:right;"> <input style="text-align:right;" type="checkbox" />This record must be shown on report </div>
    </div>


    <div class="panelHeader">Disciplinary Action :</div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Date of Decision :</div>
            <div class="w3-col l9 m6 s12"><input type="text" /></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Details :</div>
            <div class="w3-col l9 m6 s12"><textarea class="w3-col l9 m6 s12" rows="3" cols="50"></textarea></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12" style="text-align:right;"> <input style="text-align:right;" type="checkbox" />This record must be shown on report </div>
    </div>

    <div class="panelHeader">Miscellaneous :</div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Receiving Date :</div>
            <div class="w3-col l9 m6 s12"><input type="text" /></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Details :</div>
            <div class="w3-col l9 m6 s12"><textarea class="w3-col l9 m6 s12" rows="3" cols="50"></textarea></div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12" style="text-align:right;"> <input style="text-align:right;" type="checkbox" />This record must be shown on report </div>
    </div>


    <div class="w3-container footer">
        <button class="searchButton btn btn-default" type="button"><i class="fa fa-arrow-left"></i> Back </button>
    </div>
</div>

<script type="text/javascript">
    domReady(function () {
        loadResultTable({
            searchPath: "Search"
            , exportPath: "Excel"
            , searchTable: "searchCriteria"
            , resultPanel: "resultPanel"
            , Columns: [
                {
                    displayName: "File Reference", columnName: "FILE_REFERENCE_NO"
                    , click: function (row) { alert("Clicked File Reference No.  : " + row.FILE_REFERENCE_NO); alert("Clicked UUID  : " + row.UUID); }
                    , click: function (row) {
                        if (row == null) return;
                        alert("Clicked File Reference No. : " + row.FILE_REFERENCE_NO);
                        console.log(row);
                    }
                }
                , { displayName: "HKID", columnName: "HKID" }
                , { displayName: "Name", columnName: "NAME" }
                , { displayName: "Chines Name", columnName: "CHINESE_NAME" }
            ]
        });
    });
</script>