


<table class="inputTable" id="PEM701Table" >
	<thead>
			<tr>
				<th colspan="2">Search Criteria</th>
			</tr>
	</thead>
		<tbody>
			<tr>
				<th width="25%">ICC No. :</th>
				<td class="fField" width="75%">
					<input class="inputText" type="text" id="iccNumber" name="iccNumber" value="" style="width: 120px">
				</td>
			</tr>

			<tr>
				<th>Type. :</th>
				<td class="fField">
					<select style="width:auto"id="iccType" name="iccType">

						<option value="Enquiry">Enquiry</option>

						<option value="Complaint">Complaint</option>

					</select>
				</td>
			</tr>

			<tr>
				<th>Assign  Ref. No. :</th>
				<td id="refNo" class="fField"></td>
			</tr>

			<tr>
				<th rowspan="2" valign="top">Assign  Officer. :</th>
			   <td class="fField" height="24">
						<label>
							<input class="inputRadio" type="radio" id="idType" name="iccAssignedOfficerType" value="A" checked="checked">
						</label>
						Automatic
				</td>
			</tr>

			<tr>
				<td class="fField" height="29">
						<input class="inputRadio" type="radio" id="idType" name="iccAssignedOfficerType" value="M">
						Manual
						<select style="width:auto"id="iccAssignedOfficerID" name="iccAssignedOfficerID">
							<option value=""></option>

							<option value="SEMW5@bd.gov.hk">SEMW5</option>

							<option value="BSMW6@bd.gov.hk">BSMW6</option>

							<option value="BSMW3@bd.gov.hk">BSMW3</option>

							<option value="BSMW4@bd.gov.hk">BSMW4</option>

							<option value="SEMW4@bd.gov.hk">SEMW4</option>

							<option value="SEMW3@bd.gov.hk">SEMW3</option>

							<option value="SEMW2@bd.gov.hk">SEMW2</option>

							<option value="BSMW2@bd.gov.hk">BSMW2</option>

							<option value="BSMW1@bd.gov.hk">BSMW1</option>

							<option value="SEMW1@bd.gov.hk">SEMW1</option>

						</select>
				</td>
			</tr>
		</tbody>
		
	<tfoot><tr><td colspan="2"><input type="submit" class="btn  btn-sm"  value="Submit"/></td></tr></tfoot>
	</table>

<div class="right">
	
</div>