@model MWMS2.Areas.MWProcessing.Models.Fn02MWUR_GEModel

<form id="inputForm">
    <div>
        @Html.Partial("~/Areas/MWProcessing/Views/GenerateEntry/generalEntryInfo.cshtml")
    </div>

    <div>
        @Html.Partial("~/Areas/MWProcessing/Views/GenerateEntry/detailOfDocument.cshtml")
    </div>

    <div>
        @Html.Partial("~/Areas/MWProcessing/Views/GenerateEntry/generalEntryButtons.cshtml")
    </div>
</form>