
                                <table id="Table10" class="inputTable">
                                    <tbody>
                                        <tr>
                                            <th>File Reference :</th>
                                            <td colspan="3">
                                                <input type="text" name="displayFileNumber" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" id="displayFileNumber" style="width:170px;" class="inputText">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Company Name :</th>
                                            <td colspan="3">
                                                <input type="text" name="displayCompanyName" maxlength="150" value="a" onkeydown="enterToSubmit(searchForm, this, event)" id="displayCompanyName" style="width:570px;" class="inputText">
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4">
                                                <input type="button" name="btnSearch" onclick="searchForm()" value="Search">
                                            </td>

                                        </tr>
                                    </tfoot>
                                </table>

                <br>










                
                <table id="CRMHideDiv" class="resultTable hide">
                    <thead>
                        <tr class="grid-header" style="height:19px;">
                            <th>&nbsp;</th>
                            <th nowrap="nowrap"><a href="javascript:setSort('file_reference_no', 'asc', 'file_reference_no')">File Ref.</a></th>
                            <th><a href="javascript:setSort('company_name', 'asc', 'file_reference_no')">Company Name</a></th>
                            <th><a href="javascript:setSort('candidate_name', 'asc', 'file_reference_no')">Candidate Name</a></th>
                            <th nowrap="nowrap"><a href="javascript:setSort('received_date', 'asc', 'file_reference_no')">Received Date</a></th>
                            <th><a href="javascript:setSort('application_type', 'asc', 'file_reference_no')">Type of <br>Application</a></th>
                            <th><a href="javascript:setSort('role', 'asc', 'file_reference_no')">Role</a></th>
                            <th><a href="javascript:setSort('under_monitor', 'asc', 'file_reference_no')">Under <br> Monitor</a></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="grid-alt-item">

                            <td><a href='javascript:loadContentPage("CRM0406a")'>EDIT</a></td>
                            <td nowrap="nowrap">MWC 1/2010</td>
                            <td>WAH xx ELECTRIC &amp; WATER CO</td>
                            <td nowrap="nowrap">LAM xx xx</td>
                            <td nowrap="nowrap">31/10/2016</td>
                            <td>BA25A</td>
                            <td>AS</td>
                            <td>Yes</td>
                        </tr>

                        <tr>

                            <td><a href='javascript:loadContentPage("CRM0406a")'>EDIT</a></td>
                            <td nowrap="nowrap">MWC 1/2010</td>
                            <td>WAH xx ELECTRIC &amp; WATER CO</td>
                            <td nowrap="nowrap">LAM xx xx</td>
                            <td nowrap="nowrap">22/10/2013</td>
                            <td>BA25A</td>
                            <td>AS</td>
                            <td>Yes</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td><a href='javascript:loadContentPage("CRM0406a")'>EDIT</a></td>
                            <td nowrap="nowrap">MWC 1/2010</td>
                            <td>WAH xx ELECTRIC &amp; WATER CO</td>
                            <td nowrap="nowrap">LAM xx xx</td>
                            <td nowrap="nowrap">17/10/2011</td>
                            <td>BA25C</td>
                            <td>AS</td>
                            <td>Yes</td>
                        </tr>

                        <tr>

                            <td><a href='javascript:loadContentPage("CRM0406a")'>EDIT</a></td>
                            <td nowrap="nowrap">MWC 1/2010</td>
                            <td>WAH xx ELECTRIC &amp; WATER CO</td>
                            <td nowrap="nowrap">LAM xx xx</td>
                            <td nowrap="nowrap">01/03/2011</td>
                            <td>BA25C</td>
                            <td>AS</td>
                            <td>Yes</td>
                        </tr>

                     

                        <tr>

                            <td><a href='javascript:loadContentPage("CRM0406a")'>EDIT</a></td>
                            <td nowrap="nowrap">MWC 1/2012</td>
                            <td>xx ENGINEERING COMPANY</td>
                            <td nowrap="nowrap">KEUNG xx xx </td>
                            <td nowrap="nowrap">03/01/2012</td>
                            <td>BA25</td>
                            <td>AS</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                    </tbody>
                </table>
                    </div>






