
                                <table class="inputTable">
                                    <tbody>
                                        <tr>
                                            <th style="WIDTH: 114px">Year :</th>

                                            <td>
                                               <select style="width:auto"name="searchYear" id="searchYear">
                                                    <option value="">- All -</option>

                                                    <option value="2019">2019</option>

                                                    <option value="2018">2018</option>

                                                    <option value="2017">2017</option>

                                                    <option value="2016">2016</option>

                                                    <option value="2015">2015</option>

                                                    <option value="2014">2014</option>

                                                    <option value="2013">2013</option>

                                                    <option value="2012">2012</option>

                                                    <option value="2011">2011</option>

                                                    <option value="2010">2010</option>

                                                    <option value="2009">2009</option>

                                                    <option value="2008">2008</option>
                                                </select>
                                            </td>
                                            <th >Date :</th>


                                            <td>
                                                from
                                                <input name="searchInterviewDate" value="" onblur="checkDate(this)" id="searchInterviewDate" class="inputDate" type="text">
                                                <span id="err_searchInterviewDate" class="err" style="color:Red;display:none;">Invalid date</span>
                                                to
                                                <input name="searchInterviewDateTo" value="" onblur="checkDate(this)" id="searchInterviewDateTo" class="inputDate" type="text">
                                                <span id="err_searchInterviewDateTo" class="err" style="color:Red;display:none;">Invalid date</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Group :</th>


                                            <td>
                                               <select style="width:auto"name="searchGroup" id="searchGroup">
                                                    <option value="">- All -</option>

                                                    <option value="A">A</option>

                                                    <option value="B">B</option>

                                                    <option value="C">C</option>

                                                    <option value="D">D</option>

                                                    <option value="E">E</option>

                                                    <option value="F">F</option>

                                                    <option value="G">G</option>

                                                    <option value="H">H</option>

                                                    <option value="I">I</option>

                                                    <option value="J">J</option>

                                                    <option value="K">K</option>

                                                    <option value="L">L</option>

                                                    <option value="M">M</option>

                                                    <option value="N">N</option>

                                                    <option value="O">O</option>

                                                    <option value="P">P</option>

                                                    <option value="Q">Q</option>

                                                    <option value="R">R</option>

                                                    <option value="S">S</option>

                                                    <option value="T">T</option>

                                                    <option value="U">U</option>

                                                    <option value="V">V</option>

                                                    <option value="W">W</option>

                                                    <option value="X">X</option>

                                                    <option value="Y">Y</option>

                                                    <option value="Z">Z</option>
                                                </select>
                                            </td>
                                            <th>Type :</th>
                                            <td>
                                               <select style="width:auto"name="searchType" id="searchType">
                                                    <option value="">- All -</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a250005">SERC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a250006">GERC</option>
                                                    <option value="8a8593493290225f0132902b644e0003">IRC</option>
                                                    <option value="8a85932a25bfa01a0125bfa01a35000f">APRC</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Surname. :</th>
                                            <td >
                                                <input name="searchCandidateSurname" maxlength="10" value="" onkeydown="enterToSubmit(searchReserved, this, event)" class="inputDate" type="text">
                                            </td>
                                            <th>Given Name. :</th>
                                            <td >
                                                <input name="searchCandidateGivenName" maxlength="10" value="" onkeydown="enterToSubmit(searchReserved, this, event)" class="inputDate" type="text">
                                            </td>

                                        </tr>
                                        <tr>
                                            <th >File Reference :</th>
                                            <td>
                                                <input name="searchFileReference" maxlength="20" value="" onkeydown="enterToSubmit(searchReserved, this, event)" style="width:169px;" class="inputText" type="text">
                                            </td>
                                            <td style="WIDTH: 114px"></td>
                                            <td ></td>
                                        </tr>
                                        <tr>
                                            <th style="WIDTH: 114px">Interview / Assessment&nbsp; No. :</th>
                                            <td colspan="3">
                                                <input name="searchInterviewNo" maxlength="30" value="" onkeydown="enterToSubmit(searchReserved, this, event)" onkeypress="return onKeyPressOnlyNumbers(event);" class="inputDate" type="text">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="WIDTH: 114px">HKID  :</th>
                                            <td colspan="1"><input name="searchIDNumber" maxlength="30" value="" onkeydown="enterToSubmit(searchReserved, this, event)" style="width:88px;" class="inputText" type="text"></td>

                                            <th style="WIDTH: 114px">Passport No. :</th>
                                            <td colspan="1"><input name="searchPassport" maxlength="30" value="" onkeydown="enterToSubmit(searchReserved, this, event)" style="width:88px;" class="inputText" type="text"></td>

                                        </tr>
                                    </tbody><tfoot>
    <tr>
        <td colspan="4"><input name="btnSearch" value="Search" onclick="searchForm(); " id="btnSearch" accesskey="S"  type="button"></td>


</tr>
</tfoot>
                                </table>
                 
                <br>
          



                <table id="CRMHideDiv" class="resultTable hide">
                    <thead>
                        <tr class="grid-header" style="height:19px;">
                            <th style="width:120px;" nowrap="nowrap">
                                Interview Date
                            </th>
                            <th>                 Interview /<br>Assessment No</th>
                            <th>     Type</th>
                            <th>     Name</th>
                            <th>     Role</th>
                            <th>         Result Date</th>
                            <th>     Result</th>
                            <th>     Absent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                <a href='javascript:loadContentPage("CRM0313a")'>
                                    09/12/2013 02:15 PM
                                </a>
                            </td>
                            <td>2013-16251-MWCRC</td>
                            <td>Interview</td>
                            <td>LAU xx xx</td>
                            <td>MWC(W)</td>
                            <td></td>
                            <td></td>
                            <td>No</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td>
                                <a href='javascript:loadContentPage("CRM0313a")'>
                                    23/01/2014 09:15 AM
                                </a>
                            </td>
                            <td>2014-16407-SERC</td>
                            <td>Interview</td>
                            <td>NG xx xx</td>
                            <td>RSE</td>
                            <td></td>
                            <td></td>
                            <td>No</td>
                        </tr>

                        <tr>

                            <td><a href='javascript:loadContentPage("CRM0313a")'>20/02/2014 02:15 PM</a></td>
                            <td>2014-16390-MWCRC</td>
                            <td>Interview</td>
                            <td>LAI xx xx</td>
                            <td>MWC(W)</td>
                            <td>19/05/2014</td>
                            <td>ACCEPTED</td>
                            <td>No</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td><a href='javascript:loadContentPage("CRM0313a")'>20/02/2014 02:35 PM</a></td>
                            <td>2014-16391-MWCRC</td>
                            <td>Interview</td>
                            <td>WONG xx xx</td>
                            <td>MWC(W)</td>
                            <td>19/05/2014</td>
                            <td>ACCEPTED</td>
                            <td>No</td>
                        </tr>

                    



                    </tbody>
                </table>
</div>
