<div id="searchContent">
    <div id="pnlCompName" style="display: none;">
    </div>

    <div id="pnlInfoSheet" style="display: none;">

        <form name="reportForm" id="pnlInfoSheetForm" method="post" action="/Registration/report.do">
            <input type="hidden" name="REPORT_NAME" value="no_of_conviction_CGC">
            <input type="hidden" name="reg_type" value="CMW">
            <input type="hidden" name="today" value="21/11/2018">
           
                            <table id="Table3" class="inputTable">
                                <tbody>
                                    <tr> </tr>
                                    <tr>
                                        <th>BR No. :</th>
                                        <td>
                                            <input name="txtBRNo" type="text" maxlength="8" id="txtBRNo" style="width:123px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Company Name :</th>
                                        <td>
                                            <input name="txtCompany" type="text" maxlength="150" id="txtCompany" style="width:560px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>
                                            <input id="chkKeywordSrch" type="checkbox" name="chkKeywordSrch">
                                            <label for="chkKeywordSrch">Keyword Search</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Ordinance/Regulation :</th
>
                                        <td>
                                            <input name="txtSection" type="text" maxlength="20" id="txtSection" style="width:151px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Suspension Reason :</th>
                                        <td>
                                            <input name="txtSuspReason" type="text" maxlength="100" id="txtSuspReason" style="width:448px;">
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Date of Offence :</th>
                                        <td>
                                            from &nbsp;

                                            <input type="text" name="offence_fr_date" value="" id="offence_fr_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_offence_fr_date" class="err" style="color:Red;display:none;">Invalid date</span>
                                            &nbsp;to&nbsp;
                                            <input type="text" name="offence_to_date" value="" id="offence_to_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_offence_to_date" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date of Judgement :</th>
                                        <td>
                                            from &nbsp;

                                            <input type="text" name="judge_fr_date" value="" id="judge_fr_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_judge_fr_date" class="err" style="color:Red;display:none;">Invalid date</span>
                                            &nbsp;to&nbsp;
                                            <input type="text" name="judge_to_date" value="" id="judge_to_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_judge_to_date" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>

                                    <tr>

                                        <th>Conviction Source :</th>
                                        <td>
                                            <select style="width:auto"name="idConvSource" id="idConvSource" style="width:96px;">
                                                <option selected="selected" value="">- Select -</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b0000">HA</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b0001">PWD1</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b0002">PWD2</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b0003">PWD3</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b0004">LD</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b0005">FEHD</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b0006">BD</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b0007">FSD</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b0008">ASD</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b0009">BD(CONVT)</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b000a">BD(DIS)</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b000b">EPD</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b000c">DEVB</option>
                                                <option value="8a85932a25bf9a7e0125bf9a7e5b000d">WSD</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>
                                            <input id="chkPrintMustShowRecords" type="checkbox" name="chkPrintMustShowRecords" checked="checked">
                                            <label for="chkPrintMustShowRecords">Print Records Which Must Be Shown on Report</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="FONT-SIZE: 5px" colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img id="Image1" src="images/form.gif" alt="" border="0">
                                            <a id="lbtnConvictCover" href="javascript:submitPnlInfoExportConvictionCover()">Conviction Records (Cover)</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img src="images/print.gif">&nbsp;
                                            <a id="btnConvictList" href="javascript:submitPnlInfoSheetExportConviction()">Export Conviction Records</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img src="images/print.gif">&nbsp;
                                            <a id="btnNoOfCvt" href="javascript:submitPnlInfoSheet()">  Number of Convictions Based on Date of Offence</a>
                                        </td>
                                    </tr>
                                    <tr> </tr>
                                </tbody>
                            </table>
       

        </form>
    </div>
    <br>
    <!--   	*************************************************************** -->
    <!--   	end Information Sheet of Contractors' Performance Records ...		-->
    <!--   	*************************************************************** -->
    <!--   	*************************************************************** -->
    <!--  start 	Gazette Memo & Notices ...		-->
    <!--   	*************************************************************** -->
    <br>
    <img src="images/expand.gif">&nbsp; <a id="btnGaz" href="javascript:showSearchForm(2)"> Gazette Memo &amp; Notices ...</a>
    <div id="pnlGaz" style="display: none;">


        <form name="reportForm" id="pnlGazForm" method="post" action="/Registration/report.do">
            <input type="hidden" name="REPORT_NAME" value="RPT0010b_a2_CGC">
            <input type="hidden" name="reg_type" value="CMW">
            <input type="hidden" name="reportType" value="pdf">
            <input type="hidden" name="today" value="21/11/2018">

          
                            <table id="Table6" class="inputTable">
                                <tbody>
                                    <tr> </tr>
                                    <tr>
                                        <th class="ParamLabelCell">Date of Gazette :</th>
                                        <td class="ParamEntryCell">
                                            <input type="text" name="gaz_date" value="" id="gaz_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_gaz_date" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Category :</th>
                                        <td>
                                            <select style="width:auto"name="cat_gp" id="cat_gp" style="width:216px;">
                                                <option value="MWC">MWC</option>
                                                <option value="MWC(P)">MWC(P)</option>
                                            </select>
                                            &nbsp; <span style="FONT-SIZE: 7pt; COLOR: dimgray">
                                                (for Export
                                                Memo)
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Signature Name :</th>
                                        <td>
                                            <select style="width:auto"name="auth_uuid" id="auth_uuid" style="width:408px;">
                                                <option selected="selected" value="">- Select Authority -</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b000a">CHAN Suk-yin (for Chief Officer / Technical Services)</option>
                                                <option value="8a8591a227aa2b4e0127dbe2afb87f61">CHAU Kwai-fong Frankie (Structural Engineer / Registration)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0013">CHENG Wai-yee (Building Surveyor / Registration)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0014">CHEUNG Lai Sze (Building Surveyor / Registration)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0011">CHEUNG Tin-cheung (Director of Buildings)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0015">HA Chun-lung (Building Surveyor / Registration)</option>
                                                <option value="8a8591a2321f7a8e01324d6984f91ab7">KONG Yuk-yin Kristy (Structural Engineer / Registration)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0002">LAI Shui-piu (Structural Engineer / Registration)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b000e">LAI Shuk-mei (for Chief Officer / Technical Services)</option>
                                                <option value="8a8591a23a728b5d013ab50ccf823a6a">LAM Kin-ching (Structural Engineer / Registration)</option>
                                                <option value="8a8591a22da30f20012db5ba62f12388">LAU Wing-hung Otto (Structural Engineer / Registration)</option>
                                                <option value="8a8591a25501306b01554dd6b6ea270d">LEUNG Chi-keung (Structural Engineer / Registration)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d2b0000">LEUNG Sham-yee, Wendy (Senior Professional Officer / Registration)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0005">LO Lai-sim Cindy (for Chief Officer / Technical Services)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0003">MAK Wan-ching (for Chief Officer / Technical Services)</option>
                                                <option value="8a8591a25ad1829f015af9273dc15031">TEE Lee-wai (Building Surveyor / Registration)</option>
                                                <option value="8a8591a2314c2def0131bb86d3850bbc">WONG Ka-yan (for Chief Officer / Technical Support)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0012">YEUNG Chun-wing (Structural Engineer / Registration)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0010">YU Tak-Cheung (Deputy Director of Buildings)</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0001">YU Wing-wah (Building Surveyor / Registration)</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Acting :</th>
                                        <td>
                                            <select style="width:auto"name="acting" id="acting" style="width:58px;">
                                                <option selected="selected" value="0">No</option>
                                                <option value="1">Yes</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="FONT-SIZE: 5px" colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img src="images/form.gif">&nbsp;
                                            <a id="btnGazMemo3b1" href="javascript:exportMMD0003b_1()">Export Memo (MMD0003b_1)</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img src="images/form.gif">&nbsp;
                                            <a id="lbtnGazWeekly" href="javascript:exportMMD0003b_4()">Export Weekly Notice (MMD0003b_4)</a>&nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img src="images/print.gif">&nbsp;
                                            <a id="btnRPT0010b_a2" href="javascript:submitRPT0010b_a2()">Print Annual Notice (RPT0010b_a2)</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img src="images/print.gif">&nbsp;
                                            <a id="lbtnGazetteEng" href="javascript:popupWind('report.do?method=LoadReport&amp;popReport=Load_MWC_annual_gazette_ENG')">Annual Gazette List (Eng)</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img src="images/print.gif">&nbsp;
                                            <a id="lbtnGazetteChn" href="javascript:popupWind('report.do?method=LoadReport&amp;popReport=Load_MWC_annual_gazette_CHN')">Annual Gazette List (Chn)</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
              
        </form>
    </div>
    <br>
    <!--   	*************************************************************** -->
    <!--  end 	Gazette Memo & Notices ...		-->
    <!--   	*************************************************************** -->
    <!--   	*************************************************************** -->
    <!--  start 	Label ...		-->
    <!--   	*************************************************************** -->

    <br>
    <img src="images/expand.gif">&nbsp; <a id="lbtnLabel" href="javascript:showSearchForm(3)">Label ...</a>
    <div id="pnlLabel" style="display: none;">
        <form name="reportForm" id="pnlLabelForm" method="post" action="/Registration/report.do">

            <input type="hidden" name="REPORT_NAME" value="RPT0010b_a2_CGC">
            <input type="hidden" name="reg_type" value="CMW">
            <input type="hidden" name="today" value="21/11/2018">

           
                            <table class="inputTable">
                                <tbody>
                                    <tr> </tr>
                                    <tr>
                                        <th>File reference :</th>
                                        <td><input name="txtFileRef" type="text" maxlength="20" id="txtFileRef"></td>
                                    </tr>
                                    <tr>
                                        <th>Date of Gazette :</th>
                                        <td>
                                            from &nbsp;
                                            <input type="text" name="gaz_fr_date" value="" id="gaz_fr_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_gaz_fr_date" class="err" style="color:Red;display:none;">Invalid date</span>
                                            &nbsp;to&nbsp;
                                            <input type="text" name="gaz_to_date" value="" id="gaz_to_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_gaz_to_date" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date of Expiry :</th>
                                        <td>
                                            from &nbsp;
                                            <input type="text" name="expiry_fr_date" value="" id="expiry_fr_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_expiry_fr_date" class="err" style="color:Red;display:none;">Invalid date</span>
                                            &nbsp;to&nbsp;
                                            <input type="text" name="expiry_to_date" value="" id="expiry_to_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_expiry_to_date" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>PN :</th>
                                        <td>
                                            <select style="width:auto"name="ddPNRCUUID" id="ddPNRCUUID">
                                                <option selected="selected" value="">ALL</option>
                                                <option value="8a8591a23832afa201384fdfebf435e9">BY SMS</option>
                                                <option value="8a85932a25bf9e120125bf9e12bc0003">BY EMAIL</option>
                                                <option value="8a8591a23832afa201384fe0187035ea">NOT WISH</option>
                                                <option value="8a85932a25bf9e120125bf9e12bc0004">N/A</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Category Code :</th>
                                        <td>
                                            <select style="width:auto"name="ddCtrUUID" id="ddCtrUUID">
                                                <option selected="selected" value="">ALL</option>
                                                <option value="8a85934725d309310125d31229140003">Registered Minor Works Contractors (Company)</option>
                                                <option value="8a85934725d309310125d312ac4e0004">Registered Minor Works Contractors (Provisional)</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Company Name :</th>
                                        <td><input name="txtCompName" type="text" maxlength="150" id="txtCompName" style="width:400px;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <input id="chkExpiryDate" type="checkbox" name="chkExpiryDate">
                                            <label for="chkExpiryDate">Check Expiry Date (Active File Reference)</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img src="images/form.gif">&nbsp;
                                            <a id="lbtnExportLabel" href="javascript:exportLabelTwo()"> Export Label (2Label.doc for 2 columns)</a>&nbsp;&nbsp;
                                            Start at: Columns&nbsp;
                                            <select style="width:auto"name="dd2Cols" id="dd2Cols">
                                                <option selected="selected" value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                            &nbsp;,Rows&nbsp;
                                            <select style="width:auto"name="dd2Rows" id="dd2Rows">
                                                <option selected="selected" value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img src="images/form.gif">&nbsp;
                                            <a id="lbtnExportLabel2" href="javascript:exportLabelThree()">Export Label (3Label.doc for 3 columns)</a>&nbsp;&nbsp;
                                            Start at: Columns&nbsp;
                                            <select style="width:auto"name="dd3Cols" id="dd3Cols">
                                                <option selected="selected" value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                            &nbsp;,Rows&nbsp;
                                            <select style="width:auto"name="dd3Rows" id="dd3Rows">
                                                <option selected="selected" value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!--   	*************************************************************** -->
    <!--  end 	Label ...		-->
    <!--   	*************************************************************** -->
    <!--   	*************************************************************** -->
    <!--  Start 	Label (for Interview Schedule) ...		-->
    <!--   	*************************************************************** -->

    <br>
    <br>
    <img src="images/expand.gif">&nbsp; <a id="lbtnInterview" href="javascript:showSearchForm(4)">Label (for Interview Schedule) ...</a>
    <div id="pnlInterview" style="display: none;">

        <form name="reportForm" id="pnlLabelInterviewForm" method="post" action="/Registration/report.do">
            <input type="hidden" name="REPORT_NAME" value="RPT0010b_a2_CGC">
            <input type="hidden" name="reg_type" value="CMW">
            <input type="hidden" name="today" value="21/11/2018">



            
                            <table class="inputTable">
                                <tbody>
                                    <tr>
                                        <th><span id="Label1">Meeting Group :</span></th>
                                        <td>
                                            <select style="width:auto"name="meetingGroupUUID" id="meetingGroupUUID"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span id="Label2">Type of People :</span></th>
                                        <td>
                                            <select style="width:auto"name="exportType" id="exportType">
                                                <option selected="selected" value="0">ALL</option>
                                                <option value="1">Interviewers</option>
                                                <option value="2">Interviewees</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img src="images/form.gif">&nbsp;
                                            <a id="lbtnExportInterview" href="javascript:exportLabelTwoInterview()">Export Label (2Label.doc for 2 columns)</a>&nbsp;&nbsp;
                                            Start at: Columns&nbsp;
                                            <select style="width:auto"name="dd2ColsInterview" id="dd2ColsInterview">
                                                <option selected="selected" value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                            &nbsp;,Rows&nbsp;
                                            <select style="width:auto"name="dd2RowsInterview" id="dd2RowsInterview">
                                                <option selected="selected" value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img src="images/form.gif">&nbsp;
                                            <a id="lbtnExportInterview2" href="javascript:exportLabelThreeInterview()">Export Label (3Label.doc for 3 columns)</a>&nbsp;&nbsp;

                                            Start at: Columns&nbsp;
                                            <select style="width:auto"name="dd3ColsInterview" id="dd3ColsInterview">
                                                <option selected="selected" value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                            &nbsp;,Rows&nbsp;
                                            <select style="width:auto"name="dd3RowsInterview" id="dd3RowsInterview">
                                                <option selected="selected" value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

        </form>

    </div>
    <!--   	*************************************************************** -->
    <!--  end 	Label (for Interview Schedule) ...		-->
    <!--   	*************************************************************** -->
    <!--   	*************************************************************** -->
    <!--  start Monitor Reports  ...		-->
    <!--   	*************************************************************** -->

    <br>
    <br>
    <img src="images/expand.gif">&nbsp; <a id="Linkbutton2" href="javascript:showSearchForm(5)">Monitor Reports ...</a>
    <div id="pnlMonitor" style="display: none;">
        <form name="reportForm" id="pnlMonitorForm" method="post" action="/Registration/report.do">
            <input type="hidden" name="registrationType" value="CMW" id="registrationType">

            <input type="hidden" name="REPORT_NAME" value="process_monitor_CGC">
            <input type="hidden" name="reportType" value="pdf">
            <input type="hidden" name="reg_type" value="CMW">
            <input type="hidden" name="today" value="21/11/2018">

            <table class="inputTable">
                <tbody>
                    <tr>
                        <td>
                            <img src="images/print.gif">&nbsp;
                            <a id="btnAppControlForm" href="javascript:submitProcessMonitor()">MW Company Monitor Reports</a>
                        </td>
                        <td valign="top">
                            <select style="width:auto"name="pmon_type" id="pmon_type">
                                <option value="F">Full Report</option>
                                <option value="C">Complete Cases only</option>
                                <option value="I">Incomplete Cases only</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="images/print.gif">&nbsp;
                            <a id="btnAppMonitor" href="javascript:popupWind('report.do?method=LoadReport&amp;popReport=Load_MWC_applicants_mon&amp;registrationType=CMW')">Applicants Monitor</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="images/print.gif">&nbsp;
                            <a id="Linkbutton3" href="javascript:submit10dayPledge()">10-Day Pledge of MW Company Application</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="images/print.gif">&nbsp;
                            <a id="Linkbutton5" href="javascript:submitFastTrack()">Monitor on Fast-Track Processing</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <br>

    <!--   	*************************************************************** -->
    <!--  end Monitor Reports  ...		-->
    <!--   	*************************************************************** -->
    <!--   	*************************************************************** -->
    <!--  start Administrative Reports  ...		-->
    <!--   	*************************************************************** -->
    <br>
    <img src="images/expand.gif">&nbsp; <a id="Linkbutton2" href="javascript:showSearchForm(6)">Administrative Reports ...</a>
    <div id="pnlAdminReports" style="display: none;">

        <form name="reportForm" id="pnlAdminReportsForm" method="post" action="/Registration/report.do">
            <input type="hidden" name="REPORT_NAME" value="admin_rpt_panel_type">
            <input type="hidden" name="REPORT_TYPE" value="pdf">
            <input type="hidden" name="reg_type" value="MW">
            <input type="hidden" name="panel_type_code" value="MWCRC">
            <input type="hidden" name="today" value="21/11/2018">
            <table class="inputTable">
                <tbody>
                    <tr>
                        <td><img src="images/print.gif">&nbsp; <a id="btnAdminReportsPnl" href="javascript:submitAdminReportsPnl()">Minor Work Contractors Registration Committee Panel </a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <br>

    <!--   	*************************************************************** -->
    <!--  start Export MWC Information  ...		-->
    <!--   	*************************************************************** -->
    <br>
    <img src="images/expand.gif">&nbsp; <a id="lbtnExportInfo" href="javascript:showSearchForm(7)">Export MWC information ...</a>

    <div id="pnlExpInfo" style="display: none;">
        <form name="reportForm" id="pnlExpInfoForm" method="post" action="/Registration/report.do">

            <input type="hidden" name="REPORT_NAME" value="export_MWC_information_MWC">
            <input type="hidden" name="reportType" value="CSV">
            <input type="hidden" name="reg_type" value="CMW">
            <input type="hidden" name="today" value="21/11/2018">

          
                            <table class="inputTable">
                                <tbody>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">File Reference :</th>
                                        <td valign="top"><input name="txtExpFileRef" type="text" id="txtExpFileRef"></td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Name of Contractor/AS/TD :</th>
                                        <td valign="top"><input name="txtExpNameOfContractor" type="text" id="txtExpNameOfContractor"></td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Application Status :</th>
                                        <td valign="top">

                                            <select style="width:auto"name="status_id" id="status_id" style="width:200px">
                                                <option selected="selected" value="">- ALL -</option>
                                                <option value="8a85932a25bf968e0125bf968ef80000">Active</option>
                                                <option value="8a85932a25bf968e0125bf968ef80001">Application in progress</option>
                                                <option value="8a85932a25bf968e0125bf968ef80003">Certificate prepared</option>
                                                <option value="8a85932a25bf968e0125bf968ef80006">Removed</option>
                                                <option value="8a85932a25bf968e0125bf968ef80007">Inactive</option>
                                                <option value="8a85932a25bf968e0125bf968ef80008">Withdrawn</option>
                                                <option value="8a8593a2607d43b301607d65d68a0001">test3162</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Highest Class :</th>
                                        <td valign="top">

                                            <select style="width:auto"name="mwClassId" id="mwClassId" style="width:200px">
                                                <option selected="selected" value="">- ALL -</option>
                                                <option value="Class 1">I</option>
                                                <option value="Class 2">II</option>
                                                <option value="Class 3">III</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Date of Approval :</th>
                                        <td valign="top">
                                            from&nbsp;
                                            <input name="txtExpApprovalDtFm" type="text" id="txtExpApprovalDtFm" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpApprovalDtFm" class="err" style="color:Red;display:none;">Invalid date</span>
                                            &nbsp;to&nbsp;
                                            <input name="txtExpApprovalDtTo" type="text" id="txtExpApprovalDtTo" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpApprovalDtTo" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Date of Registration :</th>
                                        <td valign="top">
                                            from&nbsp;
                                            <input name="txtExpRegDtFm" type="text" id="txtExpRegDtFm" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpRegDtFm" class="err" style="color:Red;display:none;">Invalid date</span>
                                            &nbsp;to&nbsp;
                                            <input name="txtExpRegDtTo" type="text" id="txtExpRegDtTo" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpRegDtTo" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Date of retention application submitted :</th>
                                        <td valign="top">
                                            from&nbsp;
                                            <input name="txtExpRetDtFm" type="text" id="txtExpRetDtFm" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpRetDtFm" class="err" style="color:Red;display:none;">Invalid date</span>
                                            &nbsp;to&nbsp;
                                            <input name="txtExpRetDtTo" type="text" id="txtExpRetDtTo" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpRetDtTo" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Date of restoration application submitted :</th>
                                        <td valign="top">
                                            from&nbsp;
                                            <input name="txtExpRestDtFm" type="text" id="txtExpRestDtFm" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpRestDtFm" class="err" style="color:Red;display:none;">Invalid date</span>
                                            &nbsp;to&nbsp;
                                            <input name="txtExpRestDtTo" type="text" id="txtExpRestDtTo" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpRestDtTo" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Date of Gazette :</th>
                                        <td valign="top">
                                            from&nbsp;
                                            <input name="txtExpGazDtFm" type="text" id="txtExpGazDtFm" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpGazDtFm" class="err" style="color:Red;display:none;">Invalid date</span>
                                            &nbsp;to&nbsp;
                                            <input name="txtExpGazDtTo" type="text" id="txtExpGazDtTo" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpGazDtTo" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Date of Expiry :</th>
                                        <td valign="top">
                                            from&nbsp;
                                            <input name="txtExpExpiryDtFm" type="text" id="txtExpExpiryDtFm" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpExpiryDtFm" class="err" style="color:Red;display:none;">Invalid date</span>
                                            &nbsp;to&nbsp;
                                            <input name="txtExpExpiryDtTo" type="text" id="txtExpExpiryDtTo" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpExpiryDtTo" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Period of Validity :</th>
                                        <td valign="top">
                                            <select style="width:auto"id="periodOfValidity" name="periodOfValidity" style="width:96px;">
                                                <option value="">- All -</option>
                                                <option value="8a85932a25bf9d8b0125bf9d8b3d0002">3</option>
                                                <option value="8a85932a25bf9d8b0125bf9d8b3d0004">5</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Removal Date :</th>
                                        <td valign="top">
                                            from&nbsp;
                                            <input name="txtExpRemovalDtFm" type="text" id="txtExpRemovalDtFm" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpRemovalDtFm" class="err" style="color:Red;display:none;">Invalid date</span>
                                            &nbsp;to&nbsp;
                                            <input name="txtExpRemovalDtTo" type="text" id="txtExpRemovalDtTo" class="inputText" maxlength="10" onblur="checkDate(this)">
                                            <span id="err_txtExpRemovalDtTo" class="err" style="color:Red;display:none;">Invalid date</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Authority Name :</th>
                                        <td valign="top">

                                            <select style="width:auto"name="auth_id" id="auth_id">
                                                <option selected="selected" value="">- Select Authority -</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b000a">CHAN Suk-yin</option>
                                                <option value="8a8591a227aa2b4e0127dbe2afb87f61">CHAU Kwai-fong Frankie</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0013">CHENG Wai-yee</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0014">CHEUNG Lai Sze</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0011">CHEUNG Tin-cheung</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0015">HA Chun-lung</option>
                                                <option value="8a8591a2321f7a8e01324d6984f91ab7">KONG Yuk-yin Kristy</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0002">LAI Shui-piu</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b000e">LAI Shuk-mei</option>
                                                <option value="8a8591a23a728b5d013ab50ccf823a6a">LAM Kin-ching</option>
                                                <option value="8a8591a22da30f20012db5ba62f12388">LAU Wing-hung Otto</option>
                                                <option value="8a8591a25501306b01554dd6b6ea270d">LEUNG Chi-keung</option>
                                                <option value="8a85932a25bfb05d0125bfb05d2b0000">LEUNG Sham-yee, Wendy</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0005">LO Lai-sim Cindy</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0003">MAK Wan-ching</option>
                                                <option value="8a8591a25ad1829f015af9273dc15031">TEE Lee-wai</option>
                                                <option value="8a8591a2314c2def0131bb86d3850bbc">WONG Ka-yan</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0012">YEUNG Chun-wing</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0010">YU Tak-Cheung</option>
                                                <option value="8a85932a25bfb05d0125bfb05d3b0001">YU Wing-wah</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">PNRC :</th>
                                        <td valign="top">

                                            <select style="width:auto"name="ddlExpPNRC" id="ddlExpPNRC">
                                                <option selected="selected" value="ALL">- ALL -</option>
                                                <option value="8a8591a23832afa201384fdfebf435e9">BY SMS</option>
                                                <option value="8a85932a25bf9e120125bf9e12bc0003">BY EMAIL</option>
                                                <option value="8a8591a23832afa201384fe0187035ea">NOT WISH</option>
                                                <option value="8a85932a25bf9e120125bf9e12bc0004">N/A</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="WIDTH: 150px" valign="top">Category Code :</th>
                                        <td valign="top">
                                            <select style="width:auto"name="ddlExpCatCode" id="ddlExpCatCode">
                                                <option selected="selected" value="ALL">- ALL -</option>
                                                <option value="8a85934725d309310125d31229140003">MWC</option>
                                                <option value="8a85934725d309310125d312ac4e0004">MWC(P)</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>Services of QP :</label>
                                        </th>
                                        <td>
                                            <select style="width:auto"id="willingnessQp" name="willingnessQp">
                                                <option value="">- ALL -</option>
                                                <option value="Y">Yes</option>
                                                <option value="N">No</option>
                                                <option value="I">No Indication</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label>Services in Fire Safety :</label>
                                        </th>
                                        <td>
                                            <select style="width:auto"id="interestedFSS" name="interestedFSS">
                                                <option value="">- ALL -</option>
                                                <option value="Y">Yes</option>
                                                <option value="N">No</option>
                                                <option value="I">No Indication</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" valign="top">
                                            <input id="chkExpInfo" type="checkbox" name="chkExpInfo">
                                            <label for="chkExpInfo">Check Expiry Date (Active File Reference)</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="WIDTH: 150px" colspan="2" valign="top">
                                            <img src="images/form.gif">&nbsp;
                                            <a id="lbtnExpInfo" href="javascript:submitExpInfo()">Export</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <br>
    <!--   	*************************************************************** -->
    <!--  end Export MWC Information  ...		-->
    <!--   	*************************************************************** -->
    <!--   	*************************************************************** -->
    <!--  start 	Export AS/TD information ...		-->
    <!--   	*************************************************************** -->

    <br>
    <img src="images/expand.gif">&nbsp; <a id="lbtnAsTd" href="javascript:showSearchForm(8)">Export AS/TD information</a>
    <div id="pnlAsTd" style="display: none;">
        <form name="reportForm" id="pnlAsTdOoForm" method="post" action="/Registration/report.do">

            <input type="hidden" name="REPORT_NAME" value="AS_TD_OO_information">
            <input type="hidden" name="reportType" value="">
            <input type="hidden" name="reg_type" value="CMW">
            <input type="hidden" name="today" value="21/11/2018">

            <table class="inputTable">
                <tbody>
                    <tr>
                        <th>Category Code :</th>
                        <td>
                            <select style="width:auto"name="as_ddCtrCode" id="as_ddCtrCode">
                                <option selected="selected" value="ALL_MWC">- ALL -</option>
                                <option value="MWC">MWC</option>
                                <option value="MWC(P)">MWC(P)</option>
                                <!-- <option value='GBC' >GBC</option> <option value='SC(D)' >SC(D)</option> <option value='SC(SF)' >SC(SF)</option> <option value='SC(F)' >SC(F)</option> <option value='SC(V)' >SC(V)</option> <option value='SC(GI)' >SC(GI)</option>-->
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>File reference :</th>
                        <td><input name="txtFileRef" type="text" maxlength="20" id="txtFileRef"></td>
                    </tr>
                    <tr>
                        <th>Date of Expiry :</th>
                        <td>
                            from &nbsp;
                            <input type="text" name="comp_expiry_fr_date" value="" id="comp_expiry_fr_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_comp_expiry_fr_date" class="err" style="color:Red;display:none;">Invalid date</span>
                            &nbsp;to&nbsp;
                            <input type="text" name="comp_expiry_to_date" value="" id="comp_expiry_to_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_comp_expiry_to_date" class="err" style="color:Red;display:none;">Invalid date</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Surname :</th>
                        <td><input name="surname" type="text" maxlength="20" id="surname"></td>
                    </tr>
                    <tr>
                        <th>Given Name :</th>
                        <td><input name="givenName" type="text" maxlength="20" id="givenName"></td>
                    </tr>
                    <tr>
                        <th>Chinese Name :</th>
                        <td><input name="chineseName" type="text" maxlength="20" id="chineseName"></td>
                    </tr>
                    <tr>
                        <th>HKID/ Passport No. :</th>
                        <td><input name="hkid_passport_no" type="text" maxlength="20" id="hkid_passport_no"></td>
                    </tr>
                    <tr>
                        <th>Role :</th>
                        <td valign="top">

                            <select style="width:auto"name="roleCode" id="roleCode" style="width:200px">
                                <option selected="selected" value="">- ALL -</option>
                                <option value="AS">AS</option>
                                <option value="TD">TD</option>
                                <!-- <option value='A2' >A2</option> <option value='AS' >AS</option> <option value='TD' >TD</option> <option value='T2' >T2</option> <option value='T3' >T3</option> <option value='OO' >OO</option>-->
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th valign="top">Status :</th>
                        <td valign="top">
                            <select style="width:auto"name="statusDesc" id="statusDesc" style="width:200px">
                                <option selected="selected" value="">- ALL -</option>
                                <option value="Active">Active</option>
                                <option value="Application in progress">Application in progress</option>
                                <option value="Removed">Removed</option>
                                <option value="Inactive">Inactive</option>
                                <option value="Withdrawn">Withdrawn</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th>Date of Acceptance :</th>
                        <td>
                            from &nbsp;
                            <input type="text" name="accept_fr_date" value="" id="accept_fr_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_accept_fr_date" class="err" style="color:Red;display:none;">Invalid date</span>
                            &nbsp;to&nbsp;
                            <input type="text" name="accept_to_date" value="" id="accept_to_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_accept_to_date" class="err" style="color:Red;display:none;">Invalid date</span>
                        </td>
                    </tr>

                    <tr>
                        <th>Date of Removal :</th>
                        <td>
                            from &nbsp;
                            <input type="text" name="removal_fr_date" value="" id="removal_fr_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_removal_fr_date" class="err" style="color:Red;display:none;">Invalid date</span>
                            &nbsp;to&nbsp;
                            <input type="text" name="removal_to_date" value="" id="removal_to_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_removal_to_date" class="err" style="color:Red;display:none;">Invalid date</span>
                        </td>
                    </tr>
                    <tr><td><u>QP Card</u></td></tr>
                    <tr>
                        <th>Date of Issue :</th>
                        <td>
                            from &nbsp;
                            <input type="text" name="qp_issue_fr_date" value="" id="qp_issue_fr_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_qp_issue_fr_date" class="err" style="color:Red;display:none;">Invalid date</span>
                            &nbsp;to&nbsp;
                            <input type="text" name="qp_issue_to_date" value="" id="qp_issue_to_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_qp_issue_to_date" class="err" style="color:Red;display:none;">Invalid date</span>
                        </td>
                    </tr>

                    <tr>
                        <th>Date of Expiry :</th>
                        <td>
                            from &nbsp;
                            <input type="text" name="qp_expiry_fr_date" value="" id="qp_expiry_fr_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_qp_expiry_fr_date" class="err" style="color:Red;display:none;">Invalid date</span>
                            &nbsp;to&nbsp;
                            <input type="text" name="qp_expiry_to_date" value="" id="qp_expiry_to_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_qp_expiry_to_date" class="err" style="color:Red;display:none;">Invalid date</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Serial No. :</th>
                        <td><input name="qp_serial_no" type="text" maxlength="20" id="qp_serial_no"></td>
                    </tr>
                    <tr>
                        <th>Return Date :</td>
                        <td>
                            from &nbsp;
                            <input type="text" name="qp_return_fr_date" value="" id="qp_return_fr_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_qp_return_fr_date" class="err" style="color:Red;display:none;">Invalid date</span>
                            &nbsp;to&nbsp;
                            <input type="text" name="qp_return_to_date" value="" id="qp_return_to_date" class="inputText" maxlength="10" onblur="checkDate(this)">
                            <span id="err_qp_return_to_date" class="err" style="color:Red;display:none;">Invalid date</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="WIDTH: 150px" colspan="2" valign="top">
                            <img src="images/form.gif">&nbsp;
                            <a id="lbtnExpInfo" href="javascript:submitAsTdOoExpInfo()">Export</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <br>
    <!--   	*************************************************************** -->
    <!--  end 	Export AS/TD/OO information ...		-->
    <!--   	*************************************************************** -->
    <!--   	*************************************************************** -->
    <!--  end 	Label ...		-->
    <!--   	*************************************************************** -->

    <br>
    <img src="images/print.gif">&nbsp;
    <a id="btnRPT0010b" href="javascript:popupWind('report.do?method=LoadReport&amp;popReport=Load_MWC_RPT0010b&amp;registrationType=CMW')">MW Contractor Annual Gazette List (RPT0010b)</a><br>
    <br>


    <img src="images/print.gif">&nbsp;
    <a id="btnRPT0007b" href="javascript:popupWind('report.do?method=LoadReport&amp;popReport=Load_MWC_RPT0007b&amp;registrationType=CMW')">MW Contractor Expired List (RPT0007b)</a><br>
    <br>

    <form name="reportForm" id="RPT0002Form" method="post" action="/Registration/report.do">
        <input type="hidden" name="REPORT_NAME" value="RPT0002_CMW">
        <input type="hidden" name="reg_type" value="CMW">
        <input type="hidden" name="today" value="21/11/2018">
        <img src="images/print.gif">&nbsp;
        <a id="btnRPT0002" href="javascript:submitRPT0002()">Populations Listed on Registers and Lists (RPT0002)</a>
    </form>


    <br>
    <img src="images/print.gif">&nbsp; <a id="btnRPT0004" href="javascript:popupWind('report.do?method=LoadReport&amp;popReport=Load_MWC_RPT0004')">Registered MW Company Summary (RPT0004)</a><br>
    <br>
    <img src="images/print.gif">&nbsp; <a id="btnRPT0008" href="javascript:popupWind('report.do?method=LoadReport&amp;popReport=Load_MWC_RPT0008')">Statistics of Forms Received (RPT0008)</a><br>
    <br>


    <img src="images/print.gif">&nbsp; <a id="btnMWCPExpiryDate" href="javascript:popupWind('report.do?method=LoadReport&amp;popReport=Load_MWCP_EXPIRY_DATE')">MWC(P) Expiry Date</a><br>
    <br>


    <form name="reportForm" id="submitExpiryContractorForm" method="post" action="/Registration/report.do">
        <input type="hidden" name="REPORT_NAME" value="expiry_contractor_CGC">
        <input type="hidden" name="reg_type" value="CMW">
        <input type="hidden" name="SUBREPORT_DIR" value="SUBREPORT_DIR">
        <input type="hidden" name="today" value="21/11/2018">
        <img src="images/print.gif">&nbsp;
        <a id="btnExpiryContractor" href="javascript:submitExpiryContractor()">Count for Expiry of MW Companies</a>
    </form>

    <br>




    <img src="images/expand.gif">&nbsp; <a id="Linkbutton2" href="javascript:showSearchForm(9)">Attendance Record of Members ...</a>
    <div id="pnlAttendance" style="display: none;">
        <table class="inputTable">
            <tbody>
                <tr>
                    <td><img src="images/print.gif">&nbsp; <a id="btnattendance_month" href="javascript:popupWind('report.do?method=LoadReport&amp;popReport=Load_MWC_attendance_month')">Specific month</a></td>
                </tr>
                <tr>
                    <td><img src="images/print.gif">&nbsp; <a id="btnattendance_period" href="javascript:popupWind('report.do?method=LoadReport&amp;popReport=Load_MWC_attendance_period')">Specific period</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <img src="images/expand.gif">&nbsp; <a id="Linkbutton2" href="javascript:showSearchForm(10)">Application Count Report ...</a>
    <div id="pnlApplCntReport" style="display: none;">
        <form name="reportForm" id="pnlApplCntForm" method="post" action="/Registration/report.do">
            <input type="hidden" name="REPORT_NAME" value="application_count_CMW">
            <input type="hidden" name="reg_type" value="CMW">

            <table class="inputTable">
                <tbody>
                    <tr>
                        <th style="width:140px;">Application Date: </th>
                        <td style="display:none;">
                            <select style="width:auto"id="date_type" name="date_type" >
                                <option value="">- Select Type of Date -</option>
                                <option value="application_date" selected="selected">Date of Application</option>
                                <option value="registration_date">Date of Registration</option>
                                <option value="gazette_date">Date of Gazette</option>
                                <option value="expiry_date">Date of Expiry</option>
                                <option value="removal_date">Date of Removal</option>
                                <option value="retention_date">Date of Renewal</option>
                                <option value="restore_date">Date of Restoration</option>
                                <option value="approval_date">Date of Approval</option>
                            </select>
                        </td>
                        <td colspan="2">
                            from&nbsp;
                            <input type="text" class="inputDate" id="from_date" name="from_date" maxlength="10" onblur="checkDate(this)">
                            <span id="err_from_date" class="err" style="color:Red;display:none;">Invalid date</span>
                            &nbsp;to&nbsp;
                            <input type="text" class="inputDate" id="to_date" name="to_date" maxlength="10" onblur="checkDate(this)">
                            <span id="err_to_date" class="err" style="color:Red;display:none;">Invalid date</span>
                        </td>
                    </tr>
                    <tr style="display:none;">
                        <td valign="top">Application Status :</td>
                        <td>
                            <div class="scrollTableDivLower" style="height:100px; width:220px" id="div_statusList">
                                <table class="scrollTable" cellspacing="0" cellpadding="0" border="0"> <tbody><tr><td><input class="inputCheckbox" type="checkbox" id="statusList" value="8a85932a25bf968e0125bf968ef80000" name="statusList"> Active</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="statusList" value="8a85932a25bf968e0125bf968ef80001" name="statusList"> Application in progress</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="statusList" value="8a85932a25bf968e0125bf968ef80003" name="statusList"> Certificate prepared</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="statusList" value="8a85932a25bf968e0125bf968ef80006" name="statusList"> Removed</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="statusList" value="8a85932a25bf968e0125bf968ef80007" name="statusList"> Inactive</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="statusList" value="8a85932a25bf968e0125bf968ef80008" name="statusList"> Withdrawn</td></tr><tr><td><input class="inputCheckbox" type="checkbox" id="statusList" value="8a8593a2607d43b301607d65d68a0001" name="statusList"> test3162</td></tr></tbody></table>
                            </div>
                            <input type="hidden" id="statusStr" name="statusStr">
                        </td>
                    </tr>
                    <tr style="display:none;">
                        <td>Category</td>
                        <td>
                            <select style="width:auto"id="category" name="category">
                                <option value="MWC">RMWC</option>
                                <option value="MWC(P)">RMWC(P)</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <img src="images/print.gif">&nbsp; <a id="Linkbutton3" href="javascript:submitApplCntReport()">Export Application Count Report</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <br>
    <br>

    <!--
        <img src="images/expand.gif" />&nbsp; <a id="Linkbutton2" href="javascript:showSearchForm(10)">Progress of Minor Works Contractors Registration Report ...</a>

        <div id="pnlProgMwcRegForm">
          <form name="reportForm" id="progMwcRegForm" method="post" action="/Registration/report.do">
            <input type="hidden" name="REPORT_NAME" value="prog_mwc_reg">
            <input type="hidden" name="reportType" value="">
            <input type="hidden" name="reg_type" value="CMW">

            <table class="searchform" cellspacing="5" cellpadding="0" width="710" border="0">
                <tr>
                    <td style="width:70px;">Date as at: </td>
                    <td>
                        <input type='text' id="date" name="date" maxlength="10" onblur="checkDate(this)"/>
                        <span id="err_date" class="err" style="color:Red;display:none;">Invalid date</span>
                    </td>
                </tr>
                <tr>
                  <td colspan="2" style="width:500px;">
                    <img src="images/print.gif" />&nbsp; <a id="Linkbutton3"
                    href="javascript:submitProgMWCReg()">Export Progress of Minor Works Contractors Registration Report</a>
                  </td>
                </tr>
            </table>
          </form>
        </div>
        <br />




      </div>
     -->

    <script>
        hideSearchForm();
    </script>
    <br>
    <br>
    <input type="submit" name="btnFinish" value="Finish" id="btnFinish" onclick="window.history.back()">
    <br>
    &nbsp;
</div>