
                                <table id="Table3" class="inputTable">
                                    <tbody>
                      

                                        <tr>
                                            <th >Interview Date :</th>
                                            <td >
                                                <input name="searchDateFrom" maxlength="10" value="15/10/2017" onblur="checkDate(this)" id="searchDateFrom"  class="inputDate" type="text">
                                                <span id="err_searchDateFrom" class="err" style="color:Red;display:none;">Invalid date</span>
                                                &nbsp;
                                                to &nbsp;
                                                <input name="searchDateTo" maxlength="10" value="21/10/2017" onblur="checkDate(this)" id="searchDateTo" class="inputDate" type="text">
                                                <span id="err_searchDateTo" class="err" style="color:Red;display:none;">Invalid date</span>
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th >Room :</th>
                                            <td>
                                               <select style="width:auto"name="searchRoom" id="searchRoom">
                                                    <option value="">- All -</option>
                                                    <option value="8a8591a23b073e11013b213830f9684a">Room 2109</option>
                                                    <option value="8a8591a23b261dc7013b3a709b613293">Room 1817A</option>
                                                    <option value="8a8591a23b261dc7013b3a70c4643296">Room 1813</option>
                                                    <option value="8a8591a23b261dc7013b3a70f12e3299">Room 1816</option>
                                                    <option value="8a85932a25bfafe50125bfafe56b0000">ROOM 2117</option>
                                                    <option value="8a85932a25bfafe50125bfafe56b0001">ROOM 2118</option>
                                                    <option value="8a85932a25bfafe50125bfafe56b0002">ROOM 2116</option>
                                                    <option value="8a85932a25bfafe50125bfafe56b0003">2116A</option>
                                                    <option value="8a85932a25bfafe50125bfafe56b0004">2116B</option>
                                                    <option value="8a8591a23a728b5d013abfe08de62e61">ROOM 1817A</option>
                                                    <option value="8a8591a23a728b5d013abfe0be682ea0">ROOM 1816</option>
                                                    <option value="8a8591a23a728b5d013abfe0df022ea3">ROOM 1813</option>
                                                    <option value="8a8591a23a728b5d013abfe0fbf42ea6">ROOM 106A</option>
                                                    <option value="8a8591a23a728b5d013abfe10e6b2ea9">ROOM 106B</option>
                                                    <option value="8a8591a23a728b5d013abfe11e242eac">ROOM 106C</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr> </tr>
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <input name="btnSearch" value="View Available Rooms" onclick="searchForm()" id="btnSearch" accesskey="A"  type="button">
                                                &nbsp;&nbsp;
                                                <input name="btnReserved" value="View Reserved Rooms" onclick="searchForm() " id="btnReserved" accesskey="R"  type="button">
                                                &nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;
                                                <input name="btnNew" value="New Reservation" id="btnNew"  onclick="loadContentPage('CRM0213a')" type="button">
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
      
                <br>
        


                <table>

                    <tbody>
                        <tr>
                            <td><span style="font-weight: bold;font-size: 10pt;color: #52616B;">Available Rooms</span> (click to reserve room)</td>
                        </tr>
                    </tbody>
                </table>


                <table id="CRMHideDiv" class="resultTable hide">
                    <thead>
                        <tr class="grid-header" style="height:19px;">
                            <th style="width:80px;" nowrap="nowrap">Room</th>
                            <th>Interview Date</th>
                            <th>Session</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td><a href="javascript:loadContentPage('CRM0213a')">Room 2109</a></td>
                            <td>15/10/2017</td>
                            <td>AM</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td><a href="javascript:loadContentPage('CRM0213a')">Room 2109</a></td>
                            <td>15/10/2017</td>
                            <td>PM</td>
                        </tr>

                        <tr>

                            <td><a href="javascript:loadContentPage('CRM0213a')">Room 1817A</a></td>
                            <td>15/10/2017</td>
                            <td>AM</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td><a href="javascript:loadContentPage('CRM0213a')">Room 1817A</a></td>
                            <td>15/10/2017</td>
                            <td>PM</td>
                        </tr>

                        <tr>

                            <td><a href="javascript:loadContentPage('CRM0213a')">Room 1813</a></td>
                            <td>15/10/2017</td>
                            <td>AM</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td><a href="javascript:loadContentPage('CRM0213a')">Room 1813</a></td>
                            <td>15/10/2017</td>
                            <td>PM</td>
                        </tr>

                        <tr>

                            <td><a href="javascript:loadContentPage('CRM0213a')">Room 1816</a></td>
                            <td>15/10/2017</td>
                            <td>AM</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td><a href="javascript:loadContentPage('CRM0213a')">Room 1816</a></td>
                            <td>15/10/2017</td>
                            <td>PM</td>
                        </tr>

                        <tr>

                            <td><a href="javascript:loadContentPage('CRM0213a')">ROOM 2117</a></td>
                            <td>15/10/2017</td>
                            <td>AM</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td><a href="javascript:loadContentPage('CRM0213a')" ">ROOM 2117</a></td>
                            <td>15/10/2017</td>
                            <td>PM</td>
                        </tr>



                    </tbody>
                </table>
</div>

