
<table id="Table3" class="inputTable">
    <thead>
        <tr>
            <th class="grid-header" width="303">Select Type of Data</th>
            <th class="grid-header">Output Format</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="303">
                <a href="javascript:loadContentPage('CRM0409a')">Application Information</a>
            </td>

            <td>Text File</td>
        </tr>
        <!--
          <tr>
            <td width="303"> <a href="javascript:LoadRegisters('')" >Registers</a>
            </td>
            <td id="TD2">HTML</td>
          </tr>
        -->
        <tr style="display:none;">
            <td width="303">
                <a href="" onclick="javascript:exportExcel('CRMHideDiv')">Registers</a>
            </td>
            <td id="TD2">PDF</td>
        </tr>
        <tr>
            <td width="303">
                <a href="" onclick="javascript:exportExcel('CRMHideDiv')">Registers</a>
            </td>
            <td id="TD2">Excel</td>
        </tr>

        <tr>
            <td width="303">
                <a href="" onclick="javascript:exportExcel('CRMHideDiv')">Boards &amp; Committees</a>
            </td>
            <td>HTML</td>
        </tr>
    </tbody>
</table>
<br>
<table id="CRMHideDiv" class="resultTable hide">
   
        <thead>
            <tr>
                <th class="grid-header">Select Data to Export</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" name="selectONE" value="on" class="inputCheckbox">
                    <label for="chkOffTel">Office Telephone Nos. &amp; Email &amp; Fax Nos. &amp; AS Applicants &amp; TD Applicants</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="selectTWO" value="on" class="inputCheckbox">
                    <label for="chkAddr">Correspondence Address, PNRC</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="selectTHREE" value="on" class="inputCheckbox">
                    <label for="chkBS">Building Safety (includes address, telephone nos, remark notes)</label>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
