<table class="inputTable">
  <tbody>
    <tr>
      <th>File Reference :</th>
      <td>
        <input type="text" >
      </td>
    </tr>
    <tr>
      <th>Company Name :</th>
      <td>
        <input  type="text" >
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        <input type="button" value="Search" onclick="searchForm()">
      </td>
    </tr>
  </tfoot>
</table>

<table id="CRMHideDiv" class="resultTable hide">
    <thead>
        <tr>
            <th>
                <a href="javascript:loadContentPage('CRM0405a')">File Ref.</a>
            </th>
            <th>
                <a href="javascript:loadContentPage('CRM0405a')">Company Name</a>
            </th>
            <th>
                <a href="javascript:loadContentPage('CRM0405a')">Reg. No.</a>
            </th>
            <th>
                <a href="javascript:loadContentPage('CRM0405a')">Date of Gazette</a>
            </th>
            <th>
                <a href="javascript:loadContentPage('CRM0405a')">Date of Expiry</a>
            </th>
            <th>
                <a href="javascript:loadContentPage('CRM0405a')">Date of Retention</a>
            </th>
            <th>
                <a href="javascript:loadContentPage('CRM0405a')">Date of Restoration</a>
            </th>
            <th>
                <a href="javascript:loadContentPage('CRM0405a')">Status</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="javascript:loadContentPage('CRM0405a')">MWC 1/2010</a>
            </td>
            <td>xx ELECTRIC &amp; WATER CO</td>
            <td>MWC 1/2010</td>
            <td>25/02/2011</td>
            <td>07/02/2023</td>
            <td>07/02/2020</td>
            <td></td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('CRM0405a')">MWC 1/2011</a>
            </td>
            <td>MING xx FURNITURE DESIGN &amp; DECORATION CO</td>
            <td>MWC 1/2011</td>
            <td>27/07/2012</td>
            <td>01/07/2018</td>
            <td>01/07/2015</td>
            <td></td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('CRM0405a')">MWC 1/2012</a>
            </td>
            <td>xx ENGINEERING COMPANY</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Withdrawn</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('CRM0405a')">MWC 1/2013</a>
            </td>
            <td>CHIU xx ENGINEERING CO</td>
            <td>MWC 1/2013</td>
            <td>11/10/2013</td>
            <td>14/09/2019</td>
            <td>14/09/2016</td>
            <td></td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('CRM0405a')">MWC 1/2014</a>
            </td>
            <td>CHUNG xx ARTS ADVERTISING CO.</td>
            <td>MWC 1/2014</td>
            <td>16/05/2014</td>
            <td>11/04/2017</td>
            <td></td>
            <td>31/03/2017</td>
            <td>Application in progress</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('CRM0405a')">MWC 1/2015</a>
            </td>
            <td>xx ENGINEERING LIMITED</td>
            <td>MWC 1/2015</td>
            <td>15/05/2015</td>
            <td>14/04/2018</td>
            <td></td>
            <td></td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('CRM0405a')">MWC 1/2016</a>
            </td>
            <td>xx DECORATION ENGINEERING LIMITED</td>
            <td>MWC 1/2016</td>
            <td>29/04/2016</td>
            <td>09/04/2019</td>
            <td></td>
            <td></td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('CRM0405a')">MWC 1/2017</a>
            </td>
            <td>xx HING ALUMINIUM ENGINEERING</td>
            <td>MWC 1/2017</td>
            <td>07/04/2017</td>
            <td>28/03/2020</td>
            <td></td>
            <td></td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('CRM0405a')">MWC 10/2010</a>
            </td>
            <td>xx MING FUNG CO LTD</td>
            <td>MWC 10/2010</td>
            <td>12/11/2010</td>
            <td>31/12/2019</td>
            <td>31/12/2016</td>
            <td></td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:loadContentPage('CRM0405a')">MWC 10/2011</a>
            </td>
            <td>xx SECURITY SYSTEMS LIMITED</td>
            <td>MWC 10/2011</td>
            <td>05/10/2012</td>
            <td>03/09/2015</td>
            <td></td>
            <td></td>
            <td>Removed</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
                