
			
			
				<table id="Table6" class="inputTable">
							<tbody>
							<tr>
								<th style="WIDTH: 112px">File Reference :</th>
								<td width="488">MWC 1/2010</td>
							</tr>
							<tr>
								<th style="WIDTH: 112px">Company Name :</th>
								<td width="605">xx xx ELECTRIC &amp; WATER CO</td>
							</tr>
							
						</tbody></table>
                <table class="resultTable">
                    <thead>
                        <tr class="grid-header" style="height:19px;">
                            <th>
                                <input name="dgAppts:_ctl1:checkAll" id="dgAppts__ctl1_checkAll" onclick="CheckAll(this);" type="checkbox">
                            </th>
                            <th>Candidate No.</th>
                            <th nowrap="nowrap">HKID /<br>Passport No.</th>
                            <th>Title</th>
                            <th>Name</th>
                            <th nowrap="nowrap">Sex</th>
                            <th nowrap="nowrap">Role</th>
                            <th>Status</th>
                            <th>Date of Acceptance</th>
                            <th>Date of Removal</th>
                        </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td style="font-size:8pt;"></td>
                            <td>10337</td>


                            <td>E3xxx01(A)</td>



                            <td>Mr</td>

                            <td nowrap="nowrap">LAM xx xx</td>
                            <td>M</td>
                            <td>AS</td>
                            <td>Active</td>
                            <td>07/02/2011</td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
		
                <table class="inputTable">
                    <tfoot>
                        <tr>
                            <td class="editfooter" height="32">


                                <input name="btnSave" value="Generate Candidate No" onclick="loadContentPage('CRM0412')" id="btnSAve" accesskey="S"  type="button">
                                &nbsp;

                                <input name="btnCancel" value="Back" id="btnCancel" accesskey="C" onclick="loadContentPage('CRM0412')" type="button">
                            </td>
                        </tr>
                    </tfoot>
                </table>