


<table class="inputTable">
    <tbody>
        <tr>
            <th>File Reference :</th>
            <td><input type="text" name="searchFileReference" maxlength="20" style="max-width:123px;" class="inputText"></td>
        </tr>
        <tr>
            <th>BR Number :</th>
            <td><input type="text" name="searchBRNumber" maxlength="8" style="max-width:80px;" class="inputText"></td>
        </tr>
        <tr>
            <th>Company Name :</th>
            <td><input type="text" name="searchCompanyName" maxlength="20" style="max-width:551px;" class="inputText"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <div>
                    <div>
                        <input type="submit" name="btnSearch" onclick="searchForm()" value="Search">&nbsp;
                        <input type="submit" name="btnLogin" onclick="loadContentPage('CRM0401b')" value="New Application">
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
<table id="CRMHideDiv" class="resultTable hide">
    <thead>
        <tr>
            <th>File Ref.</th>
            <th>BR No</th>
            <th>Company Name</th>
            <th>  Reg. No.</th>
            <th>          Date of Application</th>
            <th>  Date of Gazette</th>
            <th>      Date of Registration</th>
            <th>      Date of Expiry</th>
            <th>      Date of Removal</th>
            <th>      Date of Retention</th>
            <th>      Date of Restoration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2010</a></td>
            <td>
                14002672
                <a><img /></a>
            </td>
            <td>xx KEUNG ELECTRIC &amp; WATER CO</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2010</td>
            <td>31/10/2016</td>
            <td>25/02/2011</td>
            <td>07/02/2011</td>
            <td>07/02/2023</td>
            <td></td>
            <td>07/02/2020</td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2011</td>
            <td>
                12457958
                <a><img /></a>
            </td>
            <td><a href="javascript:loadContentPage('CRM0402a')">xx NGA FURNITURE DESIGN &amp; DECORATION CO</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2011</td>
            <td>30/04/2015</td>
            <td>27/07/2012</td>
            <td>01/07/2012</td>
            <td>01/07/2018</td>
            <td></td>
            <td>01/07/2015</td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2012</td>
            <td>
                54141428
                <a><img /></a>
            </td>
            <td>xx ENGINEERING COMPANY</td>
            <td></td>
            <td>03/01/2012</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2013</td>
            <td>
                30295209
                <a><img /></a>
            </td>
            <td>xx NGAI ENGINEERING CO</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2013</td>
            <td>15/08/2016</td>
            <td>11/10/2013</td>
            <td>14/09/2013</td>
            <td>14/09/2019</td>
            <td></td>
            <td>14/09/2016</td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2014</td>
            <td>
                30171011
                <a><img /></a>
            </td>
            <td>xx WAH ARTS ADVERTISING CO.</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2014</td>
            <td>02/01/2014</td>
            <td>16/05/2014</td>
            <td>11/04/2014</td>
            <td>11/04/2017</td>
            <td>12/04/2017</td>
            <td></td>
            <td>31/03/2017</td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2015</td>
            <td>
                58526880
                <a><img /></a>
            </td>
            <td>xx ENGINEERING LIMITED</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2015</td>
            <td>02/01/2015</td>
            <td>15/05/2015</td>
            <td>14/04/2015</td>
            <td>14/04/2018</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2016</td>
            <td>
                64737667
                <a><img /></a>
            </td>
            <td>xx DECORATION ENGINEERING LIMITED</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2016</td>
            <td>04/01/2016</td>
            <td>29/04/2016</td>
            <td>09/04/2016</td>
            <td>09/04/2019</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2017</td>
            <td>
                55714195
                <a><img /></a>
            </td>
            <td>xx HING ALUMINIUM ENGINEERING</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 1/2017</td>
            <td>04/01/2017</td>
            <td>07/04/2017</td>
            <td>28/03/2017</td>
            <td>28/03/2020</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2010</td>
            <td>
                10354558
                <a><img /></a>
            </td>
            <td>xx MING FUNG CO LTD</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2010</td>
            <td>27/09/2016</td>
            <td>12/11/2010</td>
            <td>31/12/2010</td>
            <td>31/12/2019</td>
            <td></td>
            <td>31/12/2016</td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2011</td>
            <td>
                07054226
                <a><img /></a>
            </td>
            <td>xx SECURITY SYSTEMS LIMITED</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2011</td>
            <td>23/05/2012</td>
            <td>05/10/2012</td>
            <td>03/09/2012</td>
            <td>03/09/2015</td>
            <td>04/09/2015</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2010</td>
            <td>
                10354558
                <a><img /></a>
            </td>
            <td>TAI xx FUNG CO LTD</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2010</td>
            <td>27/09/2016</td>
            <td>12/11/2010</td>
            <td>31/12/2010</td>
            <td>31/12/2019</td>
            <td></td>
            <td>31/12/2016</td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2011</td>
            <td>
                07054226
                <a><img /></a>
            </td>
            <td>xx SECURITY SYSTEMS LIMITED</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2011</td>
            <td>23/05/2012</td>
            <td>05/10/2012</td>
            <td>03/09/2012</td>
            <td>03/09/2015</td>
            <td>04/09/2015</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2010</td>
            <td>
                10354558
                <a><img /></a>
            </td>
            <td>TAI xx FUNG CO LTD</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2010</td>
            <td>27/09/2016</td>
            <td>12/11/2010</td>
            <td>31/12/2010</td>
            <td>31/12/2019</td>
            <td></td>
            <td>31/12/2016</td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2011</td>
            <td>
                07054226
                <a><img /></a>
            </td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MICROTRONIC xx SYSTEMS LIMITED</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2011</td>
            <td>23/05/2012</td>
            <td>05/10/2012</td>
            <td>03/09/2012</td>
            <td>03/09/2015</td>
            <td>04/09/2015</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2010</td>
            <td>
                10354558
                <a><img /></a>
            </td>
            <td>TAI xx FUNG CO LTD</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2010</td>
            <td>27/09/2016</td>
            <td>12/11/2010</td>
            <td>31/12/2010</td>
            <td>31/12/2019</td>
            <td></td>
            <td>31/12/2016</td>
            <td></td>
        </tr>
        <tr>
            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=compApp.getUuid()%>')">New</a></td-->
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2011</td>
            <td>
                07054226
                <a><img /></a>
            </td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MICROTRONIC xx SYSTEMS LIMITED</td>
            <td><a href="javascript:loadContentPage('CRM0402a')">MWC 10/2011</td>
            <td>23/05/2012</td>
            <td>05/10/2012</td>
            <td>03/09/2012</td>
            <td>03/09/2015</td>
            <td>04/09/2015</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
    </div>