
            

                <table id="Table2" class="inputTable">
                    <tbody>
                        <tr>
                            <th width="150" align="right">
                                Letter No. :
                            </th>
                            <td width="400">
                                <input type="hidden" name="selectedLetterUuid" value="6B3694B891064226A3A365D8EE4FD7BD" id="selectedLetterUuid">
                                <div><input type="text" class="mltsel" value="" readonly="readonly"></div><div id="selectedLetterUuidDiv" style="display: none; background: rgb(255, 255, 255); position: absolute; z-index: 2000; border: 1px solid;">
                                    <table class="grid" cellspacing="0" cellpadding="3" rules="all" bordercolor="LightGrey" border="1" id="dgList" style="border-color: lightgrey; border-collapse: collapse;" width="800">
                                        <tbody>
                                            <tr class="grid-header">
                                                <th style="display: none; text-align: left; padding-right: 10px;">uuid</th>
                                                <th style="text-align: left; padding-right: 10px;">No.</th>
                                                <th style="text-align: left; padding-right: 10px;">Letter No.</th>
                                                <th style="text-align: left; padding-right: 10px;">Type</th>
                                                <th style="text-align: left; padding-right: 10px;">Remark</th>
                                            </tr>



                                            <tr class="grid-alt-item" style="color: rgb(0, 0, 0);">

                                                <td style="display: none; padding-right: 10px;">6B3694B891064226A3A365D8EE4FD7BD</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_MEMO_1</td>
                                                <td style="padding-right: 10px;">
                                                    Memo to other section –
                                                    Deletion of AS
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">2844DD848EC042CD91BE6420363ED2C6</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_MEMO_2</td>
                                                <td style="padding-right: 10px;">
                                                    Memo to other section –
                                                    Deletion of AS
                                                    (No AS case)
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">3BE967B3E5644B68AF2DA1035E393010</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_MEMO_3</td>
                                                <td style="padding-right: 10px;">
                                                    Memo to other section –
                                                    Removal from register
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">2CEB58609A7946CDB79B9074C4AADE18</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_1</td>
                                                <td style="padding-right: 10px;">Reply letter for withdrawal of application by company (BA 25)</td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">D9669F4CC373484B93D1065596DFF395</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_2</td>
                                                <td style="padding-right: 10px;">Reply letter for withdrawal of application for addition AS/ TD (BA 25C &amp; 25D)</td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">54048830BB4F4A7D86C1BBFE58071D5A</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_3</td>
                                                <td style="padding-right: 10px;">Reply letter for change of address/ contact no (BA 24)</td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">7AC624058F2A45F98180EC0E3684C3EA</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_4</td>
                                                <td style="padding-right: 10px;">Reply letter for removal from register</td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">570297543D3A4CB490A717EA67344672</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_5</td>
                                                <td style="padding-right: 10px;">
                                                    Reply letter for deletion of AS
                                                    (incoming letter)
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">29D12C800F164251B2DB2FAD9FE8023A</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_6</td>
                                                <td style="padding-right: 10px;">
                                                    Reply letter for deletion of AS
                                                    (undertaking letter by AS)
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">1F59C863EFF44C85AD482851ACE8B5C0</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_7</td>
                                                <td style="padding-right: 10px;">
                                                    Reply letter for deletion of TD
                                                    (undertaking letter by TD)
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">70B732D9179A4D1C89C734F0C7765962</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_8</td>
                                                <td style="padding-right: 10px;">
                                                    Reply letter for deletion of AS
                                                    (undertaking letter by AS)
                                                </td>
                                                <td style="padding-right: 10px;">Letter to AS</td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">D84A7399DDBD4346A656949BB4F979AD</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_9</td>
                                                <td style="padding-right: 10px;">
                                                    Reply letter for deletion of AS &amp; TD
                                                    (incoming letter)
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">E44B799F9F1944D19907D4EDAE7383EE</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_10</td>
                                                <td style="padding-right: 10px;">
                                                    Reply letter for deletion of AS/ TD
                                                    (undertaking letter by AS/TD)
                                                </td>
                                                <td style="padding-right: 10px;">Eng version</td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">68AF4EB6D3234B7191A329BDAA37214C</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_11</td>
                                                <td style="padding-right: 10px;">
                                                    Reply letter for deletion of AS&amp; TD
                                                    (incoming letter)
                                                    (No AS case)
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">34D26256B2B14DC3A6DEA7710C997AEC</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_12</td>
                                                <td style="padding-right: 10px;">
                                                    Reply letter for deletion of AS&amp; TD
                                                    (undertaking letter by AS&amp;TD)
                                                    (No TD case)
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">B52EA6757DA8403EB16BBFE04686B648</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_GR_13</td>
                                                <td style="padding-right: 10px;">
                                                    Reply letter for deletion of AS&amp; TD
                                                    (undertaking letter by AS&amp;TD)
                                                    (No AS &amp; TD case)
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">6B9D58829B754F72ADAC618B66AB894B</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rn_1</td>
                                                <td style="padding-right: 10px;">Acknowledgement letter</td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">9A1F042D269C4BCAB2B3D3FE460E55B5</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rn_3</td>
                                                <td style="padding-right: 10px;">Outstanding letter</td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">115C2FD35089439B80205398EF307CEA</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rn_5</td>
                                                <td style="padding-right: 10px;">1st &amp; 2nd Interview letter</td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">E5930069BB0E4602859583BAD214964D</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rn_7</td>
                                                <td style="padding-right: 10px;">
                                                    MWCRC case:
                                                    Result letter - Refusal
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">E54CCA24E04D49E28598D10271DC4F1E</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rn_8</td>
                                                <td style="padding-right: 10px;">
                                                    MWCRC case:
                                                    Result letter - Partial approval
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">9E050AF4D11B4B38834C6842D73397B5</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rn_10</td>
                                                <td style="padding-right: 10px;">
                                                    Both MWCRC &amp; Non-MWCRC cases:
                                                    Result letter – Approval
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">E08AB5AE6DE74B1D8FEF1EB7FE2039B4</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rn_12</td>
                                                <td style="padding-right: 10px;">
                                                    Non-MWCRC case:
                                                    Result letter – Refusal – Outstanding documents
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">9DC6DCC5171740D99226A867B16519B3</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rn_13</td>
                                                <td style="padding-right: 10px;">
                                                    Removal letter
                                                    (without renewal application)
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">90FD40066425497EBAB9203C4BFD580A</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rn_14</td>
                                                <td style="padding-right: 10px;">Reminder letter</td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">FF5DBB20266040FDAABBE92F4545361E</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rn_17</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">deleted</td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">0D3785CE509846B595A3397549BC6EB7</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rs_1</td>
                                                <td style="padding-right: 10px;">Acknowledgement letter</td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">704E844E132248ADA376B5937F229E46</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rs_3</td>
                                                <td style="padding-right: 10px;">Outstanding letter</td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">10172A6B30B147B0BC35F8F63A0F26F0</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rs_5</td>
                                                <td style="padding-right: 10px;">1st &amp; 2nd Interview letter</td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">61B0C04453F74D33AE5DF34C4F8A0110</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rs_7</td>
                                                <td style="padding-right: 10px;">
                                                    MWCRC case:
                                                    Result letter – Refusal
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">750539ABB0244B3D9611A47A3F32972F</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rs_9</td>
                                                <td style="padding-right: 10px;">
                                                    Both MWCRC and Non-MWCRC cases:
                                                    Result letter – Approval
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr>

                                                <td style="display: none; padding-right: 10px;">A34A26788BFE4335ACFF1A4D8756C6DE</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rs_11</td>
                                                <td style="padding-right: 10px;">
                                                    Non-MWCRC case:
                                                    Result letter – Refusal – Outstanding documents
                                                </td>
                                                <td style="padding-right: 10px;"></td>
                                            </tr>


                                            <tr class="grid-alt-item">

                                                <td style="display: none; padding-right: 10px;">5E03901411074A2B94DA6B8DF44E75B4</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">MWC_Rs_13</td>
                                                <td style="padding-right: 10px;"></td>
                                                <td style="padding-right: 10px;">deleted</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </td>
                            <td width="160">
                                <div id="downloadTemplateDiv" style="display: block;"><a href="\img\CRM0416.doc" download="">Download Template File</a></div>

                            </td>
                        </tr>

                    </tbody>
                </table>

                <br>

                <div id="letterDetailDiv" align="left" style="display: block;">
                <table id="Table3" class="inputTable"><tbody><tr><th width="150" align="right">File Reference No. :</th><td width="400"><input type="text" maxlength="20" name="displayFileReference" id="displayFileReference" onblur="searchCompany()" style="width:123px;"><input type="text" name="dummy" id="dummy" style="display:none;"><span id="compMsg" style="color: Crimson; display:none;" >No Record is found</span></td><td width="160"><input type="button" name="btnCompanySearch" onclick="searchCompany()" value="Search" ></td></tr><tr><th width="150" align="right">AS :</th><td width="560" colspan="2"><div id="asDiv"><select style="width:auto" name="selectedAsUuid" id="selectedAsUuid" styleclass="inputSelectNoWidth"><option value="">- Select -</option></select></div></td></tr><tr><th width="150" align="right">Authority Name :</th><td width="560" colspan="2"><select style="width:auto" name="selectedAuthorityUuid" id="selectedAuthorityUuid" styleclass="inputSelectNoWidth"><option value="">- Select -</option><option value="8a85932a25bfb05d0125bfb05d3b000a">CHAN Suk-yin</option><option value="8a8591a227aa2b4e0127dbe2afb87f61">CHAU Kwai-fong Frankie</option><option value="8a85932a25bfb05d0125bfb05d3b0013">CHENG Wai-yee</option><option value="8a85932a25bfb05d0125bfb05d3b0014">CHEUNG Lai Sze</option><option value="8a85932a25bfb05d0125bfb05d3b0011">CHEUNG Tin-cheung</option><option value="8a85932a25bfb05d0125bfb05d3b0015">HA Chun-lung</option><option value="8a8591a2321f7a8e01324d6984f91ab7">KONG Yuk-yin Kristy</option><option value="8a85932a25bfb05d0125bfb05d3b0002">LAI Shui-piu</option><option value="8a85932a25bfb05d0125bfb05d3b000e">LAI Shuk-mei</option><option value="8a8591a23a728b5d013ab50ccf823a6a">LAM Kin-ching</option><option value="8a8591a22da30f20012db5ba62f12388">LAU Wing-hung Otto</option><option value="8a8591a25501306b01554dd6b6ea270d">LEUNG Chi-keung</option><option value="8a85932a25bfb05d0125bfb05d2b0000">LEUNG Sham-yee, Wendy</option><option value="8a85932a25bfb05d0125bfb05d3b0005">LO Lai-sim Cindy</option><option value="8a85932a25bfb05d0125bfb05d3b0003">MAK Wan-ching</option><option value="8a8591a25ad1829f015af9273dc15031">TEE Lee-wai</option><option value="8a8591a2314c2def0131bb86d3850bbc">WONG Ka-yan</option><option value="8a85932a25bfb05d0125bfb05d3b0012">YEUNG Chun-wing</option><option value="8a85932a25bfb05d0125bfb05d3b0010">YU Tak-Cheung</option><option value="8a85932a25bfb05d0125bfb05d3b0001">YU Wing-wah</option></select></td></tr><tr><td width="150" align="right"></td><td width="560" colspan="2" align="left"><a href="\img\CRM0416a.txt" download="">Download Data Source File</a></td></tr></tbody></table></div>



