
      <table class="inputTable">
        <tbody><tr>
          <td style="PADDING-LEFT: 8px"><table id="Table3" width="770" cellspacing="0" cellpadding="2" border="0">
              <tbody><tr>
                <td colspan="2" width="764"><span id="lblError" style="color:Red;"></span></td>
              </tr>
              <tr>
                <td style="HEIGHT: 16px" colspan="2" width="764" valign="top"></td>
              </tr>
              <tr>
                <td width="250">Result Type:</td>
                <td width="629"><span id="lblType" style="font-weight:bold;">Interview</span></td>
              </tr>
              <tr>
                <td>Interview / Assessment No.:</td>
                <td><span id="lblIntervNo" style="font-weight:bold;">2013-16251-MWCRC-O285</span></td>
              </tr>
              <tr>
                <td>Interview Date:</td>
                <td><span id="lblIntervDate" style="font-weight:bold;">09/12/2013</span>&nbsp;</td>
              </tr>
              <tr>
                <td>Interview Time:</td>
                <td><span id="lblIntervTime" style="font-weight:bold;">02:15 PM</span></td>
              </tr>
              <tr>
                <td>Name:</td>
                <td><span id="lblName" style="font-weight:bold;">LAU Kam Bor</span></td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
              <tr>
                <td>Result:<span class="asterix">*</span></td>
                <td><select name="SSystemValue" id="SSystemValue"><option value="">- Select -</option>
                     <option value="8a85932a25bf9adf0125bf9adf180000">ACCEPTED</option> <option value="8a85932a25bf9adf0125bf9adf280001">BRING-UP</option> <option value="8a85932a25bf9adf0125bf9adf280002">DEFERRED</option> <option value="8a85932a25bf9adf0125bf9adf280003">NO OBJECTION IN PRINCIPLE</option> <option value="8a85932a25bf9adf0125bf9adf280004">ABSENT WITH NOTIFICATION</option> <option value="8a85932a25bf9adf0125bf9adf280005">REFUSED</option> <option value="8a85932a25bf9adf0125bf9adf280006">ABSENT</option> <option value="8a85932a25bf9adf0125bf9adf280007">null</option> <option value="8a8591a24c037988014c068eb6144023">WITHDRAWN</option></select>
                  &nbsp; <span id="rqdVal3" controltovalidate="ddResult" errormessage="Please select a result." display="Dynamic" evaluationfunction="RequiredFieldValidatorEvaluateIsValid" initialvalue="" style="color:Red;display:none;">Please select a result.</span></td>
              </tr>
              <tr>
                <td>Result Date:<span class="asterix">*</span><br>
                  <span style="FONT-SIZE: 7pt; COLOR: dimgray">(dd/mm/yyyy)</span></td>
                <td><input name="resultDate" maxlength="10" value="" onblur="checkDate(this)" id="resultDate" style="width:80px;" class="inputText" type="text">
	        		<span id="err_resultDate" class="err" style="color:Red;display:none;">Invalid date</span>
                </td>
              </tr>
              <tr>
                <td>Absent:</td>
                <td><select name="isAbsent" id="isAbsent"><option value="N"> No</option>
                    <option value="Y"> Yes</option></select></td>
              </tr>

  			  
              <tr>
                <td>MW Apply:</td>
                <td>
					 <textarea name="mwApply" rows="3" style="width:400px;" class="inputTextarea"></textarea>

				</td>
              </tr> 
              <tr>
                <td>MW Approved:</td>
                <td>
					 <textarea name="mwApproved" rows="3" style="width:400px;" class="inputTextarea"></textarea>

				</td>
              </tr> 
              
             
              <tr>
                <td>Remarks:</td>
                <td>
	                <input name="remarks" maxlength="60" value="" id="remarks" style="width:528px;" class="inputText" type="text">
                </td>
              </tr>
                  <tr>
                    <td>Upload Assessment Form:</td>
                    <td colspan="3" width="537">
	                  <input name="assessmentRes" value="" id="assessmentRes" style="width:376px; HEIGHT: 20px" class="inputFile" type="file">
	                  &nbsp;&nbsp;
	                  <a href="javascript:upload()"><img src="images/upload.gif" alt="Upload" style="height:15px;width:14px;" border="0"></a>
	                  &nbsp;
                      &nbsp;
                      <input id="view_form" name="btnVeiw" value=" View " style="display:none" onclick="showImage();" type="button">
                      <img id="delete_form" style="cursor:pointer;display:none" onclick="javascript:deleteForm();" src="images/delete.gif" alt="Delete" border="0">
                      <br> 
                    </td>
                  </tr>
              <tr>
                <td colspan="2" width="764">&nbsp;</td>
              </tr>
            </tbody></table></td>
        </tr>
        <tr>
         <td class="editfooter">
        	
	     	
         <input name="btnSave" value=" Save " onclick="saveResult()" type="button">
            &nbsp;
            
              
          <input name="btnCancel" value="Cancel" id="btnCancel" onclick="cancel()" type="button"></td>
        </tr>
      </tbody></table>
      <br></td>
  </tr>
</tbody></table>