<table>
      <tbody><tr>
        <td colspan="2">
        </td>
      </tr>
      <tr>
        <td class="title1" colspan="2">
            <h3>   Company with same BR No.</h3>
</td>
      </tr>
      <tr>
        <td colspan="2">
          Br No.:
          <span id="lblFileRef" style="font-weight:bold;">14002672</span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          
        </td>
      </tr>
      
      <tr>
        <td colspan="2">
            <table class="resultTable" id="dgList">
                <thead>
                    <tr class="grid-header" style="height:19px;">
                        <th nowrap="nowrap">
                            File Reference No.
                        </th>
                        <th>
                            Company Name
                        </th>
                        <th nowrap="nowrap">
                            Company Name (Chn)
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td>
                            MWC(P) 1/2010
                        </td>
                        <td>
                            WAH KEUNG ELECTRIC &amp; WATER CO
                        </td>
                        <td>
                            華強電器水喉公司
                        </td>
                        <td>

                            Removed

                        </td>
                    </tr>

                    <tr>
                        <td>
                            MWC 1/2010
                        </td>
                        <td>
                            WAH KEUNG ELECTRIC &amp; WATER CO
                        </td>
                        <td>
                            華強電器水喉公司
                        </td>
                        <td>

                            Active

                        </td>
                    </tr>

                </tbody>
            </table>
        </td>
      </tr>
      
    </tbody></table>