
    

                                                    <table id="Table3" class="inputTable">
                                                        <tbody>
                                                            <tr>
                                                                <th >File Reference :</th>
                                                                <td><input type="text" name="searchFileReference" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:123px;" class="inputText"></td>
                                                            </tr>
                                                            <tr>

                                                                <th >Company Name :</th>
                                                                <td><input type="text" name="searchCompanyName" maxlength="150" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:550px;" class="inputText"></td>

                                                            </tr>
                                                        </tbody><tfoot>
                                                        
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <input type="button" name="btnSearch" value="Search" onclick="searchForm()" id="btnSearch" accesskey="S" >
                                                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                                                        </td>

                                                                    </tr></tfoot>
                                                    </table>
                          
                   
                                


                                 
                                                    <table id="CRMHideDiv" class="resultTable hide">
                                                        <thead>
                                                            <tr class="grid-header" style="height:19px;">
                                                                <th><a href="javascript:setSort('file_reference_no', 'asc', 'file_reference_no')">File Ref.</a></th>
                                                                <th><a href="javascript:setSort('company_name', 'asc', 'file_reference_no')">Company Name</a></th>
                                                                <th><a href="javascript:setSort('status', 'asc', 'file_reference_no')">Status</a></th>
                                                                <th><a href="javascript:setSort('expiry_date', 'asc', 'file_reference_no')">Expiry Date</a></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td style="font-size:8pt;">

                                                                    <a href='javascript:loadContentPage("CRM0412a")'>
                                                                        MWC 1/2010
                                                                    </a>

                                                                </td>
                                                                <td>xx xx ELECTRIC &amp; WATER CO</td>
                                                                <td>Active</td>
                                                                <td>07/02/2023</td>


                                                            </tr>

                                                            <tr>
                                                                <td style="font-size:8pt;">

                                                                    <a href='javascript:loadContentPage("CRM0412a")'>
                                                                        MWC 1/2011
                                                                    </a>

                                                                </td>
                                                                <td>xx xx FURNITURE DESIGN &amp; DECORATION CO</td>
                                                                <td>Active</td>
                                                                <td>01/07/2018</td>


                                                            </tr>

                                                            <tr>
                                                                <td style="font-size:8pt;">

                                                                    <a href='javascript:loadContentPage("CRM0412a")'>
                                                                        MWC 1/2012
                                                                    </a>

                                                                </td>
                                                                <td>xx ENGINEERING COMPANY</td>
                                                                <td>Withdrawn</td>
                                                                <td></td>


                                                            </tr>

                                                            <tr>
                                                                <td style="font-size:8pt;">

                                                                    <a href='javascript:loadContentPage("CRM0412a")'>
                                                                        MWC 1/2013
                                                                    </a>

                                                                </td>
                                                                <td>xx NGAI ENGINEERING CO</td>
                                                                <td>Active</td>
                                                                <td>14/09/2019</td>


                                                            </tr>

                                                            <tr>
                                                                <td style="font-size:8pt;">

                                                                    <a href='javascript:loadContentPage("CRM0412a")'>
                                                                        MWC 1/2014
                                                                    </a>

                                                                </td>
                                                                <td>xxx WAH ARTS ADVERTISING CO.</td>
                                                                <td>Application in progress</td>
                                                                <td>11/04/2017</td>


                                                            </tr>

                                                            <tr>
                                                                <td style="font-size:8pt;">

                                                                    <a href='javascript:loadContentPage("CRM0412a")'>
                                                                        MWC 1/2015
                                                                    </a>

                                                                </td>
                                                                <td>xx ENGINEERING LIMITED</td>
                                                                <td>Active</td>
                                                                <td>14/04/2018</td>


                                                            </tr>

                                                            <tr>
                                                                <td style="font-size:8pt;">

                                                                    <a href='javascript:loadContentPage("CRM0412a")'>
                                                                        MWC 1/2016
                                                                    </a>

                                                                </td>
                                                                <td>xx DECORATION ENGINEERING LIMITED</td>
                                                                <td>Active</td>
                                                                <td>09/04/2019</td>


                                                            </tr>

                                                            <tr>
                                                                <td style="font-size:8pt;">

                                                                    <a href='javascript:loadContentPage("CRM0412a")'>
                                                                        MWC 1/2017
                                                                    </a>

                                                                </td>
                                                                <td>CHUxxNG HING ALUMINIUM ENGINEERING</td>
                                                                <td>Active</td>
                                                                <td>28/03/2020</td>


                                                            </tr>

                                                            <tr>
                                                                <td style="font-size:8pt;">

                                                                    <a href='javascript:loadContentPage("CRM0412a")'>
                                                                        MWC 10/2010
                                                                    </a>

                                                                </td>
                                                                <td>xx MING FUNG CO LTD</td>
                                                                <td>Active</td>
                                                                <td>31/12/2019</td>


                                                            </tr>

                                                            <tr>
                                                                <td style="font-size:8pt;">

                                                                    <a href='javascript:loadContentPage("CRM0412a")'>
                                                                        MWC 10/2011
                                                                    </a>

                                                                </td>
                                                                <td>xx SECURITY SYSTEMS LIMITED</td>
                                                                <td>Removed</td>
                                                                <td>03/09/2015</td>


                                                            </tr>




                                                        </tbody>
                                                    </table>
</div>




            