
                                <table class="inputTable">
                                    <tbody>
                                        <tr>
                                            <th style="WIDTH: 68px">File Ref. :</th>
                                            <td colspan="3" style="WIDTH: 268px">
                                                <input type="text" name="searchFileReference" maxlength="20" value="" style="width:169px;" class="inputText">
                                            </td>
                                         
                                        </tr>
                                        <tr>
                                            <th style="WIDTH: 68px">HKID :</th>
                                            <td style="WIDTH: 268px">
                                                <input type="text" name="searchHKId" maxlength="20" value="" style="width:168px;" class="inputText">
                                            </td>
                                            <th style="WIDTH: 101px">Passport No. :</th>
                                            <td>
                                                <input type="text" name="searchPassportNo" maxlength="20" value="" style="width:168px;" class="inputText">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="WIDTH: 68px">Surname :</th>
                                            <td style="WIDTH: 268px">
                                                <input type="text" name="searchSurname" maxlength="20" value="" style="width:240px;" class="inputText">
                                            </td>
                                            <th style="WIDTH: 101px">Given Name :</th>
                                            <td>
                                                <input type="text" name="searchGivenName" maxlength="40" value="" style="width:240px;" class="inputText">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="WIDTH: 68px">Chinese Name :</th>
                                            <td colspan="3" style="WIDTH: 268px">
                                                <input type="text" name="searchChineseName" maxlength="20" value="" style="width:240px;" class="inputText">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
         
                <br>
                <table class="inputTable">
                    <tfoot>
                        <tr>
                            <td width="530">
                                <input type="submit" name="btnSearch" onclick="searchForm()" value="Search" >

                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="submit" name="btnLogin" onclick="loadContentPage('CRM0501a')" value="New Application" >
                                &nbsp;&nbsp;&nbsp;&nbsp;

                            </td>
                            
                        </tr>
                      
                     </tfoot>
</table>














                <table id="CRMHideDiv" class="resultTable hide">
                    <thead>
                        <tr class="grid-header" style="height:19px;">

                            <!-- th>&nbsp;</th-->

                            <th nowrap="nowrap"><a href="javascript:setSort('file_reference_no', 'asc', 'file_reference_no')">File Ref.</a></th>
                            <th nowrap="nowrap"><a href="javascript:setSort('hkid', 'asc', 'file_reference_no')">HKID /<br>Passport No.</a></th>
                            <th><a href="javascript:setSort('name', 'asc', 'file_reference_no')">Name</a></th>
                            <th><a href="javascript:setSort('chinese_name', 'asc', 'file_reference_no')">Chinese Name</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=mwIndividual.getUuid()%>')">New</a></td-->
                            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0502a')">MWC(W) 1/2010</a></td>

                            <td>
                                Kxxxxx(x)
                                <a href='javascript:loadContentPage("CRM0501b")'>
                                    <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                </a>
                            </td>
                            <td>WONG xx xx </td>
                            <td>黃xx</td>
                        </tr>

                        <tr>

                            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=mwIndividual.getUuid()%>')">New</a></td-->
                            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0502a')">MWC(W) 1/2011</td>

                            <td>
                               Kxxxxx(x)
                                <a href='javascript:loadContentPage("CRM0501b")'>
                                    <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                </a>
                            </td>
                            <td>LEE xx xx</td>
                            <td>李xx</td>
                        </tr>

                        <tr>

                            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=mwIndividual.getUuid()%>')">New</a></td-->
                            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0502a')">MWC(W) 1/2012</td>

                            <td>
                                Kxxxxx(x)
                                <a href='javascript:loadContentPage("CRM0501b")'>
                                    <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                </a>
                            </td>
                            <td>LIN xx</td>
                            <td>林xx</td>
                        </tr>

                        <tr>

                            <!-- td style="font-size:8pt;"><a href="javascript:newApp('<=mwIndividual.getUuid()%>')">New</a></td-->
                            <td nowrap="nowrap"><a href="javascript:loadContentPage('CRM0502a')">MWC(W) 1/2013</td>

                            <td>
                                Kxxxxx(x)
                                <a href='javascript:loadContentPage("CRM0501b")'>
                                    <img src="images/form.gif" alt="Application with same HKID / Passport No." border="0">
                                </a>
                            </td>
                            <td>LAU xx xx </td>
                            <td>劉xx</td>
                        </tr>

                      


                    </tbody>
                </table>
                                    </div>
