
                                <table id="Table10" class="inputTable">
                                    <tbody>
                                        <tr>
                                            <th style="WIDTH: 112px">File Reference :</th>
                                            <td colspan="3">
                                                <input type="text" name="displayFileNumber" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:170px;" class="inputText">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="WIDTH: 68px">HKID :</th>
                                            <td style="WIDTH: 268px">
                                                <input type="text" name="displayHkid" maxlength="20" value="" style="width:168px;" class="inputText">
                                            </td>
                                            <th style="WIDTH: 101px">Passport No. :</th>
                                            <td>
                                                <input type="text" name="displayPassport" maxlength="20" value="" style="width:168px;" class="inputText">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="WIDTH: 68px">Surname :</th>
                                            <td>
                                                <input type="text" name="displaySurName" maxlength="150" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">
                                            </td>
                                            <th style="WIDTH: 96px">Given Name :</th>
                                            <td>
                                                <input type="text" name="displayGivenName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="WIDTH: 96px">Chinese Name :</th>
                                            <td colspan="3">
                                                <input type="text" name="displayChineseName" maxlength="40" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                      
                <br>
                <table id="Table9" class="inputTable">
                    <tfoot>
                        <tr>
                            <td >
                                <input type="button" name="btnSearch" onclick="searchForm()" value="Search" >
                            </td>

                        </tr>
                      
                    </tfoot>
                </table>
                <br>









                <table id="CRMHideDiv" class="resultTable hide">
                    <thead>
                        <tr class="grid-header" >
                            <th><input name="checkBoxSelect" id="checkBoxSelect" type="checkbox" onclick="CheckAll(this);"></th>
                            <th><a href="javascript:setSort('file_reference_no', 'asc', 'file_reference_no')">File Ref.</a></th>
                            <th><a href="javascript:setSort('hkid', 'asc', 'file_reference_no')">HKID/ Passport No.</a></th>
                            <th><a href="javascript:setSort('name', 'asc', 'file_reference_no')">Name</a></th>
                            <th><a href="javascript:setSort('chinese_name', 'asc', 'file_reference_no')">Chinese Name</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="grid-alt-item">

                            <td>
                                <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_0" type="checkbox" value="8a8591a225fe3c89012601e1f31e0184">
                            </td>

                            <td>MWC(W) 1/2010</td>
                            <td>Kxxxxx(x)</td>
                            <td>WONG xx xx </td>
                            <td>黃xx</td>
                        </tr>

                        <tr>

                            <td>
                                <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_1" type="checkbox" value="8a8591a22da30f20012db5f4fb4929aa">
                            </td>

                            <td>MWC(W) 1/2011</td>
                            <td>Kxxxxx(x)</td>
                            <td>LEE xx xx</td>
                            <td>李xx</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td>
                                <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_2" type="checkbox" value="8a8591a2348450290134d4c6a89e0879">
                            </td>

                            <td>MWC(W) 1/2012</td>
                            <td>Kxxxxx(x)</td>
                            <td>LIN xx</td>
                            <td>林xx</td>
                        </tr>

                        <tr>

                            <td>
                                <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_3" type="checkbox" value="8a8591a23bef090b013bff484ed01670">
                            </td>

                            <td>MWC(W) 1/2013</td>
                            <td>Kxxxxx(x)</td>
                            <td>LAU xx xx </td>
                            <td>劉xx</td>
                        </tr>

                        <tr class="grid-alt-item">

                            <td>
                                <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_4" type="checkbox" value="8a8591a2429e8ae501437014c7880aaa">
                            </td>

                            <td>MWC(W) 1/2014</td>
                            <td>Kxxxxx(x)</td>
                            <td>LEUNG xx xx</td>
                            <td>梁xx</td>
                        </tr>

                        <tr>

                            <td>
                                <input name="checkBoxSelectGroup" id="checkBoxSelectGroup_5" type="checkbox" value="8a8591a24a719bef014ab94188ea3eb4">
                            </td>

                            <td>MWC(W) 1/2015</td>
                            <td>Kxxxxx(x)</td>
                            <td>CHAN xx xx</td>
                            <td>陳xx</td>
                        </tr>

               

                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>


                    </tbody>
                </table>
                    <div id="panel1">
                        <br>
                        Select one or more applications you want to update, then click &nbsp;
                        <input type="button" name="btnUpdate" value="Update Details..." id="btnUpdate" onclick="loadContentPage('CRM0504a')">
                        <br>
                    </div>



                </div>
                



