<table class="inputTable">
      <tbody><tr>
        <td colspan="2">
        </td>
      </tr>
      <tr>
        <td class="title1" colspan="2">
        <h3>  Application with same HKID / Passport No. </h3>
        </td>
      </tr>
      
      <tr>
        <th colspan="2">
          HKID / Passport No.:
          <span id="lblFileRef" style="font-weight:bold;">
          	E8xxxx7(5)
          </span>
        </th
>
      </tr>
      <tr>
        <td colspan="2"></td>
      </tr>
      
      <tr>
        <td colspan="3">
        
	  	

     	
          <div style="font-weight:bold;">Individual Application</div>
          <table class="resultTable" id="dgList">
              <thead>
                  <tr class="grid-header" style="height:19px;">
                      <th nowrap="nowrap">
                          File Reference No.
                      </th>
                      <th>
                          Name
                      </th>
                      <th>
                          Chinese Name
                      </th>
                      <th>
                          Registration No.
                      </th>

                      <th>
                          Expiry Date
                      </th>

                      <th>
                          Status
                      </th>



                  </tr>
                  </thead>
              <tbody>
                  <tr>
                      <td>
                          <a href="javascript:loadContentPage('CRM0501c')">
                              MWC(W) 1/2010
                          </a>
                      </td>
                      <td>
                          WONG xx xx xxx
                      </td>
                      <td>
                          黃xx
                      </td>
                      <td>
                          MWC(W) 1/2010
                      </td>

                      <td>
                          31/12/2019
                      </td>

                      <td>
                          Active
                      </td>
                  </tr>


              </tbody>
          </table>
        </td>
      </tr>

        <tr>
        <td>
        	
        </td></tr></tbody></table>