
            <table id="Table6" class="inputTable">
              <tbody>
          
                <tr>
                  <th> Meeting Group:</th>
                  <td width="216">
                  	<span id="lblMeetNo" style="font-weight:bold;">2014-SERC-A01</span>
                  </td>
                  <th>Room:</th>
                  <td width="320">
                  	<span id="lblRoom" style="font-weight:bold;">ROOM 106B</span>
                  </td>
                </tr>
                <tr>
                  <th style="WIDTH: 134px" width="134">Appointment Date:</th>
                  <td width="216"><span id="lblIntervDate" style="font-weight:bold;">23/01/2014</span></td>
                  <th style="WIDTH: 125px" width="125">Session:</th>
                  <td width="320"><span id="lblSession" style="font-weight:bold;">AM</span></td>
                </tr>
                <tr>
                  <td style="FONT-SIZE: 5px" colspan="4" width="744"></td>
                </tr>
                <tr>
                  <td width="134">Start Time:<br>
                    <span style="FONT-SIZE: 7pt; COLOR: dimgray">(hh:mm am/pm)</span></td>
                  <td width="216">
                  	<input name="startTime" maxlength="8" value="9:15 AM" onblur="checkTime(this)" style="width:81px;" class="startTime" type="text">
                    <span id="RequiredTime" style="color:Red;display:none;">Please enter a start time.</span><br>
                    <span id="InvalidTime" style="color:Red;display:none;">Invalid time.</span></td>
                  <td width="125">Duration (mins):</td>
                  <td width="320">
                  	<input name="duration" maxlength="2" value="30" onkeypress="return onKeyPressOnlyNumbers(event);" style="width:40px;" class="duration" type="text">
                    </td>
                </tr>
                <tr>
                  <td style="WIDTH: 134px" width="134">Candidate No.:</td>
                  <td colspan="3" width="633">
                  		<input name="candidateNo" maxlength="8" value="" onkeypress="return onKeyPressOnlyNumbers(event);" id="candidateNo" style="width:80px;" class="candidateNo" type="text">
                    
                    <input name="add" value="Add to list" id="btnCancel" accesskey="A" onclick="loadCandidate()" type="button"></td>
                	
                </tr>
                <tr>
                  <td colspan="4" width="744">&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <table id="Table4" width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
                <td colspan="2"><div style="FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #52616b">Candidate List</div>
                                <table class="resultTable" id="dgList">
                                    <thead>
                                        <tr class="grid-header" style="height:19px;">
                                            <th>File Reference</th>
                                            <th>Candidate No</th>
                                            <th>Type</th>
                                            <th>Duration</th>
                                            <th>Candidate Alias No</th>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th>&nbsp;</th>
                                        </tr>

                                        </thead>
                                    <tbody>
                                        <tr>

                                            <td>R 81/13</td>
                                            <td>16407</td>
                                            <td>
                                                <select name="interviewType" id="interviewType_<%=i%>" style="width:110px" class="inputSelectNoWidth">
                                                    <option value="I" selected="selected">Interview</option>
                                                    <option value="A">Assessment</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input maxlength="2" name="candidateDur" id="candidateDur_0" value="30" style="width:40px;" onkeypress="return onKeyPressOnlyNumbers(event);">
                                            </td>
                                            <td>
                                                <input maxlength="30" name="aliasNo" id="aliasNo_0" value="" style="width:120px;">
                                            </td>
                                            <td>NG Yan Kit</td>
                                            <td>RSE</td>
                                            <td nowrap="nowrap">

                                                <img name="btnDelRow" id="btnDelRow" style="cursor:pointer;" onclick="deleteCandidate('0') " src="images/delete.gif" alt="Delete" border="0">
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                  &nbsp;</td>
              </tr>
              <tr>
                <td></td>
                
                <td style="FONT-SIZE: 8pt; COLOR: darkgreen"><input onclick="generateTimeTable()" name="generateTimetable" value="Generate Timetable" id="btnGenerate" accesskey="G" style="width:150px" type="button">
                  <span style="FONT-SIZE: 8pt; COLOR: darkgreen">(Remember to click 'Generate Timetable' after making changes to Candidate List)</span></td>
              	
              </tr>
            </tbody></table>
            <br>
            <br>
            <table id="Table3" width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
                <td><div style="FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #52616b">Interview / 
                    Assessment Timetable</div></td>
              </tr>
              <tr>
                <td>
                    <table class="resultTable" id="dgList">
                        <thead>
                            <tr class="grid-header" style="height:19px;">
                                <th>File Reference</th>
                                <th>Candidate No</th>
                                <th>Type</th>
                                <th>Start Time</th>
                                <th>Name</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                        <tbody>
                            <tr>

                                <td>R 81/13</td>
                                <td>16407</td>
                                <td>Interview</td>
                                <td> 09:15 AM</td>
                                <td>NG Yan Kit</td>
                                <td>RSE</td>
                            </tr>

                        </tbody>
                    </table>
                  &nbsp; </td>
              </tr>
              <tr>
                <td><span id="lblTimeError" style="color:Red;"></span></td>
              </tr>
              <tr>
                <td style="FONT-SIZE: 8pt; COLOR: darkgreen">AM session times must be &gt;= 9:15 AM and &lt; 2:15 PM, PM session times &gt;= 2:15 PM.</td>
              </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td><img id="ImgExport" src="images/form.gif" alt="" border="0">&nbsp;
          <a id="lbtnExport" href="javascript:exportMinutes()">Export Minutes of the CRC &amp; Schedule of Meeting of CRC (MMD0002b_2.doc)</a>
          </td>
        </tr>
        <tr>
          <td><img id="ImgExport" src="images/form.gif" alt="" border="0">&nbsp;
          <a id="lbtnExport" href="javascript:exportCommittee()">Export Meeting Group Committee</a>
          </td>
        </tr>
        
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="editfooter" height="32">&nbsp;
          	
	        <input name="" value=" Save Timetable" id="" accesskey="S" onclick="saveMeeting()" type="button">
            &nbsp;
              
            <input name="btnCancel" value="Cancel" id="btnCancel" onclick="cancel()" type="button">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
	     	 <input name="btnDel" value="Delete" id="btnDel" accesskey="D" onclick="deleteMeeting()" type="button">
           
          </td>
        </tr>
      </tbody></table></td>
  </tr>
</tbody></table>