
                                <table class="inputTable">
                                    <tbody>
                                        <tr>
                                            <th style="WIDTH: 112px">File Reference :</th>
                                            <td colspan="3">
                                                <input type="text" name="displayFileNumber" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:170px;" class="inputText">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="WIDTH: 68px">HKID :</th>
                                            <td style="WIDTH: 268px">
                                                <input type="text" name="displayHkid" maxlength="20" value="" style="width:168px;" class="inputText">
                                            </td>
                                            <th style="WIDTH: 101px">Passport No. :</th>
                                            <td>
                                                <input type="text" name="displayPassport" maxlength="20" value="" style="width:168px;" class="inputText">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="WIDTH: 68px">Surname :</th>
                                            <td style="WIDTH: 266px">

                                                <input type="text" name="displaySurname" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">


                                            </td>
                                            <th style="WIDTH: 92px">Given Name :</th>
                                            <td>
                                                <input type="text" name="displayGivenname" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="WIDTH: 68px">Chinese Name :</th>
                                            <td colspan="3" style="WIDTH: 266px">

                                                <input type="text" name="displayChinesename" maxlength="20" value="" onkeydown="enterToSubmit(searchForm, this, event)" style="width:240px;" class="inputText">


                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
      
                <br>
                <table id="Table9" class="inputTable">
                    <tfoot>
                        <tr>
                            <td style="WIDTH: 268px">
                                <input type="button" name="btnSearch" onclick="searchForm()" value="Search">
                            </td>
                           
                        </tr>
                    </tfoot>
                </table>
                <br>

















                <table id="CRMHideDiv" class="resultTable hide">
                    <thead>
                        <tr class="grid-header" style="height:19px;">
                            <th><a href="javascript:setSort('file_reference_no', 'asc', 'file_reference_no')">File Ref.</a></th>
                            <th><a href="javascript:setSort('category', 'asc', 'file_reference_no')">Category</a></th>
                            <th nowrap="nowrap" style="width:150px;"><a href="javascript:setSort('name', 'asc', 'file_reference_no')">Name</a></th>
                            <th><a href="javascript:setSort('chinese_name', 'asc', 'file_reference_no')">Chinese Name</a></th>
                            <th><a href="javascript:setSort('registration_no', 'asc', 'file_reference_no')">Reg. No.</a></th>
                            <th><a href="javascript:setSort('gazette_date', 'asc', 'file_reference_no')">Date of Gazette</a></th>
                            <th><a href="javascript:setSort('expiry_date', 'asc', 'file_reference_no')">Date of Expiry</a></th>
                            <th><a href="javascript:setSort('retention_date', 'asc', 'file_reference_no')">Date of Retention</a></th>
                            <th><a href="javascript:setSort('restoration_date', 'asc', 'file_reference_no')">Date of Restoration</a></th>
                            <th><a href="javascript:setSort('status', 'asc', 'file_reference_no')">Status</a></th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr class="grid-alt-item">


                            <td><a href='javascript:loadContentPage("CRM0505a")'>MWC(W) 1/2010</a></td>
                            <td>MWC(W)</td>
                            <td>WONG xx xx </td>
                            <td>黃xx</td>
                            <td>MWC(W) 1/2010</td>
                            <td>31/12/2010</td>
                            <td>31/12/2019</td>
                            <td>31/12/2016</td>
                            <td></td>
                            <td>Active</td>
                        </tr>

                        <tr>


                            <td><a href='javascript:loadContentPage("CRM0505a")'>MWC(W) 1/2011</a></td>
                            <td>MWC(W)</td>
                            <td>LEE xx xx</td>
                            <td>李xx</td>
                            <td>MWC(W) 1/2011</td>
                            <td>25/03/2011</td>
                            <td>04/07/2020</td>
                            <td></td>
                            <td>04/07/2017</td>
                            <td>Active</td>
                        </tr>

                        <tr class="grid-alt-item">


                            <td><a href='javascript:loadContentPage("CRM0505a")'>MWC(W) 1/2012</a></td>
                            <td>MWC(W)</td>
                            <td>LIN xxx xx</td>
                            <td>林xx</td>
                            <td>MWC(W) 1/2012</td>
                            <td>02/09/2016</td>
                            <td>02/09/2019</td>
                            <td></td>
                            <td>04/07/2017</td>
                            <td>Certificate prepared</td>
                        </tr>

                        <tr>


                            <td><a href='javascript:loadContentPage("CRM0505a")'>MWC(W) 1/2013</a></td>
                            <td>MWC(W)</td>
                            <td>LAU xx xx </td>
                            <td>劉xx</td>
                            <td>MWC(W) 1/2013</td>
                            <td>26/07/2013</td>
                            <td>26/07/2019</td>
                            <td>26/07/2016</td>
                            <td></td>
                            <td>Active</td>
                        </tr>

                        <tr class="grid-alt-item">


                            <td><a href='javascript:loadContentPage("CRM0505a")'>MWC(W) 1/2014</a></td>
                            <td>MWC(W)</td>
                            <td>LEUNG xx xx</td>
                            <td>梁xx</td>
                            <td>MWC(W) 1/2014</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Inactive</td>
                        </tr>

                        <tr>


                            <td><a href='javascript:loadContentPage("CRM0505a")'>MWC(W) 1/2015</a></td>
                            <td>MWC(W)</td>
                            <td>CHAN xx xx</td>
                            <td>陳xx</td>
                            <td>MWC(W) 1/2015</td>
                            <td>02/04/2015</td>
                            <td>02/04/2018</td>
                            <td></td>
                            <td></td>
                            <td>Active</td>
                        </tr>

                      
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>


                    </tbody>
                </table>

                    </div>




