<table id="Table2" style="BORDER-BOTTOM: #dedfde 1px solid" width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody><tr>
		<td style="PADDING-RIGHT: 8px; PADDING-LEFT: 8px" valign="top">
			
      	 <div class="title1"><h3> MW Company Application &gt; Candidate Number Generation</h3></div>
     
			
			
			
			
			<table class="editform" id="Table7" width="770" cellspacing="0" cellpadding="3" border="0">
				<tbody><tr>
					<td style="PADDING-LEFT: 8px; PADDING-BOTTOM: 12px; PADDING-TOP: 5px">
					
						<table id="Table6" class="inputTable">
							<tbody><tr>
								<td colspan="3"><span id="lblError" style="color:Red;"></span></td>
							</tr>
							<tr>
								<td style="WIDTH: 112px">File Reference:</td>
								<td width="488">MWC 1/2010</td>
							</tr>
							<tr>
								<td style="WIDTH: 112px">Company Name:</td>
								<td width="605">WAH KEUNG ELECTRIC &amp; WATER CO</td>
							</tr>
							<tr>
								<td colspan="3">&nbsp;</td>
							</tr>
						</tbody></table>
                        <table class="resultTable" id="dgList">
                            <thead>
                                <tr class="grid-header" style="height:19px;">
                                    <td>
                                        <input name="dgAppts:_ctl1:checkAll" id="dgAppts__ctl1_checkAll" onclick="CheckAll(this);" type="checkbox">
                                    </td>
                                    <td>Candidate No.</td>
                                    <td nowrap="nowrap">HKID /<br>Passport No.</td>
                                    <td>Title</td>
                                    <td>Name</td>
                                    <td nowrap="nowrap">Sex</td>
                                    <td nowrap="nowrap">Role</td>
                                    <td>Status</td>
                                    <td>Date of Acceptance</td>
                                    <td>Date of Removal</td>
                                </tr>
                                </thead>
                            <tbody>
                                <tr>
                                    <td style="font-size:8pt;"></td>
                                    <td>10337</td>


                                    <td>E358001(A)</td>



                                    <td>Mr</td>

                                    <td nowrap="nowrap">LAM Wing Wah</td>
                                    <td>M</td>
                                    <td>AS</td>
                                    <td>Active</td>
                                    <td>07/02/2011</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
					</td>
				</tr>
			
				<tr>
				<td class="editfooter" height="32">
					
	     			
					<input name="btnSave" value="Generate Candidate No" onclick="generateCandidateNo()" id="btnSAve" accesskey="S" style="width:168px;" type="button">
					&nbsp;
						
				<input name="btnCancel" value="Back" id="btnCancel" accesskey="C" onclick="cancel()" type="button"></td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>