

		<table class="inputTable">
			<tbody>
				<tr>
					<th class="fLabel" >Document to be delivered to MWU : </th>
					<td class="fBigLabel">&nbsp;227</td>
				</tr>
				<tr>
					<th class="fLabel" >Document Serial No. :</th
>


					<td class="fField">
						<input type="text" name="newDsn" id="newDsn" value="" style="width:150px" onkeydown="checkEnter(event)">(Scan Barcode)

						<font color="#FF0000"></font>
					</td>
				</tr>
			</tbody>
								
					
		<tfoot><tr><td colspan="2">
		
		<input class="inputButton" type="button" id="" name="" value="Roll Back" onclick="loadContentPage('PEM1003')">
		<input class="inputButton" type="button" id="buttonDelivery" name="buttonDelivery" value="Confirm Delivery" onclick="loadContentPage('PEM1003')">
		
		
		</td></tr></tfoot>
				
					
				
	</table>
                     
          

            <script type="text/javascript">
                  $(document).ready(function() {
			      	$('#newDsn').focus();
			    	}
			      );
            </script>
       
                <table class="resultTable">
                    <thead>
                        <tr>
                            <th class="sTh1" colspan="4">Summary</th>
                        </tr>
                        <tr>
                            <th class="sTh" style="width:75px">Date</th>
                            <th class="sTh" style="width:75px">Time</th>
                            <th class="sTh">Document S/N</th>
                            <!-- <th class="sTh" >&nbsp;</th> -->
                        </tr>
					</thead>
                    <tbody>
                        <tr class="sRow1">
                            <td class="sCell">17/8/2017&nbsp;</td>
                            <td class="sCell">15:47&nbsp;</td>
                            <td class="sCell">D0000748759&nbsp;</td>
                            <!-- <td class="sCell" >TBC&nbsp;</td> -->
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">11/8/2017&nbsp;</td>
                            <td class="sCell">17:34&nbsp;</td>
                            <td class="sCell">D0000748750&nbsp;</td>
                            <!-- <td class="sCell" >TBC&nbsp;</td> -->
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">11/8/2017&nbsp;</td>
                            <td class="sCell">17:34&nbsp;</td>
                            <td class="sCell">D0000748749&nbsp;</td>
                            <!-- <td class="sCell" >TBC&nbsp;</td> -->
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">11/8/2017&nbsp;</td>
                            <td class="sCell">17:34&nbsp;</td>
                            <td class="sCell">D0000748748&nbsp;</td>
                            <!-- <td class="sCell" >TBC&nbsp;</td> -->
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">11/8/2017&nbsp;</td>
                            <td class="sCell">17:34&nbsp;</td>
                            <td class="sCell">D0000748747&nbsp;</td>
                            <!-- <td class="sCell" >TBC&nbsp;</td> -->
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">11/8/2017&nbsp;</td>
                            <td class="sCell">17:34&nbsp;</td>
                            <td class="sCell">D0000748746&nbsp;</td>
                            <!-- <td class="sCell" >TBC&nbsp;</td> -->
                        </tr>

                        <tr class="sRow1">
                            <td class="sCell">11/8/2017&nbsp;</td>
                            <td class="sCell">17:34&nbsp;</td>
                            <td class="sCell">D0000748745&nbsp;</td>
                            <!-- <td class="sCell" >TBC&nbsp;</td> -->
                        </tr>

                        <tr class="sRow2">
                            <td class="sCell">11/8/2017&nbsp;</td>
                            <td class="sCell">17:33&nbsp;</td>
                            <td class="sCell">D0000748744&nbsp;</td>
                            <!-- <td class="sCell" >TBC&nbsp;</td> -->
                        </tr>








                    </tbody>
                </table>