
   
    
                            <table class="inputTable">
                                <tbody>
                                    <tr>
                                        <th class="fLabel" style="width:300px">Document to MWU : </th>
                                        <td class="fBigLabel">&nbsp;0</td>
                                    </tr>
                                </tbody>
                            </table>
  
        <div class="sList">
<script type="text/javascript">
$(document).ready(function() {

$('#newDsnByAutoGen').focus();

});
</script>
<br>
            
                                            <table class="inputTable">
											
											
											<thead>
                                                    <tr>
                                                        <th  colspan="2">Assign New Document S/N</th>
                                                    </tr>
													</thead>
													
													
                                                <tbody>
                                                    <tr>
                                                        <th class="fLabel">Document S/N  : </th>
                                                        <td class="fText">
                                                            <input type="text" name="newDsnByAutoGen" value="" id="newDsnByAutoGen" style="width:150px">&nbsp;
                                                            <input class="inputButton" type="button" id="" name="" value="Print" style="width:80px;" onclick="generateOldBarcodeFromInput()">
                                                        </td>
                                                    </tr>

                                                </tbody>
                                                <tfoot >
                                                    <tr>
                                                        <td colspan="2">
                                                            <input class="inputButton" type="button" id="" name="" value="Assign &amp; Print"  onclick="assignNewDsn()">
                                                        </td>
                                                    </tr>

                                                 

                                                </tfoot>
                                            </table>
     
        </div>

            <table id="PEM1002Table" class="resultTable">
                <thead>
                    <tr>
                        <th class="sTh1" colspan="4">Summary</th>
                    </tr>
                    <tr>
                        <th class="sTh" style="width:75px">Date</th>
                        <th class="sTh" style="width:75px">Time</th>
                        <th class="sTh">Document S/N</th>
                    </tr>
                    </thead>
                <tbody></tbody>
            </table>