
                <table class="inputTable">
                    <thead>
                        <tr>
                            <th colspan="4" class="sTh1">
                                Search Criteria
                            </th>
                        </tr>
             
                                    <tbody>
                                        <tr>
                                            <th class="fLabel" >
                                                Submission No. :
                                            </th>
                                            <td class="fField" >
                                                <input name="searchFileRefNo" value="" id="searchFileRefNo" class="inputTextUpper" type="text">
                                            </td>

                                            <th class="fLabel" >
                                                Status :
                                            </th>
                                            <td class="fField" >
                                                <select style="width:auto" name="searchStatus" id="searchStatus">
                                                    <option value="" selected="selected">- Select -</option>
                                                    <option value="Open">Open</option>
                                                    <option value="Close">Close</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="fLabel">
                                                Class :
                                            </th>
                                            <td class="fField">
                                                <select style="width:auto" name="searchClass" id="searchClass">
                                                    <option value="" selected="selected">-All-</option>

                                                    <option value="CLASS I">Class I</option>

                                                    <option value="CLASS II">Class II</option>

                                                    <option value="CLASS III">Class III</option>
                                                </select>
                                            </td>
                                            <th rowspan="2" class="fLabel">
                                                Received Date :
                                            </th>
                                            <td  rowspan="2" class="fField inputDateParent">
                                                From
                                                <div class="inputDate"><input name="searchReceivedDateFrom" value="" id="searchReceivedDateFrom" class="inputDate" title="to:searchReceivedDateTo" type="text"></div>
                                                <br>
                                                To
                                                <div class="inputDate"><input name="searchReceivedDateTo" value="" id="searchReceivedDateTo" class="inputDate" title="from:searchReceivedDateFrom" type="text"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="fLabel">
                                                Item No. :
                                            </th>
                                            <td class="fField">
                                                <select style="width:auto" name="searchItemNo" id="searchItemNo" >
                                                    <option value="" selected="selected">-Please Select-</option>

                                                    <option value="1.20">1.20</option>

                                                    <option value="1.21">1.21</option>

                                                    <option value="1.22">1.22</option>

                                                    <option value="1.23">1.23</option>

                                                    <option value="1.24">1.24</option>

                                                    <option value="2.18">2.18</option>

                                                    <option value="2.19">2.19</option>

                                                    <option value="2.20">2.20</option>

                                                    <option value="2.21">2.21</option>

                                                    <option value="2.22">2.22</option>

                                                    <option value="2.23">2.23</option>

                                                    <option value="2.24">2.24</option>

                                                    <option value="2.25">2.25</option>

                                                    <option value="2.26">2.26</option>

                                                    <option value="2.27">2.27</option>

                                                    <option value="3.16">3.16</option>

                                                    <option value="3.17">3.17</option>

                                                    <option value="3.18">3.18</option>

                                                    <option value="3.19">3.19</option>

                                                    <option value="3.20">3.20</option>

                                                    <option value="3.21">3.21</option>

                                                    <option value="3.22">3.22</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="fLabel">
                                                With Alteration/Strengthening :
                                            </th>
                                            <td class="fField">
                                                <select style="width:auto" name="searchAlteration" id="searchItemNo">
                                                    <option value="" selected="selected">All</option>
                                                    <option value="Y">Yes</option>
                                                    <option value="N">No</option>
                                                </select>
                                            </td>
                                            <th rowspan="2" class="fLabel">
                                                Order No./ Direction/ Notice No./ BD reference :
                                            </th>
                                            <td rowspan="2" class="fField">
                                                <input name="searchBdRef2" value="" id="searchBdRef2" class="inputText" type="text">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="fLabel">
                                                Recommendation :
                                            </th>
                                            <td class="fField">
                                                <select style="width:auto" name="searchRecommendation" id="searchRecommendation" >
                                                    <option value="" selected="selected">All</option>
                                                    <option value="A">Accept</option>
                                                    <option value="R">Refuse</option>
                                                    <option value="CA">Conditional Accept</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
              
                <table class="inputTable">
                    <thead>
                        <tr>
                            <th class="sTh2" colspan="2">
                                Signboard Location
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th class="fLabel" width="30%">
                                Street :
                            </th>
                            <td class="fField">
                                <input name="searchStreet" value="" id="searchStreet" style="width: 300px;" class="inputText autoComplete ac_input" alt="checkExist:false;minChars:1;type:streetName" autocomplete="off" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th class="fLabel" width="30%">
                                Street No. :
                            </th>
                            <td class="fField">
                                <input name="searchStreetNo" value="" id="searchStreetNo" style="width: 300px;" class="inputText autoComplete ac_input" alt="checkExist:false;minChars:1;type:streetNumber;streetName:searchStreet;displayFill:bracket;fill:searchSBlock" autocomplete="off" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th class="fLabel" width="30%">
                                Building/Block :
                            </th>
                            <td class="fField">
                                <input name="searchBlock" value="" id="searchSBlock" style="width: 300px;" class="inputText" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th class="fLabel" width="30%">
                                District :
                            </th>
                            <td class="fField">
                                <input name="searchDistrict" value="" id="searchDistrict" style="width: 300px;" class="inputText" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th class="fLabel" width="30%">
                                Region :
                            </th>
                            <td class="fField">
                                <select style="width:auto" name="searchRegion" id="searchRegion" class="inputSelect"style="width:auto">
                                    <option value="" selected="selected">All</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="KLW">Kowloon</option>
                                    <option value="NT">New Territories</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="sRow2">
            <td class="sCell" style="padding: 0px;">
                <table class="inputTable">
                    <thead>
                        <tr>
                            <th class="sTh2" width="30%">
                                Related Party
                            </th>

                            <th class="sTh2">
                                <select style="width:auto" name="searchRelatedParty" id="searchRelatedParty"style="width:auto">
                                    <option value="" selected="selected">-Please Select-</option>
                                    <option value="AP">Authorized person</option>
                                    <option value="RSE">Registered structural engineer</option>
                                    <option value="RGE">Registered geotechnical engineer</option>
                                    <option value="PRC">Prescribed registered contractor</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="fLabel" width="30%">
                                English Name :
                            </th>
                            <td class="fField">
                                <input name="searchEnglishName" value="" id="searchEnglishName" style="width: 300px;" class="inputText" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th class="fLabel" width="30%">
                                Chinese Name :
                            </th>
                            <td class="fField">
                                <input name="searchChineseName" value="" id="searchChineseName" style="width: 300px;" class="inputText" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th class="fLabel" width="30%">
                                Certificate of Registration No. :
                            </th>
                            <td class="fField">
                                <input name="searchRegNo" value="" id="searchegNo" style="width: 300px;" class="inputText" type="text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="sRow2">
            <td class="sCell" style="padding: 0px;">
                <table class="inputTable">
                    <thead>
                        <tr>
                            <th class="sTh2" colspan="2">
                                Handling Officer
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="fLabel" width="30%">
                                Handling Officer Name :
                            </th>
                            <td class="fField">
                                <select style="width:auto" name="searchOfficerId"style="width:auto">
                                    <option value="" selected="selected"></option>

                                    <option value="8a85bda6516ce9ae0152f2f117870d75">ACOMS</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0006">BSSC1</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0007">BSSC2</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0008">BSSC3</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0009">BSSC4</option>

                                    <option value="8a85bda64a76fd9c014b06c0834c4e04">CTOSC</option>

                                    <option value="8a85bda647d77bc20149a37b8ec4706d">PSOSC1</option>

                                    <option value="8a85bda647d77bc20149a37d52607073">PSOSC2</option>

                                    <option value="8a85bda647d77bc20149a37db0d47077">PTOSC</option>

                                    <option value="8a85bda6516ce9ae01523896f76a7099">PTOSC1</option>

                                    <option value="8a85bda6516ce9ae0151a4585c364e45">PTOSC2</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0003">SBSSC</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0012">SESC1</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0013">SESC2</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0014">SESC3</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0015">SESC4</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0016">SESC5</option>

                                    <option value="8a85bda647d77bc20149a7de10797dc5">SESC6</option>

                                    <option value="8a85bda647d77bc20149a37f0634707b">SESC7</option>

                                    <option value="8a85bda64e2f3ba8014f3f85abe167d1">SESC8</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0018">SOSC1</option>

                                    <option value="8a85bda6516ce9ae01523dbc96655232">SOSC1A</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0019">SOSC2</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0020">SOSC3</option>

                                    <option value="8a85bda653896b170153c05c9f9c4dac">SOSC3A</option>

                                    <option value="8a85bda635d2dd4f0135d33d908b0046">SOSC4</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0021">SOSC5</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0022">SOSC6</option>

                                    <option value="8a85bda6516ce9ae0152395f2ea5712f">SOSCA</option>

                                    <option value="8a85bda63662640e01366299654b0015">SPOSC</option>

                                    <option value="8a85bda647d77bc20149a7d8fac97db9">SPOSC1</option>

                                    <option value="8a85bda647664e5e0147665409800007">SPOSC2</option>

                                    <option value="8a85bda647d77bc20149ac3a97cb0b4f">SSOSC1</option>

                                    <option value="8a85bda647d77bc20149ac3ae4c20b51">SSOSC2</option>

                                    <option value="8a85bda65e89d5bd015f516c647d3ba3">SSOSC3</option>

                                    <option value="8a85bda647d77bc20149ac3b32350b53">STOSC</option>

                                    <option value="8a85bda63662640e013662a08c980024">TCMS10</option>

                                    <option value="8a85bda63662640e013662a0c7e20026">TCMS11</option>

                                    <option value="8a85bda63662640e013662a113050028">TCMS12</option>

                                    <option value="8a85bda63662640e013662a155a0002a">TCMS13</option>

                                    <option value="8a85bda63662640e013662a193f7002c">TCMS14</option>

                                    <option value="8a85bda63662640e013662a1dd74002e">TCMS15</option>

                                    <option value="8a85bda63662640e013662a21cb50030">TCMS16</option>

                                    <option value="8a85bda63662640e0136629ffd350020">TCMS8</option>

                                    <option value="8a85bda63662640e013662a044de0022">TCMS9</option>

                                    <option value="8a85bda635d2dd4f0135d346110d0051">TOSC1</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0034">TOSC2</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0035">TOSC3</option>

                                    <option value="8a85bda63662640e0136629d4a4c001a">TOSC4</option>

                                    <option value="8a85bda6516ce9ae01523dbd057c5234">TOSC4A</option>

                                    <option value="8a85bda647d77bc20149a7e0ea247dce">TOSC5</option>

                                    <option value="8a85bda647d77bc20149a7e00aaf7dcb">TOSC6</option>

                                    <option value="8a8593a233ab78ba0133ab7a01dd0036">TOSC7</option>

                                    <option value="8a85bda6516ce9ae0152395f74e87133">TOSCA</option>

                                    <option value="8a85934933b6427e0133b648cd94002a">admin</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr class="sRow2">
            <td class="sCell" style="padding: 0px;">
                <table class="inputTable">
                    <thead>
                        <tr>
                            <th class="sTh2" colspan="2">
                                Work Schedule
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="fLabel" width="30%">
                                Inspection Date :
                            </th>
                            <td class="fField inputDateParent" style="white-space: nowrap !important;">
                                From
                                <div class="inputDate"><input name="searchInspectionDateFrom" value="" id="searchInspectionDateFrom"  class="inputDate" title="to:searchInspectionDateTo" type="text"></div>

                                To
                                <div class="inputDate"><input name="searchInspectionDateTo" value="" id="searchInspectionDateTo"   class="inputDate"  title="from:searchInspectionDateFrom" type="text"></div>
                            </td>
                        </tr>
                        <tr>
                            <th class="fLabel" width="30%">
                                Actual Alteration/Strengthening Completion Date :
                            </th>
                            <td class="fField inputDateParent" style="white-space: nowrap !important;">
                                From
                                <div class="inputDate"><input name="searchActualAltCompDateFrom" value="" id="searchActualAltCompDateFrom"  class="inputDate" title="to:searchActualAltCompDateTo" type="text"></div>

                                To
                                <div class="inputDate"><input name="searchActualAltCompDateTo" value="" id="searchActualAltCompDateTo" class="inputDate" title="from:searchActualAltCompDateFrom" type="text"></div>
                            </td>
                        </tr>
                        <tr>
                            <th class="fLabel" width="30%">
                                Validation Expiry Date :
                            </th>
                            <td class="fField inputDateParent" style="white-space: nowrap !important;">
                                From
                                <div class="inputDate"><input name="searchValidationExpiryDateFrom" value="" id="searchValidationExpiryDateFrom" class="inputDate" title="to:searchValidationExpiryDateTo" type="text"></div>

                                To
                                <div class="inputDate"><input name="searchValidationExpiryDateTo" value="" id="searchValidationExpiryDateTo"  class="inputDate" title="from:searchValidationExpiryDateFrom" type="text"></div>
                            </td>
                        </tr>
                        <tr>
                            <th class="fLabel">
                                Signboard Removed :
                            </th>
                            <td class="fField">
                                <input name="searchSignboardRemoved" value="YES" id="searchSignboardRemoved" type="checkbox">
                            </td>
                        </tr>
                    </tbody>
                </table>
    

<table class="inputTable">
    <tfoot>
        <tr>
            <td>
                <input class="inputButton" id="" name="" value="Search" onclick="searchSMM()" type="submit">
            </td>
        </tr>
    </tfoot>
</table>
<br>
<table id="SMMHideDiv" class="resultTable hide">
    <thead>
        <tr>
            <th class="sTh1" colspan="7">
                Results
            </th>
        </tr>
        <tr>
            <th class="sTh">
                Thumbnail
            </th>
            <th class="sTh" width="100px">
                <a class="columnHead" sort="signboardNo" href="javascript:setSort('signboardNo', '', '')">
                    Submission
                    No.
                </a>
            </th>
            <th class="sTh" width="100px">
                Validation Item No
            </th>
            <th class="sTh" width="100px">
                MW Item No
            </th>
            <th class="sTh" width="100px">
                <a class="columnHead" sort="expiryDate" href="javascript:setSort('expiryDate', '', '')">
                    Expiry
                    Date
                </a>
            </th>
            <th class="sTh">
                <a class="columnHead" sort="locationOfSignboard" href="javascript:setSort('locationOfSignboard', '', '')">
                    Location
                    of Signboard
                </a>
            </th>
            <th class="sTh" width="100px">
                Signboard Removal Date
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="sRow1">
            <td class="sCell">
                <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0001/14" alt="SC01-0001/14" width="200">
            </td>
            <td class="sCell">
                <a href='javascript:loadContentPage("SMM0204a")'>SC01-0001/14</a>
            </td>
            <td class="sCell"></td>
            <td class="sCell">
                1.22
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                xxx, Island Centre, Causeway Bay, H.K. 
                <!--15/01/2014 12:00 AM-->
            </td>
            <td class="sCell"></td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">
                <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0001/15" alt="SC01-0001/15" width="200">
            </td>
            <td class="sCell">
                <a href='javascript:loadContentPage("SMM0204a")'>SC01-0001/15</a>
            </td>
            <td class="sCell"></td>
            <td class="sCell">
                2.18
            </td>
            <td class="sCell">
                12/01/2020&nbsp;
            </td>
            <td class="sCell">xx地產集團</td>
            <td class="sCell"></td>
        </tr>

        <tr class="sRow1">
            <td class="sCell">
                <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0002/15" alt="SC01-0002/15" width="200">
            </td>
            <td class="sCell">
                <a href='javascript:loadContentPage("SMM0204a")'>SC01-0002/15</a>
            </td>
            <td class="sCell"></td>
            <td class="sCell">
                2.19
            </td>
            <td class="sCell">
                12/01/2020&nbsp;
            </td>
            <td class="sCell">
                荃灣xx
                <!--12/01/2015 12:00 AM-->
            </td>
            <td class="sCell"></td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">
                <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0003/15" alt="SC01-0003/15" width="200">
            </td>
            <td class="sCell">
                <a href='javascript:loadContentPage("SMM0204a")'>SC01-0003/15</a>
            </td>
            <td class="sCell"></td>
            <td class="sCell">
                2.18
            </td>
            <td class="sCell">
                12/01/2020&nbsp;
            </td>
            <td class="sCell">
                荃灣xx
                <!--12/01/2015 12:00 AM-->
            </td>
            <td class="sCell"></td>
        </tr>

        <tr class="sRow1">
            <td class="sCell">
                <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0004/15" alt="SC01-0004/15" width="200">
            </td>
            <td class="sCell">
                <a href='javascript:loadContentPage("SMM0204a")'>SC01-0004/15</a>
            </td>
            <td class="sCell"></td>
            <td class="sCell">
                2.19
            </td>
            <td class="sCell">
                12/01/2020&nbsp;
            </td>
            <td class="sCell">
                荃灣xx
                <!--12/01/2015 12:00 AM-->
            </td>
            <td class="sCell"></td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">
                <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0005/15" alt="SC01-0005/15" width="200">
            </td>
            <td class="sCell">
                <a href='javascript:loadContentPage("SMM0204a")'>SC01-0005/15</a>
            </td>
            <td class="sCell"></td>
            <td class="sCell">
                2.19
            </td>
            <td class="sCell">
                12/01/2020&nbsp;
            </td>
            <td class="sCell">
                荃灣xx
                <!--12/01/2015 12:00 AM-->
            </td>
            <td class="sCell"></td>
        </tr>

        <tr class="sRow1">
            <td class="sCell">
                <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0006/15" alt="SC01-0006/15" width="200">
            </td>
            <td class="sCell">
                <a href='javascript:loadContentPage("SMM0204a")'>SC01-0006/15</a>
            </td>
            <td class="sCell"></td>
            <td class="sCell">
                2.19
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                香港謝斐道xx
                <!--13/01/2015 12:00 AM-->
            </td>
            <td class="sCell"></td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">
                <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0007/15" alt="SC01-0007/15" width="200">
            </td>
            <td class="sCell">
                <a href='javascript:loadContentPage("SMM0204a")'>SC01-0007/15</a>
            </td>
            <td class="sCell"></td>
            <td class="sCell">
                2.18
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                尖沙咀xx
                <!--15/01/2015 12:00 AM-->
            </td>
            <td class="sCell"></td>
        </tr>

        <tr class="sRow1">
            <td class="sCell">
                <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0008/15" alt="SC01-0008/15" width="200">
            </td>
            <td class="sCell">
                <a href='javascript:loadContentPage("SMM0204a")'>SC01-0008/15</a>
            </td>
            <td class="sCell"></td>
            <td class="sCell">
                3.16
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                xx, Kowloon&nbsp;
                <!--16/01/2015 12:00 AM-->
            </td>
            <td class="sCell"></td>
        </tr>

        <tr class="sRow2">
            <td class="sCell">
                <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0009/15" alt="SC01-0009/15" width="200">
            </td>
            <td class="sCell">
                <a href='javascript:loadContentPage("SMM0204a")'>SC01-0009/15</a>
            </td>
            <td class="sCell"></td>
            <td class="sCell">
                2.19
            </td>
            <td class="sCell">
                &nbsp;
            </td>
            <td class="sCell">
                九龍長沙灣xx
                <!--13/02/2015 12:00 AM-->
            </td>
            <td class="sCell"></td>
        </tr>

    </tbody>
</table>



                        </div>


