
<h6 style="color:blue"><b>Current Job for Users</b></h6>
<table class="resultTable">
    <thead>
        
        <tr>
            <th>User</th>
            <th>Validation</th>
            <th>Audit</th>
            <th>S24 Order</th>
            <th>Report to SCU</th>

        </tr>
       </thead>
        <tr>

            <td>SBCSC</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>3</td>

        </tr>
        <tr>

            <td>SPOSC1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>

        </tr>
</table>
<br />
<h6 style="color:blue"><b> Job  To be Assigned</b></h6>
<table id="t01" class="resultTable">
    <thead>
        <tr>
            <th>Submission No.</th>
            <th>From Code</th>
            <th>Received Date</th>
            <th>Signboard PAW</th>
            <th>Signaboard Information</th>
            <th>Manual Submit</th>
            <th>TO Level</th>
            <th>PO Level</th>
            <th>SPO Level</th>

        </tr>
    </thead>
</table>
<div class="confirmClass">
 
    <br />
    <br />

</div>


<table class="inputTable">
    <tfoot>
        <tr>

            <td>
                <input type="submit" class="btnClass" value="Save"   onclick="loadContentPage('SMM0202')">
                <input type="submit" class="btnClass" value="Submit" onclick="loadContentPage('SMM0202')">

            </td>
        </tr>
    </tfoot>
</table>