<form name="SignboardSearchForm" id="signboardSearchForm" method="post" action="/SMM/signboardSearch.do">
	<input name="editMode" value="view" type="hidden">
	<input name="uuid" value="8a85bda64358197e014394c1e0073da3" type="hidden">
	<input name="imageId" value="" type="hidden">
	<div class="bodyCttDiv">
	
					<h3>
						Signboard Search
						<br>
					</h3>
			
<br>
<h3>
    Validation
</h3>
                                    <table class="resultTable">
                                        <thead>
                                            <tr class="grid-header" style="height: 19px;">
                                                <th class="sTh">
                                                    Form Code
                                                </th>
                                                <th class="sTh">
                                                    Received Date
                                                </th>
                                                <th class="sTh">
                                                    Expiry Date
                                                </th>
                                                <th class="sTh">    
                                                    Validation Result
                                                </th>

                                            </tr>
                                            </thead>
                                        <tbody>
                                            <tr class="sRow1">
                                                <td class="sCell">
                                                    SC01&nbsp;
                                                </td>
                                                <td class="sCell">
                                                    15/01/2014&nbsp;
                                                </td>
                                                <td class="sCell">
                                                    &nbsp;
                                                </td>
                                                <td class="sCell">
                                                    Refuse
                                                    &nbsp;
                                                </td>



                                            </tr>
                                        </tbody>
                                    </table>


					</div><br>


					<div class="sList">
                        <table class="inputTable">
                            <thead>
                                <tr>
                                    <th class="sTh" colspan="4">
                                        Signboard Information
                                    </th>
                                </tr>
                                </thead>
                           
                                            <tbody>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Submission No. :
                                                    </th>
                                                    <td class="fText" colspan="3">
                                                        SC01-0001/14
                                                    </td>
                                                </tr>
                                                </tbody>
                                            <thead>
                                                <tr>
                                                <th class="fLabel" colspan="4">
                                                    Signboard Information 
                                                </th>
                                                    </tr>
                                            </thead>
                            <tbody>
                                                                <tr>
                                                                    <th>
                                                                        <b>Description :</b>

                                                                    </th>
                                                                    <td colspan="6"></td>
                                                                </tr>

                                                                <tr>
                                                                    <th width="25%">
                                                                        <b>Facade :</b>
                                                                    </th>
                                                                    <td width="25%"></td>
                                                                    <th width="25%">
                                                                        <b>Type :</b>
                                                                    </th>
                                                                    <td width="25%">
                                                                        1. Shop Front
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        <b>Bottom fixing at Floor :</b>
                                                                    </th>
                                                                    <td></td>
                                                                    <th>
                                                                        <b>Top fixing at Floor :</b>
                                                                        <br>
                                                                    </th>
                                                                    <td></td>

                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        <b>Display Area (m<sup>2</sup>) :</b>
                                                                    </th>
                                                                    <td></td>
                                                                    <th>
                                                                        <b>Projection (m) :</b>
                                                                    </th>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        <b>Height of signboard (m) :</b>
                                                                    </th>
                                                                    <td></td>
                                                                    <th>
                                                                        <b>Clearance above ground (m) :</b>
                                                                    </th>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        <b>LED/TV :</b>
                                                                    </th>
                                                                    <td>
                                                                        Y
                                                                    </td>
                                                                    <th>
                                                                        <b>Building Portion :</b>
                                                                    </th>
                                                                    <td></td>
                                                                </tr>
                                              </tbody>
                            
                            <thead>

                                <tr>
                                    <th style="text-align: left" colspan="4" class="fLabel">
                                        Signboard Address:
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Street/Road/Village :

                                                    </th>
                                                    <td class="fField">
                                                        GREAT GEORGE STREET :
                                                    </td>
                                                    <td rowspan="8" colspan="2">
                                                        <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0001/14" alt="SC01-0001/14 " width="200">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Street Number :

                                                    </th>
                                                    <td class="fField">
                                                        1
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Building/Estate :

                                                    </th>
                                                    <td class="fField">
                                                        ISLAND BEVERLEY
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Flat/Room :

                                                    </th>
                                                    <td>
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="fField"></td>
                                                                    <td class="fLabel" style="width : 34%">
                                                                        Floor

                                                                    </td>
                                                                    <td class="fField"></td>
                                                                    <td class="fLabel" style="width : 34%">
                                                                        Block

                                                                    </td>
                                                                    <td class="fField"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        District :
                                                    </th>
                                                    <td class="fField">
                                                        WAN CHAI
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Region :
                                                    </th>
                                                    <td class="fField" valign="top">
                                                        <label>
                                                            <input name="signboard.svAddress.region" value="HK" checked="checked" disabled="disabled" type="radio">
                                                            Hong Kong
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="signboard.svAddress.region" value="KLW" disabled="disabled" type="radio">
                                                            Kowloon
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="signboard.svAddress.region" value="NT" disabled="disabled" type="radio">
                                                            New Territories
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        District :
                                                    </th>
                                                    <td class="fField">
                                                        WAN CHAI
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        RVD No. :
                                                    </th>
                                                    <td class="fField">

                                                        <br>
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
					</div>
					<br>

					
					<div class="sList">
                        <table class="inputTable">
                            <thead>
                                <tr>
                                    <th colspan="4" class="sTh1">
                                        Privacy Information: Person assigning work (PAW)
                                    </th>
                                </tr>
                                </thead>
                       
                                            <tbody>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Chinese Name :
                                                    </th>
                                                    <td class="fField"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" width="300px">
                                                        English Name :
                                                    </th>
                                                    <td class="fField"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Identity No.&nbsp; :
                                                    </th>
                                                    <td class="fField" valign="top">

                                                        <br>
                                                        <label>
                                                            <input name="paw.idType" value="1" checked="checked" disabled="disabled" type="radio">

                                                            HKID No.
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="paw.idType" value="2" disabled="disabled" type="radio">
                                                            Passport No.
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="paw.idType" value="3" disabled="disabled" type="radio">
                                                            Business Registration No.
                                                        </label>
                                                        <br>
                                                        Country of Issue :


                                                    </td>
                                                </tr>
</tbody>
                            </table>
                                                        <table class="inputTable">
                                                            <thead>
                                                                  <tr>
                                                    <th style="text-align: left" colspan="4" class="fLabel">
                                                        Correspondence Address:
                                                    </th>
                                                </tr>
                                             
                                                            </thead>
                                                            <tbody>
                                                                <tr>

                                                                    <th class="fLabel" style="width : 34%">
                                                                        Flat/Room :

                                                                    </th>

                                                                    <td class="fLabel" style="width : 34%">
                                                                        Floor :

                                                                    </td>
                                                                    <td class="fField"></td>
                                                                    <td class="fLabel" style="width : 34%">
                                                                        Block :

                                                                    </td>
                                                                    <td class="fField"></td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width : 34%">
                                                                        Street/Road/Village :
                                                                    </th>
                                                                    <td colspan="3" class="fField"></td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width : 34%">
                                                                        Building/Estate :
                                                                    </th>
                                                                    <td colspan="3" class="fField"></td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width : 34%">
                                                                        Street Number :
                                                                    </th>
                                                                    <td colspan="3"class="fField"></td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width : 34%">
                                                                        District :
                                                                    </th>
                                                                    <td colspan="3" class="fField"></tdcolspan="3">
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width : 34%">
                                                                        Region&nbsp; :
                                                                    </th>
                                                                    <td colspan="3"class="fField" valign="top">
                                                                        <label>
                                                                            <input name="paw.svAddress.region" value="HK" checked="checked" disabled="disabled" type="radio">
                                                                            Hong Kong
                                                                        </label>
                                                                        &nbsp;&nbsp;
                                                                        <label>
                                                                            <input name="paw.svAddress.region" value="KLW" disabled="disabled" type="radio">
                                                                            Kowloon
                                                                        </label>
                                                                        &nbsp;&nbsp;
                                                                        <label>
                                                                            <input name="paw.svAddress.region" value="NT" disabled="disabled" type="radio">
                                                                            New Territories
                                                                        </label>
                                                                    </td>
                                                                </tr>
                                                 
                                                                <tr>
                                                                    <th class="fLabel" style="width : 34%">
                                                                        E-mail Address :
                                                                    </th>
                                                                    <td colspan="3" class="fField"></td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width : 34%">
                                                                        Contact No. :
                                                                    </th>
                                                                    <td colspan="3"class="fField"></td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width : 34%">
                                                                        Fax No. :
                                                                    </th>
                                                                    <td colspan="3"class="fField"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
        
					</div>
					<br>
					<div class="sList">
                        <table class="inputTable">
                            <thead>
                                <tr>
                                    <th colspan="4" class="sTh1">
                                        Owner of the Signboard
                                    </th>
                                </tr>
                                </thead>
                           
                                            <tbody>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Chinese Name :
                                                    </th>
                                                    <td class="fField">
                                                        xxxx集團

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" width="300px">
                                                        English Name :
                                                    </th>
                                                    <td class="fField">
                                                        xxx xxx xxx LIMITED
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Identity No.&nbsp; :
                                                    </th>
                                                    <td class="fField" valign="top">
                                                        xxxxx-xxx-xxx-xx-x
                                                        <br>
                                                        <label>
                                                            <input name="signboard.owner.idType" value="1" disabled="disabled" type="radio">

                                                            HKID No.
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="signboard.owner.idType" value="2" disabled="disabled" type="radio">
                                                            Passport No.
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="signboard.owner.idType" value="3" checked="checked" disabled="disabled" type="radio">
                                                            Business Registration No.
                                                        </label>
                                                        <br>
                                                        Country of Issue :


                                                    </td>
                                                </tr>
</tbody>
                                            <thead>



                                                <tr>
                                                    <th style="text-align: left" colspan="2" class="fLabel">
                                                        Correspondence Address:
                                                    </th>
                                                </tr>
                                            </thead>
                            <tbody>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Flat/Room :

                                                    </th>
                                                    <td>
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="fField"></td>
                                                                    <td class="fLabel" style="width : 34%">
                                                                        Floor

                                                                    </td>
                                                                    <td class="fField">
                                                                        xx/F
                                                                    </td>
                                                                    <td class="fLabel" style="width : 34%">
                                                                        Block

                                                                    </td>
                                                                    <td class="fField"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Street/Road/Village :
                                                    </th>
                                                    <td class="fField">
                                                        xxx xxx STREET
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Building/Estate :
                                                    </th>
                                                    <td class="fField">
                                                        ISLAND CENTRE
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Street Number :
                                                    </th>
                                                    <td class="fField">
                                                        1
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        District :
                                                    </th>
                                                    <td class="fField">
                                                        CAUSEWAY BAY
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Region&nbsp; :
                                                    </th>
                                                    <td class="fField" valign="top">
                                                        <label>
                                                            <input name="signboard.owner.svAddress.region" value="HK" checked="checked" disabled="disabled" type="radio">
                                                            Hong Kong
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="signboard.owner.svAddress.region" value="KLW" disabled="disabled" type="radio">
                                                            Kowloon
                                                        </label>
                                                        &nbsp;&nbsp;
                                                        <label>
                                                            <input name="signboard.owner.svAddress.region" value="NT" disabled="disabled" type="radio">
                                                            New Territories
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fField" colspan="2"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        E-mail Address :
                                                    </th>
                                                    <td class="fField"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Contact No. :
                                                    </th>
                                                    <td class="fField">
                                                        xxxxxxxx
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" style="width : 34%">
                                                        Fax No. :
                                                    </th>
                                                    <td class="fField">
                                                        xxxxxxxx
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
					</div>
						<br>
					<div class="sList">
                        <table class="inputTable">
                            <thead>
                                <tr>
                                    <th colspan="4" class="sTh1">
                                        Particulars of the corresponding Owner's Corporation or Property Management Company when common areas may be involved by the works to be carried out
                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Chinese Name :
                                    </th>
                                    <td class="fField"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" width="300px">
                                        English Name :
                                    </th>
                                    <td class="fField"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Identity No.&nbsp; :
                                    </th>
                                    <td class="fField" valign="top">

                                        <br>
                                        <label>
                                            <input name="io.idType" value="1" checked="checked" disabled="disabled" type="radio">

                                            HKID No.
                                        </label>
                                        &nbsp;&nbsp;
                                        <label>
                                            <input name="io.idType" value="2" disabled="disabled" type="radio">
                                            Passport No.
                                        </label>
                                        &nbsp;&nbsp;
                                        <label>
                                            <input name="io.idType" value="3" disabled="disabled" type="radio">
                                            Business Registration No.
                                        </label>
                                        <br>
                                        Country of Issue :


                                    </td>
                                </tr>

                            </tbody>
                            <thead>
                                <tr>
                                    <th style="text-align: left" colspan="2" class="fLabel">
                                        Correspondence Address:
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Flat/Room :

                                    </th>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="fField"></td>
                                                    <td class="fLabel" style="width : 34%">
                                                        Floor

                                                    </td>
                                                    <td class="fField"></td>
                                                    <td class="fLabel" style="width : 34%">
                                                        Block

                                                    </td>
                                                    <td class="fField"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Street/Road/Village :
                                    </th>
                                    <td colspan="3" class="fField"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Building/Estate :
                                    </th>
                                    <td colspan="3" class="fField"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Street Number :
                                    </th>
                                    <td colspan="3" class="fField"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        District :
                                    </th>
                                    <td colspan="3" class="fField"></tdcolspan="3">
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Region&nbsp; :
                                    </th>
                                    <td colspan="3" class="fField" valign="top">
                                        <label>
                                            <input name="io.svAddress.region" value="HK" checked="checked" disabled="disabled" type="radio">
                                            Hong Kong
                                        </label>
                                        &nbsp;&nbsp;
                                        <label>
                                            <input name="io.svAddress.region" value="KLW" disabled="disabled" type="radio">
                                            Kowloon
                                        </label>
                                        &nbsp;&nbsp;
                                        <label>
                                            <input name="io.svAddress.region" value="NT" disabled="disabled" type="radio">
                                            New Territories
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fField" colspan="2"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        E-mail Address :
                                    </th>
                                    <td class="fField"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Contact No. :
                                    </th>
                                    <td class="fField"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Fax No. :
                                    </th>
                                    <td class="fField"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Name of the representative of the prescribed registered contractor appointed
                                        :
                                    </th>
                                    <td class="fField"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Contact No. :
                                    </th>
                                    <td class="fField"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Name of the representative of the prescribed building professional appointed
                                        :
                                    </th>
                                    <td class="fField"></td>
                                </tr>
                                <tr>
                                    <th class="fLabel" style="width : 34%">
                                        Contact No. :
                                    </th>
                                    <td class="fField"></td>
                                </tr>
                                </tbody>
                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
					</div>
					
					
					<br>

					<div class="sList">
                        <table class="resultTable">
                            <thead>
                                <tr>
                                    <th class="fLabel" style="width: 250px;">
                                        DSN Number
                                    </th>
                                    <th class="fLabel" style="width: 250px;">
                                       Descriptions
                                    </th>
                                    <th class="fLabel" style="width: 50px;">
                                        Image
                                    </th>

                                </tr>
                            <tbody>

                                <tr class="sRow2">
                                    <td class="sCell">D0000002121</td>
                                    <td class="sCell">SC01- Full Scan and Result</td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="images/ico_view_img.gif" onclick="openFile('8a85bda64a76fd9c014c591ac0ce7b9d')">

                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell">D0000001158</td>
                                    <td class="sCell">A3 plans</td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="images/ico_view_img.gif" onclick="openFile('8a85bda64358197e0143d1ff060b55c0')">

                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell">D0000001157</td>
                                    <td class="sCell"></td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="images/ico_view_img.gif" onclick="openFile('8a85bda64358197e0143d1fe571755bf')">

                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell">D0000001156</td>
                                    <td class="sCell"></td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="images/ico_view_img.gif" onclick="openFile('8a85bda64358197e0143d1fc069855be')">

                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell">D0000001155</td>
                                    <td class="sCell"></td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="images/ico_view_img.gif" onclick="openFile('8a85bda64358197e0143d1f42ba755b9')">

                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell">D0000000464</td>
                                    <td class="sCell">SC01</td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="images/ico_view_img.gif" onclick="openFile('8a85bda64358197e014394c222063db0')">

                                    </td>
                                </tr>


                            </tbody>
                        </table>
					</div>
					<br>
					<div class="sList">
                        <table class="resultTable">
                            <thead>
                                <tr class="sRow2">
                                    <th class="sTh2">
                                        Photo Library Description
                                    </th>
                                    <th class="sTh2">
                                        View Image (URL)
                                    </th>
                                </tr>
                                </thead>
                            <tbody>
                                <tr class="sRow1">
                                    <td class="sCell">
                                        _
                                    </td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openPhotoLibFile('8a85bda64358197e014394c1e0073da2')">

                                    </td>

                                </tr>


                            </tbody>
                        </table>
					</div>
					<br>
					



    <div id="signboardRelation" class="sList">
      <table >
        <tbody><tr>
          <td class="sTh">
            Related Signboards of the Signboard
          </td>
        </tr>
        <tr>
          <td>
            <div class="sList">
              <table class="resultTable">
                
              </table>
            </div>
          </td>
        </tr>
      </tbody></table>
    </div>



					<br>

					<div class="sList">
						
					</div>
					<br>

					<div class="sList">
						
					</div>
					<br>

					<div class="sList">
						
					</div>



					<br>
					<div class="btnSet btnSetTypeA">
						<div class="right">
							<input class="inputButton" id="" name="" value="Back"  onclick="loadContentPage('SMM0205')" type="button">
						</div>
					</div>
				</td>

			</tr>
		</tbody></table>
	</div>
</form>