    
<form action="javascript:void(0)" id="RecepitHandle">
    <table class="inputTable" style="width:100%">
        <tr>
            <th>Issue Letter :</th>
            <td>2</td>
        </tr>
        <tr>
            <th>Validation :</th>
            <td>2</td>
        </tr>

        <tr>
            <th>Audit :</th>
            <td>3</td>
        </tr>
        <tr>
            <th>Report to SCU :</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Enquiry to SCU :</th>
            <td>0</td>
        </tr>

    </table>

</form>

<br />
<h5 style="color:darkcyan">Issue Letter</h5>
<table id="t01" class="resultTable" style="width:100%">
    <thead>
    <tr>
        <th>Task</th>
        <th>Submission No.</th>
        <th>Form Code</th>
        <th>Received Date</th>
        <th>Target Date</th>
        <th>Assignment Date</th>
        <th>Status</th>
    </tr>
        </thead>
    <tr>
        <td>TO Issue Letter</td>
        <td><a href ="javascript:loadContentPage('SMM0201b')">SC16040012</a></td>
        <td>SC02C</td>
        <td>17/05/2018</td>
        <td>22/05/2018</td>
        <td>17/05/2018</td>
        <td>Open</td>
    </tr>
    <tr>
        <td>TO Issue Letter</td>
        <td><a href ="javascript:loadContentPage('SMM0201b')">SC16040013</a></td>
        <td>SC02C</td>
        <td>18/05/2018</td>
        <td>24/05/2018</td>
        <td>18/05/2018</td>
        <td>Open</td>
    </tr>
</table>
<br />
<h5 style="color:darkcyan">Validation</h5>
<table id="t01" class="resultTable" style="width:100%">
    <thead>
    <tr>
        <th>Task</th>
        <th>Submission No.</th>
        <th>Form Code</th>
        <th>Received Date</th>
        <th>Target Date</th>
        <th>Assignment Date</th>
        <th>Status</th>
    </tr>
        </thead>
    <tr>
        <td>PO Validation</td>
        <td><a href ="javascript:loadContentPage('SMM0201a')">SC16040012</a></td>
        <td>SC02C</td>
        <td>17/05/2018</td>
        <td>22/05/2018</td>
        <td>17/05/2018</td>
        <td>Open</td>
    </tr>
    <tr>
        <td>PO Validation</td>
        <td><a href="javascript:loadContentPage('SMM0201a')">SC111111111111</a></td>
        <td>SC02C</td>
        <td>18/05/2018</td>
        <td>24/05/2018</td>
        <td>18/05/2018</td>
        <td>Open</td>
    </tr>
</table>
<br />
<h5 style="color:darkcyan">Audit</h5>
<table id="t01" class="resultTable" style="width:100%">
    <thead>
    <tr>
        <th>Task</th>
        <th>Submission No.</th>
        <th>Form Code</th>
        <th>Received Date</th>
        <th>Target Date</th>
        <th>Assignment Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tr>
        <td>TO Audit</td>
        <td><a href ="javascript:loadContentPage('SMM0201c')">SC16040012</a></td>
        <td>SC02C</td>
        <td>17/05/2018</td>
        <td>22/05/2018</td>
        <td>17/05/2018</td>
        <td></td>
    </tr>
    <tr>
        <td>TO Audit</td>
        <td><a href ="javascript:loadContentPage('SMM0201c')">SC16040013</a></td>
        <td>SC02C</td>
        <td>18/05/2018</td>
        <td>24/05/2018</td>
        <td>18/05/2018</td>
        <td></td>
    </tr>
</table>

<!--<!--<br />
<h6><a href ="javascript:loadContentPage('SMM0201b')">Government Contractor Action Record in BCIS :</a> 0</h6>
<h6><a href ="javascript:loadContentPage('SMM0201b')">Order/DSN :</a> 0</h6>
<br />
<h5 style="color:darkcyan">Report to SCU</h5>
<table id="t01" style="width:100%">

    <tr>
        <th>Task</th>
        <th>Submission No.</th>
        <th>Form Code</th>
        <th>Received Date</th>
        <th>Target Date</th>
        <th>Assignment Date</th>
        <th>Status</th>
    </tr>

</table>
<br />
<h5 style="color:darkcyan">Enquiry to SCU</h5>
<table id="t01" style="width:100%">

    <tr>
        <th>Task</th>
        <th>Submission No.</th>
        <th>Form Code</th>
        <th>Received Date</th>
        <th>Target Date</th>
        <th>Assignment Date</th>
        <th>Status</th>
    </tr>

</table>-->

