
    <table id="Table2" style="BORDER-BOTTOM: #dedfde 1px solid" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td valign="top">

                    <h3>
                        Signboard Search
                    </h3>
                    <div class="sList">
                        <table class="inputTable">
                            <thead>
                                <tr>
                                    <th colspan="6" class="sTh1">
                                        Criteria
                                    </th>
                                </tr>
                                </thead>
                          
                                                            <tbody>
                                                                <tr>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        Submission Number :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchSignboardNo" value="" id="searchSignboardNo" style="width: 200px;" class="inputText" type="text">
                                                                    </td>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        MW Submission Number :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchMwSubmissionNo" value="" id="searchMwSubmissionNo" style="width: 200px;" class="inputText" type="text">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        File Reference (4+2) :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchFourTwo" value="" id="searchFourTwo" style="width: 200px;" class="inputText" type="text">
                                                                    </td>

                                                                    <th class="fLabel" style="width: 20%">
                                                                        Validation Submission No. :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchValidationNo" value="" id="searchValidationNo" style="width: 200px;" class="inputText" type="text">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        Record Type . :
                                                                    </th>
                                                                    <td colspan="3" class="fField" style="width: 30%">
                                                                        <select name="searchRecordType" id="searchRecordType" style="width: 150px;">
                                                                            <option value="" selected="selected"></option>
                                                                            <option value="VALIDATED">Validation</option>
                                                                            <option value="NOT_VALIDATED">New Item</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                               


                                <tr class="sRow2">
                                    <td class="sCell" style="padding: 0px;">
             
                                                        <table class="inputTable">
                                                            <tbody>
                                                                <tr>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        Facade :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchFacade" value="" id="searchFacade" class="inputText" type="text">
                                                                    </td>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        Type :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchType" value="" id="searchType" class="inputText" type="text">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        Bottom fixing at Floor :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchBottom" value="" id="searchBottom" class="inputText" type="text">
                                                                    </td>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        Top fixing at Floor :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchTop" value="" id="searchTop" class="inputText" type="text">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        Display Area (m
                                                                        <sup>
                                                                            2
                                                                        </sup>
                                                                        ) :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchDisplayArea" value="" id="searchDisplayArea" class="inputText" type="text">
                                                                    </td>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        Projection (m) :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchProjection" value="" id="searchProjection" class="inputText" type="text">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        Height of Signboard (m) :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchHeight" value="" id="searchHeight" class="inputText" type="text">
                                                                    </td>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        Clearance above ground (m) :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchClearance" value="" id="searchClearance" class="inputText" type="text">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        LED/TV :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <select name="searchLed" id="searchLed" style="width: 150px;">
                                                                            <option value="" selected="selected"></option>
                                                                            <option value="Y">Yes</option>
                                                                            <option value="N">No</option>
                                                                            <option value="N/A">N/A</option>
                                                                        </select>
                                                                    </td>
                                                                    <th class="fLabel" style="width: 20%">
                                                                        Building Portion :
                                                                    </th>
                                                                    <td class="fField" style="width: 30%">
                                                                        <input name="searchBuildingPortion" value="" id="searchBuildingPortion" class="inputText" type="text">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                          

                                <tr class="sRow2">
                                    <td class="sCell" style="padding: 0px;">
                                        <table class="inputTable">
                                            <thead>
                                                <tr>
                                                    <th class="sTh2" colspan="2">
                                                        Signboard Location
                                                    </th>
                                                </tr>
                                            </thead>
                                         
                                            <tbody>
                                                <tr>
                                                    <th class="fLabel" width="30%">
                                                        Street Name :
                                                    </th>
                                                    <td class="fField">
                                                        <input name="searchStreetName" value="" id="searchStreetName" style="width: 200px;" class="inputText autoComplete ac_input" alt="minChars:1;type:streetName" autocomplete="off" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" width="30%">
                                                        Street No. :
                                                    </th>
                                                    <td class="fField">
                                                        <input name="searchStreetNo" value="" id="searchStreetNo" style="width: 200px;" class="inputText autoComplete ac_input" alt="minChars:1;type:streetNumber;streetName:searchStreetName;displayFill:bracket;fill:searchBuildingName" autocomplete="off" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" width="30%">
                                                        Building/Block :
                                                    </th>
                                                    <td class="fField">
                                                        <input name="searchBuildingName" value="" id="searchBuildingName" style="width: 200px;" class="inputText" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" width="30%">
                                                        District :
                                                    </th>
                                                    <td class="fField">
                                                        <input name="searchDistrict" value="" id="searchDistrict" style="width: 300px;" class="inputText" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel" width="30%">
                                                        Region :
                                                    </th>
                                                    <td class="fField">
                                                        <select name="searchRegion" id="searchRegion" class="inputSelect" style="width:auto">
                                                            <option value="" selected="selected">All</option>
                                                            <option value="HK">Hong Kong</option>
                                                            <option value="KLW">Kowloon</option>
                                                            <option value="NT">New Territories</option>
                                                        </select>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th class="fLabel" width="30%">
                                                        BCIS Area Code :
                                                    </th>
                                                    <td class="fField">
                                                        <select name="searchAreaCode" id="searchAreaCode" class="inputSelect" style="width:auto">
                                                            <option value="" selected="selected">All</option>

                                                            <option value="R01">R01 - Kowloon City</option>

                                                            <option value="R09">R09 - WhamPoa</option>

                                                            <option value="A">A - Islands</option>

                                                            <option value="B">B - NT North</option>

                                                            <option value="C">C - Sai Kung</option>

                                                            <option value="D">D - Shatin</option>

                                                            <option value="E">E - Tai Po</option>

                                                            <option value="F">F - Tsuen Wan</option>

                                                            <option value="G">G - Tuen Mun</option>

                                                            <option value="H">H - Yuen Long</option>

                                                            <option value="J">J - Kwai Tsing</option>

                                                            <option value="M">M - Central and West HK</option>

                                                            <option value="N">N - Wanchai</option>

                                                            <option value="P">P - East HK</option>

                                                            <option value="Q">Q - South HK</option>

                                                            <option value="R">R - Tokwawan</option>

                                                            <option value="S">S - Kung Tong</option>

                                                            <option value="T">T - Mongkok Taikoktsui</option>

                                                            <option value="U">U - Shamshuipo</option>

                                                            <option value="V">V - Wongtaisin</option>

                                                            <option value="W">W - Yaumatei, Tsimshatsui</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">
                                                        Signboard Owner :   
                                                    </th>
                                                    <td class="fField">
                                                        <input name="searchSignboardOwner" value="" id="searchSignboardOwner" style="width: 300px;" class="inputText" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">
                                                        PAW :
                                                    </th>
                                                    <td class="fField">
                                                        <input name="searchPaw" value="" id="searchPaw" style="width: 300px;" class="inputText" type="text">
                                                    </td>
                                                </tr>
                                   
                                                <tr>
                                                    <th class="fLabel" width="30%">
                                                        Source of Information :
                                                    </th>

                                                    <td class="fField" style="width: 70%">
                                                        <input name="arrSouceOfInformation" id="sourceOfInformation_0" value="" type="checkbox">All
                                                        <br>


                                                        <input name="arrSouceOfInformation" id="sourceOfInformation_1" value="SMM_VALIDATION" type="checkbox">SMM's inputted validation records
                                                        <br>


                                                        <input name="arrSouceOfInformation" id="sourceOfInformation_2" value="SMM_NEW" type="checkbox">SMM's inputted new item records
                                                        <br>


                                                        <input name="arrSouceOfInformation" id="sourceOfInformation_3" value="PEM" type="checkbox">PEM's signboard related Minor Works records
                                                        <br>


                                                        <input name="arrSouceOfInformation" id="sourceOfInformation_4" value="BRAVO" type="checkbox">BRAVO's approved signboard records with completion acknowledged
                                                        <br>


                                                        <input name="arrSouceOfInformation" id="sourceOfInformation_5" value="BDIS" type="checkbox">BDIS's approved signboard records
                                                        <br>


                                                        <input name="arrSouceOfInformation" id="sourceOfInformation_6" value="WPLS" type="checkbox">WPLS's signboard records
                                                        <br>


                                                        <input name="arrSouceOfInformation" id="sourceOfInformation_7" value="BCIS" type="checkbox">BCIS's signboard records
                                                        <br>

                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <input class="inputButton" id="" name="" value="Search" onclick="searchSMM()" type="submit">
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </td>
                                </tr>




    <div class="btnSet btnSetTypeA">
        <div class="right">
          
        </div>
    </div>
    <br>

    <table id="SMMHideDiv" class="resultTable hide">
        <thead>
            <tr>
                <th class="sTh1" colspan="15">
                    Result
                </th>
            </tr>
            <tr class="grid-header" style="height: 19px;">
                <th class="sTh">
                    Thumbnail
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="signboardNo" href="javascript:setSort('signboardNo', '', '')">
                        Submssion
                        No
                    </a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="chineseName" href="javascript:setSort('chineseName', '', '')">
                        Chinese
                        Name
                    </a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="englishName" href="javascript:setSort('englishName', '', '')">
                        English
                        Name
                    </a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="address" href="javascript:setSort('address', '', '')">Address of Signboard Owner</a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="buildingName" href="javascript:setSort('buildingName', '', '')">
                        Building
                        Name
                    </a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="streetName" href="javascript:setSort('streetName', '', '')">
                        Street
                        Name
                    </a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="streetNo" href="javascript:setSort('streetNo', '', '')">
                        Street
                        No
                    </a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="facade" href="javascript:setSort('facade', '', '')">Facade</a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="type" href="javascript:setSort('type', '', '')">Type</a>
                </th>
                <!--<th class="sTh">
                Bottom fixing at Floor
            </th>
            <th class="sTh">
                Top fixing at Floor
            </th>
            <th class="sTh">
                Display Area
            </th>
            <th class="sTh">
                Projection
            </th>-->
                <th class="sTh">
                    <a class="columnHead" sort="heightOfSignboard" href="javascript:setSort('heightOfSignboard', '', '')">
                        Height
                        of Signboard
                    </a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="clearanceFromGround" href="javascript:setSort('clearanceFromGround', '', '')">
                        Clearance
                        from Ground
                    </a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="led" href="javascript:setSort('led', '', '')">LED/TV</a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="buildingPortion" href="javascript:setSort('buildingPortion', '', '')">
                        Building
                        Portion
                    </a>
                </th>
                <th class="sTh">
                    <a class="columnHead" sort="removalDate" href="javascript:setSort('removalDate', '', '')">Signboard Removal Date</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="sRow1">
                <td class="sCell">

                    <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0001/14" alt="SC01-0001/14" width="200">

                </td>
                <td class="sCell" nowrap="nowrap">

                    <a href='javascript:loadContentPage("SMM0205a")'>SC01-0001/14</a>

                </td>

                <td class="sCell">xx地產集團</td>
                <td class="sCell">xx PROPERTIES HOLDINGS LIMITED</td>
                <td class="sCell">26/F  xx CENTRE 1 xx xx STREET CAUSEWAY BAY</td>
                <td class="sCell">xx xx</td>
                <td class="sCell">xx xx STREET</td>
                <td class="sCell">1</td>
                <td class="sCell"></td>
                <td class="sCell">1. Shop Front</td>
                <!--<td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>-->
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell">Y</td>
                <td class="sCell"></td>
                <td class="sCell"></td>

            </tr>
            <tr class="sRow2">
                <td class="sCell">

                    <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0001/15" alt="SC01-0001/15" width="200">

                </td>
                <td class="sCell" nowrap="nowrap">

                    <a href='javascript:loadContentPage("SMM0205a")'>SC01-0001/15</a>

                </td>

                <td class="sCell">xxx有限公司</td>
                <td class="sCell">xxx(HK)Ltd</td>
                <td class="sCell">荃灣 xx道  xxxx</td>
                <td class="sCell">xx商場</td>
                <td class="sCell">xx道</td>
                <td class="sCell">24</td>
                <td class="sCell"></td>
                <td class="sCell">xxx</td>
                <!--<td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>-->
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell">Y</td>
                <td class="sCell"></td>
                <td class="sCell"></td>

            </tr>
            <tr class="sRow1">
                <td class="sCell">

                    <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0002/15" alt="SC01-0002/15" width="200">

                </td>
                <td class="sCell" nowrap="nowrap">

                    <a href='javascript:loadContentPage("SMM0205a")'>SC01-0002/15</a>

                </td>

                <td class="sCell">xxx有限公司</td>
                <td class="sCell">xxx(HK)Ltd</td>
                <td class="sCell">荃灣 xx道xxx</td>
                <td class="sCell">xx商場</td>
                <td class="sCell">xxx道</td>
                <td class="sCell">24</td>
                <td class="sCell"></td>
                <td class="sCell">1. Shop Front</td>
                <!--<td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>-->
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell">Y</td>
                <td class="sCell"></td>
                <td class="sCell"></td>

            </tr>
            <tr class="sRow2">
                <td class="sCell">

                    <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0003/15" alt="SC01-0003/15" width="200">

                </td>
                <td class="sCell" nowrap="nowrap">

                    <a href='javascript:loadContentPage("SMM0205a")'>SC01-0003/15</a>

                </td>

                <td class="sCell">xxx有限公司</td>
                <td class="sCell">xxx(HK)Ltd</td>
                <td class="sCell">荃灣 德xx道xxx</td>
                <td class="sCell">xxd>
                <td class="sCell">xxx古道</td>
                <td class="sCell">24</td>
                <td class="sCell"></td>
                <td class="sCell">1. Shop Front</td>
                <!--<td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>-->
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell">Y</td>
                <td class="sCell"></td>
                <td class="sCell"></td>

            </tr>
            <tr class="sRow1">
                <td class="sCell">

                    <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0004/15" alt="SC01-0004/15" width="200">

                </td>
                <td class="sCell" nowrap="nowrap">

                    <a href='javascript:loadContentPage("SMM0205a")'>SC01-0004/15</a>

                </td>

                <td class="sCell">xxx有限公司</td>
                <td class="sCell">xxx(HK)Ltd</td>
                <td class="sCell">荃灣 xx道 1/9 xx商場  G/F</td>
                <td class="sCell">xx商場</td>
                <td class="sCell">xx道</td>
                <td class="sCell">24</td>
                <td class="sCell"></td>
                <td class="sCell">1. Shop Front</td>
                <!--<td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>-->
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell">Y</td>
                <td class="sCell"></td>
                <td class="sCell"></td>

            </tr>
            <tr class="sRow2">
                <td class="sCell">

                    <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0005/15" alt="SC01-0005/15" width="200">

                </td>
                <td class="sCell" nowrap="nowrap">

                    <a href='javascript:loadContentPage("SMM0205a")'>SC01-0005/15</a>

                </td>

                <td class="sCell">xxx有限公司</td>
                <td class="sCell">xxx(HK)Ltd</td>
                <td class="sCell">荃灣 xx道 1/9 xx商場  G/F</td>
                <td class="sCell">xx商場</td>
                <td class="sCell">xx道</td>
                <td class="sCell">24</td>
                <td class="sCell"></td>
                <td class="sCell">1. Shop Front</td>
                <!--<td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>-->
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell">Y</td>
                <td class="sCell"></td>
                <td class="sCell"></td>

            </tr>
            <tr class="sRow1">
                <td class="sCell">

                    <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0006/15" alt="SC01-0006/15" width="200">

                </td>
                <td class="sCell" nowrap="nowrap">

                    <a href='javascript:loadContentPage("SMM0205a")'>SC01-0006/15</a>

                </td>

                <td class="sCell">x記xxx</td>
                <td class="sCell">xx KEE</td>
                <td class="sCell">xxx WORKINGFIELD COMMERCIAL BUILDING 408/412 JAFFE ROAD WAN CHAI</td>
                <td class="sCell">xx商業大廈</td>
                <td class="sCell">xx道</td>
                <td class="sCell">408/412</td>
                <td class="sCell"></td>
                <td class="sCell">1. Shop Front</td>
                <!--<td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>-->
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell">Y</td>
                <td class="sCell"></td>
                <td class="sCell"></td>

            </tr>
            <tr class="sRow2">
                <td class="sCell">

                    <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0007/15" alt="SC01-0007/15" width="200">

                </td>
                <td class="sCell" nowrap="nowrap">

                    <a href='javascript:loadContentPage("SMM0205a")'>SC01-0007/15</a>

                </td>

                <td class="sCell">xxxxxx</td>
                <td class="sCell">xxxx TATTOO</td>
                <td class="sCell">xxx CARNARVON ROAD 尖沙咀</td>
                <td class="sCell">xx大廈</td>
                <td class="sCell">加拿分道</td>
                <td class="sCell">33</td>
                <td class="sCell"></td>
                <td class="sCell">1. Shop Front</td>
                <!--<td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>-->
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell">Y</td>
                <td class="sCell"></td>
                <td class="sCell"></td>

            </tr>
            <tr class="sRow1">
                <td class="sCell">

                    <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0008/15" alt="SC01-0008/15" width="200">

                </td>
                <td class="sCell" nowrap="nowrap">

                    <a href='javascript:loadContentPage("SMM0205a")'>SC01-0008/15</a>

                </td>

                <td class="sCell">xxx有限公司</td>
                <td class="sCell">xxx Limited</td>
                <td class="sCell">xxx YU CHAU STREET Sham Shui Po</td>
                <td class="sCell"></td>
                <td class="sCell">YU CHAU STREET</td>
                <td class="sCell">223</td>
                <td class="sCell"></td>
                <td class="sCell">1. Shop Front</td>
                <!--<td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>-->
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell">Y</td>
                <td class="sCell"></td>
                <td class="sCell"></td>

            </tr>
            <tr class="sRow2">
                <td class="sCell">

                    <img src="common.do?method=viewSignboardThumbnail&amp;recordID=SC01-0009/15" alt="SC01-0009/15" width="200">

                </td>
                <td class="sCell" nowrap="nowrap">

                    <a href='javascript:loadContentPage("SMM0205a")'>SC01-0009/15</a>

                </td>

                <td class="sCell">xxx</td>
                <td class="sCell">xxx KITCHEN</td>
                <td class="sCell">深水埗區 青山道 xxx xxxx xxx</td>
                <td class="sCell">xx大廈</td>
                <td class="sCell">青山道</td>
                <td class="sCell">xxx</td>
                <td class="sCell"></td>
                <td class="sCell">1. Shop Front</td>
                <!--<td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>
            <td class="sCell"></td>-->
                <td class="sCell"></td>
                <td class="sCell"></td>
                <td class="sCell">Y</td>
                <td class="sCell"></td>
                <td class="sCell"></td>


            </tr>
        </tbody>
    </table>







     
