<form name="TaskForm" id="taskForm" method="post" action="/SMM/task.do">
    <input name="toDoID" value="" id="toDoID" type="hidden">
    <input name="uuid" value="8a85bda64cb02885014d513b4527312e" id="uuid" type="hidden">
    <input name="editMode" value="edit" id="editMode" type="hidden">

    <h3>
        Audit
        <br>
    </h3>

    <div style="text-align: right; width: 100%;">
        Last Modified Date:
        14/05/2015 03:02 PM
    </div>
    <div style="text-align: right; width: 100%;">
        Last Modified By:
        SESC3
    </div>


    <div class="sList" id="caseInfo">
        <table class="inputTable">
            <thead>
                <tr>
                    <th colspan="4" class="sTh">
                        Submission Information
                    </th>
                </tr>
                </thead>

                            <tbody>
                                <tr>
                                    <th class="fLabel" style="width: 20%" valign="top">
                                        Submission No. :
                                    </th>
                                    <td class="fText" style="width: 20%">
                                        SC10-0001/13
                                    </td>
                                    <th class="fLabel" style="width: 20%" valign="top">
                                        Form Code :
                                    </th>
                                    <td class="fText">
                                        SC02
                                    </td>
                                </tr>
                                <tr>
                                    <th class="fLabel" valign="top">
                                        Received Date :
                                    </th>
                                    <td class="fText">
                                        02/10/2013
                                    </td>
                                    <th class="fLabel" valign="top">
                                        Location/Address of the Signboard :
                                    </th>
                                    <td class="fText">
                                        元朗區 xxxx
                                    </td>
                                </tr>
                            </tbody>
                        </table>
           
    </div>
    <br>
    <div class="sList" id="mwItemInfo">
        <table class="resultTable">

            <thead>
                <tr>
                    <th colspan="4" class="sTh1">
                        Details of the Minor Work
                    </th>
                </tr>
        
                                    <tr class="sRow2">
                                        <th class="sTh2" style="width: 100px">
                                            Minor Work item
                                        </th>
                                        <th class="sTh2">
                                            Description
                                        </th>
                                        <th class="sTh2">
                                            Relevant Order/ Direction/ Notice No./ BD Reference No.
                                        </th>
                                    </tr>
                                    </thead>
                                <tbody>
                                    <tr class="sRow1">
                                        <td class="sCell">
                                            2.19
                                        </td>
                                        <td class="sCell">
                                            改動靠牆招牌
                                        </td>
                                        <td class="sCell"></td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <br>
    <div id="pbpInfo" class="sList">

        <table class="resultTable">
            <thead>
                <tr>
                    <th colspan="4" class="sTh1">
                        Particulars of PBP
                    </th>
                    <!-- <th class="sTh1">
              Result
            </th>-->
                </tr>
     
                <tr class="sRow2">
                    <th class="sTh2">
                        PBP
                    </th>
                    <th class="sTh2">
                        Certification of Registration No.
                    </th>
                    <th class="sTh2">
                        English Name
                    </th>
                    <th class="sTh2">
                        Chinese Name
                    </th>
                    <!--    <th class="sTh2">
              Name of PBP
            </th>-->
                </tr>
                </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell">
                        AP&nbsp;
                    </td>
                    <td class="sCell"></td>
                    <td class="sCell"></td>
                    <td class="sCell"></td>
                </tr>
                <tr class="sRow2">
                    <td class="sCell">
                        RSE&nbsp;
                    </td>
                    <td class="sCell"></td>
                    <td class="sCell"></td>
                    <td class="sCell"></td>
                </tr>
                <tr class="sRow2">
                    <td class="sCell">
                        RGE
                    </td>
                    <td class="sCell"></td>
                    <td class="sCell"></td>
                    <td class="sCell"></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div id="prcInfo" class="sList">
 
        <table class="resultTable">
            <thead>
                <tr>
                    <th colspan="5" class="sTh1">
                        Particulars of PRC
                    </th>
                    <!-- <th class="sTh1">
              Result
            </th> -->
                </tr>
                <tr class="sRow2">
                    <th class="sTh2">
                        Certification of Registration No.
                    </th>
                    <th class="sTh2">
                        English Name of PRC
                    </th>
                    <th class="sTh2">
                        Chinese Name of PRC
                    </th>
                    <!-- <th style="width: 120px" class="sTh2">
              Name of PRC
            </th> -->
                    <th class="sTh2">
                        English Name of AS
                    </th>
                    <th class="sTh2">
                        Chinese Name of AS
                    </th>
                    <!--   <th style="width: 120px" class="sTh2">
              Name of AS
            </th>-->
                </tr>

                </thead>
            <tbody>
                <tr class="sRow2">
                    <td class="sCell">
                        MWC 2536/2010


                    </td>
                    <td class="sCell">
                       xx COMPANY
                    </td>
                    <td class="sCell">
                        xx公司
                    </td>
                    <td class="sCell">
                        WONG xx
                    </td>
                    <td class="sCell">
                        黃xx
                    </td>
                </tr>
            </tbody>
        </table>
          
    </div>
    <!-- ************************************************** -->
    <!-- End                                                -->
    <!-- Particulars of PRC                                 -->
    <!--                                                    -->
    <!-- ************************************************** -->
    <br>
    <div class="sList" id="submittedDoc">
        <table class="resultTable">
            <thead>
                <tr>
                    <th class="sTh1">
                        Incoming Document
                    </th>
                </tr>
                </thead>
            <tbody>
                <tr class="sRow2">
                    <td>
                        <table class="resultTable" id="SMM0201cTable">
                            <thead>
                                <tr class="sRow2">
                                    <th class="sTh2">
                                        DSN Number
                                    </th>
                                    <th class="sTh2">
                                        Document Type
                                    </th>
                                    <th class="sTh2" style="width: 150px">
                                        Scanned Date
                                    </th>
                                    <th class="sTh2" style="width: 150px">
                                        View Image
                                    </th>
                                    <th class="sTh2" style="width: 150px">
                                        Type
                                    </th>
                                </tr>
                                </thead>
                            <tbody>
                                <tr class="sRow1">
                                    <td class="sCell">
                                        D0000000422
                                    </td>
                                    <td class="sCell">
                                        Form
                                    </td>
                                    <td class="sCell">
                                        08/10/2013
                                    </td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openFile('8a85bda63dc86fd20141770eee160f1e')">

                                    </td>
                                    <td class="sCell">
                                        Private (SCU)
                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell">
                                        D0000000424
                                    </td>
                                    <td class="sCell">
                                        Photo
                                    </td>
                                    <td class="sCell">
                                        08/10/2013
                                    </td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openFile('8a85bda64196d1a50141972cc81a0021')">

                                    </td>
                                    <td class="sCell">
                                        Private (SCU)
                                    </td>
                                </tr>

                                <tr class="sRow1">
                                    <td class="sCell">
                                        D0000000425
                                    </td>
                                    <td class="sCell">
                                        Other
                                    </td>
                                    <td class="sCell">
                                        08/10/2013
                                    </td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openFile('8a85bda64196d1a50141972e4b3d0022')">

                                    </td>
                                    <td class="sCell">
                                        Private (SCU)
                                    </td>
                                </tr>

                                <tr class="sRow2">
                                    <td class="sCell">
                                        D0000002269
                                    </td>
                                    <td class="sCell">
                                        Other
                                    </td>
                                    <td class="sCell">
                                        30/04/2015
                                    </td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openFile('8a85bda64cb02885014d03d63903569a')">

                                    </td>
                                    <td class="sCell">
                                        Private (SCU)
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="sList">
        <table class="resultTable">

            <thead>
                <tr>
                    <th colspan="2" class="sTh1">
                        Photo Library
                    </th>
                </tr>
         
                                    <tr class="sRow2">
                                        <th class="sTh2">
                                            Photo Library Description
                                        </th>
                                        <th class="sTh2">
                                            View Image (URL)
                                        </th>
                                    </tr>
                                    </thead>
                                <tbody>
                                    <tr class="sRow1">
                                        <td class="sCell">
                                            元朗區 xxx
                                        </td>
                                        <td class="sCell">

                                            <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openPhotoLibFile('8a85bda64196d1a50141972622c9001a')">

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="sList">
        <table class="inputTable">
            <thead>
                <tr>
                    <th colspan="4" class="sTh">
                        Audit Information
                    </th>
                </tr>
                </thead>
            <tbody>
              
                                                <tr>
                                                    <th class="fLabel" style="width: 200px">
                                                        Status :
                                                    </th>
                                                    <td class="fField">
                                                        <select name="svAuditRecordDisplay.auditStatus" id="svAuditRecordDisplay.auditStatus"style="width:auto"><option value="Assigned">Assigned</option> <option value="Not yet assign">Not yet assign</option> <option value="Completed (In-order or final action taken)">Completed (In-order or final action taken)</option></select>

                                                    </td>
                                                    <td class="fLabel"></td>
                                                    <td class="fField"></td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">
                                                        Audit Check Officer :
                                                    </th>
                                                    <td class="fField">
                                                        <input name="svAuditRecordDisplay.otherOfficer" value="" id="svAuditRecordDisplay.otherOfficer" class="inputText" type="text">
                                                    </td>
                                                    <th class="fLabel">
                                                        Referral Date :
                                                    </th>
                                                    <td class="fField inputCalendarDivParent">
                                                        <div class="inputCalendarDiv"><input name="svAuditRecordDisplay.referralDate" value="" id="svAuditRecordDisplay.referralDate" class="inputDate" type="text"><img class="ui-datepicker-trigger" src="../images/calendar/calendar_icon.gif" alt="Select Date" title="Select Date"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">
                                                        Remarks :
                                                    </th>
                                                    <td class="fField">
                                                        <input name="svAuditRecordDisplay.remarks" value="" id="svAuditRecordDisplay.remarks" class="inputText" type="text">
                                                    </td>
                                                    <th class="fLabel" style="width: 150px">
                                                        Reply Date :
                                                    </th>
                                                    <td class="fField inputCalendarDivParent">
                                                        <div class="inputCalendarDiv"><input name="svAuditRecordDisplay.replyDate" value="" id="svAuditRecordDisplay.replyDate" class="inputDate" type="text"><img class="ui-datepicker-trigger" src="../images/calendar/calendar_icon.gif" alt="Select Date" title="Select Date"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="fLabel">
                                                        Result :
                                                    </th>
                                                    <td class="fField" colspan="3">
                                                        <input name="svAuditRecordDisplay.auditResultOption" value="Complete" onclick="okResult()" type="radio">
                                                        Completed
                                                        <input name="svAuditRecordDisplay.auditResultOption" value="Not yet complete" onclick="notOkResult()" type="radio">
                                                        Not yet complete
                                                        <br>
                                                        <select style="width:auto" name="svAuditRecordDisplay.auditResult" id="auditResult"></select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fLabel">
                                        <div class="sList">
                                            <input value="Export audit data for mail merge" name="btnNext" id="btnExport" class="inputButton" onclick="exportExcel('SMM0201cTable')" type="button")
                                            <input value="Export audit data for Excel" name="btnExcel" id="btnExcel" class="inputButton"      onclick="exportExcel('SMM0201cTable')" type="button")

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
   
    </div>


    <div class="btnSet btnSetTypeA">
        <div class="right">
           
        </div>
    </div>


</form><table class="inputTable">
    <tfoot>
        <tr>

            <td>
                <input onclick="loadContentPage('SMM0201')"  value="View Comments" class="inputButton" name="btnViewComments" id="btnViewComments" type="button">

                <input class="inputButton" id="btnSaveAsDraft" name="btnSaveAsDraft" value="Save as Draft" onclick="loadContentPage('SMM0201')" type="button">
                <input class="inputButton" id="btnTOSubmit" name="btnTOSubmit" value="TO Confirm Process Complete" onclick="loadContentPage('SMM0201')" type="button">

            </td>
        </tr>
    </tfoot>
</table>