
				<h3>
					Information Page
				</h3>
				<br>
				
                    <table class="inputTable">
                        <thead>
                            <tr>
                                <th colspan="4" class="sTh1">
                                    Validation Information
                                </th>
                            </tr>
                            </thead>
                       
                                                        <tbody>
                                                            <tr>
                                                                <th >
                                                                    Submission No. :
                                                                </th>
                                                                <td >
                                                                    SC01-0001/14

                                                                </td>
                                                                <th>
                                                                    Next Validation Date :
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    RVD No. :
                                                                </th>
                                                                <td colspan="2" ></td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    Location/Address of Signboard :
                                                                </th>
                                                                <td colspan="2" >
                                                                    Exing wall signboard at Grid 8-10/w, Shopping Arcade, Island Centre, UG/F-1/F, 1 Great George Street, Causeway Bay, H.K. I.L.470S.A.SS.S.C.<br>
                                                                    ISLAND BEVERLEY 1 GREAT GEORGE STREET WAN CHAI
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                          

			

                        <table class="inputTable">
                            <thead>
                                <tr>
                                    <th colspan="4" class="sTh">
                                        Privacy Information
                                    </th>
                                </tr>


                                <tr>
                                    <th colspan="4" class="sTh1">
                                        Person assigning work (PAW)
                                    </th>
                                </tr>
                                </thead>
                            <tbody>
                               
           
                                                                <tr>
                                                                    <th>
                                                                        English Name :
                                                                    </th>
                                                                    <td ></td>
                                                                    <th>
                                                                        HKID/B.R./Passport No. :
                                                                    </th>
                                                                    <td ></td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="fLabel">
                                                                        Chinese Name :
                                                                    </th>
                                                                    <td class="fText"></td>
                                                                    <th class="fLabel">
                                                                        Country of Issue :
                                                                    </th>
                                                                    <td class="fText"></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        Correspondence Address :
                                                                    </th>
                                                                    <td ></td>
                                                                    <th>
                                                                        Email Address :
                                                                    </th>
                                                                    <td ></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        Contact No. :
                                                                    </th>
                                                                    <td ></td>
                                                                    <th>
                                                                        Fax No. :
                                                                    </th>
                                                                    <td ></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                

          <div class="sList">
              <table class="inputTable">
                  <thead>
                      <tr>
                          <th colspan="4" class="sTh1">
                              Owner of the signboard
                          </th>
                      </tr>
                      </thead>
                 
                                                  <tbody>
                                                      <tr>
                                                          <th>
                                                              English Name :
                                                          </th>
                                                          <td >
                                                              xx PROPERTIES HOLDINGS LIMITED
                                                          </td>
                                                          <th>
                                                              HKID/B.R./Passport No. :
                                                          </th>
                                                          <td >
                                                              15xx81-000-09-13-A
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <th class="fLabel">
                                                              Chinese Name :
                                                          </th>
                                                          <td class="fText">
                                                              xx地產集團
                                                          </td>
                                                          <th class="fLabel">
                                                              Country of Issue :
                                                          </th>
                                                          <td class="fText"></td>
                                                      </tr>
                                                      <tr>
                                                          <th>
                                                              Correspondence Address :
                                                          </th>
                                                          <td >
                                                              26/F  xx CENTRE 1 GREAT xx STREET xx BAY
                                                          </td>
                                                          <th>
                                                              Email Address :
                                                          </th>
                                                          <td ></td>
                                                      </tr>
                                                      <tr>
                                                          <th>
                                                              Contact No. :
                                                          </th>
                                                          <td >
                                                              28xx823
                                                          </td>
                                                          <th>
                                                              Fax No. :
                                                          </th>
                                                          <td >
                                                              28xx7687
                                                          </td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                               
          </div>
          
         
              <table class="inputTable">
                  <thead>
                      <tr>
                          <th class="sTh1" colspan="4">
                              Particulars of the corresponding Owner's Corporation or
                              Property Management Company when common areas may be involved
                              by the works to be carried out
                          </th>
                      </tr>
                      </thead>
                 
                                                  <tbody>
                                                      <tr>
                                                          <th>
                                                              English Name :
                                                          </th>
                                                          <td ></td>
                                                          <th>
                                                              HKID/B.R./Passport No. :
                                                          </th>
                                                          <td ></td>
                                                      </tr>
                                                      <tr>
                                                          <th class="fLabel">
                                                              Chinese Name :
                                                          </th>
                                                          <td class="fText"></td>
                                                          <th class="fLabel">
                                                              Country of Issue :
                                                          </th>
                                                          <td class="fText"></td>
                                                      </tr>
                                                      <tr>
                                                          <th>
                                                              Correspondence Address :
                                                          </th>
                                                          <td ></td>
                                                          <th>
                                                              Email Address :
                                                          </th>
                                                          <td ></td>
                                                      </tr>
                                                      <tr>
                                                          <th>
                                                              Contact No. :
                                                          </th>
                                                          <td ></td>
                                                          <th>
                                                              Fax No. :
                                                          </th>
                                                          <td ></td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                      
               <table class="inputTable">
                   <tbody>
                      <tr>
                          <th>
                              Name of the representative of the PRC appointed  :
                          </th>
                          <td  >
                              &nbsp;
                          </td>
                          <th >
                              Contact No.
                          </th>
                          <td  >
                              &nbsp;
                          </td>
                      </tr>
                      <tr>
                          <th>
                              Name of the representative of the PBP appointed :
                          </th>
                          <td  style="border: solid #CCC; border-width:0 0 1px 0;">
                              &nbsp;
                          </td>
                          <th >
                              Contact No.
                          </th>
                          <td  >
                              &nbsp;
                          </td>
                      </tr>
                  </tbody>
              </table>
    
                    


					<br>
                    <h3>
                        Signboard Info
                    </h3>
                                        <table class="resultTable">
                                            <thead>
                                                <tr>
                                                    <!--  <th class="fLabel">Class</th>  -->



                                                    <th class="fLabel">
                                                        Item No.
                                                    </th>
                                                    <th class="fLabel">
                                                        Description
                                                    </th>
                                                    <th class="fLabel">
                                                        Relevant Order/Direction/Notice No./BD Reference No.
                                                    </th>
                                                </tr>
                                                </thead>
                                            <tbody>
                                                <tr class="sRow1">
                                                    <td class="sCell">
                                                        1.22&nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        Erection or alteration of any wall signboard
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">

                                                        &nbsp;
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <h3>
                                            Particulats of PBP
                                        </h3>
                                        <table class="resultTable">
                                            <thead>
                                                <tr>
                                                    <th class="sTh2" style="width: 150px">
                                                        PBP/PRC
                                                    </th>
                                                    <th class="sTh2" style="width: 150px">
                                                        Certificate of Registration No.
                                                    </th>
                                                    <th class="sTh2">
                                                        English Name
                                                    </th>
                                                    <th class="sTh2" style="width: 120px">
                                                        Chinese Name
                                                    </th>

                                                </tr>
                                                </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="sCell">
                                                        AP
                                                    </td>
                                                    <td class="sCell">
                                                        AP(A) 2091/73
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        KWAN xx xx 
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        關xx
                                                        &nbsp;
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="sCell">
                                                        RSE
                                                    </td>
                                                    <td class="sCell">
                                                        RSE 81/85
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        LAM xx xx 
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        林xx
                                                        &nbsp;
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td class="sCell">
                                                        RGE
                                                    </td>
                                                    <td class="sCell">

                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">

                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">

                                                        &nbsp;
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                        <h3>
                                            Particulars of PRC
                                        </h3>
                                        <table class="resultTable">
                                            <thead>
                                                <tr>
                                                    <th class="sTh2" style="width: 150px">
                                                        Certificate of Registration No.
                                                    </th>
                                                    <th class="sTh2">
                                                        English Name of PRC
                                                    </th>
                                                    <th class="sTh2" style="width: 120px">
                                                        Chinese Name of PRC
                                                    </th>
                                                    <th class="sTh2">
                                                        English Name of AS
                                                    </th>
                                                    <th class="sTh2" style="width: 120px">
                                                        Chinese Name of AS
                                                    </th>
                                                </tr>
                                                </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="sCell">

                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">

                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">

                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">

                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">

                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                
                                        <h3>
                                            Submitted Document
                                        </h3>
                                        <table class="resultTable">
                                            <thead>
                                                <tr>
                                                    <th class="fLabel">
                                                        DSN Number
                                                    </th>
                                                    <th class="fLabel">
                                                        Document Type
                                                    </th>
                                                    <th class="fLabel">
                                                        Scanned Date
                                                    </th>
                                                    <th class="fLabel">
                                                        View Image
                                                    </th>
                                                </tr>

                                            <tbody>
                                                <tr class="sRow1">
                                                    <td class="sCell">
                                                        D0000002121
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        Other
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        22/07/2015
                                                        &nbsp;
                                                    </td>

                                                    <td class="sCell">

                                                        <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('8a85bda64a76fd9c014c591ac0ce7b9d')">

                                                        &nbsp;
                                                    </td>
                                                </tr>

                                                <tr class="sRow2">
                                                    <td class="sCell">
                                                        D0000001158
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        Plan
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        27/01/2014
                                                        &nbsp;
                                                    </td>

                                                    <td class="sCell">

                                                        <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('8a85bda64358197e0143d1ff060b55c0')">

                                                        &nbsp;
                                                    </td>
                                                </tr>

                                                <tr class="sRow1">
                                                    <td class="sCell">
                                                        D0000001157
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        Other
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        27/01/2014
                                                        &nbsp;
                                                    </td>

                                                    <td class="sCell">

                                                        <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('8a85bda64358197e0143d1fe571755bf')">

                                                        &nbsp;
                                                    </td>
                                                </tr>

                                                <tr class="sRow2">
                                                    <td class="sCell">
                                                        D0000001156
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        Plan
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        27/01/2014
                                                        &nbsp;
                                                    </td>

                                                    <td class="sCell">

                                                        <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('8a85bda64358197e0143d1fc069855be')">

                                                        &nbsp;
                                                    </td>
                                                </tr>

                                                <tr class="sRow1">
                                                    <td class="sCell">
                                                        D0000001155
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        Photo
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        27/01/2014
                                                        &nbsp;
                                                    </td>

                                                    <td class="sCell">

                                                        <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('8a85bda64358197e0143d1f42ba755b9')">

                                                        &nbsp;
                                                    </td>
                                                </tr>

                                                <tr class="sRow2">
                                                    <td class="sCell">
                                                        D0000000464
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        Form
                                                        &nbsp;
                                                    </td>
                                                    <td class="sCell">
                                                        27/01/2014
                                                        &nbsp;
                                                    </td>

                                                    <td class="sCell">

                                                        <img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('8a85bda64358197e014394c222063db0')">

                                                        &nbsp;
                                                    </td>
                                                </tr>





                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
					</div>
					<br>
				
                        <table class="resultTable">
                            <thead>

                                <tr>
                                    <th colspan="2" class="sTh1">
                                        Photo Library
                                    </th>
                                </tr>
                                <tr class="sRow2">
                                    <th class="sTh2">
                                        Photo Library Description
                                    </th>
                                    <th class="sTh2">
                                        View Image (URL)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="sRow1">
                                    <td class="sCell">
                                        _
                                        &nbsp;
                                    </td>
                                    <td class="sCell">

                                        <img style="cursor: pointer;" src="/SMM/images/ico_view_img.gif" onclick="openPhotoLibFile('8a85bda64358197e014394c1e0073da2')">

                                        &nbsp;
                                    </td>

                                </tr>

                            </tbody>
                        </table>
	
    <br>
  
    <div id="signboardRelation" class="sList">
        <table class="resultTable">
            <thead>
                <tr>
                    <th class="sTh1">
                        Related Signboards of the Signboard
                    </th>
                </tr>
                </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="sList">
                            <table class="resultTable"></table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

	<br>

              <table class="resultTable">
                  <thead>
                      <tr>
                          <th colspan="4" class="sTh1">Processing Handling</th>
                     
                 </tr>
                                      <tr class="sRow2">
                                          <th class="sTh2">Processing Form</th>
                                          <th class="sTh2">Received Date</th>
                                          <th class="sTh2">Validation Result</th>
                                          <th class="sTh2">Expiry Date</th>
                                      </tr>
                                      </thead>
                                  <tbody>
                                      <tr class="sRow1 processingHandling" id="processingHandling[0]">
                                          <td class="sCell">


                                              <a href="javascript:loadHandlingOfficers('8a85bda64358197e014394c1e0073daa', 0)">
                                                  SC01
                                              </a>&nbsp;



                                          </td>
                                          <td class="sCell">15/01/2014&nbsp;</td>
                                          <td class="sCell">Refuse&nbsp;</td>
                                          <td class="sCell">&nbsp;</td>
                                      </tr>

                                  </tbody>
                              </table>
               
          <br>
          <div class="sList" id="handling_officer">
        
              <table class="resultTable">
                  <thead>
                      <tr>
                          <th class="fLabel">Handling Officers</th>
                          <th class="fLabel">Processing Pages</th>
                      </tr>
                      </thead>
                  <tbody>
                    <tr>
                      <td class="sCell" id="to">TO:
                        admin
                      </td>
                      <td class="sCell">
                        <img style="cursor: pointer; display: " src="images/ico_view.gif" onclick="goTo('8a85bda64358197e014394c1e0073daa')" id="toUuid">
                      </td>
                    </tr>
                    <tr>
                      <td class="sCell" id="po">PO:
                        admin
                      </td>
                      <td class="sCell">
                          <img style="cursor: pointer; display: " src="images/ico_view.gif" onclick="goPo('8a85bda64358197e014394c1e0073daa')" id="poUuid">
                      </td>
                    </tr>
                    <tr>
                      <td class="sCell" id="spo">SPO:
                        admin
                      </td>
                      <td class="sCell">
                        <img style="cursor: pointer; display: " src="images/ico_view.gif" onclick="goSpo('8a85bda64358197e014394c1e0073daa')" id="spoUuid">
                      </td>
                    </tr>
                  </tbody>
              </table>
          
          </div>
          
          

					<div class="btnSet btnSetTypeA">
						<div class="right">
						

						
						
						</div>
					</div>

					<br>

			</div>

                <table class="inputTable">
                    <tfoot>
                        <tr>

                            <td>
                                <input class="inputButton" id="btnSearch" name="btnSearch" value="Print" onclick="window.print()" type="button">

                                <input class="inputButton" id="" name="" value="Back" onclick="loadContentPage('SMM0204')" type="button">
                            </td>
                        </tr>
                    </tfoot>
                </table>