



    <table class="inputTable">
        <thead><tr><th colspan="2">Search Criteria</th></tr></thead>
        
        
        <tbody>
    <tr>
        <th>Subordinate Task :</th>
        <td>
            <select name="subTask" style="max-width:300px">
                <option value="none">-Please Select-</option>
                <option value="item1">item1</option>
                <option value="item2">item2</option>
                <option value="item3">item3</option>
            </select>
        </td>

    </tr>


</tbody>
<tfoot><tr><td colspan="2">
<input onclick="searchSMM()" type="submit" class="btnClass" value="Search" style="float: right" ></td></tr></tfoot>
</table>

 <table class="resultTable hide" id="SMMHideDiv">
     <thead>
         <tr>
             <th class="sTh" width="100">
                 <a class="columnHead" sort="username" href="javascript:setSort('username', '', '')">User</a>
             </th>

             <th class="sTh" width="100">
                 <a class="columnHead" sort="val" href="javascript:setSort('val', '', '')">Validation</a>
             </th>
             <th class="sTh" width="100">
                 <a class="columnHead" sort="aud" href="javascript:setSort('aud', '', '')">Audit</a>
             </th>
             <th class="sTh" width="100">
                 <a class="columnHead" sort="gc" href="javascript:setSort('gc', '', '')">Government Contractor</a>
             </th>
             <th class="sTh" width="100">
                 <a class="columnHead" sort="s24" href="javascript:setSort('s24', '', '')">S24 Order</a>
             </th>

         </tr>
     </thead>
     <tbody></tbody>
 </table>