
    <h3>Submission Information</h3>
    <div class="sList">
        <table class="inputTable">
            <thead>
                <tr>
                    <th colspan="4" class="sTh">Case Information </th>
                </tr>
                </thead>
   
                                            <tbody>
                                                <tr>
                                                    <th >Minor Works No.  :</th>
                                                    <td >MW170300006&nbsp;</td>
                                                    <th >Form  :</th>
                                                    <td >MW03&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <th >First Received Date  :</th>
                                                    <td >&nbsp;</td>
                                                    <th >Completion Submission Date  :</th>
                                                    <td >&nbsp;</td>

                                                </tr>
                                                <tr>
                                                    <th >Commencement Date  :</th>
                                                    <td >&nbsp;</td>
                                                    <th >Completion Date  :</th>
                                                    <td >&nbsp;</td>

                                                </tr>
                                            </tbody>
                                        </table>
                              
    </div>
    <div class="sList">
        <table class="inputTable">
            <thead>
                <tr>
                    <th class="sTh">Location/Address of the proposed minor works to be carried out</th>
                </tr>
                </thead>
            <tbody>
                <tr class="sRow2">
                    <td >&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sList">
        <table class="inputTable">
            <thead>
                <tr>
                    <th colspan="4" class="sTh">Particulars of the person who arranged for the minor works to be carried out</th>
                </tr>
                </thead>
          
                                            <tbody>
                                                <tr>
                                                    <th >English Name :</th>
                                                    <td>&nbsp;</td>
                                                    <th >Passport No. :</th>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <th >Chinese Name :</th>
                                                    <td>&nbsp;</td>
                                                    <th >Country of Issue :</th>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <th >Correspondence Address :</th>
                                                    <td>&nbsp;</td>
                                                    <th >Email Address :</th>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <th >Contact No. :</th>
                                                    <td>&nbsp;</td>
                                                    <th >Fax No. :</th>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                               
    </div>
    <div class="sList">
        <table class="inputTable">
            <thead>
                <tr>
                    <th colspan="4" class="sTh">Particulars of the person for whom the signboard is to be erected</th>
                </tr>
</thead>

                                            <tbody>
                                                <tr>
                                                    <th >English Name :</th>
                                                    <td>&nbsp;</td>
                                                    <th >Passport No. :</th>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <th >Chinese Name :</th>
                                                    <td>&nbsp;</td>
                                                    <th >Country of Issue :</th>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <th >Correspondence Address :</th>
                                                    <td>&nbsp;</td>
                                                    <th >Email Address :</th>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <th >Contact No. :</th>
                                                    <td>&nbsp;</td>
                                                    <th >Fax No. :</th>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                             
    </div>
    <div class="sList">
    
                        <table class="resultTable">
                            <thead>
                                <tr>
                                    <th colspan="4" class="sTh1">Submitted Document</th>
                                </tr>
                                <tr>
                                    <th class="fLabel">Document Type</th>
                                    <th class="fLabel">Document S/N</th>
                                    <th class="fLabel">Document Title</th>
                                    <th class="fLabel">View Image</th>
                                </tr>

                             
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="fField">&nbsp;Letter</td>
                                    <td class="fField">&nbsp;D0000748666C</td>
                                    <td class="fField">&nbsp;Email</td>
                                    <td class="fField"><img style="cursor: pointer;" src="images/ico_view.gif" onclick="openFile('D0000748666C')"></td>
                                </tr>

                            </tbody>
                        </table>
     
    </div>
    <div class="sList">
    
                        <table class="resultTable">
                            <thead>
                                <tr>
                                    <th colspan="4" class="sTh1">Minor Work Item</th>
                                </tr>
                                <tr>
                                    <th class="fLabel">Class</th>
                                    <th class="fLabel">Item No.</th>
                                    <th class="fLabel">Works location(s) &amp; description(s)</th>
                                    <th class="fLabel">Relevant Order/Direction/Notice No./BD Reference No. if any</th>
                                </tr>

                             
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="fField">&nbsp;CLASS_II</td>
                                    <td class="fField">&nbsp;3.27</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                </tr>

                            </tbody>
                        </table>
       
    </div>
    <div class="sList">
     
                        <table class="resultTable">
                            <thead>
                                <tr>
                                    <th colspan="4" class="sTh1">Prescribed Building Professional &amp; Prescribed Registered Contractor</th>
                                </tr>
                                <tr>
                                    <th class="fLabel">PBR/PRC</th>
                                    <th class="fLabel">Cerificate of Registration No.</th>
                                    <th class="fLabel">English Name</th>
                                    <th class="fLabel">Chinese Name</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td class="fField">&nbsp;Prescribed Registered Contractor</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                    <td class="fField">&nbsp;</td>
                                </tr>

                            </tbody>
                        </table>

    </div>

    <div class="sList" id="PEM0601aTable3">
      
                        <table class="inputTable">
                            
                            <thead>
                                <tr>
                                    <th colspan="2" class="sTh1">Add This Case</th>
                                </tr>

                            </thead>
                            
                            <tbody>

                                <tr>
                                    <td style="width:20%" class="fLabel">Case Assignment:</td>
                                    <td class="sCell">
                                        <select name="assignment" style="width:auto">

                                            <option value="SEMW5@bd.gov.hk">

                                                SEMW5
                                            </option>

                                            <option value="BSMW6@bd.gov.hk">

                                                BSMW6
                                            </option>

                                            <option value="BSMW3@bd.gov.hk">

                                                BSMW3
                                            </option>

                                            <option value="BSMW4@bd.gov.hk">

                                                BSMW4
                                            </option>

                                            <option value="SEMW4@bd.gov.hk">

                                                SEMW4
                                            </option>

                                            <option value="SEMW3@bd.gov.hk">

                                                SEMW3
                                            </option>

                                            <option value="SEMW2@bd.gov.hk">

                                                SEMW2
                                            </option>

                                            <option value="BSMW2@bd.gov.hk">

                                                BSMW2
                                            </option>

                                            <option value="BSMW1@bd.gov.hk">

                                                BSMW1
                                            </option>

                                            <option value="SEMW1@bd.gov.hk">

                                                SEMW1
                                            </option>

                                        </select>

                                        <input name="assignmentList[0].value" value="SEMW5@bd.gov.hk" type="hidden">
                                        <input name="assignmentList[0].label" value="SEMW5" type="hidden">

                                        <input name="assignmentList[1].value" value="BSMW6@bd.gov.hk" type="hidden">
                                        <input name="assignmentList[1].label" value="BSMW6" type="hidden">

                                        <input name="assignmentList[2].value" value="BSMW3@bd.gov.hk" type="hidden">
                                        <input name="assignmentList[2].label" value="BSMW3" type="hidden">

                                        <input name="assignmentList[3].value" value="BSMW4@bd.gov.hk" type="hidden">
                                        <input name="assignmentList[3].label" value="BSMW4" type="hidden">

                                        <input name="assignmentList[4].value" value="SEMW4@bd.gov.hk" type="hidden">
                                        <input name="assignmentList[4].label" value="SEMW4" type="hidden">

                                        <input name="assignmentList[5].value" value="SEMW3@bd.gov.hk" type="hidden">
                                        <input name="assignmentList[5].label" value="SEMW3" type="hidden">

                                        <input name="assignmentList[6].value" value="SEMW2@bd.gov.hk" type="hidden">
                                        <input name="assignmentList[6].label" value="SEMW2" type="hidden">

                                        <input name="assignmentList[7].value" value="BSMW2@bd.gov.hk" type="hidden">
                                        <input name="assignmentList[7].label" value="BSMW2" type="hidden">

                                        <input name="assignmentList[8].value" value="BSMW1@bd.gov.hk" type="hidden">
                                        <input name="assignmentList[8].label" value="BSMW1" type="hidden">

                                        <input name="assignmentList[9].value" value="SEMW1@bd.gov.hk" type="hidden">
                                        <input name="assignmentList[9].label" value="SEMW1" type="hidden">

                                        <input class="inputButton" id="" name="" value="Add" style="width:90px;" onclick="addCase()" type="button">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
   
    </div>

    <div class="btnSet btnSetTypeA">
        <div class="right">
            <input class="inputButton" id="" name="" value="back" style="width:80px;" onclick="loadContentPage('PEM0601')" type="button">
        </div>
    </div>

    <br>
    <!-- InstanceEndEditable -->
