

<table class="inputTable">
    <tbody>
        <tr>
            <th class="fLabel">
                Audit Assigned Date Form
                <input class="inputDate" type="text" id="reportFormDate" name="reportFormDate" value="1/6/2018" title="to:reportToDate" style="width:150px;" readonly="">
                To
                <input class="inputDate" type="text" id="reportToDate" name="reportToDate" value="31/10/2018" style="width:150px;" title="from:reportFormDate" readonly="">
                <input class="inputButton" type="button" value="Search" onclick="searchReport()">
            </th>
        </tr>
    </tbody>
</table>
<div id="PEM0601aTable" style="display">
    <table class="resultTable">
        <thead>
            <tr>
                <th rowspan="2" style="text-align:center">Form</th>
                <th rowspan="2" style="text-align:center" title="Number of selected Audit Case (Number of selected Case / Total Ackn Form)">Accumulative <br> Total (%)</th>
                <th colspan="2" style="text-align:center">Results</th>
                <th style="text-align:center">In Progress</th>

                <th rowspan="2" style="text-align:center" title="Selected  Aduit Case">Jun-2018&nbsp;</th>

                <th rowspan="2" style="text-align:center" title="Selected  Aduit Case">Jul-2018&nbsp;</th>

                <th rowspan="2" style="text-align:center" title="Selected  Aduit Case">Aug-2018&nbsp;</th>

                <th rowspan="2" style="text-align:center" title="Selected  Aduit Case">Sep-2018&nbsp;</th>

                <th rowspan="2" style="text-align:center" title="Selected  Aduit Case">Oct-2018&nbsp;</th>

            </tr>
            <tr>
                <th style="text-align:center" title="OK (OK / Selected Audit Case)">OK (%) </th>
                <th style="text-align:center" title="Not OK (Not OK / Selected Audit Case)">Not(%) </th>
                <th style="text-align:center" title="In progress (In progress / Selected Audit Case)">No.(%) </th>
            </tr>
        </thead>
        <tbody>
            <tr>


                <td style="text-align:center"> FORM 01 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>





            </tr>
            <tr class="sRow1">



                <td style="text-align:center"> FORM 02 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>






            </tr>
            <tr>


                <td style="text-align:center"> FORM 03 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>





            </tr>
            <tr class="sRow1">



                <td style="text-align:center"> FORM 04 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>






            </tr>
            <tr>


                <td style="text-align:center"> FORM 05 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>





            </tr>
            <tr class="sRow1">



                <td style="text-align:center"> FORM 06 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>






            </tr>
            <tr>


                <td style="text-align:center"> FORM 11 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>





            </tr>
            <tr class="sRow1">



                <td style="text-align:center"> FORM 12 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>



            </tr>
        </tbody>
    </table>
</div>

    <table id="PEM0601aTable2" class="resultTable hide">
        <thead>
            <tr>
                <th rowspan="2" style="text-align:center">Form222</th>
                <th rowspan="2" style="text-align:center" title="Number of selected Audit Case (Number of selected Case / Total Ackn Form)">Accumulative <br> Total (%)</th>
                <th colspan="2" style="text-align:center">Results</th>
                <th style="text-align:center">In Progress</th>
                <th rowspan="2" style="text-align:center" title="Selected  Aduit Case">May-2018&nbsp;</th>
                <th rowspan="2" style="text-align:center" title="Selected  Aduit Case">Jun-2018&nbsp;</th>

                <th rowspan="2" style="text-align:center" title="Selected  Aduit Case">Jul-2018&nbsp;</th>

                <th rowspan="2" style="text-align:center" title="Selected  Aduit Case">Aug-2018&nbsp;</th>

                <th rowspan="2" style="text-align:center" title="Selected  Aduit Case">Sep-2018&nbsp;</th>

                <th rowspan="2" style="text-align:center" title="Selected  Aduit Case">Oct-2018&nbsp;</th>

            </tr>
            <tr>
                <th style="text-align:center" title="OK (OK / Selected Audit Case)">OK (%) </th>
                <th style="text-align:center" title="Not OK (Not OK / Selected Audit Case)">Not(%) </th>
                <th style="text-align:center" title="In progress (In progress / Selected Audit Case)">No.(%) </th>
            </tr>
        </thead>
        <tbody>
            <tr>


                <td style="text-align:center"> FORM 01 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>
                <td style="text-align:center">  0 </td>




            </tr>
            <tr class="sRow1">



                <td style="text-align:center"> FORM 02 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>
                <td style="text-align:center">  0 </td>


            </tr>
            <tr>


                <td style="text-align:center"> FORM 03 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>
                <td style="text-align:center">  0 </td>


            </tr>
            <tr class="sRow1">



                <td style="text-align:center"> FORM 04 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>
                <td style="text-align:center">  0 </td>





            </tr>
            <tr>


                <td style="text-align:center"> FORM 05 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>
                <td style="text-align:center">  0 </td>


            </tr>
            <tr class="sRow1">



                <td style="text-align:center"> FORM 06 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>
                <td style="text-align:center">  0 </td>




            </tr>
            <tr>


                <td style="text-align:center"> FORM 11 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>
                <td style="text-align:center">  0 </td>


            </tr>
            <tr class="sRow1">



                <td style="text-align:center"> FORM 12 </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (0%) </td>
                <td style="text-align:center"> 0 (100%) </td>


                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>

                <td style="text-align:center">  0 </td>
                <td style="text-align:center">  0 </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h3>Search Minor Work Item</h3>

<table class="inputTable">
    <thead>
        <tr>
            <th colspan="2">Search Criteria :</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="fLabel" align="right">Reference No. :</th>
            <td class="fField">
                <select name="typeOfRefNo" style="width:auto">

                    <option value="MW">MW</option>

                    <option value="VS">VS</option>

                </select>

                <input type="hidden" name="typeList[0].value" value="MW">
                <input type="hidden" name="typeList[0].label" value="MW">

                <input type="hidden" name="typeList[1].value" value="VS">
                <input type="hidden" name="typeList[1].label" value="VS">
                <input class="inputText" type="text" id="noOfRefNo" name="noOfRefNo" value="" style="width:120px;">
            </td>
        </tr>
        <tr>
            <th class="fLabel" align="right">Submission Type :</th>
            <td class="fField">
                <select name="submitType" style="width:auto">

                    <option selected="'selected'" value="">-All-</option>

                    <option value="MW Submission">MW Submission</option>

                    <option value="Validation Scheme">Validation Scheme</option>

                </select>

                <input type="hidden" name="submitTypeList[0].value" value="">
                <input type="hidden" name="submitTypeList[0].label" value="-All-">

                <input type="hidden" name="submitTypeList[1].value" value="MW Submission">
                <input type="hidden" name="submitTypeList[1].label" value="MW Submission">

                <input type="hidden" name="submitTypeList[2].value" value="Validation Scheme">
                <input type="hidden" name="submitTypeList[2].label" value="Validation Scheme">
            </td>
        </tr>


        <tr>
            <th class="fLabel" align="right">Item No. :</th>
            <td class="fField">
                <input class="inputText" type="text" id="itemNoString" name="itemNoString" value="" >
            </td>
        </tr>
        <tr>
            <th class="fLabel" align="right">Class :</th>
            <td class="fField">
                <select name="classCode" style="width:auto">

                    <option selected="'selected'" value="">-All-</option>

                    <option value="CLASS_I">Class I</option>

                    <option value="CLASS_II">Class II</option>

                    <option value="CLASS_III">Class III</option>

                </select>

                <input type="hidden" name="classCodeList[0].value" value="">
                <input type="hidden" name="classCodeList[0].label" value="-All-">

                <input type="hidden" name="classCodeList[1].value" value="CLASS_I">
                <input type="hidden" name="classCodeList[1].label" value="Class I">

                <input type="hidden" name="classCodeList[2].value" value="CLASS_II">
                <input type="hidden" name="classCodeList[2].label" value="Class II">

                <input type="hidden" name="classCodeList[3].value" value="CLASS_III">
                <input type="hidden" name="classCodeList[3].label" value="Class III">
            </td>
        </tr>

        <tr>
            <th class="fLabel" align="right">Status: :</th>
            <td class="fField">
                <select name="status" style="width:auto">

                    <option selected="'selected'" value="">- Select -</option>

                    <option value="In Progress">In Progress</option>

                    <option value="Completed">Completed</option>

                </select>

                <input type="hidden" name="statusList[0].value" value="">
                <input type="hidden" name="statusList[0].label" value="- Select -">

                <input type="hidden" name="statusList[1].value" value="In Progress">
                <input type="hidden" name="statusList[1].label" value="In Progress">

                <input type="hidden" name="statusList[2].value" value="Completed">
                <input type="hidden" name="statusList[2].label" value="Completed">
            </td>
        </tr>
        <tr>
            <th class="fLabel" align="right">Received Date :</th>
            <td class="fField">
                From
                <input class="inputDate" type="text" id="submitFromDate" name="submitFromDate" value="" title="to:submitToDate"  readonly="">
                To    
                <input class="inputDate" type="text" id="submitToDate" name="submitToDate" value=""  title="from:submitFromDate" readonly="">
            </td>
        </tr>

        <tr>
            <th class="fLabel" align="right">Commencement Date :</th>
            <td class="fField">
                From
                <input class="inputDate" type="text" id="commenceFromDate" name="commenceFromDate" value="" title="to:commenceToDate" style="width:85px;" readonly="">
                To
                <input class="inputDate" type="text" id="commenceToDate" name="commenceToDate" value=""  title="from:commenceFromDate" readonly="">
            </td>
        </tr>
        <tr>
            <th class="fLabel" align="right">Completion Date :</th>
            <td class="fField">
                From
                <input class="inputDate" type="text" id="completeFromDate" name="completeFromDate" value="" title="to:completeToDate" style="width:85px;" readonly="">
                To
                <input class="inputDate" type="text" id="completeToDate" name="completeToDate" value=""  title="from:completeFromDate" readonly="">
            </td>
        </tr>

        <tr>
            <th>Location of the minor works carried out :</th>
            <td></td>
        </tr>

        <tr>
            <th class="fLabel">Street :</th>
            <td class="fField">
                <input class="inputText ac_input" type="text" id="street" name="ownerAddress.streetOrVillage" value="" style="width: 300px;" autocomplete="off">
                <input class="inputText" type="hidden" id="street_code" name="ownerAddress.streetCode" value="">
            </td>
        </tr>
        <tr>
            <th class="fLabel">Street No. :</th>
            <td class="fField">
                <input class="inputText ac_input" type="text" id="street_no" name="ownerAddress.streetNo" value="" style="width: 120px;" autocomplete="off">
                <input class="inputText" type="hidden" id="block_id" name="ownerAddress.blockID" value="">
            </td>
        </tr>
        <tr>
            <th class="fLabel">Building/Block :</th>
            <td class="fField"><input class="inputText" type="text" id="block_name" name="ownerAddress.buildingName" value="" style="width: 300px;"></td>
        </tr>
        <tr>
            <th class="fLabel">Floor :</th>
            <td class="fField"><input class="inputText ac_input" type="text" value="" id="floor" name="ownerAddress.floor" style="width:120px" autocomplete="off"></td>
        </tr>
        <tr>
            <th class="fLabel">Unit :</th>
            <td class="fField"><input class="inputText ac_input" type="text" value="" id="unit" name="ownerAddress.flat" style="width:300px" autocomplete="off"></td>
        </tr>

        <tr>
            <th>Appointed Person :</th>
            <td></td>
        </tr>
        <tr>
            <th class="fLabel">English Name :</th>
            <td class="fField"><input class="inputText" type="text" id="professionalList[0].englishName" name="professionalList[0].englishName" value="" style="width:200px;"></td>
        </tr>
        <tr>
            <th class="fLabel">Chinese Name :</th>
            <td class="fField"><input class="inputText" type="text" id="professionalList[0].chineseName" name="professionalList[0].chineseName" value="" style="width:200px;"></td>
        </tr>
        <tr>
            <th class="fLabel">Certificate of Registration No. :</th>
            <td class="fField"><input class="inputText" type="text" id="professionalList[0].certificationNo" name="professionalList[0].certificationNo" value="" style="width:120px;"></td>
        </tr>
        <tr>
            <th>Prescribed Registered Contractor :</th>
            <td></td>
        </tr>
        <tr>
            <th class="fLabel">English Name :</th>
            <td class="fField"><input class="inputText" type="text" id="professionalList[1].englishName" name="professionalList[1].englishName" value="" style="width:250px;"></td>
        </tr>
        <tr>
            <th class="fLabel">Chinese Name :</th>
            <td class="fField"><input class="inputText" type="text" id="professionalList[1].chineseName" name="professionalList[1].chineseName" value="" style="width:250px;"></td>
        </tr>
        <tr>
            <th class="fLabel">Certificate of Registration No. :</th>
            <td class="fField"><input class="inputText" type="text" id="professionalList[1].certificationNo" name="professionalList[1].certificationNo" value="" style="width:150px;"></td>
        </tr>
    </tbody>
</table>
<div class="right">
    <input class="inputButton" type="button" id="" name="" value="Search"  onclick="searchPEM0601()">
</div>



<table class="resultTable" id="PEM0601Table">
    <thead>
        <tr>
            <th>Ref No.</th>
            <th>Form</th>
            <th>Item No.</th>
            <th>Status</th>
            <th>Received Date</th>
            <th>Commencement Date</th>
            <th>Completion Date</th>
        </tr>
    </thead>
</table>



