
        <div >
            <table id="PEM602Table" class="resultTable">
                <thead>
                    <tr>
                        <th >Submission No.</th>
                        <th >Form</th>
                        <th >Commencement Date</th>
                        <th >Action</th>
                        <th >Assignment</th>
                        <th >Confirm</th>
                    </tr>


                    </thead>
                <tbody>
                    <tr class="sRow2">
                        <td >
                            MW130500067
                            &nbsp;
                        </td>
                        <td >
                            MW03
                            &nbsp;
                        </td>
                        <td >
                            6/5/5013
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[0].action" disabled="">

                                <option selected="'selected'" value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[0].assignment" disabled="">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option selected="'selected'" value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >


                            Confirmed



                        </td>
                    </tr>

               


                    <tr >
                        <td >
                            MW160303022
                            &nbsp;
                        </td>
                        <td >
                            MW04
                            &nbsp;
                        </td>
                        <td >
                            30/3/3016
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[1].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[1].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[1].auditCaseConfirm" name="auditSelectionList[1].auditCaseConfirm" value="1">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[2].taskId" value="1647759">
                    <input type="hidden" name="auditSelectionList[2].mwRecordAuditUuid" value="8a85bda054035ea0015431bf27d42e6f">
                    <input type="hidden" name="auditSelectionList[2].refNo" value="MW160300560">
                    <input type="hidden" name="auditSelectionList[2].form" value="MW04">
                    <input type="hidden" name="auditSelectionList[2].commenceCompleteDate" value="30/3/3016">
                    <input type="hidden" name="auditSelectionList[2].acknowledgeCompleted" value="">


                    <tr class="sRow2">
                        <td >
                            MW160300560
                            &nbsp;
                        </td>
                        <td >
                            MW04
                            &nbsp;
                        </td>
                        <td >
                            30/3/3016
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[2].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[2].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[2].auditCaseConfirm" name="auditSelectionList[2].auditCaseConfirm" value="2">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[3].taskId" value="1650829">
                    <input type="hidden" name="auditSelectionList[3].mwRecordAuditUuid" value="8a85bda054035ea0015456b07d257d74">
                    <input type="hidden" name="auditSelectionList[3].refNo" value="MW160301460">
                    <input type="hidden" name="auditSelectionList[3].form" value="MW04">
                    <input type="hidden" name="auditSelectionList[3].commenceCompleteDate" value="30/3/3016">
                    <input type="hidden" name="auditSelectionList[3].acknowledgeCompleted" value="">


                    <tr >
                        <td >
                            MW160301460
                            &nbsp;
                        </td>
                        <td >
                            MW04
                            &nbsp;
                        </td>
                        <td >
                            30/3/3016
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[3].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[3].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[3].auditCaseConfirm" name="auditSelectionList[3].auditCaseConfirm" value="3">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[4].taskId" value="1536579">
                    <input type="hidden" name="auditSelectionList[4].mwRecordAuditUuid" value="8a85bda04ed44315014f0761f5254533">
                    <input type="hidden" name="auditSelectionList[4].refNo" value="MW150705386">
                    <input type="hidden" name="auditSelectionList[4].form" value="MW03">
                    <input type="hidden" name="auditSelectionList[4].commenceCompleteDate" value="7/8/3015">
                    <input type="hidden" name="auditSelectionList[4].acknowledgeCompleted" value="">


                    <tr class="sRow2">
                        <td >
                            MW150705386
                            &nbsp;
                        </td>
                        <td >
                            MW03
                            &nbsp;
                        </td>
                        <td >
                            7/8/3015
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[4].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[4].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[4].auditCaseConfirm" name="auditSelectionList[4].auditCaseConfirm" value="4">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[5].taskId" value="">
                    <input type="hidden" name="auditSelectionList[5].mwRecordAuditUuid" value="8a85bda03b6e9b2d013b91fc6eca5421">
                    <input type="hidden" name="auditSelectionList[5].refNo" value="MW110803837">
                    <input type="hidden" name="auditSelectionList[5].form" value="MW04">
                    <input type="hidden" name="auditSelectionList[5].commenceCompleteDate" value="22/3/3012">
                    <input type="hidden" name="auditSelectionList[5].acknowledgeCompleted" value="5">


                    <tr >
                        <td >
                            MW110803837
                            &nbsp;
                        </td>
                        <td >
                            MW04
                            &nbsp;
                        </td>
                        <td >
                            22/3/3012
                            &nbsp;
                        </td>
                        <td >


                            System Added&nbsp;
                            <input type="hidden" name="auditSelectionList[5].action" value="System Added">



                        </td>
                        <td >
                            <select name="auditSelectionList[5].assignment" disabled="">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option selected="'selected'" value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >


                            Confirmed



                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[6].taskId" value="720846">
                    <input type="hidden" name="auditSelectionList[6].mwRecordAuditUuid" value="8a85bda03ad53706013b40950b6e7d65">
                    <input type="hidden" name="auditSelectionList[6].refNo" value="MW120202007">
                    <input type="hidden" name="auditSelectionList[6].form" value="MW03">
                    <input type="hidden" name="auditSelectionList[6].commenceCompleteDate" value="6/3/3012">
                    <input type="hidden" name="auditSelectionList[6].acknowledgeCompleted" value="">


                    <tr class="sRow2">
                        <td >
                            MW120202007
                            &nbsp;
                        </td>
                        <td >
                            MW03
                            &nbsp;
                        </td>
                        <td >
                            6/3/3012
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[6].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[6].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[6].auditCaseConfirm" name="auditSelectionList[6].auditCaseConfirm" value="6">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[7].taskId" value="1366377">
                    <input type="hidden" name="auditSelectionList[7].mwRecordAuditUuid" value="8a85bda0490e632801497e1dc8ab0a5d">
                    <input type="hidden" name="auditSelectionList[7].refNo" value="MW140904243">
                    <input type="hidden" name="auditSelectionList[7].form" value="MW03">
                    <input type="hidden" name="auditSelectionList[7].commenceCompleteDate" value="3/10/2501">
                    <input type="hidden" name="auditSelectionList[7].acknowledgeCompleted" value="">


                    <tr >
                        <td >
                            MW140904243
                            &nbsp;
                        </td>
                        <td >
                            MW03
                            &nbsp;
                        </td>
                        <td >
                            3/10/2501
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[7].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[7].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[7].auditCaseConfirm" name="auditSelectionList[7].auditCaseConfirm" value="7">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[8].taskId" value="1283534">
                    <input type="hidden" name="auditSelectionList[8].mwRecordAuditUuid" value="8a85bda04762e2c801477bf10c364b48">
                    <input type="hidden" name="auditSelectionList[8].refNo" value="MW140703120">
                    <input type="hidden" name="auditSelectionList[8].form" value="MW05">
                    <input type="hidden" name="auditSelectionList[8].commenceCompleteDate" value="7/7/2501">
                    <input type="hidden" name="auditSelectionList[8].acknowledgeCompleted" value="">


                    <tr class="sRow2">
                        <td >
                            MW140703120
                            &nbsp;
                        </td>
                        <td >
                            MW05
                            &nbsp;
                        </td>
                        <td >
                            7/7/2501
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[8].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[8].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[8].auditCaseConfirm" name="auditSelectionList[8].auditCaseConfirm" value="8">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[9].taskId" value="1562115">
                    <input type="hidden" name="auditSelectionList[9].mwRecordAuditUuid" value="8a85bda04f5eda1501502ca29f856401">
                    <input type="hidden" name="auditSelectionList[9].refNo" value="MW150601223">
                    <input type="hidden" name="auditSelectionList[9].form" value="MW05">
                    <input type="hidden" name="auditSelectionList[9].commenceCompleteDate" value="26/2/2215">
                    <input type="hidden" name="auditSelectionList[9].acknowledgeCompleted" value="">


                    <tr >
                        <td >
                            MW150601223
                            &nbsp;
                        </td>
                        <td >
                            MW05
                            &nbsp;
                        </td>
                        <td >
                            26/2/2215
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[9].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[9].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[9].auditCaseConfirm" name="auditSelectionList[9].auditCaseConfirm" value="9">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[10].taskId" value="1051218">
                    <input type="hidden" name="auditSelectionList[10].mwRecordAuditUuid" value="8a85bda041bf8eda0141c5c6a8972d40">
                    <input type="hidden" name="auditSelectionList[10].refNo" value="MW120803045">
                    <input type="hidden" name="auditSelectionList[10].form" value="MW05">
                    <input type="hidden" name="auditSelectionList[10].commenceCompleteDate" value="21/8/2121">
                    <input type="hidden" name="auditSelectionList[10].acknowledgeCompleted" value="">


                    <tr class="sRow2">
                        <td >
                            MW120803045
                            &nbsp;
                        </td>
                        <td >
                            MW05
                            &nbsp;
                        </td>
                        <td >
                            21/8/2121
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[10].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[10].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[10].auditCaseConfirm" name="auditSelectionList[10].auditCaseConfirm" value="10">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[11].taskId" value="1643300">
                    <input type="hidden" name="auditSelectionList[11].mwRecordAuditUuid" value="8a85bda053d84bd40153f39e10fc4bc9">
                    <input type="hidden" name="auditSelectionList[11].refNo" value="MW160201391">
                    <input type="hidden" name="auditSelectionList[11].form" value="MW02">
                    <input type="hidden" name="auditSelectionList[11].commenceCompleteDate" value="29/3/2106">
                    <input type="hidden" name="auditSelectionList[11].acknowledgeCompleted" value="">


                    <tr >
                        <td >
                            MW160201391
                            &nbsp;
                        </td>
                        <td >
                            MW02
                            &nbsp;
                        </td>
                        <td >
                            29/3/2106
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[11].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[11].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[11].auditCaseConfirm" name="auditSelectionList[11].auditCaseConfirm" value="11">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[12].taskId" value="1647793">
                    <input type="hidden" name="auditSelectionList[12].mwRecordAuditUuid" value="8a85bda054035ea0015431d2371a2f22">
                    <input type="hidden" name="auditSelectionList[12].refNo" value="MW160201630">
                    <input type="hidden" name="auditSelectionList[12].form" value="MW04">
                    <input type="hidden" name="auditSelectionList[12].commenceCompleteDate" value="29/3/2106">
                    <input type="hidden" name="auditSelectionList[12].acknowledgeCompleted" value="">


                    <tr class="sRow2">
                        <td >
                            MW160201630
                            &nbsp;
                        </td>
                        <td >
                            MW04
                            &nbsp;
                        </td>
                        <td >
                            29/3/2106
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[12].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[12].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[12].auditCaseConfirm" name="auditSelectionList[12].auditCaseConfirm" value="12">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[13].taskId" value="1653253">
                    <input type="hidden" name="auditSelectionList[13].mwRecordAuditUuid" value="8a85bda054035ea001547a62cba05763">
                    <input type="hidden" name="auditSelectionList[13].refNo" value="MW160300549">
                    <input type="hidden" name="auditSelectionList[13].form" value="MW04">
                    <input type="hidden" name="auditSelectionList[13].commenceCompleteDate" value="29/3/2106">
                    <input type="hidden" name="auditSelectionList[13].acknowledgeCompleted" value="">


                    <tr >
                        <td >
                            MW160300549
                            &nbsp;
                        </td>
                        <td >
                            MW04
                            &nbsp;
                        </td>
                        <td >
                            29/3/2106
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[13].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[13].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[13].auditCaseConfirm" name="auditSelectionList[13].auditCaseConfirm" value="13">


                        </td>
                    </tr>

                    <input type="hidden" name="auditSelectionList[14].taskId" value="1648194">
                    <input type="hidden" name="auditSelectionList[14].mwRecordAuditUuid" value="8a85bda054035ea0015436a4a07e3cc4">
                    <input type="hidden" name="auditSelectionList[14].refNo" value="MW160302874">
                    <input type="hidden" name="auditSelectionList[14].form" value="MW05">
                    <input type="hidden" name="auditSelectionList[14].commenceCompleteDate" value="14/3/2106">
                    <input type="hidden" name="auditSelectionList[14].acknowledgeCompleted" value="">


                    <tr class="sRow2">
                        <td >
                            MW160302874
                            &nbsp;
                        </td>
                        <td >
                            MW05
                            &nbsp;
                        </td>
                        <td >
                            14/3/2106
                            &nbsp;
                        </td>
                        <td >



                            <select name="auditSelectionList[14].action">

                                <option value="Non-Added">
                                    Not Pick
                                </option>

                                <option value="Manual Add">
                                    Manual Pick
                                </option>

                            </select>


                        </td>
                        <td >
                            <select name="auditSelectionList[14].assignment">

                                <option value="SEMW5@bd.gov.hk">

                                    SEMW5
                                </option>

                                <option value="BSMW6@bd.gov.hk">

                                    BSMW6
                                </option>

                                <option value="BSMW3@bd.gov.hk">

                                    BSMW3
                                </option>

                                <option value="BSMW4@bd.gov.hk">

                                    BSMW4
                                </option>

                                <option value="SEMW4@bd.gov.hk">

                                    SEMW4
                                </option>

                                <option value="SEMW3@bd.gov.hk">

                                    SEMW3
                                </option>

                                <option value="SEMW2@bd.gov.hk">

                                    SEMW2
                                </option>

                                <option value="BSMW2@bd.gov.hk">

                                    BSMW2
                                </option>

                                <option value="BSMW1@bd.gov.hk">

                                    BSMW1
                                </option>

                                <option value="SEMW1@bd.gov.hk">

                                    SEMW1
                                </option>

                            </select>

                        </td>
                        <td >



                            <input class="inputCheckbox" type="checkbox" id="auditSelectionList[14].auditCaseConfirm" name="auditSelectionList[14].auditCaseConfirm" value="14">


                        </td>
                    </tr>


                </tbody>
            </table>
        </div>


        <br>
        <div class="btnSet btnSetTypeA">
            <div class="right">
                <input class="inputButton" type="button" id="" name="" value="Submit" style="width: 90px;" onclick="confirmSubmit('PEM602Table')">
                <!--<input class="inputButton" type="button" id="" name="" value="Submit" style="width: 90px;" onclick="confirmSubmit()">-->
            </div>
        </div>
        <br>
        <br>
        <br>