<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://dp2.bd.hksarg/MWMS2" />
    <add key="localDocument" value="C:\MWMS2Scanning\Document" />
    <add key="localHistoryDocument" value="C:\MWMS2Scanning\DocumentHistory" />
    <add key="temp" value="C:\MWMS2Scanning\Temp" />



    <add key="urlPRD" value="https://dp2.bd.hksarg/MWMS2" />
    <add key="urlLocal" value="http://localhost:50194/MWMS2" />
    <add key="urlDEV" value="http://localhost:50194/MWMS2" />
    <add key="TEST" value="D0001121193" />
    
    
    
    
  </appSettings>
  <startup>



    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
   <runtime>  
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
         <probing privatePath="x86"/>  
      </assemblyBinding>  
   </runtime>  
</configuration>
