@model IEnumerable<MWMS2.Entity.B_S_SYSTEM_VALUE>

<h3>Validation Item</h3>
<div class="btnSet btnSetTypeA">
    <div class="right">
        <input class="inputButton" id="" name="" value="Create Letter Info" onclick='location.href="@Url.Action("SPMLetterInfoCreate", "SPMLetterInfo")"' type="button">
    </div>
</div>
<br>
<div class="sList">
    <table class="resultTable">
        <thead>
            <tr>
                <th class="sTh">Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.CODE, "SPMLetterInfoEdit", "SPMLetterInfo", new { id = item.UUID }, null)
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<br>
